<div class="col-xs-6 col-md-3">
	<article class="block-product">
		<a class="block-product__link" href="/" title="">
			<div class="block-product__image-wrapper">
				<div class="block-product__image" style="background-image: url('@@image')">
					@@if(context.label){
						<span class="block-product__label background-color-@@color">@@label</span>
					}
				</div>
			</div>
			<div class="block-product__content flex-middle">
				<p class="block-product__title">@@title</p>
				<p class="block-product__price">@@price</p>
			</div>
		</a>
	</article>
</div>
