<div class="col-xs-6 col-md-3">
	<article class="block-product@@if(context.extended){ block-product_extended}">
		@@if(context.dreamButton){
		<button class="block-product__dream-button btn-link js-add-to-dreamlist" data-toggle="tooltip"
				data-placement="top" title="Lägg till i min drömlista">
			<i class="icon icon-dream-star dreamlist-icon"></i>
		</button>
		}

		@@if(context.dreamButton === "loggetOut"){
			<button class="block-product__dream-button btn-link" href="#modal-login" data-toggle="modal">
				<i class="icon icon-dream-star dreamlist-icon"></i>
			</button>
			}

		<div class="block-product__image-wrapper">
			<a class="block-product__link" href="@@if (context.href) {@@href}@@if (!context.href) {/}" title="">
				<div class="block-product__image">
				    <div class="images__contein active">
				       <img src="" data-src="@@image" alt="">
				       
                        @@if(context.hoverImage){
                        <img src="" class="block-product__hover-image" data-src="@@hoverImage" alt="">
                        }
				    </div>
				    <div class="images__contein">
				       <img src="" data-src="@@hoverImage" alt="">
				    </div>
				    <div class="images__contein">
				       <img src="" data-src="@@image" alt=""> 
				    </div>
				    <div class="images__contein">
				       <img src="" data-src="@@hoverImage" alt="">
				    </div>
				    <div class="images__contein">
				       <img src="" data-src="@@image" alt="">
				    </div>
				</div>
			</a>
		</div>
		<div class="block-product__content flex-middle">
			<a class="block-product__link" href="@@if (context.href) {@@href}@@if (!context.href) {/}" title="">
	
				@@if(context.title){
				<h3 class="block-product__title block-product__item">@@title</h3>
				}
				@@if(context.subtitle){
				<p class="block-product__subtitle block-product__item">@@subtitle</p>
				}
				@@if(context.price){
				<p class="block-product__price block-product__item"> @@if(context.variablesprice){ Fr. } @@price</p>
				}
			</a>

			@@if(context.extended) {
				<div class="block-product__specs">
					
					<div class="product-controls__colors select-hover">
						<div class="product-controls__radio" data-num="1">
							<input type="radio" name="color" id="color-1" value="color-1" checked>
							<label for="color-1">
								<img src="/assets/img/mockup/color1@2x.jpg" alt="color-1">
							</label>
						</div>
						<div class="product-controls__radio" data-num="2">
							<input type="radio" name="color" id="color-2" value="color-2">
							<label for="color-2">
								<img src="/assets/img/mockup/color2@2x.jpg" alt="color-2">
							</label>
						</div>
						<div class="product-controls__radio" data-num="3">
							<input type="radio" name="color" id="color-3" value="color-3">
							<label for="color-3">
								<img src="/assets/img/mockup/color1@2x.jpg" alt="color-3">
							</label>
						</div>
						<div class="product-controls__radio" data-num="4">
							<input type="radio" name="color" id="color-4" value="color-4">
							<label for="color-4">
								<img src="/assets/img/mockup/color2@2x.jpg" alt="color-4">
							</label>
						</div>
						<div class="product-controls__radio" data-num="5">
							<input type="radio" name="color" id="color-5" value="color-5">
							<label for="color-5">
								<img src="/assets/img/mockup/color1@2x.jpg" alt="color-5">
							</label>
						</div>
					</div>
					
					<div class="product-controls__line">
				
						<div class="product-controls__color-circles" aria-label="Possible colors">
							<ul>
								<li style="background: #D6D1CD;">
									<a href="#">Gray</a>
								</li>
								<li style="background: #444F7C;">
									Blue
								</li>
								<li style="background: #F1F1F1;">
									<a href="#">White</a>
								</li>
								<li style="background: #816050;">
									Brown
								</li>
								<li style="background: #333333;">
									Black
								</li>
							</ul>
						</div>
						
						<div class="product-controls__sizes" aria-label="Possible sizes">
							<ul accesskey=""data-num="1" class="active">
								<li>XXS</li>
								<li>XS</li>
								<li>S</li>
								<li>M</li>
								<li>L</li>
								<li>XL</li>
								<li>XXL</li>
							</ul>
							<ul data-num="2">
								<li>XXS</li>
								<li>XS</li>
								<li>S</li>
							</ul>
							<ul data-num="3">
								<li>S</li>
								<li>M</li>
								<li>L</li>
								<li>XL</li>
								<li>XXL</li>
							</ul>
							<ul data-num="4">
								<li>L</li>
								<li>XL</li>
								<li>XXL</li>
							</ul>
							<ul data-num="5">
								<li>XXS</li>
								<li>XS</li>
								<li>S</li>
								<li>M</li>
								<li>L</li>
								<li>XL</li>
								<li>XXL</li>
							</ul>
						</div>
					</div>

					
				</div>
			}
		</div>

	</article>
</div>
