<div class="col-xs-12 col-md-6">
	<article class="block-product block-product--category">
		<div class="block-product__image-wrapper">
			<div class="block-product__image">
				<img src="@@image" alt="">
			</div>
		</div>

		<div class="block-product__content flex-bottom">
			<h3 class="block-product__title block-product__item">@@title</h3>
			<p class="block-product__text block-product__item">@@text</p>

			<button class="btn btn-success js-add-category" data-category="12">@@button</button>
		</div>
	</article>
</div>