<div class="col-xs-6 col-md-3">
	<article class="block-product">
			@@if (context.image) {
			<a class="block-product__link" href="/" title="">
			<div class="block-product__image-wrapper">
				<div class="block-product__image" style="background-image: url('@@image')">
					@@if(context.label){
					<span class="block-product__label background-color-@@color">@@label</span>
					}
				</div>
			</div>
			</a>
			}

			<div class="block-product__content flex-top">
				@@if (context.title) {
				<p class="block-product__title block-product__item"><a href="/">@@title</a></p>
				}
				@@if (context.price) {
				<p class="block-product__item">@@price</p>
				}
				@@if (context.delivery) {
				<p class="block-product__item">Leveranstid: @@delivery</p>
				}
				@@if (context.amount) {
				<p class=" block-product__item">Antal: @@amount</p>
				}
				@@if (context.notice) {
				<p class="block-product__item block-product__item--highlight">@@notice</p>
				}
				@@if (context.link) {
				<p class="block-product__link block-product__item"><a href="/">@@link</a></p>
				}
			</div>
	</article>
</div>
