<div class="col-xs-12 col-sm-6 col-md-3">
	<article class="block-product-list">
		<a class="block-product__link" href="/" title="">
			<div class="block-product-list__image" style="background-image: url('@@image')">
				@@if(context.label){
					<span class="block-product-list__label">@@label</span>
				}
			</div>
			<div class="block-product-list__content flex-middle">
				<p class="block-product-list__title">@@title</p>
				<p class="block-product-list__price">@@price</p>
			</div>
		</a>
	</article>
</div>
