<div class="col-xs-6 col-md-3">
	<article class="block-product">
		@@if(context.dreamButton){
		<button class="block-product__dream-button btn-link js-add-to-dreamlist" data-toggle="tooltip"
				data-placement="top" title="Lägg till i min drömlista">
			<i class="icon icon-dream-star dreamlist-icon"></i>
		</button>
		}
		<a class="block-product__link" href="/" title="">
			<div class="block-product__image-wrapper">
				<div class="block-product__image">
					<img src="@@image" alt="">
					@@if(context.hoverImage){
					<img class="block-product__hover-image" src="@@hoverImage" alt="">
					}
					@@if(context.label){
					<span class="block-product__label background-color-@@color">@@label</span>
					}
				</div>
			</div>
			<div class="block-product__content flex-middle">
				@@if(context.title){
				<h3 class="block-product__title block-product__item">@@title</h3>
				}
				@@if(context.subtitle){
				<p class="block-product__subtitle block-product__item">@@subtitle</p>
				}
				@@if(context.price){
				<p class="block-product__price block-product__item">@@price</p>
				}
			</div>
		</a>
	</article>
</div>