<div class="product-cart ml-2017 scrollable" id="mobile-product-chart">
	<div class="product-cart__item visible-xs visible-sm">
		<div class="product-cart__content">
			<p class="product-cart__title">Vinstkonto</p>
			<p class="product-cart__meta">450kr</p>
		</div>
	</div>
	<a class="product-cart__item product-cart__item--theme-green" href="#">
		<div class="product-cart__content dreamlist">
			<i class="product-cart__icon icon icon-star"></i>
			<p class="product-cart__title">Min drömlista</p>
		</div>
		@@include('elements/_notification.html', { "number": "0", "class": "notification--white product-cart__notification" })
	</a>
	<a class="product-cart__item product-cart__item--theme-blue" href="#" data-toggle="modal" data-target="#modal-cart">
		<div class="product-cart__content">
			<p class="product-cart__title">Kundvagn</p>
			<p class="product-cart__meta">
				<span class="js-cart-total" data-total="0">0</span> kr
			</p>
		</div>
		@@include('elements/_notification.html', { "number": "0", "class": "notification--white product-cart__notification" })
	</a>
</div>