<div class="message-container">
    <div class="new-message new-message__show">
        <a href="#">
            <div class="message-sender new-message__icon">
                <span class="message-sender__initials">ML</span>
            </div>
            <div class="col-xs-12 new-message__message-text">
                <h6>@@msg_title</h6>
                <p>@@msg_text</p>
            </div>
        </a>
        <button class="new-message__button"><i class="icon icon-close"></i></button>
    </div>
</div>
