<div id="modals" class="ml-2017">
	@@include('components/modals/_create-account.html')
	@@include('components/modals/_create-account-step-2.html')
	@@include('components/modals/_create-account-step-3.html')
	@@include('components/modals/_create-account-final.html')
	@@include('components/modals/_login.html')
	@@include('components/modals/_login-bankid.html')
	@@include('components/modals/_password-set.html')
		@@include('components/modals/_info.html', {
		"info_id": "modal-PUL",
		"info_title": "PUL",
		"info_content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra velit a ligula elementum maximus. Nam erat sem, viverra in luctus sed, consectetur sodales ante. Duis pulvinar eros convallis rhoncus ultrices. Integer tortor dui, elementum eu varius vel, interdum condimentum nunc. Maecenas facilisis metus in eros posuere euismod. In vitae mi commodo quam aliquet fermentum. Mauris a tortor ut lectus congue mattis. Phasellus id tincidunt odio, quis placerat metus. Integer vitae blandit neque, id molestie turpis. Suspendisse accumsan euismod metus at ullamcorper. Nunc in ex sed dolor luctus imperdiet."
	})
	@@include('components/modals/_info.html', {
	    "info_id": "modal-conditions",
		"info_title": "Villkor",
		"info_content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra velit a ligula elementum maximus. Nam erat sem, viverra in luctus sed, consectetur sodales ante. Duis pulvinar eros convallis rhoncus ultrices. Integer tortor dui, elementum eu varius vel, interdum condimentum nunc. Maecenas facilisis metus in eros posuere euismod. In vitae mi commodo quam aliquet fermentum. Mauris a tortor ut lectus congue mattis. Phasellus id tincidunt odio, quis placerat metus. Integer vitae blandit neque, id molestie turpis. Suspendisse accumsan euismod metus at ullamcorper. Nunc in ex sed dolor luctus imperdiet."
	})
	@@include('components/modals/_info.html', {
	    "info_id": "modal-cookies",
		"info_title": "Cookies",
		"info_content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra velit a ligula elementum maximus. Nam erat sem, viverra in luctus sed, consectetur sodales ante. Duis pulvinar eros convallis rhoncus ultrices. Integer tortor dui, elementum eu varius vel, interdum condimentum nunc. Maecenas facilisis metus in eros posuere euismod. In vitae mi commodo quam aliquet fermentum. Mauris a tortor ut lectus congue mattis. Phasellus id tincidunt odio, quis placerat metus. Integer vitae blandit neque, id molestie turpis. Suspendisse accumsan euismod metus at ullamcorper. Nunc in ex sed dolor luctus imperdiet."
	})

</div>
