<div class="modal fade" id="modal-create-account" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-label">Skapa konto och få  40 kr!</h4>
				</div>
				<div class="modal-body">

					<form id="create-account-modal" class="modal-body__form" data-toggle="validator" action="/logged-in.html" method="get">
						<div class="input-group input-vertical">
							<div class="form-group">
								<input type="text" class="form-control" id="userFirstName" placeholder="Förnamn" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="userLastName" placeholder="Efternamn" required>
							</div>
							<div class="form-group">
								<input type="number" class="form-control" id="userPersonalNumber" placeholder="Personnummer (ÅÅMMDDXXXX)" data-minlength="10" required>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Nästa steg</button>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-block action-login" data-toggle="modal" data-target="#modal-login">Jag har redan ett konto</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /#modal-create-account -->

<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-label">Logga in</h4>
				</div>
				<div class="modal-body">

					<form id="login-modal" class="modal-body__form" data-toggle="validator" action="/logged-in.html" method="get">
						<div class="form-group">
							<label class="control-label" for="userId">Kundnummer, e-post eller
								personnummer</label>
							<input type="text" class="form-control" id="userId"
								   placeholder="123456789 ,fia.frid@mail.com, 8808088888" required>
						</div>
						<div class="form-group">
							<label class="control-label" for="userPassword">Lösenord</label>
							<div class="input-group">
								<input type="password" class="form-control" id="userPassword"
									   placeholder="*********" required>
								<div class="input-group-btn">
									<a class="btn btn-input action-show-password"><i class="icon icon-more"></i></a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="userRememberDevice"> Kom ihåg mig på denna enheten
								</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Logga in</button>
						</div>
						<a href="/" class="btn btn-link btn-block">Jag har glömt mitt lösenord</a>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-block btn-icon" data-toggle="modal" data-target="#modal-login-bankid">
						Logga in med BankID
						<i class="icon icon-game icon-right"></i>
					</button>
					<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-create-account">Skapa konto</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /#modal-login -->

<div class="modal fade" id="modal-login-bankid" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-label">Logga in med BankID</h4>
				</div>
				<div class="modal-body">

					<form id="login-bankid-modal" class="modal-body__form" data-toggle="validator">
						<div class="form-group">
							<label class="control-label" for="userId">Fyll i ditt personnummer och tryck på logga in</label>
							<input type="number" class="form-control" id="userPersonalNumber" placeholder="Personnummer (ÅÅÅÅMMDDXXXX)" data-minlength="12" required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Logga in</button>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#modal-login">Logga in med lösenord</button>
					<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-create-account">Skapa konto</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /#modal-login-bankid -->
