@@if (context.page === "bingolobby") {
    <section class="schema-tabs m-3">
        <div class="container">
            <div class="schema-tabs__head-container">
                <a data-orderD="02" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder active">Jackpottar & högsta vinster</a>
                <a data-orderD="03" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Tävlingar</a>
                <a data-orderD="10" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Sätt in pengar</a>
                <a data-orderD="04" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Chatschema</a>
                <a data-orderD="05" href="#panel__bingoschema" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder active">Bingoschema</a>
                <a data-orderD="01" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Så funkar det</a>
                <a data-orderD="06" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Vanliga frågor & svar</a>
                <a data-orderD="11" href="#" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Chattspel</a>
            </div>
    
            <div class="schema-tabs__panels-container">

                <div data-orderT="06" data-orderM="04" id="panel__bingoschema" class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder active">
                    <div class="schema-tabs__panel-content bingolobby__bingoschema">
                        <!-- panel-mobile-tab class only for tabs -->
                        <a href="#" class="btn-close_circular bingoschema__btn-close_circular js-modal-close" data-target=".bingolobby__bingoschema">Close</a>
    
                        <h5 class="bingolobby__bingoschema__title">Bingoschema</h5>
    
                        <div class="bingolobby__bingoschema__container">
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 00-06
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 12-18
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="bingolobby__bingoschema__container">
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 00-06
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 12-18
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="schema-tabs__panel-schema-block">
                        @@if (context.modal_schemas === "simple") {
                            <h5 class="schema-tabs__panel-schema-block__title">Bingochema</h5>
                        }
                        @@if (context.modal_schemas === "tabs") {
                            <h5 class="schema-tabs__panel-schema-block__title">bingochema</h5>
                        }
                        
                        <div class="schema-tabs__panel-schema-block__line">
                            <p>
                                Se när du kan spela ditt favoritspel och när chatvärdarna är på plats i chatten.
                            </p>
    
               
                                <a href="#" class="btn btn-wide--blue js-btn-openModal" data-target="#panel__bingoschema .schema-tabs__panel-content">Se här</a>
         
                        </div>
                    </div>
                </div>


                

            </div>
        </div>
    </section>
}

@@if (context.page === "campaign") {
    <section class="schema-tabs m-3">
        <div class="container">
            <div class="schema-tabs__head-container">
                <a data-orderD="0q" href="#panel__jackpots" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder active">Jackpottar & högsta vinster</a>
                
                <a data-orderD="03" href="#panel__bingoschema" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Bingoschema</a>
                
                <a data-orderD="02" href="#panel__faq" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Vanliga frågor & svar</a>    
                <a data-orderD="04" href="#chattspel" class="schema-tabs__head-item js-schema-tabs__btn js-schema-tabs-reorder">Chattspel</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div data-orderT="01" data-orderM="01" id="panel__jackpots" class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder active">
                    <div class="schema-tabs__panel-content bingolobby__jackpots-stats">
                        <div class="bingolobby__jackpots-stats__col bingolobby__jackpots-stats__col_gold">
                            <span class="bingolobby__jackpots-stats__title">
                                Aktuella jackpottar
                            </span>
                            <div class="bingolobby__jackpots-stats__list-container bingolobby__jackpots-stats__list-container_jackpots">
                                <ul class="bingolobby__jackpots-stats__list">
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Stjärnjacken</span> <span>80 675 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Tornadobingo</span> <span>6 820 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Zoobaloo</span> <span>6 139 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Himlaspelet</span> <span>3 158 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Femkronan</span> <span>1 764 kr</span>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="bingolobby__jackpots-stats__list">
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Stjärnjacken</span> <span>80 675 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Tornadobingo</span> <span>6 820 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Zoobaloo</span> <span>6 139 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Himlaspelet</span> <span>3 158 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Femkronan</span> <span>1 764 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="bingolobby__jackpots-stats__col bingolobby__jackpots-stats__col_white">
                            <span class="bingolobby__jackpots-stats__title">
                                Månadens högsta vinster
                            </span>
                            <div class="bingolobby__jackpots-stats__list-container bingolobby__jackpots-stats__list-container_winners">
                                <ul class="bingolobby__jackpots-stats__list">
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 1</span> <span>19 675 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 2</span> <span>16 820 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 3</span> <span>12 139 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 4</span> <span>10 158 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 5</span> <span>8 764 kr</span>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="bingolobby__jackpots-stats__list">
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 6</span> <span>19 675 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 7</span> <span>16 820 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 8</span> <span>12 139 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 9</span> <span>10 158 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__jackpots-stats__list-item">
                                            <span>Namn 10</span> <span>8 764 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-orderT="02" data-orderM="02" id="panel__bingoschema" class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder">
                    <div class="schema-tabs__panel-content bingolobby__bingoschema">
                        <!-- panel-mobile-tab class only for tabs -->
                        <a href="#" class="btn-close_circular bingoschema__btn-close_circular js-modal-close" data-target=".bingolobby__bingoschema">Close</a>
    
                        <h5 class="bingolobby__bingoschema__title">Bingoschema</h5>
    
                        <div class="bingolobby__bingoschema__container">
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 00-06
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 12-18
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="bingolobby__bingoschema__container">
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 00-06
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 12-18
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bingolobby__bingoschema__item">
                                <span class="bingolobby__bingoschema__item-title">
                                    Spelas mellan kl 18-00
                                </span>
    
                                <ul class="bingolobby__bingoschema__item-list">
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="bingolobby__bingoschema__item-line">
                                            <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="schema-tabs__panel-schema-block">
                        @@if (context.modal_schemas === "simple") {
                            <h5 class="schema-tabs__panel-schema-block__title">Bingochema</h5>
                        }
                        @@if (context.modal_schemas === "tabs") {
                            <h5 class="schema-tabs__panel-schema-block__title">Chat & bingochema</h5>
                        }
                        
                        <div class="schema-tabs__panel-schema-block__line">
                            <p>
                                Se när du kan spela ditt favoritspel och när chatvärdarna är på plats i chatten.
                            </p>
    
                            @@if (context.modal_schemas === "tabs") {
                                <a href="#" class="btn btn-wide--blue js-schemas-modal-tabs" data-target="#schemasModalTabs">Se här</a>
                            }
                            @@if (context.modal_schemas === "simple") {
                                <a href="#" class="btn btn-wide--blue js-btn-openModal" data-target="#panel__bingoschema .schema-tabs__panel-content">Se här</a>
                            }
                        </div>
                    </div>
                </div>
                <div data-orderT="03" data-orderM="03" id="panel__faq" class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder">
                    
                    <div class="schema-tabs__panel-content bingolobby__faq">
                        <a href="#" class="btn-close_circular faq__btn-close_circular js-modal-close" data-target=".bingolobby__faq">Close</a>
    
                        <h5 class="bingolobby__faq__title">Vanliga frågor & svar</h5>
    
                        <div class="bingolobby__faq__container">
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 1
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 2
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 3
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 4
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                        </div>
    
                        <div class="bingolobby__faq__container">
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 5
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 6
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 7
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="schema-tabs__panel-schema-block">
                        <h5 class="schema-tabs__panel-schema-block__title">Vanliga frågor & svar</h5>
                        <div class="schema-tabs__panel-schema-block__line">
                            <p>
                                Något du undrar över? Se våra vanliga frågor och svar om vår bingo.
                            </p>
                            <a href="#" class="btn btn-wide--blue js-btn-openModal" data-target="#panel__faq .schema-tabs__panel-content">Se här</a>
                        </div>
                    </div>
                </div>
                <div data-orderT="04" data-orderM="03" id="chattspel" class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder">
                    
                    <div class="schema-tabs__panel-content bingolobby__faq">
                        <a href="#" class="btn-close_circular faq__btn-close_circular js-modal-close" data-target=".bingolobby__faq">Close</a>
    
                        <h5 class="bingolobby__faq__title">Chattspel</h5>
    
                        <div class="bingolobby__faq__container">
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Chattspel 1
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Chattspel 2
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Chattspel 3
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Chattspel 4
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                </div>
                            </div>
                        </div>
    
                        <div class="bingolobby__faq__container">
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 5
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 6
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                            <div class="bingolobby__faq__item">
                                <span class="bingolobby__faq__item-title">
                                    Fråga 7
                                </span>
    
                                <div class="bingolobby__faq__item-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="schema-tabs__panel-schema-block">
                        <h5 class="schema-tabs__panel-schema-block__title">Vanliga frågor & svar</h5>
                        <div class="schema-tabs__panel-schema-block__line">
                            <p>
                                Något du undrar över? Se våra vanliga frågor och svar om vår bingo.
                            </p>
                            <a href="#" class="btn btn-wide--blue js-btn-openModal" data-target="#panel__faq .schema-tabs__panel-content">Se här</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



