/* Sass Media Queries */
@import "../../../node_modules/sass-mediaqueries/media-queries";

/* Config */
@import "core/core";

/* Bootstrap */
@import "vendor/bootstrap";

.ml-2017 {
	/* Flickity */
	@import "vendor/flickity";

	/* Project */
	@import "project/project";

	/* Elements */
	@import "elements/elements";

	/* Components */
	@import "components/components";

	/* Blocks */
	@import "blocks/blocks";

	/* Page layouts */
	@import "layout/layout";

	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $regular;
	line-height: $base-line-height;
	color: $color-base-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page wrapper and template styles */
@import "pages/pages";

/* Extension styles */
@import "extension/extension";

// Styles for BrowserSync notification to be less annoying.
#__bs_notify__ { top: 95% !important; right: 10px !important; border-radius: 10px !important; }
