/* Setup */
@import "setup";

/* External */
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/sass-mediaqueries/media-queries";

/* Config */
@import "core/core";

body.ml-2017 {

	/* Project */
	@import "project/project";

	/* Elements */
	@import "elements/elements";

	/* Components */
	@import "components/components";

	/* Blocks */
	@import "blocks/blocks";

	/* Page layouts */
	@import "layout/layout";

	/* Template styles */
	@import "pages/pages";

	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $regular;
	line-height: $base-line-height;
	color: $color-base-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.js-overlay-is-active {
		overflow: hidden;
	}
}

// Styles for BrowserSync notification to be less annoying.
#__bs_notify__ { top: 95% !important; right: 10px !important; border-radius: 10px !important; }
