@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/sass-mediaqueries/media-queries";

/* Project config */
@import "core/core";

/* Page layout */
@import "layout/layout";

/* Template styles */
@import "pages/pages";

/* Blocks */
@import "blocks/blocks";

/* Blocks */
@import "elements/elements";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Styles for BrowserSync notification to be less annoying.
#__bs_notify__ { top: 95% !important; right: 10px !important; border-radius: 10px !important; }
