<div class="modal fade" id="modal-create-account-step-3" tabindex="-1" role="dialog" aria-labelledby="modal-create-account-step-3-label"
	 aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-create-account-step-3-label">Skapa konto och få 40 kr!</h5>
				</div>
				<div class="modal-body">
					<form id="create-account-modal-step-3" class="account-form" data-toggle="validator"
						  action="/" method="get">
						<div class="input-group input-vertical">
							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input type="tel" class="form-control" id="userPhoneMobile"
										   placeholder="Mobilnummer" required>
								</div>
							</div>
							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input type="tel" class="form-control" id="userPhoneArea" placeholder="Riktnummer"
										   required>
								</div>
							</div>
							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input type="tel" class="form-control" id="userPhone"
										   placeholder="Telefonnummer" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox custom-checkbox-radio">
								<label for="userNewsletter">
									<input type="checkbox" id="userNewsletter">
									<span class="cr"><i class="cr-icon icon icon-check"></i></span>
									Ja tack! jag vill gärna ha nyheter och uppdateringar från miljonlotteriet och ta del av information om tävlingar.
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox custom-checkbox-radio">
								<label for="userAcceptTerms">
									<input type="checkbox" id="userAcceptTerms" required>
									<span class="cr"><i class="cr-icon icon icon-check"></i></span>
									Jag godkänner Miljonlotteriets <a href="/">Villkor</a>, <a href="/">PUL</a> & <a href="/">Cookies</a>
								</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Nästa steg</button>
						</div>
						<div class="account-form__error">
							<p class="text-align-center">
							</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-block" data-toggle="modal"
							data-target="#modal-create-account-2">Tillbaka
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
