<div class="modal fade modal-login" id="modal-create-account" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="modal-create-account-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-orientation="previous" data-target="#modal-login">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>
						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center modal-main-center--full">
							<div class="modal-main__title">Skapa konto</div>

							<div class="modal-main__subTitle">
								<div class="modal-form__success">
									<p>Vi behöver dina personuppgifter för att skapa ett spelkonto – där du när som helst kan pausa till spelande. Hos oss spelar du tryggt.</p>
								</div>
								<div class="modal-form__error">
									<p>Något verkar ha blivit fel när du fyllde i lösenordet. Kontrollera att du har skrivit rätt.</p>
								</div>
							</div>

							<form id="create-account-modal" class="account-form" data-toggle="validator">

								<div class="form-group">
									<label class="control-label" for="userId">Ditt personnummer</label>
									<div class="inner-addon">
										<input type="text" class="form-control" id="userId" placeholder="ÅÅMMDD-NNNN" data-minlength="10" data-error="Error message" data-mask="999999-9999" data-mask-selectonfocus="true" required>
										<div class="help-block with-errors"></div>
									</div>
									<p class="control-under-text">(Detta fält måste du fylla i. Minst 13 tecken).</p>
								</div>

								<div class="form-group">
									<label class="control-label" for="userEmail">Din e-postadress</label>
									<div class="inner-addon">
										<input type="email" class="form-control" id="userEmail" placeholder="namn@email.se" required>
									</div>
									<div class="help-block with-errors"></div>
								</div>

								<div class="form-group">
									<div class="checkbox checkbox--small checkbox-bold">
										<label for="userAcceptTerms">
											<input class="custom-checkbox" id="userAcceptTerms" type="checkbox">
											Jag godkänner Miljonlotteriets <a href="#" class="btn-hash " data-toggle="modal" data-target="#modal-conditions">Villkor</a>
										</label>
									</div>

									<div class="checkbox checkbox--small">
										<label for="newsletterCheckbox">
											<input class="custom-checkbox" id="newsletterCheckbox" type="checkbox" >
											Jag vill få erbjudanden via Miljonlotteriets nyhetsbrev
										</label>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn-primary btn-block">Fortsätt</button>
								</div>

								<div class="account-form__error">
									<p class="text-align-center"></p>
								</div>
							</form>
						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-hash btn-primary-link" data-toggle="modal" data-target="#modal-login">Jag har redan ett konto</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

