<div class="modal fade" id="modal-create-account-step-3" tabindex="-1" role="dialog" aria-labelledby="modal-label"
	 aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-label">Skapa konto och få 40 kr!</h5>
					<span class="modal-subtitle h4">Välkommen till Miljonlotteriet!</span>
				</div>
				<div class="modal-body">
					<p class="align-center">Du har nu skapat ett konto hos miljonlotteriet.se och ett bekräftelsemail är
						påväg till din registrerade epost. Vi har satt in 40kr på ditt spelkonto som du hittar högst upp
						på sidan!
					</p>
					<p class="align-center"> Lycka till!</p>
					<p>
						<strong>Kundnummer: 124906</strong><br/>
						<strong>Användarnamn: hello@mail.se</strong>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">OK
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
