<div class="modal fade" id="modal-delivery" tabindex="-1" role="dialog" aria-labelledby="modal-delivery-label" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            @@include('elements/_button-close.html')
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title1" id="modal-info-label">Välj ditt närmaste ombud</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-delivery">
                        <div class="modal-delivery__zip">
                            <p class="modal-delivery__zip-title">Postnummer</p>
                            <input class="modal-delivery__zip-form form-control" value="41327" type="number" />
                        </div>
                        <div class="modal-delivery__wrapper">
                            <div class="modal-delivery__place modal-delivery__place--active">
                                <div class="modal-delivery__place-info">
                                    <p class="modal-delivery__place-title">Hemköp Masthuggstorget </p>
                                    <p class="modal-delivery__place-address">Masthuggstorget 3,</p>
                                    <p class="modal-delivery__place-zip">413 26 Göteborg</p>
                                    <p class="modal-delivery__place-open">Mån-ons: 07:00-22:00, Tors-fre: 10:00-22:00, Lör-sön: 09:00-21:00</p>
                                </div>
                                <button class="btn btn-default">Välj</button>
                            </div>
                            <div class="modal-delivery__place">
                                <div class="modal-delivery__place-info">
                                    <p class="modal-delivery__place-title">Hemköp Masthuggstorget </p>
                                    <p class="modal-delivery__place-address">Masthuggstorget 2,</p>
                                    <p class="modal-delivery__place-zip">413 26 Göteborg</p>
                                    <p class="modal-delivery__place-open">Mån-ons: 07:00-22:00, Tors-fre: 10:00-22:00, Lör-sön: 09:00-21:00</p>
                                </div>
                                <button class="btn btn-default">Välj</button>
                            </div>
                            <div class="modal-delivery__place">
                                <div class="modal-delivery__place-info">
                                    <p class="modal-delivery__place-title">Hemköp Masthuggstorget </p>
                                    <p class="modal-delivery__place-address">Masthuggstorget 1,</p>
                                    <p class="modal-delivery__place-zip">413 26 Göteborg</p>
                                    <p class="modal-delivery__place-open">Mån-ons: 07:00-22:00, Tors-fre: 10:00-22:00, Lör-sön: 09:00-21:00</p>
                                </div>
                                <button class="btn btn-default">Välj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>