<div class="modal fade" id=@@info_id tabindex="-1" role="dialog" aria-labelledby="modal-info-label"
	 aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content register-content">
				<div class="modal-header">
					<h2 class="modal-title" id="modal-info-label">@@info_title</h2>
				</div>
				<div class="modal-body">
					<p class="modal-intro text-align-center">@@info_content</p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Stäng</button>
				</div>
			</div>
		</div>
	</div>
</div>
