<div class="modal modal-login fade" id="modal-login-about-bank" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-login-about-bank-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-toggle="modal" data-target="#modal-login-mobileBankId">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>
						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center modal-main-center--full">
							<div class="modal-main__title">Om BankID</div>
							<div class="content text-align-center">
								<h5>Vad är BankID?</h5>
								<p>BankID är en elektronisk ID-handling som är jämförbar med pass, körkort och andra fysiska legitimationer. På Miljonlotteriet.se använder du BankID för att bli kund, logga in och föra över pengar till ditt spelkonto.</p>

								<h5>Hur skaffar jag BankID?</h5>
								<p>Du beställer BankID hos din bank. Läs mer om hur det går till hos din bank eller på www.bankid.com.</p>

								<h5>Frågor om BankID</h5>
								<p>Om du har frågor om BankID bör du i första hand kontakta din bank. Men du är alltid välkommen att kontakta vår kundservice på 031-338 28 20 eller kundcenter@miljonlotteriet.se.</p>
							</div>
						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-primary-link" data-toggle="modal" data-target="#modal-login-mobileBankId">Logga in med BankID</button>
							</div>
							<div class="bottom-links-wrap">
								<button class="btn-primary-link"  data-toggle="modal" data-target="#modal-login-bankid">Logga in med lösenord</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
