<div class="modal modal-login" id="modal-recover-password" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-recover-password-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>

					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-toggle="modal" data-target="">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>

						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>

						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center modal-main-center--full">
							<div class="modal-main__title">Har du glömt ditt lösenord?</div>

							<div class="modal-main__subTitle">
								<div class="modal-form__success">
									<p>Fyll i antingen ditt personnummer eller ditt kundnummer nedan så nollställer vi ditt lösenord och hjälper dig att kunna logga in igen.</p>
								</div>
								<div class="modal-form__error">
									<p>Något verkar ha blivit fel när du fyllde i lösenordet. Kontrollera att du har skrivit rätt.</p>
								</div>
							</div>

							<form id="login-modal" class="account-form" data-toggle="validator" action="/logged-in.html" method="get">
								<div class="form-group">
									<label class="control-label" for="userId">Kundnummer / e-post / personnummer</label>
									<div class="inner-addon right-addon">
										<input type="text" class="form-control" id="userId" placeholder="Kundnummer / e-post / personnummer" required>
										<div class="help-blojs-btn-stepck with-errors"></div>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn-primary btn-block btn-load">
										<span>Fortsätt</span>
										<img class="spinner" src="assets/img/icons/spinner-white.svg" alt="Spinner">
									</button>
								</div>
								<div class="account-form__error">
									<p class="text-align-center"></p>
								</div>
							</form>
						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-hash btn-primary-link" data-toggle="modal" data-target="#modal-login-bankId">Logga in med BankID</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>