<div class="modal modal-login fade" id="modal-login-bankId" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-login-bankId-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body">
				<div class="modal-main-header">

					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-toggle="modal" data-target="#modal-login">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>
						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
						<div class="modal-main-center modal-main-center--full">
							<div class="modal-main__title">Logga in med BankID på denna enhet</div>
							<div class="modal-main__subTitle">
								<p>Kom ihåg att du behöver BankID säkerhetsapp installerad på din enhet.</p>
								<a href="javascript:void(0);"  data-toggle="modal" data-target="#modal-login-about-bank">Läs mer om BankID</a>
							</div>
							<form id="login-bankid-modal" class="account-form" data-toggle="validator">
								<div class="form-group">
									<label class="control-label" for="userPersonalNumber">Ange personnummer</label>
									<div class="inner-addon">
										<input type="number" class="form-control" id="userPersonalNumber" placeholder="ÅÅÅÅMMDD-NNNN" data-minlength="12" required>
									</div>
								</div>

								<div class="form-group">
									<div class="checkbox checkbox--small">
										<label for="userRememberDevice">
											<input class="custom-checkbox" id="userRememberDevice" type="checkbox" >
											Kom ihåg mitt personnummer på denna enhet
										</label>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn-primary-v2 btn-block js-login-submit">Logga in</button>
								</div>
							</form>
							<div class="modal-body__loading text-align-center hidden">
								<p class="text-align-center"><strong>Starta din BankId-app <br> (och signera för att logga in)</strong></p>
								<img class="spinner" src="assets/img/icons/spinner.svg" alt="Spinner">
							</div>
							<div class="modal-body__error hidden">
								<p class="text-align-center">
									Någonting gick
									<fel class=""></fel>
								</p>
								<button type="button" class="btn btn-primary btn-block js-action-reset-journey">Försök igen</button>
							</div>
						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-primary-link" data-toggle="modal" data-target="#modal-login-mobileBankId">Logga in med mobilt BankID</button>
							</div>
							<div class="bottom-links-wrap">
								<button class="btn-primary-link" data-toggle="modal" data-target="#modal-login">Logga in med lösenord</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>