<div class="modal fade modal-login modal-bgp-desktop--@@background_position_desktop modal-bgp-tablet--@@background_position_tablet modal-bgp-mobile--@@background_position_mobile"
    id="modal-login-new" tabindex="-1" role="dialog" data-backdrop="false" data-keyboard="false"
    aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-main-body">
                <div class="modal-content modal-main-content">
                    <div class="modal-main-buttons">
                        <div class="close-wrap">
                            <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-main-inner">
                        <div class="modal-main-center">
                            <div class="">
                                <div class="modal-main__title">Verifiera uppgifter</div>
                            <p class="sub__title">Vi vill veta om vi har rätt kontaktuppgifter till dig. Verifiera eller
                                ändra enkelt dina uppgifter nedan.</p>
                            </div>
                            <div class="modal-main__fields">
                                <div class="modal-main__fields-item">
                                    <label for="mailadress">Mailadress</label>
                                    <input type="email" id="mailadress" placeholder="namn@mail.se">
                                </div>
                                <div class="modal-main__fields-item">
                                    <label for="mobilnummer">mobilnummer</label>
                                    <input type="text" id="mobilnummer" placeholder="0701-23 45 67">
                                </div>

                            </div>
                            <div class="modal-main__toggle toggle-primary">
                                <div class="modal-main__toggle-container">
          
                                  <input type="checkbox" id="modal-main__toggle-checkbox" class="modal-main__toggle-checkbox">
                                  <label for="modal-main__toggle-checkbox" class="modal-main__toggle-label">
                                    <button class="modal-main__toggle-button"></button>
                                  </label>
          
                                </div>
                                <div class="modal-main__toggle-text">Ja, Jag vill ha nyhetsbrev med nyheter och unika erbjudanden.</div>
                              </div>
                            


                            <button class="btn-hash btn-primary "><span>Uppgifterna stämmer</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>