<div class="modal fade modal-login"
    id="modal-login-new" tabindex="-1" role="dialog" data-backdrop="false" data-keyboard="false"
    aria-labelledby="modal-login-label" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-main-body">
                <div class="modal-content modal-main-content">
                    <div class="modal-main-buttons">
                        <div class="close-wrap">
                            <button class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-main-inner">
                        <div class="modal-main-center">
                            <div class="">
                                <div class="modal-main__title">@@header_first</div>
                            <p class="sub__title">@@subheader_first</p>
                            </div>
                            <div class="modal-main__fields">
                                <div class="modal-main__fields-item display-@@input_first_display">
                                    <label for="mailadress">@@input1.label
                                      <div class="error-window" id="errorWindow2">
                                        <p>Hoppsan! Du verkar ha anget en ogiltig epostadress.</p>
                                      </div>
                                    </label>
                                    <input type="email" id="mailadress" placeholder="@@input1.placeholder">
                                </div>
                                <div class="modal-main__fields-item display-@@input_second_display">
                                    <label for="mobilnummer">@@input2.label
                                      <div class="error-window" id="errorWindow3">
                                        <p>Hoppsan! Mobilnumret du angett verkar inte stämma.</p>
                                      </div>
                                    </label>
                                    <input type="text" id="mobilnummer" placeholder="@@input2.placeholder">
                                </div>

                            </div>
                            <div class="modal-main__toggle toggle-primary display-@@toogle_text_display">
                              <div class="modal-main__toggle-container">
        
                                <input type="checkbox" id="modal-main__toggle-checkbox" class="modal-main__toggle-checkbox">
                                <label for="modal-main__toggle-checkbox" class="modal-main__toggle-label">
                                  <button class="modal-main__toggle-button"></button>
                                </label>
                                
        
                              </div>
                              <div class="modal-main__toggle-text">@@toogle_text</div>
                            </div>
                            


                            <button id="submitBtn" class="btn-hash btn-primary "><span>@@cta_text</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>