<div class="modal modal-login fade" id="modal-login-lost-password-success" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-login-lost-password-success-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">

					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-toggle="modal" data-target="#modal-login-forgot-password">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>
						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center modal-main-center--full">
							<div class="modal-main__title">Skickat!</div>
							<div class="modal-main__subTitle">
								<p>Information om hur du loggar in igen är nu skickat till dig via mail.</p>
							</div>
						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-primary-link" data-toggle="modal" data-target="#modal-login-lost-password">Logga in med lösenord</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>