<div class="modal modal-login fade" id="modal-select-product" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-select-product-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content product">
					<div class="modal-main-inner">
						<div class="modal-main-center">
							<div class="modal-main__title">Välkommen!</div>
							<p class="modal-main__subTitle">Vill du beställa lotter eller spela online? Du kan också göra detta val senare ifrån Mina sidor.</p>

							<div class="row">
								<div class="col-sm-6">
									<figure>
										<img src="assets/img/background/gp-6.png" alt="">
									</figure>
									<a href="" class="btn-cta-v2 btn-cta-v2--full">Läs mer och beställ lotter</a>
								</div>
								<div class="col-sm-6">
									<figure>
										<img src="assets/img/background/gp-2.png" alt="">
									</figure>
									<a href="" class="btn-secondary-v2 btn-secondary-v2--full">Gå till spelplånboken</a>
								</div>
							</div>

							<div class="bottom-links">
								<div class="bottom-links-wrap">
									<button class="btn-hash btn-primary-link" data-toggle="modal" data-target="#modal-create-account">Har du inget konto? Skapa ett!</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
