<div class="modal modal-login fade" id="modal-login-select" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-login-select-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">

					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">

						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center">
							<div class="modal-main__title">Välj inloggningssätt</div>
							<p class="modal-main__subTitle">Slutför din registrering genom att välja inloggningsuppgifter.</p>

							<p class="text-align-center"><strong>Hur vill du logga in?</strong></p>
							<button class="btn-hash btn-primary-v2 btn-bankId-v2 desktop" data-toggle="modal" data-target="#modal-login-mobileBankId"><span>BankID</span></button>
							<button class="btn-hash btn-primary-v2 btn-bankId-v2 mobile" data-toggle="modal" data-target="#modal-login-bankId"><span>BankID</span></button>
							<button class="btn-hash btn-secondary-v2 btn-password" data-toggle="modal" data-target="#modal-login-password"><span>Lösenord</span></button>
						</div>

					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
