<div class="modal fade modal-login" id="modal-login-password-set" tabindex="-1" role="dialog" data-backdrop="modal-backdrop-login" aria-labelledby="modal-login-password-set-label" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-login.png);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-buttons">
						<button class="btn-back" data-toggle="modal" data-target="">
							<span class="btn-back__icon"></span> <span class="btn-back__title">Tillbaka</span>
						</button>
						<a href="/" title="Hem" class="modal-btn__logo">
							<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
						</a>
						<div class="close-wrap">
							<button class="close" data-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="modal-main-inner">
						<div class="modal-main-center">
							<div class="modal-main__title">Logga in med lösenord</div>
							<div class="modal-main__subTitle">
								<div class="modal-form__success">
									<p>Välj ett lösenord för att kunna logga in med detta. Det ska vara minst 6 tecken.</p>
								</div>
								<div class="modal-form__error">
									<p>Något verkar ha blivit fel när du fyllde i lösenordet. Kontrollera att du har skrivit rätt.</p>
								</div>
							</div>

							<form id="password-set-modal" class="account-form" data-toggle="validator" action="/" method="get">

								<div class="form-group">
									<label class="control-label" for="userPassword">Ange lösenord</label>
									<div class="input-group">
										<div class="inner-addon right-addon">
											<input type="password" class="form-control" id="userPassword" placeholder="*********" data-error="Eget felmeddelande" required>
										</div>

										<div class="input-group-btn">
											<div class="btn btn-input js-action-show-password"><i class="vi vi-eye-slash"></i></div>
										</div>
									</div>
									<p class="control-under-text">(Detta fält måste du fylla i. Minst 6 tecken).</p>
									<div class="help-block with-errors"></div>
								</div>

								<div class="form-group">
									<label class="control-label" for="userPassword">Ange lösenordet igen</label>
									<div class="input-group">
										<div class="inner-addon right-addon">
											<input type="password" class="form-control" id="userPasswordRepeat" placeholder="*********" data-error="Eget felmeddelande" required>
										</div>
										<div class="input-group-btn">
											<div class="btn btn-input js-action-show-password"><i class="vi vi-eye-slash"></i></div>
										</div>
									</div>
									<div class="help-block with-errors"></div>
								</div>

								<div class="form-group">
									<div class="checkbox checkbox--small">
										<label for="userRememberDevice">
											<input class="custom-checkbox" id="userRememberDevice" type="checkbox" >
											Kom ihåg mig på denna enhet
										</label>
									</div>
								</div>

								<div class="form-group">
									<button type="submit" class="btn-primary btn-block btn-load">
										<span>Logga in</span>
										<img class="spinner" src="assets/img/icons/spinner-white.svg" alt="Spinner">
									</button>
								</div>
								<div class="account-form__error">
									<p class="text-align-center"></p>
								</div>
							</form>

						</div>

						<div class="bottom-links">
							<div class="bottom-links-wrap">
								<button class="btn-hash btn-primary-link" data-toggle="modal" data-target="#modal-login-bankId">Logga in med BankID</button>
							</div>
						</div>
					</div>

					<div class="modal-footer modal-main-footer">
						<p><strong>Vill du ha hjälp via mail eller telefon? </strong></p>
						<p>Välkommen att kontakta oss på kundcenter@miljonlotteriet.se eller</p>
						<p>tel. 031-338 28 20</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>