<div class="modal fade modal-lottery-order" id="modal-lottery-order" tabindex="-1" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body" style="background-image: url(assets/img/background/bg-modal-lottery-order.jpeg);">
				<div class="modal-main-header">
					<a href="/" title="Hem" class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-inner">
						<div class="modal-main-center">
							<div class="modal-main__title">Tack för din beställning!</div>
							<p class="modal-main__subTitle"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
