<div class="modal fade modal-lottery-info modal-secondary" id="modal-lottery-info" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
	<div class="modal-secondary-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-secondary-content">
			<div class="modal-secondary-header">
				<button class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-secondary-body lottery-info">
				<div class="bg-img">
					<img src="assets/img/mockup/lottery-01.jpeg" alt="">
				</div>

				<div class="lottery-info-inner">
					<div class="small-img">
						<img src="assets/img/mockup/lottery-01.jpeg" alt="">
					</div>

					<div class="small-desc">Att Miljonlotten är vår mest populära skraplott är inte så konstigt, den är ju sprängfylld av vinstchanser!</div>

					<div class="info-logos">
						<img src="assets/img/logos/jackpot_logo2.svg" alt="">
						<img src="assets/img/logos/nitlottdragningen_logo2.svg" alt="">
					</div>

					<ul class="info-list">
						<li>
							<i class="icon">
								<img src="assets/img/icons/icon-check.svg" alt="">
							</i>
							<span>Vinn drömvinster ur vår <a href="#">vinstshop</a>.</span>
						</li>
						<li>
							<i class="icon">
								<img src="assets/img/icons/icon-check.svg" alt="">
							</i>
							<span>Vinn 10 miljoner i högvinstdragningen.</span>
						</li>
						<li>
							<i class="icon">
								<img src="assets/img/icons/icon-check.svg" alt="">
							</i>
							<span>Vinn en bil på din nitlott i Nitlottsdragningen.</span>
						</li>
					</ul>

					<div class="accordion-item">
						<div class="accordion__title">
							<div class="arrow"></div>
							<div class="title-text">Högvinstdragningen – chans till 10 miljoner!</div>
						</div>
						<div class="accordion-content">
							<p>På lotterna Miljonlotteriet Miljonlotten och Miljonlotteriet Resan kan du skrapa fram "Chans till 10 miljoner". Så här fungerar det:</p>
							<p>Skrapa fram tre (3) "Chans till 10 miljoner" på någon av lotterna Miljonlotteriet Miljonlotten eller Miljonlotteriet Resan så får du delta i en fördelningsdragning där du är garanterad en vinst på minst 500 000 kronor och med möjlighet att vinna ett värde av hela  10 000 000!</p>
							<p>Fördelningsdragningarna sker löpande vartefter att vinstlotterna skickas in till Miljonlotteriet och kunden som vunnit en chans i en fördelningsdragning bestämmer tillsammans med Miljonlotteriet en passande tid och dag inom 3 månader från det att lotten registrerats av Miljonlotteriet. Hälften av vinsten betalas ut i kontanter och hälften i valfria vinster ur vårt stora vinstsortiment såsom bilar, resor och ett stort urval av presentkort.</p>
							<p class="margin-none">Praktisk information för dig som vunnit denna vinst:</p>
							<p>Ta en kopia av din skrapade vinstlott. Skicka sedan in den med rekommenderad post till Miljonlotteriet på den vinstlottsadress som du hittar på lottens baksida. Miljonlotteriet kontaktar dig inom två arbetsdagar efter det att vi mottagit din vinstlott med ytterligare information om fördelningsdragningen.</p>
							<p>Har du vunnit på en digital Miljonlotteriet Miljonlotten eller Miljonlotteriet Resan får du automatiskt en vinstbekräftelse till den e-postadress som du har registrerat hos oss. Miljonlotteriet kommer dessutom att kontakta dig personligen inom två arbetsdagar för ytterligare information om fördelningsdragningen.</p>
						</div>
					</div>

					<div class="accordion-item">
						<div class="accordion__title">
							<div class="arrow"></div>
							<div class="title-text">Nitlottsdragningen – vinn en bil på nitlotten!</div>
						</div>
						<div class="accordion-content">
							<p>Miljonlotteriet förvandlar nitlotter till vinstlotter! Jo, det är helt sant. Alla nitlotter från skraplotterna Original och Resan får en ny chans i vår extradragning Nitlottsdragningen. Där kan du vinna en bil värd 400 000 kronor.</p>
							<p>Dragningarna sker åtta gånger om året och under Spelinspektionens överinseende. Alla vinnare meddelas personligen.
							</p>
							<p>Köper du våra onlinelotter deltar de automatiskt i Nitlottsdragningen utan att du behöver göra någonting. Köper du våra vanliga skraplotter måste du först registrera dem för att de ska delta i dragningen. Det kan du antingen göra genom att skicka in dem med post (du hittar adressen på lottens baksida) eller genom att registrera dina lotter enkelt och smidigt på hemsidan.</p>
							<p>Det spelar ingen roll hur du registrerar lotterna, alla registrerade nitlotter har exakt samma vinstchans. Under Mina Sidor kan du sedan kontrollera om dina registrerade nitlotter har vunnit eller inte.</p>
							<p>Nästa dragning i Nitlottsdragningen sker den 20 augusti 2020.</p>
							<p>Sista dag att registrera nitlotter till denna dragning är den 31 juli 2020.</p>
						</div>
					</div>

					<div class="accordion-item">
						<div class="accordion__title">
							<div class="arrow"></div>
							<div class="title-text">Spelregler</div>
						</div>
						<div class="accordion-content">
							<p class="margin-none">Så här spelar du skraplotten Miljonlotten:</p>
							<p class="margin-none">Hur du köper en lott:</p>
							<ul>
								<li>a) Klicka på knappen "Köp" på lottsidan.</li>
								<li>b) Välj en lott i lottkarusellen.</li>
								<li>c) Skrapa samtliga skrapfält med hjälp av musen.</li>
								<li>d) När du är klar, klicka på "Vinstkontroll".</li>
							</ul>
							<p>Spelregler:</p>
							<p class="margin-none">Huvudskrap:</p>
							<p class="margin-none">Tre (3) lika belopp ger vinst ur Vinstshoppen för motsvarande värde.</p>
							<p>Tre (3) "Chans till 10 miljoner" ger dig en plats i en Högvinstdragningen där du är garanterad en vinst värd 500 000 kronor och har möjlighet att vinna ett värde av 10 000 000 kronor. Hälften av vinsten betalas ut i kontanter och hälften i valfria vinster ur vårt stora vinstsortiment såsom bilar, resor och ett stort urval av presentkort.</p>
							<p class="margin-none">Reseskrapet:</p>
							<p>Skrapa fram ett (1) belopp och du vinner ett resepresentkort för motsvarande värde.</p>
							<p class="margin-none">Stjärnskrapet:</p>
							<p>Skrapa fram ett (1) belopp och du vinner vinster ur vinstshoppen för motsvarande värde.</p>
							<p class="margin-none">Nitlottsdragningen:</p>
							<p>Varje köpt lott som visar sig vara en nitlott (ej vinst) deltar automatiskt i vår extradragning Nitlottsdragningen, där du kan vinna en bil.</p>
						</div>
					</div>

					<div class="accordion-item">
						<div class="accordion__title">
							<div class="arrow"></div>
							<div class="title-text">Vinstplan</div>
						</div>
						<div class="accordion-content">
							<p>Lotteriet är beviljat och kontrolleras av Spelinspektionen. Lotteriet omfattar 20 000 000 lotter á 50 kr. Totalt 4 467 628 vinster till ett värde av 428 900 000 kr, varav upp till 10 miljoner avsätts till Jackpot. Vinstandel 42,89%.</p>
							<p>Vinstplan:</p>
							<ul class="margin-none">
								<li>Antal 	Värde</li>
								<li>20*	Chans till 10 miljoner</li>
								<li>8**	400 000:-</li>
								<li>20	400 000:-</li>
								<li>20	300 000:-</li>
								<li>20	200 000:-</li>
								<li>40	100 000:-</li>
								<li>100	25 000:-</li>
								<li>200	10 000:-</li>
								<li>400	5 000:-</li>
								<li>800 3 000:-</li>
								<li>2 000 2 000:-</li>
								<li>4 000 1 500:-</li>
								<li>10 000 1 000:-</li>
								<li>50 000 500:-</li>
								<li>100 000	300:-</li>
								<li>300 000	150:-</li>
								<li>1 000 000 100:-</li>
								<li>3 000 000 50:-</li>
							</ul>
							<p class="margin-none">* Tre stycken ”Chans till 10 miljoner” ger dig plats i en fördelningsdragning där du är garanterad ett vinstvärde á 500 000 kr med chans att vinna ett värde á 10 miljoner kr.</p>
							<p class="margin-none">**) Nitlottsdragningen</p>
							<p class="margin-none">***) Jackpotdragningen</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

