<div class="modal fade modal-lottery-order modal-bgp-desktop--@@background_position_desktop modal-bgp-tablet--@@background_position_tablet modal-bgp-mobile--@@background_position_mobile" id="modal-lottery-order" tabindex="-1" aria-hidden="true" style="background-image: url(assets/img/background/bg-modal-lottery-order.jpeg);">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">

			<div class="modal-main-body">
				<div class="modal-main-header">
					<div class="modal-main__logo">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</div>
					<div class="modal-main__logo-secondary">
						<img src="assets/img/brand/ml-logo-tagline.svg" alt="Miljonlotteriet">
					</div>
				</div>

				<div class="modal-content modal-main-content">
					<div class="modal-main-inner">
						<div class="modal-main-center">
							<div class="modal-main__title">Tack för din beställning!</div>
							<div class="modal-main__subTitle">
								<p>Dina första lotter skickas ut inom kort.</p>
								<p>Så länge kan du utforska mer av våra spel, vinster och ändamål på vår sida.</p>
							</div>
							<a href="index.html" class="btn-success">Upptäck Miljonlotteriet</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
