<div class="modal fade" id="modal-password-set" tabindex="-1" role="dialog" aria-labelledby="modal-password-set-label"
	 aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-password-set-label">Välj nytt lösenord!</h5>
				</div>
				<div class="modal-body">
					<p class="modal-intro text-align-center">Välj ett nytt lösenord med minst 8 tecken</p>
					<form id="password-set-modal" class="account-form" data-toggle="validator"
						  action="/" method="get">
						<div class="input-group input-vertical input-vertical--small">
							<div class="form-group">
								<div class="input-group">
									<div class="inner-addon right-addon">
										<i class="icon icon-close js-action-empty-input"></i>
										<input type="password" class="form-control" id="userPassword"
											   placeholder="Lösenord (minst 8 tecken)" data-minlength="8" required>
									</div>
									<div class="input-group-btn">
										<a class="btn btn-input js-action-show-password"><i class="icon icon-eye"></i></a>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<div class="inner-addon right-addon">
										<i class="icon icon-close js-action-empty-input"></i>
										<input type="password" class="form-control" id="userPasswordRepeat"
											   placeholder="Upprepa det nya lösenordet" data-minlength="8" required>
									</div>
									<div class="input-group-btn">
										<a class="btn btn-input js-action-show-password"><i class="icon icon-eye"></i></a>
									</div>
								</div>

							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block btn-load"><span>Byt lösenord</span> <img
								class="spinner" src="assets/img/icons/spinner-white.svg" alt="Spinner"></button>
						</div>
						<div class="account-form__error">
							<p class="text-align-center">
							</p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Avbryt</button>
				</div>
			</div>
		</div>
	</div>
</div>
