<div class="modal fade" id="modal-payment-swish" tabindex="-1" role="dialog" aria-labelledby="modal-payment-swish" aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			<div class="modal-content">
				<div class="modal-body text-align-center">
					<p><img class="modal-payment-swish__logo" src="/assets/img/logos/swish.svg" alt="Swish"></p>
					<p>
						Starta Swish på den enhet du har appen installerad för att slutföra din betalning.
					</p>
					<p>
						<img class="spinner" src="/assets/img/icons/spinner.svg" alt="Väntar på betalning">
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-block js-action-close" data-dismiss="modal">Avbryt betalning</button>
				</div>
			</div>
		</div>
	</div>
</div>