<div class="modal fade" id="modal-payment-method" tabindex="-1" role="dialog"
	 aria-labelledby="modal-payment-method-label"
	 aria-hidden="true">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center" role="document">
			@@include('elements/_button-close.html')
			<div class="modal-content">

				<div class="modal-page modal-page--active" id="change-payment-method">
					<div class="modal-header">
						<h5 id="modal-payment-method-label">Byt betalsätt</h5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<button class="btn btn-primary btn-block js-change-modal-page" data-modal-page="autogiro">
								Teckna autogiro
							</button>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block js-change-modal-page" data-modal-page="e-faktura">
								Teckna e-faktura
							</button>
						</div>
					</div>
				</div>

				<div class="modal-page" id="autogiro">
					<div class="modal-header">
						<button class="btn btn-link modal-page__back-button js-change-modal-page"
								data-modal-page="change-payment-method">
							<i class="icon icon-chevron-left"></i>
						</button>

						<h5>Betala via autogiro</h5>
					</div>
					<div class="modal-body">
						<p>
							Slipp fakturan och betala dina lotter med autogiro istället. Just
							nu bjuder vi på 3 skraplotter när du tecknar autogiro.
						</p>
						<p>
							- Bankgirot sköter dina betalningar automatiskt och säkert varje månad. <br>
							- Du slipper portoavgiften och sparar 180kr per år. <br>
							- Du får 3st Miljonlotteriet eller Resan utan extra kostnad.
						</p>

						<form data-toggle="validator" action="/" method="get">

							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input max="5" type="number" class="form-control" placeholder="Personnummer" required>
								</div>

								<div class="help-block with-errors"></div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="inner-addon right-addon">
											<i class="icon icon-close js-action-empty-input"></i>
											<input type="number" class="form-control" placeholder="Clearing" required>
										</div>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<div class="inner-addon right-addon">
											<i class="icon icon-close js-action-empty-input"></i>
											<input type="number" class="form-control" placeholder="Kontonr" required>
										</div>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-block">Registrera</button>
							</div>
						</form>
					</div>
				</div>

				<div class="modal-page" id="e-faktura">
					<div class="modal-header">
						<button class="btn btn-link modal-page__back-button js-change-modal-page"
								data-modal-page="change-payment-method">
							<i class="icon icon-chevron-left"></i>
						</button>

						<h5>Anmälan för e-faktura</h5>
					</div>
					<div class="modal-body">
						<p>
							För att du ska komma igång med e-faktura fyller du i nedanstående fält och trycker på
							registrera, så ändrar vi inom kort betalsättet för din prenumeration till e-faktura.
						</p>

						<form data-toggle="validator" action="/" method="get">

							<div class="form-group">
								<div class="checkbox">
									<label>
										<input type="checkbox" class="custom-checkbox"> Orginal
									</label>
								</div>
							</div>

							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input type="number" class="form-control" placeholder="Kundnummer" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<div class="inner-addon right-addon">
									<i class="icon icon-close js-action-empty-input"></i>
									<input type="number" class="form-control" placeholder="Personnummer" required>
								</div>
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<select class="form-control">
									<option disabled selected>Välj din bank</option>
									<option>Swedbank</option>
									<option>Nordea</option>
									<option>Icabanken</option>
									<option>SEB</option>
								</select>
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-block">Registrera</button>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
