<div class="modal fade modal-video modal-secondary" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label" data-backdrop="false">
	<div class="modal-secondary-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-secondary-content">
			<div class="modal-secondary-header">
				<button class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-secondary-body">
				<div class="m-video">
					<video poster="assets/img/background/bg-modal-lottery-order.jpeg" controls preload="metadata" playsinline>
						<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
					</video>
				</div>
			</div>
		</div>
	</div>
</div>

