<div class="cart__item">
	<p class="cart__item-title">Titel</p>
	<div class="cart__item-content">
		<div class="cart__item-image">
			<img src="assets/img/mockup/car.jpg">
		</div>
		<div class="cart__item-quantity">
			<button title="Minska antal" class="cart__item-decrease cart__item-btn js-decrease-quantity">-</button>
			<input class="cart__item-input js-item-quantity" type="number" value="1" size="2">
			<button title="Öka antal" class="cart__item-increase cart__item-btn js-increase-quantity">+</button>
		</div>
		<p class="cart__item-price">price</p>
		<button class="cart__item-remove js-remove-from-cart">
			<span class="sr-only">Ta bort</span>
		</button>
	</div>
</div>