<section class="section block block-content tab-pane active js-tabs" id="spelkonto" role="tabpanel">
        @@include('blocks/spelkonto-new/_block-header.html', {
            "screen_name": "Mitt konto",
            "title": "Mitt spelkonto",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        })

    <div class="equal-height tab-content js-tabs-content row">
        <div class="mobile-togglers">
			<div class="new-tabs block-kontohistorik__tabs" style="margin-top: 24px;">
				<div class="new-tabs__bg js-tabs-nav">
					<button class="new-tabs__button js-tabs-nav-item js-active"
					>Spelplånbok</button>
					<button class="new-tabs__button js-tabs-nav-item">Vinstkonto</button>
					<div class="new-tabs__bg-toggle js-tabs-nav-bg"></div>
				</div>
			</div>
        </div>
		<div class="tab-pane col-xs-12 col-sm-12 col-md-6 col-lg-6 align-stretch block-promotion__wrapper js-tabs-content-item js-active"  >
            @@include('blocks/promotion/block/_promotion-wallet-toggle-new.html', {
            "id": "wallet",
            "background": "color",
            "background_color": "lightorange",
            "content_title": "Spelplånbok",
            "content_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "content_pris": "500 kr",
            "active": true,
            "primary_button_text": "Sätt in pengar",
            "secondary_button_text": "Uttagr",
            "primary_button_mobile_text": "Sätt in pengar",
            "secondary_button_mobile_text": "Överföring/Uttag",
            })
        </div>

        <div class="tab-pane col-xs-12 col-sm-12 col-md-6 col-lg-6 align-stretch block-promotion__wrapper js-tabs-content-item" >
            @@include('blocks/promotion/block/_promotion-wallet-toggle-new.html', {
            "id": "account",
            "background": "color",
            "background_color": "lightpink",
            "content_title": "Vinstkonto",
            "content_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "content_pris": "444 kr",
            "active": true,
            "content_image": "assets/img/mockup/symbol_vinstkontot.svg",
            "primary_button_text": "Hämta ut vinst"
            })
        </div>
    </div>
    <div class="row desktop-hidden mobile-hidden">

        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <div class="px-4">
                <h4 class="block-wallet-transfer__title h4">Kontoöverföring</h4>
                <p class="block-wallet-transfer__text">Här kan du flytta medel mellan din spelplånbok och ditt vinstkonto.
                    Funktionen fungerar även åt andra hållet, klicka på pilarna för att byta riktning.</p>
            </div>
        </div>
    </div>


    <div class="block block-wallet-transfer block--decoration">

        <div class="row tablet-hidden">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h4 class="block-wallet-transfer__title h4">Kontoöverföring</h4>
                <p class="block-wallet-transfer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </div>
        <hr class="disabled tablet-hidden">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="wallet_switch_transfer">
                    <form class="wallet-transfer" data-toggle="validator" action="/spelkonto-v2.html" method="get"
                        data-focus="false">
                        <div class="wallet-switch">
                            <div class="wallet-switch__switcher">
                            <div class="wallet-switch__item-wrapper">
                                <span class="wallet-switch__label tablet-hidden">Från konto:</span>
                                <span class="wallet-switch__label desktop-hidden">Från:</span>
                                <p class="wallet-switch__item" data-account="Spelplånbok">
                                    <span class="wallet-switch__account">Spelplånbok</span>
                                    <span class="hidden-xs">(<span class="wallet-switch__balance"
                                            data-balance="200">200</span>kr)</span>
                                </p>
                            </div>
                            <button class="wallet-switch__btn js-wallet-switch">
                                <img class="wallet-switch__icon" src="assets/img/icons/arrow-switch-primary.svg"
                                    alt="Pilar för att växla mellan konto" width="19px" height="17px">
                                <span class="sr-only">Växla konto</span>
                            </button>
                            <div class="wallet-switch__item-wrapper">
                                <span class="wallet-switch__label tablet-hidden">Till konto:</span>
                                <span class="wallet-switch__label desktop-hidden">Till:</span>
                                <p class="wallet-switch__item" data-account="Vinstkonto">
                                    <span class="wallet-switch__account">Vinstkonto</span>
                                    <span class="hidden-xs">(<span class="wallet-switch__balance"
                                            data-balance="100">100</span>kr)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group mb-0" data-tooltip="Belopp för högt.">
                            <p class="text-left p-0 m-0">
                                <label for="withdrawalValue" class="text-uppercase tablet-hidden">Summa:</label>
                                <label for="withdrawalValue" class="text-uppercase desktop-hidden">Summa:</label>
                            </p>
                            <div class="inner-addon right-addon">
                                <i class="js-action-empty-input icon"><svg width="20" height="14"
                                        viewBox="0 0 20 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7L7 13L18.9972 1" stroke="#50B78D"
                                            stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </i>
                                <input type="number" class="form-control font-bold" id="withdrawalValue"
                                    required placeholder="Summa">
                            </div>
                        </div>

                        </div>

                        <div class="wallet-transfer__form-wrapper form-group">
                            <hr class="disabled">
                            <button type="submit" class=" btn btn-primary js-btn-success">För
                                över</button>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    @@include('blocks/spelkonto-new/_kontohistorik-block.html', {   })
</section>

