    <div class="content-wrapper ml-2017">
        <div class="my-pages container">
            <div class="tab-content">
                @@include('blocks/spelkonto-new/_spelkonto-block.html', {   })
                @@include('blocks/spelkonto-new/_prenumerationer-block.html', {   })
                @@include('blocks/spelkonto-new/_vinster-block.html', {   })
                @@include('blocks/spelkonto-new/_spelhistorik-block.html', {   })
                @@include('blocks/spelkonto-new/_deposit-block.html', {   })
            </div>
        </div>
    </div>