<section id="vinster">
    <div class="table-section block block-content block-vinster">
        @@include('blocks/spelkonto-new/_block-header.html', {
            "screen_name": "Mitt konto",
            "title": "Beställda vinster",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
			"class": ""
		})
        <div class="row equal-height tablet-hidden">
            <div class="col-xs-12 ">
                <div class=" block-white h-100">
                    <h4 class="block-promotion__header-title">Mina beställningar1</h4>
                    <table class="vinster-table">
                        <thead>
                            <tr class="vinster-table__tr">
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--image"></th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--orderdatum">Orderdatum</th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--artikel">Artikel</th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--antal">Antal</th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--frakt">Frakt</th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--summa">summa</th>
                                <th class="bg-none font-bold vinster-table__th vinster-table__th--status">status</th>
                            </tr>
                        </thead>
                        <tbody id="account-wallet-table-data" data-total-items="5">
							<tr class="vinster-table__tr">
                                <td class="vinster-table__td vinster-table__td--image" data-header="">
                                    <div class="" style="height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                                </td>
                                <td class="vinster-table__td vinster-table__td--orderdatum" data-header="Orderdatum">2024-06-06</td>
                                <td class="vinster-table__td vinster-table__td--artikel" data-header="Artikel">
									<p>Varumärke</p>
                                    <p><strong>Ett väldigt långt Produktnamn som kan ligga på två rader</strong></p>
                                    <p class="vinster-table__info">(Art. No. 01234567890)</p>
                                </td>
                                <td class="vinster-table__td vinster-table__td--antal" data-header="Antal" class="">1 st</td>
                                <td class="vinster-table__td vinster-table__td--frakt" data-header="Frakt" class="">Standard</td>
                                <td class="vinster-table__td vinster-table__td--summa" data-header="Summa" class="">599 kr</td>
                                <td class="vinster-table__td vinster-table__td--status" data-header="Status" class="">
									<div class="vinster-table__status">
										<a href="#"class="text-red link">Avbryt beställning</a>
									</div>
                                    <p ><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                </td>
                            </tr>
							<tr class="vinster-table__tr">
                                <td class="vinster-table__td vinster-table__td--image" data-header="">
                                    <div class="" style="height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                                </td>
                                <td class="vinster-table__td vinster-table__td--orderdatum" data-header="Orderdatum">2024-06-06</td>
                                <td class="vinster-table__td vinster-table__td--artikel" data-header="Artikel">
									<p>Varumärke</p>
                                    <p><strong>Ett väldigt långt Produktnamn som kan ligga på två rader</strong></p>
                                    <p class="vinster-table__info">(Art. No. 01234567890)</p>
                                </td>
                                <td class="vinster-table__td vinster-table__td--antal" data-header="Antal" class="">1 st</td>
                                <td class="vinster-table__td vinster-table__td--frakt" data-header="Frakt" class="">Standard</td>
                                <td class="vinster-table__td vinster-table__td--summa" data-header="Summa" class="">599 kr</td>
                                <td class="vinster-table__td vinster-table__td--status" data-header="Status" class="">
									<div class="vinster-table__status">
										Behandlas
									</div>
                                    <p ><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                </td>
                            </tr>
							<tr class="vinster-table__tr">
                                <td class="vinster-table__td vinster-table__td--image" data-header="">
                                    <div class="" style="height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                                </td>
                                <td class="vinster-table__td vinster-table__td--orderdatum" data-header="Orderdatum">2024-06-06</td>
                                <td class="vinster-table__td vinster-table__td--artikel" data-header="Artikel">
									<p>Varumärke</p>
                                    <p><strong>Ett väldigt långt Produktnamn som kan ligga på två rader</strong></p>
                                    <p class="vinster-table__info">(Art. No. 01234567890)</p>
                                </td>
                                <td class="vinster-table__td vinster-table__td--antal" data-header="Antal" class="">1 st</td>
                                <td class="vinster-table__td vinster-table__td--frakt" data-header="Frakt" class="">Standard</td>
                                <td class="vinster-table__td vinster-table__td--summa" data-header="Summa" class="">599 kr</td>
                                <td class="vinster-table__td vinster-table__td--status" data-header="Status" class="">
									<div class="vinster-table__status">
										<a href="#"class="link">Spåra beställning</a>
									</div>
                                    <p ><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="entity-collection-actions">
                        <a class="btn btn-secondary" data-target="#account-due-dates-table-data"
                            href="/ajax/account-history/account-due-dates.html">Visa fler</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-hidden">
            <h4 class="block-promotion__header-title">Mina beställningar</h4>
            <div class="block-white ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="order-item">
                            <div class="col-xs-12 col-sm-3 mb-4">
                                <div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
								<div class="d-flex justify-between order-detailes-top">
									<div>
										<div class="t-heading">artikel</div>
										<div class="order-article">
											<p>Varumärke - Lång krångligt produktnamn</p>
											<p>(Ord.No: 01234567890)</p>
										</div>
									</div>
									<div class="text-right">
										<div class="t-heading">Antal</div>
										1 st
									</div>
                                </div>
                            <div class="order-detailes">
                                <div class="d-flex justify-between">
                                    <div class="">
                                        <div class="t-heading">orderdatum</div>
                                        <div class="">2024-06-04</div>
                                    </div>
                                    <div class="">
                                        <div class="t-heading">summa</div>
                                        <div class="">1 200 kr</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-between">
                                    <div>
                                        <div class="t-heading">frakt</div>
                                        <div class="">Standard</div>
                                    </div>
                                    <div class=" text-right">
                                        <div class="t-heading">status</div>
                                        <div class=""><a href="" class="link text-red">Avbryt beställning</a></div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-white ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="order-item">
                            <div class="col-xs-12 col-sm-3 mb-4">
                                <div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
								<div class="d-flex justify-between order-detailes-top">
									<div>
										<div class="t-heading">artikel</div>
										<div class="order-article">
											<p>Varumärke - Lång krångligt produktnamn</p>
											<p>(Ord.No: 01234567890)</p>
										</div>
									</div>
									<div class="text-right">
										<div class="t-heading">Antal</div>
										1 st
									</div>
                                </div>
                            <div class="order-detailes">
                                <div class="d-flex justify-between">
                                    <div class="">
                                        <div class="t-heading">orderdatum</div>
                                        <div class="">2024-06-04</div>
                                    </div>
                                    <div class="">
                                        <div class="t-heading">summa</div>
                                        <div class="">1 200 kr</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-between">
                                    <div class="">
                                        <div class="t-heading">frakt</div>
                                        <div class="">Standard</div>
                                    </div>
                                    <div class=" text-right">
                                        <div class="t-heading">status</div>
                                        <div class="">Behandlas</div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-white ">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="order-item">
                            <div class="col-xs-12 col-sm-3 mb-4">
                                <div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 4px;"></div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
								<div class="d-flex justify-between order-detailes-top">
									<div>
										<div class="t-heading">artikel</div>
										<div class="order-article">
											<p>Varumärke - Lång krångligt produktnamn</p>
											<p>(Ord.No: 01234567890)</p>
										</div>
									</div>
									<div class="text-right">
										<div class="t-heading">Antal</div>
										1 st
									</div>
                                </div>
                            <div class="order-detailes">
                                <div class="d-flex justify-between">
                                    <div class="">
                                        <div class="t-heading">orderdatum</div>
                                        <div class="">2024-06-04</div>
                                    </div>
                                    <div class="">
                                        <div class="t-heading">summa</div>
                                        <div class="">1 200 kr</div>
                                    </div>
                                </div>
                                <div class="d-flex justify-between">
                                    <div class="">
                                        <div class="t-heading">frakt</div>
                                        <div class="">Standard</div>
                                    </div>
                                    <div class=" text-right">
                                        <div class="t-heading">status</div>
                                        <div ><a href="#" class="link">Spåra beställning</a></div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entity-collection-actions entity-collection-actions--margin">
                <a class="btn btn-secondary" data-target="#account-due-dates-table-data"
                    href="/ajax/account-history/account-due-dates.html">Visa fler</a>
            </div>
        </div>
    </div>
</section>