<section id="vinster" class="tab-pane" role="tabpanel">
    <div class="table-section block block-content block-vinster">
        @@include('blocks/spelkonto-new/_block-header.html', {
            "screen_name": "Mitt konto",
            "title": "Beställda vinster",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        })
        <div class="row equal-height">
            <div class="col-xs-12 ">
                <div class=" block-white h-100"> 
                    <h4 class="block-promotion__header-title">Mina beställningar</h4>
                    <table class="responsive-table modern">
                        <thead>
                            <tr>
                                <th class="bg-none font-bold">Orderdatum</th>
                                <th class="bg-none font-bold">Artikel</th>
                                <th class="bg-none font-bold">Frakt</th>
                                <th class="bg-none font-bold">summa</th>
                                <th class="bg-none font-bold">status</th>
                            </tr>
                        </thead>
                        <tbody id="account-wallet-table-data" data-total-items="5">
                            <tr>
                                <td data-header="Orderdatum">2024-06-06</td>
                                <td data-header="Artikel">Varumärke - Ett väldigt långt Produktna...</td>
                                <td data-header="Frakt" class="">Standard</td>
                                <td data-header="summa" class="">599 kr</td>
                                <td data-header="Vinstvärde" class="">
                                    <a href="#"class="text-red">Avbryt beställning</a>
                                </td>
                            </tr>
                            <tr class="expanded">
                                <td data-header="Orderdatum"><div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 8px;"></div></td>
                                <td data-header="Artikel">
                                    <div class="d-flex"> 
                                        <p>Varumärke</p>
                                        <p>1 st</p>
                                    </div>
                                   
                                    <p><strong>Produktnamn som kan ligga på två rader</strong></p>
                                    <p>(Art. No. 01234567890)</p>
                                </td>
                                <td data-header="Frakt" class=""></td>
                                <td data-header="summa" class=""></td>
                                <td data-header="Vinstvärde" class="">
                                    <p><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td data-header="Orderdatum">2024-06-06</td>
                                <td data-header="Artikel">Varumärke - Ett väldigt långt Produktna...</td>
                                <td data-header="Frakt" class="">Standard</td>
                                <td data-header="summa" class="">599 kr</td>
                                <td data-header="Vinstvärde" class="">
                                    <a href="#"class="text-red">Avbryt beställning</a>
                                </td>
                            </tr>
                            <tr class="expanded">
                                <td data-header="Orderdatum"><div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 8px;"></div></td>
                                <td data-header="Artikel">
                                    <div class="d-flex"> 
                                        <p>Varumärke</p>
                                        <p>1 st</p>
                                    </div>
                                   
                                    <p><strong>Produktnamn som kan ligga på två rader</strong></p>
                                    <p>(Art. No. 01234567890)</p>
                                </td>
                                <td data-header="Frakt" class=""></td>
                                <td data-header="summa" class=""></td>
                                <td data-header="Vinstvärde" class="">
                                    <p><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td data-header="Orderdatum">2024-06-06</td>
                                <td data-header="Artikel">Varumärke - Ett väldigt långt Produktna...</td>
                                <td data-header="Frakt" class="">Standard</td>
                                <td data-header="summa" class="">599 kr</td>
                                <td data-header="Vinstvärde" class="">
                                    <a href="#"class="text-red">Avbryt beställning</a>
                                </td>
                            </tr>
                            <tr class="expanded">
                                <td data-header="Orderdatum"><div class="" style="width: 163px; height: 112px; background-color: rgba(7, 70, 88, 0.25); border-radius: 8px;"></div></td>
                                <td data-header="Artikel">
                                    <div class="d-flex"> 
                                        <p>Varumärke</p>
                                        <p>1 st</p>
                                    </div>
                                   
                                    <p><strong>Produktnamn som kan ligga på två rader</strong></p>
                                    <p>(Art. No. 01234567890)</p>
                                </td>
                                <td data-header="Frakt" class=""></td>
                                <td data-header="summa" class=""></td>
                                <td data-header="Vinstvärde" class="">
                                    <p><strong>Leveransstatus:</strong></p>
                                    <p>Varuvinsten är restnoterad och beräknas åter i lager 2024-06-25</p>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="entity-collection-actions">
                        <a class="btn btn-primary" data-target="#account-due-dates-table-data"
                            href="/ajax/account-history/account-due-dates.html">Visa fler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>