@keyframes fadeInDownBig {
	0% {
		transform: scale(0);
		opacity:0;
	}
	100% {
		transform: scale(1);
		opacity:1;
	}
}

/* Load content from the left hand side */
@keyframes loadFromLeft {
	0% { transform: translateX(0); }
	5% { transform: translateX(-100px); }
	50% { transform: translateX(10px); }
	100% { transform: translateX(0); }
}


/* Load content from the right hand side */
@keyframes loadFromRight {
	0% { transform: translateX(0); }
	5% { transform: translateX(100px); }
	50% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}

/* Rotate animation */
.js-animation--rotate {
	transition: transform $duration-fast $ease-standard;
	transform: rotate(180deg);
}

/* Rotate and scale */
@keyframes spinAndScale {
	50% {
		transform: rotate(1turn) scale(10);
	}

	100% {
		transform: rotate(2turn) scale(0.6);
	}
}

.spinAndScale {
	animation: spinAndScale 1s linear;
}

/* Pulsate */
@keyframes pulsate {
	25% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.2);
	}

	100% {
		 transform: scale(1);
	}
}

.pulsate {
	animation: pulsate .7s linear;
}