/**
 * Animation
 */

// Duration
$duration-quicker: 0.1s;
$duration-quick: 0.1s;
$duration-fast: 0.26s;
$duration-medium: 0.4s;
$duration-normal: 0.6s;
$duration-slow: 1s;

// Delay
$delay-none: 0s;
$delay-faster: 0.05s;
$delay-fast: 0.26s;
$delay-normal: 0.6s;
$delay-slow: 1s;

// Easing
$ease-standard: cubic-bezier(0.17, 0.04, 0.03, 0.94);
$ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);

/* Fade In */
@keyframes fadeInDownBig {
	0% {
		transform: scale(0);
		opacity:0;
	}
	100% {
		transform: scale(1);
		opacity:1;
	}
}

/* Load content from the left hand side */
@keyframes loadFromLeft {
	0% { transform: translateX(0); }
	5% { transform: translateX(-100px); }
	50% { transform: translateX(10px); }
	100% { transform: translateX(0); }
}


/* Load content from the right hand side */
@keyframes loadFromRight {
	0% { transform: translateX(0); }
	5% { transform: translateX(100px); }
	50% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}

/* Rotate animation */
.js-animation--rotate {
	transition: transform $duration-fast $ease-standard;
	transform: rotate(180deg);
}

/* Rotate and scale */
@keyframes spinAndScale {
	50% {
		transform: rotate(1turn) scale(10);
	}

	100% {
		transform: rotate(2turn) scale(0.6);
	}
}

.spinAndScale {
	animation: spinAndScale $duration-slow linear;
}

/* Pulsate */
@keyframes pulsate {
	25% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1);
	}

	75% {
		transform: scale(1.2);
	}

	100% {
		 transform: scale(1);
	}
}

.pulsate {
	animation: pulsate $duration-normal linear;
}