@keyframes fadeInDownBig {
	0% {
		transform: scale(0);
		opacity:0;
	}
	100% {
		transform: scale(1);
		opacity:1;
	}
}

/* Rotate animation */
.js-animation--rotate {
	transition: transform $duration-fast $ease-standard;
	transform: rotate(180deg);
}