/**
 * Colors
 */

 // New colors 2020
$color-primary: #003E52;
$color-primary-light: #06566F;
$color-primary-lighter: #81B7C8;
$color-primary-dark: #032A3D;

$color-secondary: #B8D8EB;
$color-secondary-light: #C9E8F4;
$color-secondary-lighter: #E5F6FE;
$color-secondary-dark: #7CB7D0;

$color-cta: #C59;
$color-cta-light: #ECC5DE;
$color-cta-lighter: #E3BAC5;
$color-cta-dark: #BA5B80;
$color-cta-hover: #ED8DC4;

$color-grey-bg: #EEEDEB;
$color-grey-light: #F7F7F7;
$color-grey-dark: #CECECE;

$color-orange: #EE7622;
$color-orange-light: #F09F54;
$color-orange-lighter: #F8DF8D;

$color-green: #6FA088;
$color-green-light: #9ED8B3;
$color-green-lighter: #CEDFD7;



// Theme Palette
$color-snow: #ffffff;
$color-dark-white: $color-grey-light;
$color-space: #000;
$color-blue-deep: $color-primary; // *new*
$color-blue: $color-primary-light; // *new*
$color-blue-dark: $color-primary-dark; //darken($color-blue, 15%); //  *new*
$color-blue-disabled: $color-primary-lighter;

$color-blue-light: $color-secondary; // *new*
$color-blue-lighter: $color-secondary-light;

$color-turquoise: $color-secondary; // #00afba; // *new*
$color-new-turqoiuse: $color-turquoise;
$color-turquoise-light: $color-secondary-light; //#a0e4e7; // *new*

$color-light-pink: $color-cta-light;
$color-yellow: $color-orange-lighter; // *new*
$color-light-orange: $color-orange-lighter;
$color-head-orange: $color-orange-light;
$color-border-orange: #F7CFA9;

$color-red: #D90000;

$color-pink: $color-cta; // *new*
$color-pink-light: $color-light-pink; // *new*
$color-border-pink: $color-pink;

$color-black: $color-blue-deep; //#2e3237; // Color dark gray *new*
$color-black-light: #4a5863;
$color-gray: #6f91a7; // UI elements
$color-gray-light: #bdd0dc;
$color-gray-border: $color-grey-bg;
$color-ocean: #37454e;
$color-blueberry: #536785;
$color-cloud: #f2f5f7;
$color-feather: #dee1e8;
$color-l-blue: #bad1de; // Color heaven gray *new*
$color-blue-gray: #85a3b6; // *newx
$color-error: $color-red;
$color-warning: $color-orange-light;
$color-river-bed: #475965;
$color-grey: #CBCBCB;

// Base colors
$color-base-primary: $color-black; // Text
$color-base-secondary: $color-ocean; // Menu links
$color-base-complement: $color-blueberry; // Menu descriptions, input labels, modal text

// Color Scheme
$color-accent: $color-green;
$color-complement-coral: $color-turquoise;

// Complement: Sky - Icons
$color-complement-sky: $color-gray;
$color-complement-sky-light: $color-gray-light;

// Complement: Lava
$color-complement-lava: $color-orange;
$color-complement-lava-light: $color-orange-light;

// Specific
$color-border: $color-feather;
$color-container-background: $color-cloud;
$color-modal-background: $color-snow;
$color-input-border: $color-grey-dark;
$color-input-border-focus: $color-primary;

// Others
$color-dark: $color-space;
$color-light: $color-snow;
$color-overlay-base: rgba($color-primary-dark, 1);
$color-overlay: rgba($color-primary-dark, 0.9);

// States
$color-darken-amount: 10%;

// Opacity
$opacity-0: 0;
$opacity-1: 1.0;
$opacity-2: 0.87;
$opacity-3: 0.54;
$opacity-4: 0.22;
$opacity-5: 0.06;

// Basic colors
$color-white: #ffffff;
$color-white-2: rgba(255, 255, 255, $opacity-2);
$color-white-3: rgba(255, 255, 255, $opacity-3);
$color-white-4: rgba(255, 255, 255, $opacity-4);
$color-white-5: rgba(255, 255, 255, $opacity-5);
$color-black-2: rgba(0, 0, 0, $opacity-2);
$color-black-3: rgba(0, 0, 0, $opacity-3);
$color-black-4: rgba(0, 0, 0, $opacity-4);
$color-black-5: rgba(0, 0, 0, $opacity-5);
$color-transparent: rgba(0, 0, 0, $opacity-0);


// New colors for modals
$color-primary-blue: $color-blue-deep;
$color-category-orange: $color-orange;
$color-category-green: $color-green;
$color-cta-pink: $color-pink;
$color-cta-pink-light: $color-cta-light;
$color-cta-pink-disabled: $color-cta-lighter;
$color-secondary-lightBlue: $color-secondary;


//popover color
$color-popover-error: #F56363;
$color-popover: #06566F;

// Colors from guidline 2022
$colorMiljonbla: #003E52;
$colorMiljonblaHover: #112329;

$colorNord: #1377B0;
$colorHimmel: #C7E7F8;
$colorMoln: #F5F5F5;

$colorTurkos: #00A4B9;
$colorTurkos75: #70B9CB;
$colorTurkos50: #A8D1DC;
$colorTurkos20: #DEEDF2;

$colorRosa: #c59;
$colorRosa75: rgba(204, 85, 153, 0.75);
$colorRosa50: rgba(204, 85, 153, 0.5);
$colorRosa20: rgba(204, 85, 153, 0.2);
$colorRosaHover: #C65687;

$colorGron: #50B78D;
$colorGron75: #8BC9A9;
$colorGron50: #B7DBC7;
$colorGron20: #E4F0EA;

$colorOrange: #F98F00;
$colorOrange75: #F7AA56;
$colorOrange50: #FBC890;
$colorOrange20: #FDE9D4;

$colorGul: #FFD944;
$colorGul75: #FFE27D;
$colorGul50: #FFEBAD;
$colorGul20: #FFF7E0;

$colorWhite: #ECEAE8;
$colorWhiteHover: #E3E3E3;

$colorLightBlue: #A9D3E6;
$colorLightBlueHover: #99C0D1;