@font-face {
	font-family: 'ml-icons';
	src: url('../fonts/ml-icons.eot?gsnpq7');
	src: url('../fonts/ml-icons.eot?gsnpq7#iefix') format('embedded-opentype'),
	url('../fonts/ml-icons.ttf?gsnpq7') format('truetype'),
	url('../fonts/ml-icons.woff?gsnpq7') format('woff'),
	url('../fonts/ml-icons.svg?gsnpq7#ml-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-semiboldit-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-lightit-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-extrabld-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regularit-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}



@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'UniNeueHeavy';
	src: url('../fonts/unineueheavy-webfont.woff2') format('woff2'),
	url('../fonts/unineueheavy-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "hellolucky";
	src: url("../fonts/HELLOLUCKY.OTF");
}
@font-face {
	font-family: 'UniNeueHeavy';
	src: url('../fonts/unineueheavy-webfont.woff2') format('woff2');
}