@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.block--background-color {
		background-image: none;

		&:before {
			content: ' ';
			background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper2_@2X.png");
			background-size: 500px auto;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.2;
		}
	}
}
