@font-face {
	font-family: "ml-icons";
	src: url('../fonts/ml-icons.eot');
	src: url('../fonts/ml-icons.eot?#iefix') format('eot'),
		url('../fonts/ml-icons.woff2') format('woff2'),
		url('../fonts/ml-icons.woff') format('woff'),
		url('../fonts/ml-icons.ttf') format('truetype'),
		url('../fonts/ml-icons.svg#ml-icons') format('svg');
}

.icon:before {
	font-family: "ml-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-icon-close:before {
	content: "\E001";
}

.icon-icon-game:before {
	content: "\E002";
}

.icon-icon-heart:before {
	content: "\E003";
}

.icon-icon-leave:before {
	content: "\E004";
}

.icon-icon-more:before {
	content: "\E005";
}

.icon-icon-search:before {
	content: "\E006";
}

.icon-icon-star:before {
	content: "\E007";
}

.icon-icon-user:before {
	content: "\E008";
}
