.oddmeter {
    display: flex;
    background: rgb(34,28,12);
    background: linear-gradient(0deg, rgba(34,28,12,1) 0%, rgba(91,91,91,1) 52%, rgba(15,12,5,1) 100%);
    padding: 1px 2px;
    border-radius: 3px;

    &__value {
        overflow: hidden;
        height: 24px;
        display: flex;
    }

    &__holder {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, #000000 0%, #F1C569 19%, #FCF696 21%, #F8F493 30%, #F7F392 41%, #B98727 60%, #C19131 66%, #FCDD7D 80%, #866018 91%, #000000 100%);
        margin-right: 2px;
        border-radius: 2px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        transition: transform .2s ease;
        margin-top: 3px;
    }

    &__number {
        font-weight: 800;
        padding: 0 2px;
        color: #3F3F3F;
        text-align: center;
    }

    &__currency {
        font-weight: 800;
        padding: 0 2px 0 4px;
        color: $color-snow;
        display: flex;
        align-items: center;
        margin-top: 3px;
    }


    &--flat {
        background: $color-snow;
        .oddmeter {
            &__holder {
                margin-right: 0;
                &:nth-child(odd) {
                    background: #DCE4E9;
                }
                &:nth-child(even) {
                    background: $color-snow;
                }
            }

            &__number {
                @extend .heading;
                color: $color-blue-deep;
                font-weight: normal;
            }

            &__currency {
                color: $color-blue-deep;
                padding: 0 6px;
            }

            @include min-screen($screen-md-min) {
                &__currency {
                    padding: 0 20px !important;
                }
            }
        }
    }
}