// Visibility
.hide-mobile {
	display: none;

	@include min-screen($screen-md-min) {
		display: block;
	}
}

.show-mobile {
	display: block;

	@include min-screen($screen-md-min) {
		display: none;
	}
}


// Alignment
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align {
	text-align: left;
}

.align--center {
	text-align: center;
}

.align--right {
	text-align: right;
}

.align-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 100%;
	pointer-events:none;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events:none;
}

