/**
 * Layout
 */

// Margins
$margin-default: 20px;
$margin-medium: 15px;
$margin-small: 10px;

// Paddings
$padding-default: 20px;
$padding-medium: 15px;
$padding-small: 10px;

// Menu
$menu-height: 69px;
$account-user-height: 51px;
$account-buttons-height: 45px;
$top-padding-logged-in: $menu-height + $account-user-height;
$top-padding-logged-out: $menu-height + $account-buttons-height;

// Sidebar
$sidebar-width-mobile: 70px;
$sidebar-width-desktop: 240px;
$sidebar-item-height: 63px;
$sidebar-logo-height: 69px;
$sidebar-logo-image-height: 36px;

$sub-navigation-width-mobile: 170px;
$sub-navigation-width-desktop: $sidebar-width-desktop;

$sidebar-total-width-mobile: $sidebar-width-mobile + $sub-navigation-width-mobile;
$sidebar-total-width-tablet: $sidebar-width-mobile + $sidebar-width-desktop;
$sidebar-total-width-desktop: $sidebar-width-desktop + $sidebar-width-desktop;

/**
 * Fonts
 */

// Font weights
$light: 100;
$regular: 400;
$medium: 400;
$bold: 600;

// Base Font
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 20px;

// Base Headings
$base-heading-family: sans-serif;

/**
 * Colors
 */

// Theme Palette
$color-snow: #FFFFFF;
$color-space: #000;

$color-blue-dark: #216AC4;
$color-blue: #2074f2;
$color-blue-light: #6CAAE9;
$color-green: #5bd084;
$color-green-light: #AADB9B;
$color-yellow: #F8D138;
$color-yellow-light: #FBE18F;
$color-orange: #F0774C;
$color-orange-light: #F2A960;
$color-pink: #DD5AB0;
$color-pink-light: #ED75AE;
$color-turquoise: #4FB7BD;
$color-turquoise-light: #B8E2E7;
$color-gray: #8DA7BA; // #85A3B6
$color-gray-light: #BAD1DE;
$color-black: #2e3237;
$color-black-light: #475964;

$color-ocean: #37454E;
$color-blueberry: #536785;
$color-cloud: #F2F5F7;
$color-feather: #DEE1E8;
$color: #626972;

$color-stone: #F9F9F9;
$color-gravel: #E5E5E5;

// Base colors
$color-base-primary: $color-black; // Text
$color-base-secondary: $color-ocean; // Menu links
$color-base-complement: $color-blueberry; // Menu descriptions, input labels

// Color Scheme
$color-primary: $color-blue;
$color-accent: $color-green;
$color-complement-coral: $color-turquoise;
// Complement: Sky - Icons
$color-complement-sky: $color-gray;
$color-complement-sky-light: $color-gray-light;
// Complement: Lava
$color-complement-lava: $color-orange;
$color-complement-lava-light: $color-orange-light;

// Specific
$color-border: $color-feather;
$color-container-background: $color-cloud;
$color-modal-background: $color-stone;
$color-input-border: $color-gravel;

// Others
$color-dark: $color-space;
$color-light: $color-snow;
$color-overlay: rgba($color-base-primary, 0.8);

// States
$color-darken-amount: 10%;

// Opacity
$opacity-0: 0;
$opacity-1: 1.0;
$opacity-2: 0.87;
$opacity-3: 0.54;
$opacity-4: 0.22;
$opacity-5: 0.06;

// Basic colors
$color-white: #FFFFFF;
$color-white-2: rgba(255, 255, 255, $opacity-2);
$color-white-3: rgba(255, 255, 255, $opacity-3);
$color-white-4: rgba(255, 255, 255, $opacity-4);
$color-white-5: rgba(255, 255, 255, $opacity-5);

$color-black: #000000;
$color-black-2: rgba(0, 0, 0, $opacity-2);
$color-black-3: rgba(0, 0, 0, $opacity-3);
$color-black-4: rgba(0, 0, 0, $opacity-4);
$color-black-5: rgba(0, 0, 0, $opacity-5);

$color-transparent: rgba(0, 0, 0, $opacity-0);

/**
 * Animation
 */

// Duration
$duration-quick: 0.1s;
$duration-fast: 0.26s;
$duration-medium: 0.4s;
$duration-normal: 0.6s;
$duration-slow: 1s;

// Delay
$delay-none: 0s;

// Easing
$ease-standard: cubic-bezier(0.17, 0.04, 0.03, 0.94);
$ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
