/**
 * Layout
 */

// Margins
$margin-default: 20px;
$margin-medium: 15px;
$margin-small: 10px;

// Paddings
$padding-default: 20px;
$padding-medium: 15px;
$padding-small: 10px;

$block-text-width: 450px;


/**
 * Fonts
 */

/* Font weights */
$light: 100;
$regular: 400;
$medium: 400;
$bold: 600;
$semibold: 700;
$extrabold: 800;
$base-font-weight: $regular;

/* Font family */
$base-font-family: 'Proxima Nova'; //  'Montserrat', sans-serif förr
$base-heading-family: 'UniNeueHeavy';
$semi-heading-family: 'Proxima Nova';
$basic-heading-family: 'Proxima Nova';

/* Font sizes */
$base-font-size: 16px;
$size-large: 1.25rem;			/* 20px */
$size-medium: 1.125rem;			/* 18px */
$size-small: .875rem;			/* 14px */
$size-smaller: .813rem;			/* 13px */
$size-smallest: .75rem;			/* 12px */

/* Line height */
$base-line-height: 1.35;
$narrow-line-height: 1.25;

// Icons
$base-icon-family: "ml-icons";
$icon-chevron-down: "\e906";
$icon-chevron-up: "\e909";