/**
 * Layout
 */

// Margins
$margin-default: 20px;

// Paddings
$padding-default: 20px;

// Menu
$menu-height: 46px;
$account-height: 46px;
$top-padding: $menu-height + $account-height;


// Sidebar
$sidebar-width-mobile: 95px;
$sidebar-width-desktop: 245px;
$sidebar-total-width-mobile: $sidebar-width-mobile + $sidebar-width-desktop + 25;
$sidebar-total-width-desktop: $sidebar-width-desktop + $sidebar-width-desktop + 25;
$sidebar-logo-height: 90px;

/**
 * Fonts
 */

// Font weights
$light: 100;
$regular: 400;
$medium: 400;
$bold: 600;

// Base Font
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 20px;

// Base Headings
$base-heading-family: sans-serif;

/**
 * Colors
 */

// Opacity
$opacity-0: 0;
$opacity-1: 1.0;
$opacity-2: 0.87;
$opacity-3: 0.54;
$opacity-4: 0.22;
$opacity-5: 0.06;

// Basic colors
$color-white: #FFFFFF;
$color-white-2: rgba(255, 255, 255, $opacity-2);
$color-white-3: rgba(255, 255, 255, $opacity-3);
$color-white-4: rgba(255, 255, 255, $opacity-4);
$color-white-5: rgba(255, 255, 255, $opacity-5);

$color-black: #000000;
$color-black-2: rgba(0, 0, 0, $opacity-2);
$color-black-3: rgba(0, 0, 0, $opacity-3);
$color-black-4: rgba(0, 0, 0, $opacity-4);
$color-black-5: rgba(0, 0, 0, $opacity-5);

$color-transparent: rgba(0, 0, 0, $opacity-0);

// Theme Palette
$color-snow: #FFFFFF;
$color-space: #000;

$color-blue: #2074f2;
$color-green: #3BB566;
$color-turquoise: #4FB7BD;

$color-night: #131B39; // #151F36
$color-ocean: #37454E;
$color-blueberry: #536785;
$color-shore: #A2B6C2;
$color-sky: #86A3B5;
$color-cloud: #F2F5F7;
$color-feather: #DEE1E8;
$color: #626972;

// Color Scheme
$color-primary: $color-blue;
$color-accent: $color-green;
$color-complement-coral: $color-turquoise;

$color-base-primary: $color-night; // Logo
$color-base-secondary: $color-ocean; // Menu links
$color-base-complement: $color-blueberry;
$color-base-light: $color-sky; // Default button
$color-base-light-01: $color-sky; // Icons
$color-base-light-02: $color-cloud;
$color-base-light-03: $color-feather; // Borders, hover etc.



// Others
$color-dark: $color-space;
$color-light: $color-snow;
$color-overlay: rgba($color-base-primary, 0.8);

// States
$color-darken-amount: 10%;

/**
 * Animation
 */

// Duration
$duration-quick: 0.1s;
$duration-fast: 0.26s;
$duration-medium: 0.4s;
$duration-normal: 0.6s;
$duration-slow: 1s;

// Delay
$delay-none: 0s;

// Easing
$ease-standard: cubic-bezier(0.17, 0.04, 0.03, 0.94);
$ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
