@@include('layout/_header.html', {
	"class": "page-article logged-out"
})
<div class="msg-container ">
	<a href="#">
		<div class="new-message">
			<div class="col-xs-1 new-message__icon new-message__icon--ml2017">
				ML
			</div>
			<div class="col-xs-10 col-xs-offset-1 new-message__messagetext">
				<h6>Nytt meddelande</h6>
				<p>Du har en ny bonus att hämta!</p>
			</div>
			<button class="new-message__button" id="closemessage"><i class="icon icon-close"> </i></button>
		</div>
	</a>
</div>

@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})

<div class="content-wrapper ml-2017">
	@@include('blocks/_hero.html', {
	"hero_type": "mini",
	"hero_content": true,
	"h1": true,
	"h2": false
	})
	@@include('blocks/_promotion.html', {"blocks": "row_1"})
	@@include('blocks/_content.html', {"text_only": false})
	@@include('blocks/_promotion.html', {"blocks": "row_7"})
	@@include('blocks/_content.html', {"text_only": true})
	@@include('blocks/_promotion.html', {"blocks": "all"})
</div>

@@include('layout/_footer.html', {"show_footer": true})
