@@include('layout/_header.html', {
"class": "page-front logged-out"
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})-->

<div class="content-wrapper ml-2017">
	@@include('blocks/_hero.html', {
		"hero_type": "mini",
		"hero_content": true,
		"h1": true,
		"h2": true
	})
	@@include('blocks/_promotion.html', {"blocks": "row_1"})
	@@include('blocks/_content.html', {"text_only": false})
	@@include('blocks/_promotion.html', {"blocks": "row_7"})
	@@include('blocks/_content.html', {"text_only": true})
	@@include('blocks/_promotion.html', {"blocks": "all"})
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
