@@include('layout/_header.html', {
	"class": "page-front logged-out",
	"logged_in": false
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})-->

<div class="content-wrapper ml-2017">
	Content top
	@@include('blocks/_hero.html', {
		"hero_type": "full",
		"hero_align": "top",
		"hero_content": true
	})
	Content middle
	@@include('blocks/_hero.html', {
		"hero_type": "full",
		"hero_align": "middle",
		"hero_content": true
	})
	Content bottom
	@@include('blocks/_hero.html', {
		"hero_type": "full",
		"hero_align": "bottom",
		"hero_content": true
	})
	Color blue
	@@include('blocks/_hero.html', {
		"hero_type": "full",
		"hero_align": "bottom",
		"hero_content": true,
		"hero_color": "blue"
	})
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
