@@include('layout/_header.html', {
"class": "logged-in shop",
"logged_in": true
})

@@include('layout/_top-new2.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
	<div class="container">
		<section class="section">
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="s-video">
						<iframe
							loading="lazy"
							src="https://www.youtube.com/embed/EOQZ4VEi92M?rel=0"
							srcdoc="<style>*{padding:0;margin:0;overflow:hidden}body,html{height:100%}a{display:block}a>img{position:absolute;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;top:50%;left:0;right:0;transform:translate(0,-50%);margin:auto}span{display:flex;align-items:center;justify-content:center;position:absolute;width:64px;height:64px;border-radius:50%;top:50%;left:calc(50% + 7px);margin:-40px 0 0 -40px;box-sizing:border-box}span>img{display:block;width:64;height:auto}
							</style>
									<a href=https://www.youtube.com/embed/EOQZ4VEi92M?autoplay=1&rel=0>
										<img src=https://img.youtube.com/vi/EOQZ4VEi92M/maxresdefault.jpg>
										<span>
											<img src=assets/img/icons/play-btn2.svg>
										</span>
									</a>"
							frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })