@@include('layout/_header.html', {
"class": "page-front logged-in",
"logged_in": true
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
	<section class="slider-promo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="section__heading h3">Slider block New</h2>
				</div>
			</div>

			<div class="row equal-height">
				<div class="col-xs-12 col-sm-12 col-lg-4">
					<div class="slider-promo__content">
						<div class="slider-promo__content-inner">
							<h2 class="slider-promo__title">Ditt lottköp räddar liv. Varje dag.</h2>
							<div class="slider-promo__text">
								<p>Som en del av IOGT-NTO-rörelsen kämpar vi för en bättre värld. Ett samhälle där ingen far illa av alkohol och droger. Det betyder att för varje lott du köper hos Miljonlotteriet, går pengarna till livsviktiga aktiviteter för barn och vuxna. Sedan år 2000 har vi delat ut nära 2,3 miljarder kronor till IOGT-NTO-rörelsens verksamheter. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-8">
					@@include('blocks/_slider-block.html')
				</div>
			</div>
		</div>
	</section>

	@@include('blocks/_slider.html')
	@@include('blocks/_slider.html')
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
