<!-- 
  Use for text_block, image, primary CTA and secondary CTA "display": "block" for show and "none" for hide
  Use list:type = checkmarks/numbers
  Use for checkmarks list:color = blue/white/yellow/rose 
  Use for list text_color:white/blue
  Use for button type: solid, border, link
 -->
@@include('layout/_header.html', {
"class": "page-front logged-out",
"logged_in": false
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })
 

<div class="content-wrapper ml-2017">
  @@include('blocks/_hero-v2.html', {
  "bg-image":{
    "desktop": '/assets/img/background/hero_BG_v2.1.png',
    "tablet": '/assets/img/background/hero_BG_v2.1.png',
    "mobile": '/assets/img/background/hero_BG_v2.1.png',
  },
  "hero_align": "top",
  "hero_width": "50%",
  "title_cta_color": "yellow",
  "title": {
    "drop_shadow": "false",
    "font": "Zing",
  },
  "image":{
    "desktop": "assets/img/mockup/hero-v2-image.png",
    "tablet": "assets/img/mockup/hero-v2-tablet-image.png",
    "mobile": "assets/img/mockup/hero-v2-mobile-image.png",
    "display": "block"
  },
  "text_block":{
    "display": "none", 
    "font": "Proxima",
    "drop_shadow": "true",
  },
  "list": {
    "display": "block", 
    "color": "yellow",
    "type": "numbers",
    "text_color": "white",
    "font": "Proxima",
    "drop_shadow": "false",
  },

  "primary_cta":{
    "display":"block",
    "color":"white",
    "font": "Apercu",
    "drop_shadow": "true",
  },
  "secondary_cta":{
    "display":"block",
    "type":{
      "desktop":"solid",
      "tablet":"border",
      "mobile":"link"
    },
    "color":"white",
    "font": "Apercu",
    "drop_shadow": "false",
  }

  })
 
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })