@@include('layout/_header.html', {
	"class": "logged-in",
	"logged_in": true
	})
	
	@@include('layout/_top-new.html', { "logged_in": true, "show_cart": true })
	
	<div class="content-wrapper ml-2017">
		<div class="container container--center">
			<section class="section" style="padding: 60px 0;">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">

							<div class="accordion">
								<div class="accordion__title active">
								<h2 class="h2">Bra att veta</h2>
								<i class="icon icon-chevron-down icon-size-small"></i>
							</div>
								<div class="accordion__content accordion__content--list">
									<div class="accordion__content-inner">
										<ul>
											<li>Hundratusentals vinster nästa månad</li>
											<li>Du får din vinst automatiskt via vinstbevakning</li>
											<li>170 kr/mån per lott utan bindningstid</li>
											<li>Vinstchans varje dag – alla vinster är skattefria</li>
											<li>Avsluta när du vill via e-post eller telefon</li>
											<li>Över 30 % av lottpriset till välgörenhet</li>
										</ul>
									</div>
								</div>
							</div>

						</div>


						<div class="col-xs-12">
							<div class="accordion">
								<div class="accordion__title">
									<h2 class="h2">Bra att veta</h2>
									<i class="icon icon-chevron-down icon-size-small"></i>
								</div>
								<div class="accordion__content accordion__content--column">
									<div class="accordion__column accordion__column--thumb">
										<img src="assets/img/subscription/s-reg-total.png" alt="">
									</div>
									<div class="accordion__column">
										<p>Accusantium ea obcaecati omnis praesentium vitae! Aliquam atque cum dicta, dolore eius
											explicabo facere fugiat perspiciatis quisquam, reprehenderit ullam, veritatis! Accusamus alias
											animi dicta harum perspiciatis repellat reprehenderit ullam veniam.
										</p>
										<p>Aliquid at ea incidunt magnam neque similique temporibus veritatis! Beatae error et inventore
											itaque minima modi placeat, tempore totam ullam velit. Accusantium, commodi doloribus eius
											officiis placeat ratione sequi suscipit?
										</p>
										<p>A alias animi asperiores commodi consequatur delectus, facilis fuga illum in itaque iusto
											laborum maxime, mollitia nam nemo nesciunt, numquam odio officiis provident quas repudiandae rerum
											tempora tenetur vitae voluptatibus.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="accordion">
								<div class="accordion__title">
									<h2 class="h2">Bra att veta</h2>
									<i class="icon icon-chevron-down icon-size-small"></i>
								</div>
								<div class="accordion__content accordion__content--column">
									<div class="accordion__column">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur consequuntur eius
											enim ex impedit itaque iure nihil nobis nostrum perferendis quae, quis quo quod reiciendis sequi
											sit, veritatis voluptatibus?
										</p>
										<p>Ab ad adipisci cupiditate dicta dignissimos ea eligendi ex explicabo harum id libero molestiae
											necessitatibus nemo, nihil perspiciatis quibusdam quidem quo similique soluta voluptatem? Alias
											assumenda perspiciatis praesentium quae veniam.
										</p>
										<p>Ad atque consequuntur ea est exercitationem hic ipsam iure, iusto laudantium neque omnis
											perferendis possimus provident quae rem saepe sequi sint ullam voluptate voluptatibus! Possimus
											quisquam reiciendis reprehenderit voluptate voluptatem.
										</p>
									</div>
									<div class="accordion__column">
										<p>Accusantium ea obcaecati omnis praesentium vitae! Aliquam atque cum dicta, dolore eius
											explicabo facere fugiat perspiciatis quisquam, reprehenderit ullam, veritatis! Accusamus alias
											animi dicta harum perspiciatis repellat reprehenderit ullam veniam.
										</p>
										<p>Aliquid at ea incidunt magnam neque similique temporibus veritatis! Beatae error et inventore
											itaque minima modi placeat, tempore totam ullam velit. Accusantium, commodi doloribus eius
											officiis placeat ratione sequi suscipit?
										</p>
										<p>A alias animi asperiores commodi consequatur delectus, facilis fuga illum in itaque iusto
											laborum maxime, mollitia nam nemo nesciunt, numquam odio officiis provident quas repudiandae rerum
											tempora tenetur vitae voluptatibus.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">

							<div class="accordion">
								<div class="accordion__title active">
									<h2 class="h2">Bra att veta</h2>
									<i class="icon icon-chevron-down icon-size-small"></i>
								</div>
								<div class="accordion__content accordion__content--list">
									<div class="accordion__content-inner">
										<ul>
											<li>Hundratusentals vinster nästa månad</li>
											<li>Du får din vinst automatiskt via vinstbevakning</li>
											<li>170 kr/mån per lott utan bindningstid</li>
											<li>Vinstchans varje dag – alla vinster är skattefria</li>
											<li>Avsluta när du vill via e-post eller telefon</li>
											<li>Över 30 % av lottpriset till välgörenhet</li>
										</ul>
									</div>
								</div>
								<div class="accordion__title active">
									<h2 class="h2">Bra att veta</h2>
									<i class="icon icon-chevron-down icon-size-small"></i>
								</div>
								<div class="accordion__content accordion__content--list">
									<div class="accordion__content-inner">
										<ul>
											<li>Hundratusentals vinster nästa månad</li>
											<li>Du får din vinst automatiskt via vinstbevakning</li>
											<li>170 kr/mån per lott utan bindningstid</li>
											<li>Vinstchans varje dag – alla vinster är skattefria</li>
											<li>Avsluta när du vill via e-post eller telefon</li>
											<li>Över 30 % av lottpriset till välgörenhet</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	
	@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
	
	
	
	