@@include('layout/_header.html', {
"class": "logged-in shop",
"logged_in": true
})

@@include('layout/_top-new2.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
	<div class="container">
		<section class="section">
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-02.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_head">
										<h5>Anslut autogiro eller E-faktura</h5>
									</div>
									<div class="ag__sform_text">
										<p>Du får därefter 500 kr laddat på ditt vinstkonto för att välja valfri premie ur vinstshopen.</a></p>
									</div>

									<div class="contain-form-checkbox">
										<div class="form-checkbox">
											<input class="form_input_checkbox" id="m-faktura" type="radio" name="e-radio">
											<label class="form_label_checkbox" for="m-faktura">Betala med Faktura</label>
										</div>

										<div class="form-checkbox">
											<input class="form_input_checkbox" id="e-faktura" type="radio" name="e-radio">
											<label class="form_label_checkbox" for="e-faktura">Betala med E-faktura</label>
										</div>
									</div>

									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success disabled w-100" disabled>Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_head">
										<h5>Anslut autogiro eller E-faktura</h5>
									</div>
									<div class="ag__sform_text">
										<p>Du får därefter 500 kr laddat på ditt vinstkonto för att välja valfri premie ur vinstshopen.</a></p>
									</div>

									<div class="contain-form-checkbox">
										<div class="form-checkbox">
											<input class="form_input_checkbox" id="m-faktura2" type="radio" name="e-radio">
											<label class="form_label_checkbox" for="m-faktura2">Betala med Faktura</label>
										</div>

										<div class="form-checkbox">
											<input class="form_input_checkbox" id="e-faktura2" type="radio" name="e-radio">
											<label class="form_label_checkbox" for="e-faktura2">Betala med E-faktura</label>
										</div>
									</div>

									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success disabled w-100" disabled>Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_get_home">
										<a href="#">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12" cy="12" r="12" fill="#C9E8F4"/>
												<path d="M13 7L8 12L13 17" stroke="#053A53" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
											Tillbaka
										</a>
									</div>


									<div class="form-checkbox not-line">
										<input class="form_input_checkbox" id="m-faktura3" type="radio" name="e-radio" checked>
										<label class="form_label_checkbox" for="m-faktura3">Betala med Autogiro</label>
									</div>

									<div class="ag-form-row">
										<div class="ag-col col-cvv">
											<div class="col-ag-reset">
												<button id="ag-reset" class="ag-reset" type="reset">Clearing</button>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="white"></circle>
													<path fill-rule="evenodd" clip-rule="evenodd"
														  d="M5.625 2.4375C5.625 2.7525 5.34354 3.0075 4.99586 3.0075C4.65646 3.0075 4.375 2.7525 4.375 2.4375C4.375 2.1225 4.65646 1.875 4.99586 1.875C5.34354 1.875 5.625 2.1225 5.625 2.4375ZM4.47434 7.02H5.52566V3.3975H4.47434V7.02Z"
														  fill="#0B3B54"></path>
												</svg>
											</div>

											<label class="display-none" for="in_cvv">1234</label>
											<input id="in_cvv" type="text" class="form-control" placeholder="1234" aria-describedby="cvv_help">
											<small id="cvv_help" class="form-text text-muted">Välj bank</small>
										</div>

										<div class="ag-col col-num">
											<label class="ag-label" for="in_card_num">Kontonummer</label>
											<input id="in_card_num" type="text" class="form-control" placeholder="1234 0000 0000 0000" onchange="eventForm()">
										</div>
									</div>
									<div id="inval-txt" class="ag-col invalid-text">
										Du behöver fylla i dina bankuppgifter innan du går vidare.
									</div>
									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success disabled w-100" disabled>Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_get_home">
										<a href="#">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12" cy="12" r="12" fill="#C9E8F4"/>
												<path d="M13 7L8 12L13 17" stroke="#053A53" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
											Tillbaka
										</a>
									</div>


									<div class="form-checkbox not-line">
										<input class="form_input_checkbox" id="m-faktura4" type="radio" name="e-radio" checked>
										<label class="form_label_checkbox" for="m-faktura4">Betala med Autogiro</label>
									</div>

									<div class="ag-form-row">
										<div class="ag-col col-cvv">
											<div class="col-ag-reset">
												<button id="ag-reset2" class="ag-reset" type="reset">Clearing</button>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="white"></circle>
													<path fill-rule="evenodd" clip-rule="evenodd"
														  d="M5.625 2.4375C5.625 2.7525 5.34354 3.0075 4.99586 3.0075C4.65646 3.0075 4.375 2.7525 4.375 2.4375C4.375 2.1225 4.65646 1.875 4.99586 1.875C5.34354 1.875 5.625 2.1225 5.625 2.4375ZM4.47434 7.02H5.52566V3.3975H4.47434V7.02Z"
														  fill="#0B3B54"></path>
												</svg>
											</div>

											<label class="display-none" for="in_cvv">1234</label>
											<input id="in_cvv2" type="text" class="form-control invalid" placeholder="1234" aria-describedby="cvv_help">
											<small id="cvv_help2" class="form-text text-muted">Välj bank</small>
										</div>

										<div class="ag-col col-num">
											<label class="ag-label" for="in_card_num2">Kontonummer</label>
											<input id="in_card_num2" type="text" class="form-control" placeholder="1234 0000 0000 0000" onchange="eventForm()">
										</div>
									</div>
									<div id="inval-txt" class="ag-col invalid-text visible">
										Du behöver fylla i dina bankuppgifter innan du går vidare.
									</div>
									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success disabled w-100" disabled>Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_get_home">
										<a href="#">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12" cy="12" r="12" fill="#C9E8F4"/>
												<path d="M13 7L8 12L13 17" stroke="#053A53" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
											Tillbaka
										</a>
									</div>


									<div class="form-checkbox not-line">
										<input class="form_input_checkbox" id="m-faktura5" type="radio" name="e-radio" checked>
										<label class="form_label_checkbox" for="m-faktura5">Betala med Autogiro</label>
									</div>

									<div class="ag-form-row">
										<div class="ag-col col-cvv">
											<div class="col-ag-reset">
												<button id="ag-reset3" class="ag-reset" type="reset">Clearing</button>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="white"></circle>
													<path fill-rule="evenodd" clip-rule="evenodd"
														  d="M5.625 2.4375C5.625 2.7525 5.34354 3.0075 4.99586 3.0075C4.65646 3.0075 4.375 2.7525 4.375 2.4375C4.375 2.1225 4.65646 1.875 4.99586 1.875C5.34354 1.875 5.625 2.1225 5.625 2.4375ZM4.47434 7.02H5.52566V3.3975H4.47434V7.02Z"
														  fill="#0B3B54"></path>
												</svg>
											</div>

											<label class="display-none" for="in_cvv5">1234</label>
											<input id="in_cvv5" type="text" class="form-control" placeholder="1234" aria-describedby="cvv_help5">
											<small id="cvv_help5" class="form-text text-muted">Välj bank</small>
										</div>

										<div class="ag-col col-num">
											<label class="ag-label" for="in_card_num5">Kontonummer</label>
											<input id="in_card_num5" type="text" class="form-control" placeholder="1234 0000 0000 0000" onchange="eventForm()">
										</div>
									</div>
									<div id="inval-txt" class="ag-col invalid-text">
										Du behöver fylla i dina bankuppgifter innan du går vidare.
									</div>
									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success w-100">Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>

									<div class="ag-multi-head2">
										Du är nu ansluten till autogiro!
									</div>
									<div class="ag-multi-textag-multi-text2">
										Du har nu 500 kr laddat på ditt vinstkonto. Från och med nästkommande månad kommer din månadsavgift betalas automatiskt.
									</div>

									<div class="justify-content-center">
										<button class="btn-invert">Gå till vinstshoppen</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro eller E-faktura
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-03.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_get_home">
										<a href="#">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="12" cy="12" r="12" fill="#C9E8F4"/>
												<path d="M13 7L8 12L13 17" stroke="#053A53" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
											Tillbaka
										</a>
									</div>


									<div class="form-checkbox not-line">
										<input class="form_input_checkbox" id="m-faktura7" type="radio" name="e-radio" checked>
										<label class="form_label_checkbox" for="m-faktura7">Betala med Autogiro</label>
									</div>

									<div class="form-group responsive-table-filter ag-tab">
										<label class="form_label" for="tableSelect">Välj Bank</label>
										<select id="tableSelect" class="table-select form-control select2-hidden-accessible" name="tableSelect" tabindex="-1" style="" aria-hidden="true" aria-describedby="tableSelect2">
											<option value="b_0" id="b_0">Välj din bank</option>
											<option value="b_1" id="b_1">Swedbank</option>
											<option value="b_2" id="b_2">Handelsbanken</option>
											<option value="b_3" id="b_3">Nordea</option>
											<option value="b_4" id="b_4">SEB</option>
										</select>
									</div>
									<div id="inval-txt" class="ag-col invalid-text">
										Du behöver fylla i dina bankuppgifter innan du går vidare.
									</div>
									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button class="btn-success disabled w-100" disabled>Slutför</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-5">
				<div class="col-md-6 col-xs-12">
					<div class="ag__check">
						<div class="ag__check_imag">
							<div class="ag__check_imag-head text-align-center">
								<h4>Välj en premie</h4>
							</div>
							<div class="ag__check_imag-text text-align-center">
								värde 500 kr
							</div>
							<div class="ag__check_imag-text text-align-center">
								när du ansluter autogiro
							</div>
							<div class="ag__check_imag-imag">
								<img src="assets/img/newsletter-form-02.png" alt="img">
							</div>
						</div>
						<div class="ag__check_form">
							<div class="ag__check_form-form">
								<form>
									<div class="ag__sform_head">
										<h5>Få mer av våra nyhetsbrev!</h5>
									</div>
									<div class="ag__sform_text">
										<p>Du får därefter 500 kr laddat på ditt vinstkonto för att välja valfri premie ur <a href="#">vinstshopen.</a></p>
									</div>

									<div class="form-group responsive-table-filter ag-tab">
										<label class="form_label" for="tableSelect">Välj Bank</label>
										<select id="tableSelect" class="table-select form-control" name="tableSelect">
											<option value="b_0" id="b_0">Välj din bank</option>
											<option value="b_1" id="b_1">Swedbank</option>
											<option value="b_2" id="b_2">Handelsbanken</option>
											<option value="b_3" id="b_3">Nordea</option>
											<option value="b_4" id="b_4">SEB</option>
										</select>
									</div>
									<div class="form-group responsive-table-filter ag-tab">
										<label class="form_label" for="tableSelect2">Välj BankID-enhet</label>
										<select id="tableSelect2" class="table-select form-control" name="tableSelect">
											<option value="o_0" id="o_0">BankID på annan enhet</option>
											<option value="o_1" id="o_1">Option 1</option>
											<option value="o_2" id="o_2">Option 2</option>
											<option value="o_3" id="o_3">Option 3</option>
											<option value="o_4" id="o_4">Option 4</option>
										</select>
									</div>
									<div class="form-group">
										<div class="ag-tab-text">
											Genom att klicka på ”Fortsätt” godkänner du att vi hämtar dina bankuppgifter. <a href="#">Läs mer om våra villkor</a>
										</div>
									</div>
									<div class="justify-content-center">
										<button type="submit" class="btn-ag">
											Fortsätt med BankID
											<img src="/assets/img/icons/bankid_v_high_rgb.svg" alt="img">
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })