@@include('layout/_header.html', {
"class": "logged-in shop",
"logged_in": true
})

@@include('layout/_top-new2.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<section class="content-wrapper ml-2017">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 m-5">
				<div class="newsletter__sform">
					<form>
						<div class="newsletter__sform_head">
							<h4>Få mer av våra nyhetsbrev!</h4>
						</div>
						<div class="newsletter__sform_text">
							<p>Registrera dig till våra nyhetsbrev fyllda med inspiraion och erbjudanden:</p>
						</div>
						<div class="form-group">
							<label class="form_label" for="in-mail">Din e-postadress</label>
							<input type="email" class="form-control" id="in-mail">
						</div>
						<div class="justify-content-center">
							<button type="submit" class="btn btn-primary text-center">Registrera</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-12 m-5">
				<div class="newsletter__success">
					<div class="newsletter__success_head text-align-center">
						<h4>Du är nu registrerad</h4>
					</div>
					<div class="newsletter__success_text text-align-center">
						<p>Snart kommer ditt första nyhetsbrev trilla in i din inbox!</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 m-5">
				<div class="newsletter__check">
					<div class="newsletter__check_imag">
						<div class="newsletter__check_imag-head text-align-center">
							<h4>Välj en premie</h4>
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							värde 100 kr
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							när du registrerar dig till våra nyhetsbrev
						</div>
						<div class="newsletter__check_imag-imag">
							<img src="assets/img/newsletter-form-01.png" alt="img">
						</div>
					</div>
					<div class="newsletter__check_form">
						<div class="newsletter__check_form-form">
							<form>
								<div class="newsletter__sform_head">
									<h4>Få mer av våra nyhetsbrev!</h4>
								</div>
								<div class="newsletter__sform_text">
									<p>Ta del av våra nyhetsbrev fyllda med inspiraion och erbjudanden! Registrerar du dig nu får du dessutom 100 kr laddat på ditt vinstkonto för att välja valfri
										premie ur vinstshoppen.</p>
								</div>
								<div class="form-group">
									<label class="form_label" for="in-mail2">Ange din e-postadress</label>
									<input type="email" class="form-control" id="in-mail2">
								</div>
								<div class="justify-content-center">
									<button type="submit" class="btn btn-primary text-center">Registrera</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 m-5">
				<div class="newsletter__check">
					<div class="newsletter__check_imag">
						<div class="newsletter__check_imag-head text-align-center">
							<h4>Välj en premie</h4>
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							värde 100 kr
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							när du registrerar dig till våra nyhetsbrev
						</div>
						<div class="newsletter__check_imag-imag">
							<img src="assets/img/newsletter-form-01.png" alt="img">
						</div>
					</div>
					<div class="newsletter__check_form align-middle">
						<div class="newsletter__check_form-form">
							<form>
								<div class="newsletter__sform_head text-align-center">
									<h4>Du är nu registrerad!</h4>
								</div>
								<div class="newsletter__sform_text text-align-center">
									<p>Du har nu 100 kr laddat på ditt vinstkonto. Snart kommer ditt första nyhetsbrev trilla in i din inkorg!</p>
								</div>
								<div class="justify-content-center">
									<button type="submit" class="btn btn-primary text-center">Gå till vinstshoppen</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 m-5">
				<div class="newsletter__check">
					<div class="newsletter__check_imag">
						<div class="newsletter__check_imag-head text-align-center">
							<h4>Välj en premie</h4>
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							värde 100 kr
						</div>
						<div class="newsletter__check_imag-text text-align-center">
							när du registrerar dig till våra nyhetsbrev
						</div>
						<div class="newsletter__check_imag-imag">
							<img src="assets/img/newsletter-form-01.png" alt="img">
						</div>
					</div>
					<div class="newsletter__check_form">
						<div class="newsletter__check_form-form">
							<form>
								<div class="newsletter__sform_head">
									<h4>Få mer av våra nyhetsbrev!</h4>
								</div>
								<div class="newsletter__sform_text">
									<p>Ta del av våra nyhetsbrev fyllda med inspiraion och erbjudanden! Registrerar du dig nu får du dessutom 100 kr laddat på ditt vinstkonto för att välja valfri
										premie ur vinstshoppen.</p>
								</div>
								<div class="form-group">
									<label class="form_label" for="in-mail3">Ange din e-postadress</label>
									<input type="email" class="form-control not-valid" id="in-mail3">
									<div class="text-not-valid">
										Du behöver välja din bank innan du går vidare.
									</div>
								</div>
								<div class="justify-content-center">
									<button type="submit" class="btn btn-primary text-center">Registrera</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
