@@include('layout/_header.html', {
"class": "logged-in shop",
"logged_in": true
})

@@include('layout/_top-new2.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
	<div class="container">
		<section class="section m-5">
			<div class="row m-5">
				<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 wallet__wrapper">
					<a href="#Vinstkonto" class="wallet">
						<div class="wallet__pink">
							<div class="wallet__pink_icon">
								<img src="/assets/img/icons/wallet-vinst.svg" alt="img">
							</div>
							<div class="wallet__pink_name">
								Vinstkonto:
							</div>
							<div class="wallet__pink_numb">0 kr</div>
						</div>
						<div class="wallet__text">
							Här samlas de vinster som du kan använda för att beställa produkter ur vår vinstshop.
						</div>
					</a>
					<a href="#Spelplånbok" class="wallet">
						<div class="wallet__yellow">
							<div class="wallet__yellow_icon ">
								<img src="/assets/img/icons/wallet-spel.svg" alt="img">
							</div>
							<div class="wallet__yellow_name">
								Spelplånbok:
							</div>
							<div class="wallet__yellow_numb">20 kr</div>
						</div>
						<div class="wallet__text">
							I spelplånboken finns de pengar du kan använda till våra spel och lotter online.
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 wallet__wrapper">
					<a href="#Spelplånbok" class="wallet">
						<div class="wallet__yellow">
							<div class="wallet__yellow_icon ">
								<img src="/assets/img/icons/wallet-spel.svg" alt="img">
							</div>
							<div class="wallet__yellow_name">
								Spelplånbok:
							</div>
							<div class="wallet__yellow_numb">20 kr</div>
						</div>
						<div class="wallet__text">
							I spelplånboken finns de pengar du kan använda till våra spel och lotter online.
						</div>
					</a>
					<a href="#Vinstkonto" class="wallet">
						<div class="wallet__pink">
							<div class="wallet__pink_icon">
								<img src="/assets/img/icons/wallet-vinst.svg" alt="img">
							</div>
							<div class="wallet__pink_name">
								Vinstkonto:
							</div>
							<div class="wallet__pink_numb">0 kr</div>
						</div>
						<div class="wallet__text">
							Här samlas de vinster som du kan använda för att beställa produkter ur vår vinstshop.
						</div>
					</a>
				</div>
			</div>

		</section>
	</div>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })