@@include('layout/_header.html', {
    "class": "page-bingolobby logged-out",
    "logged_in": false
    })

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })

<div class="content-wrapper ml-2017">

    <section class="schema-tabs m-3 mt-30">
        <div class="container">
            <h3>Usual without options (Media video)</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "video"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Usual Media image (works with all other options)</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "image"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Only Media</h3>

            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "onlyMedia": true,
                            "media": "video"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Media btn true</h3>
            <div class="schema-tabs__head-container">
                <a href="#panel__howitworks" class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "mediaBtn": true,
                            "media": "video"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Revert content on desktop</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "revert": "revert-D",
                            "media": "video"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Media video only media block on mobile width</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "video",
                            "onlyMedia": "mobile"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">No media block on mobile</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "video",
                            "noMediaOnMobile": true
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Media Revert on mobile</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "video",
                            "revert": "revert-M"
                        })
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-60">
            <h3 class="mt-60">Media Revert on desktop and mobile</h3>
            <div class="schema-tabs__head-container">
                <a class="schema-tabs__head-item active">Så funkar det</a>
            </div>
    
            <div class="schema-tabs__panels-container">
                <div class="schema-tabs__panel active" id="panel__howitworks">
                    <div class="schema-tabs__panel-content">
                        @@include('blocks/schema-tabs/_media-block.html', { 
                            "media": "video",
                            "revert": "revert-D-M"
                        })
                    </div>
                </div>
            </div>
        </div>
    </section>

    

</div>


@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })