<!-- 
	!!! Use "block_type": block for display 1- or 2-cluns block. This parameter is requered for blocks

	Use "columns" = 1 or 2 for block width
	Use "blockHasInput" = true or false for display input and button or button only
	Use "modal" for display modal window. modal parameter hasInput shows input in modal
	Parameters "title" and "subTitle" are using for texts on the blocks. "successTitle" and "successSubTitle" are using for success blocks
 -->

@@include('layout/_header.html', {
"class": "page-front logged-in",
"logged_in": true
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })


<div class="content-wrapper register-lottery-wrap ml-2017">
	<div class="container">
		<div class="row register-lottery-wrap equal-height">
			<div class="col-md-6">
				<!-- register-bonusar styles in the register-lottery.scss -->
				<div class="register-lottery register-bonusar">
					<h1>Aktivera bonus</h1>
					<p>Fyll i din bonuskod i fälten nedan och klicka på ”Aktivera”. Dina aktiverade bonusar hamnar i din lista
						under ”Mina bonusar”.</p>

					<!-- Current js script is register-lottery.js but it specific only for #lotterynumberinput id (mask and popover) -->
					<form method="post" action="/" class="js-bonus-block" data-form-type="register">
						<input id="bonusactivationinput" name="lotterynumber" class="btn-bonus">
						<span class="loader">
							<span class="dots-circle-spinner loading text-color-white"></span>
						</span>
						<button class="btn btn-success js-btn-success btn-bonus" data-text-success="Aktiverad"
						id="bonus_activation">Aktivera</button>
					</form>

					<div class="result js-register-lottery-result">

					</div>
				</div>
			</div>

			
			



		
		</div>

		<!-- START another options of bonus-block -->
		<div class="row register-lottery-wrap equal-height">

			@@include('blocks/_bonus-page.html',{
				"block_type": "block",
				"columns": 2,
				"blockHasInput": false,
				"title": "Bingobonus! Spela Stjärnjacken – få 100 kr i din spelplånbok",
				"subtitle":"Lorem ipsum dolor set orem ipsum dolor set orem ipsum dolor setorem ipsum dolor set. Giltig t o m: 2023-01-31.",
				//"modal":{
				//	"hasInput":false
				//}
			})
			
		
			@@include('blocks/_bonus-page.html', {
				"block_type": "block",
				"columns": 1,
				"blockHasInput":false,
				"title":"Bingobonus! Spela Stjärnjacken – få 100 kr i din spelplånbok",
				"subTitle":"Gäller t o m: 2023-01-31",
				"successTitle": "Nyårsbonus! Spela Zoobaloo för 100 kr – få 50 kr tillbaka",
				"successSubTitle": "Gäller t o m: 2023-01-31",
				"modal":{
					"hasInput":true
				}
				})

				@@include('blocks/_bonus-page.html', {
								"block_type": "block",
								"columns": 1,
								"blockHasInput":true,
								"title":"Bingobonus! Spela Stjärnjacken – få 100 kr i din spelplånbok",
								"subTitle":"Gäller t o m: 2023-01-31",
								"successTitle": "Nyårsbonus! Spela Zoobaloo för 100 kr – få 50 kr tillbaka",
								"successSubTitle": "Gäller t o m: 2023-01-31",
								//"modal":{
								//	"hasInput":true
								//}
								})
		</div>
		
		<!-- END another options of bonus-block -->

	</div>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })