@@include('layout/_header.html', {
"class": "page-front logged-in",
"logged_in": true
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->


<div class="content-wrapper ml-2017">
	<div class="my-pages container">

		<div class="block block-hero block-hero--mini">
			<h1 class="block-hero__page-title">
				Spela Bingo och skrapa lotter hos Miljonlotteriet
			</h1>
			<h2 class="h1 no-spacing">Bonuskod</h2>
		</div>

		<section class="section block bonus-code">

			<div class="bonus-code__form">
				<p>Har du en bonuskod? Skriv in den här så får du din bonus insatt direkt</p>

				<form id="bonus-code-form" action="/ajax/json/bonus-code-response.json" method="get"
					  data-toggle="validator">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="form-group">
								<input class="form-control"
									   type="text"
									   placeholder="Ange bonuskod"
									   data-required-error="Du måste fylla i detta fält."
									   required>
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-2">
							<button type="submit" class="btn btn-primary">Hämta</button>
						</div>
					</div>
				</form>
			</div>

			<div class="bonus-code__success bonus-code__message">
				<p>Din bonuskod är nu hämtad.</p>
				<button type="button" class="btn btn-primary js-another-bonus-code">Hämta en till</button>
			</div>

			<div class="bonus-code__error bonus-code__message">
				<p>
					Något gick snett. Antingen har du redan använt koden, angett fel kod eller så gäller inte bonuskoden
					längre. <br>
					Kontrollera koden samt villkoren för bonusen och prova igen.</p>
			</div>

		</section>

	</div>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })