@@include('layout/_header.html', {
	"class": "page-front logged-out"
	})

	@@include('layout/_top-simple.html')

<div class="content-wrapper ml-2017 content-wrapper_campaign">
	
    @@include('blocks/_campaign-header.html', {"page": "bingo", "header": "3-col"})

    <!-- 
		class .campaign__howitworks_onlyMedia-M if no content ON MOBILE only works 
		class .campaign__howitworks_onlyMedia if no content ON ALL width works 
		class .campaign__howitworks_mediaBtn if no content but with button ON ALL width works

		class .campaign__howitworks_revert-D if media-left and content-right ON DESKTOP only works
		class .campaign__howitworks_revert-M if media-bottom and content-top ON MOBILE only works

		class .campaign__howitworks_noMedia-M if no media content ON MOBILE only works
	-->
    <section class="campaign__howitworks m-3">
        <div class="container">
            @@include('blocks/schema-tabs/_media-block.html', {"in_tabs": false, "media": "video"})
        </div>
    </section>
	
    <section class="s-winners section s-winners_campaign">
		<div class="container">
			<div class="s-winners__inner">
				<div class="winners-title">Senaste vinnarna:</div>
				<div class="winners-slider"></div>
			</div>
		</div>
	</section>

    @@include('blocks/schema-tabs/_schema-tabs-section.html', {"page": "campaign", "modal_schemas": "simple"})

    <section class="allbingos block-title-wrap mt-70">
        <div class="container">
            <h2 class="h2 block-title-marked block-title-marked--dark-blue block-title-marked--big">Alla bingospel</h2>

            <div class="block-bingo block-bingo-slider">
                <div class="block-bingo__slide">
                    <article class="block-bingo-item">
                        <div class="lottery-top">
							<div class="img">
								<img src="assets/img/mockup/Zoobaloobingo_bingologo.png" alt="Zoobaloo">
							</div>
							<div class="lottery-price">10 kr</div>
							<button type="button" class="bingo-info-btn" data-target="#bingoinfo-variantbingo-1">i</button>
						</div>

                        <div class="lottery-bottom">
							<div class="title">Zoobaloo</div>
							<div class="text">Klassiskt bingo skapad tillsammans med kunder!</div>
						</div>
                    </article>
                </div>

                <div class="block-bingo__slide">
                    <article class="block-bingo-item">
                        <div class="lottery-top">
							<div class="img">
								<img src="assets/img/mockup/MinaSenasteSpel_Himlaspelet.png" alt="Himlaspelet">
							</div>
							<div class="lottery-price">2 kr</div>
							<button type="button" class="bingo-info-btn" data-target="#bingoinfo-variantbingo-2">i</button>
						</div>

                        <div class="lottery-bottom">
							<div class="title">Himlaspelet</div>
							<div class="text">Klassiskt bingo för endast 2 kronor!</div>
						</div>
                    </article>
                </div>

                <div class="block-bingo__slide">
                    <article class="block-bingo-item">
                        <div class="lottery-top">
							<div class="img">
								<img src="assets/img/mockup/tornadobingo.png" alt="Tornadobingo">
							</div>
							<div class="lottery-price">10 kr</div>
							<button type="button" class="bingo-info-btn" data-target="#bingoinfo-variantbingo-3">i</button>
						</div>

                        <div class="lottery-bottom">
							<div class="title">Tornadobingo</div>
							<div class="text">Mönsterbingo där vinsten delas med alla!</div>
						</div>
                    </article>
                </div>

                <div class="block-bingo__slide">
                    <article class="block-bingo-item">
                        <div class="lottery-top">
							<div class="img">
								<img src="assets/img/mockup/Stjrnskottet.png" alt="Stjärnskottet">
							</div>
							<div class="lottery-price">10 kr</div>
							<button type="button" class="bingo-info-btn" data-target="#bingoinfo-variantbingo-4">i</button>
						</div>

                        <div class="lottery-bottom">
							<div class="title">Stjärnskottet</div>
							<div class="text">Variantbingo där spelets jackpott smäller riktigt ofta!</div>
						</div>
                    </article>
                </div>

                <div class="block-bingo__slide">
                    <article class="block-bingo-item">
                        <div class="lottery-top">
							<div class="img">
								<img src="assets/img/mockup/Zoobaloobingo_bingologo.png" alt="Zoobaloo">
							</div>
							<div class="lottery-price">10 kr</div>
							<button type="button" class="bingo-info-btn" data-target="#bingoinfo-variantbingo-5">i</button>
						</div>

                        <div class="lottery-bottom">
							<div class="title">Zoobaloo</div>
							<div class="text">Klassiskt bingo skapad tillsammans med kunder!</div>
						</div>
                    </article>
                </div>
            </div>
        </div>
    </section>

	<section class="bingoinfo-modals" id="bingoinfo-variantbingo-1">
		<div class="bingoinfo-modals__wrapper">
			<div class="bingoinfo-modals__close">
				<a href="#" class="modal-btn-close js-modal-btn-close" data-target="#bingoinfo-variantbingo-1">Close</a>
			</div>

			<div class="bingoinfo-modals__panel">
				<div class="bingoinfo-modals__bg">
					<img src="assets/img/mockup/bingoinfo-bg.png" alt="Background">
				</div>

				<div class="bingoinfo-modals__logo">
					<img src="assets/img/mockup/bingoinfo-overlay-logo.png" alt="Logo">
				</div>

				<div class="bingoinfo-modals__title">
					Att Stjärnjacken är en av våra populäraste bingospel är inte så konstigt, lorem ipsum lorem ipsum ipsum ipsum!
				</div>

				<div class="bingoinfo-modals__values">
					<div class="bingoinfo-modals__values-item">
						<span>Pris</span>
						<span><b>9 kr</b></span>
					</div>

					<div class="bingoinfo-modals__values-item">
						<span>Start-jackpott</span>
						<span><b>10 000 kr</b></span>
					</div>

					<div class="bingoinfo-modals__values-item">
						<span>Antal bollar</span>
						<span><b>75 st</b></span>
					</div>
				</div>

				<div class="bingoinfo-modals__image">
					<img src="assets/img/mockup/bingoinfo-overlay-mönster-variantbingo.png" alt="Image">
				</div>

				<div class="bingoinfo-modals__rules">
					<div class="bingoinfo-modals__rules-title">Spelregler</div>
					<div class="bingoinfo-modals__rules-text">
						Stjärnjacken är variantbingot med den snabbast växande jackpoten. Variantbingo består av fem deldragningar. I den första deldragningen får du bingo på vågrät rad, lodrät rad eller på diagonalen. I följande deldragningar gäller det att få vågräta rader. I den femte deldragningen ska du ha full bricka för att få bingo och lyckas du med det inom 52 bollar vinner du spelets <b>jackpot som startar på 10 000 kronor</b>. I Miljonlotteriets bingospel spelar du mot andra i en aldrig sinande ström. Lycka till!
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })