<!-- 
   For checkout module use 
   <ul class="check">
      <li></li>
      <li></li>
      <li></li>
   </ul> for checkboxes 
   
   or just <p></p> for simple text
 -->
@@include('layout/_header.html', {
	"class": "logged-in shop",
	"logged_in": true
})
<li></li>
@@include('layout/_top-new.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
   <div class="@@if(context.class){@@class}" id="page-wrapper">
      <div class="checkout-module__">
         <div class="number__top">
            <span class="active"></span>
            <span></span>
            <span></span>
         </div>
         <div class="tab_all">
            <div class="bat_1 open">
               <div class="top__">
                  <h3 class="title">Varukorg</h3>
                  <a href="javascript:;" data-edit="1" class="edit">Ändra</a>
               </div>
               <div class="content__">
                  <div class="row__content">
                     <div class="product_title">
                        <span class="artikel">Artikel</span>
                        <span class="antal">Antal</span>
                        <span class="pris">Pris</span>
                     </div>
                     <ul class="product">
                        <li>
                           <div class="block__img">
                              <img src="assets/img/checkout-module/bac_checkout.svg" alt="">  
                           </div>
                           <div class="info">
                              <h3 class="title">Varunamn</h3>
                              <span class="dots">Artikelnummer</span>
                              <span class="posht_car">Expressleverans möjlig (1-3 vardagar)</span>
                           </div>
                           <div class="antal">
                              <div class="number">
                                 <span class="minus"></span>
                                 <input type="text" value="1" />
                                 <span class="plus"></span>
                              </div>
                           </div>
                           <div class="pris">
                              <p>100 kr</p>
                           </div>
                           <div class="delete">
                              <a href="javascript:;" class="del"></a>
                           </div>
                        </li>
                        <li>
                           <div class="block__img">
                              <img src="assets/img/checkout-module/bac_checkout.svg" alt="">  
                           </div>
                           <div class="info">
                              <h3 class="title">Varunamn</h3>
                              <span class="dots">Artikelnummer</span>
                              <span class="posht_car">Expressleverans möjlig (1-3 vardagar)</span>
                           </div>
                           <div class="antal">
                              <div class="number">
                                 <span class="minus"></span>
                                 <input type="text" value="1" />
                                 <span class="plus"></span>
                              </div>
                           </div>
                           <div class="pris">
                              <p>100 kr</p>
                           </div>
                           <div class="delete">
                              <a href="javascript:;" class="del"></a>
                           </div>
                        </li>
                     </ul>
                     <div class="totalt">
                        <div class="info">
                           <h3 class="title">Totalt</h3>
                           <p>Saldo efter köp</p>
                        </div>
                        <div class="pris">
                           <h3 class="title">200 kr</h3>
                           <p>100 kr</p>
                        </div>
                     </div>
                     <h2 class="mb-5">Buble removed (with picture)</h2>
                     <div class="additional-sales-wrapper">
                        <div class="miljonlotten additional-sales">
                           <div class="block">
                              <div class="image-wrapper">
                                 <img src="/assets/img/checkout-module/lotter-d.png" alt="">
                           </div>
                           </div>
                           <div class="info">
                              <h3 class="title">Miljonlotten</h3>
                              <ul class="check">
                                 <li>Drömvinster värda upp till 10 miljoner kronor</li>
                                 <li>Jackpot fyra gånger per år</li>
                                 <li>Vinn presentkort i Andra Chansen</li>
                              </ul>
                           </div>
                           <div class="bot">
                              <a href="javascript:;" class="pink">Lägg till!</a>
                           </div>
                        </div>
                     </div>
                     <h2 class="mb-5">Buble removed (with bg)</h2>
                     <div class="additional-sales-wrapper">
                        <div class="miljonlotten additional-sales">
                           <div class="block">
                              <div class="image-wrapper no-image"></div>
                           </div>
                           <div class="info">
                              <h3 class="title">Miljonlotten</h3>
                              <p>
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat quam in hendrerit tristique.
                              </p>
                              <!-- <ul class="check">
                                 <li>Drömvinster värda upp till 10 miljoner kronor</li>
                                 <li>Jackpot fyra gånger per år</li>
                                 <li>Vinn presentkort i Andra Chansen</li>
                              </ul> -->
                           </div>
                           <div class="bot">
                              <a href="javascript:;" class="pink">Lägg till!</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="black_blue_cont">
                     <a href="javascript:;" class="black_blue" data-num="2">Leveransuppgifter</a>
                  </div>
               </div>
            </div>
            <div class="bat_2">
               <div class="top__">
                  <h3 class="title">Leveransuppgifter</h3>
                  <a href="javascript:;" data-edit="2" class="edit">Ändra</a>
               </div>
               <div class="content__">
                  <div class="row__content">
                     
                     <div class="box__">
                        <div class="box__top">
                           <h3 class="title">Fraktsätt</h3>
                        </div>
                        <ul class="list shipping mobile">
                           <li>
                              <div class="input">
                                 <input type="radio" id="Standardfrakt" name="shipping" value="Standardfrakt" checked="checked">
                                 <label for="Standardfrakt"> <img class="icon" src="/assets/img/checkout-module/icon-leveransuppgifter.svg" alt=""><span>Standardfrakt</span> (2-5 arbetsdagar)</label>
                              </div>
                              <div class="prise">
                                 <p>0 kr</p>
                              </div>
                           </li>
                           <li class="d-block">
                              <div class="d-flex align-center">
                                 <div class="input">
                                    <input type="radio" id="Expressfrakt" name="shipping" value="Expressfrakt">
                                    <label for="Expressfrakt"> <img class="icon" src="/assets/img/checkout-module/icon-leveransuppgifter-green.svg" alt=""><span>Expressfrakt</span> (1-3 arbetsdagar)</label>
                                 </div>
                                 <div class="prise">
                                    <p><span class="font-regular">49 kr</span></p>
                                 </div>
                              </div>
                              <div class="payment row mb-20">
                              <div class="col-md-6 py-0 px-19">
                                 <h3 class="title small full-color">Tilläggsbetalning för expressleverans</h3>
                                 <p class="font-small">Du saknar pengar på ditt vinstkonto för att beställa dina varor med expressleverans. Välj betalningsmetod och du får genomföra en tilläggsbetalning i samband med att du slutför din beställning.</p>
                                 <p class="full-color text-bold d-flex justify-between">
                                    <span class="full-color">Att tilläggsbetala:</span>
                                    <span class="full-color">25 kr</span>
                                 </p>
                              </div>
                              <div class="col-md-6 border-left p-0">
                                 <ul class="list shipping">
                                 <li>
                                    <div class="input">
                                       <input type="radio" id="swish" name="payment" value="swish" checked="checked">
                                       <label for="swish"> 
                                          Betala med Swish
                                       </label>
                                    </div>
                                    <div class="logo-wrapper">
                                       <img src="assets/img/logos/swish-logo.png" alt="">
                                    </div>
                                 </li>
                                 <li>
                                    <div class="input">
                                       <input type="radio" id="cort" name="payment" value="cort">
                                       <label for="cort"> Betala med kort</label>
                                    </div>
                                    <div class="logo-wrapper">
                                       <img src="assets/img/logos/payment-logo.png" alt="">
                                    </div>
                                 </li>
                              </ul></div>
                              </div>
                           </li>
                        </ul>
                        <div class="box__column">
                           <div class="box__ address">
                              <div class="box__top">
                                 <h3 class="title">Leveransadress</h3>
                              </div>
                              <ul class="list shipping">
                                 <li class="">
                                    <p>Förnamn Efternamn
                                       <br>Stadsgatan 12
                                       <br>413 00 Göteborg
                                    </p>
                                 </li>
                              </ul>
                           </div>
                           <div class="box__">
                              <div class="box__top">
                                 <h3 class="title">Avisering</h3>
                              </div>
                              <ul class="list shipping">
                                 <li>
                                    <div class="input">
                                       <input type="radio" id="SMS" name="notice" value="SMS" checked="checked">
                                       <label for="SMS"> <span>SMS</span> </label>
                                    </div>
                                    <div class="input">
                                       <input type="namber" id="phone" name="phone" pattern="[0-9]*" placeholder="0701-23 45 67">
                                    </div>
                                 </li>
                                 <li>
                                    <div class="input">
                                       <input type="radio" id="Brev" name="notice" value="Brev">
                                       <label for="Brev"> Brev</label>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="box__">
                        <div class="box__top">
                           <h3 class="title">Postombud</h3>
                        </div>
                        <ul class="list">
                           <li class="column padt">
                              <p>Levereras till:
                                 <br><span>Coop Konsum Gamlestaden</span>
                              </p>
                              <a href="javascript:;" class="blue_but">Byt ombud</a>
                           </li>
                        </ul>
                     </div>
                     <!-- Email block -->
                     <div class="box__">
                        <div class="box__top">
                           <h3 class="title">Mailadress för leverans</h3>
                        </div>
                        <ul class="list shipping">
                           <li>
                           <div class="input w-100 mr-0">
                           <input type="email" id="mailaddress" name="mailaddress" placeholder="namn.efternamn@mail.com">
                        </div>
                           </li>
                        </ul>
                        
                     </div>
                     <!-- End email block -->
                  </div>
                  <div class="black_blue_cont">
                     <a href="javascript:;" class="black_blue" data-num="3">Beställningsbekräftelse</a>
                  </div>
               </div>
            </div>
            <div class="bat_3">
               <div class="top__">
                  <h3 class="title">Beställningsbekräftelse</h3>
                  <a href="javascript:;" data-edit="3" class="edit">Ändra</a>
               </div>
               <div class="content__">
                  <div class="row__content">
                     <div class="box__col">
                        <div class="box__ artiklar__">
                           <div class="box__top">
                              <h3 class="title">Artiklar</h3>
                           </div>
                           <ul class="list artiklar">
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                              <li>
                                 <span class="prod_list">Artikel</span>
                                 <span class="col_list">1 st</span>
                                 <span class="prise_list">100 kr</span>
                              </li>
                           </ul>
                        </div>
                        <div class="box__ totalt">
                           <div class="info">
                              <h3 class="title">Totalt</h3>
                              <p>Saldo efter köp</p>
                           </div>
                           <div class="pris">
                              <h3 class="title">200 kr</h3>
                              <p>100 kr</p>
                           </div>
                        </div>
                     </div>
                     <div class="box__col">
                        <div class="box__ adress__">
                           <div class="box__top">
                              <h3 class="title">Adress</h3>
                           </div>
                           <ul class="list shipping">
                              <li class="padt">
                                 <p>Förnamn Efternamn
                                    <br>Stadsgatan 12
                                    <br>413 00 Göteborg
                                 </p>
                              </li>
                           </ul>
                        </div>
                        <div class="box__">
                           <div class="box__top">
                              <h3 class="title">Fraktsätt</h3>
                           </div>
                           <ul class="list">
                              <li>
                                 <p><span>Standardfrakt</span> (2-5 arbetsdagar)</p>
                              </li>
                           </ul>
                        </div>
                        <div class="box__">
                           <div class="box__top">
                              <h3 class="title">Postombud</h3>
                           </div>
                           <ul class="list">
                              <li>
                                 <p><span>Coop Konsum Gamlestaden</span></p>
                              </li>
                           </ul>
                        </div>
                        <div class="box__">
                           <div class="box__top">
                              <h3 class="title">Avisering</h3>
                           </div>
                           <ul class="list">
                              <li>
                                 <p><span>SMS</span> 0701-23 45 67</p>
                              </li>
                           </ul>
                        </div>
                        <!-- Email block -->
                        <div class="box__">
                           <div class="box__top">
                              <h3 class="title">Mailadress för leverans</h3>
                           </div>
                           <ul class="list">
                              <li>
                                 <p>namn.efternamn@mail.com</p>
                              </li>
                           </ul>
                        </div>
                        
                        <!-- End Email block -->
                     </div>
                     <!-- Totals block -->
                     <div class="box__ w-100 totals__">
                        <div class="box__top">
                           <h3 class="title">Tilläggsbetalning för expressleverans</h3>
                        </div>
                        <ul class="list">
                           <li class="p-0">
                              <div class="row m-0 w-100">
                                 <div class="col-md-6 one">
                                    <span>När du skickar din beställning kommer du få genomföra din betalning för expressleverans.</span> 
                                 </div>
                                 <div class="col-md-6 two">
                                    <div>
                                       <div class="d-flex justify-between">
                                          <span>Betalsätt</span>
                                          <span>Swish</span>
                                       </div>
                                       <div class="d-flex justify-between text-bold mt-2">
                                          <span class="text-bold">Att betala</span>
                                          <span class="text-bold">49 kr</span>
                                       </div>
                                    </div>

                                 </div>
                              </div>
                              
                           </li>
                        </ul>
                     </div>
                        <!-- End Totals block -->
                     <div class="black_blue_cont">
                        <a href="javascript:;" class="black_blue" data-num="4">Skicka beställning</a>
                     </div>
                  </div>
               </div>           
            </div>
            <div class="bat_4 successpage">
               <div class="top__">
                  <h3 class="title">Beställningsbekräftelse</h3>
               </div>
               <div class="content__">
                  <div class="box__ succes__">
                     <img class="icon__" src="assets/img/checkout-module/success-check.svg" alt="">

                        <h2 class="title">Grattis till dina vinster!</h2>
                        <p class="id_order">Ordernummer: 42052789</p>
                        <p>Ett meddelande med leveransinformation har skickats till <span>namn@mail.se</span></p>
                        <p>Dina vinster packas och skickas inom kort. <br>När dina paket har skickats kan du spåra dem direkt under <a href="#">Mitt Konto</a> på Mina sidor.</p>

                  </div>
                  <!-- <div class="succes__miljonlotten">
                     <div class="block">
                        <div class="comment">
                           <span class="cont_com">
                              <firstname>Tråkigt att vänta? Testa vårt bingo!</firstname>
                           </span>
                        </div>
                     </div>
                     <div class="info">
                        <h3 class="title">Miljonlotten</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, recusandae. Dolor laudantium id necessitatibus, fugit molestiae perferendis sapiente quisquam ullam.</p>
                        <a href="#" class="black_blue">Ta mig till bingot</a>
                     </div>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
   </div>
	<!-- /#page-wrapper -->
@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })