@@include('layout/_header.html', {
	"class": "page-front logged-out"
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })

<div class="content-wrapper ml-2017">
	@@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": false,
  "hero_overlay": true,
  "hero_alignment": "center"
  })
  @@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": true,
  "hero_overlay": true,
  "hero_alignment": "left"
  })
  @@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": false,
  "hero_overlay": true,
  "hero_alignment": "right"
  })

  <section class="s-promotion-offer">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/heart-symbol-white.svg",
          "image_position": "center",
          "theme": "dark",
          "text_alignment": "left",
          "custom_bg": true,
          "background-color-class": "background-color-blue-deep-2",
          "bg_box_image": "",
          "content_position": "",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": false,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-campaign.html')
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-campaign.html')
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer">
      <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/heart-symbol.png",
          "image_position": "center",
          "theme": "dark",
          "text_alignment": "left",
          "custom_bg": false,
          "background-color-class": "",
          "bg_box_image": "",
          "content_position": "left",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-offer-column-1.html', {
          "image": "assets/img/mockup/heart-symbol.png",
          "theme": "light",
          "text_alignment": "center",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "assets/img/mockup/promo-1.jpg",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": false,
          "has_link": true,
          "link_title": "Se mer"
          })
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-offer-column-1.html', {
          "image": "assets/img/mockup/heart-symbol.png",
          "theme": "dark",
          "text_alignment": "right",
          "custom_bg": false,
          "background-color-class": "",
          "bg_box_image": "assets/img/mockup/promo-2.jpg",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": false,
          "has_link": true,
          "link_title": "Gå till bingorum"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/heart-symbol.svg",
          "image_position": "center",
          "theme": "light",
          "text_alignment": "center",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "",
          "content_position": "right",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-offer-column-1.html', {
          "image": "assets/img/mockup/heart-symbol.png",
          "theme": "dark",
          "text_alignment": "center",
          "custom_bg": false,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "assets/img/mockup/promo-1.jpeg",
          "has_content_title": true,
          "has_content_description": false,
          "has_content_image": false,
          "has_link": false,
          "link_title": "Se mer"
          })
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          @@include('blocks/promotion/block/_promotion-offer-column-1.html', {
          "image": "assets/img/mockup/heart-symbol.png",
          "theme": "dark",
          "text_alignment": "center",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "assets/img/mockup/promo-2.jpeg",
          "has_content_title": true,
          "has_content_description": false,
          "has_content_image": false,
          "has_link": true,
          "link_title": "Gå till bingorum"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "light",
          "text_alignment": "center",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "",
          "content_position": "right",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "dark",
          "text_alignment": "left",
          "custom_bg": true,
          "background-color-class": "background-color-blue-deep-2",
          "bg_box_image": "",
          "content_position": "left",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full background-color-blue-deep-2">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "dark",
          "text_alignment": "left",
          "custom_bg": true,
          "background-color-class": "background-color-blue-deep-2",
          "bg_box_image": "",
          "content_position": "left",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full background-color-light-blue-2">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "light",
          "text_alignment": "left",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "",
          "content_position": "right",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full background-color-light-blue-2">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "light",
          "text_alignment": "left",
          "custom_bg": true,
          "background-color-class": "background-color-light-blue-2",
          "bg_box_image": "",
          "content_position": "above",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>
  <section class="s-promotion-offer s-promotion-offer--full background-color-blue-deep-2">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12">
          @@include('blocks/promotion/block/_promotion-offer-column-2.html', {
          "image": "assets/img/mockup/promotion--image-full.png",
          "image_position": "bottom",
          "theme": "dark",
          "text_alignment": "center",
          "custom_bg": true,
          "background-color-class": "background-color-blue-deep-2",
          "bg_box_image": "",
          "content_position": "above",
          "has_content_title": true,
          "has_content_description": true,
          "has_content_image": true,
          "has_link": true,
          "link_title": "Välj lotter som gör gott"
          })
        </div>
      </div>
    </div>
  </section>

  <section class="s-promotion-video">
    <div class="container">
      <div class="row">
        @@include('blocks/promotion/_promotion-example-video.html', {
        "background_color": "green"
        })
      </div>
    </div>
  </section>
  <section class="s-promotion-video">
    <div class="container">
      <div class="row">
        @@include('blocks/promotion/_promotion-example-video.html', {
        "background_color": "pink"
        })
      </div>
    </div>
  </section>
  <section class="s-promotion-video">
    <div class="container">
      <div class="row">
        @@include('blocks/promotion/_promotion-example-video.html', {
        "background_color": "blue"
        })
      </div>
    </div>
  </section>

  <section class="slider-promo">
    <div class="container-fluid">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <div class="slider-promo__content">
            <div class="slider-promo__content-inner">
              <h2 class="slider-promo__title">Ditt lottköp räddar liv. Varje dag.</h2>
              <div class="slider-promo__text">
                <p>Som en del av IOGT-NTO-rörelsen kämpar vi för en bättre värld. Ett samhälle där ingen far illa av alkohol och droger. Det betyder att för varje lott du köper hos Miljonlotteriet, går pengarna till livsviktiga aktiviteter för barn och vuxna. Sedan  år 2000 har vi delat ut nära 2,3 miljarder kronor till IOGT-NTO-rörelsens verksamheter. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-8">
          @@include('blocks/_slider-block.html')
        </div>
      </div>
    </div>
  </section>


  <section class="s-bullet-points text-align-center">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/puff-3.jpeg);"></div>
            <h3 class="s-bullet-points__title">Varje månad gör du skillnad för barn och vuxna</h3>
            <p class="s-bullet-points__text">Sedan år 2000 har vi delat ut nära 2,3 miljarder till människor i behov av stöd.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/promotion--image.png);"></div>
            <h3 class="s-bullet-points__title">10 miljoner anledningar <br>att gå med</h3>
            <p class="s-bullet-points__text">Som tack för ditt livsviktiga bidrag har du chans på
              10 miljoner varje månad.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/puff-3.jpeg);"></div>
            <h3 class="s-bullet-points__title">Ingen bindningstid, var med så länge du vill </h3>
            <p class="s-bullet-points__text">Vi har ingen bindningstid, du väljer själv hur länge du
              vill bidra och skrapa våra lotter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  @@include('blocks/promotion/_promotion-example-text-image.html')
  @@include('blocks/promotion/_promotion-example-text-full.html')

</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
