@@include('layout/_header.html', {
	"class": "page-front logged-out"
})

@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})

<div class="content-wrapper ml-2017">
	@@include('blocks/_hero.html', {"hero_content": true})
	@@include('blocks/_slider.html')
	@@include('blocks/_promotion.html', {"blocks": "row_1"})
	@@include('blocks/_article-list.html')
	@@include('blocks/_promotion.html', {"blocks": "row_2"})
	@@include('blocks/_promotion.html', {"blocks": "row_3"})
	@@include('blocks/_product-list.html')
	@@include('blocks/_promotion.html', {"blocks": "row_4"})
	@@include('blocks/_promotion.html', {"blocks": "row_5"})
	@@include('blocks/_promotion.html', {"blocks": "row_6"})
	@@include('blocks/_promotion.html', {"blocks": "row_7"})
</div>

@@include('layout/_footer.html', {"show_footer": true})
