@@include('layout/_header.html', {
	"class": "page-front logged-out"
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })

<div class="content-wrapper ml-2017">
  @@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": true,
  "background_video_link": "assets/video/hemsidebanner_hi3.mp4",
  "hero_overlay": true,
  "content_alignment_desktop": "left",
  "content_alignment_tablet": "center",
  "content_alignment_mobile": "center",
  "background_position_desktop": "right",
  "background_position_tablet": "right",
  "background_position_mobile": "right"
  })

  <section class="s-promotion-offer">
    <div class="container">
      <div class="row equal-height">

        @@include('blocks/promotion/block-cta/_cta-block-medium.html', {
        "theme": "dark",
        "reversed_content": false,
        "background-color-class": "background-color-blue",
        "has_content_title": true,
        "has_content_description": true,
        "content_image": "assets/img/mockup/CTA-block-lotter-frilagd.png",
        "link_title": "Välj lotter som gör gott"
        })

        @@include('blocks/promotion/block-img/_img-block-small.html', {
        "theme": "light",
        "text_alignment": "left",
        "image": "assets/img/mockup/matthew-henry-tBtuxtLvAZs-unsplash.jpeg",
        "has_content_title": true,
        "has_content_description": false,
        "has_link": true,
        "link_title": "Se mer"
        })

        @@include('blocks/promotion/block-img/_img-block-small.html', {
        "theme": "dark",
        "text_alignment": "left",
        "image": "assets/img/mockup/matthew-henry-tBtuxtLvAZs-unsplash.jpeg",
        "has_content_title": true,
        "has_content_description": false,
        "has_link": true,
        "link_title": "Se mer"
        })

        @@include('blocks/promotion/block-split/_split-block-large.html', {
        "theme": "light",
        "reversed_content": false,
        "background-color-class": "background-color-light-blue",
        "image": "assets/img/mockup/split-block-vinster.jpg",
        "has_content_title": true,
        "has_content_description": true,
        "has_link": true,
        "link_title": "Se mer"
        })
      </div>
    </div>
  </section>


  @@include('blocks/promotion/_promotion-example-video.html', {
  "background_color": "green",
  "has_link": true,
  "link-type": "primary"
  })


  <section class="slider-promo">
    <div class="container-fluid">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <div class="slider-promo__content">
            <div class="slider-promo__content-inner">
              <h2 class="slider-promo__title">Ditt lottköp räddar liv. Varje dag.</h2>
              <div class="slider-promo__text">
                <p>Som en del av IOGT-NTO-rörelsen kämpar vi för en bättre värld. Ett samhälle där ingen far illa av alkohol och droger. Det betyder att för varje lott du köper hos Miljonlotteriet, går pengarna till livsviktiga aktiviteter för barn och vuxna. Sedan  år 2000 har vi delat ut nära 2,3 miljarder kronor till IOGT-NTO-rörelsens verksamheter. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-8">
          @@include('blocks/_slider-block.html')
        </div>
      </div>
    </div>
  </section>



</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
