@@include('layout/_header.html', {
	"class": "page-front logged-out"
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })

<div class="content-wrapper ml-2017">
	@@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": false,
  "hero_overlay": true,
  "hero_alignment": "center"
  })
  @@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": true,
  "hero_overlay": true,
  "hero_alignment": "left"
  })
  @@include('blocks/_hero-fullwidth-v2.html',{
  "logged_in": false,
  "background_video": false,
  "hero_overlay": true,
  "hero_alignment": "right"
  })

  <section class="s-promotion-offer">
    <div class="container">
    <div class="row equal-height">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @@include('blocks/promotion/block/_promotion-offer.html', {
        "image": "assets/img/mockup/lotter_second@2x.png"
        })
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        @@include('blocks/promotion/block/_promotion-bingo-tabs.html')
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        @@include('blocks/promotion/block/_promotion-campaign.html')
      </div>
    </div>
  </div>
  </section>

  <div class="container">
    <div class="row">
      @@include('blocks/promotion/_promotion-example-video.html')
    </div>
  </div>

  <div class="container">
    @@include('blocks/_slider.html')
  </div>

  <section class="s-bullet-points text-align-center">
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/promotion--image.png);"></div>
            <h3 class="s-bullet-points__title">Varje månad gör du skillnad för barn och vuxna</h3>
            <p class="s-bullet-points__text">Sedan år 2000 har vi delat ut nära 2,3 miljarder till människor i behov av stöd.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/promotion--image.png);"></div>
            <h3 class="s-bullet-points__title">10 miljoner anledningar <br>att gå med</h3>
            <p class="s-bullet-points__text">Som tack för ditt livsviktiga bidrag har du chans på
              10 miljoner varje månad.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="s-bullet-points__item">
            <div class="s-bullet-points__img" style="background-image: url(assets/img/mockup/promotion--image.png);"></div>
            <h3 class="s-bullet-points__title">Ingen bindningstid, var med så länge du vill </h3>
            <p class="s-bullet-points__text">Vi har ingen bindningstid, du väljer själv hur länge du
              vill bidra och skrapa våra lotter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  @@include('blocks/promotion/_promotion-example-text-image.html')
  @@include('blocks/promotion/_promotion-example-text-full.html')

</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
