@@include('layout/_header.html', {
	"class": "sidebar-hidden",
	"logged_in": false
	})

	<div class="content-wrapper ml-2017">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>Miljonlotteriet - Frontend 2017</h1>

					<h2>Navigation</h2>
					<ol class="index">
						<li><a href="/logged-out.html">Logged out</a></li>
						<li><a href="/logged-in.html">Logged in</a></li>
					</ol>

					<h2>Page templates</h2>
					<ol class="index">
						<li><a href="/front-v2.html">Front page (new v2 - 2020)</a></li>
						<li><a href="/front-v2-demo.html">Front page (new v2 - 2020) - Demo</a></li>
						<li><a href="/front-new.html">Front page (new)</a></li>
						<li><a href="/front-logged-in-new.html">Front page - logged in (new)</a></li>
						<li><a href="/front.html">Front page</a></li>
						<li><a href="/minauppgifter.html">Mina uppgifter</a></li>
						<li>
							<ul>
								<li><a href="/meddelande.html">Meddelande</a></li>
								<li><a href="/meddelande-scroll.html">Meddelande Scroll</a></li>
							</ul>
						</li>
						<li><a href="/article.html">Article page</a></li>
						<li><a href="/old.html">Old page</a></li>
						<li><a href="/register.html">Register</a></li>
						<li><a href="/registerSubscription.html">RegisterSubscription</a></li>
						<li><a href="/spelkonto.html">Spelkonto</a></li>

						<li>Spelhistorik
							<ol>
								<li><a href="/spelhistorik-onlinespel.html">Onlinespel</a></li>
								<li><a href="/spelhistorik-registrerade-lotter.html">Registrerade lotter</a></li>
								<li><a href="/spelhistorik-nitlottsmiljonaren.html">Nitlottsmiljonären</a></li>
								<li><a href="/spelhistorik-jackpot.html">Mina jackpotandelar</a></li>
								<li><a href="/spelhistorik-nitlottsbonusar.html">Nitlottsbonusar</a></li>
							</ol>
						</li>
						<li><a href="/register-lottery.html">Registrera lott</a></li>
						<li><a href="/page-with-active-cart.html">Sida utanför vinstshoppen med varor i kundkorgen</a></li>
						<li><a href="/prenumerationer.html">Prenumerationer</a></li>
						<li><a href="/lottery-selection-step1.html">Prenumerationslotter meny - Lottval - steg1</a>
							<ol>
								<li><a href="/lottery-selection-details.html">Prenumerationslotter meny - Vald Lott - steg2</a></li>
								<li><a href="/lottery-selection-details-form-message.html">Prenumerationslotter meny - Vald Lott - steg2 (form message)</a></li>
							</ol>
						</li>
						<li><a href="/bonuskod.html">Bonuskod</a></li>
						<li><a href="/vinstshop-start.html">Vinstshop</a>
							<ol>
								<li><a href="/vinstshop-start-no-results.html">Vinstshop - inga resultat</a></li>
								<li><a href="/vinstshop-page.html">Produktsida - Inte beställningsbar</a></li>
								<li><a href="/vinstshop-page-not-logged-in.html">Produktsida - Inte inloggad</a></li>
								<li><a href="/vinstshop-page-full.html">Produktsida - Beställningsbar</a></li>
								<li><a href="/vinstshop-page-lottery.html">Produktsida - Lott</a></li>
								<li><a href="/vinstshop-page-lottery-disabled.html">Produktsida - Lott - disabled</a></li>
								<li><a href="/bestallning.html">Beställningsida</a></li>
								<li><a href="/bestallning-bekraftelse.html">Beställningsida - Bekräftelse</a></li>
								<li><a href="/min-dromlista.html">Drömlista</a></li>
								<li><a href="/dromlista-tom.html">Drömlista - tom</a></li>
								<li><a href="/product-page.html">Product page new</a></li>
								<li><a href="/vinstshop-page-v2.html">Vinstshop version-2 filters page</a></li>
							</ol>
						</li>
						<li><a href="/modal-terms-of-services.html">Modal - Terms of modal-terms-of-services</a></li>
						<li>
							<a href="blocks-win.html">Drömvinster</a>
						</li>
						<li>
							<a href="blocks-win-single.html">Drömvinster Single</a>
						</li>
						<li><a href="/storyblok.html">Storyblok</a></li>
						<li><a href="/lottery-page-logged-in.html">Lottery page - logged in</a></li>
						<li><a href="/lottery-page-logged-out.html">Lottery page - logged out</a></li>
						<li><a href="/lottery-page-h1-title.html">Lottery page - with H1 title</a></li>
						<li><a href="/bingolobby-header-v1.html">Bingolobby - header v1</a></li>
						<li><a href="/bingolobby-header-v2.html">Bingolobby - header v2</a></li>
						<li><a href="/bingolobby-header-v3.html">Bingolobby - header v3</a></li>
						<li><a href="/campaign-page-bingo-2col.html">Campaign page - Bingo - 2-col header</a></li>
						<li><a href="/campaign-page-bingo-3col.html">Campaign page - Bingo - 3-col header</a></li>
						<li><a href="/campaign-page-onlinelott-2col.html">Campaign page - Onlinelott - 2-col header</a></li>
						<li><a href="/campaign-page-skattjakten-2col.html">Campaign page - Skattjakten - 2-col header</a></li>
						<li><a href="/campaign-page-stodhjulet-2col.html">Campaign page - Stödhjulet - 2-col header</a></li>
					</ol>

					<h2>Block types</h2>
					<ol class="index">
						<!--<li><a href="/blocks-promotion-test.html">Promotion block (Test dynamic images)</a></li>-->
						<li>
							<a href="/blocks-shortcuts.html">Shortcut blocks</a>
						</li>
						<li>
							Hero block
							<ol>
								<li><a href="/blocks-hero.html">Full width</a></li>
								<li><a href="/blocks-hero-contained.html">Contained width</a></li>
								<li><a href="/blocks-hero-medium.html">Medium</a></li>
								<li><a href="/blocks-hero-mini.html">Mini</a></li>
							</ol>
						</li>
						<li>
							<a href="/blocks-promotion.html">Promotion block</a>
							<ol>
								<li><a href="/blocks-promotion-text.html">Text</a></li>
								<li><a href="/blocks-promotion-image.html">Image</a></li>
								<li><a href="/blocks-promotion-split.html">Split</a></li>
								<li><a href="/blocks-promotion-bingo.html">Bingo</a></li>
							</ol>
						</li>
						<li><a href="/blocks-content.html">Content block</a></li>
						<li><a href="/blocks-article-list.html">Article list block</a></li>
						<li>
							Product lists
							<ol>
								<li><a href="/blocks-product-list.html">Product list block</a></li>
								<li><a href="/blocks-product-list-full.html">Product list full block</a></li>
							</ol>
						</li>
						<li><a href="/blocks-slider.html">Slider block</a></li>
						<li><a href="/blocks-button.html">Button block</a></li>
						<li>
							Registration
							<ol>
								<li><a href="/blocks-hero-registration.html">Registration - hero</a></li>
								<li><a href="/blocks-registration-banner.html">Registration - banner</a></li>
							</ol>
						</li>
						<li>
							<a href="blocks-image-text.html">Image - Text</a>
						</li>
						<li>
							<a href="blocks-buttons.html">Buttons</a>
						</li>
						<li>
							<a href="blocks-new-blocks.html">New blocks (2021 all)</a>
							<ol>
								<li>
									<a href="blocks-newsletter.html">Newsletter-block</a>
								</li>
								<li>
									<a href="blocks-shop-block-slider.html">Shop-block-slider</a>
								</li>
								<li>
									<a href="blocks-video-block.html">Video-block</a>
								</li>
								<li>
									<a href="blocks-wallet-block.html">Wallet-block</a>
								</li>
								<li>
									<a href="blocks-header-block-xsmall.html">Header-block-xsmall</a>
								</li>
								<li>
									<a href="blocks-ag-efaktura.html">E-faktura-block</a>
								</li>
								<li>
									<a href="blocks-ag-block.html">E-faktura-AG-block</a>
								</li>
								<li>
									<a href="blocks-ag-multi-step.html">AG-Multi Step</a>
								</li>
								<li>
									<a href="blocks-ag-bankid.html">AG-BankID</a>
								</li>
								<li>
									<a href="blocks-new-bingo.html">New Bingo</a>
								</li>
								<li>
									<a href="blocks-profit-shop.html">Vinstshop - new image modules</a>
								</li>
								<li>
									<a href="block-mediaBlock.html">MediaBlock options</a>
								</li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- /#content-wrapper -->

	@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })