@@include('layout/_header.html', {
	"class": "sidebar-hidden"
})

<div class="content-wrapper ml-2017">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1>Miljonlotteriet - Frontend 2017</h1>

				<h2>Navigation</h2>
				<ol>
					<li><a href="/logged-out.html">Logged out</a></li>
					<li><a href="/logged-in.html">Logged in</a></li>
				</ol>

				<h2>Page templates</h2>
				<ol>
					<li><a href="/front.html">Front page</a></li>
					<li><a href="/article.html">Article page</a></li>
				</ol>

				<h2>Content</h2>
				<ol>
					<li><a href="/content-old.html">Old content</a></li>
				</ol>

				<h2>Block types</h2>
				<ol>
					<li><a href="/blocks-promotion.html">Promotion blocks</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- /#content-wrapper -->

@@include('layout/_footer.html', {"show_footer": false})

