@@include('layout/_header.html', {
"class": "sidebar-hidden"
})

<div class="content-wrapper ml-2017">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1>Miljonlotteriet - Frontend 2017</h1>

				<h2>Navigation</h2>
				<ol class="index">
					<li><a href="/logged-out.html">Logged out</a></li>
					<li><a href="/logged-in.html">Logged in</a></li>
				</ol>

				<h2>Page templates</h2>
				<ol class="index">
					<li><a href="/front.html">Front page</a></li>
					<li><a href="/minauppgifter.html">Mina uppgifter</a></li>
					<li>
						<ul>
							<li><a href="/meddelande.html">Meddelande</a></li>
							<li><a href="/meddelande-scroll.html">Meddelande Scroll</a></li>
						</ul>
					</li>
					<li><a href="/article.html">Article page</a></li>
					<li><a href="/old.html">Old page</a></li>
					<li><a href="/register.html">Register</a></li>
					<li><a href="/spelkonto.html">Spelkonto</a></li>

					<li>Spelhistorik
						<ol>
							<li><a href="/spelhistorik-onlinespel.html">Onlinespel</a></li>
							<li><a href="/spelhistorik-registrerade-lotter.html">Registrerade lotter</a></li>
							<li><a href="/spelhistorik-nitlottsmiljonaren.html">Nitlottsmiljonären</a></li>
							<li><a href="/spelhistorik-jackpot.html">Mina jackpotandelar</a></li>
						</ol>
					</li>

					<li><a href="/prenumerationer.html">Prenumerationer</a></li>
					<li><a href="/bonuskod.html">Bonuskod</a></li>
					<li><a href="/vinstshop-start.html">Vinstshop</a>
						<ol>
							<li><a href="/vinstshop-start-no-results.html">Vinstshop - inga resultat</a></li>
							<li><a href="/vinstshop-page.html">Produktsida - Inte beställningsbar</a></li>
							<li><a href="/vinstshop-page-not-logged-in.html">Produktsida - Inte inloggad</a></li>
							<li><a href="/vinstshop-page-full.html">Produktsida - Beställningsbar</a></li>
							<li><a href="/vinstshop-page-lottery.html">Produktsida - Lott</a></li>
							<li><a href="/vinstshop-page-lottery-disabled.html">Produktsida - Lott - disabled</a></li>
							<li><a href="/bestallning.html">Beställningsida</a></li>
							<li><a href="/bestallning-bekraftelse.html">Beställningsida - Bekräftelse</a></li>
							<li><a href="/min-dromlista.html">Drömlista</a></li>
							<li><a href="/dromlista-tom.html">Drömlista - tom</a></li>
						</ol>
					</li>
				</ol>

				<h2>Block types</h2>
				<ol class="index">
					<!--<li><a href="/blocks-promotion-test.html">Promotion block (Test dynamic images)</a></li>-->
					<li>
						<a href="/blocks-shortcuts.html">Shortcut blocks</a>
					</li>
					<li>
						Hero block
						<ol>
							<li><a href="/blocks-hero.html">Full width</a></li>
							<li><a href="/blocks-hero-contained.html">Contained width</a></li>
							<li><a href="/blocks-hero-medium.html">Medium</a></li>
							<li><a href="/blocks-hero-mini.html">Mini</a></li>
						</ol>
					</li>
					<li>
						<a href="/blocks-promotion.html">Promotion block</a>
						<ol>
							<li><a href="/blocks-promotion-text.html">Text</a></li>
							<li><a href="/blocks-promotion-image.html">Image</a></li>
							<li><a href="/blocks-promotion-split.html">Split</a></li>
							<li><a href="/blocks-promotion-bingo.html">Bingo</a></li>
						</ol>
					</li>
					<li><a href="/blocks-content.html">Content block</a></li>
					<li><a href="/blocks-article-list.html">Article list block</a></li>
					<li>
						Product lists
						<ol>
							<li><a href="/blocks-product-list.html">Product list block</a></li>
							<li><a href="/blocks-product-list-full.html">Product list full block</a></li>
						</ol>
					</li>
					<li><a href="/blocks-slider.html">Slider block</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- /#content-wrapper -->

@@include('layout/_footer.html', {"show_footer": false})