@@include('layout/_header.html', {
	"class": "sidebar-hidden",
	"logged_in": true,
	 "links_display": {
			"mob": "true",
			"tab": "false",
			"desk": "true"
		},
		"visa_saldo_display":{
			"mob": "true",
			"tab": "true",
			"desk": "true"
		},
		"insättning_display":{
			"mob": "false",
			"tab": "true",
			"desk": "false"
		},
		"registrera_lott_display":{
			"mob": "true",
			"tab": "true",
			"desk": "false"
		},
		"show_submenu":  {
			"mob": false,
			"tab": false,
			"desk": false
		}
		 
	})


    <div class="new-nav-content main-content">
        @@include('blocks/_jackpot.html',{"blocks_layout":"three_columns", "hide_jackpot_mobile": false})
    
      @@include('blocks/_jackpot.html',{"blocks_layout":"two_columns", "hide_jackpot_mobile": false})
    </div>    

    
	@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })