@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->
<div class="content-wrapper ml-2017">
	<div class="container container-fluid">

		<h1>Kontohistorik</h1>

		<div class="col-md-12 historik">


			<div class="container">
				<div class="col-md-6  underline">
					<div class="asdqwe" style="float: left; ">
						Resultat
					</div>
					Bonus+vinstkonto

				</div>
				<div class="col-md-6  underline">Datum</div>
				Bonus+vinstkonto
			</div>
		</div>
	</div>
</div>


@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })

