@@include('layout/_header.html', {
"class": "page-front logged-out"
})

@@include('layout/_top-simple.html')


<div class="content-wrapper ml-2017">
	<div class="page-overlay"></div>

	@@include('blocks/_hero-fullwidth-short.html',{
	"hero_overlay": true,
	"background_video": false,
	"hero_text": false,
	"has_link": false,
	"content_alignment_desktop": "left",
	"content_alignment_tablet": "center",
	"content_alignment_mobile": "center",
	"background_position_desktop": "center",
	"background_position_tablet": "center",
	"background_position_mobile": "center"
	})

	<section class="s-lottery-selection-detail">
		<div class="container">
			<div class="order-form-message">
				<div class="message-title">Du kan tyvärr inte ta del av detta erbjudande</div>
				<div class="message-top-text">
					<p>Det kan bero på att du redan har en prenumeration på denna lott, eller tagit del av ett erbjudande de senaste 3 månaderna.</p>
					<p>Logga in för att se vad du kan ta del av!</p>
				</div>
				<a type="button" class="btn btn-success" data-toggle="modal" href="#modal-login">Logga in och se dina lottval</a>
				<div class="message-bottom-text">
					<p>Du kan också ringa oss så hjälper vi dig:</p>
					<p>031-338 28 21</p>
				</div>
			</div>
		</div>
	</section>
</div>

@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })