@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
    <div class="container container-fluid">
        <h1>Mina meddelanden</h1>

        <div class="meddelande__container col-md-12">
            <div class="meddelande__container-list col-md-3">

                    <a class="meddelande__incoming-message--unread" href="#">
                        <div class="meddelande__incoming-message--title">
                                <span class="meddelande__incoming-message--notification"></span> Miljonlotteriet
                                <div class="meddelande__incoming-message--date">
                                    Idag - 14.06
                                </div>
                            </div>
                        <div class="meddelande__incoming-message--text">
                            Det finns en ny bonus för dig att hämta ut!
                        </div>
                    </a>


                <div class="meddelande__incoming-message--read meddelande__incoming-message--target">
                    <a href="#">
                    <div class="meddelande__incoming-message--title">
                        Miljonlotteriet
                        <div class="meddelande__incoming-message--date">
                            2017-11-02
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Det finns en ny bonus för dig att hämta ut!
                    </div>
                    </a>
                </div>
                <div class="meddelande__incoming-message--read ">
                    <a href="#">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                    </a>
                </div>
                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

                <div class="meddelande__incoming-message--read">
                    <div class="meddelande__incoming-message--title">
                        IOGT - NTO
                        <div class="meddelande__incoming-message--date">
                            2017-10-27
                        </div>
                    </div>
                    <div class="meddelande__incoming-message--text">
                        Läs mer om var månadens överskott gick..
                    </div>
                </div>

            </div>

            <div class="meddelande__message col-md-9">

                <div class="container-fluid">

                    <div class="meddelande__message--header">
                        <div class="col-md-1 meddelande__message--header-icon">
                            <img src="assets/img/mockup/ML.png" >
                        </div>
                       <div class="meddelande__message--title">
                           Miljonlotteriet
                       </div>

                        <div class="meddelande__message--subtitle">
                            Det finns en ny bonus för dig att hämta ut
                        </div>

                        <div class="meddelande__message--date">
                        2017-11-02
                        </div>
                    </div>

                    <div class="meddelande__message--img">

                    </div>

                    <div class="meddelande__message--text">
                        Det finns en ny bonus för dig att hämta ut! Ny dag ny bonus! Vi bjuder alla våra medlemmar på en liten present när måndagen kanske känns som segast.
                        <br><br>
                        Ange <span style="color:#166ef6"> måndagstrött</span> när du öppnar ett spel så bjuder vi på 50 kr att spela för!
                        <br><br>

                    </div>
                    <a href="/" class="btn btn-primary" title="">Hämta bonuskod</a>

                </div>
            </div>
        </div>




    </div>
</div>


@@include('layout/_footer.html', {"show_footer": true})

