@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
	<div class="my-pages container">

		<div class="messages" data-messages-endpoint="/ajax/message.html?id=">
			<div class="block block-hero block-hero--mini">
				<h1 class="block-hero__page-title">
					Spela bingo online hos Miljonlotteriet - vinn fantastiska vinster och jackpottar!
				</h1>
				<h2 class="h1 js-close-message"><i class="icon icon-chevron-left"></i> Mina meddelanden</h2>
			</div>

			<div class="messages__container">
				<div class="row equal-height no-gutter">
					<div class="col-xs-12 col-sm-12 col-md-5">
						<div class="messages-list no-flex">
							<button class="messages-list__message js-load-message messages-list__message--unread"
									data-message-id="1">
								<span class="messages-list__sender">
									Miljonlotteriet <span class="messages-list__date">Idag - 14.06</span>
								</span>
								<span class="messages-list__subject">Det finns en ny bonus för dig att hämta ut som är lite längre än de andra</span>
							</button>

							<button class="messages-list__message js-load-message messages-list__message--active"
									data-message-id="2">
								<span class="messages-list__sender">
									Miljonlotteriet <span class="messages-list__date">2017-11-02</span>
								</span>
								<span class="messages-list__subject">Det finns en ny bonus för dig att hämta ut!</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>

							<button class="messages-list__message js-load-message" data-message-id="3">
								<span class="messages-list__sender">
									IOGT - NTO <span class="messages-list__date">2017-10-27</span>
								</span>
								<span class="messages-list__subject">Läs mer om var månadens överskott gick..</span>
							</button>
						</div>
					</div>

					<div class="col-sm-12 col-md-7">
						<div class="message">
							<div class="message__header">
								<div class="message-sender message__thumbnail">
									<span class="message-sender__initials">ML</span>
								</div>
								<div class="message__sender">Miljonlotteriet</div>
								<div class="message__subject">Det finns en ny bonus för dig att hämta ut</div>
								<div class="message__date">2017-11-02</div>
							</div>

							<img src="/assets/img/mockup/sunset.jpg" alt="">

							<p>Det finns en ny bonus för dig att hämta ut! Ny dag ny bonus! Vi bjuder alla våra
							   medlemmar på
							   en liten present när <strong>måndagen</strong> kanske känns som segast.</p>

							<p>Ange <a href="/">måndagstrött</a> när du öppnar ett spel så bjuder vi på 50 kr att spela
							   för!</p>

							<div class="message__cta">
								<a class="btn btn-primary" href="/">Hämta bonuskod</a>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-primary messages__load-more-button js-show-more-messages">Visa fler</button>
			</div>
		</div>
	</div>
</div>

@@include('layout/_footer.html', {"show_footer": true})