@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
	<div class="container">
		<h1 class="block-hero__page-title">Spela bingo online hos Miljonlotteriet - vinn fantastiska vinster och
			jackpottar!</h1>
		<div class="block-content__content"><h2>Mina uppgifter</h2></div>
		<p style="color: #536785;font-family: 'Proxima Nova';font-weight: 600;">Vissa av dina uppgifter nedan går inte
			att ändra eftersom de läses in automatiskt från folkbokföringsregistret.</p>


		<div class="profile">
			<div class="profile__header">Inloggningsuppgifter</div>

			<div class="profile__row">
				<div class="profile__label">Kundnummer</div>
				<div class="profile__input">110001679538</div>
			</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">E-postadress</label>
					<div class="profile__input">
						<input type="email"
							   data-required-error="Du måste fylla i detta fält."
							   data-error="Detta är inte en korrekt e-postadress, det måste finnas ett @ med."
							   placeholder="E-postadress"
							   value="hello@hello.se"
							   name="email"
							   required disabled>
						<div class="help-block with-errors"></div>
					</div>
					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator">
					<label class="profile__label">Lösenord</label>

					<div class="profile__input">
						<div class="profile__multiple-input">
							<label>Nytt lösenord</label>
							<input type="password"
								   id="password"
								   data-required-error="Du måste fylla i detta fält."
								   name="password"
								   value="********"
								   required disabled>
						</div>
						<div class="profile__multiple-input">
							<label>Bekräfta lösenord</label>
							<input type="password"
								   id="confirmPassword"
								   data-required-error="Du måste fylla i detta fält."
								   data-match="#password"
								   data-match-error="Lösenorden matchar ej"
								   name="confirm-password"
								   value=""
								   required disabled>
						</div>
						<div class="help-block with-errors"></div>
					</div>

					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>
		</div>

		<div class="profile">
			<div class="profile__header">Profilinställningar</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">Chat-namn</label>
					<div class="profile__input">
						<input type="text"
							   data-required-error="Du måste fylla i detta fält."
							   placeholder="Chat-namn"
							   value="DjPingo"
							   name="chat-name"
							   required disabled>
						<div class="help-block with-errors"></div>
					</div>
					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">Nyhetsbrev</label>

					<div class="profile__input">
						<div class="checkbox">
							<input value="Ja" id="newsletter-yes" name="newsletter" type="radio" class="custom-checkbox" checked>
							<label for="newsletter-yes">
								Ja
							</label>
						</div>

						<div class="checkbox">
							<input value="Nej" id="newsletter-no" name="newsletter" type="radio" class="custom-checkbox">
							<label for="newsletter-no">
								Nej
							</label>
						</div>
						<div class="help-block with-errors"></div>
					</div>

					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>
		</div>

		<div class="profile">
			<div class="profile__header">Kontaktuppgifter</div>

			<div class="profile__row">
				<div class="profile__label">Namn</div>
				<div class="profile__input">Stefan Jakobsson</div>
			</div>

			<div class="profile__row">
				<div class="profile__label">Address</div>
				<div class="profile__input">Hvitfeldtsgatan 4, 411 20, Göteborg</div>
			</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">Telefonnummer</label>
					<div class="profile__input">
						<input type="number"
							   data-required-error="Du måste fylla i detta fält."
							   placeholder="Ej angivet"
							   value=""
							   name="phone"
							   disabled>
						<div class="help-block with-errors"></div>
					</div>
					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">Mobilnummer</label>
					<div class="profile__input">
						<input type="number"
							   data-required-error="Du måste fylla i detta fält."
							   placeholder="Ej angivet"
							   value="0768232323"
							   name="mobile"
							   required disabled>
						<div class="help-block with-errors"></div>
					</div>
					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>
		</div>

		<div class="profile">
			<div class="profile__header">Kontonummer</div>

			<div class="profile__row form-group has-feedback">
				<form action="/" method="post" data-toggle="validator" data-use-ajax>
					<label class="profile__label">Kontonummer</label>

					<div class="profile__input profile__input--account">
						<div class="profile__multiple-input">
							<label>Clearingnr</label>
							<input class="input-clearing"
								   type="number"
								   data-required-error="Du måste fylla i detta fält."
								   name="clearingnumber"
								   value="80325"
								   disabled>
						</div>
						<div class="profile__multiple-input">
							<label>Kontonummer</label>
							<input class="input-account"
								   type="number"
								   data-required-error="Du måste fylla i detta fält."
								   name="accountnumber"
								   value="234234"
								   disabled>
						</div>
						<div class="help-block with-errors"></div>
					</div>

					<div class="profile__actions">
						<button class="btn btn-link js-update-profile-row" type="button">Ändra</button>
						<button class="btn btn-link profile__submit" type="submit">Spara</button>
					</div>
				</form>
			</div>
		</div>

		<!-- OLD CODE: -->
		<div class="col-xs-12 h4 mina-verktyg--text">Mina Verktyg</div>
		<div class="col-md-9 col-xs-12 container--verktyg">
			<div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
				<button class="btn btn-primary btn-icon details-table__button">Playscan</button>
				<br>
				<p class="details-table__button-text">Håll spelandet under
					kontroll med Playscan</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
				<button class="btn btn-primary btn-icon details-table__button">Spelbudget</button>
				<br>
				<p class="details-table__button-text">Bestäm i förväg var
					dina spelgränser går</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
				<button class="btn btn-primary btn-icon details-table__button">Tidsgräns</button>
				<br>
				<p class="details-table__button-text">Spela inte längre tid än du tänkt dig</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding ">
				<button class="btn btn-primary btn-icon details-table__button">Spelstopp</button>
				<br>
				<p class="details-table__button-text">Om du vill spärra dig från våra onlinespel</p>
			</div>
		</div>
	</div>
</div>


@@include('layout/_footer.html', {"show_footer": true})

