@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
    <div class="container container-fluid">
        <h1>Mina uppgifter</h1>
        <p style="color: #536785;font-family: 'Proxima Nova';font-weight: 600;">Vissa av dina uppgifter nedan går inte att ändra eftersom de läses in automatiskt från folkbokföringsregistret.</p>



    <div class="table_wrapper">
        <!--<button class="editbtn">Ändra</button>-->
        <table class="details-table">
            <caption class="details-table__caption">Inloggningsuppgifter</caption>
            <tr>
                <th class="border" >Kundnummer</th>
                <td >110001679538</td>
                <th></th>
            </tr>
            <tr>
                <th class="border">E-postadress</th>
                <td class="details--tabel-edit__text">Hello@stefan.se</td>
                <th class="button"><button id="editbtn" class="edit-button">Ändra</button></th>
            </tr>
            <tr class="border">
                <th class="border" >Lösenord</th>
                <td class="change-password">
                    <div class="col-xs-12" style="padding-left: 0 !important;">
                        <div class="col-sm-6 col-xs-12 padding5">

                        <div class="col-xs-12 title">Nytt lösenord</div>
                            <input class="password" type="password">
                        </div>

                        <div class="col-sm-6 col-xs-12 padding5">

                        <div class="col-xs-12 title">Bekräfta lösenord</div>
                            <input class="passwordconfirm" type="password">
                        </div>

                        <div id="divCheckPasswordMatch"></div>
                    </div>
                </td>
                <td class="change-password--hidden">
                    <div class="change-password1" style="padding-left: 0!important;">
                        **********
                    </div>
                </td>
                <th class="button"><button id="editbtn" class="edit-button red">Ändra</button></th>
            </tr>
        </table>
    </div>


    <div class="table_wrapper">
        <table class="details-table">
            <caption class="details-table__caption">Profilinställningar</caption>
            <tr>
                <th class="border" >Chat-namn</th>
                <td>Djpingo</td>
                <th class="button"><button id="editbtn" class="edit-button red">Ändra</button></th>
            </tr>
            <tr>
                <th class="border">Nyhetsbrev</th>
                <td class="details-table__news--visible">
                        Ja
                </td>
                <td class="details-table__news--hidden">
                    <div class="details-table__checkbox">
                    <input type="checkbox" id="userAcceptTerms" class="custom-checkbox details-table__checkbox--margin" value="1">
                        <label class="newlabel" for="userAcceptTerms">Ja</label>
                    <input type="checkbox" id="userAcceptTerms1" class="custom-checkbox details-table__checkbox--margin" value="1">
                        <label class="checkboxnews newlabel" for="userAcceptTerms1">Nej</label>
                    </div>
                 </td>
                <th class="button"><button id="editbtn" class="edit-button red">Ändra</button></th>
            </tr>
        </table>
    </div>
        <div class="table_wrapper">

        <table class="details-table">
            <caption class="details-table__caption">Kontaktuppgifter</caption>
            <tr>
                <th class="border">Namn</th>
                <td>Stefan Jakobsson</td>
            </tr>
            <tr>
                <th class="border">Address</th>
                <td colspan="2">Hvitfeldtsgatan 4, 411 20, Göteborg</td>
            </tr>
            <tr>
                <th class="border" >Telefonnummer</th>
                <td>Ej angivet</td>
                <th class="button"><button id="editbtn" class="edit-button">Ändra</button></th>
            </tr>
            <tr>
                <th class="border" >Mobilnummer</th>
                <td>0768 95 67 48</td>
                <th class="button"><button id="editbtn" class="edit-button">Ändra</button></th>
            </tr>
        </table>
        </div>


    <div class="table_wrapper">
        <table class="details-table">
            <caption class="details-table__caption">Kontonummer</caption>
            <tr>
                <th class="border" >Kontonummer</th>
                <td class="kontonr ShowClear">
                    <div class="text">
                        <div class="col-xs-4 padding0" style="margin-bottom: 20px;">
                            <span class="ShowClear">Clearingnr</span>
                        </div>

                        <div class="col-xs-8 padding0" style="margin-bottom: 20px;">
                            <span class="ShowKonto" >Kontonummer</span>
                        </div>
                    </div>
                    <div class="col-xs-4 padding0">
                        <span class="clearingnr"> 8-1259</span>
                    </div>
                    <div class="col-xs-8 padding0">
                        <span class="konto">149500685490</span>
                     </div>
                </td>
                <th class="button"><button id="editbtn" class="edit-button1">Ändra</button></th>
            </tr>
        </table>
    </div>

        <div class="col-xs-12 h4 mina-verktyg--text">Mina Verktyg</div>
        <div class="col-md-9 col-xs-12 container--verktyg">
            <div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
                <button class="btn btn-primary btn-icon details-table__button">Playscan</button><br>
                <p class="details-table__button-text">Håll spelandet under
                    kontroll med Playscan</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
                <button class="btn btn-primary btn-icon details-table__button">Spelbudget</button><br>
                <p class="details-table__button-text">Bestäm i förväg var
                    dina spelgränser går</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding">
                <button class="btn btn-primary btn-icon details-table__button">Tidsgräns</button><br>
                <p class="details-table__button-text">Spela inte längre tid än du tänkt dig</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 details-table__button--padding ">
                <button class="btn btn-primary btn-icon details-table__button">Spelstopp</button><br>
                <p class="details-table__button-text">Om du vill spärra dig från våra onlinespel</p>
            </div>
        </div>
    </div>
</div>


@@include('layout/_footer.html', {"show_footer": true})

