@@include('layout/_top-new_nav.html', { "logged_in": true, "show_cart": false })
@@include('layout/_header.html', {
  "class": "page-front logged-out",
  "logged_in": true,
  "top_bar": false,

  "links_display": {
    "mob": "true",
    "tab": "true",
    "desk": "true"
  },
  "visa_saldo_display":{
    "mob": "true",
    "tab": "true",
    "desk": "true"
  },
  "insättning_display":{
    "mob": "true",
    "tab": "true",
    "desk": "false"
  },
  "registrera_lott_display":{
    "mob": "true",
    "tab": "true",
    "desk": "false"
  },
  
  "show_submenu":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"show_title":  {
		"mob": false,
		"tab": true,
		"desk": true
	},
	"title_type":  {
		"mob": "image",
		"tab": "text",
		"desk": "text"
	},
	"title":{
		"img_big": "https://i.ibb.co/nfWy0vt/banner-big.jpg",
		"img_small": 'https://i.ibb.co/nfWy0vt/banner-big.jpg',
		"text": "H1"
	},
	"show_spel_balance":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"show_spel_balance_info":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"spel_balance_order": {
		"mob": 2,
		"tab": 1,
		"desk": 1
	},
	"show_spel_cta":  {
		"mob": false,
		"tab": false,
		"desk": true
	},
	"spel_cta_type":  {
		"mob": "primary_pink",
		"tab": "secondary",
		"desk": "secondary"
	},
	"show_vinst_balance":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"show_vinst_balance_info":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"vinst_balance_order": {
		"mob": 1,
		"tab": 2,
		"desk": 2
	},
	"show_vinst_cta":  {
		"mob": false,
		"tab": false,
		"desk": true
	},
	"vinst_cta_type":  {
		"mob": "primary_blue",
		"tab": "secondary",
		"desk": "primary_pink"
	},
	"show_star_icon":  {
		"mob": true,
		"tab": true,
		"desk": true
	},
	"show_bag_icon":  {
		"mob": true,
		"tab": true,
		"desk": true
	}
  })
  
  <div class="new-nav-content main-content">
    @@include('blocks/_jackpot.html',{"blocks_layout":"three_columns", "hide_jackpot_mobile": false})

  @@include('blocks/_jackpot.html',{"blocks_layout":"two_columns", "hide_jackpot_mobile": false})
  </div>

  @@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false})