@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017">
	<div class="my-pages container">
		<div class="block block-hero block-hero--mini">
			<h1 class="block-hero__page-title">
				Spela bingo online hos Miljonlotteriet - vinn fantastiska vinster och jackpottar!
			</h1>
			<h2 class="block-hero__title">Prenumerationer</h2>
		</div>

		<section class="section block block-content">
			<div class="data-list">
				<div class="data-list__title">
					<h3 class="h5">Mina prenumerationer</h3>
				</div>

				<ul>
					<li>
						<div class="data-list__cell">Orginal</div>
						<div class="data-list__cell">6st</div>
						<div class="data-list__cell">200kr</div>
						<div class="data-list__cell">Digital</div>
						<div class="data-list__cell data-list__cell--actions">
							<div class="data-list__sub-actions">
								<a href="/" class="btn btn-data-action">Byt leveranssätt</a>
								<button class="btn btn-data-action js-open-subscription-modal"
										data-toggle="modal"
										data-target="#modal-payment-method"
										data-subscription-id="1">
									Ändra betalsätt
								</button>
								<a href="/" class="btn btn-data-action">Uppsägning</a>
							</div>

							<button class="btn btn-data-action js-data-list-toggle" data-text-toggle="Avbryt">Ändra
							</button>
						</div>
						<div class="data-list__cell data-list__cell--mobile-actions">
							<div class="data-list__sub-actions">
								<a href="/" class="btn btn-data-action">Byt leveranssätt</a>
								<button class="btn btn-data-action js-open-subscription-modal"
										data-toggle="modal"
										data-target="#modal-payment-method"
										data-subscription-id="1">
									Ändra betalsätt
								</button>
								<a href="/" class="btn btn-data-action">Uppsägning</a>
							</div>
						</div>
					</li>
					<li>
						<div class="data-list__cell">Tjugan</div>
						<div class="data-list__cell">4st</div>
						<div class="data-list__cell">40kr</div>
						<div class="data-list__cell">Fysisk</div>
						<div class="data-list__cell data-list__cell--actions">
							<div class="data-list__sub-actions">
								<a href="/" class="btn btn-data-action">Byt leveranssätt</a>
								<button class="btn btn-data-action js-open-subscription-modal"
										data-toggle="modal"
										data-target="#modal-payment-method"
										data-subscription-id="2">
									Ändra betalsätt
								</button>
								<a href="/" class="btn btn-data-action">Uppsägning</a>
							</div>

							<button class="btn btn-data-action js-data-list-toggle" data-text-toggle="Avbryt">Ändra
							</button>
						</div>
						<div class="data-list__cell data-list__cell--mobile-actions">
							<div class="data-list__sub-actions">
								<a href="/" class="btn btn-data-action">Byt leveranssätt</a>
								<button class="btn btn-data-action js-open-subscription-modal"
										data-toggle="modal"
										data-target="#modal-payment-method"
										data-subscription-id="2">
									Ändra betalsätt
								</button>
								<a href="/" class="btn btn-data-action">Uppsägning</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="block-content__btns">
					<a href="/" class="btn btn-primary">Starta ny prenumeration</a>
					<a href="/" class="btn btn-primary">Du har lotter att skrapa</a>
				</div>
			</div>

		</section>

		<section class="section block block-content">
			<h2>Dina fakturor</h2>

			<div class="invoices">
				<div class="invoice">
					<div class="invoice__header">
						<span class="invoice__icon invoice__icon--warning">!</span>
						<div class="invoice__status">
							<h3>Obetald faktura</h3>
							<p>Du har en obetald faktura.</p>
						</div>
					</div>

					<div class="invoice__values">
						<div class="invoice__cell"><span>Förfallodatum: </span> 2017-06-24</div>
						<div class="invoice__cell"><span>OCR: </span> 024242234-0240</div>
						<div class="invoice__cell"><span>Bankgiro: </span> 589-68879</div>
						<div class="invoice__cell"><span>Summa: </span> 250 kr</div>
					</div>
				</div>
				<div class="invoice">
					<div class="invoice__header">
						<span class="invoice__icon invoice__icon--warning">!</span>
						<div class="invoice__status">
							<h3>Obetald faktura</h3>
							<p>Du har en obetald faktura.</p>
						</div>
					</div>

					<div class="invoice__values">
						<div class="invoice__cell"><span>Förfallodatum: </span> 2017-06-24</div>
						<div class="invoice__cell"><span>OCR: </span> 024242234-0240</div>
						<div class="invoice__cell"><span>Bankgiro: </span> 589-68879</div>
						<div class="invoice__cell"><span>Summa: </span> 250 kr</div>
					</div>
				</div>
			</div>
			<div class="form-group responsive-table-filter">
				<label for="tableSelect">Filtrera:</label>
				<select id="tableSelect" class="table-select form-control" name="tableSelect">
					<option value="physicalDelivery" id="physicalDeliveryHistory">Fysisk</option>
					<option value="digital" id="digitalHistory">Digital</option>
				</select>
			</div>

			<div id="physicalDelivery" class="table-pane table-pane--active tab-pane" role="tabpanel">
				<p class="table__title-block">Fysisk</p>
				<div class="data-list data-list--table">
					<div class="data-list__header">
						<div class="data-list__header-cell">Förfallodatum</div>
						<div class="data-list__header-cell">Belopp</div>
						<div class="data-list__header-cell">Typ</div>
						<div class="data-list__header-cell">Status</div>
						<div class="data-list__header-cell"></div>
					</div>

					<ul id="invoice-history-data" data-total-items="8">
						<li>
							<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
							<div class="data-list__cell" data-header="Belopp">40.00kr</div>
							<div class="data-list__cell" data-header="Typ">Orginal</div>
							<div class="data-list__cell" data-header="Status">
								<span class="text-color-orange">Obetald</span>
							</div>
							<div class="data-list__cell data-list__cell--actions">
								<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
										data-text-toggle="Visa mindre">Visa mer
								</button>
							</div>

							<div class="data-list__dropdown">
								<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
								<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
							</div>
						</li>
						<li>
							<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
							<div class="data-list__cell" data-header="Belopp">40.00kr</div>
							<div class="data-list__cell" data-header="Typ">Orginal</div>
							<div class="data-list__cell" data-header="Status">
								<span class="text-color-green">Obetald</span>
							</div>
							<div class="data-list__cell data-list__cell--actions">
								<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
										data-text-toggle="Visa mindre">Visa mer
								</button>
							</div>

							<div class="data-list__dropdown">
								<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
								<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
							</div>
						</li>
					</ul>

					<div class="entity-collection-actions">
						<a class="btn btn-primary" data-target="#invoice-history-data"
							href="/ajax/invoice-history.html">Visa fler</a>
					</div>
				</div>
			</div>
			<div id="digital" class="table-pane tab-pane" role="tabpanel">
				<p class="table__title-block">Digital</p>
				<div class="data-list data-list--table">
					<div class="data-list__header">
						<div class="data-list__header-cell">Förfallodatum</div>
						<div class="data-list__header-cell">Belopp</div>
						<div class="data-list__header-cell">Typ</div>
						<div class="data-list__header-cell">Status</div>
						<div class="data-list__header-cell"></div>
					</div>

					<ul id="invoice-digital-data" data-total-items="8">
						<li>
							<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
							<div class="data-list__cell" data-header="Belopp">40.00kr</div>
							<div class="data-list__cell" data-header="Typ">Orginal</div>
							<div class="data-list__cell" data-header="Status">
								<span class="text-color-orange">Obetald</span>
							</div>
							<div class="data-list__cell data-list__cell--actions">
								<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
										data-text-toggle="Visa mindre">Visa mer
								</button>
							</div>

							<div class="data-list__dropdown">
								<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
								<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
							</div>
						</li>
						<li>
							<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
							<div class="data-list__cell" data-header="Belopp">40.00kr</div>
							<div class="data-list__cell" data-header="Typ">Orginal</div>
							<div class="data-list__cell" data-header="Status">
								<span class="text-color-green">Obetald</span>
							</div>
							<div class="data-list__cell data-list__cell--actions">
								<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
										data-text-toggle="Visa mindre">Visa mer
								</button>
							</div>

							<div class="data-list__dropdown">
								<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
								<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
							</div>
						</li>
					</ul>

					<div class="entity-collection-actions">
						<a class="btn btn-primary" data-target="#invoice-digital-data"
							href="/ajax/invoice-history.html">Visa fler</a>
					</div>
				</div>
			</div>


		</section>

		<section class="section block block-content">

		</section>

	</div>
</div>

@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })