@@include('layout/_header.html', {
	"class": "page-front logged-out"
})

<div class="ml-2017">
    <div id="top">
        <div class="top">
            <div class="top__holder">
                <div class="top__menu-toggle top__menu-toggle--default top__menu-toggle--active js-top__menu-toggle--active">
                    <button class="js-toggle-nav">
                        <i class="icon icon-burger"></i>
                        <span>Meny</span>
                    </button>
                </div>
                <div class="top__menu-toggle top__menu-toggle--notify top__menu-toggle--account">
                    <button class="js-toggle-account">
                        <i class="icon icon-user"></i>
                        <span>Mina sidor</span>
                    </button>
                </div>
                <div class="top__brand">
                    <a href="/" title="Hem" class="top__brand-logotype">
                        <img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
                    </a>
                </div>
                <div class="top__contact top__contact--hidden">
                    <div class="icon">
                        <img src="assets/img/icons/support.svg" width="30" height="30" alt="Pilikon för att visa innehåll">
                    </div>
                    <div class="text">
                        <p>Ring in och beställ dina lotter</p>
                        <a href="tel:+46313880000">031-388 00 00</a>
                    </div>
                </div>
                <div class="top__account-info hidden-xs">
                    <div class="top__account-info-wallet">
                        <a href="#">
                            <span>Spelplånbok</span>
                            <span>45234230 kr</span>
                        </a>
                    </div>
                    <div class="top__account-info-winnings">
                        <a href="#">
                            <span>Vinstkonto</span>
                            <span>450 kr</span>
                        </a>
                    </div>
                    <div class="top__account-info-cart visible-xs hidden-xl hidden-l hidden-md hidden-sm">
                        <a href="#test" data-toggle="modal" data-target="#modal-cart">
                            <span>Kundvagn<br /><span>230 kr</span></span>
                            <span>99</span>
                        </a>
                    </div>
                </div>
                <div class="top__actions">
                    <div class="top__actions-cart product-cart">
                        <div class="product-cart__item visible-xs">
                            <div class="product-cart__content">
                                <p class="product-cart__title">Vinstkonto</p>
                                <p class="product-cart__meta">450kr</p>
                            </div>
                        </div>
                        <a class="product-cart__item product-cart__item--theme-green" href="#">
                            <div class="product-cart__content dreamlist">
                                <i class="product-cart__icon icon icon-star"></i>
                                <p class="product-cart__title">Min drömlista</p>
                            </div>
                            <span class="product-cart__notification">0</span>
                        </a>
                        <a class="product-cart__item product-cart__item--theme-blue" href="#" data-toggle="modal" data-target="#modal-cart">
                            <div class="product-cart__content">
                                <p class="product-cart__title">Kundvagn</p>
                                <p class="product-cart__meta">
                                    <span class="js-cart-total" data-total="0">0</span> kr
                                </p>
                            </div>
                            <span class="product-cart__notification">0</span>
                        </a>
                    </div>
                    <div class="top__actions-account">
                        <div class="dropdown js-show-dropdown">
                            <button class="dropdown__button" type="button" data-toggle="dropdown" aria-expanded="false">
                                Mina sidor<span class="top__actions-account-notification">3</span><i class="icon icon-chevron-down icon-size-small"></i>
                            </button>
                            <div class="dropdown-menu">
                                <span class="dropdown-menu-title">Mina sidor</span>
                                <ul>
                                    <li>
                                        <a href="#">Min startsida</a><span class="top__actions-account-notification">2</span>
                                    </li>
                                    <li>
                                        <a href="#">Mina uppgifter</a>
                                    </li>
                                    <li>
                                        <a href="#">Mina prenumerationer</a><span class="top__actions-account-notification">1</span>
                                    </li>
                                    <li>
                                        <a href="#">Min spelhistorik</a>
                                    </li>
                                    <li>
                                        <a href="#">Hämta bonus</a>
                                    </li>
                                    <li>
                                        <a href="#">Playscan</a>
                                    </li>
                                    <li>
                                        <a href="#">Logga ut</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top__break"></div>
                <div class="top__main-nav">
                    <nav class="navigation navigation--left js-main-navigation">
                        <div class="top__brand">
                            <a href="/" title="Hem" class="top__brand-logotype">
                                <img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
                            </a>
                            <a href="#" class="top__brand-register">Registrera lott</a>
                        </div>
                        <ul>
                            <li class="navigation__item navigation__item--only-thumb navigation__item--has-children js-navigation__item">
                                <a href="#">Startpage</a>
                                <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
                                <ul class="navigation__children">
                                    <li class="navigation__item">
                                        <a href="">Prenumerationslotter</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">5 orsaker att prenumerera</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Avsluta prenumeration</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-prenumeration">
                                <a href="#">Prenumerera</a>
                                <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
                                <ul class="navigation__children">
                                    <li class="navigation__item navigation__item--active">
                                        <a href="">Prenumerationslotter</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">5 orsaker att prenumerera</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Avsluta prenumeration</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-spela-bingo">
                                <a href="#">Spela bingo</a>
                                <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
                                <ul class="navigation__children">
                                    <li class="navigation__item navigation__item--active">
                                        <a href="">Våra bingospel</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Aktuell kampanjer</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Aktuella jackpottar</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Bingoskola</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-vara-lotter">
                                <a href="#">Våra lotter</a>
                                <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
                                <ul class="navigation__children">
                                    <li class="navigation__item">
                                        <a href="">Onlinelotter</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Prenumerationslotter</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Övriga onlinespel</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Skraplott i butik</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Registrera lott</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Aktuella kampanjer</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Nitlottsdragningen</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Jackpott</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navigation__item js-navigation__item">
                                <a href="#">Vinster</a>
                            </li>
                            <li class="navigation__item js-navigation__item">
                                <a href="#">Vårt syfte</a>
                            </li>
                            <li class="navigation__item navigation__item--active navigation__item--default navigation__item--has-children js-navigation__item js-navigation__item--active" data-open-by-default="true" data-mega-menu-id="mega-om-miljonlotteriet">
                                <a href="/logged-out.html">Om Miljonlottreriet</a>
                                <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
                                <ul class="navigation__children">
                                    <li class="navigation__item navigation__item--active">
                                        <a href="">Om Miljonlotteriet</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="/blocks-promotion.html#test">Ansvarsfullt spelande</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Vad kan jag vinna?</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Vinnare</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Jobba hos Miljonlotteriet</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Press</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="">Kontakta oss</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="top__contact">
                            <div class="icon">
                                <img src="assets/img/icons/support.svg" width="30" height="30" alt="Pilikon för att visa innehåll">
                            </div>
                            <div class="text">
                                <p>Ring in och beställ dina lotter</p>
                                <a href="tel:+46313880000">031-388 00 00</a>
                            </div>
                        </div>
                    </nav>

                    <nav class="navigation navigation--account navigation--right js-account-navigation hidden-md-up">
                        <strong class="navigation__title">Mina sidor</strong>
                        <ul>
                            <li class="navigation__item">
                                <a href="/MinSida.aspx" class="">Min startsida
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Mina uppgifter
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Mitt konto
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Mina prenumerationer
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Mina onlinespel
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Registrerade lotter
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Nitlottsdragningar
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Jackpotandelar
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Hämta bonus
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#" class="">Playscan
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="/LogOut.aspx" class="">Logga ut
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="top__quick-nav">
                    <ul>
                        <li class="top__quick-nav-item top__quick-nav-item--has-children js-top__quick-nav-item" data-mega-menu-id="mega-prenumeration">
                            <a href="#">Prenumerera</a>
                        </li>
                        <li class="top__quick-nav-separator"></li>
                        <li class="top__quick-nav-item top__quick-nav-item--has-children js-top__quick-nav-item" data-mega-menu-id="mega-spela-bingo">
                            <a href="#">Spela bingo</a>
                        </li>
                        <li class="top__quick-nav-separator"></li>
                        <li class="top__quick-nav-item top__quick-nav-item--has-children js-top__quick-nav-item" data-mega-menu-id="mega-vara-lotter">
                            <a href="#">Våra lotter</a>
                        </li>
                    </ul>
                </div>
                <div class="top__register-scratch">
                    <a href="#">Registrera lott</a>
                </div>
                <div class="top__overlay top__overlay--closed js-top__overlay"></div>
                <button class="btn btn-primary btn-icon-only top__overlay-btn js-top__overlay-btn">
                    <i class="icon icon-close"></i>
                </button>
                <div class="top__mega">
                    <div class="top__mega-holder">
                        <div id="mega-prenumeration" class="top__mega-item js-top__mega-item">
                            <ul>
                                <li class="navigation__item">
                                    <a href="">Prenumerationslotter</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">5 orsaker att prenumerera</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Avsluta prenumeration</a>
                                </li>
                            </ul>
                        </div>
                        <div id="mega-spela-bingo" class="top__mega-item js-top__mega-item">
                            <ul>
                                <li class="navigation__item">
                                    <a href="">Våra bingospel</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Aktuell kampanjer</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Aktuella jackpottar</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Bingoskola</a>
                                </li>
                            </ul>
                        </div>
                        <div id="mega-vara-lotter" class="top__mega-item js-top__mega-item">
                            <ul>
                                <li class="navigation__item">
                                    <a href="">Onlinelotter</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Prenumerationslotter</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Övriga onlinespel</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Skraplott i butik</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Registrera lott</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Aktuella kampanjer</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Nitlottsdragningen</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Jackpott</a>
                                </li>
                            </ul>
                        </div>
                        <div id="mega-om-miljonlotteriet" class="top__mega-item top__mega-item--active js-top__mega-item js-top__mega-item--active">
                            <ul>
                                <li class="navigation__item navigation__item--active">
                                    <a href="">Om Miljonlotteriet</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="/blocks-promotion.html#test">Ansvarsfullt spelande</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Vad kan jag vinna?</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Vinnare</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Jobba hos Miljonlotteriet</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Press</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="">Kontakta oss</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-wrapper ml-2017">
	<div class="container">
		<div class="row mt-20 btn-back_product-custom">
            <button class="btn-back" data-target="">
                <div class="btn-back__icon">
                    <svg id="tillbaka-pil" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <circle id="Oval" cx="12" cy="12" r="12" fill="#c9e8f4"/>
                        <path id="Path_3" data-name="Path 3" d="M5,0,0,5l5,5" transform="translate(8 7)" fill="none" stroke="#053a53" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                      </svg>
                </div>
                <span class="btn-back__title">Tillbaka</span>
            </button>
        </div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="product-slider positive-gallery-slider" id="product-slider">
                    <div class="product-slider__big-box">
                        <div class="block block-hero block-hero--mini block-hero--no-margin">
                            <h1 class="block-hero__page-title block-hero__page-title--absolute">
                                Påslakanset Magnolia från Borås Cotton.
                            </h1>
                        </div>

                        <p class="product-slider__counter js-item-count">
                            <span class="product-slider__current">1</span>/<span class="product-slider__count">0</span>
                        </p>

                        <div class="product-slider__item product-slider__item--large zoom-image">

                        </div>
                        
                        <div class="video__inframe">
                          <iframe class="product-slider__item--large" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>

					<div class="product-slider__small-box side-img">
                        <div class="product-slider__item product-slider__item--small">
                        
                          <a href="#" class="play__video" data-video="/assets/video/hemsidebanner_hi3.mp4"><img class="small-preview " src="/assets/img/mockup/paslakan-1.jpg" alt=""/></a>

                        </div>
                        <div class="product-slider__item product-slider__item--small">
                            <img class="small-preview"  src="/assets/img/mockup/paslakan-2.jpg" alt=""/>
                        </div>
                        <div class="product-slider__item product-slider__item--small">
                          <a href="#" class="play__video" data-video="/assets/video/hemsidebanner_hi3.mp4"><img class="small-preview " src="/assets/img/mockup/paslakan-1.jpg" alt=""/></a>
                        </div>
                        <div class="product-slider__item product-slider__item--small">
                            <img class="small-preview" src="/assets/img/mockup/paslakan-4.jpg" alt=""/>
                        </div>
                        <div class="product-slider__item product-slider__item--small">
                            <img class="small-preview" src="/assets/img/mockup/paslakan-5.jpg" alt=""/>
                        </div>
                        <div class="product-slider__item product-slider__item--small">
                            <img class="small-preview" src="/assets/img/mockup/paslakan-6.jpg" alt=""/>
                        </div>
                    </div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6 product-info product-info_custom">
				<div class="product-info__header">
					<img class="product-info__logo" src="http://placehold.it/400x200" alt="Logotyp"/>
					<h2 class="product-info__title h3">Påslakanset Magnolia, 2-pack</h2>
				</div>

				<div class="product-info__meta">
					<span class="product-info__meta-item product-info__label product-info__label_bold background-color-orange">Sista chansen</span>
					<span class="product-info__meta-item">Borås Cotton</span>
                    <!-- class="product-info__meta-item_bold" for bold and not italic -->
				</div>
				<p>
                    Blommor har alltid representerat det vackra och klassiska i designvärlden men också det lekfulla. Magnolia påslakanset är en hyllning till denna tradition där Borås Cotton har valt en två-sidig design, där det underbara Magnolia-mönstret kombineras med en vacker grå färg. Allt i en ljuvligt mjuk och glansfull satin.
				</p>
				<div class="product-info__details-wrapper mt-20">
                    <div class="product-info__details product-info__details-left-col js-is-visible">
                        <span class="product-info__text-btn product-info__text-title">
                            Hållbart val
                        </span>

                        <ul>
                            <li>Öko-tex certifierad enligt Standard 100 Klass 1</li>
                        </ul>

                        <button class="product-info__text-btn js-toggle-content" data-content="product-details">Visa produktfakta</button>
                        <div class="product-info__details" id="product-details">
                            <div class="product-info__text-title mt-20">
                                <b>Produktfakta</b>
                            </div>
                            <ul>
                                <li>2 påslakan och 2 örngotta</li>
                                <li>Storlek på påslakan: 150 x 210 cm</li>
                                <li>Storlek på örngott: 50 x 60 cm</li>
                                <li>Material: Satin TC206</li>
                                <li>Tvättråd: 60°C</li>
                                <li>Mått: 100 x 100 cm</li>
                                <li>Material: Bomull</li>
                                <li>Design: WMYL</li>
                            </ul>
                            <button class="product-info__text-btn js-hide-content" data-content="product-details">Dölj produktfakta</button>
                        </div>

						<div class="product-controls">
							<div class="product-controls__colors">
								<div class="product-controls__radio">
									<input type="radio" name="color" id="color-1" value="color-1" checked>
									<label for="color-1">
										<img src="/assets/img/mockup/color1@2x.jpg" alt="color-1">
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="color" id="color-2" value="color-2">
									<label for="color-2">
										<img src="/assets/img/mockup/color2@2x.jpg" alt="color-2">
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="color" id="color-3" value="color-3">
									<label for="color-3">
										<img src="/assets/img/mockup/color1@2x.jpg" alt="color-3">
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="color" id="color-4" value="color-4">
									<label for="color-4">
										<img src="/assets/img/mockup/color2@2x.jpg" alt="color-4">
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="color" id="color-5" value="color-5">
									<label for="color-5">
										<img src="/assets/img/mockup/color1@2x.jpg" alt="color-5">
									</label>
								</div>
							</div>

							<div class="product-controls__sizes">
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-1" value="size-1" disabled>
									<label for="size-1">
										XXS
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-2" value="size-2" disabled>
									<label for="size-2">
										XS
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-3" value="size-3">
									<label for="size-3">
										S
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-4" value="size-4" checked>
									<label for="size-4">
										M
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-5" value="size-5">
									<label for="size-5">
										L
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-6" value="size-6">
									<label for="size-6">
										XL
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="size" id="size-7" value="size-7">
									<label for="size-7">
										XXL
									</label>
								</div>
							</div>

							<div class="product-controls__gift-cards">
								<div class="product-controls__radio">
									<input type="radio" name="card" id="card-1" value="card-1">
									<label for="card-1">
										1 mån
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="card" id="card-2" value="card-3" checked>
									<label for="card-2">
										3 mån
									</label>
								</div>
								<div class="product-controls__radio">
									<input type="radio" name="card" id="card-3" value="card-6">
									<label for="card-3">
										6 mån
									</label>
								</div>
							</div>
						</div>

                        <p class="product-info__winning-nr product-info__winning-nr_ttnormal">
                            Vinstnummer: 240089
                        </p>

                    </div>
                    <div class="product-info__details-right-col">
                        <ul class="product-order list-unstyled">
                            <li class="product-order__item product-order__item-small">
                                <span class="product-order__label">Vinstvärde:</span>
                                <span class="product-order__value">599 kr</span>
                            </li>
                            <li class="product-order__item product-order__item-small">
                                <p>
                                    <span class="delivery-status">Finns i lager</span>
                                </p>
                                <p>
                                    <img src="assets/img/icons/express.svg">
                                    <span>Expressleverans möjlig</span>
                                </p>
                            </li>
                            <li class="product-order__item">
                                <div class="product-order__btn-wrapper">
                                    <button class="product-order__btn btn btn-success" data-toggle="modal" data-target="#modal-cart">
                                            Beställ denna vinst
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

				<div class="product-dreamlist product-dreamlist_custom row">
					<div class="col-xs-12 col-sm-6">
						<p class="product-dreamlist__desc">
                            Lägg till dina favoritvinster i din drömlista så kan du enkelt hitta dem senare.
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 ">
						<div class="product-dreamlist__progress-wrapper_custom">

                            <div class="product-dreamlist__progress__price">
                                <p>599 kr kvar</p>
                            </div>
							<button class="product-dreamlist__progress product-dreamlist__progress--rounded product-dreamlist__progress_custom" href="#modal-login" data-toggle="modal">
								<span class="product-dreamlist__dream-button btn-link">
									<i class="icon icon-dream-star dreamlist-icon"></i>
								</span>
								<span class="product-dreamlist__text">Lägg till i drömlistan</span>
							</button>
							<p class="text-center product-dreamlist_fav-text">211 personer sparar till denna i sin drömlista</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section product-list-blocks product-list-blocks--dreamlist product-list-blocks_custom">

            <!-- <div class="s-title-banner s-title-banner_less-mg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="h2 title-block title-block--green">Populära produkter i samma prisklass</h2>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xs-12">
                    <h5 class="text-center">Populära produkter i samma prisklass</h5>
                </div>
            </div>

			<div class="row equal-height mt-block-20">

				@@include('blocks/product-list/_product-item.html', {
				"href": "/product-page.html",
				"image": "assets/img/mockup/butterfly.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"color": "blue",
				"title": "En rad",
				"subtitle": "Fusce Nibh",
				"price": "450 kr",
				"dreamButton": "loggetOut"
				})

				@@include('blocks/product-list/_product-item.html', {
				"href": "/product-page.html",
				"image": "assets/img/mockup/butterfly.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"price": "200 kr",
				"dreamButton": "loggetOut"
				})

				@@include('blocks/product-list/_product-item.html', {
				"href": "/product-page.html",
				"image": "assets/img/mockup/nature.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"subtitle": "Fusce Nibh",
				"price": "10.000 kr",
				"dreamButton": "loggetOut"
				})

				@@include('blocks/product-list/_product-item.html', {
				"href": "/product-page.html",
				"image": "assets/img/mockup/sunset.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"price": "30 kr",
				"dreamButton": "loggetOut"
				})
			</div>

			<div class="block-product__more-button block-product__more-button_mt">
				<a class="btn btn-primary" href="/vinstshop-start.html#product-list">Tillbaka till vinstshopen</a>
			</div>
		</section>

	</div>
</div>

@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })