@@include('layout/_header.html', {
	"class": "page-register logged-out page--content-only",
	"logged_in": false
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })

<div class="content-wrapper ml-2017 registerSubscription-page">
   <section class="registerSubscription" style="background-image: url('assets/img/background/product-page.png');">

			 @@include('blocks/_registration-form.html', { "page": "register-subscription", "text" : "top" })

   </section>
</div>

@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": true })