
@@include('layout/_header.html', {
	"class": "page-register logged-out page--content-only",
	"logged_in": false
})

@@include('layout/_top-new.html', { "logged_in": false, "show_cart": false })
<!--
@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})-->


<div class="content-wrapper ml-2017 register-content">
	@@include('blocks/_hero.html', {
	"hero_type": "full",
	"hero_align": "middle",
	"hero_content": true
	})
	<div class="container">
		<form id="register-form" class="register-content" data-toggle="validator" action="/" method="get">
		
			<a href="/" id="registerBackButton" class="btn-icon-only">
				<i id="registerBackButtonIcon" class="icon icon-arrow-button "></i>
			</a>
			<div class="row content">
				<div class="col-12 col-sm-0 col-md-1"></div>
				<div class="col-12 col-sm-5 col-md-4">
					<h2>Hej!</h2>
					<p>Låt oss skapa ditt konto.Det tar bara en minut</p>
					<div class="form-group has-feedback">
						<label for="userPersonalNumber">Ange ditt personnummer</label>
						<input type="text" class="form-control" id="userPersonalNumber"
							   placeholder="ÅÅMMDD-NNNN" data-minlength="10" required data-required-error="Du måste fylla i detta fält." data-minlength-error="Minst 10 tecken." data-toggle="popover" data-trigger="manual" data-placement="top">
						<i class="icon icon-check input-icon form-control-feedback" style="display:none;"></i>
						<img class="form-control-feedback" id="spinnerPersonalNumber" src="assets/img/icons/spinner.svg" style="display:none;">

						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group has-feedback">
						<label for="userEmail has-feedback">Och din e-postadress</label>
						<input type="email" class="form-control" id="userEmail"
							   placeholder="namn@email.se" required data-required-error="Du måste fylla i detta fält." data-error="Detta är inte en korrekt e-postadress, det måste finnas ett @ med.">
						<div class="help-block with-errors"></div>
					</div>

					<div id="delivery" class="form-group has-feedback" >
						<label for="chooseDelivery" style="width: 100%;">
							Välj leveranssätt
						</label>
						<select id="chooseDelivery" class="form-control chooseDelivery" name="chooseDelivery" required data-error="Du måste välja ett leveranssätt" style="width: 100%">
							<option value>Välj leveranssätt</option>
							<option value="fysiska" id="fysiska">Jag vill ha fysiska lotter</option>
							<option value="digitala" id="digitala">Jag vill ha digitala lotter</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>
				</div>

				<div class="col-12 col-md-4 col-sm-5 col-sm-offset-1 col-md-offset-1 right-input-group" >
					<div id="payWay" class="form-group has-feedback" >
						<label for="choosePayWay" style="width: 100%;">
							Välj betalsätt
						</label>
						<select id="choosePayWay" class="form-control choosePayWay" name="choosePayWay" required data-error="Du måste välja betalsätt" style="width: 100%">
							<option value>Välj betalsätt</option>
							<option value="faktura" id="faktura">Faktura</option>
							<option value="betalkort" id="betalkort">Betalkort</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>

					<div id="loginWay" class="form-group has-feedback" >
						<label for="chooseLoginWay" style="width: 100%;">
							Välj inloggningssätt
						</label>
						<select id="chooseLoginWay" class="form-control chooseLoginWay" name="chooseLoginWay" required data-error="Du måste välja ett inloggningssätt" style="width: 100%">
							<option value>Välj inloggningssätt</option>
							<option value="bankid" id="bankid">Bank Id</option>
							<option value="password" id="password">Lösenord</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>

					<div id="deviceId" style="display: none">
						<label for="chooseDevice">Välj Enhet</label>
						<select id="chooseDevice" class="fomr-control chooseDevice" name="chooseDevice" style="width: 100%">
							<option value="1">BankID på denna enhet</option>
							<option value="2">BankID på annan enhet</option>
						</select>
					</div>

					<div id="passwordInputs" style="display: none;">
						<div class="form-group has-feedback"  id="userPasswordGroup" >
							<label for="userPassword">Ange lösenord</label><label class="pull-right light-label" for="userPassword">Minst 6 tecken</label>
							<input type="password" class="form-control" data-minlength="6" id="userPassword"
								   placeholder="" data-required-error="Du måste fylla i detta fält." data-minlength-error="Minst 6 tecken.">
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group has-feedback" id="userPasswordRepeatGroup">
							<label for="userPasswordRepeat">Ange lösenordet igen</label>
							<input type="password" class="form-control" id="userPasswordRepeat" type="hidden" data-match="#userPassword" data-match-error=modal-ops
								   placeholder="" data-required-error="Du måste fylla i detta fält.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="userAcceptTerms" class="custom-checkbox" required data-required-error="Du måste fylla i detta fält.">
								Jag godkänner Miljonlotteriets <a href="#" data-toggle="modal" data-target="#modal-conditions">Villkor</a>
							</label>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" class="custom-checkbox" id="newsletterCheckbox"> Jag vill ha nyhetsbrev
							</label>
						</div>
					</div>

					<div class="input-group">
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Slutför</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-center" style="margin-top: 70px;">Är du redan kund?<a href="#" class="navlink" data-toggle="modal" data-target="#modal-login"> Klicka här</a> för<br> att logga in.</div>
			<div class="col-12 col-md-1 col-sm-0"></div>
		</form>
	</div>
	<div class="container">
		<form id="register-form1" class="register-content" data-toggle="validator" action="/" method="get">
		
			<a href="/" id="registerBackButton" class="btn-icon-only">
				<i id="registerBackButtonIcon" class="icon icon-arrow-button "></i>
			</a>
			<div class="row content">
				<div class="col-12 col-sm-0 col-md-1"></div>
				<div class="col-12 col-sm-5 col-md-4">
					<h2>Hej!</h2>
					<p>Låt oss skapa ditt konto.Det tar bara en minut</p>
					<div class="form-group has-feedback">
						<label for="userPersonalNumber">Ange ditt personnummer</label>
						<input type="text" class="form-control" id="userPersonalNumber"
							   placeholder="ÅÅMMDD-NNNN" data-minlength="10" required data-required-error="Du måste fylla i detta fält." data-minlength-error="Minst 10 tecken." data-toggle="popover" data-trigger="manual" data-placement="top">
						<i class="icon icon-check input-icon form-control-feedback" style="display:none;"></i>
						<img class="form-control-feedback" id="spinnerPersonalNumber" src="assets/img/icons/spinner.svg" style="display:none;">

						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group has-feedback">
						<label for="userEmail has-feedback">Och din e-postadress</label>
						<input type="email" class="form-control" id="userEmail"
							   placeholder="namn@email.se" required data-required-error="Du måste fylla i detta fält." data-error="Detta är inte en korrekt e-postadress, det måste finnas ett @ med.">
						<div class="help-block with-errors"></div>
					</div>

					<div id="delivery" class="form-group has-feedback" >
						<label for="chooseDelivery" style="width: 100%;">
							Välj leveranssätt
						</label>
						<select id="chooseDelivery" class="form-control chooseDelivery" name="chooseDelivery" required data-error="Du måste välja ett leveranssätt" style="width: 100%">
							<option value>Välj leveranssätt</option>
							<option value="fysiska" id="fysiska">Jag vill ha fysiska lotter</option>
							<option value="digitala" id="digitala">Jag vill ha digitala lotter</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>

					<div id="association" class="form-group has-feedback" >
						<label for="chooseAssociation" class="chooseAssociationLabel" style="width: 100%;">
							Jag önskar stödja följande förening <i class="icon icon-info tooltip-on-touch" data-toggle="tooltip" data-placement="top" data-original-title="Information kring denna funktion"></i>
						</label>
						<select id="chooseAssociation" class="form-control chooseAssociation" required name="chooseAssociation" style="width: 100%">
							<option></option>
							<option value="01C4774">HUDDINGE, TULLINGE</option>
							<option value="11C0027">Globen, Hässleholm</option>
							<option value="11C1589">Lund, LUND</option>
							<option value="11C5607">SYDKUSTEN, TRELLEBORG</option>
							<option value="11B0901">KARL XII och Hemmets Lycka, TRELLEBORG</option>
							<option value="11C1041">SVEDBERG, VIKEN</option>
							<option value="11B0117">OTTO LINDBLAD, SÖSDALA</option>
							<option value="13C3708">FRAMTIDEN, FALKENBERG</option>
							<option value="13B0124">LÅNGARYD, LÅNGARYD</option>
							<option value="07C4669">FRAM, RYDAHOLM</option>
							<option value="07C2876">LJUNG, LJUNGBY</option>
							<option value="07C0693">Wieselgrens Förhoppning, VISLANDA</option>
							<option value="07C0201">VÄXJÖ, VÄXJÖ</option>
							<option value="07C5604">VISOL, VÄXJÖ</option>
							<option value="07B2428">LINNÉAN	VÄRENDS, NÖBBELE</option>
							<option value="07C3072">TROJENBORG, RYD</option>
							<option value="14C2527">KVILLEBÄCKEN, TORSLANDA</option>
							<option value="13C0342">Leon Gambetta, VARBERG</option>
							<option value="15C2975">WESTGÖTEN, ALINGSÅS</option>
							<option value="15C0297">RYRS FRAMTID, VÄNERSBORG</option>
							<option value="15C0948">MELLERUDS HOPP, MELLERUD</option>
							<option value="15C4273">SKOGSBYGDEN, BREDARED</option>
							<option value="15B1785">MORGONSTJÄRNAN, TÖLLSJÖ</option>
							<option value="16C4416">THORSTEN RUDENSCHÖLDS MINNE, LIDKÖPING</option>
							<option value="16C0017">17 THOR, SKÖVDE</option>
							<option value="16B2323">THOR TORSÖ, MARIESTAD</option>
							<option value="16C0127">CARL IX, MARIESTAD</option>
							<option value="07C4289">NORRSKEN, JÖNKÖPING</option>
							<option value="06B0745">OSCAR, JÖNKÖPING</option>
							<option value="06B1658">MARIA, JÖNKÖPING</option>
							<option value="06B0519">NORDSTJÄRNAN, VAGGERYD</option>
							<option value="08B0516">MERA LJUS, KRISTDALA</option>
							<option value="06C1783">SOLUPPGÅNGEN, TRANÅS</option>
							<option value="06C4250">MAJBLOMMAN, STOCKARYD</option>
							<option value="05B0649">FRAMÅT, BORENSBERG</option>
							<option value="05C2277">HORNS HOPP, HORN</option>
							<option value="08B2860">TOVERUM	ANKARSRUM</option>
							<option value="05C1831">GUSTAF WASA, MJÖLBY</option>
							<option value="08B0114">VIMMERBY, VIMMERBY</option>
							<option value="04C0225">NYKÖPING, NYKÖPING</option>
							<option value="05C1714">FINSPÅNG, FINSPÅNG</option>
							<option value="04C0235">IOGT-NTO 235 KATRINEHOLM, KATRINEHOLM</option>
							<option value="04C0505">ALLMÄNT VÄL, FLEN</option>
							<option value="18B0426">GULDSMEDEN, STORÅ</option>
							<option value="19C0003">GUSTAF ADOLF, KÖPING</option>
							<option value="19C2930">HALLSTAHAMMAR, HALLSTAHAMMAR</option>
							<option value="19C2067">LINNÉA, KOLBÄCK</option>
							<option value="19C0620">PROTEST, FAGERSTA</option>
							<option value="03B2372">BROFÄSTET, ÖRSUNDSBRO</option>
							<option value="03B1575">SVEA, UPPSALA</option>
							<option value="01B1870">VÄDDÖ IOGT-NTO, VÄDDÖ</option>									
							<option value="20C0621">ENIGHET, NYHAMMAR</option>
							<option value="20C3726">NYHYTTAN, AVESTA</option>
							<option value="20C2459">STÄDJANS HOPP, SÄRNA</option>
							<option value="20C0943">DAGGDROPPEN, ÄLVDALEN</option>
							<option value="21C0200">VÄNSKAPSBANDET, SANDVIKEN</option>
							<option value="21C2378">HOFORS MINNE, HOFORS</option>									
							<option value="03B0412">SKUTSKÄR, SKUTSKÄR</option>
							<option value="21B2244">LJUSNAN, LJUSNE</option>
							<option value="21C2274">DALENS ROS, HARMÅNGER</option>
							<option value="21B1624">HERTSJÖ HOPP, BOLLNÄS</option>
							<option value="21C0152">SÖDERHAMN, SÖDERHAMN</option>
							<option value="23C0287">ODENS SAL, ÖSTERSUND</option>									
							<option value="23C0522">VÄLKOMMEN TILL FRIHET, HAMMARSTRAND</option>	
							<option value="22C1009">FRISKT MOD, KRAMFORS</option>	
							<option value="22C4514">HÖGA NORD, JUNSELE</option>	
							<option value="22C0175">SOLLEFTEÅ, SOLLEFTEÅ</option>	
							<option value="22B0091">VÅRBLOMMAN, ARNÄSVALL</option>	
							<option value="22C0233">NORDENS KÄMPE, ARNÄSVALL</option>	
							<option value="24C1592">TROFAST, ÅNÄSET</option>	
							<option value="24C1301">FJÄLLETS KRONA, ÅSELE</option>	
							<option value="25C1702">POLCIRKELN, ARVIDSJAUR</option>	
							<option value="25C1761">NORRBOTTENS VÄL, ÖJEBYN</option>	
							<option value="25C0825">NYÅRET RÅNEÅ, RÅNEÅ</option>	
							<option value="25C2483">IOGT-NTO Jokkmokk, JOKKMOKK</option>	
						</select>
						<div class="help-block with-errors"></div>
					</div>
				</div>

				<div class="col-12 col-md-4 col-sm-5 col-sm-offset-1 col-md-offset-1 right-input-group" >
					<div id="payWay" class="form-group has-feedback" >
						<label for="choosePayWay" style="width: 100%;">
							Välj betalsätt
						</label>
						<select id="choosePayWay" class="form-control choosePayWay" name="choosePayWay" required data-error="Du måste välja betalsätt" style="width: 100%">
							<option value>Välj betalsätt</option>
							<option value="faktura" id="faktura">Faktura</option>
							<option value="betalkort" id="betalkort">Betalkort</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>

					<div id="loginWay" class="form-group has-feedback" >
						<label for="chooseLoginWay" style="width: 100%;">
							Välj inloggningssätt
						</label>
						<select id="chooseLoginWay" class="form-control chooseLoginWay" name="chooseLoginWay" required data-error="Du måste välja ett inloggningssätt" style="width: 100%">
							<option value>Välj inloggningssätt</option>
							<option value="bankid" id="bankid">Bank Id</option>
							<option value="password" id="password">Lösenord</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>

					<div id="deviceId" style="display: none">
						<label for="chooseDevice">Välj Enhet</label>
						<select id="chooseDevice" class="fomr-control chooseDevice" name="chooseDevice" style="width: 100%">
							<option value="1">BankID på denna enhet</option>
							<option value="2">BankID på annan enhet</option>
						</select>
					</div>

					<div id="passwordInputs" style="display: none;">
						<div class="form-group has-feedback"  id="userPasswordGroup" >
							<label for="userPassword">Ange lösenord</label><label class="pull-right light-label" for="userPassword">Minst 6 tecken</label>
							<input type="password" class="form-control" data-minlength="6" id="userPassword"
								   placeholder="" data-required-error="Du måste fylla i detta fält." data-minlength-error="Minst 6 tecken.">
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group has-feedback" id="userPasswordRepeatGroup">
							<label for="userPasswordRepeat">Ange lösenordet igen</label>
							<input type="password" class="form-control" id="userPasswordRepeat" type="hidden" data-match="#userPassword" data-match-error=modal-ops
								   placeholder="" data-required-error="Du måste fylla i detta fält.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="checkbox">
							<label>
								<input type="checkbox" id="userAcceptTerms" class="custom-checkbox" required data-required-error="Du måste fylla i detta fält.">
								Jag godkänner Miljonlotteriets <a href="#" data-toggle="modal" data-target="#modal-conditions">Villkor</a>
							</label>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" class="custom-checkbox" id="newsletterCheckbox"> Jag vill ha nyhetsbrev
							</label>
						</div>
					</div>

					<div class="input-group">
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Slutför</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-center" style="margin-top: 70px;">Är du redan kund?<a href="#" class="navlink" data-toggle="modal" data-target="#modal-login"> Klicka här</a> för<br> att logga in.</div>
			<div class="col-12 col-md-1 col-sm-0"></div>
		</form>
	</div>
</div>


@@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": true })