@@include('layout/_header.html', {
    "class": "page-front logged-in",
    "logged_in": true
    })
    
    @@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })

    
    <div class="content-wrapper register-lottery-wrap ml-2017">
        <div class="container">
            <div class="row register-lottery-wrap">
                <div class="col-md-6">
                    <div class="register-lottery">
                        <h1>Registrera lott</h1>
                        <p>Bacon ipsum dolor amet brisket pig landjaeger chicken beef ribs ribeye corned beef pastrami shank drumstick andouille chuck <a href="#">fatback</a>.</p>
                        <form method="post" action="/" class="js-register-lottery-form">
                            <input id="lotterynumberinput" name="lotterynumber">
                            <span class="loader">
                                <span class="spinner"></span>
                            </span>
                            <button class="btn-success js-btn-success">Registrera</button>
                        </form>

                        <div class="result js-register-lottery-result">
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="register-lottery-promotion register-lottery-promotion--jackpot">
                        <div class="image">
                            <img src="assets/img/logos/jackpot_logo2.svg" />
                        </div>
                        <div class="content">
                            <div class="status">
                                Mina jackpotchanser
                                <strong class="number js-jackpot-number" data-quantity="12">12 st</strong>
                            </div>
                            <span class="oddmeter oddmeter--flat">
                                <span class="oddmeter__value js-oddmeter" data-oddmeter-number="312312" data-oddmeter-id="test"></span>
                                <span class="oddmeter__currency">kr</span>
                            </span>
                            <h4>Nästa dragning 11 juli</h4>
                            <p>Varje lott du skrapar ger dig jackpotchanser!<br /><a href="#">Läs mer här »</a></p>
                        </div>
                    </div>
                    <div class="register-lottery-promotion register-lottery-promotion--blank">
                        <div class="image">
                            <img src="assets/img/logos/nitlottdragningen_logo2.svg" />
                        </div>
                        <div class="content">
                            <div class="status">
                                Mina nitlottschanser
                                <strong class="number js-blank-number" data-quantity="12">12 st</strong>
                            </div>
                            <h4>Vinn en bil på nitlotten!</h4>
                            <p>Varje år förvandlas 8 stycken nitlotter till bilar.<br /><a href="#">Läs mer här »</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-lottery-bottom">
                <div class="f-col">
                    <a href="" class="register-lottery-links register-lottery-links--v1">
                        <div class="img-promotion">
                            <img src="assets/img/mockup/kamratstöd_2019_300dpi.png" alt="">
                        </div>
                        <div class="content">
                            <p class="text"><strong>10 kronor</strong> går direkt till Kamratstödet</p>
                            <div class="img-label">
                                <img src="assets/img/mockup/heart-v1.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="f-col">
                    <div class="register-lottery-links register-lottery-links--v2" style="background-image: url(assets/img/mockup/puff-2.jpeg);">
                        <div class="content">
                            <a href="" class="title">Gå till vinstshoppen >></a>
                            <div class="label-circle">
                                <span>Duka för vår!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-col">
                    <div class="register-lottery-links register-lottery-links--v3" style="background-image: url(assets/img/mockup/puff-1.jpeg);">
                        <div class="content">
                            <div class="title">Varje månad gör du skillnad för utsatta barn och vuxna</div>
                            <a href="">Läs mer</a>
                        </div>
                    </div>
                </div>
                <div class="f-col">
                    <div class="register-lottery-links register-lottery-links--v3" style="background-image: url(assets/img/mockup/puff-3.jpeg);">
                        <div class="content">
                            <div class="title">Drömvinster värda upp till 10 miljoner kronor</div>
                            <a href="">Läs mer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })