@@include('layout/_header.html', {
    "class": "page-front logged-in",
    "logged_in": true
    })
    
    @@include('layout/_top-new.html', { "logged_in": true, "show_cart": false })

    
    <div class="content-wrapper register-lottery-wrap ml-2017">
        <div class="container">
            <div class="row register-lottery-wrap">
                <div class="col-md-6">
                    <div class="register-lottery">
                        <h1>Registrera lott</h1>
                        <p>Bacon ipsum dolor amet brisket pig landjaeger chicken beef ribs ribeye corned beef pastrami shank drumstick andouille chuck <a href="#">fatback</a>.</p>
                        <form method="post" action="/" class="js-register-lottery-form">
                            <input id="lotterynumberinput" name="lotterynumber">
                            <span class="loader">
                                <span class="spinner"></span>
                            </span>
                            <button class="btn-success js-btn-success">Registrera</button>
                        </form>

                        <div class="result js-register-lottery-result">
                            <div class="result__item result__item--grand">
                                <div class="header">
                                    <button data-toggle="collapse" data-target="#grand1" aria-expanded="false"
                                            aria-controls="grand1" class="collapse in collapsed" style=""><span
                                        class="arrow"></span></button>
                                    <span class="number">0000 - 1234 - 7996</span><span
                                    class="prize prize--grand"><strong>Högvinst</strong></span></div>
                                <div class="js-result__content-collapse collapse" id="grand1" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="content"><p><strong>Stort grattis!</strong> Din vinst är
                                        registrerad. Vänligen skicka in lotten till X i ett rekommenderat brev. När
                                        vi mottagit din vinstlott sänds en bekräftelse och mer information per post.
                                        Har du frågor får du gärna höra av dig till X kundcenter för mer
                                        information. Tel: 031-338 28 20</p></div>
                                </div>
                            </div>
                            <div class="result__item result__item--regular result__item--opened">
                                <div class="header">
                                    <button data-toggle="collapse" data-target="#regular1" aria-expanded="true"
                                            aria-controls="regular1" class="collapse in" style=""><span
                                        class="arrow"></span></button>
                                    <span class="number">0000 - 1234 - 7996</span><span
                                    class="prize"><strong>Vinst!</strong>&nbsp;150kr</span></div>
                                <div class="js-result__content-collapse collapse in" id="regular1"
                                     aria-expanded="true" style="">
                                    <div class="content"><p><strong>Grattis!</strong> Din vinst har satts in på ditt
                                        Vinstkonto. Utöver den så har du även fått 10 extra chanser i
                                        Jackpotdragningen.</p></div>
                                </div>
                            </div>
                            <div class="result__item result__item--blank result__item--opened">
                                <div class="header">
                                    <button data-toggle="collapse" data-target="#blank" aria-expanded="true"
                                            aria-controls="blank" class="collapse in" style=""><span
                                        class="arrow"></span></button>
                                    <span class="number">0000 - 1234 - 7996</span><span
                                    class="prize">Ingen vinst</span></div>
                                <div class="js-result__content-collapse collapse in" id="blank" aria-expanded="true"
                                     style="">
                                    <div class="content"><p>Tyvärr blev det ingen vinst på denna lott. Men den har
                                        gett dig 8 extra chanser i Nitlottsdragningen och 10 extra chanser i
                                        Jackpotdragningen.</p>
                                        <a class="btn-primary-v2" href="#">Skrapa lotten nu</a>
                                    </div>
                                </div>
                            </div>
                            <div class="result__item result__item--bonus result__item--opened">
                                <div class="header">
                                    <button data-toggle="collapse" data-target="#bonus2" aria-expanded="true"
                                            aria-controls="bonus" class="collapse in" style=""><span
                                        class="arrow"></span></button>
                                    <span class="title">Nitlottsbonus!</span></div>
                                <div class="js-result__content-collapse collapse in" id="bonus2"
                                     aria-expanded="true" style="">
                                    <div class="content"><img src="//via.placeholder.com/213x213"><span
                                        class="title">Du har vunnit en Flotten-lott!</span>
                                        <p>Lotten för dig som vill ha extra spänning. När du vinner har du chansen
                                            att fyrdubbla din vinst.</p><a class="btn-primary-v2" href="#">Skrapa
                                            lotten nu</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="result__item result__item--blank">
                                <div class="header">
                                    <button data-toggle="collapse" data-target="#blank" aria-expanded="true"
                                            aria-controls="blank" class="collapse in" style=""><span
                                        class="arrow"></span></button>
                                    <span class="number">0000 - 1234 - 7996</span><span
                                    class="prize">Ingen vinst</span></div>
                                <div class="js-result__content-collapse collapse" id="blank" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="content"><p>Tyvärr blev det ingen vinst på denna lott. Men den har
                                        gett dig 8 extra chanser i Nitlottsdragningen och 10 extra chanser i
                                        Jackpotdragningen.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="register-lottery-promotion register-lottery-promotion--jackpot">
                        <div class="image">
                            <img src="assets/img/logos/jackpot_logo2.svg" />
                        </div>
                        <div class="content">
                            <div class="status">
                                Mina jackpotchanser
                                <strong class="number js-jackpot-number" data-quantity="12">12 st</strong>
                            </div>
                            <span class="oddmeter oddmeter--flat">
                                <span class="oddmeter__value js-oddmeter" data-oddmeter-number="312312" data-oddmeter-id="test"></span>
                                <span class="oddmeter__currency">kr</span>
                            </span>
                            <h4>Nästa dragning 11 juli</h4>
                            <p>Varje lott du skrapar ger dig jackpotchanser!<br /><a href="#">Läs mer här »</a></p>
                        </div>
                    </div>
                    <div class="register-lottery-promotion register-lottery-promotion--blank">
                        <div class="image">
                            <img src="assets/img/logos/nitlottdragningen_logo2.svg" />
                        </div>
                        <div class="content">
                            <div class="status">
                                Mina nitlottschanser
                                <strong class="number js-blank-number" data-quantity="12">12 st</strong>
                            </div>
                            <h4>Vinn en bil på nitlotten!</h4>
                            <p>Varje år förvandlas 8 stycken nitlotter till bilar.<br /><a href="#">Läs mer här »</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @@include('layout/_footer.html', { "show_footer": false, "show_terms_modal": false })