@@include('layout/_header.html')

@@include('layout/_top.html', {"signed_in": true})

@@include('layout/_sidebar.html', {"signed_in": true})

<!-- Page Content -->
<div id="content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<section class="block"></section>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<section class="block"></section>
			</div>
			<div class="col-lg-6">
				<section class="block"></section>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<section class="block"></section>
			</div>
			<div class="col-lg-4">
				<section class="block"></section>
			</div>
			<div class="col-lg-4">
				<section class="block"></section>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<section class="block"></section>
		</div>
	</div>
</div>
<!-- /#content-wrapper -->

@@include('layout/_footer.html')
