@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">

	@@include('blocks/_hero.html', {
		"hero_type": "mini",
		"hero_content": true,
		"h1": true,
		"h2": false
	})

	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h2>Spelkonto</h2>
			</div>

			<div class="row equal-height">
				@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
					"id": "wallet",
					"background": "color",
					"background_color": "lightorange",
					"content_title": "Spelplånbok",
					"content_text": "I spelkontot ligger de pengar du kan spela för.",
					"content_pris": "500 kr",
					"content_image": "assets/img/mockup/symbol_spelplanbok_vec.svg",
					"primary_button_text": "Sätt in pengar",
					"secondary_button_text": "Ta ut pengar"
				})

				@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
					"id": "account",
					"background": "color",
					"background_color": "lightpink",
					"content_title": "Vinstkonto",
					"content_text": "Vinstkontot används för att beställa produkter ur vårat vinstsortiment. Saknas det pengar till en produkt kan du föra över pengar från din spelplånbok här under.",
					"content_pris": "444 kr",
					"content_image": "assets/img/mockup/symbol_vinstkontot.svg",
					"primary_button_text": "Hämta ut vinst"
				})

				<div class="col-xs-12 visible-xs">
					<a class="btn btn-primary" href="/" >Sätt in pengar</a>
					<a class="btn btn-primary" href="/" >Ta ut pengar</a>
				</div>
			</div>

			<div class="block block--decoration">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<h4>Kontoöverföring</h4>
						<p>Här kan du flytta över medel mellan din spelplånbok och ditt vinstkonto. Funktionen fungerar åt båda hållen.</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="wallet-switch">
							<p class="wallet-switch__item" data-account="Vinstkonto">
								<span class="wallet-switch__label">Till:</span>
								<span class="wallet-switch__account" >Vinstkonto</span>
								<span class="hidden-xs">(<span class="wallet-switch__balance" data-balance="100">100</span>kr)</span>
							</p>
							<button class="wallet-switch__btn js-wallet-switch">
								<img class="wallet-switch__icon" src="assets/img/icons/arrow-switch-white.svg" alt="Pilar för att växla mellan konto" width="19px" height="17px">
								<span class="sr-only">Växla konto</span>
							</button>
							<p class="wallet-switch__item" data-account="Spelplånbok">
								<span class="wallet-switch__label">Från:</span>
								<span class="wallet-switch__account">Spelplånbok</span>
								<span class="hidden-xs">(<span class="wallet-switch__balance" data-balance="200">200</span>kr)</span>
							</p>
						</div>

						<div class="wallet-transfer">
							<div class="wallet-transfer__form-wrapper form-group">
								<label class="sr-only" for="amount">Ange belopp</label>
								<input class="wallet-transfer__amount form-control" id="amount" type="number" placeholder="Belopp"/>
							</div>

							<button class="wallet-transfer__btn js-wallet-amount" data-amount="25">25kr</button>
							<button class="wallet-transfer__btn js-wallet-amount" data-amount="50">50kr</button>
							<button class="wallet-transfer__btn js-wallet-amount" data-amount="100">100kr</button>
							<a class="wallet-transfer__submit btn btn-primary" href="/">För över</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h3>Kontohistorik</h3>
			</div>

			<p class="table-title">Kontohistorik</p>
			<table class="responsive-table">
				<thead>
					<tr>
						<th>Tidpunkt</th>
						<th>Typ</th>
						<th>Summa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-header="Tidpunkt">Idag 14:01</td>
						<td data-header="Typ">Köp</td>
						<td data-header="Summa">-250kr</td>
					</tr>
					<tr>
						<td data-header="Tidpunkt">Igår 12:00</td>
						<td data-header="Typ">Köp</td>
						<td data-header="Summa">+50kr</td>
					</tr>
					<tr>
						<td data-header="Tidpunkt">Igår 11:59</td>
						<td data-header="Typ">Köp</td>
						<td data-header="Summa">+150kr</td>
					</tr>
					<tr>
						<td data-header="Tidpunkt">2017-10-27</td>
						<td data-header="Typ">Köp</td>
						<td data-header="Summa">+250kr</td>
					</tr>
				</tbody>
			</table>
		</section>

	</div>

	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h3>Vinstbeställningar</h3>
				Du har obeställda varor i varukorgen
			</div>
		</section>
	</div>
	@@include('blocks/_product-list-full.html')

	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h3>Mina beställda varor</h3>
			</div>
		</section>
	</div>
	@@include('blocks/_product-list-full.html')

</div>

@@include('layout/_footer.html', {"show_footer": false})