@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
	<div class="my-pages container">

		<div class="block block-hero block-hero--mini">
			<h1 class="block-hero__page-title">
				Spela Bingo och skrapa lotter hos Miljonlotteriet
			</h1>
			<h2 class="h1 no-spacing">Spelhistorik</h2>
		</div>

		<section class="table-section section block block-content">
			<h4 class="table__title h4">Nitlottsmiljonären</h4>
			<p class="table__text">Alla nitlotter från skraplotterna Miljonlotteriet Original och Miljonlotteriet
				Resan får en ny chans i vår extradragning Nitlottsdragningen. Här kan du se hur många lotter du
				deltar/deltagit med i de senaste extradragningarna. Observera att för onlinelotterna kan det ta en
				stund från det de är spelade tills de räknas upp i denna sammanställningen.</p>

			<div class="row">
				<div class="col-xs-12">
					<div class="table-wrapper">
						<div class="table-pane table-pane--active" role="tabpanel">
							<p class="table__title-block">Nitlottsdragning</p>
							<table class="responsive-table">
								<thead>
									<tr>
										<th>Dragning</th>
										<th>Onlinelotter</th>
										<th>Prenumerationslotter</th>
										<th>Resultat</th>
									</tr>
								</thead>
								<tbody id="history-blanks-table-data" data-total-items="12">
									<tr>
										<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
										<td data-header="Onlinelotter">7 st</td>
										<td data-header="Prenumerationslotter">12 st</td>
										<td class="highlight" data-header="Resultat">250.00 kr</td>
									</tr>
									<tr>
										<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
										<td data-header="Onlinelotter">4 st</td>
										<td data-header="Prenumerationslotter">4 st</td>
										<td data-header="Resultat">0.00 kr</td>
									</tr>
									<tr>
										<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
										<td data-header="Onlinelotter">8 st</td>
										<td data-header="Prenumerationslotter">8 st</td>
										<td class="highlight" data-header="Resultat">60.00 kr</td>
									</tr>
									<tr>
										<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
										<td data-header="Onlinelotter">3 st</td>
										<td data-header="Prenumerationslotter">3 st</td>
										<td class="highlight" data-header="Resultat">60.00 kr</td>
									</tr>
								</tbody>
							</table>

							<div class="entity-collection-actions">
								<a class="btn btn-primary" data-target="#history-blanks-table-data" href="/ajax/account-history/history-blanks.html" >Visa fler</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-tools">
				<h2 class="h3">Mer historik</h2>
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-xs-6 col-sm-3">
								<div class="my-tools__tool">
									<a class="btn btn-primary" href="spelhistorik-onlinespel.html">Onlinespel</a>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="my-tools__tool">
									<a class="btn btn-primary" href="spelhistorik-registrerade-lotter.html">Registrerade lotter</a>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="my-tools__tool">
									<a class="btn btn-primary" href="spelhistorik-jackpot.html">Jackpotandelar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
</div>

@@include('layout/_footer.html', {"show_footer": false})