@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">

	@@include('blocks/_hero.html', {
		"hero_type": "mini",
		"hero_content": true,
		"h1": true,
		"h2": false
	})

	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h2>Spelkonto</h2>
			</div>
		</section>
	</div>

	<div class="container">
		<div class="row equal-height">
			@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
				"id": "wallet",
				"background": "color",
				"background_color": "lightorange",
				"content_title": "Spelplånbok",
				"content_text": "I spelkontot ligger de pengar du kan spela för.",
				"content_pris": "500 kr",
				"content_image": "assets/img/mockup/symbol_spelplanbok_vec.svg",
				"primary_button_text": "Sätt in pengar",
				"secondary_button_text": "Ta ut pengar"
			})

			@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
				"id": "account",
				"background": "color",
				"background_color": "lightpink",
				"content_title": "Vinstkonto",
				"content_text": "Vinstkontot används för att beställa produkter ur vårat vinstsortiment. Saknas det pengar till en produkt kan du föra över pengar från din spelplånbok här under.",
				"content_pris": "444 kr",
				"content_image": "assets/img/mockup/symbol_vinstkontot.svg",
				"primary_button_text": "Hämta ut vinst"
			})

			<div class="col-xs-12 visible-xs">
				<a class="btn btn-primary" href="/" >Sätt in pengar</a>
				<a class="btn btn-primary" href="/" >Ta ut pengar</a>
			</div>
		</div>

		<div class="block block--decoration">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4>Kontoöverföring</h4>
					<p>Här kan du flytta över medel mellan din spelplånbok och ditt vinstkonto. Funktionen fungerar åt båda hållen.</p>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="wallet-switch">
						<p class="wallet-switch__item" data-account="Vinstkonto">
							<span class="wallet-switch__label">Till:</span>
							<span class="wallet-switch__account" >Vinstkonto</span>
							(<span class="wallet-switch__balance" data-balance="100">100</span>kr)
						</p>
						<button class="wallet-switch__btn js-wallet-switch">Switch account</button>
						<p class="wallet-switch__item" data-account="Spelplånbok">
							<span class="wallet-switch__label">Från:</span>
							<span class="wallet-switch__account">Spelplånbok</span>
							(<span class="wallet-switch__balance" data-balance="200">200</span>kr)
						</p>
					</div>
					<div class="wallet-transfer">
						<input class="wallet-transfer__amount" type="number" placeholder="Belopp"/>
						<button class="js-wallet-amount" data-amount="25">25kr</button>
						<button class="js-wallet-amount" data-amount="50">50kr</button>
						<button class="js-wallet-amount" data-amount="100">100kr</button>
						<a class="btn btn-primary" href="/">För över</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<section class="block block-content">
			<div class="block-content__content">
				<h3>Kontohistorik</h3>
			</div>
		</section>
	</div>

</div>

@@include('layout/_footer.html', {"show_footer": false})