@@include('layout/_header.html', {
"class": "page-front logged-in"
})

@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})

<div class="content-wrapper ml-2017">
	<div class="container">

		<div class="block block-hero block-hero--mini">
			<h1 class="block-hero__page-title">
				Spela Bingo och skrapa lotter hos Miljonlotteriet
			</h1>
			<h2 class="h1 no-spacing">Spelkonto</h2>
		</div>

		<section class="section block block-content">
			<div class="row equal-height">
				@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
				"id": "wallet",
				"background": "color",
				"background_color": "lightorange",
				"content_title": "Spelplånbok",
				"content_text": "I spelkontot ligger de pengar du kan spela för.",
				"content_pris": "500 kr",
				"content_image": "assets/img/mockup/symbol_spelplanbok_vec.svg",
				"primary_button_text": "Sätt in pengar",
				"secondary_button_text": "Ta ut pengar"
				})

				@@include('blocks/promotion/block/_promotion-wallet-toggle.html', {
				"id": "account",
				"background": "color",
				"background_color": "lightpink",
				"content_title": "Vinstkonto",
				"content_text": "Vinstkontot används för att beställa produkter ur vårat vinstsortiment. Saknas det pengar till en produkt kan du föra över pengar från din spelplånbok här under.",
				"content_pris": "444 kr",
				"content_image": "assets/img/mockup/symbol_vinstkontot.svg",
				"primary_button_text": "Hämta ut vinst"
				})

				<div class="col-xs-12 visible-xs">
					<div class="block-promotion__action-btns visible-xs">
						<button id="make-deposit" type="button" class="block-promotion__action-btn btn btn-primary"
								data-toggle="modal" data-target="#modal-make-deposit">Sätt in pengar</button>
						<button id="make-withdrawal" type="button" class="block-promotion__action-btn btn btn-primary"
								data-toggle="modal" data-target="#modal-make-withdrawal">Ta ut pengar</button>
					</div>
				</div>
			</div>

			<div class="block block-wallet-transfer block--decoration">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<h4 class="block-wallet-transfer__title">Kontoöverföring</h4>
						<p class="block-wallet-transfer__text">Här kan du flytta över medel mellan din spelplånbok och ditt vinstkonto. Funktionen fungerar
							åt båda hållen.</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="wallet-switch">
							<p class="wallet-switch__item" data-account="Spelplånbok">
								<span class="wallet-switch__label">Från:</span>
								<span class="wallet-switch__account">Spelplånbok</span>
								<span class="hidden-xs">(<span class="wallet-switch__balance"
															   data-balance="200">200</span>kr)</span>
							</p>
							<button class="wallet-switch__btn js-wallet-switch">
								<img class="wallet-switch__icon" src="assets/img/icons/arrow-switch-white.svg"
									 alt="Pilar för att växla mellan konto" width="19px" height="17px">
								<span class="sr-only">Växla konto</span>
							</button>
							<p class="wallet-switch__item" data-account="Vinstkonto">
								<span class="wallet-switch__label">Till:</span>
								<span class="wallet-switch__account">Vinstkonto</span>
								<span class="hidden-xs">(<span class="wallet-switch__balance"
															   data-balance="100">100</span>kr)</span>
							</p>
						</div>

						<div class="wallet-transfer">
							<div class="wallet-transfer__form-wrapper form-group">
								<label class="sr-only" for="amount">Ange belopp</label>
								<input class="wallet-transfer__amount form-control" id="amount" type="number"
									   placeholder="Belopp"/>
							</div>

							<button class="wallet-transfer__btn js-wallet-amount" data-amount="25">25kr</button>
							<button class="wallet-transfer__btn js-wallet-amount" data-amount="50">50kr</button>
							<button class="wallet-transfer__btn js-wallet-amount" data-amount="100">100kr</button>
							<a class="wallet-transfer__submit btn btn-primary" href="/">För över</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section block block-content">
			<h2 class="section__heading h3">Kontohistorik</h2>

			<div class="row">
				<div class="col-xs-12 col-md-3">
					<ul class="nav list-group" id="account-selector-tab" role="tablist"
						 aria-orientation="vertical">
						<li class="list-group-item" data-toggle="tab" href="#account-wallet" role="tab">
							<header>Spelplånbok</header>
							<p>Se över och ändra dina uppgifter</p>
						</li>
						<li class="list-group-item" data-toggle="tab" href="#account-prizes" role="tab">
							<header>Vinstkonto</header>
							<p>Håll koll på ditt spelande</p>
						</li>
					</ul>
				</div>
				<div class="tab-content col-xs-12 col-md-9">
					<div class="tab-pane active" id="account-wallet" role="tabpanel">
						<p class="table-title">Kontohistorik</p>
						<table class="responsive-table">
							<thead>
							<tr>
								<th>Tidpunkt</th>
								<th>Typ</th>
								<th>Summa</th>
							</tr>
							</thead>
							<tbody id="account-wallet-table-data" data-total-rows="8">
							<tr>
								<td data-header="Tidpunkt">Idag 14:01</td>
								<td data-header="Typ">Köp</td>
								<td data-header="Summa">- 250kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">Igår 12:00</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 50kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">Igår 11:59</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 150kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">2017-10-27</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 250kr</td>
							</tr>
							</tbody>
						</table>

						<div class="account-history-actions">
							<a class="btn btn-primary" data-target="#account-wallet-table-data" href="/ajax/account-history/account-wallet.html" >Visa fler</a>
						</div>
					</div>
					<div class="tab-pane" id="account-prizes" role="tabpanel">
						<label>Visa: DROPDOWN HÄR
						</label>
						<p class="table-title">Vinstkonto</p>
						<table class="responsive-table">
							<thead>
							<tr>
								<th>Tidpunkt</th>
								<th>Typ</th>
								<th>Summa</th>
							</tr>
							</thead>
							<tbody id="account-prizes-table-data" data-total-rows="12">
							<tr>
								<td data-header="Tidpunkt">Idag 14:01</td>
								<td data-header="Typ">Köp</td>
								<td data-header="Summa">- 250kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">Igår 12:00</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 50kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">Igår 11:59</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 150kr</td>
							</tr>
							<tr>
								<td data-header="Tidpunkt">2017-10-27</td>
								<td data-header="Typ">Köp</td>
								<td class="highlight" data-header="Summa">+ 250kr</td>
							</tr>
							</tbody>
						</table>

						<div class="account-history-actions">
							<a class="btn btn-primary" data-target="#account-prizes-table-data" href="/ajax/account-history/account-prizes.html" >Visa fler</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section block block-content">
			<div class="section__heading">
				<h2 class="h3">Vinstbeställningar</h2>
				<p class="notification-title">
					@@include('elements/_notification.html', {
					"class": "notification--large notification--lighter",
					"number": "!"
					})
					Du har obeställda varor i varukorgen
				</p>
				<div class="block-content__btns hidden-xs">
					<a class="block-content__btn btn btn-primary" href="/" title="">Beställ varor</a>
					<a class="block-content__link" href="/" title="">Fortsätt handla</a>
				</div>
			</div>
			@@include('blocks/_product-list-full.html', {
			"class": " container--no-space"
			})

			<div class="row visible-xs text-center">
				<div class="col-xs-6">
					<a class="btn btn-primary btn-block" href="/" title="">Beställ varor</a>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-link btn-block" href="/" title="">Fortsätt handla</a>
				</div>
			</div>
		</section>

		<section class="section block block-content">
			<h2 class="section__heading h3">Mina beställda varor</h2>

			@@include('blocks/_product-list-full.html', {
			"class": " container--no-space",
			"status": "ordered"
			})
		</section>
	</div>
</div>

@@include('layout/_footer.html', {"show_footer": false})