@@include('layout/_header.html', {
	"class": "page-front logged-out",
	"logged_in": true
})

<!--@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})-->

<div class="content-wrapper ml-2017">
</div>
<div id="app"></div>

</div><!-- /#page-wrapper -->
</body>
<script>
	window.ML = window.ML || {}
	window.ML.STORYBLOK = {
		path: '/vit-jul/',
	}
</script>
<link href="http://cdn.ml.changedigital.se/css/ml-storyblok.css" rel="stylesheet" />
<script src="/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="//app.storyblok.com/f/storyblok-latest.js"></script>
<script type="text/javascript" src=http://cdn.ml.changedigital.se/js/ml-storyblok-chunk-vendors.js></script>
<script type="text/javascript" src="http://cdn.ml.changedigital.se/js/ml-storyblok.js"></script>
</html>

