@@include('layout/_header.html', {
	"class": "logged-in shop",
	"logged_in": true
})

@@include('layout/_top-new.html', { "logged_in": true, "show_cart": true })
<!--@@include('layout/_top.html', {"logged_in": true})
@@include('layout/_sidebar.html', {"logged_in": true})-->

<div class="content-wrapper ml-2017 select-hover-images">

	<section class="product-list-blocks js-infinite-scroll">
		<div class="container">
			<h2 class="product-list-blocks__title h3">Vinstshop</h2>

			<div class="product-category-slider" id="productCategorySlider">
				<button class="product-category__btn product-category__btn--all checked" data-name="category" type="button" value="Alla produkter">Alla produkter</button>
				<button class="product-category__btn" data-name="category" type="button" value="Gåvor">Gåvor</button>
				<button class="product-category__btn" data-name="category" type="button" value="Hem & design">Hem & design</button>
				<button class="product-category__btn" data-name="category" type="button" value="Hemelektroni">Hemelektronik</button>
				<button class="product-category__btn" data-name="category" type="button" value="Hållbart val">Hållbart val</button>
				<button class="product-category__btn" data-name="category" type="button" value="Hälsa & skönhet">Hälsa & skönhet</button>
				<button class="product-category__btn" data-name="category" type="button" value="Kök & hushåll">Kök & hushåll</button>
				<button class="product-category__btn" data-name="category" type="button" value="Ljud & bild">Ljud & bild</button>
				<button class="product-category__btn" data-name="category" type="button" value="Lotter">Lotter</button>
				<button class="product-category__btn" data-name="category" type="button" value="Resor & tillbehör">Resor & tillbehör</button>
				<button class="product-category__btn" data-name="category" type="button" value="Sport & fritid">Sport & fritid</button>
				<button class="product-category__btn" data-name="category" type="button" value="Verktyg, bil & trädgård">Verktyg, bil & trädgård</button>
			</div>

          
			<div class="filter-line">
				<div class="filters">
					<div class="filters__item">
						<div class="dropdown">
							<button class="filter-dropdown__button js-filter-dropdown" type="button" data-target="#pris">
								Pris
							</button>
						</div>
					</div>
					<div class="filters__item">
						<div class="dropdown">
							<button class="filter-dropdown__button js-filter-dropdown" type="button" data-target="#varumärken">
								Varumärken
							</button>
						</div>
					</div>
					<div class="filters__item">
						<div class="dropdown">
							<button class="filter-dropdown__button js-filter-dropdown" type="button" data-target="#kampanjer">
								Kampanjer
							</button>
						</div>
					</div>
				</div>

				<a href="#" class="filters__mobile-btn js-filters__mobile-btn">
					<svg id="icons_list" data-name="icons/list" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<g id="filter-icons_copy" data-name="filter-icons copy" transform="translate(1 4)">
						  <circle id="Oval" cx="2" cy="2" r="2" transform="translate(2)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path" d="M2,.05H0" transform="translate(0 2)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path-2" data-name="Path" d="M0,.05H16" transform="translate(6 2)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <circle id="Oval-2" data-name="Oval" cx="2" cy="2" r="2" transform="translate(7 12)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path-3" data-name="Path" d="M7,.05H0" transform="translate(0 14)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path-4" data-name="Path" d="M0,.05H11" transform="translate(11 14)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <circle id="Oval-3" data-name="Oval" cx="2" cy="2" r="2" transform="translate(16 6)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path-5" data-name="Path" d="M0,.05H2" transform="translate(20 8)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						  <path id="Path-6" data-name="Path" d="M16,.05H0" transform="translate(0 8)" fill="none" stroke="#3b3c3c" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1.5"/>
						</g>
					</svg>
					Filter

					<div class="filters__mobile-btn--checked js-filters__mobile-btn--checked" style="display: block;"><span>2</span></div>
				</a>

				<div class="filter-search">
				    <input type="text" name="produkt" id="produkt" placeholder="Sök produkt, namn, märke, m.m.">

                    <span class="clearn" onclick="var input = this.previousElementSibling; input.value = ''; input.focus();">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="Symbols-/-images" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                              <g id="icons/close-simple-small" stroke="#003E52" stroke-width="2">
                                  <g id="Group" transform="translate(9.000000, 9.000000)">
                                      <line x1="0" y1="6" x2="6" y2="0" id="Path"></line>
                                      <line x1="0" y1="0" x2="6" y2="6" id="Path"></line>
                                  </g>
                              </g>
                          </g>
                        </svg>
                    </span>
                    <span class="icon-search-new">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>icons/search</title>
                            <g id="Symbols-/-images" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="icons/search" stroke="#003E52" stroke-width="2">
                                    <g id="search-copy-2" transform="translate(2.000000, 2.000000)">
                                        <circle id="Oval" stroke-linecap="square" cx="11" cy="9" r="9"></circle>
                                        <line x1="0.5" y1="19.5" x2="4.64" y2="15.36" id="Path" stroke-linecap="round" stroke-linejoin="round"></line>
                                    </g>
                                </g>
                            </g>
                        </svg>
                  </span>
 
                </div>

				<div class="sort">
					<p class="sort__label">Sorterat på:</p>
					<div class="dropdown filter-dropdown js-show-dropdown">
						<button class="sort__checked filter-dropdown__button js-add-value" type="button" data-toggle="dropdown" data-checked="Rekommenderat">
							Rekommenderat
						</button>
						<div class="dropdown-menu sort__item">
							<div class="filter-dropdown__header">Sorterat på:</div>
							<form method="post" data-filter-type="sort">
								<div class="form-group">
									<div class="custom-radio sort__choice">
										<input class="custom-radio__input js-get-value" id="recommended" name="sort" value="Rekommenderat" type="radio" checked>
										<label class="custom-radio__label" for="recommended">Rekommenderat</label>
									</div>
									<div class="custom-radio sort__choice">
										<input class="custom-radio__input js-get-value" id="highest" name="sort" value="Högst pris" type="radio">
										<label class="custom-radio__label" for="highest">Högst pris</label>
									</div>
									<div class="custom-radio sort__choice">
										<input class="custom-radio__input js-get-value" id="lowest" name="sort" value="Lägst pris" type="radio">
										<label class="custom-radio__label" for="lowest">Lägst pris</label>
									</div>
									<div class="custom-radio sort__choice">
										<input class="custom-radio__input js-get-value" id="newest" name="sort" value="Nyast" type="radio">
										<label class="custom-radio__label" for="newest">Nyast</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="active-filters-line">
				<div class="products-value">0 produkter</div>
				<div class="filter-line__dropdowns-content">
					<div class="dropdowns-content" id="pris">
						<div class="dropdowns-content__wrapper">
							<section class="range-slider" id="rangeSlider">
								<div class="rangeValues">
									<span class="rangeValues_left">0</span>
									<span class="rangeValues_right">500</span>
								</div>

								<div class="rangeTrack-value"></div>
								<input value="49" min="49" max="2500" step="1" type="range">
								<input value="500" min="49" max="2500" step="1" type="range">
							</section>

							<div class="checkbox checkbox_round">
								<input type="checkbox" name="Visa" id="ckbox_visa">
								<label for="ckbox_visa">Visa endast vinster jag har råd med</label>
							</div>
						</div>
					</div>
					<div class="dropdowns-content" id="varumärken">
						<div class="dropdowns-content__wrapper">
							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru1" value="Lorem">
								<label for="ckboxVaru1">Lorem</label>
							</div>

							<div class="checkbox checkbox_round  js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru2" value="Ipsum">
								<label for="ckboxVaru2">Ipsum</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru3" value="Dolor">
								<label for="ckboxVaru3">Dolor</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru4" value="Sit">
								<label for="ckboxVaru4">Sit</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru5" value="Amet">
								<label for="ckboxVaru5">Amet</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru6" value="Consectetur">
								<label for="ckboxVaru6">Consectetur</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru7" value="Adipiscing">
								<label for="ckboxVaru7">Adipiscing</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru8" value="Elit">
								<label for="ckboxVaru8">Elit</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru9" value="Sed">
								<label for="ckboxVaru9">Sed</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru10" value="Eiusmod">
								<label for="ckboxVaru10">Eiusmod</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru11" value="Tempor">
								<label for="ckboxVaru11">Tempor</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru12" value="Incididunt">
								<label for="ckboxVaru12">Incididunt</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru13" value="Labore">
								<label for="ckboxVaru13">Labore</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru14" value="Dolore">
								<label for="ckboxVaru14">Dolore</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru15" value="Magna">
								<label for="ckboxVaru15">Magna</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru16" value="Aliqua">
								<label for="ckboxVaru16">Aliqua</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru17" value="Enim">
								<label for="ckboxVaru17">Enim</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru18" value="Minim">
								<label for="ckboxVaru18">Minim</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru19" value="Veniam">
								<label for="ckboxVaru19">Veniam</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru20" value="Quis">
								<label for="ckboxVaru20">Quis</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="Varumärke" id="ckboxVaru21" value="Nostrud">
								<label for="ckboxVaru21">Nostrud</label>
							</div>
						</div>
					</div>
					<div class="dropdowns-content" id="kampanjer">
						<div class="dropdowns-content__wrapper">
							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="kampanjer" id="ckboxKamp1" value="de Buyer-knivar">
								<label for="ckboxKamp1">de Buyer-knivar</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="kampanjer" id="ckboxKamp2" value="Skidsemester">
								<label for="ckboxKamp2">Skidsemester</label>
							</div>

							<div class="checkbox checkbox_round js-product-filter__btn">
								<input type="checkbox" name="kampanjer" id="ckboxKamp3" value="Matlagningsspecial">
								<label for="ckboxKamp3">Matlagningsspecial</label>
							</div>
						</div>
					</div>
				</div>

				<div class="active-filters js-filtersPlace"></div>
			</div>

            <div class="search-enter">&#34;<span></span>&#34;</div>

			<section class="product-list-section">
				<div class="row equal-height" id="product-list" data-total-items="0">
                  
                  @@if (context.title === true) {

                      @@include('blocks/product-list/_product-item-hover.html', {
                        "href": "/vinstshop-page.html",
                        "image": "assets/img/mockup/shop_item_1.jpg",
                        "hoverImage": "assets/img/mockup/car.jpg",
                        "label": "Nyhet",
                        "color": "pink",
                        "title": "En rad",
                        "subtitle": "Fusce Nibh",
                        "price": "450 kr",
                        "dreamButton": true,
                        "extended" : true
                      });
                  }
             
                  <div class="box_none_search">
                    <h4 class="title">Inga vinster matchade filtreringen</h4>
                    <p> Prova att ta bort alla filter och sök igen. </p>
                  
                  </div>

    



				</div>
			</section>

			<div class="block-product__more-progress-bar">
				<span class="more-progress-bar">du har tittat på 0 av 630 produkter</span>
				<div class="more-progress-bar__indicator">
					<span class="more-progress-bar__filled" style="width: calc(12% * 100 / 630);"></span>
				</div>
			</div>

		</div>
	</section>


	<section class="modal fade in product-filters-modal" id="productFiltersModal" style="display: none;">
		<div class="product-filters-modal__body">
			<div class="container">
				<div class="product-filters-modal__page expanded" id="productFiltersModal__home">
					<div class="product-filters-modal__line">
						<button type="button" aria-label="Back" class="product-filters-modal__to-back js-toBack-filter-modal" data-target="close">
							To back
							<svg xmlns="http://www.w3.org/2000/svg" width="6.75" height="11.5" viewBox="0 0 6.75 11.5">
								<path id="Path_2" data-name="Path 2" d="M4.75,5.75a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0L4.75,3.336,8.793-.707a1,1,0,0,1,1.414,0,1,1,0,0,1,0,1.414l-4.75,4.75A1,1,0,0,1,4.75,5.75Z" transform="translate(5.75 1) rotate(90)" fill="#003e52"/>
							</svg>
						  </button>
						<span class="product-filters-modal__title js-product-filters-modal__title">Filtrera</span>
						<a href="#" class="product-filters-modal__rensa js-remove-all-filters">RENSA </a>
					</div>

					<button type="button" class="product-filters-modal__filter-category js-product-filters-modal__filter-category" data-name="#productFiltersModal__kategori">
						<span class="product-filters-modal__filter-category__title">Kategori</span>
<!--						<small>Alla artiklar</small>-->
					</button>

					<div class="product-filters-modal__filter-range">
						<span class="product-filters-modal__filter-category__title">Pris</span>

						<section class="range-slider" id="rangeSlider2">
							<div class="rangeValues">
								<span class="rangeValues_left">0</span>
								<span class="rangeValues_right">500</span>
							</div>

							<div class="rangeTrack-value"></div>
							<input value="49" min="49" max="2500" step="1" type="range">
							<input value="500" min="49" max="2500" step="1" type="range">
						</section>

						<div class="checkbox checkbox_round">
							<input type="checkbox" name="Visa" id="ckbox_visa2">
							<label for="ckbox_visa2">Visa endast vinster jag har råd med</label>
						</div>
					</div>

					<button type="button" class="product-filters-modal__filter-category js-product-filters-modal__filter-category" data-name="#productFiltersModal__varumarken">
						<span class="product-filters-modal__filter-category__title">Varumärken</span>
					</button>

					<button type="button" class="product-filters-modal__filter-category js-product-filters-modal__filter-category" data-name="#productFiltersModal__kampanjer">
						<span class="product-filters-modal__filter-category__title">Kampanjer</span>
					</button>

					<div class="product-filters-modal__active-filters">
						<span class="product-filters-modal__active-filters__title">2 valda filter:</span>

						<div class="active-filters js-filtersPlace"></div>
					</div>
				</div>

				<div class="product-filters-modal__page" id="productFiltersModal__kategori">
					<div class="product-filters-modal__line">
						<button type="button" aria-label="Back" class="product-filters-modal__to-back js-toBack-filter-modal" data-target="#productFiltersModal__home">
							To back
							<svg xmlns="http://www.w3.org/2000/svg" width="6.75" height="11.5" viewBox="0 0 6.75 11.5">
								<path id="Path_2" data-name="Path 2" d="M4.75,5.75a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0L4.75,3.336,8.793-.707a1,1,0,0,1,1.414,0,1,1,0,0,1,0,1.414l-4.75,4.75A1,1,0,0,1,4.75,5.75Z" transform="translate(5.75 1) rotate(90)" fill="#003e52"/>
							</svg>
						  </button>
						<span class="product-filters-modal__title js-product-filters-modal__title">Filtrera kategori</span>
						<a href="#" class="product-filters-modal__rensa js-remove-all-filters">RENSA </a>
					</div>

					<div class="product-filters-modal__inputs-wrapper" id="productCategorySlider2">
						<span><button class="product-category__btn product-category__btn--all checked" data-name="category" type="button" value="Alla produkter">Alla produkter</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Gåvor">Gåvor</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Hem & design">Hem & design</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Hemelektroni">Hemelektronik</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Hållbart val">Hållbart val</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Hälsa & skönhet">Hälsa & skönhet</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Kök & hushåll">Kök & hushåll</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Ljud & bild">Ljud & bild</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Lotter">Lotter</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Resor & tillbehör">Resor & tillbehör</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Sport & fritid">Sport & fritid</button></span>
						<span><button class="product-category__btn" data-name="category" type="button" value="Verktyg, bil & trädgård">Verktyg, bil & trädgård</button></span>
					</div>

				</div>

				<div class="product-filters-modal__page" id="productFiltersModal__kampanjer">
					<div class="product-filters-modal__line">
						<button type="button" aria-label="Back" class="product-filters-modal__to-back js-toBack-filter-modal" data-target="#productFiltersModal__home">
							To back
							<svg xmlns="http://www.w3.org/2000/svg" width="6.75" height="11.5" viewBox="0 0 6.75 11.5">
								<path id="Path_2" data-name="Path 2" d="M4.75,5.75a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0L4.75,3.336,8.793-.707a1,1,0,0,1,1.414,0,1,1,0,0,1,0,1.414l-4.75,4.75A1,1,0,0,1,4.75,5.75Z" transform="translate(5.75 1) rotate(90)" fill="#003e52"/>
							</svg>
						  </button>
						<span class="product-filters-modal__title js-product-filters-modal__title">Filtrera kampanjer</span>
						<a href="#" class="product-filters-modal__rensa js-remove-all-filters">RENSA </a>
					</div>

					<div class="product-filters-modal__inputs-wrapper" id="kampanjer2">
						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="kampanjer" id="ckboxKamp1" value="de Buyer-knivar">
							<label for="ckboxKamp1">de Buyer-knivar</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="kampanjer" id="ckboxKamp2" value="Skidsemester">
							<label for="ckboxKamp2">Skidsemester</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="kampanjer" id="ckboxKamp3" value="Matlagningsspecial">
							<label for="ckboxKamp3">Matlagningsspecial</label>
						</div>
					</div>
				</div>

				<div class="product-filters-modal__page" id="productFiltersModal__varumarken">
					<div class="product-filters-modal__line">
						<button type="button" aria-label="Back" class="product-filters-modal__to-back js-toBack-filter-modal" data-target="#productFiltersModal__home">
							To back
							<svg xmlns="http://www.w3.org/2000/svg" width="6.75" height="11.5" viewBox="0 0 6.75 11.5">
								<path id="Path_2" data-name="Path 2" d="M4.75,5.75a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0L4.75,3.336,8.793-.707a1,1,0,0,1,1.414,0,1,1,0,0,1,0,1.414l-4.75,4.75A1,1,0,0,1,4.75,5.75Z" transform="translate(5.75 1) rotate(90)" fill="#003e52"/>
							</svg>
						  </button>
						<span class="product-filters-modal__title js-product-filters-modal__title">Filtrera varumärken</span>
						<a href="#" class="product-filters-modal__rensa js-remove-all-filters">RENSA </a>
					</div>

					<div class="product-filters-modal__inputs-wrapper" id="varumärken2">
						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru1" value="Lorem">
							<label for="ckboxVaru1">Lorem</label>
						</div>

						<div class="checkbox checkbox_round  js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru2" value="Ipsum">
							<label for="ckboxVaru2">Ipsum</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru3" value="Dolor">
							<label for="ckboxVaru3">Dolor</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru4" value="Sit">
							<label for="ckboxVaru4">Sit</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru5" value="Amet">
							<label for="ckboxVaru5">Amet</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru6" value="Consectetur">
							<label for="ckboxVaru6">Consectetur</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru7" value="Adipiscing">
							<label for="ckboxVaru7">Adipiscing</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru8" value="Elit">
							<label for="ckboxVaru8">Elit</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru9" value="Sed">
							<label for="ckboxVaru9">Sed</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru10" value="Eiusmod">
							<label for="ckboxVaru10">Eiusmod</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru11" value="Tempor">
							<label for="ckboxVaru11">Tempor</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru12" value="Incididunt">
							<label for="ckboxVaru12">Incididunt</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru13" value="Labore">
							<label for="ckboxVaru13">Labore</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru14" value="Dolore">
							<label for="ckboxVaru14">Dolore</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru15" value="Magna">
							<label for="ckboxVaru15">Magna</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru16" value="Aliqua">
							<label for="ckboxVaru16">Aliqua</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru17" value="Enim">
							<label for="ckboxVaru17">Enim</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru18" value="Minim">
							<label for="ckboxVaru18">Minim</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru19" value="Veniam">
							<label for="ckboxVaru19">Veniam</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru20" value="Quis">
							<label for="ckboxVaru20">Quis</label>
						</div>

						<div class="checkbox checkbox_round js-product-filter__btn">
							<input type="checkbox" name="Varumärke" id="ckboxVaru21" value="Nostrud">
							<label for="ckboxVaru21">Nostrud</label>
						</div>
					</div>
				</div>

				<div class="product-filters-modal__btn">
					<a href="#" class="btn btn-primary js-product-filters-modal__btn">Visa produkter (122 st)</a>
				</div>
			</div>
		</div>
	</section>
</div>



@@include('layout/_footer.html', { "show_footer": true, "show_terms_modal": false })
