@@include('layout/_header.html', {
	"class": "shop"
})

@@include('layout/_top.html', {"logged_in": false})
@@include('layout/_sidebar.html', {"logged_in": false})

<div class="content-wrapper ml-2017">
	<div class="container">
		@@include('components/_cart-icon.html')

		<div class="block block-hero block-hero--mini block-hero--no-margin">
			<h1 class="block-hero__page-title block-hero__page-title--absolute">
				Spela bingo online hos Miljonlotteriet - vinn fantastiska vinster och jackpottar!
			</h1>
		</div>

		<div class="row row--offset">
			<div class="col-xs-12 col-md-6 pull-right">
				<div class="lightgallery" id="lightgallery">
					<a class="lightgallery__item lightgallery__item--large" href="/assets/img/mockup/butterfly.jpg">
						<img src="/assets/img/mockup/butterfly.jpg" alt=""/>
						<span class="lightgallery__counter">Bild 1 av
							<span class="lightgallery__count js-item-count">0</span>
							<i class="icon icon-expand"></i>
						</span>
					</a>
					<a class="lightgallery__item lightgallery__item--small" href="/assets/img/mockup/car.jpg">
						<img src="/assets/img/mockup/car.jpg" alt=""/>
					</a>
					<a class="lightgallery__item lightgallery__item--small" href="/assets/img/mockup/sunset.jpg">
						<img src="/assets/img/mockup/sunset.jpg" alt=""/>
					</a>
					<a class="lightgallery__item lightgallery__item--small" href="/assets/img/mockup/nature.jpg">
						<img src="/assets/img/mockup/nature.jpg" alt=""/>
					</a>
				</div>
			</div>

			<div class="col-xs-12 col-md-6 product-info">
				<div class="product-info__header">
					<img class="product-info__logo" src="http://placehold.it/300x150" alt="Logotyp"/>
					<h2 class="product-info__title h3">Produktnamn på två rader</h2>
				</div>

				<div class="product-info__meta">
					<span class="product-info__meta-item product-info__label background-color-blue">Nyhet</span>
					<span class="product-info__meta-item">Märke</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
					ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
					finibus erat nec ex accumsan mattis.
				</p>
				<button class="product-info__text-btn js-toggle-content" data-content="product-details">Visa produktfakta</button>
				<div class="product-info__details" id="product-details">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
						ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
						finibus erat nec ex accumsan mattis.
					</p>
					<p>Fakta</p>
					<ul>
						<li>Mått: 100 x 100 cm</li>
						<li>Material: Bomull</li>
						<li>Design: WMYL</li>
					</ul>
					<p class="product-info__winning-nr">Vinstnummer: 1234</p>
					<button class="product-info__text-btn js-hide-content" data-content="product-details">Dölj produktfakta</button>
				</div>

				<ul class="product-order list-unstyled">
					<li class="product-order__item product-order__item-small">
						<span class="product-order__label">Vinstvärde:</span>
						<span class="product-order__value">2400 kr</span>
					</li>
					<li class="product-order__item product-order__item-small">
						<span class="delivery-status delivery-status--medium">Leveranstid: 6-10 dagar</span>
					</li>
					<li class="product-order__item">
						<div class="product-order__btn-wrapper" data-toggle="tooltip" data-placement="top" data-original-title="Logga in för att beställa vinster">
							<button class="product-order__btn btn btn-primary btn-disabled">Beställ denna vinst</button>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<section class="section product-list-blocks product-list-blocks--dreamlist">
			<div class="row equal-height">
				<div class="col-xs-12">
					<h5>Liknande produkter</h5>
				</div>

				@@include('blocks/product-list/_product-item.html', {
				"image": "assets/img/mockup/butterfly.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"label": "Nyhet",
				"color": "blue",
				"title": "En rad",
				"subtitle": "Fusce Nibh",
				"price": "450 kr",
				"dreamButton": true
				})

				@@include('blocks/product-list/_product-item.html', {
				"image": "assets/img/mockup/butterfly.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"price": "200 kr",
				"dreamButton": true
				})

				@@include('blocks/product-list/_product-item.html', {
				"image": "assets/img/mockup/nature.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"subtitle": "Fusce Nibh",
				"price": "10.000 kr",
				"dreamButton": true
				})

				@@include('blocks/product-list/_product-item.html', {
				"image": "assets/img/mockup/sunset.jpg",
				"hoverImage": "assets/img/mockup/car.jpg",
				"title": "Flera rader skulle kunna fungera såhär.",
				"price": "30 kr",
				"dreamButton": true
				})
			</div>

			<div class="block-product__more-button">
				<a class="btn btn-primary" href="/vinstshop-start.html#product-list">Visa alla produkter</a>
			</div>
		</section>

	</div>
</div>

@@include('layout/_footer.html', {"show_footer": true})

