.bonus-code {
	p {
		font-weight: $bold;
		color: $color-blueberry;
	}

	button[type=submit] {
		@include min-screen($screen-sm-min) {
			margin-top: 5px;
		}
	}

	&__form {
		margin-bottom: $margin-default;
	}
}

.bonus-code__message { display: none; }

.bonus-code__error {
	margin-top: 20px;

	@include min-screen($screen-sm-min) {
		margin-top: 0;
	}
}