.cart__item {
	padding-top: $margin-small;
	padding-bottom: $margin-small;
	border-bottom: 1px solid $color-feather;

	@include min-screen($screen-sm-min) {
		padding-top: $margin-default;
		padding-bottom: $margin-default;
	}

	&-content {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		 &--baseline {
			align-items: flex-end;
		}

		@include min-screen($screen-sm-min) {
			flex-wrap: nowrap;
		}
	}

	&-container {
		display: flex;
		width: 100%;
		align-items: center;

		&:first-child {
			flex-grow: 1;
			margin-bottom: $margin-small;
			align-items: flex-start;
		}

		@include min-screen($screen-sm-min) {
			width: auto;

			&:first-child {
				margin-bottom: 0;
			}
		}
	}

	&-image {
		order: 2;
		width: 90px;

		img {
			display: block;
			padding-right: 10px;
		}

		&.cart__item-image--w-border {
			border: 1px solid $color-feather;
			flex: 0 0 auto;

			@include min-screen($screen-sm-min) {
				width: 120px;
				margin-right: $margin-small;
				order: 1;
			}

			img {
				padding-right: 0;
			}
		}
	}

	&-info {
		margin-right: auto;
		order: 1;

		@include min-screen($screen-sm-min) {
			order: 2;
			margin: 0 $margin-small;
		}
	}

	&-title {
		margin-top: 0;
		font-size: 16px;
		margin-bottom: 0;
		font-weight: $bold;

		&.h5 {
			margin-bottom: 10px;
		}
	}

	&-quantity {
		display: flex;
		order: 4;
		align-self: flex-end;

		@include min-screen($screen-tiny) {
			margin-right: $margin-default;
		}

		@include min-screen($screen-sm-min) {
			order: 3;
			margin: 0 5px;
		}

		button {
			&[disabled] {
				opacity: 0.6;
			}
		}

		&-value {
			position: relative;
		}
	}

	&-input {
		width: 50px;
		height: 40px;
		padding: $margin-small 24px $margin-small 2px;
		border: 1px solid $color-gray-border;
		text-align: right;
		font-weight: $bold;

		@include min-screen($screen-sm-min) {
			width: 45px;
			height: 45px;
			padding-right: 20px;
		}

		&:focus {
			outline: 0;
		}

		&-text {
			position: absolute;
			top: 50%;
			right: 10px;
			color: $color-gray;
			line-height: 40px;
			transform: translateY(-50%);

			@include min-screen($screen-sm-min) {
				right: 8px;
				line-height: 45px;
			}

			/* Target mozilla to align the value correctly in the browser */
			@-moz-document url-prefix() {
				top: 0;
				transform: translateY(0);
			}
		}
	}

	&-btn {
		width: 40px;
		padding: $padding-small;
		font-size: 16px;
		color: $color-primary;
		border: 1px solid $color-gray-border;
		background: $color-white;
		transition: background $duration-quick $ease-in-out,
					color $duration-quick $ease-in-out,
					opacity $duration-quick $ease-in-out;

		&:first-child {
			border-top-left-radius: .3em;
			border-bottom-left-radius: .3em;
			border-right: 0;
		}

		&:last-child {
			border-top-right-radius: .3em;
			border-bottom-right-radius: .3em;
			border-left: 0;
		}

		&:active,
		&:hover,
		&:focus {
			background-color: $color-cloud;
		}

		&:focus {
			outline: 0;
		}
	}

	&-manage {
		align-items: center;
		display: flex;
		flex-grow: 1;
		order: 2;
		.cart__item-price {
			margin: 0;
		}
	}

	&-price {
		flex-grow: 1;
		order: 5;
		margin: 5px 0 5px $margin-small;
		font-size: 16px;
		text-align: right;
		white-space: nowrap;

		@include min-screen($screen-sm-min) {
			margin: 5px $margin-small;
			order: 3;
		}
	}

	&-remove {
		width: 14px;
		height: 14px;
		padding: 0;
		border: 0;
		background: transparent;
		font-size: $base-font-size;
		color: $color-red;
		margin: $margin-small;
		order: 4;
		transition: color $duration-quick $ease-in-out;

		@include min-screen($screen-sm-min) {
			order: 5;
		}

		&:hover {
			color: $color-black;
		}
	}

	&-total  {
		margin-top: $margin-small;
	}

	&-sum {
		float: right;
		margin-left: $margin-small;
	}
}