&.alert ~ .content-wrapper .product-cart.is-scrolling {
	 @include min-screen($screen-sm) {
		 top: 0;
	 }
 }

.product-cart {
	display: flex;
	position: fixed;
	top: 62px;
	left: 0;
	right: 0;
	z-index: 800;

	@include min-screen($screen-sm) {
		top: auto;
		left: $sidebar-width-mobile;
	}

	@include min-screen($screen-md) {
		justify-content: flex-end;
		max-width: 1400px;
		padding-top: $padding-default;
		padding-right: $padding-default + 5;
	}

	@include min-screen($screen-lg) {
		left: $sidebar-width-desktop;
	}

	&__item {
		display: flex;
		flex-basis: 33.3%;
		justify-content: space-between;
		padding:$padding-small;
		background-color: $color-white;
		border: 1px solid $color-gray-border;
		transition: background $duration-quick $delay-none $ease-in-out;

		@include min-screen($screen-md) {
			flex-basis: auto;
			padding: 8px 10px 8px 15px;
			border-radius: 2em;

			&:not(:last-child) {
				margin-right: $margin-small;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		color: $color-base-primary;

		@include min-screen($screen-md) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__icon {
		order: 2;
		font-size: 16px;

		@include min-screen($screen-md) {
			order: -1;
			margin-right: 8px;
		}
	}

	&__title {
		margin-bottom: 0;
		text-transform: uppercase;
		color: rgba(0, 0, 0, .7);
		font-size: 10px;

		@include min-screen($screen-sm) {
			font-size: $base-font-size;
		}

		@include min-screen($screen-md) {
			margin-right: 15px;
			text-transform: none;
			white-space: nowrap;
		}
	}

	&__meta {
		margin-bottom: 0;
		font-size: 12px;

		@include min-screen($screen-sm) {
			font-size: $base-font-size;
		}

		@include min-screen($screen-md) {
			margin-right: $margin-small;
		}
	}

	&__notification {
		align-self: center;
		flex: 0 0 auto;
		line-height: inherit;
	}
}

a.product-cart__item {
	&:hover,
	&:focus {
		background-color: $color-dark-white;
	}
}

.product-cart + .block {
	@media screen and (min-width: $screen-sm + 1) and (max-width: $screen-sm-max){
		margin-top: 62px;
	}
}

/*
 * Green theme
 * Different on narrow and wide screens
 */

.product-cart__item--theme-green {
	@include max-screen($screen-sm-max) {
		background: $color-green;
		border-color: $color-green;
		color: $color-green; /* inheritance for notification */

		.product-cart__content {
			color: $color-white;
		}

		.product-cart__title {
			color: rgba(255, 255, 255, .7);
		}
	}

	@include min-screen($screen-md) {
		.product-cart__notification {
			background-color: $color-green;
			color: $color-white;
		}

		.product-cart__icon {
			color: $color-green;
		}
	}
}

a.product-cart__item--theme-green {
	@include max-screen($screen-sm-max) {
		&:hover,
		&:focus {
			background-color: $color-green-light;
			color: $color-green-light;
		}
	}
}

/* Blue theme */
.product-cart__item--theme-blue {
	background: $color-blue;
	border-color: $color-blue;
	color: $color-blue; /* inheritance for notification */

	.product-cart__content {
		color: $color-white;
	}

	.product-cart__title {
		color: rgba(255, 255, 255, .7);
	}

	@include min-screen($screen-md) {
		.product-cart__title {
			color: $color-white;
		}
	}
}

a.product-cart__item--theme-blue {
	&:hover,
	&:focus {
		background-color: $color-blue-light;
		color: $color-blue-light;
	}
}