.cart__item {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $color-feather;

	&-content {
		display: flex;
		align-items: center;
	}

	&-image {
		margin-right: 10px;
		max-width: 80px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&-title {
		margin-top: 0;
	}

	&-quantity {
		display: flex;
	}

	&-input {
		width: 40px;
		padding: 10px;
		border: 1px solid $color-gray-border;
		text-align: center;

		&:focus {
			outline: 0;
		}
	}

	&-btn {
		width: 40px;
		padding: 10px;
		font-size: 16px;
		color: $color-primary;
		border: 1px solid $color-gray-border;

		&:first-child {
			border-top-left-radius: .3em;
			border-bottom-left-radius: .3em;
			border-right: 0;
		}

		&:last-child {
			border-top-right-radius: .3em;
			border-bottom-right-radius: .3em;
			border-left: 0;
		}

		&:active,
		&:focus {
			background-color: $color-cloud;
		}

		&:focus {
			outline: 0;
		}
	}

	&-price {
		margin-left: auto;
		margin-right: 10px;
		margin-bottom:0;
	}

	&-remove {
		width: 14px;
		height: 14px;
		padding: 0;
		border: 0;
		font-size: $base-font-size;
		color: $color-red;
	}

	&-total  {
		margin-top: 10px;
	}

	&-sum {
		float: right;
		margin-left: 10px;
	}
}