.data-list {
	margin-bottom: 20px;
	text-align: center;

	@include min-screen($screen-sm-min) {
		text-align: left;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 20px;
	}

	ul > li {
		border-bottom: 1px solid $color-gray-border;
		border-right: 1px solid $color-gray-border;
		border-left: 1px solid $color-gray-border;
		padding: $padding-default $padding-default $padding-default / 2;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;

		@include min-screen($screen-sm-min) {
			padding: $padding-default;
		}

		&:nth-of-type(even) {
			background-color: $color-dark-white;
		}

		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.data-list__title {
	margin-bottom: 0;
	padding: $padding-default;
	border: 1px solid #a2c3ff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #d6eeff;
	color: #000;
	display: flex;
	flex-wrap: wrap;

	h3 {
		font-family: $base-font-family;
		margin: 0;
	}
}

.data-list__header {
	margin-bottom: 0;
	padding: $padding-default;
	border: 1px solid #a2c3ff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #d6eeff;
	color: $color-base-primary;
	display: flex;
	flex-wrap: wrap;
}

.data-list__header-cell {
	display: flex;
	flex: 1;
	font-size: 16px;
	font-weight: $bold;
}

.data-list__cell {
	font-weight: $bold;
	color: $color-base-complement;
	float: left;
	flex: 1 1 33%;
	margin-bottom: 15px;
	text-align: center;

	&:nth-of-type(3n+1) {
		text-align: left;
	}

	&:nth-of-type(3n+3) {
		text-align: right;
	}

	@include min-screen($screen-sm-min) {
		text-align: left;
		width: auto;
		float: none;
		display: flex;
		flex: 1;
		margin-bottom: 0;
	}
}

.data-list__sub-actions {
	display: none;

	@include min-screen($screen-sm-min) {
		display: flex;
		transition: opacity $duration-fast $ease-in-out,
		transform $duration-fast $ease-in-out,
		visibility $duration-fast $ease-in-out;
		opacity: 0;
		visibility: hidden;
		transform: translateX(50px);
	}
	@include min-screen($screen-md-min) {
		margin-right: 40px;
	}

	a, button {
		margin-bottom: 15px;

		@include min-screen($screen-sm-min) {
			margin: 0 10px;
		}

	}
}

.data-list.data-list--table {

	.data-list__header {
		display: none;

		@include min-screen($screen-sm-min) {
			display: flex;
		}
	}

	.data-list__cell {
		flex: 1 1 33%;

		&:before {
			content: attr(data-header);
			display: block;
			font-weight: $bold;
			color: $color-base-primary;

			@include min-screen($screen-sm-min) {
				display: none;
			}

		}

		@include min-screen($screen-sm-min) {
			flex: 1;
		}

		&:last-of-type {
			justify-content: flex-end;
		}
	}

	.data-list__dropdown {
		display: none;
		flex: 100%;
		padding: 20px 0 0;
		font-weight: 600;
		border-top: 1px solid transparent;
		color: $color-base-complement;
		margin-top: 5px;
		transition: border-color $duration-fast $ease-in-out;

		@include min-screen($screen-sm-min) {
			margin-top: 20px;
		}

		&.data-list__dropdown--active {
			border-color: #eeeeee;
		}
	}

	.data-list__dropdown-cell {
		width: 50%;
		float: left;

		span {
			display: block;
			color: $color-base-primary;

			@include min-screen($screen-sm-min) {
				display: inline;
				color: $color-base-complement;
			}

		}
		&:nth-of-type(1n) {
			text-align: left;
		}

		&:nth-of-type(2n) {
			text-align: right;
		}
	}
}

.data-list__cell.data-list__cell--actions {
	color: #77839e;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;

	@include min-screen($screen-sm-min) {
		flex: 7;
	}

	@include min-screen($screen-md-min) {
		flex: 6;
	}

	.btn-data-action {
		text-align: center;
	}

}

.data-list__cell.data-list__cell--mobile-actions {
	width: 100%;
	flex: 100%;
	margin: 0;

	@include min-screen($screen-sm-min) {
		display: none;
	}

	.data-list__sub-actions {
		text-align: left;

		:last-child {
			margin-bottom: 0;
		}
	}

	.btn-data-action {
		text-align: left;
		display: block;
	}
}

.data-list__cell.data-list__cell--active {

	.data-list__sub-actions {
		@include min-screen($screen-sm-min) {
			opacity: 1;
			transform: translatex(0);
			visibility: visible;
			height: auto;
		}
	}

	.btn-data-action {
		color: $color-light-blue;
	}
}