.frame-box {
  margin-bottom: $margin-default;

  &__header {
    background-color: $color-secondary-light;
    font-size: $base-font-size;
    font-weight: 600;
    padding: 15px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    //border: 1px solid #a2c3ff;
  }

  &__row {
    border: 1px solid $color-gray-border;
    border-top: 0;
    padding: 0 $margin-medium;

    @include min-screen($screen-sm-min) {
      padding: 0 $margin-default;
    }

    &:last-of-type {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &.form-group {
      margin: 0;
    }

    .profile__submit {
      display: none;
    }
  }
}