.row.equal-height {
	@include min-screen($screen-sm-min) {
		display: flex;
		flex-wrap: wrap;

		&:before, &:after {
			display: block;
		}

		> [class*='col-'] {
			display: flex;
			flex-direction: column;

			> div,
			> article {
				display: flex;
				flex-direction: column;
				flex: 1 1 auto;

				> a:not(.btn) {
					display: flex;
					flex-direction: column;
					flex: 1 1 auto;
				}
			}
		}
	}
}

.row.padding-extra {
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;

	> [class*='col-'] {
		padding-right: 0;
		padding-left: 0;
	}
}
