.row.equal-height {
	display: flex;
	flex-wrap: wrap;

	&:before, &:after {
		display: block;
	}

	> [class*='col-'] {
		display: flex;
		flex-direction: column;

		> * {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			justify-content: flex-end;
		}
	}
}

.row.padding-extra {
	padding: 0;

	@include min-screen($screen-md-max) {
		padding: 0 $padding-medium;
	}
}
