.list-links {
	padding: 0;
	margin-bottom: 35px;
	list-style: none;

	.list-links__item {
		margin-bottom: 5px;

		&:last-child {
			margin: 0;
		}

		a {
			color: $color-base-complement;
			font-weight: 500;

			&:hover {
				color: darken($color-base-complement, $color-darken-amount);
			}
		}
	}
}

.list-links--horizontal {
	.list-links__item {
		display: inline-block;
		margin-right: 5px;
	}
}
