.list-links {
	padding: 0;
	margin: 0;
	list-style: none;

	.list-links__item {
		margin-bottom: 5px;

		&:last-child {
			margin: 0;
		}

		a {
			display: block;
		}

		img {
			display: block;
			max-height: 35px;
		}
	}
}

.list-links--horizontal {
	.list-links__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		margin-bottom: 10px;
	}
}
