.lottery-order-form {
	color: #ffffff;
	button[type="submit"] {
		display: none;
	}
	button.show-modal {
		display: none;
	}
	.form-title {
		font-family: $apercu-bold-font;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1333;
		margin-bottom: 10px;
		@media (max-width: 991px) {
			font-size: 28px;
		}
	}
	.form-error-text {
		color: #ffcf34;
	}
	.form-info-text {
		font-size: $base-font-size;
		font-weight: 400;
		line-height: 1.428;
		margin-bottom: 20px;
	}
	.form-error-text {
		display: none;
		font-size: $base-font-size;
		color: #ffcf34;
		font-weight: 400;
		line-height: 1.428;
		margin-bottom: 20px;
	}
	.form-row {
		display: flex;
		margin: 0 -5px;
		.form-group {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.form-group {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		//margin-bottom: 20px;
		&.has-error {
			.form-control {
				border-color: #ffcf34;
				//color: #ffcf34;
				background-color: #fff;
				//&::placeholder {
				//	color: #ffcf34;
				//}
				&:focus {
					color: $color-primary;
				}
			}
			.select2-container {
				.select2-selection {
					&--single {
						border-color: #ffcf34;
						background-color: #ffffff;
					}
					&__rendered {
						//color: #ffcf34;
					}
				}
			}
		}
		.icon-cards {
			position: absolute;
			top: 29px;
			right: 10px;
		}
		.with-errors {
			color: #ffcf34;
			font-size: $size-smallest;
			line-height: 1;
			margin: 5px 0;
			ul {
				margin: 0;
			}
		}
		label {
			display: block;
			color: #FFFFFF;
			font-size: $size-smallest;
			//font-weight: 700;
			margin-bottom: 5px;
			text-align: center;
			&.with-tooltip {
				display: flex;
				align-items: center;
				.tooltip-second {
					margin-left: 5px;
					margin-bottom: 2px;
				}
			}
		}
	}
	.form-control {
		width: 100%;
		height: 38px;
		color: $color-primary;
		font-size: 14px;
		letter-spacing: 1px;
		border-radius: 4px;
		border: solid 1px #cecece;
		background-color: #cecece;
		outline: none;
		box-shadow: none;
		text-align: center;
		padding: 0 15px;
		transition: all .2s ease;
		&::placeholder {
			//color: rgba(11, 59, 84, .5)!important;
			letter-spacing: 1px;
			opacity: .5;
		}
		&.filled {
			border-color: #cecece;
			background-color: #E8F0FE;
		}
		&.focused {
			border-color: $color-cta;
			background-color: #fff;
		}
	}
	.btn-wrap {
		>* {
			width: 100%;
			text-align: center;
		}
	}
	.tooltip-second {
		width: 10px;
		height: 10px;
		min-width: 10px;
		cursor: pointer;
		img {
			display: block;
			width: 100%;
		}
	}
	.select2-container {
		&--open {
			.select2-selection {
				&--single {
					.select2-selection {
						&__arrow {
							&:before {
								top: 12px!important;
								transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
		&.choice-done {
			.select2-selection {
				&--single {
					background-color: #e8f0fe!important;
					.select2-selection {
						&__rendered {
							color: $color-primary!important;
						}
					}
				}
			}
		}
		.select2-selection {
			text-align: left;
			&--single {
				height: 44px;
				border-radius: 4px;
				border: solid 1px #cecece;
				background-color: #CECECE;
				outline: none;
				.select2-selection {
					&__rendered {
						line-height: 42px;
						color: rgba(11, 59, 84, .5);
						font-size: $size-small;
						font-weight: 400;
						letter-spacing: 1px;
						padding-left: 15px;
					}
					&__arrow {
						height: 100%;
						width: 20px;
						&:before {
							position: absolute;
							content: $icon-chevron-down;
							top: 14px;
							left: 0;
							font-family: 'ml-icons' !important;
							font-size: 12px;
							color: #979797;
						}
						b {
							display: none;
						}
					}
				}
			}
		}
	}
	.lof-btn {
		&.disabled {
			color: #ffffff;
			background-color: $color-cta-light;
			cursor: default;
			&:hover {
				background-color: $color-cta-light;
			}
		}
	};
}

//.select-dropdown-container {
//	.select2-results {
//		&__options {
//			margin: 0;
//			padding: 0;
//		}
//		&__option {
//			color: $color-primary;
//			font-size: $size-small;
//			font-weight: 400;
//			letter-spacing: 1px;
//			padding: 8px 15px;
//			&:first-child {
//				display: none;
//			}
//		}
//	}
//}

.form-tabs {
}

.form-tab-first {
	.address-field {
		padding: 10px 0 30px;
	}
	.change-address-btn {
		display: inline-block;
		cursor: pointer;
		text-decoration: underline;
		margin-top: 10px;
		&:hover {
			text-decoration: none;
		}
	}
	.address-inputs {
		display: none;
		padding: 40px 0 10px;

		.form-row {
			.form-group {
				&:first-child {
					width: 135px;
				}
				&:last-child {
					width: calc(100% - 155px);
				}
			}
		}
	}
}

.form-tab-second {
	display: none;
	.btn-success {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 30px;
		.icon {
			width: 32px;
			img {
				width: 100%;
				margin-left: 2px;
			}
		}
	}
	.subscribe-info-text {
		font-size: $size-smallest;
		line-height: 16px;
		text-align: center;
		margin-top: 10px;
		.btn {
			display: inline-block;
			font-size: $size-smallest;
			line-height: 16px;
			color: #ffffff;
			font-weight: 400;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.form-control {
		height: 44px;
	}
	.acc-second {
		margin-bottom: 60px;
	}
	.custom-checkbox-type2 {
		label {
			margin-bottom: 30px;
		}
	}
}

.form-tab-last {
	display: none;
	text-align: center;
	.form-title {

	}
	.form-info-text {
		margin-bottom: 0;
	}
	.more-info-link {
		display: inline-block;
		color: #ffffff;
		font-weight: 400;
		line-height: 1.428;
		text-decoration: underline;
		margin-bottom: 60px;
		&:hover {
			text-decoration: none;
		}
	}
	.launch-info-text {
		margin-bottom: 30px;
	}
	.lof-loader {
		margin-bottom: 120px;
	}
	.sing-with-bankid {
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}

.acc-item {
	border-bottom: 1px solid #ffffff;
	&:first-child {
		border-top: 1px solid #ffffff;
	}
}

.acc-title {
	display: flex;
	align-items: center;
	margin: 20px 0;
	cursor: pointer;
	&.active {
		.acc-title__btn {
			border-color: $color-cta;
			&:before {
				transform: scale(1);
			}
		}
	}
	&__btn {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: solid 1px #cecece;
		background: #ffffff;
		margin-right: 10px;
		transition: all .3s ease;
		&:before {
			position: absolute;
			content: '';
			top: 4px;
			left: 4px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $color-primary;
			transform: scale(0);
			transition: all .3s ease;
		}
	}
	&__text {
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
	}
}

.acc-body {
	display: none;
}

.payment-by-cart {
	.first-row {
		.form-group {
			text-align: left;
			&:first-child {
				width: calc(100% - 90px);
			}
			&:last-child {
				width: 70px;
			}
			label {
				padding-left: 5px;
				&.with-tooltip {
					justify-content: flex-end;
				}
			}
		}
		.form-control {
			text-align: left;
		}
	}
	.second-row {
		justify-content: flex-end;
		.title {
			font-size: $size-small;
			margin-right: 10px;
			margin-top: 22px;
		}
		.form-group {
			width: 80px;
		}
		.select2-container {
			width: 100% !important;

		}
	}
}

.payment-by-invoice {
	.acc-body {
		padding-left: 30px;
	}
	.info-text {
		//margin-top: -10px;
	}
	.address-field {
		padding: 10px 0 20px;
	}
	.change-address-btn {
		display: inline-block;
		cursor: pointer;
		text-decoration: underline;
		margin-top: 10px;
		&:hover {
			text-decoration: none;
		}
	}
}

.payment-by-direct-debit {
	.form-row {
		.form-group {
			text-align: left;
			&:first-child {
				width: 70px;
			}
			&:last-child {
				width: calc(100% - 90px);
			}
			label {
				padding-left: 5px;
			}
		}
		.form-control {
			text-align: left;
		}
	}
}

#modal-lottery-order {
	padding: 0!important;
	.modal-dialog {
		padding: 0;
	}
	.modal-main-body {
		min-height: 100vh;
		background-position: center;
		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&:before {
			background-color: #fff;
			opacity: .5;
			z-index: 1;
			@media (max-width: 767px) {
				//opacity: .6;
				display: none;
			}
		}
		&:after {
			opacity: 0.75;
			background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
			z-index: 2;
			//@media (max-width: 767px) {
			//	background: radial-gradient(circle, #BFFFFFFF, #1AFFFFFF);
			//}
		}
	}
	.modal-main-header,
	.modal-main-content {
		position: relative;
		z-index: 3;
	}
	.modal-main-header {
		display: flex!important;
		//pointer-events: none;
		@media (max-width: 767px) {
			justify-content: center;
			margin-top: 10px;
		}
	}
	.modal-main__logo {
		@media (max-width: 767px) {
			max-width: 78px;
		}
	}
	.modal-main__logo-secondary {
		@media (max-width: 767px) {
			display: none;
		}
	}
	.modal-main-content {
		max-width: 100%!important;
		.btn-success {
			max-width: 355px;
			width: 100%;
			text-align: center;
		}
	}
	.modal-main-center {
		margin: 0 0 20px;
	}
	.modal-main__title {
		margin-bottom: 10px;
	}
	.modal-main__subTitle {
		margin-bottom: 20px;
		>p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

