.lottery-order-form {
	color: #ffffff;
	.form-title {
		font-family: $apercu-bold-font;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1333;
		margin-bottom: 10px;
		@media (max-width: 991px) {
			font-size: 28px;
		}
	}
	.form-info-text {
		font-size: $base-font-size;
		font-weight: 400;
		line-height: 1.428;
		margin-bottom: 30px;
	}
	.form-error-text {
		display: none;
		font-size: $base-font-size;
		color: #ffcf34;
		font-weight: 400;
		line-height: 1.428;
		margin-bottom: 30px;
	}
	.form-row {
		display: flex;
		margin: 0 -5px;
		.form-group {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.form-group {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		&.has-error {
			.form-control {
				border-color: #ffcf34;
				background-color: #fff;
				&:focus {
					color: $color-primary;
				}
			}
			.select2-container {
				.select2-selection {
					&--single {
						border-color: #ffcf34;
						background-color: #ffffff;
					}
				}
			}
		}
		.icon-cards {
			position: absolute;
			top: 29px;
			right: 10px;
		}
		.with-errors {
			color: #ffcf34;
			font-size: $size-smallest;
			line-height: 1;
			margin: 5px 0 0;
			ul {
				margin: 0;
			}
		}
		label {
			display: block;
			color: #FFFFFF;
			font-size: $size-smallest;
			//font-weight: 700;
			margin-bottom: 5px;
			text-align: center;
			&.with-tooltip {
				display: flex;
				align-items: center;
				.tooltip-second {
					margin-left: 5px;
					margin-bottom: 2px;
				}
				.tooltip-second + .tooltip {
					.tooltip-inner {
						width: 100px;
					}
				}

			}
		}
	}
	.form-control {
		width: 100%;
		height: 38px;
		color: $color-primary;
		font-size: 14px;
		letter-spacing: 1px;
		border-radius: 4px;
		border: solid 1px #cecece;
		background-color: #E8F0FE;
		outline: none;
		box-shadow: none;
		text-align: center;
		padding: 0 15px;
		transition: all .2s ease;
		&::placeholder {
			color: $color-primary;
			letter-spacing: 1px;
			opacity: .5;
		}
		&.focused {
			border-color: $color-cta;
			background-color: #fff;
		}
	}
	.btn-wrap {
		>* {
			width: 100%;
			text-align: center;
		}
	}
	.tooltip-second {
		width: 10px;
		height: 10px;
		min-width: 10px;
		cursor: pointer;
		img {
			display: block;
			width: 100%;
		}
	}
	.address-block {
		margin-bottom: 30px;
		>* {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.text {
			font-size: $font-size-small;
		}
	}
	.go-first-step {
		display: inline-block;
		cursor: pointer;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	.custom-radio {
		input[type='radio']:checked + label {
			&:after {
				background: $color-primary;
				transform: scale(1);
			}

		}
		&__label {
			font-size: $size-small!important;
			font-weight: 700;
			text-align: left!important;
			&:after {
				position: absolute;
				content: '';
				top: 3px;
				left: 5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $color-primary;
				transform: scale(0);
				transition: all .3s ease;
			}
		}
	}
	.select2-container {
		&--open {
			.select2-selection {
				&--single {
					.select2-selection {
						&__arrow {
							&:before {
								top: 12px!important;
								transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
		&.choice-done {
			.select2-selection {
				&--single {
					background-color: #e8f0fe!important;
					.select2-selection {
						&__rendered {
							color: $color-primary!important;
						}
					}
				}
			}
		}
		.select2-selection {
			text-align: left;
			&--single {
				height: 44px;
				border-radius: 4px;
				border: solid 1px #cecece;
				background-color: #E8F0FE;
				outline: none;
				.select2-selection {
					&__rendered {
						line-height: 43px;
						color: rgba(11, 59, 84, .5);
						font-size: $size-small;
						font-weight: 400;
						padding-left: 15px;
					}
					&__arrow {
						height: 100%;
						width: 20px;
						&:before {
							position: absolute;
							content: $icon-chevron-down;
							top: 14px;
							left: 0;
							font-family: 'ml-icons' !important;
							font-size: 12px;
							color: #979797;
						}
						b {
							display: none;
						}
					}
				}
			}
		}
	}
	.lof-btn {
		&.disabled {
			color: #ffffff;
			background-color: $color-cta-light;
			cursor: default;
			&:hover {
				background-color: $color-cta-light;
			}
		}
	}
}

.form-tab-first {
	.address-block {
		padding-top: 15px;
	}
}

.form-tab-second {
	display: none;
	.form-group {
		margin-bottom: 40px;
	}
	.radio-group {
		display: flex;
		flex-wrap: wrap;
		padding-top: 5px;
	}
	.custom-radio {
		margin-bottom: 10px;
		width: 50%;
		@media (max-width: 480px) {
			width: 100%;
		}
		&__label {
			margin: 0;
			padding-right: 20px;
			@media (max-width: 480px) {
				padding-right: 0;
			}
		}
	}
}

.form-tab-third {
	display: none;
	.btn-success {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 30px;
		height: 38px;
		.icon {
			width: 23px;
			margin-left: 8px;
			margin-bottom: 2px;
			img {
				width: 100%;
			}
		}
	}
	.show-modal {
		display: none;
	}
	.subscribe-info-text {
		font-size: $size-smallest;
		line-height: 16px;
		text-align: center;
		margin-top: 10px;
		.btn {
			display: inline-block;
			font-size: $size-smallest;
			line-height: 16px;
			color: #ffffff;
			font-weight: 400;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.form-control {
		height: 44px;
	}
	.acc-second {
		margin-bottom: 30px;
	}
	.custom-checkbox-type2 {
		label {
			margin-bottom: 30px;
		}
	}
	.choose-bankid-device {
		margin-bottom: 30px;
		.select2-container {
			width: 100% !important;
			.select2-selection--single .select2-selection__rendered {
				color: $color-primary!important;
				font-weight: 700;
			}
		}
	}
}


.form-tab-last {
	display: none;
	text-align: center;
	.form-title {

	}
	.form-info-text {
		margin-bottom: 0;
	}
	.more-info-link {
		display: inline-block;
		color: #ffffff;
		font-weight: 400;
		line-height: 1.428;
		text-decoration: underline;
		margin-bottom: 60px;
		&:hover {
			text-decoration: none;
		}
	}
	.launch-info-text {
		margin-bottom: 30px;
	}
	.lof-loader {
		margin-bottom: 120px;
	}
	.sing-with-bankid {
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}

.acc-item {
	border-bottom: 1px solid #ffffff;
	&:first-child {
		border-top: 1px solid #ffffff;
	}
}

.acc-title {
	display: flex;
	align-items: center;
	margin: 20px 0;
	cursor: pointer;
	&.active {
		.acc-title__btn {
			border-color: $color-cta;
			&:before {
				transform: scale(1);
			}
		}
	}
	&__btn {
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: solid 1px #cecece;
		background: #ffffff;
		margin-right: 10px;
		transition: all .3s ease;
		&:before {
			position: absolute;
			content: '';
			top: 4px;
			left: 4px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $color-primary;
			transform: scale(0);
			transition: all .3s ease;
		}
	}
	&__text {
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
	}
}

.acc-body {
	display: none;
}

.payment-by-invoice {
	.acc-body {
		padding-left: 30px;
		.address-block {
			margin-bottom: 20px;
		}
	}
}

.payment-by-direct-debit {
	.form-row {
		.form-group {
			text-align: left;
			&:first-child {
				width: 70px;
			}
			&:last-child {
				width: calc(100% - 90px);
				label {
					text-align: left;
				}
			}
			label {
				padding-left: 5px;
			}
		}
		.form-control {
			text-align: left;
		}
	}
}

#modal-lottery-order {
	padding: 0!important;
	background-repeat: no-repeat;
	background-size: cover;
	&.modal-bgp {
		@media screen and (max-width: $screen-xs-max){
			&-mobile {
				&--left {
					background-position: center left;
					&.hero-full__video {
						left: 0;
					}
				}
				&--right {
					background-position: center right;
				}
				&--center {
					background-position: center center;
				}
			}
		}
		@media screen and (min-width: $screen-sm){
			&-tablet {
				&--left {
					background-position: center left;
					&.hero-full__video {
						left: 0;
					}
				}
				&--right {
					background-position: center right;
				}
				&--center {
					background-position: center center;
				}
			}
		}
		@media screen and (min-width: $screen-md){
			&-desktop {
				&--left {
					background-position: center left;
					&.hero-full__video {
						left: 0;
					}
				}
				&--right {
					background-position: center right;
				}
				&--center {
					background-position: center center;
				}
			}
		}
	}
	.modal-dialog {
		padding: 0;
	}
	.modal-main-body {
		min-height: 100vh;
		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&:before {
			background-color: #fff;
			opacity: .5;
			z-index: 1;
			@media (max-width: 767px) {
				//opacity: .6;
				display: none;
			}
		}
		&:after {
			opacity: 0.75;
			background: radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
			z-index: 2;
		}
	}
	.modal-main-header,
	.modal-main-content {
		position: relative;
		z-index: 3;
	}
	.modal-main-header {
		display: flex!important;
		@media (max-width: 767px) {
			justify-content: center;
			margin-top: 10px;
		}
	}
	.modal-main__logo {
		@media (max-width: 767px) {
			max-width: 78px;
		}
	}
	.modal-main__logo-secondary {
		@media (max-width: 767px) {
			display: none;
		}
	}
	.modal-main-content {
		max-width: 100%!important;
		.btn-success {
			max-width: 355px;
			width: 100%;
			text-align: center;
		}
	}
	.modal-main-center {
		margin: 0 0 20px;
	}
	.modal-main__title {
		margin-bottom: 10px;
	}
	.modal-main__subTitle {
		margin-bottom: 20px;
		>p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

