.message-sender {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $color-pink;
  text-align: center;
  line-height: 32px;

  &__initials {
    color: #fff;
  }

  &--yellow {
    background-color: $color-yellow;
  }

  &--blue {
    background-color: $color-blue;
  }

  &--blue-deep {
    background-color: $color-blue-deep;
  }

  &--turquoise {
    background-color: $color-turquoise;
		color: $color-primary;
  }
}
