.modal-dialog {
	padding: 0 30px;

	@include min-screen($screen-sm-min) {
		padding: 0;
		width: 360px;
	}
}

/* Put outside the modal and center */
.btn.js-action-close {
	margin: 0 auto $margin-medium auto;
	display: block;
}

/* Adjust center align modal */
.vertical-alignment-helper {
	text-align: center;

	.modal-content {
		width: inherit;
		height: auto;
		margin: 0 auto;
		pointer-events: all;
		overflow-y: auto;
		overflow-y: auto;
	}
}

.modal-header,
.modal-body,
.modal-footer {
	padding: 25px;
	font-size: 12px;
	line-height: 20px;

	p {
		color: $color-base-complement;
	}

	.account-form__error {
		p {
			// color: #77839D;
			// font-weight: 300;
		}
	}
}

.modal-header {
	border: none;
	text-align: center;
	padding-bottom: 0;
}

.modal-title {
	color: $color-base-secondary;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: -10px;
	font-size: 12px;
}


.modal-title1 {
	color: $color-base-secondary;
	padding: 20px;
	margin-top: 0;
	margin-bottom: -10px;
	font-size: 24px;
	line-height: 18px;
}



.modal-content {
	box-shadow: none;
	border: none;
	background-color: $color-modal-background;
	text-align: left;
}

.modal-subtitle {
	margin-top: 20px;
	margin-bottom: 0;
	display: block;
}

.modal-intro {
	margin-top: -10px;
	line-height: 2;
	// margin-bottom: 0;
}

.modal-body {
	padding-bottom: 0;

	.form-control {
		font-size: 12px;
		line-height: 20px;
	}

	.btn-link {
		margin-top: -10px;
	}
}



.modal-footer {
	padding-top: 0;
	border: none;

	.btn {
		margin-top: $margin-medium + $margin-medium;
		position: relative;

		&:before {
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;
			left: 0;
			top: -$margin-medium;
		}

		+ .btn {
			margin-left: 0;
			margin-top: $margin-medium + $margin-medium;

			&:first-of-type {
				margin-top: 0;

				&:before{
					content: none;
				}
			}
		}
	}
}
