.modal-dialog {
	padding-right: $padding-medium;
	padding-left: $padding-medium;

	@include min-screen($screen-xs) {
		padding-right: 30px;
		padding-left: 30px;
	}

	@include min-screen($screen-sm-min) {
		padding: 0;
		width: 360px;
	}
}

/* Put outside the modal and center */
.btn.js-action-close {
	margin: 0 auto $margin-medium auto;
	display: block;
}

/* Adjust center align modal */
.vertical-alignment-helper {
	text-align: center;

	.modal-content {
		width: inherit;
		height: auto;
		margin: 0 auto;
		pointer-events: all;
		overflow-y: auto;
	}
}

.modal-header,
.modal-body,
.modal-footer {
	margin-bottom: 0;
	padding: $padding-medium;
	line-height: 20px;

	@include min-screen($screen-xs) {
		padding: 25px;
	}

	p {
		color: $color-base-complement;
	}
}

.modal-header {
	border: none;
	text-align: center;
	padding-bottom: 0;
}

.modal-title {
	color: $color-base-secondary;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: -10px;
	font-size: $size-small;
}

.modal-title1 {
	color: $color-base-secondary;
	padding: 20px;
	margin-top: 0;
	margin-bottom: -10px;
	font-size: 24px;
	line-height: 18px;
}

.modal-content {
	box-shadow: none;
	border: none;
	background-color: $color-modal-background;
	text-align: left;
}

.modal-subtitle {
	margin-top: 20px;
	margin-bottom: 0;
	display: block;
}

.modal-intro {
	margin-top: -10px;
	line-height: 2;
}

.modal-body {
	.form-control {
		font-size: $size-smallest;
		line-height: 20px;
	}

	.btn-link {
		margin-top: -10px;
	}
}

.modal-footer {
	padding-top: 0;
	border: none;

	.btn {
		position: relative;

		+ .btn-block {
			margin-left: 0;
			margin-top: $margin-medium;

			&:first-of-type {
				margin-top: 0;

				&:before {
					content: none;
				}
			}
		}
	}
}

.modal-page {
	display: none;

	.modal-header {
		display: flex;
		align-items: center;
		justify-content: center
	}

	.modal-page__back-button {
		position: absolute;
		left: 20px;
		padding: 0;
		color: #8da7ba;

		i {
			font-size: $base-font-size
		}
	}
}

.modal-page--active {
	display: block;
}

#modal__terms-of-services {

	form {
		height: 100%;
	}

	.modal-content {
		padding: 25px;
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-content: center;
		flex-wrap: nowrap;

		@include max-screen($screen-sm-min) {
			padding: 15px;
		}
	}

	.modal__holder {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.modal-body {
		overflow-y: scroll;
		max-height: 500px;
		border: 1px solid $color-space;

		@include max-screen($screen-sm-min) {
			height: 40vh;
			max-height: 100%;
			flex: 1 1 auto;
		}

	}

	.modal-dialog {
		padding: 25px;
		max-width: 800px !important;
		width: 100%;

		@include max-screen($screen-sm-min) {
			margin: 0;
			padding: 15px;
			height: 100%;
		}
	}

	.modal-header {
		padding: 0 0 15px;

		.modal-title1 {
			line-height: 28px;
			padding: 0;
			margin-bottom: 25px;
		}

		p {
			text-align: left;
		}

		@include max-screen($screen-sm-min) {
			padding: 0 0 5px;

			.modal-title1 {
				margin-bottom: 15px;
			}
		}

	}

	.modal-footer {
		padding: 25px 0 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		button {
			margin: 0 auto;
			width: auto;
		}

		a {
			text-decoration: underline;
			position: absolute;
			right: 20px;
		}

		@include max-screen($screen-sm-min) {
			padding: 15px 0 0;
			flex-direction: column;
			margin-top: auto;
			flex-wrap: nowrap;

			button {
				margin-bottom: 10px;
			}

			a {
				position: relative;
				right: 0;
			}
		}
	}
}

.modal {
	&-login {



		.modal-dialog {
			padding: 0;
		}

		.modal-body__loading,
		.modal-body__error {
			p:first-child {
				margin-bottom: 30px;
			}
		}

		.modal-body__loading {
			img {
				animation: spin 1s linear infinite;
			}

			@keyframes spin {
			100% {
				transform: rotate(360deg);
			}
			}
		}

		&.in {
			top: 33px;
			padding: 0!important;
			overflow: hidden;
			overflow-y: auto;
			.vertical-alignment-helper {
				width: 100%;
			}
		}
	}

	&-main {
		&-body {
			display: flex;
			flex-direction: column;
			min-height: calc(100vh - 33px);
			width: 100%;
			max-width: 100%;
			//background-image: url(../img/background/bg-modal-login.png);
			background-size: cover;
			padding-left: 10px;
			padding-right: 10px;


			@media screen and (max-width: 767px) {
				background-position: 30% top;
			}
		}

		&-header {
			display: none;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 1300px;
			margin: 25px auto 0;
			@media screen and (min-width: 768px) {
				display: flex;
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		&__logo {
			max-width: 126px;

			a {
				display: block;
			}

			img {
				width: 126px;
			}
		}

		&-buttons {
			position: relative;
			display: flex;
			width: 100%;
			max-width: 100%;
			margin-top: 10px;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: normal;

			.modal-btn__logo {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0);
				max-width: 78px;
				align-self: center;
				margin-left: auto;
				@media screen and (min-width: 480px) {
					max-width: 126px;
				}
				@media screen and (min-width: 768px) {
					display: none;
				}

				a {
					display: block;
				}

				img {
					width: 126px;
				}
			}

			.btn-back {
				border: none;
				justify-self: flex-start;
				background-color: transparent;
				padding-left: 0;

				&__icon {
					display: inline-block;
					vertical-align: middle;
					width: 24px;
					height: 24px;
					border-radius: 100%;
					background-color: $color-secondary-lightBlue;
					background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23053A53' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-position: 40% center;
					background-size: 7px 12px;
					border-radius: 100%;
					transition: all 200ms ease-in;
				}

				&:hover,
				&:focus {
					.btn-back__icon {
						background-color: rgba($color-secondary-lightBlue, 0.5);
					}
				}

				&__title {
					display: inline-block;
					vertical-align: middle;
					margin-left: 10px;
					margin-right: 10px;
					font-size: 16px;
					font-weight: $semibold;
					color: $color-primary-blue;
				}
			}

			.close-wrap {
				margin-left: auto;
				flex: 0 0 117px;
				justify-self: flex-end;
			}

			button.close {
				width: 39px;
				height: 39px;
				background-color: #f7f7f7;
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='35px' height='35px' viewBox='0 0 35 35' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cdesc%3ECreated with Lunacy%3C/desc%3E%3Cg id='kryss' transform='matrix(0.7071068 0.7071068 -0.7071068 0.7071068 17.112 2.262756)'%3E%3Cpath d='M0.4 0L0.4 20.8' transform='translate(10.4 0)' id='Path-5' fill='none' stroke='%23053A53' stroke-width='3.2' stroke-linecap='round' /%3E%3Cpath d='M0.4 0L0.4 20.8' transform='matrix(-4.371139E-08 -1 1 -4.371139E-08 0.3999996 10.8)' id='Path-5-Copy' fill='none' stroke='%23053A53' stroke-width='3.2' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 80%;
				border-radius: 100%;
				opacity: 1;
				transition: all 200ms ease-in;

				&:hover,
				&:focus {
					background-color: rgba(#f7f7f7, 0.5);
					opacity: 1;
				}
			}
		}

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 658px;
			margin: 0 auto;
			height: 0;
			min-height: 87vh;
			flex: 1 0 auto;
			background-color: transparent !important;
			color: #053a53;

			.account-form {
				width: 100%;
			}

			&.large {
				a {
					text-decoration: underline;
					color: #053a53;
				}
				.modal-main-inner {
					max-width: 520px;
				}
				.content {
					max-height: 60vh;
					padding-right: 10px;
					overflow-y: auto;
					margin-bottom: 27px;

				}
			}

			&.product {
				max-width: 740px;
				.modal-main-inner {
					max-width: 740px;
				}
				.modal-main__title,
				.modal-main__subTitle {
					max-width: 355px;
					margin-left: auto;
					margin-right: auto;
				}
				figure {
					margin-top: 20px;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.bottom-links {
					margin-top: 60px;
				}
			}

			.row {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&-inner {
			display: flex;
			flex: 1 0 auto;
			align-self: center;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin: 0 auto;
			@media screen and (min-width: 480px) {
				max-width: 355px;
			}

			button {
				margin-bottom: 20px;
				width: 100%;
				padding-top: 5px;
				padding-bottom: 5px;
				@media screen and (min-width: 480px) {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			.bottom-links {
				margin-bottom: 20px;
				margin-top: 18px;
				flex-grow: 0;
				text-align: center;

				&.disabled {
					opacity: 0.5;
				}

				&-wrap {
					& > * {
						width: auto;
					}
				}
			}

			.form-group {
				margin-bottom: 20px;
				text-align: center;

				label {
					margin-bottom: 5px;
					font-size: $size-smallest;
					font-weight: $semibold;
					color: #053a53;
				}
			}

			.checkbox {
				margin-top: 0;
				text-align: left;

				&--small {
					label {
						font-size: 14px;
					}
				}
				label {
					margin-bottom: 0;
					min-height: 1px;
					font-size: 14px;
					font-weight: 400;
					line-height: 1.2;
				}

				input[type="checkbox"] {
					margin-top: 0;
				}
			}

			.custom-checkbox:checked {
				width: 16px;
				height: 16px;
				background-color: #FFFFFF;
				border: 1px solid #053A53;
				border-radius: 1px;

				&:after {
					content: '';
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 8px;
					height: 8px;
					background-color: #053A53;
					border-radius: 50%;
				}
			}

			.form-control {
				height: auto;
				padding: 10px 30px;
				border-radius: 4px;
				border: solid 1px #053a53;
				background-color: $color-snow;
				box-shadow: none;
				text-align: center;
				font-size: 14px;
				font-weight: $regular;
				color: #053a53;
				line-height: 1.2;
				letter-spacing: 1px;

				&::-webkit-input-placeholder {
					font-weight: $regular;
					color: #053a53;
					opacity: 0.5;
				}

				&:-moz-placeholder {
					font-weight: $regular;
					color: #053a53;
					opacity: 0.5;
				}

				&::-moz-placeholder {
					font-weight: $regular;
					color: #053a53;
					opacity: 0.5;
				}

				&:-ms-input-placeholder {
					font-weight: $regular;
					color: #053a53;
					opacity: 0.5;
				}


				&#userPassword {
				}
			}

			.input-group {
				position: relative;
				width: 100%;
			}

			.input-group-btn {
				position: absolute;
				right: 1px;
				top: 1px;
				bottom: 1px;
				z-index: 3;
				display: block;
				width: 39px;
				height: calc(100% - 2px);
				background-color: #ffffff;
				.btn {
					height: 100%;
					margin-bottom: 0;
					border: none;
					background-color: transparent;
					cursor: pointer;
				}
				.vi {
					height: 14px;
				}
			}

			.content {
				color: #053a53;
				//text-align: center;

				h5 {
					&:not(:first-child) {
						margin-top: 35px;
					}
				}
			}
		}

		&-center {
			flex-grow: 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			overflow-y: auto;

			* {
				&::-webkit-scrollbar-track {
					background-color: rgba(#f7f7f7, 0.95);
					border-radius: 9.5px;
				}

				&::-webkit-scrollbar {
					width: 10px;
					border-radius: 9.5px;
					background-color: rgba(#f7f7f7, 0.9);
					overflow: hidden;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 9.5px;
					background-color: $color-primary-blue;
				}
			}

			@media only screen and (max-width: 992px) {
				*::-webkit-scrollbar-track {
					//-webkit-box-shadow: inset 0 0 6px rgba(#999, 0.9);
					background-color: rgba(#f7f7f7, 0.95);

				}

				*::-webkit-scrollbar {
					width: 6px;
					background-color: rgba(#999, 0.9);
				}

				*::-webkit-scrollbar-thumb {
					background-color: $color-primary-blue;
				}
			}

			&--full {
				flex-grow: 1;

				& ~ .bottom-links {
					margin-top: 10px;
				}
			}
		}

		&__title {
			margin-bottom: 20px;
      font-family: $apercu-bold-font;
			font-size: 30px;
			font-weight: 400;
			line-height: 1.2;
			color: $color-primary-blue;
			text-align: center;
		}

		&__subTitle {
			margin-bottom: 30px;
			color: $color-primary-blue;
			line-height: 1.43;
			text-align: center;

			p {
				margin-bottom: 0;
			}

			a {
				font-weight: $regular;
				color: $color-primary-blue;
				text-decoration: underline;
			}
		}

		&-footer {
			flex: 0 0 auto;
			max-width: 358px;
			margin: 0 auto;
			text-align: center;
		}
	}

	&-btn-under-text {
		font-size: 14px;
		color: $color-primary-blue;
		line-height: 1.43;
		text-align: center;
	}

	.has-error .form-control {
		border: solid 1px #d90000;
		background-color: #ffffff;
		box-shadow: none;
		&:focus {
			border: solid 1px #d90000;
			background-color: #ffffff;
			box-shadow: none;
		}
	}
	.with-errors {
		font-size: 12px;
		margin-top: 10px;
	}
}

.group-forgot-password {
	margin-bottom: 10px;
	button {
		margin-bottom: 10px;
	}
}

.control-under-text {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 400;
}