.profile {
	margin-bottom: 20px;
}

.profile__header {
	background-color: #d6eeff;
	font-size: $base-font-size;
	font-weight: 600;
	padding: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #000;
	border: 1px solid #a2c3ff;
}

.profile__row {
	border: 1px solid $color-gray-border;
	border-top: 0;
	padding: 16px 15px;

	@include min-screen($screen-sm-min) {
		padding: 20px;
	}

	&:nth-of-type(odd) {
		background-color: #f5f8fa; }

	&:last-of-type {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	&.form-group {
		margin: 0;
	}

	.profile__submit {
		display: none
	}
}

.profile__label {
	display: block;
	width: 130px;
	font-weight: 600;
	color: #000000;
	vertical-align: top;
	margin-bottom: 0;

	@include min-screen($screen-sm-min) {
		display: inline-block;
	}

}

.profile__input {
	display: inline-block;
	color: #546785;
	font-weight: 600;

	@include min-screen($screen-sm-min) {
		margin: -10px 0;
	}

	.help-block {
		margin: 0;

		ul { margin: 5px 0 0; }
	}

	label {
		display: none;
		margin-bottom: 5px;
		font-weight: 600;
	}

	input:not([type=radio]) {
		color: #546785;
		display: inline-block;
		border: 1px solid $color-feather;
		border-radius: 5px;
		background-color: white;
		width: 220px;
		padding: 9px 10px;
		outline: none;

		&:disabled {
			background: transparent;
			border: none;
			margin: 0;
			padding: 0;
			color: #546785;
			-webkit-text-fill-color: rgba(#546785, 1);
			opacity: 1;

			@include min-screen($screen-sm-min) {
				padding: 9px 0;
			}
		}

		&.input-areacode {
			width: 55px;
		}
	}

	.checkbox {
		display: block;
		overflow: hidden;
		margin: 0;

		@include min-screen($screen-sm-min) {
			overflow: initial;
			display: inline-block;
			vertical-align: middle;
		}

		input {
			display: none;
			margin: 0;
			outline: none;
		}

		input:checked + label {
			display: inline-block;
			vertical-align: middle;
		}

		label {
			margin: 0;
			padding: 0;
		}
	}
}

.profile__placeholder {
	display: inline-block;
}

// Special case with phone who has two inputs but only one "placeholder/label" when not active.
.profile__input.profile__input--phone {
	input { display: none; }
}

.profile__input.profile__input--account {
	.profile__multiple-input {
		margin-right: 20px;
		display: inline-block;

		&:nth-of-type(2) {
			display: inline-block;
		}

		.input-clearing { width: 50px; }

		.input-account { width: auto; }
	}
}

.profile__multiple-input {
	margin-right: 20px;

	&:nth-of-type(2),
	&:nth-of-type(3) {
		display: none;
	}
}

.profile__actions {
	position: absolute;
	right: 20px;
	top: 0;
	height: 100%;
	display: flex;

	@include min-screen($screen-sm-min) {
		position: relative;
		display: inline-block;
		float: right;
		padding-right: 20px;
		top: 0;
		right: 0;
		height: auto;
	}

	.btn-link {
		padding: 0;
		color: #546785;
		font-weight: 600;
		font-size: $size-small;
		line-height: 24px;
	}

	.profile__submit {
		color: $color-light-blue;
	}
}

// Styles when a edit is active.
.profile__row--active {

	.profile__placeholder {
		display: none;
	}

	.profile__input.profile__input--phone {
		input { display: inline-block; }
	}

	&.has-error {
		input:not([type=radio]) {
			border-color: rgba($color-complement-lava, 0.3);
		}
	}

	.btn-link { display: none; }

	.profile__submit { display: inline-block; }

	.profile__input input {
		@include placeholder-styles {
			color: transparent;
		}
	}

	.profile__input .checkbox {
		padding: 10px 0;
		margin: 0;

		& + .checkbox {
			padding-bottom: 0;
		}

		@include min-screen($screen-sm-min) {
			padding: 0;
			margin: 0 15px 0 0;
		}

		label {
			display: inline-block;
			vertical-align: sub;
		}

		input {
			display: block;
			float: left;
			margin-right: 10px;
		}
	}

	.profile__input label {
		display: block;
		vertical-align: super;
	}

	.profile__multiple-input {
		display: inline-block;
		margin-bottom: 10px;

		@include min-screen($screen-sm-min) {
			margin-bottom: 0;
			padding: 10px 0;
		}

		&:last-of-type { margin-bottom: 0; }

		&:nth-of-type(2),
		&:nth-of-type(3) { display: inline-block; }
	}

	.profile__input.profile__input--account {
		.profile__multiple-input .input-clearing {
			width: 75px;
		}
	}

	.profile__actions {
		top: 16px;
		display: block;

		@include min-screen($screen-sm-min) {
			top: 0;
			display: inline-block;
		}
	}
}
