.product-info {
	padding: 20px $padding-medium;

	@include min-screen($screen-sm) {
		padding-top: 40px; // Don't collide with the H1
		padding-right: 30px;
		padding-left: 30px;
	}

	&__header {
		//@include min-screen($screen-tiny) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		//}
	}

	&__title {
		margin-top: 0;
	}

	&__logo {
		max-width: 100px;
		margin-left: 10px;

		@include min-screen($screen-tiny) {
			max-width: 150px;
		}
	}

	&__meta {
		margin-bottom: $margin-default;
	}

	&__meta-item {
		display: inline-block;
		vertical-align: middle;
		font-size: 1rem;
		font-style: italic;

		&:not(:first-child) {
			margin-left: 5px;
		}
	}

	&__label {
		padding: 8px 12px;
		font-family: $base-heading-family;
		font-size: 12px;
		font-style: normal;
		color: $color-white;
		line-height: 1;
	}

	&__text-btn {
		padding: 0;
		border: 0;
		background: none;
		font-size: 1rem;
		text-decoration: underline;
		color: $color-blue;

		&.js-is-active {
			display: none;
		}
	}

	&__details:not(.js-is-visible) {
		display: none;
	}
}

.product-order {
	margin-top: $padding-medium * 2;
}