.product-order {
	margin-top: $padding-medium * 2;
	text-align: center;

	@media (max-width: $screen-xs) {
		text-align: left;
	}

	&__item {
		margin-bottom: $margin-small;

		&:last-child {
			margin-top: $margin-small;

			@include min-screen($screen-xs) {
				margin-top: $margin-default;
			}
		}

		.btn {
			@include max-screen($screen-xs) {
				width: 100%;
			}
		}
	}

	&__item-small {
		@media (max-width: $screen-xs) {
			display: inline-block;
			width: 32%;

			&:nth-child(2n) {
				width: 66%;
				text-align: right;

				span {
					display: block;
				}
			}
		}
	}

	&__label {
		font-size: .75rem;
		text-transform: uppercase;
		color: $color-gray;
		display: block;
	}

	&__value {
		@extend .heading;
		font-size: 1.5rem;
	}

	&__status {
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 5px;
			border-radius: 50%;
			background-color: $color-green;
		}

		&--few:before {
			background-color: $color-orange;
		}

		&--none:before {
			background-color: $color-red;
		}
	}

	&__row {
		display: flex;
		justify-content: center;
	}

	&__btn-wrapper--split {
		&:first-child {
			 > [class*="__btn"] {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&:last-child {
			> [class*="__btn"] {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&__btn {
		padding: 18px 25px;
		line-height: 1;

		@include min-screen($screen-tiny) {
			padding-right: 60px;
			padding-left: 60px;
		}

		&--small {
			padding-right: 25px;
			padding-left: 25px;
		}
	}
}