.product-dreamlist {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $color-border;

	&__title {
		margin-top: 0;
	}

	&__progress-wrapper {
		position: relative;
		padding-top: $padding-default;

		@include min-screen($screen-md) {
			padding-top: 30px;
		}
	}

	&__tooltip {
		position: absolute;
		top: -10px;
		left: 0;
		height: 24px;
		padding: 6px 12px;
		border-radius: 2em;
		background-color: $color-green;
		font-size: $size-smallest;
		color: $color-white;
		line-height: 1;
		white-space: nowrap;

		@include min-screen($screen-md) {
			top: 0;
		}
	}

	&__tooltip-arrow {
		position: absolute;
		top: 14px;
		left: 20px;
		width: 0;
		height: 0;
		border-top: 5px solid $color-green;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		transform: translateX(-50%);

		@include min-screen($screen-md) {
			top: 24px; // Height of tooltip
		}
	}

	&__progress {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 36px;
		padding: 0;
		border: 0;
		background: $color-green url('../img/background/stripes.png');
		transition: background-color $duration-quick $delay-none $ease-in-out;

		&--rounded {
			border-radius: 2em;
		}

		&:focus {
			outline: 0;
		}

		&:hover {
			background-color: $color-green-light;

			.product-dreamlist__current {
				background-color: $color-green-light;

				&:after {
					border-bottom-color: $color-green-light;
				}
			}
		}

		&[disabled] {
			&,
			.product-dreamlist__current {
				background: $color-gravel;
			}

			.product-dreamlist__dream-button {
				display: none;
			}
		}
	}

	&__current {
		display: block;
		position: relative;
		height: inherit;
		background: $color-green;
		filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, .4));
		transition: background $duration-quick $delay-none $ease-in-out;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			width: 0;
			height: 0;
			border-bottom: 36px solid $color-green;
			border-right: 10px solid transparent;
			transition: border-color $duration-quick $delay-none $ease-in-out;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
		font-weight: $extrabold;
		color: $color-white;
		white-space: nowrap;

		/* Avoid collision with icon */
		@media (min-width: $screen-md) and (max-width: $screen-lg) {
			padding-left: 20px;
		}
	}

	&__dream-button {
		position: absolute;
		top: 9px;
		left: 15px;
		z-index: 1;

		.icon {
			font-size: $size-medium;
			color: $color-white;
		}
	}
}

.starred {
	.icon {
		color: $color-white;

		&:before {
			content: "\e920";
		}
	}
}