.product-info {
	padding: $padding-small $padding-medium;

	@include min-screen($screen-sm) {
		padding-right: $padding-medium * 2;
		padding-left: $padding-medium * 2;
	}

	@include min-screen($screen-md) {
		padding-top: $padding-default * 2; // Don't collide with the H1
		padding-right: $padding-default;
	}

	&__title {
		margin-top: 0;
	}

	&__logo {
		float: right;
		max-width: 80px;
		max-height: 80px;
		margin-left: $margin-small;

		@include min-screen($screen-xs) {
			max-width: 150px;
			max-height: 150px;
		}
	}

	&__meta {
		margin-bottom: $margin-small;

		@include min-screen($screen-sm) {
			margin-bottom: $margin-default;
		}
	}

	&__meta-item {
		display: inline-block;
		vertical-align: middle;
		font-size: 1rem;
		font-style: italic;

		&:not(:first-child) {
			margin-left: 5px;
		}
	}

	&__label {
		padding: 8px 12px;
		font-family: $base-heading-family;
		font-size: $size-smallest;
		font-style: normal;
		color: $color-white;
		line-height: 1;
	}

	&__winning-nr {
		font-style: italic;
		text-transform: uppercase;
	}

	&__text-btn {
		padding: 0;
		border: 0;
		background: none;
		font-size: 1rem;
		text-decoration: underline;
		color: $color-blue;

		&.js-is-active {
			display: none;
		}
	}

	&__details {
		&:not(.js-is-visible) {
			display: none;
		}

		ul {
			padding-left: 1rem;
		}
	}
}