/* General responsive table styling */
.responsive-table {
	th {
		white-space: nowrap;
	}

	td {
		font-weight: $bold;
		color: $color-blueberry;

		&.highlight {
			color: $color-green;
		}
	}
}

/* Narrow screens */
@include max-screen($screen-xs-max) {
	.responsive-table {
		&,
		thead,
		tbody,
		th,
		td {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tbody {
			tr {
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid $color-gray-border;
				border-right: 1px solid $color-gray-border;
				border-left: 1px solid $color-gray-border;

				&:nth-of-type(even) {
					background-color: $color-dark-white;
				}

				&:last-child {
					border-bottom-left-radius: .4em;
					border-bottom-right-radius: .4em;
				}
			}
		}

		td {
			width: 50%;
			padding: $padding-medium;

			&:nth-child(2n) {
				text-align: right;
			}

			&:before {
				content: attr(data-header);
				display: block;
				font-weight: $bold;
				color: $color-base-primary;
			}
		}
	}
}

/* Large screens */
@include min-screen($screen-sm) {
	.responsive-table {
		width: 100%;
		border-collapse: separate;
		border-bottom-right-radius: .4em;
		border-bottom-left-radius: .4em;

		th:last-child,
		td:last-child {
			width: auto;
			text-align: right;
		}

		thead {
			th {
				padding: $padding-default;
				border-top: 1px solid #a2c3ff;
				border-bottom: 1px solid #a2c3ff;
				background-color: #d6eeff;
				font-size: 16px;
				font-weight: $bold;

				&:first-child {
					border-top-left-radius: .4em;
					border-left: 1px solid #a2c3ff;
				}

				&:last-child {
					border-top-right-radius: .4em;
					border-right: 1px solid #a2c3ff;
				}
			}
		}

		tbody {
			td {
				width: 1px;
				white-space: nowrap;
				padding: $padding-default;
				border-bottom: 1px solid $color-gray-border;

				&:first-child {
					border-left: 1px solid $color-gray-border;
				}

				&:last-child {
					border-right: 1px solid $color-gray-border;
				}
			}

			tr:nth-of-type(even):not(.invoice-history-dropdown) {
				background-color: #f5f8fa;
			}

			tr:last-child {
				border-bottom-left-radius: .4em;
				border-bottom-right-radius: .4em;

				td {
					&:first-child {
						//border-bottom-left-radius: .4em;
					}

					&:last-child {
						//border-bottom-right-radius: .4em;
					}
				}
			}
		}
	}

	.responsive-table--auto-td {
		tbody {
			td {
				width: auto;
			}
		}
	}
}

.responsive-table-filter {
	margin-bottom: 20px;

	label {
		color: $color-base-complement;
		display: inline-block;
		font-size: 18px;
		font-weight: $semibold;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.form-control {
		display: inline-block;
		float: right;
		max-width: 50%;

		@include min-screen($screen-sm-min) {
			width: auto;
			float: none;
		}
	}
}