.table-title {
	margin-bottom: 0;
	padding: $padding-medium;
	border: 1px solid #a2c3ff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #d6eeff;
	font-size: 16px;
	font-weight: $bold;
	color: $color-base-primary;

	@include min-screen($screen-sm) {
		display: none;
	}
}

.responsive-table {
	td {
		font-weight: $bold;
		color: $color-blueberry;

		&.highlight {
			color: $color-green;
		}
	}
}

/* Narrow screens */
@include max-screen($screen-xs-max) {
	.responsive-table {
		&,
		thead,
		tbody,
		th,
		td {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tbody {
			tr {
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid $color-gray-border;
				border-right: 1px solid $color-gray-border;
				border-left: 1px solid $color-gray-border;

				&:nth-of-type(even) {
					background-color: $color-dark-white;
				}

				&:last-child {
					border-bottom-left-radius: .4em;
					border-bottom-right-radius: .4em;
				}
			}
		}

		td {
			width: 50%;
			padding: $padding-medium;

			&:nth-child(2n) {
				text-align: right;
			}

			&:before {
				content: attr(data-header);
				display: block;
				font-weight: $bold;
				color: $color-base-primary;
			}
		}
	}
}

/* Large screens */
@include min-screen($screen-sm) {
	.responsive-table {
		width: 100%;
		border-collapse: separate;
		border-bottom-right-radius: .4em;
		border-bottom-left-radius: .4em;

		th:last-child,
		td:last-child {
			width: auto;
			text-align: right;
		}

		thead {
			th {
				padding: $padding-medium $padding-default;
				border-top: 1px solid #a2c3ff;
				border-bottom: 1px solid #a2c3ff;
				background-color: #d6eeff;
				font-size: 16px;
				font-weight: $bold;

				&:first-child {
					border-top-left-radius: .4em;
					border-left: 1px solid #a2c3ff;
				}

				&:last-child {
					border-top-right-radius: .4em;
					border-right: 1px solid #a2c3ff;
				}
			}
		}

		tbody {
			td {
				width: 1px;
				white-space: nowrap;
				padding: $padding-medium $padding-default;
				border-bottom: 1px solid $color-gray-border;

				&:first-child {
					border-left: 1px solid $color-gray-border;
				}

				&:last-child {
					border-right: 1px solid $color-gray-border;
				}
			}

			tr:nth-of-type(even):not(.invoice-history-dropdown) {
				background-color: #f5f8fa;
			}

			tr:last-child {
				border-bottom-left-radius: .4em;
				border-bottom-right-radius: .4em;

				td {
					&:first-child {
						//border-bottom-left-radius: .4em;
					}

					&:last-child {
						//border-bottom-right-radius: .4em;
					}
				}
			}
		}
	}

	.responsive-table--auto-td {
		tbody {
			td {
				width: auto;
			}
		}
	}
}

.responsive-table-filter {
	margin-bottom: 20px;
	h3 {
		display: inline-block;
		margin-right: 15px;
	}

	.form-control {
		display: inline-block;
		float: right;
		max-width: 50%;

		@include min-screen($screen-sm-min) {
			width: auto;
			float: none;
		}

	}
	//display: flex;
	//align-items: center;
}

.responsive-table.responsive-table--has-dropdown {
	.invoice-history-dropdown { display: none; }

	tbody tr { background-color: #fff; }

	tr:nth-of-type(4n+1) {
		background-color: $color-dark-white;

		+ .invoice-history-dropdown {
			background-color: $color-dark-white;
		}
	}

	.invoice-history-dropdown {
		td {
			width: 100%;
			text-align: left;
			padding: 0 20px 15px;

			hr {
				margin-top: 0;
				margin-bottom: 15px;
			}
		}
	}

	@include max-screen($screen-xs-max) {
		.dropdown-open { border-bottom: 0; }

		.dropdown-open + .invoice-history-dropdown { display: block; }

		.invoice-history-dropdown {
			.invoice-history-dropdown__cell {
				padding: 5px 0;

				span {
					color: $color-base-primary;
				}
			}
		}

	}

	@include min-screen($screen-sm-min) {
		.dropdown-open td {
			border-bottom: 0;
		}

		.dropdown-open + .invoice-history-dropdown {
			display: table-row;
		}

		.invoice-history-dropdown {
			.invoice-history-dropdown__wrapper {
				display: flex;
			}

			.invoice-history-dropdown__cell {
				text-align: center;
				flex: 1;

				&:first-of-type {
					text-align: left;
				}

				&:last-of-type {
					text-align: right;
				}
			}
		}
	}
}