/* General responsive table styling */
.responsive-table {
	th {
		white-space: nowrap;
	}

	td {
		font-weight: $bold;
		color: $color-blueberry;

		&.highlight {
			color: $color-green;
		}


		&.info {

			h4 {
				font-size: 24px;
			}

			h4,
			p {
				color: $color-space;
			}
		}
	}
}

/* Narrow screens */
@include max-screen($screen-xs-max) {
	.responsive-table {
		&,
		thead,
		tbody,
		th,
		td {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tbody {
			tr {
				display: flex;
				flex-wrap: wrap;
				/*
				border-bottom: 1px solid $color-gray-border;
				border-right: 1px solid $color-gray-border;
				border-left: 1px solid $color-gray-border;
				*/
				&:nth-of-type(even) {
					background-color: $color-dark-white;
				}

				&:last-child {
					border-bottom-left-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
				}
			}
		}

		td {
			width: 50%;
			padding: $padding-medium;

			&:nth-child(2n) {
				text-align: right;
			}

			&:before {
				content: attr(data-header);
				display: block;
				font-weight: $bold;
				color: $color-base-primary;
			}

			&.table__order-second {
				order: 2;
				text-align: right;
			}

			&.table__order-last {
				order: 100; // Always last
				text-align: left;
			}

			&.info {
				width: 100%;
				text-align: left;
			}

			&.action {
				width: 100%;
				text-align: center;
			}
		}
	}
}

/* Large screens */
@include min-screen($screen-sm) {
	.responsive-table {
		width: 100%;
		border-collapse: separate;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;

		th:last-child,
		td:last-child {
			width: auto;
			text-align: right;
		}

		thead {
			th {
				padding: $padding-default;
				background-color: $color-secondary-light;
				font-size: $base-font-size;
				font-weight: $bold;

				&:first-child {
					border-top-left-radius: $border-radius;
				}

				&:last-child {
					border-top-right-radius: $border-radius;
				}
			}
		}

		tbody {
			td {
				white-space: nowrap;
				padding: $padding-default;

				img {
					float: left;
					margin-right: 20px;
					max-width: 120px;
				}

				h4 {
					white-space: normal;
				}

				p {
					white-space: normal;
					width: 90%;
				}
			}

			tr:nth-of-type(even):not(.invoice-history-dropdown) {
				background-color: $color-grey-light;
			}

			tr:last-child {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}

	.responsive-table--auto-td {
		tbody {
			td {
				width: auto;
			}
		}
	}
}

.responsive-table-filter {
	margin-bottom: 20px;

	label {
		color: $color-base-complement;
		display: inline-block;
		font-size: $size-medium;
		font-weight: $semibold;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.form-control {
		display: inline-block;
		float: right;
		max-width: 50%;

		@include min-screen($screen-sm-min) {
			width: auto;
			float: none;
		}
	}
}