.user {
	overflow: auto;
	zoom: 1;

	> * {
		font-size: 12px;
		line-height: 18px;
		display: block;

		> * {
			vertical-align: middle;
			display: inline-block;
		}
	}

	.user__info {
		float: left;

		.icon {
			margin-right: $margin-small;
		}
	}

	.user__amount {
		float: right;

		span {
			display: block;
			margin-top: 3px;
		}
	}
}
