.w-100 {
	width: 100%;
}

.form-group.responsive-table-filter.ag-tab .table-select + .select2 {
	min-width: 100%;
}

.form-group.responsive-table-filter.ag-tab label {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
}

.ag__sform form {
	padding: 40px 20px 30px;
	background: #CEDFD7;
	width: 100%;
	max-width: 330px;
	height: auto;
}

.form_label {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #003E52;
	width: 100%;
	margin-bottom: 5px;
}

.ag__success {
	padding: 40px 20px 30px;
	background: #CEDFD7;
	width: 100%;
	max-width: 330px;
	height: auto;
	min-height: 294px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ag__check {
	padding: 20px;
	background: #003E52;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.ag__check_imag {
	width: calc(50% - 20px);
	margin-right: 20px;
}

.ag__check_form {
	width: calc(50% - 20px);
	margin-left: 20px;
}

.ag__check_imag-head h4 {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #fff;
}

.ag__sform_head h5 {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.ag__check_imag-text {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #fff;
}

.ag__sform_text p {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.ag__sform_text p a {
	color: #FFFFFF;
}

.ag__check_imag-imag {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-valid {
	border: 1px solid #D90000;
}

.text-not-valid {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #D90000;
}

.ag-tab-text {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
}

.ag-tab-text a {
	color: #FFFFFF;
	font-weight: bold;
}

.btn-ag {
	width: 100%;
	height: 38px;
	border: none;
	border-radius: 38px;
	background-color: #CC5599;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-ag img {
	margin-top: 5px;
}

@media (max-width: 575px) {
	.ag__sform {
		display: flex;
		justify-content: center;
	}
	.ag__sform form {
		max-width: 100%;
	}
	.ag__success {
		max-width: 100%;
		margin: 0 auto;
	}
	.ag__check {
		flex-direction: column;
	}
	.ag__check_imag {
		width: 100%;
		margin-right: 0;
	}
	.ag__check_form {
		width: 100%;
		margin-left: 0;
	}
}

.ag-multi-head {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 5px;
}

.ag-multi-text {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 20px;
}


/* Style the input fields */
.ag-col.col-cvv input.form-control,
.ag-col.col-num input.form-control {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	border: 1px solid #CECECE;
	background: #E8F0FE;
}


.ag-col.col-cvv input.form-control:focus {
	border: 1px solid #CC5599;
	background: #fff;
}

/* Mark input boxes that gets an error on validation: */
.ag-col.col-cvv input.form-control.invalid,
.ag-col.col-num input.form-control.invalid {
	border: 1px solid #FFCE00;
}

#prevBtnAG {
	display: none !important;
}

/* Hide all steps by default: */
.tab {
	display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

/* Mark the active step: */
.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #4CAF50;
}

.ag-form-row {
	display: flex;
	align-items: flex-end;
}

.col-ag-reset {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

button.ag-reset {
	padding: 0;
	margin-right: 9px;
	border: none;
	background: transparent;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;

	color: #FFFFFF;
}

label.ag-label {
	padding: 0;
	margin-right: 9px;
	border: none;
	background: transparent;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.ag-col.col-cvv {
	width: 100%;
	max-width: 70px;
	margin-right: 10px;
	position: relative;
}

.form-text.text-muted {
	position: absolute;
	bottom: -20px;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
	color: #FFCE00;
	opacity: 0;
}

.form-control.invalid + .form-text.text-muted {
	opacity: 1;
}

.ag-col.col-num {
	width: 100%;
}

.ag-col.invalid-text {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFCE00;
	margin: 36px 0 23px;
	opacity: 0;
}

.ag-col.invalid-text.visible {
	opacity: 1;
}

.ag-form-submit-text {
	font-family: "Proxima Nova", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.ag-form-submit-text a {
	font-family: "Proxima Nova", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
}

.ag-multi-head2 {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.ag-multi-textag-multi-text2 {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.ag-form-submit-btn .btn-wide.disabled {
	background-color: #ECC5DE;
	border: 2px solid #ECC5DE;
	color: #ffffff;
	opacity: 1;
}

.contain-form-checkbox{
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-checkbox {
	height: 60px;
	display: flex;
	align-items: center;
	border-top: 0.5px solid #fff;
	border-bottom: 0.5px solid #fff;
	margin-bottom: -1px;
}

/* для элемента input c type="checkbox" */
.form_input_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* для элемента label, связанного с .form_input_checkbox */
.form_input_checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.form_input_checkbox + label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #CECECE;
	margin-right: 11px;
	background-repeat: no-repeat;
	background-position: center center;
	//background-size: 50% 50%;
	background-color: #FFFFFF;
}

label.form_label_checkbox {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	margin-left: 0;
	margin-bottom: 0;
}

/* стили при наведении курсора на checkbox */
.form_input_checkbox:not(:disabled):not(:checked) + label:hover::before {
	border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.form_input_checkbox:not(:disabled):active + label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

///* стили для чекбокса, находящегося в фокусе */
//.form_input_checkbox:focus+label::before {
//	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.form_input_checkbox:focus:not(:checked) + label::before {
	border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.form_input_checkbox:checked + label::before {
	border-color: #CC5599;
	background-color: #ffffff;
	background-image: url("../img/icons/circle-oval.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.form_input_checkbox:disabled + label::before {
	background-color: #e9ecef;
}


.btn-success.disabled:hover {
	background-color: #ECC5DE;
}

.mt-70{
	margin-top: 70px;
}

.ag__sform_get_home a {

	display: flex;
	align-items: center;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}

.ag__sform_get_home a svg {
	margin-right: 10px;
}

.form-checkbox.not-line {
	border-top: none;
	border-bottom: none;
	height: auto;
	margin-top: 31px;
	margin-bottom: 21px;
}

.form-group {
	position: relative;
}
.form-group.responsive-table-filter.ag-tab .form-text.text-muted {
	position: absolute;
	bottom: -20px;
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
	color: #FFCE00;
	opacity: 1;
	left: 0;
}