.article-list-blocks {
	.row {
		[class*='col-'] {
			&:last-of-type {
				.block-article {
					border-bottom: none;
				}
			}
		}
	}

	a {
		color: $color-dark;
	}
}

.block-article {
	padding-bottom: $padding-default;
	margin-bottom: $padding-default;
	border-bottom: 1px solid $color-border;
}

.block-article__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 100%;

	@include min-screen($screen-xs-min) {
		padding-bottom: 80%;
	}
}

.block-article__content {
	margin-left: -5px;
	padding: 0;

	@include min-screen($screen-xs-min) {
		margin-left: 0;
		padding: $padding-default $padding-default $padding-default 0;
	}
}

.block-article__title,
.block-article__entry {
	@include max-screen($screen-xs-max) {
		overflow: hidden;
		position: relative;
	}

	&:after {
		@include max-screen($screen-xs-max) {
			content: "";
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40%;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		}
	}
}

.block-article__title {
	margin: 0;

	@include max-screen($screen-xs-max) {
		font-size: 18px;
		line-height: 24px;
		height: 50px;
	}

	&:after {
		@include max-screen($screen-xs-max) {
			height: 25px;
		}
	}
}

.block-article__entry {
	margin: $margin-small 0 0 0;
	height: 40px;

	@include min-screen($screen-xs-min) {
		height: auto;
		margin: $padding-default 0 0 0;
	}

	&:after {
		@include max-screen($screen-xs-max) {
			height: 20px;
		}
	}
}

.block-article__button {
	margin: $margin-medium 0 0 0;
	width: auto;
	display: inline-block;
	max-width: none;

	@include min-screen($screen-xs-min) {
		max-width: 200px;
	}
}
