//$bingo-spacing: 15px;

.bingo-tabs {
    background-color: $color-blue-deep;
    display: flex;
    margin-bottom: $margin-small;
    flex-direction: column;

    &__top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .title {
        @extend .heading;
        flex: 1 1 auto;
        font-size: 20px;
        line-height: 1.2;
        color: $color-snow;
        align-self: flex-start;
        margin: 10px 0 10px 10px;
    }

    .nav-tabs {
        border-bottom: 0;
        margin: 0 5px 0 auto;
        align-self: flex-end;
        display: flex;

        & > li {
            position: relative;
            margin: 0 6px;
            margin-bottom: 0;
            min-width: 58px;
            text-align: center;

            &.active {                
                a {
                    background-color: $color-blue;
                    color: $color-snow;
                    border: none;
                    
                    &:before,
                    &:after {
                        border-bottom-color: $color-blue;
                    }
                }   
            }
    
            &:hover {
                a {
                    border: 0 !important;
                    background-color: $color-blue !important;
                    color: $color-snow !important;
                    
                    &:before,
                    &:after {
                        border-bottom-color: $color-blue;
                    }
                }
            }
    
            & > a {
                @extend .heading;
                color: $color-snow;
                border: none;
                margin-right: 0;
                padding: 8px 15px;
                font-weight: 800;
                font-size: 20px;
                line-height: 1;
                background-color: $color-blue-dark;

                &:focus,
                &:hover {
                    border: 0 !important;
                    background-color: $color-blue !important;
                    color: $color-snow !important;
                }

                &:after {
                    content: '';
                    top: 0;
                    right: -5px;
                    position: absolute;
                    border-left: 0px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 36px solid $color-blue-dark;
                }
        
                &:before {
                    content: '';
                    top: 0;
                    left: -5px;
                    position: absolute;
                    border-left: 5px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 36px solid $color-blue-dark;
                }
            }
        }
    }

    

    .tab-content {
        padding: $padding-small;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        display: flex;
        flex-wrap: nowrap;
    }

    .tab-pane {
        flex: 0 0 100%;
        &.active {
            display: flex;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    &__price {
        position: relative;
        padding-bottom: $padding-small;
        width: 33.3%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 0 0 33.3%;
        
        img {
            margin-top: 5px;
        }

        &-cost {
            display: flex;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $color-snow;
            align-items: center;
            justify-content: center;
            left: 50%;
            margin-top: -15px;
            font-size: 15px;
            font-weight: 700;
            margin: -15px auto 0;
        }
    }

    &__info {
        flex: 0 0 66%;
        width: 66%;

        &-holder {
            padding: 0 0 0 15px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }

        &__starts {
            flex: 1 0 50%;
        }

        &__players {
            flex: 0 0 50%;
        }

        &__jackpot {
            margin-top: 10px;
            flex: 0 0 100%;

            strong {
                font-size: 24px;
            }
        }

    &__label {
        color: $color-snow;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
    }

    strong {
        @extend .heading;
        color: $color-snow;
    }

    &__cta {
        margin-top: $padding-small;
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include min-screen($screen-sm-min) {

        &__info {
            width: 66.6%;
            padding-left: 0;
            flex: 0 0 66.6%;
        }

        &__cta {
            align-items: flex-end;
        }
        
    }
    
    @include min-screen($screen-sm-min) {
        margin-bottom: $margin-default;

        .tab-content {
            padding: $padding-default;
            flex-grow: 1;
            height: 100%;
        }

        &__cta {
            margin-top: $padding-default;
        }


        &__price {
            padding-bottom: 0;
        }
    }
}