.block-faq {
	padding: 70px 0 30px;

	&__title {
		display: flex;
		justify-content: center;
		margin-top: calc(-51px - 16px);

		@media screen and (max-width: 820px) {
			margin-top: calc(-43px - 8px);
		}

		img {
			@media screen and (max-width: 820px) {
				width: 190px;
				height: auto;
			}
		}
	}

	&__content {
		background: rgba(71, 161, 182, 0.7);
		border-radius: 16px;

		padding: 16px;

		@media screen and (max-width: 600px) {
			padding: 8px;
		}
	}

	&__accordeon {
		display: flex;
		position: relative;
		border-radius: 8px;
		overflow: hidden;
		margin-top: 14px;

		@media screen and (max-width: 820px) {
			margin-top: 10px;
		}
	}

	&__panel {
		padding: 25px;
		padding-top: 5px;


		@media screen and (min-width: 820px) {
			display: none !important;
		}

		@media screen and (max-width: 820px) {
			background-color: #fff;
			.title {
				display: none;
			}
		}

		@media screen and (max-width: 600px) {
			padding: 14px;
		}

		&+.block-faq__btn.active {
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			@media screen and (max-width: 820px) {
				border-top: 1px solid #7EBDCC;
				//border-bottom-right-radius: 8px;
			}
		}
	}

	&__btn {
		width: 100%;
		background: #F2F5F7;
		border-width: 0px 2px 1px 0px;
		border-style: solid;
		border-color: #7EBDCC;
		color: #074658;
		font-weight: 700;
		font-size: 16px;
		font-family: $apercu;
		font-weight: 700;
		text-align: left;
		padding: 14px 37px 14px 17px;
		position: relative;
		line-height: 120%;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;

		@media screen and (max-width:820px) {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px; 
		}

		&:first-of-type {
			border-radius: 8px 8px 0px 8px;

			@media screen and (max-width: 820px) {
				border-radius: 8px 8px 0 0;
			}
		}

		&:last-of-type {
			border-width: 0px 2px 0px 0px;
			border-radius:  8px 0 8px 8px;

			@media screen and (max-width: 820px) {
				border-width: 2px 0px 0px 0px;
				border-radius: 0 0 8px 8px;
			}
		}

		@media screen and (max-width: 820px) {
			padding-left: 25px;
			border-width: 2px 0px 0px 0px;
		}

		@media screen and (max-width: 600px) {
			padding-left: 14px;

		}

		&.active {
			color: rgba(7, 70, 88, 0.5);
			background: #FFFFFF;
			border-color: #7EBDCC;
			border-right: none;
			cursor: default;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;

			@media screen and (max-width: 820px) {
				border: none;
				color: #074658;
				border-radius: 0;
			}

			&::after {
				display: none;

				@media screen and (max-width: 820px) {
					display: block;
					transform: rotate(-90deg);
				}
			}

			&+.block-faq__btn {
				border-width: 1px 0px 1px 0px;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px; 
	
			}
		}

		&::after {
			position: absolute;
			content: '';
			width: 12px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5385 9L2.95605 17.0244L0.764684 14.9756L7.1558 9L0.764684 3.02444L2.95605 0.97556L11.5385 9Z' fill='%23074658' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			top: 18px;
			right: 17px;

			@media screen and (max-width: 820px) {
				transform: rotate(90deg);
			}
		}
	}

	&__box {
		width: 50%;
		flex-shrink: 0;

		@media screen and (max-width: 820px) {
			width: 100%;
		}

		&-panel {
			padding: 40px;
			font-size: 16px;
			color: rgba(7, 70, 88, 0.7);
			background-color: #fff;
			border-radius: 8px;

			@media screen and (max-width: 820px) {
				display: none;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: #074658;
			}

			*:first-child {
				margin-top: 0;
			}

			*:last-child {
				margin-bottom: 0;
			}

			a {
				color: #074658;
			}
		}
	}
}