body {
	min-height: calc( 100vh - 35px);
	height: auto!important;
	display: flex;
	flex-direction: column;

	.page-front {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.content-wrapper_middle {
			margin: auto;

			.center-block {
				margin: 0;
			}
		}
	}
}

.center-block {
	padding: 40px 0;

	&_mt {
		margin-top: 20px;
	}

	&_mb {
		margin-bottom: 20px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn {
			margin-bottom: 30px;
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		a {
			font-size: 14px;
		}
	}

	&__header {
		text-align: center;
		margin-bottom: 30px;
		max-width: 790px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}

		h4 {
			margin-bottom: 13px;
			margin-top: 0;
		}

		svg, img {
			margin-bottom: 25px;
		}
	}

}

@media only screen and (max-width: $screen-sm) {
	.center-block__header {
		max-width: 355px;
	}

	.center-block {
		margin: 10px 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.center-block_mb {
		margin-bottom: 20px;
	}

	.center-block_mt {
		margin-top: 20px;
	}

	:root {
	   --app-height: 100%;
	}

	html {
		height: var(--app-height)!important;
	}

	body {
	   min-height: calc( var(--app-height) - 35px)!important;
	   height: calc( var(--app-height) - 35px)!important;
	}

	body .page-front .content-wrapper_middle .center-block {
	   margin: 10px 0;
	}
   }