.block-bottom-bar {
	padding: 30px 0 20px;
}

.block-bottom-bar__column {
	@include max-screen($screen-sm-max) {
		text-align: center;
		margin-bottom: $margin-default;
	}

	p {
		margin: 0;
	}

	img {
		display: block;
		max-height: 50px;
		height: 100%;
		width: auto;
	}
}
