.block-content {
	margin-bottom: 20px;

	@include min-screen($screen-sm-min) {
		margin-bottom: 40px;
	}
}

.block-content__content {
	p {
		overflow: visible;
		zoom: 1;
		margin-bottom: 20px;
	}

	a {
		position: relative;
		overflow: visible;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -1px;
			left: 0;
			background-color: #D4E9FE;
			transition: all $duration-medium ease-in-out $delay-none;
			visibility: visible;
			transform: scaleX(1);
		}

		&:hover {
			&:before {
				visibility: hidden;
				transform: scaleX(0);
			}
		}
	}
}
