.block-content {
	margin-bottom: 20px;

	@include min-screen($screen-sm-min) {
		margin-bottom: 40px;
	}

	&__btns {
		display: inline-block;
		vertical-align: middle;
		padding-bottom: $padding-small;

		@include max-screen($screen-xs) {
			padding-bottom: 0;
		}

		> .btn {
			@include max-screen($screen-xs) {
				margin-bottom: 10px;
			}
		}
	}

	&__link {
		font-weight: bold;

		&:not(:first-child) {
			margin-left: $padding-medium;
		}
	}
}

.block-content__content,
.block-promotion--text-rich .block-promotion__rich-text {
	h1,
	.h1 {
		font-size: 32px;
		line-height: 1.125;

		@include min-screen($screen-sm-min) {
			font-size: 64px;
			line-height: 1.0625;
		}
	}

	h2,
	.h2 {
		font-size: 28px;
		line-height: 1.1428;

		@include min-screen($screen-sm-min) {
			font-size: 40px;
			line-height: 1.1;
		}
	}

	h3,
	.h3 {
		font-size: 28px;
		line-height: 1.1428;

		@include min-screen($screen-sm-min) {
			font-size: 30px;
			line-height: 1.1333;
		}
	}

	h4,
	.h4 {
		font-size: 24px;
		line-height: 1.1667;
	}

	h5,
	.h5 {
		font-size: 18px;
		line-height: 1.2222;

		@include min-screen($screen-sm-min) {
			font-size: 20px;
			line-height: 1.2;
		}
	}

	h6,
	.h6 {
		font-size: 16px;
		line-height: 1.25;
	}


	p {
		overflow: visible;
		margin-bottom: 20px;
	}

	a:not(.btn) {
		position: relative;
		overflow: visible;
		font-weight: bold;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -1px;
			left: 0;
			background-color: #D4E9FE;
			transition: all $duration-medium ease-in-out $delay-none;
			visibility: visible;
			transform: scaleX(1);
		}

		&:hover {
			&:before {
				visibility: hidden;
				transform: scaleX(0);
			}
		}
	}

	blockquote {
		font-style: italic;
		padding: 10px 0;
		margin: 0 0 20px;
		border-left: none;
		font-size: 30px;
		line-height: $narrow-line-height;
		font-weight: $light;
	}

	.preamble {
		font-size: $size-medium;
		font-weight: $bold;
	}

	ul {
		li {
			margin-bottom: 5px;
		}
	}

	iframe {
		margin-bottom: $margin-medium;
		max-width: 100%;
	}
}


.block-title {
	&-wrap {
		&--center {
			text-align: center;
		}
	}

	&-marked {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto 40px;
		padding: 8px 30px;
		width: 355px;
		font-family: $apercu-bold-font;
		font-size: 20px;
		color: #ffffff;
		@media screen and (min-width: $screen-sm) {
			width: 364px;
			padding: 8px 59px;
		}
		@media screen and (min-width: $screen-md) {
			width: 447px;
		}
		&:before {
			content: '';
			position: absolute;
			left: -1px;
			top: 0;
			bottom: 0;
			display: inline-block;
			width: 10px;
			height: 100%;
			background-color: #fff;
			clip-path: polygon(0 0, 100% 47%, 0 100%);
		}
		&:after {
			content: '';
			position: absolute;
			right: -1px;
			top: 0;
			bottom: 0;
			display: inline-block;
			width: 10px;
			height: 100%;
			background-color: #fff;
			clip-path: polygon(100% 0, 0 50%, 100% 100%);
		}
		&--green {
			background-color: $color-green;
		}
		&--pink {
			background-color: $color-cta-dark;
		}
		&--blue {
			background-color: $color-primary-lighter;
		}
	}
}