.block-content {
	margin-bottom: 20px;

	@include min-screen($screen-sm-min) {
		margin-bottom: 40px;
	}

	&__btns {
		display: inline-block;
		vertical-align: middle;
		padding-bottom: $padding-small;

		@include max-screen($screen-xs) {
			padding-bottom: 0;
		}

		> .btn {
			@include max-screen($screen-xs) {
				margin-bottom: 10px;
			}
		}
	}

	&__link {
		font-weight: $extrabold;

		&:not(:first-child) {
			margin-left: $padding-medium;
		}
	}
}

.block-content__content,
.block-promotion--text-rich .block-promotion__rich-text {
	h2,
	.h2 {
		font-size: 30px;

		@include min-screen($screen-sm-min) {
			font-size: 65px;
			line-height: 1em;
		}
	}

	h3,
	.h3 {
		font-size: 25px;

		@include min-screen($screen-sm-min) {
			font-size: 36px;
		}
	}

	h4,
	.h4 {
		font-size: 36px;

		@include min-screen($screen-sm-min) {
			font-size: 48px;
		}
	}

	h5,
	.h5 {
		font-size: 28px;

		@include min-screen($screen-sm-min) {
			font-size: 30px;
		}
	}

	h6,
	.h6 {
		font-size: 20px;

		@include min-screen($screen-md-min) {
			font-size: 24px;
		}
	}

	h5,
	.h5 {
		font-size: 1rem;
	}

	p {
		overflow: visible;
		margin-bottom: 20px;
	}

	a:not(.btn) {
		position: relative;
		overflow: visible;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -1px;
			left: 0;
			background-color: #D4E9FE;
			transition: all $duration-medium ease-in-out $delay-none;
			visibility: visible;
			transform: scaleX(1);
		}

		&:hover {
			&:before {
				visibility: hidden;
				transform: scaleX(0);
			}
		}
	}

	blockquote {
		font-style: italic;
		padding: 10px 0;
		margin: 0 0 20px;
		border-left: none;
		font-size: 30px;
		line-height: $narrow-line-height;
		font-weight: $light;
	}

	.preamble {
		font-size: $size-medium;
		font-weight: $bold;
	}

	ul {
		li {
			margin-bottom: 5px;
		}
	}

	iframe {
		margin-bottom: $margin-medium;
		max-width: 100%;
	}
}
