.block-footer {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	background-color: $color-container-background;
	padding: $padding-medium 0;
	font-size: 13px;
	line-height: 24px;

	.block-footer__item {
		@include max-screen($screen-sm-min) {
			border-bottom: 1px solid $color-border;
		}
	}

	h5 {
		@include max-screen($screen-sm-min) {
			cursor: pointer;
			margin: 0;
			position: relative;
			padding: $padding-default 0;
			opacity: $opacity-1;
			transition: opacity $duration-fast $delay-none $ease-in-out;
		}

		&:after {
			@include max-screen($screen-sm-min) {
				font-family: "ml-icons";
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				content: '\e906';
				width: 10px;
				font-size: 12px;
				height: auto;
				position: absolute;
				color: $color-border;
				top: 50%;
				right: 0;
				margin: auto;
				transform: translate3d(-15px, -50%, 0) rotate(0deg);
				transition: color $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
			}
		}

		&:not(.collapsed) {
			@include max-screen($screen-sm-min) {
				&:after {
					transform: translate3d(-15px, -50%, 0) rotate(180deg);
					color: $color-complement-sky;
				}
			}
		}

		&.collapsed {
			@include max-screen($screen-sm-min) {
				border-bottom: 1px solid $color-border;
			}
		}


	}

	[class*='col-'] {
		&:last-of-type {
			h5 {
				&:last-of-type {
					@include max-screen($screen-sm-min) {
						border-bottom: none;
					}
				}
			}
			.block-footer__item {
				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}

	&.js-is-active {
		h5 {
			@include max-screen($screen-sm-min) {
				cursor: pointer;
				margin: 0;
				padding: $padding-default 0;
				opacity: $opacity-2;
			}

			&.collapsed {
				@include max-screen($screen-sm-min) {
					opacity: $opacity-3;
					border-bottom: 1px solid $color-border;
				}
			}
		}
	}

	p {
		margin-bottom: 35px;
	}

	a {
		color: $color-base-complement;
		font-weight: 500;

		&:hover {
			color: darken($color-base-complement, $color-darken-amount);
		}
	}

	.list-links {
		margin-bottom: 35px;
	}
}
