.block-footer {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	background-color: $color-container-background;
	padding: $padding-medium 0;
	font-weight: 200;
	font-size: 13px;
	line-height: 20px;

	h5 {
		font-size: 17px;
		line-height: 22px;
		word-break: break-word;
	}

	p { margin-bottom: 35px; }

	a {
		color: $color-base-complement;
		font-weight: 400;

		@include min-screen($screen-sm-min) {
			font-size: $base-font-size;
			line-height: 20px;
		}

		&:hover {
			color: darken($color-base-complement, $color-darken-amount);
		}
	}

	.block-footer__phone-link {
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		text-decoration: underline;

		@include min-screen($screen-sm-min) {
			font-size: 18px;
			line-height: 24px;
		}
	}

	.list-links {
		margin-bottom: 35px;

		.list-links__item {
			margin-bottom: 15px;
		}
	}

	.block-footer__bottom {
		border-top: 1px solid $color-border;
		padding: $padding-medium 0 0;
		font-weight: 200;
		font-size: 13px;
		line-height: 23px;

		.row {
			display: flex;
			align-items: center;
		}

		.list-links {
			margin-bottom: 0;

			.list-links__item {
				margin-bottom: 0;
				margin-right: 15px;
			}
		}
	}

	.block-footer__bottom-logos {
		a {
			max-height: 23px;
			margin-left: 15px;
			display: inline-block;

			&:first-of-type {
				margin-left: 0;
			}
		}

		img {
			width: 100%;
			display: block;
		}

		@include min-screen($screen-sm-min) {
			text-align: right;
		}
	}
}
