// New
.hero-full {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 2560px;
    min-height: 75vh;
    margin: 0 auto $margin-small;
    overflow: hidden;
    &--bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $color-blue-deep;
        background-repeat: no-repeat;
        background-size: cover;
        &.hero-bgp {
            @media screen and (max-width: $screen-xs-max){
                &-mobile {
                    &--left {
                        background-position: center left;
                    }
                    &--right {
                        background-position: center right;
                    }
                    &--center {
                        background-position: center center;
                    }
                }
            }
            @media screen and (min-width: $screen-sm){
                &-tablet {
                    &--left {
                        background-position: center left;
                    }
                    &--right {
                        background-position: center right;
                    }
                    &--center {
                        background-position: center center;
                    }
                }
            }
            @media screen and (min-width: $screen-md){
                &-desktop {
                    &--left {
                        background-position: center left;
                    }
                    &--right {
                        background-position: center right;
                    }
                    &--center {
                        background-position: center center;
                    }
                }
            }
        }
    }

    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        overflow: hidden;
    }

    &.hero-content {
        @media screen and (max-width: $screen-xs-max){
            &-mobile {
                &--left {
                    text-align: left;
                    .hero-full__content {
                        text-align: left;
                        margin-left: 0;
                        margin-right: auto;
                    }
                    .hero-full__overlay {
                        left: 0;
                        transform: translate(-10%, 0);
                    }
                }
                &--right {
                    text-align: right;
                    .hero-full__content {
                        text-align: right;
                        margin-left: auto;
                        margin-right: 0;
                    }
                    .hero-full__overlay {
                        right: 0;
                        transform: translate(15%, 0);
                    }
                }
                &--center {
                    text-align: center;
                    .hero-full__content {
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                    .hero-full__overlay {
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
        @media screen and (min-width: $screen-sm){
            &-tablet {
                &--left {
                    text-align: left;
                    .hero-full__content {
                        text-align: left;
                        margin-left: 0;
                        margin-right: auto;
                    }
                    .hero-full__overlay {
                        left: 0;
                        transform: translate(-10%, 0);
                    }
                }
                &--right {
                    text-align: right;
                    .hero-full__content {
                        text-align: right;
                        margin-right: 0;
                        margin-left: auto;
                    }
                    .hero-full__overlay {
                        right: 0;
                        transform: translate(15%, 0);
                    }
                }
                &--center {
                    text-align: center;
                    .hero-full__content {
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                    .hero-full__overlay {
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
        @media screen and (min-width: $screen-md){
            &-desktop {
                &--left {
                    text-align: left;
                    .hero-full__content {
                        text-align: left;
                        margin-left: 0;
                        margin-right: auto;
                    }
                    .hero-full__overlay {
                        left: 0;
                        transform: translate(-18%, 0);
                    }
                }
                &--right {
                    text-align: right;
                    .hero-full__content {
                        text-align: right;
                        margin-right: 0;
                        margin-left: auto;
                    }
                    .hero-full__overlay {
                        right: 0;
                        transform: translate(-15%, 0);
                    }
                }
                &--center {
                    text-align: center;
                    .hero-full__content {
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                    .hero-full__overlay {
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
        @media screen and (min-width: $screen-lg-min) {
            &-desktop {
                &--left {
                    .hero-full__overlay {
                        left: 0;
                        transform: translate(-20%, 0);
                    }
                }
                &--right {
                    .hero-full__overlay {
                        transform: translate(-10%, 0);
                    }
                }
            }
        }
    }

    &__content {
        max-width: 100%;
        padding: 0 20px;
        color: #fff;
        .block-hero__title {
            margin-bottom: 10px;
            font-size: 32px;
            line-height: 1.06;
        }
        .block-hero__text {
            font-size: 18px;
        }
        .btn {
            margin-top: 10px;
        }
    }

    &__holder {
        padding-top: 80px;
        padding-bottom: 30px;
        background-image: linear-gradient(180deg, rgba(46, 50, 55, 0.0001) 13.44%, rgba(26, 29, 32, 0.7) 47.91%, rgba(0, 0, 0, 0.9) 100%);
    }

    @include min-screen($screen-sm-min) {
        margin-bottom: 20px;
        .hero-content-desktop--right {
            .hero-full__content {
                margin-left: auto;
                margin-right: 40px;
            }
        }

        .hero-content-desktop--left {
            .hero-full__content {
                margin-left: 40px;
                margin-right: auto;
            }
        }

        &__holder {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 180px 0 60px;
            height: 100%;

            & > * {
                width: 100%;
            }
        }

        &__content {
            position: relative;
            max-width: 700px;

            .block-hero__title {
                //margin-bottom: 20px;
                font-family: $apercu-bold-font;
                font-size: 64px;
            }

            .block-hero__text {
                p {
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
        min-height: 70vh;
        justify-content: center;
        &__holder {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 180px 0 180px;
            height: 100%;
            background-image: none;
        }
        &__overlay {
            content: "";
            position: absolute;
            top: 0;
            width: 70%;
            max-width: 800px;
            height: 100%;
            background-image: radial-gradient(86.75% 90.75% at 49.24% 45%, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.25) 36.26%, rgba(0, 0, 0, 0.0001) 56%, rgba(0, 0, 0, 0) 100%),
            radial-gradient(71.73% 71.73% at 49.24% 63.46%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.15) 57.26%, rgba(0, 0, 0, 0.0001) 70%, rgba(0, 0, 0, 0) 100%);
            background-position: center, center;
        }
    }
}


// old
.hero-fullwidth {
    position: relative;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-small;

    &__background {
        height: 100%;
        width: 100vw;

        picture {
            img {
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right;
              }
        }
    }

    &__content {
        &-inner {
            color: $color-snow;
            background-color: $color-blue-deep;
            padding: $padding-default;

            .block-hero-reg__content {
                padding: 0;
                margin-left: 0;
            }
            
            &--space {
                background-color: $color-space;
                &:after {
                    background-color: $color-space;
                }
            }

            &--black {
                background-color: $color-black;
                &:after {
                    background-color: $color-black;
                }
            }

            &--white {
                background-color: $color-snow;
                color: $color-black;
                &:after {
                    background-color: $color-snow;
                }
            }

            &--blue {
                background-color: $color-blue;
                &:after {
                    background-color: $color-blue;
                }
            }
        }

        .block-hero-reg__container { 
            min-height: 0;
            padding: 10px;
        }

    }

    &__actions {
        margin-top: 10px;

        a {
            margin-top: 10px;
        }
    }

    &--transparent {
        .hero-fullwidth__content {
            &-inner {
                color: $color-snow;
                // background-color: rgba($color-blue-deep, .8);
                
                &:after {
                    background-color: rgba($color-blue-deep, .8);
                }

                &--space {
                   //  background-color: rgba($color-space, .8);
                    &:after {
                        background-color: rgba($color-space, .8);
                    }
                }
    
                &--black {
                   //  background-color: rgba($color-black, .8);
                    &:after {
                        background-color: rgba($color-black, .8);
                    }
                }
    
                &--white {
                    // background-color: rgba($color-snow, .8);
                    color: $color-black;
                    &:after {
                        background-color: rgba($color-snow, .8);
                    }
                }
    
                &--blue {
                    // background-color: rgba($color-blue, .8);
                    &:after {
                        background-color: rgba($color-blue, .8);
                    }
                }
            }
        }
    }

    @include min-screen($screen-sm-min) { 
        
        &__background {
            position: absolute;
            left: 0;
            top: 0;
        }

        &__holder {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 120px 0 240px;
            height: 100%;
            
            & > * {
                width: 100%;
            }
        }

        &__content {
            position: relative;

            &-inner {
                color: #fff;
                position: relative;
                z-index: 1;
                overflow: visible;
                background-color: transparent;
                margin-left: -20px;
                padding: 0 $padding-default;

                &:after {
                    content: "";
                    background-color: $color-blue-deep;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: skew(-5deg);
                    width: 100%;
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }

                &--space {
                    &:after {
                        background-color: $color-space;
                    }
                }
                &--black {
                    &:after {
                        background-color: $color-black;
                    }
                }
                &--white {
                    color: $color-black;
                    &:after {
                        background-color: $color-snow;
                    }
                }
                &--blue {
                    &:after {
                        background-color: $color-blue;
                    }
                }
                
            }

            .block-hero-reg__container {
                max-width: 700px;
                width: 100%;
                min-height: 320px;
                margin-left: auto;
                display: flex;
                align-items: center;

                .block-hero-reg__content {
                    width: auto;
                    max-width: auto;
                    padding: 20px;
                }
                
                .block-hero-reg__text {
                    p {
                        font-size: 16px;

                        @include min-screen($screen-md-min) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        & + .container {
            margin-top: -120px;
        }
    }

    @include min-screen($screen-md-min) {
        margin-bottom: 0;
        min-height: 70vh;

        &__holder {
            min-height: 70vh;
        }
    }

    @include min-screen($screen-lg-min) {
        &__content {
            &-inner {
                padding: 0;
            }
        }
    }


}