.block-hero-reg {
	background-color: $color-container-background;
	color: $color-black;
	display: flex;
	flex-direction: column;
	justify-content: left;
	height: 100%;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	z-index: 0;

	a {
		color: inherit;
		text-decoration: underline;
		&.btn {
			text-decoration: none;
		}
	}

	&--blue {
		color: $color-blue-deep;
	}

	&--white {
		color: $color-white;

		.block-hero-reg__title,
		.block-hero-reg__text {
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		}
	}

	.no-spacing {
		margin: 0;
		transition: font-size $duration-quick $ease-in-out;
	}
	&__container {
		position: relative;
		min-height: 320px;

		&.flex-middle {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			text-align: center;
			@include min-screen($screen-md-min) {
				flex-direction: row;
			}
		}
	}
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			font-family: 'object-fit: cover; object-position: center;';
		}
		&-desk {
			display: block;
		}
		&-mobile{
			display: block;
			@include min-screen($screen-md-min) {
				display: none;
			}
			& +.block-hero-reg__background-desk {
				display: none;
				@include min-screen($screen-md-min) {
					display: block;
				}
			}

		}

	}
	&__content {
		width: 100%;
		max-width: 500px;
		padding: 20px 15px;
		position: relative;
		top: auto;
		transform: translateY(0);
		z-index: 2;
		@include min-screen($screen-sm-min) {
			width: 90%;
			max-width: 700px;
		}
		@include min-screen($screen-md-min) {
			padding: 60px 15px;
			width: 55%;
			max-width: 720px;
		}
		.bank-form {
			margin-top: 50px;
		}

		.flex-middle & {
			@include min-screen($screen-md-min) {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__title {
		font-size: 24px;
		line-height: 30px;
		margin-top: 0;
		margin-bottom: $padding-small;

		@include min-screen($screen-sm-min) {
			font-size: 40px;
			line-height: 120%;
		}
	}

	&__subtitle {
		text-transform: uppercase;
		margin-bottom: 0;
		font-size: 18px;
	}

	&__image {
		position: static;
		margin: $margin-medium auto;
		right: 40px;
		bottom: 40px;
		max-width: 280px;
		display: block;

		@include min-screen($screen-md-min) {
			position: absolute;
			width: 30%;
			max-width: 450px;
		}

		&--left {
			left: 40px;
			right: auto;
		}
		&-txt--middle {
			@include min-screen($screen-md-min) {
				width: 20%;
				bottom: 50%;
				transform: translateY(50%);
			}

		}
	}

	&__tagline {
		width: 100%;
		color: $color-white;
		text-align: center;
		background: $color-blue-deep;
		h4 {
			font-size: 18px;
			padding: $padding-small;
			@include min-screen($screen-md-min) {
				font-size: 24px;
				padding: $padding-medium;
			}
		}
	}
}




