.block-hero {
	min-height: 250px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	background-color: $color-container-background;

	@include min-screen($screen-sm-min) {
		margin-bottom: 50px;
		min-height: 500px;
	}

	h1,
	.h1,
	h2,
	.h2 {
	 margin-bottom: 0;
	}

	h2,
	.h2 {
		margin-top: 10px;

		@include min-screen($screen-sm-min) {
			margin-top: 25px;

		}
	}

	.btn {
		margin-top: 10px;

		@include min-screen($screen-sm-min) {
			margin-top: 30px;

		}
	}
}

.block-hero__content {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15px;
	width: 75%;
}
