.hero-full-short {
	width: 100%;
	
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		max-width: 2560px;
		width: 100%;
		min-height: 40vh;
		color: #ffffff;
		text-decoration: none;
		z-index: 0;
		overflow: hidden;
		margin: 0 auto;
		@media screen and (min-width: $screen-md-min) {
			justify-content: center;
		}
		&:hover {
			color: #ffffff;
		}
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1;
		overflow: hidden;
		&.hero-bgp {
			@media screen and (max-width: $screen-xs-max){
				&-mobile {
					&--left {
						left: 100%;
					}
					&--right {
						left: 0;
					}
					&--center {
						left: 50%;
					}
				}
			}

			@media screen and (min-width: $screen-sm){
				&-tablet {
					&--left {
						left: 70%;
					}
					&--right {
						left: 30%;
					}
					&--center {
						left: 50%;
					}
				}
			}

			@media screen and (min-width: $screen-md){
				&-desktop {
					&--left {
						left: 50%;
					}
					&--right {
						left: 50%;
					}
					&--center {
						left: 50%;
					}
				}
			}
		}
	}

	&--bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: $color-blue-deep;
		background-repeat: no-repeat;
		background-size: cover;
		&.hero-bgp {
			@media screen and (max-width: $screen-xs-max){
				&-mobile {
					&--left {
						background-position: left center;
						&.hero-full__video {
							left: 0;
						}
					}
					&--right {
						background-position: center right;
					}
					&--center {
						background-position: center center;
					}
				}
			}
			@media screen and (min-width: $screen-sm){
				&-tablet {
					&--left {
						background-position: center left;
						&.hero-full__video {
							left: 0;
						}
					}
					&--right {
						background-position: center right;
					}
					&--center {
						background-position: center center;
					}
				}
			}
			@media screen and (min-width: $screen-md){
				&-desktop {
					&--left {
						background-position: center left;
						&.hero-full__video {
							left: 0;
						}
					}
					&--right {
						background-position: center right;
					}
					&--center {
						background-position: center center;
					}
				}
			}
		}
	}

	&.hero-content {
		@media screen and (max-width: $screen-xs-max){
			&-mobile {
				&--left {
					text-align: left;
					.hero-full-short__content {
						text-align: left;
						margin-left: 0;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-short__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
		@media screen and (min-width: $screen-sm){
			&-tablet {
				&--left {
					text-align: left;
					.hero-full-short__content {
						text-align: left;
						margin-left: 0;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-short__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
		@media screen and (min-width: $screen-md){
			&-desktop {
				&--left {
					text-align: left;
					.hero-full-short__content {
						text-align: left;
						margin-left: 0;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-short__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
	}

	&__content {
		max-width: 100%;
		>* {
			&:last-child {
				margin-bottom: 0!important;
			}
		}
		.block-hero__title {
			margin-bottom: 10px;
			font-size: 32px;
			line-height: 1.06;
		}
		.block-hero__text {
			font-size: 18px;
			>* {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.btn {
			margin-top: 10px;
			padding: 12px 30px;
		}
	}
	
	&__overlay {
		content: "";
		position: absolute;
		top: 20%;
		width: 100%;
		height: 80%;
		background-image: linear-gradient(180deg, rgba(46, 50, 55, 0.0001) 13.44%, rgba(26, 29, 32, 0.7) 47.91%, rgba(0, 0, 0, 0.9) 100%);
	}
	
	&__holder {
		position: relative;
		padding: 60px 0;
	}
	
	@include min-screen($screen-sm-min) {
		.hero-content-desktop--left {
			.hero-full-short__content {
				margin-left: 40px;
				margin-right: auto;
			}
		}

		&__holder {
			padding: 60px 0 90px;
			& > * {
				width: 100%;
			}
		}

		&__content {
			position: relative;
			max-width: 750px;

			.block-hero__title {
				font-family: $apercu-bold-font;
				font-size: 64px;
			}

			.block-hero__text {
				p {
					font-size: 20px;
				}
			}
		}
	}

	@media screen and (min-width: $screen-md-min) {
		&__holder {
			padding: 60px 0 120px;
		}
		&__overlay {
			top: 0;
			width: 100%;
			height: 100%;
			background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));

		}
		&.hero-content-desktop--left {
			.hero-full-short__overlay {
				top: -50%;
				bottom: -50%;
				height: auto;
				width: 100vw;
				min-width: 1500px;
				background: radial-gradient(44.81% 44.81% at 14.44% 45.49%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 72.64%, rgba(0, 0, 0, 0.0001) 100%);
			}
		}
	}
}