.block-hero {
	min-height: 250px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	background-color: $color-container-background;

	@include min-screen($screen-sm-min) {
		margin-bottom: 50px;
		min-height: 500px;
	}
}

.block-hero__content {
	position: absolute;
	z-index: 11;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15px;
}
