.hero-full-third {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	max-width: 2560px;
	margin: 0 auto;
	overflow: hidden;

	&--bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: $color-blue-deep;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&.hero-content {
		@media screen and (max-width: $screen-xs-max){
			&-mobile {
				&--left {
					text-align: left;
					.hero-full-third__content {
						text-align: left;
						margin-left: 0;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-third__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
		@media screen and (min-width: $screen-sm){
			&-tablet {
				&--left {
					text-align: left;
					.hero-full-third__content {
						text-align: left;
						margin-left: 0;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-third__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
		@media screen and (min-width: $screen-md){
			&-desktop {
				&--left {
					text-align: left;
					.hero-full-third__content {
						text-align: left;
						margin-left: 120px;
						margin-right: auto;
					}
				}
				&--center {
					text-align: center;
					.hero-full-third__content {
						margin-left: auto;
						margin-right: auto;
						text-align: center;
					}
				}
			}
		}
	}

	&__content {
		max-width: 100%;
		padding: 0 20px;
		color: #fff;
		.block-hero__title {
			margin-bottom: 10px;
			font-size: 32px;
			line-height: 1.06;
		}
		.block-hero__text {
			font-size: 18px;
		}
	}

	&__holder {
		padding-top: 80px;
		padding-bottom: 50px;

		background-image: linear-gradient(180deg, rgba(46, 50, 55, 0.0001) 13.44%, rgba(26, 29, 32, 0.7) 47.91%, rgba(0, 0, 0, 0.9) 100%);
	}

	@include min-screen($screen-sm-min) {
		.hero-content-desktop--right {
			.hero-full-third__content {
				margin-left: auto;
				margin-right: 40px;
			}
		}

		.hero-content-desktop--left {
			.hero-full-third__content {
				margin-left: 40px;
				margin-right: auto;
			}
		}

		&__holder {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 100px 0 80px;
			height: 100%;
			& > * {
				width: 100%;
			}
		}

		&__content {
			position: relative;
			max-width: 750px;

			.block-hero__title {
				font-family: $apercu-bold-font;
				font-size: 64px;
			}

			.block-hero__text {
				p {
					font-size: 20px;
				}
			}
		}
	}

	@media screen and (min-width: $screen-md-min) {
		justify-content: center;
		&__holder {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 65px 0 110px;
			height: 100%;
			background-image: none;
		}
		&__overlay {
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));

		}
		&.hero-content-desktop--left {
			.hero-full-third__overlay {
				top: -50%;
				bottom: -50%;
				height: auto;
				width: 100vw;
				min-width: 1500px;
				background: radial-gradient(44.81% 44.81% at 14.44% 45.49%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 72.64%, rgba(0, 0, 0, 0.0001) 100%);
			}
		}
	}
}