.block-hero {
	min-height: 320px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
	background-color: $color-container-background;
	padding-bottom: 0;
	position: relative;
	display: flex;
	justify-content: left;
	align-items: center;

	@include min-screen($screen-md-min) {
		display: block;
		padding-bottom: 36%;
		margin-bottom: 40px;
	}

	> .container {
		position: absolute;
		top: 0;
		left: 0;
	}

	&.flex-top {
		align-items: flex-start;
	}

	&.flex-middle {
		align-items: center;
	}

	&.flex-bottom {
		align-items: flex-end;
	}
}

.block-hero__page-title {
	font-size: 11px;
	line-height: 1;
	margin: 0;
	font-weight: 400;
	color: $color-complement-sky;
	padding: 20px 15px 0;
	text-shadow: none;

	@include min-screen($screen-md-min) {
		padding: 20px 15px 0;
	}
}

.block-hero__title,
.block-hero__subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

.block-hero__title {
	font-size: 24px;
	line-height: 30px;

	@include min-screen($screen-sm-min) {
		font-size: 46px;
		line-height: 52px;
	}

	@include min-screen($screen-lg-min) {
		font-size: 65px;
		line-height: 65px;
	}
}

.block-hero__subtitle {
	margin-top: 15px;
	font-size: 20px;
	line-height: 28px;

	@include min-screen($screen-sm-min) {
		font-size: 28px;
		line-height: 38px;
	}

	@include min-screen($screen-md-min) {
		margin-top: 25px;
	}

	@include min-screen($screen-lg-min) {
		font-size: 36px;
		line-height: 46px;
	}
}

.flex-top .block-hero__content {
	@include min-screen($screen-md-min) {
		top: 60px;
		transform: translateY(0);
	}
}

.flex-middle .block-hero__content {
	@include min-screen($screen-md-min) {
		top: 50%;
		transform: translateY(-50%);
	}
}

.flex-bottom .block-hero__content {
	@include min-screen($screen-md-min) {
		top: calc(100% - 60px);
		transform: translateY(-100%);
	}
}

.block-hero__content {
	position: relative;
	top: auto;
	transform: translateY(0);
	padding: 40px 15px;
	width: 80%;
	z-index: 2;

	@include min-screen($screen-sm-min) {
		padding: 60px 15px;
	}

	@include min-screen($screen-md-min) {
		position: absolute;
		padding: 0 15px;
		width: 75%;
	}

	.btn {
		margin-top: 20px;
		text-shadow: none;

		@include min-screen($screen-md-min) {
			margin-top: 30px;
		}
	}
}

.block-hero--mini,
.block-hero--old {
	min-height: 0;
	background-color: transparent;
	margin: 0;
	padding: 0;
	display: block;

	> .container {
		position: relative;
	}

	.block-hero__page-title {
		padding: 20px 0;
		position: relative;
	}

	.block-hero__title {
		padding: 0;
		margin:0 0 20px 0;
		max-width: 800px;
	}
}
