.block-image-text {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	margin-bottom: $margin-default;

	&--align {
		&-middle {
			align-items: center;
		}
		&-top {
			align-items: flex-start;
			.block-image-text__text > h2 {
				margin-top: 0;
			}
		}
		&-bottom {
			align-items: flex-end;
		}
	}
	&__image {
		width: 100%;
		position: relative;
		order: 1;

		@include min-screen($screen-md) {
			width: 50%;
		}
		&--mobile {
			&-top {
				order: 1;
			}
			&-bottom {
				order: 3;
			}
		}
		@include min-screen($screen-sm) {
			&--tablet {
				&-top {
					order: 1;
					width: 100%;
					& + .block-image-text__text {
						padding-top: $padding-default;
					}
				}
				&-bottom {
					order: 3;
					width: 100%;
				}
				&-left {
					order: 1;
					width: 50%;
					& + .block-image-text__text {
						padding-left: $padding-default;
					}
				}
				&-right {
					order: 3;
					width: 50%;
					& + .block-image-text__text {
						padding-right: $padding-default;
					}
				}
			}
		}
		@include min-screen($screen-md) {
			width: 50%;

			&--desktop {
				&-left {
					order: 1;
					& + .block-image-text__text {
						padding-left: $padding-default;
						padding-right: 0;
						padding-top: 0;
					}
				}
				&-right {
					order: 3;

					& + .block-image-text__text {
						padding-left: 0;
						padding-right: $padding-default;
						padding-top: 0;
					}
				}
			}
		}

		&--size-square {
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 100%;
				padding-top: 100%;
			}
			img {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
				font-family: 'object-fit: cover; object-position: center;';

			}
		}
		&--size-landscape {
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 100%;
				padding-top: 66%;
			}
			img {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
				font-family: 'object-fit: cover; object-position: center;';
			}
		}
		&--size-portrait {
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 100%;
				padding-top: 150%;
			}
			img {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: center;
				font-family: 'object-fit: cover; object-position: center;';
			}
		}
	}
	&__text {
		order: 2;
		width: 50%;
		flex-grow: 1;
	}
}