.block-image-text {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	margin-bottom: $margin-small;
	@include min-screen($screen-sm) {
		margin-bottom: $margin-default;
	}
	&--align {
		&-middle {
			align-items: center;
			.block-image-text__text > h2 {
				@include min-screen($screen-sm) {
					margin-top: $margin-small;
				}
			}
		}
		&-top {
			align-items: flex-start;

			.block-image-text__text > h2 {
				@include min-screen($screen-sm) {
					margin-top: 0;
				}
			}
		}
		&-bottom {
			align-items: flex-end;
		}
	}
	&__image {
		width: 100%;
		position: relative;
		order: 1;
		@include min-screen($screen-md) {
			width: calc(50%);
		}

		&--mobile {
			&-top {
				order: 1;
			}
			&-bottom {
				order: 3;

			}
		}
		@include min-screen($screen-sm) {
			&--tablet {
				&-top {
					order: 1;
					width: 100%;
					& + .block-image-text__text {
						padding-top: $padding-small;
					}
				}
				&-bottom {
					order: 3;
					width: 100%;
				}
				&-left {
					order: 1;
					width: 50%;
					padding-right: $padding-small;
					padding-left: 0;

					& + .block-image-text__text {
						padding-left: $padding-small;
					}
				}
				&-right {
					order: 3;
					width: 50%;
					padding-left: $padding-small;
					padding-right: 0;

					& + .block-image-text__text {
						padding-right: $padding-small;
					}

				}
			}
		}
		@include min-screen($screen-md) {
			width: 50%;

			&--desktop {
				&-left {
					order: 1;
					padding-left: 0;
					padding-right: $padding-small;

					& + .block-image-text__text {
						padding-left: $padding-small;
						padding-right: 0;
						padding-top: 0;
					}
				}

				&-right {
					order: 3;
					padding-left: $padding-small;
					padding-right: 0;

					& + .block-image-text__text {
						padding-left: 0;
						padding-right: $padding-small;
						padding-top: 0;
					}

				}
			}
		}

		&--size-square {
			.block-image-text__image-container {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 100%;
					padding-top: 100%;
				}
				img {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					object-fit: cover;
					object-position: center;
					font-family: 'object-fit: cover; object-position: center;';
				}
			}
		}
		&--size-landscape {
			.block-image-text__image-container {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 100%;
					padding-top: 66%;
				}
				img {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					object-fit: cover;
					object-position: center;
					font-family: 'object-fit: cover; object-position: center;';
				}
			}

		}
		&--size-portrait {
			.block-image-text__image-container {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 100%;
					padding-top: 150%;
				}
				img {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					object-fit: cover;
					object-position: center;
					font-family: 'object-fit: cover; object-position: center;';
				}
			}
		}
	}
	&__text {
		order: 2;
		width: 50%;
		flex-grow: 1;
		.btn {
			margin-bottom: $padding-small;
		}
	}
}