.display-none {
	display: none;
}

.m-5 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.justify-content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter__sform form {
	padding: 40px 20px 30px;
	background: #CEDFD7;
	width: 100%;
	max-width: 330px;
	height: auto;
}

.form_label {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #003E52;
	width: 100%;
	margin-bottom: 5px;
}

.newsletter__success {
	padding: 40px 20px 30px;
	background: #CEDFD7;
	width: 100%;
	max-width: 330px;
	height: auto;
	min-height: 294px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newsletter__check {
	padding: 20px 20px 10px;
	background: #CEDFD7;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.newsletter__check_imag {
	width: calc(50% - 20px);
	margin-right: 20px;
}

.newsletter__check_form {
	width: calc(50% - 20px);
	margin-left: 20px;
}

.newsletter__check_imag-head h4 {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #003E52;
}

.newsletter__check_imag-text {
	font-family: 'Apercu Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #003E52;
}

.newsletter__check_imag-imag {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-valid {
	border: 1px solid #D90000;
}

.text-not-valid {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #D90000;
}

@media (max-width: 575px) {
	.newsletter__sform {
		display: flex;
		justify-content: center;
	}
	.newsletter__sform form {
		max-width: 100%;
	}
	.newsletter__success {
		max-width: 100%;
		margin: 0 auto;
	}
	.newsletter__check {
		flex-direction: column;
	}
	.newsletter__check_imag {
		width: 100%;
		margin-right: 0;
	}
	.newsletter__check_form {
		width: 100%;
		margin-left: 0;
	}
}