.post-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;

  .flickity-viewport {
    height: 100%;
    overflow: visible;
  }

  .flickity-slider {
    //position: relative;
  }

  .flickity-page-dots {
    bottom: 20px;

    .dot {
      margin: 0 5px;
      background-color: $color-white;
      border: 1px solid $color-blue;
      opacity: 1;

      &.is-selected {
        background-color: $color-blue;
      }
    }
  }

  .flickity-prev-next-button {
    @media screen and (max-width: 580px) {
      display: none;
    }
  }

  &__item {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
      position: relative;
    }
  }

  &__caption {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
    background-color: $color-pink;
    color: $color-white;

    @media screen and (min-width: 768px) {
      left: 10px;
      bottom: 0;
      max-width: 220px;
      padding: 20px 20px 40px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 109%;
    margin-bottom: 10px;
  }

  &__info {
    font-family: "Proxima Nova";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
  }
}