.b-win-help {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px -10px -5px;
  padding: 20px;
  background-color: $color-cloud;

  &__thumb {
    flex: 0 0 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 580px) {
      flex: 0 0 50%;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1400px) {
      flex: 0 0 385px;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    flex: 0 0 100%;

    @media screen and (min-width: 580px) {
      flex: 1 1 50%;
      padding-left: 20px;
    }

    @media screen and (min-width: 1400px) {
      flex: 1 1 calc(100% - 385px);
    }
  }

  &__name {
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 127%;
    color: $color-blue-gray;
    text-transform: uppercase;

    @media screen and (min-width: 580px) {
      margin-bottom: 19px;
    }
  }

  .b-win-help__title {
    display: inline;
    vertical-align: top;
    border-bottom: 1px solid $color-black;
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 30px;
    line-height: 113%;
    color: $color-black;
  }

  &__text {
    margin-top: 19px;
    font-size: 16px;
    line-height: 137%;
    color: $color-black;
  }
}

.boxed-list {
  position: relative;
  border: 10px solid $color-l-blue;
  margin-left: -40px;
  margin-right: -40px;

  &__label {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-l-blue;
    font-size: 14px;
    color: $color-white;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;

    @media screen and (min-width: 680px) {
      margin-bottom: 80px;
      margin-top: 40px;
      flex-wrap: nowrap;
    }

    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      flex-wrap: wrap;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__img {
    flex: 1 1 100%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 680px) {
      flex: 0 1 50%;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      flex: 1 1 100%;
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1400px) {
      flex: 0 1 50%;
      margin-bottom: 0;
    }
  }

  &__content {
    flex: 1 1 100%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;

    @media screen and (min-width: 680px) {
      flex: 0 1 50%;
      margin-right: 30px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      flex: 1 1 100%;
    }

    @media screen and (min-width: 1400px) {
      flex: 0 1 50%;
      margin-right: 30px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.quote {
  padding-left: 20px;
  padding-right: 20px;

  &__text {
    max-width: 640px;
    margin: 0 auto;
    font-family: "hellolucky";
    font-size: 28px;
    line-height: 150%;
    color: $color-black;

    @media screen and (min-width: 680px) {
      font-size: 40px;
    }
  }
}

.block-info {
  color: $color-white;
  padding: 40px 20px;
  margin-left: -40px;
  margin-right: -40px;

  @media screen and (min-width: 680px) {
    padding: 40px;
  }

  &--bg {
    &-blue {
      background-color: $color-blue-deep;
    }

    &-black {
      background-color: $color-black;
    }

    &-light-blue {
      background-color: $color-l-blue;
    }

    &-light-gray {
      background-color: $color-gray-light;
    }

    &-white {
      background-color: $color-snow;
    }

    &-light-blue,
    &-light-gray,
    &-white {
      color: $color-black;

      .block-info__title {
        color: $color-black;
      }

      .block-info__text {
        &:before {
          background-color: $color-black;
        }
      }

      .title__underlined {
        border-bottom: 3px solid $color-black;
      }
    }
  }

  &__title,
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: $color-white;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;

    @media screen and (min-width: 680px) {
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  &__text {
    flex: 1 1 100%;
    position: relative;
    font-size: 16px;
    line-height: 175%;

    @media screen and (min-width: 680px) {
      flex: 0 1 50%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.promotion-box {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  background-color: $color-l-blue;
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px 40px 0 40px;

  @media screen and (min-width: 680px) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1024px) and (max-width: 1399px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1400px) {
    flex-wrap: nowrap;
  }

  &--bg {
    &-blue,
    &-black {
      .block__title {
        color: $color-white;
      }

      .promotion-box__text {
        color: $color-white;
      }
    }

    &-blue {
      background-color: $color-blue-deep;
    }

    &-black {
      background-color: $color-black;
    }

    &-light-blue {
      background-color: $color-l-blue;
    }

    &-light-gray {
      background-color: $color-gray-light;
    }

    &-white {
      background-color: $color-snow;
    }

    &-light-blue,
    &-light-gray,
    &-white {
      color: $color-black;
    }
  }


  &__content {
    flex: 0 1 auto;
    align-self: center;
    padding-bottom: 40px;
    text-align: center;

    @media screen and (min-width: 680px) {
    }

    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      flex: 0 1 100%;
    }

    @media screen and (min-width: 1400px) {
    }
  }

  &__title {
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 14px;
  }

  &__img {
    flex: 0 1 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;

    @media screen and (min-width: 680px) {
      margin-left: 40px;
      flex: 0 0 35%;
    }

    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      margin-left: 0;
      flex: 0 1 100%;
    }

    @media screen and (min-width: 1400px) {
      margin-left: 40px;
      flex: 0 0 35%;
    }
  }
}