.block-promotion {
	overflow: hidden;
	min-height: 270px;
	margin-bottom: 10px;

	@include min-screen($screen-sm-min) {
		min-height: 220px;
		margin-bottom: 40px;
	}
	@media screen and (max-width: 767px) {
		min-height: 0;
		margin-bottom: 0;
	}
		p {
		margin: $margin-small 0 0 0;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.block-promotion__header {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 80px;

	&.background-color-lightorange {
		border: 1px solid $color-border-orange;
	}

	&.background-color-lightpink {
		border: 1px solid $color-border-pink;
	}

	@media screen and (max-width: 767px) {
		height: 50px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-bottom: 20px;
	}

	img {
		display: block;
		position: absolute;
		width: 80px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 15px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.block-promotion__title {
	margin: 0;
}

// Large blocks only
[class*=' col- ']:not(.col-sm-6):not(.col-md-12) {
	.block-promotion:not(.block-promotion--image) {
		min-height: 320px;

		@include min-screen($screen-sm-min) {
			min-height: 440px;
		}
	}

	.block-promotion__image.block-promotion__image--landscape {
		padding-bottom: 36%;
	}
}

// General content styles
.block-promotion__content {
	z-index: 2;
	padding: $padding-default;
}

.block-promotion__image-wrapper {
	display: block;
}

.margin {
	margin-top: 68px;
	padding-top: 68px;
}


.shadow{
	transition: 0.2s;

	&:hover{
	-webkit-box-shadow: 0px 25px 156px -19px rgba(1, 28, 48, 0.59);
	-moz-box-shadow: 0px 25px 156px -19px rgba(1, 28, 48, 0.59);
	box-shadow: 0px 25px 156px -19px rgba(1, 28, 48, 0.59);
	transform: scale(1.05);
	transition:$duration-quicker $delay-none $ease-in-out, transform $duration-quicker $delay-none $ease-in-out;
	border-radius: 10px;
	}
}

.block-promotion__image {

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	&:hover {
		@include min-screen($screen-sm-min) {
			transform: scale(1.0);
		}
	}

	&.block-promotion__image--landscape {
		padding-bottom: 66%;
	}

	&.block-promotion__image--portrait {
		padding-bottom: 150%;
	}

	&.block-promotion__image--square {
		padding-bottom: 30%;
		padding-top: 35%;
		border-radius: 10px;
	}
}

.block-promotion__link {
	position: relative;
	display: block;
	width: 100%;
	color: $color-light;
	z-index: 3;

	&:after {
		position: absolute;
		bottom: 25px;
		right: 25px;
		font-size: 30px;
		content: ' \e904 ';
		font-family: "ml-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
		opacity: 1;
		transform: scale(1.05);
		transition:$duration-quicker $delay-none $ease-in-out, transform $duration-quicker $delay-none $ease-in-out;
		text-shadow: none;

		@include min-screen($screen-sm-min) {
			bottom: 20px;
			right: 20px;
			opacity: 0;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}

	}

	&:hover,
	&:focus,
	&:active {
		color: $color-light;

		@include min-screen($screen-sm-min) {
			&:after {
				opacity: 1;
			}
		}
	}
}

// Block types

@import "promotion/_promotion-text";
@import "promotion/_promotion-image";
@import "promotion/_promotion-split";
@import "promotion/_promotion-bingo";
@import "promotion/_promotion-wallet";
