.block-promotion {
	overflow: hidden;
	min-height: 270px;
	margin-bottom: 10px;

	@include min-screen($screen-sm-min) {
		min-height: 220px;
		margin-bottom: 20px;
	}

	p {
		margin: $margin-small 0 0 0;

		&:first-of-type {
			margin-top: 0;
		}
	}
}



//---------------------------------------- ME STARTED HEERERERERER


.header-area{
	border: 1px solid $color-feather;
	margin-top: -30px;
}

.favgamelink{
	transition: transform 3s;
}

.arrowlink{
	position: absolute;
	bottom: 10%;
	right: 15%;
	display: none;
}

.favgamelink :hover{
	transform: scale(1.05);
	.arrowlink{
		display: block;
	}
}

.favgamebg {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.asdasd{
	height: 250px;
	border: 1px solid $color-feather;
	border-top: none;
	display: none;
	}


.color:hover {
	background: #FF5722;
}

.block-wallet{

	@media screen and (min-width: 1020px) {
		height: 50px;
	}
	@include min-screen($screen-sm-min) {
		min-height: 300px;
		margin-bottom: 20px;
	}
}

.walletheadtext{
	padding-left: 20px;
	color: #FF9148;
	margin-top: 14px;
	display: none;
	font-size: 16px;
	@media screen and (max-width: 767px) {
		display: block;
	}
}

.walletheadtext2{
	margin-top: 14px;
	padding-left: 20px;
	color: #DF4D9C;
	display: none;
	font-size: 16px;
	@media screen and (max-width: 767px) {
		display: block;
	}
}



.walletpic{
	display: block;
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.ion-ios7-close-empty{
	transition:transform 1s;
	margin-right: 20px;
	margin-top: -10px;
}
.is-closed{
	transform: rotate(360deg);
}



.ion-ios71-close-empty{
	transition:transform 1s;
	margin-right: 20px;
	margin-top: -10px;
}
.is-closed2{
	transform: rotate(360deg);
}


.coolblock2{
	//background-color: #fbf1eb;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	height: 90px;
	border: 1px solid #DF4D9C;
	@media screen and (max-width: 767px) {
		height: 50px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-bottom: 24px;

	}
}

.coolblock{
	//background-color: #fbf1eb;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	height: 90px;
	border: 1px solid #FF9148;
	@media screen and (max-width: 767px) {
		height: 50px;
		margin-bottom: 24px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.moneyline{
	border-top: 1px solid $color-feather;
	padding-top: 20px;

}


.line {
	border-top: 1px solid $color-feather;
	border-bottom: 1px solid $color-feather;
}
.paddingline{
	padding-top: 20px;
	padding-bottom: 20px;
}



.nocoolblock{
	display:block;
	height: 210px;
	border-left: 1px solid $color-feather;
	border-right: 1px solid $color-feather;
	border-bottom: 1px solid $color-feather;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	@media screen and (max-width: 767px) {
		display: none;
		margin-top: 10px;
		margin-bottom:10px;
	}
}

.block-promotion1 {
	overflow: hidden;
	min-height: 300px;
	margin-bottom: 10px;

	@include min-screen($screen-sm-min) {
		min-height: 300px;
		margin-bottom: 20px;

	}

	p {
		margin: $margin-small 0 0 0;

		&:first-of-type {
			margin-top: 0;
		}
	}
}




//---------------------------------------- ME ENDED HERERERERERERER


.block-promotion__title {
	margin: 0;
}

// Large blocks only
[class*='col-']:not(.col-sm-6):not(.col-md-12) {
	.block-promotion:not(.block-promotion--image) {
		min-height: 320px;

		@include min-screen($screen-sm-min) {
			min-height: 440px;
		}
	}

	.block-promotion__image.block-promotion__image--landscape {
		padding-bottom: 36%;
	}
}

// General content styles
.block-promotion__content {
	z-index: 2;
	padding: $padding-default;
}

.block-promotion__image-wrapper {
	display: block;
}

.margin{
	margin-top: 68px;
	padding-top: 68px;
}

.block-promotion__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transform: scale(1);
	transition: transform 15s $ease-in-out $delay-none;

	&:hover {
		@include min-screen($screen-sm-min) {
			transform: scale(1	);
		}
	}

	&.block-promotion__image--landscape {
		padding-bottom: 66%;
	}

	&.block-promotion__image--portrait {
		padding-bottom: 150%;
	}

	&.block-promotion__image--square {
		padding-bottom: 30%;
		padding-top: 35%;
		border-radius: 10px;
	}

}

.test:hover{
	transform: scale(1.05);
	-webkit-box-shadow: 0px 13px 73px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 73px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 73px -6px rgba(0,0,0,0.75);
	border-radius: 10px;
	border:none;

}

.block-promotion__link {
	position: relative;
	display: block;
	width: 100%;
	color: $color-light;
	z-index: 3;

	&:after {
		position: absolute;
		bottom: 25px;
		right: 25px;
		font-size: 30px;
		content: '\e904';
		font-family: "ml-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
		opacity: 1;
		transform: scale(1);
		transition: opacity $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
		text-shadow: none;

		@include min-screen($screen-sm-min) {
			bottom: 20px;
			right: 20px;
			opacity: 0;
			transform: scale(0.8);
		}
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-light;

		@include min-screen($screen-sm-min) {
			&:after {
				opacity: 1;
				transform: scale(1.0);
			}
		}
	}
}

// Block types

@import "promotion/_promotion-text";
@import "promotion/_promotion-image";
@import "promotion/_promotion-split";
@import "promotion/_promotion-bingo";
