.product-list-blocks {
	&__title:first-child {
		margin-top: 0;
	}

	&__title--left {
		@include max-screen($screen-tiny) {
			margin-bottom: 0;
		}

		@media (min-width: $screen-tiny) and (max-width: $screen-sm-max) {
			float: left;
		}
	}
}

.block-product {
	position: relative;
	border: 1px solid $color-border;
	margin-bottom: 7.5px;
	transition: border 0.2s $ease-in-out;

	@include min-screen($screen-sm-min) {
		margin-bottom: 15px;
	}

	@include min-screen($screen-md-min) {
		margin-bottom: 20px;
	}

	&:hover {
		border-color: $color-green;

		.block-product__hover-image {
			opacity: 1;
			visibility: visible;
		}
	}
}

.block-product__link {
	display: block;
	color: $color-base-primary;
	font-weight: $bold;

	&:hover {
		color: $color-base-primary;
	}
}

.block-product__image-wrapper {
	display: block;
}

.block-product__image {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 66.66%; /* 3:2 Aspect Ratio */
	border-bottom: 1px solid $color-border;
	transition: border $duration-quick $delay-none $ease-in-out;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		transition: opacity $duration-medium $ease-in-out,
		visibility $duration-medium $ease-in-out;
	}
}

.block-product__hover-image {
	opacity: 0;
	visibility: hidden;
}

.block-product__label {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 20px;
	z-index: 20;
	padding: $padding-small $padding-small $padding-small $padding-default;
	border-radius: 2em 0 0 2em;
	font-family: $base-heading-family;
	color: $color-light;
	line-height: 1;

	@include min-screen($screen-sm-min) {
		padding: $padding-medium 30px;
	}
}

.block-product__content {
	display: flex;
	flex-direction: column;
	flex: auto;
	padding: $padding-small;
	text-align: center;
	transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

	@include min-screen($screen-sm-min) {
		padding: $padding-medium;
	}
}

.block-product__item {
	margin-bottom: 0;
	font-weight: $light;

	&:not(:first-child):not(.block-product__subtitle) {
		margin-top: 10px;
	}

	&--highlight {
		font-weight: $bold;
	}

}

.block-product__title {
	margin-top: 0;
	font-weight: $bold;
	text-decoration: underline;
	font-size: 16px;
	line-height: normal;

	> a {
		color: inherit;
	}
}

.block-product__subtitle {
	margin-top: 2px;
}

.block-product__text {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
}

.block-product__dream-button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	padding: $padding-small;
	color: $color-complement-sky;

	&:hover,
	&:focus {
		color: $color-accent;
	}

	&:focus {
		outline: 0;
	}

	.icon {
		color: inherit;
	}

	&.starred {
		.dreamlist-icon {
			color: $color-accent;

			&:before {
				content: "\e920";
			}
		}
	}
}

.dreamlist-icon {
	color: $color-complement-sky;
}

.block-product__more-button {
	margin-top: $margin-small;
	margin-bottom: $margin-default;
}

.block-product--category {
	display: flex;
	flex-direction: column;

	@include min-screen($screen-sm-min) {
		flex-direction: row;
	}

	.block-product__image-wrapper {
		flex: 1 1 auto;

		@include min-screen($screen-sm-min) {
			flex-basis: 70%;
		}
	}

	.block-product__image {
		height: 100%;
	}

	.block-product__content {
		width: 100%;
		padding: 20px;
		text-align: left;

		@include min-screen($screen-sm-min) {
			flex-basis: 30%;
		}
	}
}