.product-list-blocks {
	[class*='col-'] {
		&:nth-child(even) {
			@include max-screen($screen-md-max) {
				padding-right: 7.5px;
			}

			@include max-screen($screen-xs-max) {
				padding-left: 3.75px;
			}
		}

		&:nth-child(odd) {
			@include max-screen($screen-md-max) {
				padding-right: 7.5px;
			}

			@include max-screen($screen-xs-max) {
				padding-right: 3.75px;
			}
		}
	}
}

.block-product {
	border: 1px solid $color-border;
	margin-bottom: 7.5px;
	transition: border 0.2s $ease-in-out;

	@include min-screen($screen-sm-min) {
		margin-bottom: 15px;
	}

	@include min-screen($screen-md-min) {
		margin-bottom: 20px;
	}

	&:hover {
		border-color: $color-green;

		.block-product__hover-image {
			opacity: 1;
			visibility: visible;
		}
	}
}

.block-product__link {
	display: block;
	color: $color-base-primary;

	&:hover {
		color: $color-base-primary;
	}
}

.block-product__image-wrapper {
	display: block;
}

.block-product__image {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 100%;
	border-bottom: 1px solid $color-border;
	transition: border $duration-quick $delay-none $ease-in-out;

	@include min-screen($screen-sm-min) {
		padding-bottom: 70%;
	}

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		transition: opacity $duration-medium $ease-in-out,
		visibility $duration-medium $ease-in-out;
		z-index: 900;
	}
}

.block-product__hover-image {
	opacity: 0;
	visibility: hidden;
	z-index: 901;
}

.block-product__label {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 10px;
	color: $color-light;
	padding: 10px 20px;
	border-radius: 20px 0 0 20px;
	font-size: 12px;
	line-height: 1;
	z-index: 999;
}

.block-product__content {
	padding: $padding-small $padding-small;
	text-align: center;
	transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;
	display: flex;
	flex-direction: column;
	flex: auto;

	@include min-screen($screen-sm-min) {
		padding: $padding-medium 30px;
	}
}

.block-product__item {
	margin-bottom: 0;
	font-weight: $light;

	&:not(:first-child) {
		margin-top: 10px;
	}

	&--highlight {
		font-weight: $bold;
	}
}

.block-product__title {
	font-weight: $bold;
	text-decoration: underline;
	font-size: 16px;
	line-height: normal;

	> a {
		color: inherit;
	}
}

.block-product__text {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
}

.block-product__link {
	font-weight: $bold;
}

.block-product__dream-button {
	color: $color-complement-sky;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 995;

	&:hover {
		color: $color-accent;
	}
}

.block-product--category {
	display: flex;
	flex-direction: column;

	@include min-screen($screen-sm-min) {
		flex-direction: row;
	}

	.block-product__image-wrapper {
		flex: 1 1 auto;
		width: 100%;

		@include min-screen($screen-sm-min) {
			min-height: 300px;
			width: 70%;
		}
	}

	.block-product__image {
		width: 100%;
		height: 100%;
		padding-bottom: 70%;

		@include min-screen($screen-sm-min) {
			padding-bottom: 0;
		}
	}

	.block-product__content {
		width: 100%;
		padding: 20px;
		text-align: left;

		@include min-screen($screen-sm-min) {
			width: 30%;
		}
	}

	.block-product__title {
		text-decoration: none;
		margin-top: 0;
	}

	.btn {
		font-size: 14px;
	}
}