.registration-banner {
	color: $color-black;
	margin: $padding-default 0;
	text-align: center;
	padding: $padding-default;
	&.background-color-pink,
	&.background-color-million {
		color: $color-white;
	}
	.btn {
		margin-top: $padding-default;
		margin-bottom: $padding-default;
	}
	.bank-form {
		padding: 0 $padding-medium;
	}
}
