.registration-banner {
	color: $color-black;
	margin: $padding-medium 0;
	text-align: center;
	&.background-color-pink,
	&.background-color-million {
		color: $color-white;
	}
	.btn {
		margin-top: $padding-default;
		margin-bottom: $padding-default;
	}
	&.background-color-newturqiose {
		.btn-wide--green {
			@extend .btn-wide--white;
		}
	}
}
