.s-bullet-points {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 270px;
	margin-top: 40px;
	margin-bottom: 40px;
	&__item {
		max-width: 380px;
		margin: 20px auto;
		color: $color-blue-deep-2;
	}

	&__img {
		width: 200px;
		height: 200px;
		margin: 0 auto 30px;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}

	&__title {
		font-family: $apercu-bold-font;
		font-size: 24px;
		font-weight: bold;
	}

	&__text {

	}

	@include min-screen($screen-sm-min) {
		&__title {
			font-size: 20px;
		}
	}
	@include min-screen($screen-md-min) {
		&__title {
			font-size: 24px;
		}
	}
	@media screen and (max-width: $screen-sm) {

	}
}
