.s-bullet-points {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 270px;
	margin-top: 60px;
	margin-bottom: 40px;
	&__item {
		max-width: 380px;
		margin: 0 auto 20px;
		padding-left: 10px;
		padding-right: 10px;
		color: $color-blue-deep;
	}

	&__img {
		width: 150px;
		height: 150px;
		margin: 0 auto 30px;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

		@media screen and (min-width: $screen-md-min) {
			width: 200px;
			height: 200px;
		}
	}

	&__title {
		font-family: $apercu-bold-font;
		font-size: 24px;
		font-weight: bold;
	}

	@include min-screen($screen-sm-min) {
		&__title {
			font-size: 20px;
		}
	}
	@include min-screen($screen-md-min) {
		margin-bottom: 60px;
		&__title {
			font-size: 24px;
		}
	}
}
