.s-video {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s-video {
	height: 383px;

	iframe {
		width: 100%;
		height: 383px;
	}
}

@media (max-width: 1024px) {
	.s-video{
		height: 53vw;

		iframe {
			height: 53vw;
		}
	}
}

@media (max-width: 742px) {
	.s-video{
		height: 55vw;

		iframe {
			height: 55vw;
		}
	}
}

@media (max-width: 426px) {
	.s-video{
		height: 225px;
		min-height: unset;

		iframe {
			height: 225px;
			min-height: unset;
		}
	}
}