.block-slider {
	padding-bottom: 7px;
	margin-bottom: calc(40px + 20px);
	opacity: 0;
	transition: opacity $duration-fast $delay-none $ease-in-out;

	&.flickity-enabled {
		opacity: 1;
	}

	.flickity-prev-next-button {
		position: absolute;
		top: 50%;
		width: 44px;
		height: 44px;
		border: none;
		background: transparent;
		display: none;
		opacity: 0.75;
		transition: opacity $duration-quick $delay-none $ease-in-out;
		text-align: center;

		@include min-screen($screen-sm-min) {
			display: inline-block;
		}

		&:after {
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 30px;
			line-height: 1;
			font-size: 30px;
			content: '\e904';
			font-family: "ml-icons";
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			text-decoration: none;
			text-transform: none;
			color: $color-light;
			transform: translateY(-50%);
		}

		&:disabled {
			opacity: 0;
		}

		&.previous {
			left: 40px;

			@include min-screen($screen-md-min) {
				left: 80px;
			}

			&:after {
				top: 50%;
				transform: rotate(180deg) translateY(50%);
			}

			&.disabled {
				opacity: 0;
				visibility: hidden;;
			}
		}

		&.next {
			right: 40px;

			@include min-screen($screen-md-min) {
				right: 80px;
			}
		}

		&:not(:disabled) {
			&:hover {
				opacity: 1;
			}
		}

		svg {
			display: none;
		}
	}

	.flickity-page-dots {
		.dot {
			background: $color-complement-sky;

			@include min-screen($screen-sm-min) {
				width: 7px;
				height: 7px;
				margin: 0 7px;
			}
		}
	}
}

.block-slider__item {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	transition: opacity $duration-fast $delay-none $ease-in-out;
	min-height: 400px;
	width: 86%;

	@include min-screen($screen-xs-min) {
		width: 46%;
	}

	@include min-screen($screen-md-min) {
		min-height: 450px;
		width: 36%;
	}

	.block-promotion {
		min-height: initial;
	}

	.block-promotion__image {
		// padding-bottom: 100%;
	}

	> div {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		> .block-promotion__image-wrapper,
		> div > .block-promotion__image,
		> a:not(.btn) {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}
	}
}
