.m-2 {
	margin: 10px 0;
}
.wallet__pink {
	padding: 4px;
	background-color: #ECC5DE;

	display: flex;
	align-items: center;
}

.wallet__pink_icon {
	margin-right: 10px;
}

.wallet__pink_name {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	width: 50%;
}

.wallet__pink_numb {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-align: right;
	color: #003E52;
	width: calc(50% - 62px);
	padding-right: 16px;
}

.wallet__yellow {
	padding: 4px;
	background-color: rgba(248, 223, 141, 1);

	display: flex;
	align-items: center;
}

.wallet__yellow_icon {
	margin-right: 10px;
}

.wallet__yellow_name {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	width: 50%;
}

.wallet__yellow_numb {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	text-align: right;
	color: #003E52;
	width: calc(50% - 62px);
	padding-right: 16px;
}

.wallet__text {
	padding: 10px 20px 31px;
	background-color: #F7F7F7;

	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #003E52;
	min-height: 88px;
}

.wallets-group {
	height: 100%;
	
	.wallet {
		height:50%;
		display: flex;
		flex-direction: column;
	}

	.wallet__text {
		height: 100%;
	}
}

@media screen and (max-width: 584px) {
	.wallet__wrapper {
		width: 70%;
	}
}

@media screen and (max-width: 480px) {
	.wallet__wrapper {
		display: none;
	}
}