.block {
	display: block;

	p {
		margin: 0 0 $margin-medium;
		color: $color-complement-sky-light;
	}
}

.block-hero {
	padding: 150px 50px;
	margin-bottom: 25px;
	height: 100%;
	width: 100%;
	background-color: $color-complement-sky;
}

.block-promotion {
	padding: 50px;
	margin-bottom: 25px;
	height: 100%;
	width: 100%;
	background-color: $color-complement-sky;
}

@import "footer";
