.block {
	display: block;

	p {
		margin: 0 0 $margin-medium;
	}
}

.block-promotion {
	padding: 50px;
	margin-bottom: 25px;
	height: 100%;
	width: 100%;
	background-color: $color-container-background;
}

@import "hero";
@import "footer";
@import "bottom-bar";
