.details-table {
  width: 100%;
  border-collapse: collapse;

  & td{
    padding-top: 18px;
    float:left;
    min-height: 62px;
    padding-left: 25px;
    color: #546785;
    outline: none;
    font-weight: $semibold;
    font-family: $basic-heading-family;
    @media screen and (max-width: $screen-xs) {
      padding-left: 20px;
      padding-top: 0;
      color: #546785;
      width: 100%;
    }
    &.change-password--hidden{
      display: none;
    }
    &.details-table__news--hidden {
      display: block;
      float: left;
      padding-left: 0;
      border: 0;
      margin-top: 0;
      margin-left: 20px;
      background-color: transparent;
      @media screen and (max-width: $screen-xs) {
        height: 85px;
        color: #546785;
      }
    }
    &.details-table__news--visible{
      display: none;
    }
    &.details-table__konto--hidden{
      display: block;
      float: left;
      padding-left: 0;
      width: 400px;
      border: 0;
      @media screen and (max-width: $screen-xs) {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        padding-right: 0;
        color: #546785;
      }
    }

    &.details-table__konto--visible{
      display: none;
    }
  }
}
& th {
  padding-top: 20px;
  padding-left: 15px;
  text-align: left;
  float: left;
  color: $color-black;
  font-weight: $semibold;
  font-family: $basic-heading-family;
  @media screen and (max-width: $screen-xs) {
    height: 100%;
    color: $color-black;
    padding-bottom:0;
    padding-left: 20px;
    padding-top: 15px;
  }

  &.button{
    float: right;
    right: 20px;
    @media screen and (max-width: $screen-md) {
      position: absolute;
    }
    @media screen and (max-width: $screen-xs) {
      padding-top: 0;
      position: absolute;
      right: 0;
      margin-top: 15px;
    }

  }
  &.border{
    width: 110px;
    @media screen and (max-width: $screen-xs) {
      width: 100%;
    }
    @media screen and (min-width: $screen-xs) {
      height: 56px;
    }
  }
}
& tr{
  height:56px;
  @media screen and (max-width: $screen-xs) {
    height: 65px !important;
  }
}

.details-table__placeholder:empty:not(:focus):before {
  content: attr(data-placeholder)
}

.details-table__placeholder{
  padding-bottom: 0;
}


.ShowClear:empty:not(:focus):before {
  content: attr(data-placeholder)
}

.padding5{
  padding-left: 5px;
}

.padding0{
  padding-left:0;
  padding-right: 0;
}

#chat-namn-text{
  font-weight: 600;
  opacity: 1;
  @media screen and (max-width: $screen-xs){
    margin-bottom: 10px;

  }
}

.container--verktyg{
  padding-left:0;
  padding-right: 0;
  margin-bottom: 20px;

}

.details-table__checkbox{
  outline: none;
  @media screen and (max-width: $screen-xs) {
    width: 50px;
  }

}
.mina-verktyg--text{
  margin-bottom: 20px;
  padding-left:0;
  padding-right: 0;

  &.last{
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 60px;
    }

  }
}

#userAcceptTerms1{
  @media screen and (max-width: $screen-xs){
    margin-top: 10px !important;
  }
}



.password{
  border: 1px solid $color-feather;
  border-radius: 5px;
  height: 40px;
  outline: none;
  width: 220px;
  padding-left: 10px;
  &:focus{
    border: 1px solid #ef7450;
  }
  @media screen and (max-width: $screen-xs){
    width: 100%;
  }
}

.passwordconfirm{
  border: 1px solid $color-feather;
  border-radius: 5px;
  height: 40px;
  outline: none;
  width: 220px;
  padding-left: 10px;
  &:focus{
    border: 1px solid #ef7450;
  }
  @media screen and (max-width: $screen-xs){
    width: 100%;
  }
}

#chat-namn-text1{
  @media screen and (max-width: $screen-xs){
    margin-top: 10px !important;
  }
}


.change-password{
  display: none;
}

.clearingnr {
  display: block;
}

.inputtext-table{
  border: none;
  width: 100%;
  padding-right: 10px;
  background-color: transparent;
  padding-left: 0px;
  outline: none;

  &.asda {
    border: 1px solid #DEE1E8;
    border-radius: 5px;
    margin-top: -7px;
    display: inline-block !important;
    background-color: white !important;
    width: 220px;
    height: 40px;
    padding-top: 0;
    padding-left: 12px;
    padding-bottom: 0px;
    padding-right: 50px;
    @media screen and (max-width: $screen-xs) {
      width: 90%;
      margin-bottom: 10px;
      margin-top: 5px;
      padding-right: 12px;
      margin-right: 10px;
      padding-top: 12px;
      padding-bottom: 10px;
    }
    &.konto {
      margin-bottom: 20px;
      @media screen  and (max-width: $screen-xs){
        margin-bottom: 0;

      }
    }
    &.details-table__checkbox--margin {
      margin: 0px 0px -5px !important;
      background-color: transparent !important;
      height: 20px;
      width: 0px;
      padding-right: 7px;
      outline: 0;
      &:checked:after {
        top: 2px;
        left: 2px;
      }
    }

    &.checkPasswordMatch{
      border: none ;
      height: auto;
      width: 100%;
      padding-left: 0;
      @media screen and (max-width: $screen-xs){
        padding-bottom: 0;
        margin-bottom: 0px;
        margin-top: 0;
      }
    }
    &.clearing{
      border: 1px solid #DEE1E8;
      border-radius: 5px;
      display: block;
      width: 80px;
      margin-top: 0;
      height: 40px;
      overflow: scroll;
      padding-top: 12px !important;
      padding: 12px;
      padding-right: 0;
    }
    &.konto{
      border: 1px solid #DEE1E8;
      border-radius: 5px;
      display: block;
      width: 220px;
      margin-top: 0;
      height: 40px;
      overflow: scroll;
      padding-top: 12px !important;
      margin-left: 10px;
      padding: 12px;
      padding-right: 50px;
      @media screen and (max-width: $screen-xs){
        width: 55%;
      }
    }
    &.clearingnr{
      margin: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      border: none;
    }
    &.PassTitle{
      margin: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      overflow: auto;
      padding-bottom: 5px;
      border: none;
      @media screen and (max-width: $screen-xs) {
        margin-top: 5px;
        overflow: auto;
        padding-bottom: 0;
      }
    }
  }&.test{
     border: 1px solid black;
   }
}

.clering{
  padding-top: 5px;
}

.PasswordTitleConfirm{
  padding-left: 160px;
  padding-right: 0;
  position: absolute;
  @media screen and (max-width: $screen-xs){
    left: 30px;
    margin-top: 75px;
    padding-left: 0;
    position: absolute;
  }
}
.heej{
  display: none;
}

#txtConfirmPassword{
  margin-left: 20px;
  margin-bottom: 10px;
  @media screen and (max-width: $screen-xs){
    /* margin-left: 20px; */
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 0;
    /* padding-right: 10px; */
  }
}

#txtNewPassword{
  @media screen and (max-width: $screen-xs){
    margin-top: 0px;
  }
}


.clearing{
  width: 55px;
}

.kontoo{
  margin-left: 35px;
}

.konto{
  width: 100px;
}

tbody{
  border-left: 1px solid $color-gray-border;
  border-right: 1px solid $color-gray-border;
}

.table_wrapper {
  border-radius: 5px;
  border: 1px solid $color-gray-border;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

input[type="checkbox"]:focus{
  outline:0;
}

.details-table tr:nth-child(even){
  background-color: #f5f8fa;
  border-top: 1px solid $color-feather;
  border-bottom: 0;
  @media screen and (max-width: $screen-xs) {
    width: 100%;
    background-color: transparent;
  }
}

.details-table tr:nth-child(3n+3){
  border-top: 1px solid $color-feather;
  @media screen and (max-width: $screen-xs) {
    width: 100%;
    background-color: transparent;
  }
}

.details-table__button{
  width: 100%;
}

.details-table__button--padding{
  padding-left: 0;
  padding-right: 15px;
}

.details-table__button-text{
  text-align: center;
  font-family: "Proxima Nova";
  font-weight: $semibold;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.details-table__konto--visible{
  display: block;
}

.details-table__konto--hidden{
  display: none;
}

.details-table__news--visible{
  display: block;
}
.details-table__news--hidden {
  display: none;
}

.details-table__caption{
  background-color: #d6eeff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  font-family: "Proxima Nova";
  border: 1px solid #a2c3ff;
  border-bottom: 1px solid #a2c3ff;
}


.edit-button, .edit-button1 {
  background-color: transparent;
  display: block;
  float: right;
  border: none;
  color:#546785;
  font-size: 14px;
  padding-right: 40px;
  outline: none;  @media screen and (max-width: $screen-xs) {
  margin-top: 12px;
}
  &.blue{
    color: $color-light-blue;
    padding-top: 0;
    margin-top: 2px;
  }
}
#divCheckPasswordMatch{
  font-size: 14px;
  padding-left: 5px;
  top: 10px;
  width: 100%;
  position: relative;
}

.epostvalid{
  margin-top: -11px;
  margin-bottom: 0;
}

.title{
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (max-width: $screen-xs){
    padding-bottom:0;
  }
}

.title1{
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

tbody{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
}

.newlabel {
  font-weight: 600;
  margin-right: 20px;
  @media screen and (max-width: $screen-xs) {
    margin-right: 0;
  }
}

input:disabled, textarea:disabled{
  opacity: 1 !important;
  color: #546785;
  font-weight: 600;
  -webkit-text-fill-color:#546785
}
