.messages {
	margin-bottom: 25px;

	@include min-screen($screen-md-min) {
		margin-bottom: 50px;
	}

	h2 {
		margin: 0;
		transition: font-size $duration-quick $ease-in-out;
		.icon { display: none; }
	}
}

.messages__container {
	border: 1px solid $color-gray-border;
	border-radius: 5px;
	margin-bottom: 25px;

	@include max-screen($screen-sm-max) {
		animation: activeMessageList $duration-fast $ease-in-out;
	}
}

.message {
	padding: 20px;
	font-size: 14px;
	font-weight: 600;
	color: $color-base-primary;
	opacity: 1;
	transition: opacity $duration-fast $ease-in-out;
	display: none;

	@include min-screen($screen-md-min) {
		display: block;
		border-left: 1px solid $color-gray-border;
		min-height: 600px;
	}

	img {
		max-width: 100%;
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}

	p { margin-bottom: 20px; }

	strong { font-weight: $extrabold; }

}

.message--fixed-height {
	@include min-screen($screen-md-min) {
		overflow: auto;
		max-height: 600px;
	}
}

.messages--is-loading {
	.message {
		opacity: 0.6;
	}
}

.message__header {
	position: relative;
	font-size: 14px;
	color: $color-base-secondary;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid $color-gray-border;
	font-weight: 600;
}

.message__thumbnail {
	float: left;
	margin-right: 10px;
	margin-top: 7px;

	@include min-screen($screen-md-min) {
		margin-right: 20px;
	}

	img {
		width: 30px;
		height: 30px;
		margin: 0;
	}
}

.message__sender {
	font-weight: 800;
	margin-bottom: 5px;
}

.message__date {
	font-weight: 600;
	position: absolute;
	right: 0;
	top: 0;
}

.message__cta {
	text-align: center;
	@include min-screen($screen-md-min) {
		text-align: left;
	}

}

.messages__load-more-button {
	transition: transform $duration-quick $ease-in-out,
	opacity $duration-quick $ease-in-out;
	transform: translateY(0);
	opacity: 1;

	@include min-screen($screen-md-min) {
		display: none;
	}
}

// States for message.
.messages--message-active {
	.messages__container {
		@include max-screen($screen-sm-max) {
			animation: activeMessage $duration-fast $ease-in-out;
		}
	}
	h2 {
		@include max-screen($screen-sm-max) {
			font-size: 18px;
			font-weight: 700;

			.icon {
				display: inline-block;
				vertical-align: middle;
				font-size: 15px;
				color: $color-base-complement;
			}
		}
	}

	.message {
		display: block;
	}

	.messages__load-more-button {
		transform: translateY(30px);
		opacity: 0;
	}
}

@keyframes activeMessage {
	0% { transform: translateX(0); }
	5% { transform: translateX(100px); }
	50% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}

@keyframes activeMessageList {
	0% { transform: translateX(0); }
	5% { transform: translateX(-100px); }
	50% { transform: translateX(10px); }
	100% { transform: translateX(0); }
}