.messages-list {
	font-size: 14px;
	margin: 0;
	max-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	transition: opacity $duration-fast $ease-in-out;
	color: #8da8bb;

	@include min-screen($screen-md-min) {
		flex: 1 0 0 !important;
		color: $color-base-complement;
	}
}

.messages-list__message {
	border: none;
	text-align: left;
	padding: 15px;
	border-top: 1px solid $color-gray-border;
	border-radius: 0;
	outline: none;
	width: 100%;
	background-color: transparent;

	&:first-of-type {
		border-top: 0;
	}

	&:hover {
		background-color: #f5f8fa;
	}
	@include max-screen($screen-sm-max) {
		padding: 15px;
		display: none;

		// Show only the first 3 messages on load on mobile.
		&:nth-of-type(-n+5) {
			display: block;
		}

		&:nth-of-type(even) {
			background-color: $color-cloud;
		}
	}
}

.messages-list__sender {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}

.messages-list__date {
	float: right;
	font-weight: 600;
}

.messages-list__subject {
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-height: 20px; /* fallback */
	max-height: 20px; /* fallback */

	@include min-screen($screen-md-min) {
		font-weight: 500;
	}

}

// States for messages list.
.messages-list__message--unread {

	.messages-list__sender {
		color: $color-base-secondary;
		font-weight: 700;
	}

	.messages-list__sender:before {
		content: '';
		border-radius: 100%;
		background-color: $color-light-blue;
		width: 8px;
		height: 8px;
		display: inline-block;
		margin-bottom: 4px;
		margin-right: 4px;
		vertical-align: middle;
	}

	.messages-list__subject {
		font-weight: 600;
	}
}

.messages-list__message--active {
	@include min-screen($screen-md-min) {
		border-left: 3px solid $color-light-blue;
		background-color: $color-dark-white;

		.messages-list__sender {
			color: $color-base-secondary;
			font-weight: 700;
		}

		.messages-list__subject {
			color: $color-base-secondary;
			font-weight: 600;
		}
	}
}

.messages--message-active .messages-list {
	@include max-screen($screen-sm-max) {
		display: none;
	}
}

.messages--is-loading {
	.messages-list {
		opacity: 0.6;

		@include min-screen($screen-md) {
			opacity: 1;
		}

	}
}