<section class="section block block-content tab-pane active" id="spelverktyg" role="tabpanel">
    @@include('blocks/spelverktyg/_block-header.html', {
    "screen_name": "inställningar",
    "title": "Spelverktyg",
    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    })

    <div class="container p-0">
        <div class="row equal-height">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="text-block text-block--small bg-white ">

                    <div class="text-block__content">
                        <h4 class="text-block__title m-0">Spelgräns</h4>

                        <div class="text-block__text">Genom att ange en personlig spelgräns kan du bestämma hur mycket pengar som du vill sätta in för att spela hos Miljonlotteriet.</div>
                        <div class="text-block__cta d-flex justify-center">
                            <div class="btn btn--sm btn-primary">Justera spelgräns</div>
                        </div>
                    </div>


                </div>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="text-block text-block--small bg-white ">

                    <div class="text-block__content">
                        <h4 class="text-block__title m-0">Spelstopp</h4>

                        <div class="text-block__text">Med verktyget Spelstopp kan du ta ett uppehåll från ditt spelande. Välj själv om du vill ta en tidsbegränsad paus eller ett stopp tillsvidare hos Miljonlotteriet.</div>
                        <div class="text-block__cta d-flex justify-center">
                            <div class="btn btn--sm btn-primary">Justera spelstopp</div>
                        </div>
                    </div>


                </div>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="text-block   text-block--small bg-white ">

                    <div class="text-block__content">
                        <h4 class="text-block__title m-0">Tidsgräns</h4>

                        <div class="text-block__text">Funktionen Tidsgräns låter dig sätta dina egna gränser för hur lång tid du kan spela hos Miljonlotteriet.</div>
                        <div class="text-block__cta d-flex justify-center">
                            <div class="btn btn--sm btn-primary">Justera spelgräns</div>
                        </div>
                    </div>


                </div>
            </div>



            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="text-block   text-block--small bg-white ">

                    <div class="text-block__content">
                        <h4 class="text-block__title m-0">Förlustgräns</h4>

                        <div class="text-block__text">Förlustgränsen anger hur mycket pengar du maximalt kan förlora under en tidsperiod.</div>
                        <div class="text-block__cta d-flex justify-center">
                            <div class="btn btn--sm btn-primary">Justera spelgräns</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>