<div class="col-xs-12">
	<article class="block-article-list">
		<div class="row equal-height">
			<div class="col-xs-4 col-md-3">
				<div class="block-article-list__image"
					 style="background-image: url('@@image')"></div>
			</div>
			<div class="col-xs-8 col-md-9">
				<div class="block-article-list__content @@flex">
					<h1 class="block-article-list__title h4">@@title</h1>
					<p class="block-article-list__entry">@@text</p>
					<a href="/" class="btn btn-primary block-article-list__button">Läs mer</a>
				</div>
			</div>
		</div>
	</article>
</div>
