<div class="col-xs-12">
	<a href="/" title="">
		<article class="block-article">
			<div class="row equal-height">
				<div class="col-xs-4 col-md-3">
					<div class="block-article__image"
						 style="background-image: url('@@image')"></div>
				</div>
				<div class="col-xs-8 col-md-9">
					<div class="block-article__content flex-top">
						<h2 class="block-article__title h4">@@title</h2>
						<p class="block-article__entry">@@text</p>
						<div class="btn btn-primary block-article__button">Läs mer</div>
					</div>
				</div>
			</div>
		</article>
	</a>
</div>
