<div class="blog-win-hero">
	<video loop autoplay muted>
		<source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>
		<source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
		<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
		<source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
		Your browser doesn't support HTML5 video tag.
	</video>
	<h1 class="blog-win-hero__title">Drömvinster</h1>
	<p class="blog-win-hero__subtitle block-hero__subtitle h2">Vi kämpar för ett samhälle där ingen far illa av alkohol och droger.</p>
</div>