<article class="post">
	<div class="content">
		<a class="post-link" href="">
			<figure class="post__thumb">
				<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">

			</figure>
		</a>
		<div class="post__tags"><a href="">BILAR</a></div>
		<a class="post-link" href="">
			<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
			<div class="post__text">
				Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
				Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
				Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
			</div>
		</a>
	</div>
</article>