@@include('blocks/page-win/single/_post-main.html')
@@include('blocks/page-win/single/_post-youtube.html', {"title": ""})
@@include('blocks/page-win/single/_post-youtube.html', {"title": "Klassiskt, modernt eller bistro?"})
@@include('blocks/page-win/single/_post-quote.html')
@@include('blocks/page-win/single/_post-image.html', {"caption": false})
@@include('blocks/page-win/single/_post-image.html', {"caption": true, "position":"bottom"})
@@include('blocks/page-win/single/_post-image.html', {"caption": true, "position":"top"})
@@include('blocks/page-win/single/_post-boxed-list.html', {"title": ""})
@@include('blocks/page-win/single/_post-with-image.html', {"position": "left"})
@@include('blocks/page-win/single/_post-with-image.html', {"position": "right"})
@@include('blocks/page-win/single/_post-text.html')

<!-- Background colors to use (blue, black, light-blue, light-gray, white)  -->
@@include('blocks/page-win/single/_post-block-info.html', {"bg-color": "black"})
@@include('blocks/page-win/single/_post-promotion-box.html', {"bg-color": "light-gray"})