<tr class="mb-py-2">
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Belopp<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>105kr</td>
	<td data-header="Bonus" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Kontanter<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>-</td>
	<td data-header="Vinstvärde" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Bonus & Vinstvärde<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>500kr</td>
	<td data-header="Saldo (varav kontanter)" class="text-right mb-header-none"><div class="min-tablet-hidden  text-uppercase"><span class="font-bold">Saldo</span> (varav kontanter)<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div><span><strong>1 700 kr</strong> (1 600 kr)</span> </td>
</tr>
<tr class="mb-py-2">
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Belopp<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>105kr</td>
	<td data-header="Bonus" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Kontanter<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>-</td>
	<td data-header="Vinstvärde" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Bonus & Vinstvärde<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>500kr</td>
	<td data-header="Saldo (varav kontanter)" class="text-right mb-header-none"><div class="min-tablet-hidden  text-uppercase"><span class="font-bold">Saldo</span> (varav kontanter)<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div><span><strong>1 700 kr</strong> (1 600 kr)</span> </td>
</tr>
<tr class="mb-py-2">
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Belopp<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>105kr</td>
	<td data-header="Bonus" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Kontanter<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>-</td>
	<td data-header="Vinstvärde" class="text-right mb-header-none"><div class="min-tablet-hidden font-bold text-uppercase">Bonus & Vinstvärde<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div>500kr</td>
	<td data-header="Saldo (varav kontanter)" class="text-right mb-header-none"><div class="min-tablet-hidden  text-uppercase"><span class="font-bold">Saldo</span> (varav kontanter)<span class="tooltip-on-touch tooltip-icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kontanter är pengar som du har på ditt spelkonto och som du kan använda för att spela för.">
		i
	</span></div><span><strong>1 700 kr</strong> (1 600 kr)</span> </td>
</tr>