<tr>
	<td data-header="Tidpunkt">Idag 14:01</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Saldo">85kr</td>
	<td data-header="Belopp">- 250kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">Igår 12:00</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Saldo">80kr</td>
	<td class="highlight" data-header="Belopp">+ 50kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">Igår 11:59</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Saldo">60kr</td>
	<td class="highlight" data-header="Belopp">+ 150kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-27</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Saldo">50kr</td>
	<td class="highlight" data-header="Belopp">+ 250kr</td>
</tr>