<tr>
	<td data-header="Tidpunkt">2017-10-17</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Summa">- 250kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-13</td>
	<td data-header="Typ">Köp</td>
	<td class="highlight" data-header="Summa">+ 50kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-12</td>
	<td data-header="Typ">Köp</td>
	<td class="highlight" data-header="Summa">+ 150kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-11</td>
	<td data-header="Typ">Köp</td>
	<td class="highlight" data-header="Summa">+ 250kr</td>
</tr>