<tr>
	<td data-header="Tidpunkt">Idag 14:01</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter">135kr</td>
	<td data-header="Bonus + Vinstkonto">108.96kr</td>
	<td data-header="Belopp">0kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">Igår 12:00</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter">105kr</td>
	<td data-header="Bonus + Vinstkonto">108.00kr</td>
	<td class="highlight" data-header="Belopp">+ 50kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">Igår 11:59</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter">135kr</td>
	<td data-header="Bonus + Vinstkonto">108.96kr</td>
	<td class="highlight" data-header="Belopp">+ 150kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-27</td>
	<td data-header="Typ">Köp</td>
	<td data-header="Kontanter">135kr</td>
	<td data-header="Bonus + Vinstkonto">108.96kr</td>
	<td class="highlight" data-header="Belopp">+ 250kr</td>
</tr>