<tr>
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Insättning kontant</td>
	<td data-header="Belopp">1 600 kr</td>
	<td data-header="Saldo" class="text-right">1 500 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Uttag</td>
	<td data-header="Belopp">450 kr</td>
	<td data-header="Saldo" class="text-right">1 500 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ"><span class="text-green"><strong>Vinst</strong> (100 kr)</span></td>
	<td data-header="Belopp">-</td>
	<td data-header="Saldo" class="text-right">1 500 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2024-04-16 18:30</td>
	<td data-header="Typ">Miljonlotten</td>
	<td data-header="Belopp">50 kr</td>
	<td data-header="Saldo" class="text-right">1 500 kr</td>
</tr>