<tr>
    <td data-header="Tidpunkt">Idag 14:01</td>
    <td data-header="Spel"><a href="#">Vit jul 2017</a></td>
    <td data-header="Insats">145.00 kr</td>
    <td class="highlight" data-header="Utfall">350.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">Idag 12:00</td>
    <td data-header="Spel"><a href="#">Vit jul 2016</a></td>
    <td data-header="Insats">20.00 kr</td>
    <td data-header="Utfall">40.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">2017-10-27</td>
    <td data-header="Spel"><a href="#">Vit jul 2015</a></td>
    <td data-header="Insats">30.00 kr</td>
    <td class="highlight" data-header="Utfall">60.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">2017-10-27</td>
    <td data-header="Spel"><a href="#">Vit jul 2014</a></td>
    <td data-header="Insats">50.00 kr</td>
    <td class="highlight" data-header="Utfall">60.00 kr</td>
</tr>