<tr>
	<td data-header="Dragning">Jackpot 2017 - Dragning 5</td>
	<td data-header="Datum">2016-05-01 - 2016-06-01</td>
	<td data-header="Antal andelar">12 st</td>
</tr>
<tr>
	<td data-header="Dragning">Jackpot 2017 - Dragning 6</td>
	<td data-header="Datum">2016-05-01 - 2016-06-01</td>
	<td data-header="Antal andelar">12 st</td>
</tr>
<tr>
	<td data-header="Dragning">Jackpot 2017 - Dragning 7</td>
	<td data-header="Datum">2016-05-01 - 2016-06-01</td>
	<td data-header="Antal andelar">12 st</td>
</tr>
<tr>
	<td data-header="Dragning">Jackpot 2017 - Dragning 8</td>
	<td data-header="Datum">2016-05-01 - 2016-06-01</td>
	<td data-header="Antal andelar">12 st</td>
</tr>