<tr>
	<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
	<td data-header="Onlinelotter">1 st</td>
	<td data-header="Prenumerationslotter">0 st</td>
	<td data-header="Resultat">0.00 kr</td>
</tr>
<tr>
	<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
	<td data-header="Onlinelotter">14 st</td>
	<td data-header="Prenumerationslotter">14 st</td>
	<td data-header="Resultat">0.00 kr</td>
</tr>
<tr>
	<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
	<td data-header="Onlinelotter">4 st</td>
	<td data-header="Prenumerationslotter">6 st</td>
	<td class="highlight" data-header="Resultat">60.00 kr</td>
</tr>
<tr>
	<td data-header="Dragning">2017-04-06. Gäller lotter registrerade t.o.m 2017-03-06</td>
	<td data-header="Onlinelotter">2 st</td>
	<td data-header="Prenumerationslotter">3 st</td>
	<td class="highlight" data-header="Resultat">60.00 kr</td>
</tr>