<tr>
    <td data-header="Tidpunkt">2019-08-22 08:12</td>
    <td class="info" data-header="Nitlottsbonus">
        <img src="//via.placeholder.com/213x213" />
        <h4>Du har vunnit en Kanna Mon Amie!</h4>
        <p>Som ett extra tack för att du hjälper oss göra folks liv bättre vill vi ge dig denna klassiska kanna från Rörstrands Mon Amie-serie. Värde 200 kronor.</p>
        <span class="clearfix"></span>
    </td>
    <td class="action"><button class="btn-primary" disabled>Vinst hämtad</button></td>
</tr>
<tr>
    <td data-header="Tidpunkt">2019-08-21 10:12</td>
    <td class="info" data-header="Nitlottsbonus">
        <img src="//via.placeholder.com/213x213" />
        <h4>Du har vunnit en Kanna Mon Amie!</h4>
        <p>Som ett extra tack för att du hjälper oss göra folks liv bättre vill vi ge dig denna klassiska kanna från Rörstrands Mon Amie-serie. Värde 200 kronor.</p>
        <span class="clearfix"></span>
    </td>
    <td class="action"><button class="btn-primary" disabled>Vinst hämtad</button></td>
</tr>