<tr>
	<td data-header="Tidpunkt">2017-10-26</td>
	<td data-header="Typ av lott">Original</td>
	<td class="highlight" data-header="Utfall">60.00 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-25</td>
	<td data-header="Typ av lott">Original</td>
	<td data-header="Utfall">0.00 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-24</td>
	<td data-header="Typ av lott">Tjugan</td>
	<td class="highlight" data-header="Utfall">260.00 kr</td>
</tr>
<tr>
	<td data-header="Tidpunkt">2017-10-23</td>
	<td data-header="Typ av lott">Original</td>
	<td data-header="Utfall">0.00 kr</td>
</tr>