<tr>
    <td data-header="Tidpunkt">Idag 14:01</td>
    <td data-header="Spel">Zoobaloo</td>
    <td class="highlight" data-header="Utfall">350.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">Idag 12:Typ00</td>
    <td data-header="Spel">Bingo</td>
    <td data-header="Utfall">40.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">2017-10-27</td>
    <td data-header="Spel">Zoobaloo</td>
    <td class="highlight" data-header="Utfall">60.00 kr</td>
</tr>
<tr>
    <td data-header="Tidpunkt">2017-10-27</td>
    <td data-header="Spel">Bingo</td>
    <td class="highlight" data-header="Utfall">60.00 kr</td>
</tr>