section {
    padding-top: 48px;
    @media (max-width: 1024px) {
        padding-top: 40px;
        
    }
}
.container{
    @media (max-width: 1024px) {
        padding: 0 20px;
        
    }
}
.block {
    &-hero--mini {
        padding-left: 24px;
        margin: 0 0 40px;
        @media screen and (max-width: 1200px) {
            margin: 0 0 32px;
            padding-left: 16px;
            
        }
   
    }

    &-name {
        font: 700 16px/18px $base-font-family;
        text-transform: uppercase;
        color: $primary-light;
        @media (max-width:1200px) {
            display: none;
            
        }
    }

    &-title {
        font: 700 32px/32px $apercu;
        color: $primary;
        margin-top: 16px;
        @media (max-width:768px) {
            font: 700 24px/32px $apercu;
            margin-top: 0;
        }
    }

    &-desc {
        font: 400 16px/20px $apercu;
        color: $primary-lighter;
        margin-top: 24px;
        @media (max-width:1024px) {
            max-width: 674px;
        }
        @media (max-width:768px) {
            font: 400 14px/20px $apercu;
        }
    }


}
.entity-collection-actions{
    margin-top: 24px;
    @media (max-width:1024px) {
        margin-top: 16px;
    }
    .btn-secondary{
        width: 140px;
    }
}
.align-stretch {
    align-items: stretch;
}

.h-100 {
    height: 100%;
}

.block-white {
    background-color: #fff;
    padding: 24px 24px 40px;
    border-radius: 8px;

    @media screen and (max-width: 1200px) {
        padding: 24px 16px 40px;

    }
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.font-semibold {
    font-weight: 600 !important;

}

.font-bold {
    font-weight: 700 !important;
}

hr.disabled {
    border-top: 1px solid $primary-light;

}

.my-6 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.gap-8 {
    gap: 32px;
}



.text-disabled {
    color: $primary-light !important;
}

.link-nord,
.link-nord:visited {
    color: #1377B0;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-none {
    background: none;
    background-color: transparent;
}

.align-items-center {
    align-items: center;
}

.gap-4 {
    gap: 16px;
}

.text-bold {
    font-weight: 700;
}

.text-green {
    color: #41D6A0;
}

.text-underline {
    text-decoration: underline;
}

.link {
    text-decoration: underline;
    color: #1377B0;
}

.table-section {
    border-bottom: none;
}
.pb-4{
    padding-bottom: 24px;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-2{
    margin-top: 8px;
}
.mb-4{
    margin-bottom: 16px;
}

.m-0 {
    margin: 0;
}
.mr-2 {
    margin-right: 8px !important;
}
.mr-4 {
    margin-right: 16px !important;

}
.ml-4 {
    margin-left: 16px !important;
}
.pr-4 {
    padding-right: 16px;
}

.mt-8 {
    margin-top: 32px;
}

.mt-4 {
    margin-top: 16px !important;
}

.mt-6 {
    margin-top: 24px;
}

.mt-8{
    margin-top: 32px;
}
.mb-font-14{
    @media (max-width: 768px) {
        font-size: 14px !important;
        p{
            font-size: 14px !important;
        }
    }

}
.text-red {
    color: #F56363;
}
.responsive-table.modern {
    thead {
        th {
            @media (min-width:768px) {
                font-size: 12px;
            }
        }
    }
}

.tablet-hidden{
    @media (max-width: 1024px) {
        display: none;
    }
}
.min-tablet-hidden{
    @media (min-width: 768px) {
        display: none;
    }
}
.mobile-hidden{
    @media (max-width: 768px) {
        display: none;
    }
}
.desktop-hidden{
    @media (min-width: 1024px) {
        display: none;
    }
}

/* Hide the default checkbox */
.toggle-switch input {
    display: none;
  }
  
  /* Create a custom toggle switch container */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
  }
  
  /* Style the slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(360deg, #A0B6BF 27.5%, #8497A2 100%);
    box-shadow: inset 0px -0.5px 4px #678A97;
    transition: .4s;
    border-radius: 27px;
  }
  
  /* Style the slider when checked */
  input:checked + .slider {
    background: linear-gradient(360deg, #41D6A0 27.5%, #5AB393 100%);

    box-shadow: 0px 0.5px 4px 0px #45685580 inset;
  }
  
  /* Style the slider before (the circle) */
  .slider:before {
    position: absolute;
    content: "";
    height: 28.35px;
    width: 28px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    box-shadow: 0px 0.5px 4px 0px #0000004D, 0px 0px 8px 0px #FFFFFF80 inset;
    background: linear-gradient(180deg, #FFFFFF 28.5%, #CDD6DB 100%);

    transition: .4s;
  }
  
  /* Move the circle to the right when checked */
  input:checked + .slider:before {
    transform: translateX(24.5px);
  }

  .px-0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.px-3{
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.mb-pt-2{
    @media screen and (max-width: 768px) {
        padding-top: 8px;
        
    }
}
.mb-mt-6{
    @media screen and (max-width: 768px) {
        margin-top: 24px;
        
    }
}
.mb-py-2{
    @media screen and (max-width: 768px) {
        padding-top: 8px;
        padding-bottom: 8px;
        
    }
}
  @media (min-width:1024px) {
    .w-140{
        width: 140px;
       }
   .w-160{
    width: 160px;
   }
    .w-240{
  width: 240px;
    }
    .w-270{
    width: 270px;
    }
    .w-315{
    width: 315px;
    }
    .w-460{
        width: 460px;
    }
    
}