section {
    padding-top: 48px;
    @media (max-width: 1024px) {
        padding-top: 40px;

    }
}
.container{
    @media (max-width: 1024px) {
        padding: 0 20px;

    }
}
.block {
    &-hero--mini {
        padding-left: 24px;
        margin: 0 0 40px;
        @media screen and (max-width: 1200px) {
            margin: 0 0 32px;
            padding-left: 16px;

        }

    }

    &-name {
        font: 700 16px/18px $base-font-family;
        text-transform: uppercase;
        color: $primary-light;
        @media (max-width: 767px) {
            display: none;

        }
    }

    &-title {
        font: 700 32px/32px $apercu;
        color: $primary;
        margin-top: 16px;
        @media (max-width:768px) {
            font: 700 24px/32px $apercu;
            margin-top: 0;
        }
    }

    &-desc {
        font: 400 16px/20px $apercu;
        color: $primary-lighter;
        margin-top: 24px;
        @media (max-width:1024px) {
            max-width: 674px;
        }
        @media (max-width:768px) {
            font: 400 14px/20px $apercu;
        }
    }


}
.entity-collection-actions{
    margin-top: 24px;
    @media (max-width:1024px) {
        margin-top: 16px;
    }
    .btn-secondary{
        width: 140px;
    }
}
.align-stretch {
    align-items: stretch;
}

.h-100 {
    height: 100%;
}

.block-white {
    background-color: #fff;
    padding: 24px 24px 40px;
    border-radius: 8px;

    @media screen and (max-width: 1200px) {
        padding: 24px 16px 40px;

    }
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.font-semibold {
    font-weight: 600 !important;

}

.font-bold {
    font-weight: 700 !important;
}

hr.disabled {
    border-top: 1px solid $primary-light;

}

.my-6 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.gap-8 {
    gap: 32px;
}



.text-disabled {
    color: $primary-light !important;
}

.link-nord,
.link-nord:visited {
    color: #1377B0;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-none {
    background: none;
    background-color: transparent;
}

.align-items-center {
    align-items: center;
}

.gap-4 {
    gap: 16px;
}

.text-bold {
    font-weight: 700;
}

.text-green {
    color: #41D6A0;
}

.text-underline {
    text-decoration: underline;
}

.link {
    text-decoration: underline;
    color: #1377B0;
}

.table-section {
    border-bottom: none;
}
.pb-4{
    padding-bottom: 24px;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-2{
    margin-top: 8px;
}
.mb-4{
    margin-bottom: 16px;
}

.m-0 {
    margin: 0;
}
.mr-2 {
    margin-right: 8px !important;
}
.mr-4 {
    margin-right: 16px !important;

}
.ml-4 {
    margin-left: 16px !important;
}
.pr-4 {
    padding-right: 16px;
}

.mt-8 {
    margin-top: 32px;
}

.mt-4 {
    margin-top: 16px !important;
}

.mt-6 {
    margin-top: 24px;
}

.mt-8{
    margin-top: 32px;
}
.mb-font-14{
    @media (max-width: 768px) {
        font-size: 14px !important;
        p{
            font-size: 14px !important;
        }
    }

}
.text-red {
    color: #F56363;
}
.responsive-table.modern {
    thead {
        th {
            @media (min-width:768px) {
                font-size: 12px;
            }
        }
    }
}

.tablet-hidden{
    @media (max-width: 1024px) {
        display: none;
    }
}
.min-tablet-hidden{
    @media (min-width: 768px) {
        display: none;
    }
}
.mobile-hidden{
    @media (max-width: 768px) {
        display: none;
    }
}
.desktop-hidden{
    @media (min-width: 1024px) {
        display: none;
    }
}

/* Hide the default checkbox */
.toggle-switch input {
    display: none;
  }

  /* Create a custom toggle switch container */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
  }

  /* Style the slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(360deg, #A0B6BF 27.5%, #8497A2 100%);
    box-shadow: inset 0px -0.5px 4px #678A97;
    transition: all .4s;
    border-radius: 27px;
  }

  /* Style the slider when checked */
  input:checked + .slider {
    background: linear-gradient(360deg, #41D6A0 27.5%, #5AB393 100%);

    box-shadow: 0px 0.5px 4px 0px #45685580 inset;
  }

  input[disabled] + .slider {
	background: linear-gradient(360deg, rgba(65, 214, 160, 0.5) 27.5%, rgba(90, 179, 147, 0.5) 100%);
	box-shadow: inset 0px 0.5px 4px rgba(69, 104, 85, 0.5);
  }

  /* Style the slider before (the circle) */
  .slider:before,
  .slider:after {
    position: absolute;
    content: "";
    height: 28.35px;
    width: 28px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;

    transition: .4s;
  }
  .slider::before {
    box-shadow: 0px 0.5px 4px 0px #0000004D, 0px 0px 8px 0px #FFFFFF80 inset;
    background: linear-gradient(180deg, #FFFFFF 28.5%, #CDD6DB 100%);
  }
  .slider--icon:after {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,	%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.18585 1.9202C4.88406 1.33835 5.84765 1 6.86735 1C7.88705 1 8.85064 1.33835 9.54886 1.9202C10.2444 2.49983 10.6122 3.26432 10.6122 4.03742V6.36734H3.12245V4.03742C3.12245 3.26432 3.49029 2.49983 4.18585 1.9202ZM2.62061 7.36734C2.62122 7.36735 2.62184 7.36735 2.62245 7.36735C2.62307 7.36735 2.62369 7.36735 2.6243 7.36734H11.1104C11.111 7.36735 11.1116 7.36735 11.1122 7.36735C11.1129 7.36735 11.1135 7.36735 11.1141 7.36734H11.8197C12.285 7.36734 12.7347 7.79274 12.7347 8.41094V13.8135C12.7347 14.4317 12.285 14.8571 11.8197 14.8571H1.91497C1.44971 14.8571 1 14.4317 1 13.8135V8.41094C1 7.79274 1.44971 7.36734 1.91497 7.36734H2.62061ZM2.12245 6.36734V4.03742C2.12245 2.93415 2.64908 1.89913 3.54566 1.15197C4.43959 0.407033 5.63542 0 6.86735 0C8.09928 0 9.29511 0.407033 10.189 1.15197C11.0856 1.89913 11.6122 2.93415 11.6122 4.03742V6.36734H11.8197C12.9174 6.36734 13.7347 7.32414 13.7347 8.41094V13.8135C13.7347 14.9003 12.9174 15.8571 11.8197 15.8571H1.91497C0.817296 15.8571 0 14.9003 0 13.8135V8.41094C0 7.32414 0.817296 6.36734 1.91497 6.36734H2.12245Z' fill='%23003E52' fill-opacity='0.5'/%3E%3C/svg%3E");
	opacity: 0;
  }

  /* Move the circle to the right when checked */
  input:checked + .slider:before,
  input:checked + .slider:after {
    transform: translateX(24.5px);
  }
  input[disabled] + .slider--icon:after {
	opacity: .5;
  }

  .px-0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.px-3{
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.mb-pt-2{
    @media screen and (max-width: 768px) {
        padding-top: 8px;

    }
}
.mb-mt-6{
    @media screen and (max-width: 768px) {
        margin-top: 24px;

    }
}
.mb-py-2{
    @media screen and (max-width: 768px) {
        padding-top: 8px;
        padding-bottom: 8px;

    }
}


  @media (min-width:1024px) {
    .w-140{
        width: 140px;
       }
   .w-160{
    width: 160px;
   }
    .w-240{
  width: 240px;
    }
    .w-270{
    width: 270px;
    }
    .w-315{
    width: 315px;
    }
    .w-460{
        width: 460px;
    }

}