.line-color {
    height: 4px;
    border-radius: 32px;

    &__lightorange {
        background-color: #F3D551;
    }

    &__lightpink {
        background-color: #D96195;
    }
}

.block-promotion {
    &__wrapper{
        @media screen and (max-width: 767px) {
            display: none !important;
            &.active{
                display: flex !important;
            }
        }
    }
    &--wallet-toggle {
        background-color: #fff;
        border-radius: 8px;
        padding: 24px 24px 32px;
        @media screen and (max-width: 1024px) {
            padding: 24px 16px 32px;
            border-radius: 0 0 8px 8px;

        }
    }

    &__content {
        padding: 0;
        background-color: #fff;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        @media (max-width:768px) {
            margin-top: 0;
        }
    }

    &__header {
        height: auto;

        &-title {
            line-height: 32px;
            margin: 0 0 8px;
            @media (max-width: 767px) {
                display: initial;

            }
        }
    }

    .wallet-money {
        margin-top: 24px;
        border-top: solid 1px $grey;
        padding: 0;

        .wallet__list {
            &-item {
                font-weight: 400;
                margin-top: 12px;
                padding-right: 16px;

                &:last-of-type {
                    font-weight: 700;
                    margin-bottom: 14px;
                    color: $primary;
                    @media (max-width:768px) {
                        margin-bottom: 0;

                    }

                    &:not(:first-child) {
                        border-top: solid 1px $grey-light;
                    }

                    &:first-child {
                        border-top: none;
                        margin-top: 0;
                        // padding-top: 10px;
                    }
                }

                &:not(:first-child) {
                    border-top: dotted 1px $grey-light;
                }
                @media (max-width:768px) {
                    margin-top: 0;
                    padding: 24px 16px;

                }
                .icon__wrapper {
                    width: 32px;
                    margin-left: 16px;
                    display: inline-block;

					&--empty {
						display: none;
						@media screen and (max-width: 767px) {
							display: none;
						}
					}
                }

                .wallet__label{
                    display: flex;
                    align-items: center;
					line-height: 1;

                }
				& {
					margin: 0;
                    padding: 16px;
				}

				&:last-child{
					margin-bottom: 0;
				}
				.icon__wrapper {
					margin-left: 0;
				}

            }
        }



    }

    &__action-btns {
        margin-top: 32px;
        gap: 24px;
        button, .btn-primary{
            font-size: 14px;
            width: 160px;
			padding-left: 10px;
			padding-right: 10px;

			&.btn-outline{
				min-height: 40px;
			}
        }
        @media (max-width:992px) {
            margin: 32px 14px 0;

            &.tablet-colors{
                .btn-secondary{
                    background-color: transparent;
                    color: $primary;
                    border: solid 1px $primary;

                }
            }

        }
        @media (max-width:768px) {
            justify-content: center;

        }
        @media (max-width:425px) {
            margin: 28px 0;

        }
		&--pb-0 {
			padding-bottom: 0!important;
			margin-bottom: 0!important;
		}

        &.tablet-visible{
            @media screen and (max-width: 767px) {
                display: none;

            }
        }
        &.mobile-visible{
            @media screen and (min-width: 768px) {
                display: none;

            }
			@media screen and (max-width: 480px) {
				flex-direction: column;
				gap: 16px;
				max-width: 200px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 0;
				margin-bottom: 0;

				.btn {
					width: 100%;
				}
			}
        }

    }

	&__table {
		tr td:last-child {
			@media screen and (min-width: 768px) {
				min-width: 104px;
			}
		}
	}
	&__tr {
		&--toggle.js-active  {
			.js-toggle-row {
				color: #F56363;
			}
		}
		&--hidden.js-active  {
			animation: fadeIn 1s;
			display: table-row!important;
			@media screen and (max-width: 767px) {
				display: flex!important;
				td {
					display: block;
					width: 100%!important;
				}
			}
		}

		&--bg {
			background-color: #EAF3F9;
		}
	}

	&__links {
		display: flex;
		justify-content: flex-end;
		gap: 24px;
		width: 100%;
		@media screen and (max-width: 767px) {
			margin-left: -100px;
		}
	}
}

.tooltip-icon-info{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: solid 1px $primary-lighter;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary-lighter;
    font-size: 10px;
    margin-left: 6px;
    width: 12px;
    height: 12px;
}
#spelkonto{
    .block-hero--mini{
          @media screen and (max-width: 767px) {
        display: none;

    }
    }

}
#deposit{
    .mobile-togglers{
        margin: 0 4px;
        padding: 28px 16px 32px;
    }
    form{
        margin-top: 24px;
        width: 100%;
    }
    label{
        font: 600 14px/14px $base-font-family;
        color: $primary-lighter;
        letter-spacing: 0.02rem;
        margin-left: 7px;
        text-align: left;
    }
    input{
        font-size: 18px;
        color:$primary;
        font-family: $apercu;
        &::placeholder{
            font-weight: 400;
        }

    }
    .modal-body{
        @media (max-width: 767px) {
            margin-top:16px;
            padding-bottom: 24px;

        }
    }
    .modal-content{
        border-radius: 0 0 8px 8px;
    }
    .modal-header{
        padding-top: 0;
        text-align: left;

    }
    .modal-title{
        font: 700 24px/24px $apercu;
    }
    p{
        font:400 16px/20px $apercu;

        color: $primary-lighter;
        &.small{
            font-size: 14px;
        }
    }
    .form-group{
        text-align: center;
        width: 100%;
    }
    button:not(.wallet-switch__btn){
        width: 220px;
        height: 40px;
        margin: 0 auto;
    }
}
#withdrawContoChange{
    input{
        width: 162px;
    }
}
.mobile-togglers{
        width: 100%;
        margin: 0 10px;
        border-radius: 8px 8px 0 0;
        background-color: #fff;
        @media screen and (min-width: 768px) {
            display: none;

        }
    ul.buttons-list{
        list-style-type: none;
        display: flex;
        max-width: 286px;
        margin: 0 auto;
        margin-top: 24px;
        height: 40px;
        background-color: #D0E4EF;
        box-shadow: inset 0 0 4px rgba(7, 70, 88, 0.16);
        align-items: center;
        border-radius: 26px;
        padding: 0;
        li{
            flex:1 1;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: $primary;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
				@media screen and (min-width: 768px) {
					font-size: 12px;
				}
            }
            &.active,
			&.js-active{
                background-color: $primary;
                border-radius: 26px;
                height: 100%;

                a{
                    color: #fff;
                }

            }
        }
        &__three{
            max-width: 318px;
            @media screen and (max-width: 767px) {
                max-width: 100%;
                margin: 24px 0 0;
            }
            li{
                a{
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: none;
                }
            }
        }


    }
}
.block-wallet-transfer {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px 24px 40px;
    @media screen and (max-width: 1024px) {
        padding: 24px 16px 40px;

    }
    @media screen and (max-width: 767px) {
       margin-top: 0;
       padding: 24px 16px 0;
    }


    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $primary-lighter;
    }

    .wallet_switch_transfer {
        display: flex;
        gap: 40px;
        align-items: center;
        @media (max-width:1024px) {
            align-items: flex-end;
            justify-content: center;
            width: 100%;
        }
    }


    .wallet-transfer{
        align-items: flex-end;
         @media (max-width:1024px) {
                width: 100%;
            }

        &__form-wrapper{
        text-align: center;
           hr{
            @media (min-width:1024.88px) {
                display: none;

            }
           }
        @media (min-width:1024px) {
            width: fit-content;
        }
    }
    button.btn{
        @media (max-width: 1024px) {
            width: 213px;

        }
    }
}
    .right-addon{
        @media (max-width: 1024px) {
            flex:1 1;
        }
    }
    .wallet-switch {
        align-items: flex-end;
        gap:40px;
        justify-content: flex-start;
        @media (max-width: 1024px) {
            width: 100%;

         }
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            &>*{
                width: 100%;
            }

        }
        label{
            margin: 0;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.02rem;
            color: $primary;
            @media screen and (max-width: 1024px) {
                color: $primary-lighter;

            }
        }
        .form-group{
            flex:1 1;
            @media (max-width: 767px) {
                margin-bottom: 0;

            }
        }
        &__item-wrapper {
            width: 232px;
            @media (max-width: 992px) {
                width: 190px;


            }
        }
        &__switcher{
            display: flex;
            @media (min-width:992px) and (max-width:1024px) {
                flex:1 1;
            }

        }
        &__item {
            width: 100%;
            color: $primary-lighter;
            display: flex;
			min-height: 43px;
            align-items: center;
            @media (max-width: 1024px) {
                border:none;
                position: relative;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap:6px;
                span{
                    font-size: 18px;
                    font-weight: 700;
                    &:first-child{
                        color:$primary;
                    }
                    &:last-child{

                        color: $primary-lighter;
                    }
                }

            }
            @media (max-width: 767px){
                margin-top: 12px;
                padding-bottom: 6px;
            }

            &::before {
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 100%;
                margin-right: 8px;
                background-color: #F09F54;
                @media (max-width: 1024px) {
                    border-radius: 0;
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom:0;

                }
            }

            &[data-account="Vinstkonto"] {
                &::before {
                    background-color: #D96195;
                }
            }

        }

        &__label {
            font: 700 12px/12px $base-font-family;
            letter-spacing: 0.01em;
            color: $primary;
            text-transform: uppercase;
            @media (max-width: 1024px) {
                color:$primary-lighter;
                font-weight: 700;
                font-size: 14px;

            }

        }

        &__btn {
            margin: 24px 24px 0;

        }

		&__account,
		.hidden-xs  {
			line-height: 1.3;
		}

        .hidden-xs {
            font-weight: 400;
            margin-left: 4px;
            @media (min-width: 768px) and (max-width: 1024px) {
                display: none;

            }
        }
        #withdrawalValue{
            @media (min-width: 1024px) {
                width: 220px;

            }
        }
    }

    .wallet-transfer {

        justify-content: flex-start;
        gap: 40px;
        @media (max-width: 1024px) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 1024px) {
           gap:32px;
        }
        .btn-primary{
            width: 160px;
            &.disabled{
                background-color: rgba(230, 236, 238, 1);
                color: rgba(7, 70, 88, 0.3);
                @media (max-width: 767px) {
                    background-color:rgba(7, 70, 88, 1);
                    color: #fff;

                }
            }
        }
        input {
            &::placeholder {
                color: $primary-lighter;
                font-weight: 400;
            }
        }

        &__submit {
            background-color: #E6ECEE;
            max-width: 160px;
            color: rgba(7, 70, 88, 0.3);
        }
    }
}

#spelkonto{
    .block-wallet-transfer{
        @media (max-width: 767px) {
            display: none;

        }
    }
}

#prenumerationer{
    .invoices{
        margin-bottom: 40px;
        @media (max-width:768px) {
            margin-bottom: 16px;
        }
        .invoice{
            @media (min-width: 768px){
				padding: 0 16px;
			}
			padding: 13px 16px;
            .expanded{
                border-bottom: none;
                td{
                    line-height: 18px;
                }
            }
            &__status{
                h3{
                   font-family: $apercu;
                }

            }
            &__values{
                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    // justify-content: space-between;
                    // align-items: center;
                    // gap: 16px;

                }
            }
        }
    }

}

.justify-between{
    justify-content: space-between;
}
.block-kontohistorik{
    background-color: #fff;
    border-radius: 8px;
    padding: 24px 24px 40px;
    margin-top: 40px;
    @media (max-width: 1024px) {
        padding: 24px 16px 40px;

    }
    @media (max-width: 767px) {
        margin-top: 0;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }
    h2{
        margin-left: 18px;
        @media screen and (max-width: 1024px) {
            margin-left: 0;

        }
    }
    .btn-secondary{
        font-size: 14px;
    }
    .responsive-table-filter{
        @media (max-width:768px) {
            flex-direction: column;
            gap:16px
        }
    }
    #tableSelect1{
        @media screen and (max-width: 767px){
            &+.select2 .select2-selection__rendered{
                font-weight: 700;
            }

        }
    }
    .responsive-table{
        tbody{
            td{
                @media (max-width:768px) {

                    &.mb-header-none{
                        &:before{
                            display: none;
                        }
                    }


                }
            }
        }
    }

	&__tabs {
		margin-bottom: 20px;
	}
}
.block-prenumerationer{
    .responsive-table{
        tbody{
            tr:nth-child(n*n*0.5+0.5*n+1){
                background-color: #EAF3F9;
            }
            tr{
                @media (max-width:768px) {
                    &.bg-mob{
                       background: rgba(184, 216, 235, 0.3);
                    }
                    &.hidden-row{

                        border-top: solid dashed rgba(7, 70, 88, 0.25);
                        justify-content: space-between;
                        td{
                            width: fit-content;
                           &:first-child{
                                width: 0;
                                color: $primary;
                            }
                        }


                    }

                }
            }
            td{
                @media (max-width:768px) {
                    justify-content: flex-start !important;
                    &:before{
                        width: 140px;
                        text-align: left;
                        color: $primary !important;
                    }
                    &.mb-header-none{
                        &:before{
                            display: none;
                        }
                    }
                    &.mb-top-right{
                        width: fit-content;
                        padding: 8px 0;
                        position: absolute;
                        right: 16px;
                    }

                }
                @media (max-width:370px) {
					&::before {
						width: 100px;
					}
				}

            }
        }
    }
    .block-hero--mini{
        @media (max-width: 1024px) {
            margin: 0 0 24px;

        }
    }
    .block-promotion__header-title{
        @media (max-width:768px) {
            font:700 20px/32px $apercu;
        }
    }
    .block-white{
        @media screen and (max-width: 767px) {
            margin-bottom: 16px;

        }
    }
    .entity-collection-actions{
        .btn{
            @media (max-width:768px) {
                width: 160px;
            }
        }
    }
}
.block-spelhistorik{
    .responsive-table{
        tbody{
            td{
                @media (max-width:768px) {

                    &.mb-header-none{
                        &:before{
                            display: none;
                        }
                    }


                }
            }
        }
    }
    .responsive-table-filter{
        margin-bottom: 16px;
        @media (max-width:768px) {
            margin-bottom: 24px;
            flex-direction: column;
            gap:24px;

        }

    }
     select{
            width: 280px;
            height: 40px;
            @media (max-width:768px) {
                width: 100% !important;
                max-width: 100%;
            }
        }
    .table-select + .select2 .select2-selection{
        height: 48px;
    }
    .onlinespel{
        @media (max-width:768px) {
            padding: 0 16px;
           &>div{
            flex-direction: column;
            align-items: flex-start;
            gap:8px;
           }
        }
    }

}
.block-vinster{

    .block-hero--mini{
        @media (max-width: 1024px) {
            margin: 0 0 24px;

        }
    }

    .desktop-hidden{
       .block-promotion__header-title{
        margin-left: 27px;

            @media (max-width:768px) {
                font:700 20px/32px $apercu;
                margin-left: 16px;
            }

       }
       .block-white{
            margin-top: 24px;
			padding-left: 22px;
			padding-right: 22px;
            @media (max-width:768px) {
                padding: 26px 16px 40px;
                margin-top: 16px;
            }
            @media (max-width:480px) {
				padding: 18px 11px 35px;
			}
       }
       .t-heading{
            text-transform: uppercase;
            font: 700 12px/16px $base-font-family;
            color: $primary;
			margin-bottom: 2px;
       }
       .order-article{
            display: flex;
            flex-direction: column;
            gap:8px;
            &~div{
                color: $primary-lighter;
            }
                @media (max-width:768px) {
                gap:0;
                flex:0.8 1;
            }
            p{
                font: 400 14px/16px $apercu;
                color: $primary-lighter;
            }
       }
       .order-detailes{
            display: flex;
            flex-direction: column;
            gap:16px;
            padding-top: 16px;
            border-top: dashed 1px $primary-light;
            font: 400 14px/16px $apercu;
            color: $primary-lighter;

       }
    }

}
.responsive-table{
    &.modern{
        border-radius: none;
        border-collapse: collapse;
        thead{
            border-bottom: solid 1px $primary-light;
            font-weight: 700;
            font-size: 12px;
            color:$primary;
            text-transform: uppercase;
            span.regular{
                font-weight: 400;
            }
            th{
                padding: 16px 16px 8px;
                @media (max-width:1200px) {
                    font-size: 12px;
                    line-height: 12px;

                    // white-space: wrap;
                }
                .tooltip-icon-info{
                    margin-bottom: 3px;
                }
                &:last-child:not(.text-right){
                    text-align: initial;

                }
            }
        }
        tbody {

            td{
                 font-weight: 400;
                font-size: 14px;
                line-height: 32px;
                padding: 12px 16px;
                @media screen and (max-width: 1200px) {
                    font-size: 12px;
                    line-height: 12px;
                    padding: 16px;
                    white-space: wrap;

                }
                @media (max-width:768px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 16px;
                    font-size: 14px;
                    font-family: $apercu;
                    &>div{
                        font-size: 12px;
                    }
                    &:before{
                        text-transform: uppercase;
                        font: 700 12px/16px $base-font-family;
                        color: $primary-lighter;
                    }
                }
                @media (max-width:480px) {
					padding-left: 8px;
					padding-right: 8px;
				}
                &:last-child:not(.text-right){
                    text-align: initial;
                }
            &.vinst{
                color: #50B78D;
                span{
                    font-weight: 700;
                }
            }
            span.text-bold{
                font-weight: 700;
            }
            }
            tr:not(.hidden-row){
                border-bottom: solid 1px rgba(7, 70, 88, 0.25);
            }
            tr:nth-of-type(even),
			tr.tr-bg{

                background-color: #EAF3F9;
            }

            tr.hidden-row{
                background-color: transparent;

            }

        }
    }

	&--bg-4n {
		 tr:nth-of-type(4n+3),
		 tr:nth-of-type(4n+4) {
            background-color: #EAF3F9;
		}
	}

}



.has-hidden{
    tbody{
        tr:nth-of-type(even){
            background-color: #EAF3F9;
        }
    }

    tr.hidden-row{
        background-color: transparent;
    }
}
.data-list{
    &__header{
        border-bottom: solid 1px $primary-light;
    }
    &__cell{
        font-weight: 400;
    }
}
.invoice{
    &__header{
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        align-items: center;
        margin-right: 22px;
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;

            justify-content: center;

        }
        @media (max-width: 767px) {
            flex-direction: row;
            align-items: center;
            gap:8px;
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        h3{
            font-size: 20px;
            line-height: 32px;
        }
    }
    &__icon{

        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 5px;
        &--warning{
            background-color: #F3D551;
        }
        &--success{
            background-color: #50B78D;
        }
    }
}
.flex-auto{
    flex:1 1;
}



.offer{
    background-color: rgba(80, 183, 141, 0.16);
    border-radius: 8px;
    padding: 12px 16px;
    margin-top: 5px;
	& + .offer{
		margin-top: 30px;
	}
    @media (max-width:1024px) {
        max-width: 638px;
        margin: 24px auto 0;
    }
    @media (max-width:768px) {
        padding: 16px 16px 24px;
    }
	&--transparent {
		background: transparent;
	}

    &__wrapper{
        display: flex;
        justify-content: space-between;
        @media (max-width:768px) {
            flex-direction: column;
            gap: 24px;

        }
    }
    &__title{
        font-size: 12px;
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 0.01em;
        margin: 0;
        font-family: $base-font-family;
        font-weight: 700;
        @media (max-width:768px) {
            margin-bottom: 16px;
        }
    }
    &__description{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgba(7, 70, 88, 0.75);
        max-width: 360px;
    }
    &__footer{
        @media (max-width:768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                width: 220px;
            }
        }
    }
}
#select2-tableSelectHistorik-container{
    font: 700 16px/20px $apercu;
    color: $primary;

}

.block-spelhistorik .select2-selection{
       display: flex;
    align-items: center;
}

.filter-name{
    font: 700 12px/12px $base-font-family;
    color:$primary-lighter;
    text-transform: uppercase;

}


.vinster-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	color: rgba(7, 70, 88, 0.75);
	margin-top: 30px;
}
.vinster-table__tr{
	background-color: #fff;
	border-bottom: 1px solid rgba(7, 70, 88, 0.5);
}
.vinster-table__tr:nth-child(even) {
	background-color: rgba(234, 243, 249, 1);
}
.vinster-table__th{
	vertical-align: top;
	text-transform: uppercase;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 12px;
	padding-bottom: 8px;
}
.vinster-table__th--image{
	width: 14.5%;
}
.vinster-table__th--orderdatum {
	width: 140px;
}
.vinster-table__th--artikel{
	width: 21.5%;
}
.vinster-table__th--status {
	width: 21.75%;
}
.vinster-table__th,
.vinster-table__td {
	padding-left: 10px;
	padding-right: 10px;
}
.vinster-table__th:first-child,
.vinster-table__td:first-child {
	padding-left:16px;
}
.vinster-table__th:last-child,
.vinster-table__td:last-child {
	padding-right: 16px;
}
.vinster-table__td {
	vertical-align: top;
	line-height: 1.6;
	padding: 24px 10px;
	padding-bottom: 20px; // 20px + ~4px(line-height)

	p {
		width: 100%;
		margin-bottom: 3px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// for pixel perfect
@media screen and (min-width: 1300px) {
	.vinster-table__th--artikel,
	.vinster-table__td--artikel{
		padding-right: 50px;
	}
	.vinster-table__th--status,
	.vinster-table__td--status {
		padding-left: 45px;
	}
}
.vinster-table__status {
	color: #074658;
	margin-bottom: 24px;
}
.vinster-table__info {
	margin-top: 16px;
	font-size: 12px;
}

.order-detailes-top {
	font-size: 14px;
	color: #074658BF;

}

.entity-collection-actions--margin {
	margin-top: 24px;

	@media screen and (max-width: 480px) {
		margin-top: 40px;
	}
}


.spelhistorik-table {
	font-size: 14px;
}
.spelhistorik-table,
.spelhistorik-table td{
	color: rgba(7, 70, 88, 0.75);
}
.spelhistorik-table td{
	@media screen and (min-width: 768px) {
		height: 57px;
	}
}
.spelhistorik-table.responsive-table.modern tbody td{
	line-height: 1.6;
	padding: 4px 16px;
	@media screen and (min-width: 768px) {
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
.spelhistorik-table.responsive-table.modern tbody tr {
	@media screen and (max-width: 767px) {
		padding: 8px 0;
	}
}
.spelhistorik-table.responsive-table.modern thead th:first-child {
	@media screen and (min-width: 768px) {
		width: 25.2%;
	}
}
.spelhistorik-table.responsive-table.modern tbody tr:nth-of-type(even){
	@media screen and (min-width: 768px) {
		background-color: #F3F6F7;
	}
	@media screen and (max-width: 767px) {
		background-color: transparent;
	}
}
.spelhistorik-table.responsive-table.modern thead th:first-child,
.spelhistorik-table.responsive-table.modern tbody td:first-child {
	@media screen and (min-width: 768px) {
		padding-left: 14px;
	}
}
.spelhistorik-table.responsive-table.modern thead th:last-child,
.spelhistorik-table.responsive-table.modern tbody td:last-child {
	@media screen and (min-width: 768px) {
		padding-right: 16px;
	}
}
.spelhistorik-table__bonus {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-size: 14px!important;

	@media screen and (min-width: 768px) {
		margin-right: -16px;
	}
}
.spelhistorik-table__bonus-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.table-select {
	+ .select2 {
		@media screen and (max-width: 480px) {
			min-width: 200px
		}
	}
}


.new-tabs {
	display: flex;
	justify-content: center;
}
.new-tabs__bg {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #D0E4EF;
	border-radius: 53px;
	max-width: 320px;
	width: 100%;
	@media screen and (max-width: 767px) {
		max-width: 286px;
	}
}
.new-tabs__button {
	flex: 1 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 5px 30px;
	background-color:transparent;
	border: none;
	border-radius: inherit;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.3;
	font-family: "Proxima Nova", sans-serif;
	color: #074658;
	transition: all .3s;
	@media screen and (max-width: 767px) {
		font-size: 12px;
		line-height: 1;
	}
}

.new-tabs__button:not(:first-child) {
	margin-left: -16px;
}

.new-tabs__button:hover {
	background-color: #074658;
	color: #fff;
}

.new-tabs__button--active,
.new-tabs__button.js-active {
	border-radius: inherit;
	background-color: #074658;
	color: #fff;
	font-weight: 700;
}


.mobile-togglers {
	// display: block!important;
}


#vinster .block-white {
	@media (min-width: 992px) {
		padding-top: 36px;
	}
}