<div class="post-with-image">
	<div class="post-with-image__text post-with-image__text--@@if (position === 'left'){right}@@if (position === 'right'){left}">
		<h2>Mäklaren Maria hjälper dig till ditt drömboende</h2>
		<p>Sedan 20 år tillbaka bor Maria Persson i provinsen
			Alicante i sydöstra Spanien. Här arbetar hon som
			mäklare och förmedlar bostäder till sollängtande
			svenskar. När du väljer den här vinsten är det Maria som hjälper dig hitta eller bygga ditt drömboende.
			Utöver ljuvliga dopp och vackra vyer, lockas Marias kunder av det sociala livet och den avslappnade kulturen. Samt billiga flygbiljetter från Sverige. Då blir det fler besök från familj och vänner. Utöver ljuvliga dopp och vackra vyer, lockas Marias kunder av det sociala livet och den avslappnade kulturen. Samt billiga flygbiljetter från Sverige. Då blir det fler besök från familj och vänner. </p>
	</div>
	<div class="post-with-image__photo post-with-image__photo--@@if (position === 'left'){left}@@if (position === 'right'){right}"><img src="assets/img/mockup/text-image.jpg" alt="Miljon"></div>
</div>