<footer>
	<div class="block block-footer">
		<div class="container-fluid">
			<div class="row padding-extra">
				<div class="col-sm-6 col-md-3">
					<h4>Om oss</h4>
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4>Spela Bingo</h4>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
					<h4>Spela Bingo</h4>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4>Kundservice</h4>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
					<h4>Aktuellt hos oss</h4>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4>Kontaktinformation</h4>
					<p>Post: Miljonlotteriet, 435 87 Mölnlycke
						Besök: Metallvägen 4, Mölnlycke
						Org nr: 802001-5569</p>
					<p>Umgås med oss på <a href="/">Facebook</a> och få
						unika vinstchanser, tävlingar och andra nyhetstips.</p>
					<h4>Aktuellt hos oss</h4>
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

@@include('components/_overlay.html')
@@include('components/_modals.html')
</div><!-- /#page-wrapper -->
</body>
<script src="/assets/js/app.js"></script>
</html>
