<footer>
	<div class="block block-footer">
		<div class="container-fluid">
			<div class="row padding-extra">
				<div class="col-sm-6 col-md-3">
					<h5>Om oss</h5>
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h5>Spela Bingo</h5>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
					<h5>Spela Bingo</h5>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h5>Kundservice</h5>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
					<h5>Aktuellt hos oss</h5>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<h5>Kontaktinformation</h5>
					<p>Post: Miljonlotteriet, 435 87 Mölnlycke
						Besök: Metallvägen 4, Mölnlycke
						Org nr: 802001-5569</p>
					<p>Umgås med oss på <a href="/">Facebook</a> och få
						unika vinstchanser, tävlingar och andra nyhetstips.</p>
					<h5>Aktuellt hos oss</h5>
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/350x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/350x150"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
