<footer>
	<div class="block block-footer">
		<div class="container-fluid">
			<div class="row padding-extra">
				<div class="col-md-3">
					<h4>Om oss</h4>
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
					<ul class="list-links">
						<li><a href="/" title="">Om Miljonlotteriet</a></li>
						<li><a href="/" title="">Om Miljonlotteriet</a></li>
						<li><a href="/" title="">Om Miljonlotteriet</a></li>
						<li><a href="/" title="">Om Miljonlotteriet</a></li>
						<li><a href="/" title="">Om Miljonlotteriet</a></li>
						<li><a href="/" title="">Om Miljonlotteriet</a></li>

					</ul>
				</div>
				<div class="col-md-3">
					<p>Footer block col</p>
				</div>
				<div class="col-md-3">
					<p>Footer block col</p>
				</div>
				<div class="col-md-3">
					<p>Footer block col</p>
				</div>
			</div>
		</div>
	</div>
</footer>

@@include('components/_overlay.html')
@@include('components/_modals.html')
</div><!-- /#page-wrapper -->
</body>
<script src="/assets/js/app.js"></script>
</html>
