<nav class="ml-2017 navigation navigation--left js-main-navigation">
    <div class="top__brand">
        <a href="/" title="Hem" class="top__brand-logotype">
            <img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
        </a>
    </div>
    <ul>
        <li class="navigation__item navigation__item--only-thumb navigation__item--has-children">
            <a href="#">Startpage</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item">
                    <a href="">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">5 orsaker att prenumerera</a>
                </li>
                <li class="navigation__item">
                    <a href="">Avsluta prenumeration</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-prenumeration">
            <a href="#">Prenumerera</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item navigation__item--active">
                    <a href="">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">5 orsaker att prenumerera</a>
                </li>
                <li class="navigation__item">
                    <a href="">Avsluta prenumeration</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-spela-bingo">
            <a href="#">Spela bingo</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item navigation__item--active">
                    <a href="">Våra bingospel</a>
                </li>
                <li class="navigation__item">
                    <a href="">Aktuell kampanjer</a>
                </li>
                <li class="navigation__item">
                    <a href="">Aktuella jackpottar</a>
                </li>
                <li class="navigation__item">
                    <a href="">Bingoskola</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item navigation__item--has-children js-navigation__item" data-mega-menu-id="mega-vara-lotter">
            <a href="#">Våra lotter</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item">
                    <a href="">Onlinelotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">Övriga onlinespel</a>
                </li>
                <li class="navigation__item">
                    <a href="">Skraplott i butik</a>
                </li>
                <li class="navigation__item">
                    <a href="">Registrera lott</a>
                </li>
                <li class="navigation__item">
                    <a href="">Aktuella kampanjer</a>
                </li>
                <li class="navigation__item">
                    <a href="">Nitlottsdragningen</a>
                </li>
                <li class="navigation__item">
                    <a href="">Jackpott</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item">
            <a href="#">Vinster</a>
        </li>
        <li class="navigation__item">
            <a href="#">Vårt syfte</a>
        </li>
        <li class="navigation__item navigation__item--active navigation__item--default navigation__item--has-children js-navigation__item js-navigation__item--active" data-open-by-default="true" data-mega-menu-id="mega-om-miljonlotteriet">
            <a href="/logged-out.html">Om Miljonlottreriet</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item navigation__item--active">
                    <a href="">Om Miljonlotteriet</a>
                </li>
                <li class="navigation__item">
                    <a href="/blocks-promotion.html#test">Ansvarsfullt spelande</a>
                </li>
                <li class="navigation__item">
                    <a href="">Vad kan jag vinna?</a>
                </li>
                <li class="navigation__item">
                    <a href="">Vinnare</a>
                </li>
                <li class="navigation__item">
                    <a href="">Jobba hos Miljonlotteriet</a>
                </li>
                <li class="navigation__item">
                    <a href="">Press</a>
                </li>
                <li class="navigation__item">
                    <a href="">Kontakta oss</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="top__contact">
        <div class="icon">
            <img src="assets/img/icons/support.svg" width="30" height="30" alt="Pilikon för att visa innehåll">
        </div>
        <div class="text">
            <p>Ring in och beställ dina lotter</p>
            <a href="tel:+46313880000">031-388 00 00</a>
        </div>
    </div>
</nav>

<nav class="ml-2017 navigation navigation--account navigation--right js-account-navigation hidden-md-up">
    <strong class="navigation__title">Mina sidor</strong>
    <ul>
        <li class="navigation__item">
            <a href="#">Registrera lott</a>
        </li>
        <li class="navigation__item">
            <a href="#">Min startsida<span class="navigation__item-notification">2</span></a>
        </li>
        <li class="navigation__item">
            <a href="#">Mina uppgifter</a>
        </li>
        <li class="navigation__item">
            <a href="#">Mitt konto</a>
        </li>
        <li class="navigation__item">
            <a href="#">Mina prenumerationer<span class="navigation__item-notification">1</span></a>
        </li>
        <li class="navigation__item">
            <a href="#">Min spelhistorik</a>
        </li>
        <li class="navigation__item">
            <a href="#">Hämta bonus</a>
        </li>
        <li class="navigation__item">
            <a href="#">Playscan</a>
        </li>
        <li class="navigation__item">
            <a href="#">Logga ut</a>
        </li>
    </ul>
</nav>