<nav class="ml-2017 navigation js-navigation">
    <div class="top__brand">
        <a href="/" title="Hem" class="top__brand-logotype">
            <img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
        </a>
    </div>
    <ul>
        <li class="navigation__item navigation__item--pre-selected navigation__item--only-thumb navigation__item--has-children" data-open-by-default="true">
            <a href="#">Startpage</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item navigation__item--active">
                    <a href="">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">5 orsaker att prenumerera</a>
                </li>
                <li class="navigation__item">
                    <a href="">Avsluta prenumeration</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item navigation__item--has-children">
            <a href="#">Prenumerera</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item navigation__item--active">
                    <a href="">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="">5 orsaker att prenumerera</a>
                </li>
                <li class="navigation__item">
                    <a href="">Avsluta prenumeration</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item navigation__item--has-children">
            <a href="#">Spela bingo</a>
            <button class="navigation__toggle js-navigation__toggle"><i class="icon icon-chevron-right icon-size-small"></i></button>
            <ul class="navigation__children">
                <li class="navigation__item">
                    <a href="#">Prenumerationslotter</a>
                </li>
                <li class="navigation__item">
                    <a href="#">5 orsaker att prenumerera</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item">
            <a href="#">Våra lotter</a>
        </li>
        <li class="navigation__item">
            <a href="#">Vinster</a>
        </li>
        <li class="navigation__item">
            <a href="#">Vårt syfte</a>
        </li>
        <li class="navigation__item">
            <a href="#">Om Miljonlottreriet</a>
        </li>
    </ul>
    <div class="top__contact">
        <div class="icon">
            <img src="assets/img/icons/support.svg" width="30" height="30" alt="Pilikon för att visa innehåll">
        </div>
        <div class="text">
            <p>Ring in och beställ dina lotter</p>
            <a href="tel:+46313880000">031-388 00 00</a>
        </div>
    </div>
</nav>