<aside id="sidebar">
	<ul class="sidebar-navigation">
		<li class="has-content">
			<img src="assets/img/brand/ml-logotype-old.png" alt="Miljonlotteriet">
			<div class="navigation-search">
				<form action="">
					<input type="text" class="form-control" placeholder="Sök...">
					<i class="icon icon-search"></i>
				</form>
			</div>
		</li>
		<li class="has-sub-menu">
			<a href="/">
				<i class="icon icon-game"></i>
				<div>
					Spela
					<span>Bingo och Lotter</span>
				</div>
			</a>
			@@include('layout/sidebar/_sub-navigation-collapsed.html')
		</li>
		<li>
			<a href="/">
				<i class="icon icon-star"></i>
				<div>
					<!-- Example: Use if different text in mobile -->
					<span class="hide-mobile">Vinster</span>
					<span class="show-mobile">Vinster</span>
					<span>Vinster & inspiration</span>
				</div>
			</a>
		</li>

		<li>
			<a href="/">
				<i class="icon icon-heart"></i>
				<div>
					Ändamål
					<span>Du gör skillnad</span>
				</div>
			</a>
		</li>
		<li class="has-sub-menu">
			<a>
				<i class="icon icon-more"></i>
				<div>
					Övrigt
					<span>Mer om oss</span>
				</div>
			</a>
			@@include('layout/sidebar/_sub-navigation.html')
		</li>

		@@if (logged_in === true) {
		<li class="has-sub-menu">
			<a href="/">
				<i class="icon icon-user"></i>
				<div>
					Mina sidor
					<span>Överföringar mm.</span>
				</div>
			</a>
			@@include('layout/sidebar/_sub-navigation.html')
		</li>
		<li>
			<a>
				<i class="icon icon-more"></i>
				<div>
					Insättning
					<span>Sätt in pengar</span>
				</div>
			</a>
		</li>
		<li class="has-content">
			<div class="user">
				<i class="icon icon-default"></i>
				<div>
					<span class="user__name">Stefan Jakobsson</span>
					<span class="user__wallet">Spelplånbok 450kr</span>
					<span class="user__winnings">Vinstkonto 450kr</span>
				</div>
			</div>
		</li>
		}

	</ul>
	<div class="sidebar-account">
		<button class="btn btn-primary btn-icon action-register"><i class="icon icon-more"></i>Registrera lott</button>
		@@if (logged_in === true) {
		<button class="btn btn-default btn-icon action-logout"><i class="icon icon-leave"></i>Logga ut</button>
		}
	</div>
</aside>
