<aside id="sidebar" class="ml-2017">
	<div class="sidebar-navigation-wrapper">

		<ul class="sidebar-navigation">
			<li class="sidebar-navigation__item has-content">
				<a class="logotype" href="/" target="_self">
					<img src="assets/img/brand/ml-logotype.png" alt="Miljonlotteriet">
				</a>
				<div class="navigation-search">
					<form class="search" action="">
						<input type="text" class="form-control" placeholder="Sök...">
						<i class="icon icon-search js-action-search"></i>
					</form>
				</div>
			</li>

			<li class="sidebar-navigation__item has-sub-menu">
				<a class="sidebar-navigation__link" href="/">
					<i class="sidebar-navigation__icon icon icon-game"></i>
					<span class="sidebar-navigation__name">
						Spela
						<span class="sidebar-navigation__desc">Bingo och Lotter</span>
					</span>
				</a>
				@@include('layout/sidebar/_sub-navigation-play.html')
			</li>

			<li class="sidebar-navigation__item">
				<a class="sidebar-navigation__link" href="/vinstshop-start.html">
					<i class="sidebar-navigation__icon icon icon-star"></i>
					<span class="sidebar-navigation__name">
						Vinster
						<span class="sidebar-navigation__desc">Vinster & inspiration</span>
					</span>
				</a>
			</li>

			<li class="sidebar-navigation__item">
				<a class="sidebar-navigation__link" href="/">
					<i class="sidebar-navigation__icon icon icon-heart"></i>
					<span class="sidebar-navigation__name">
						Ändamål
						<span class="sidebar-navigation__desc">Du gör skillnad</span>
					</span>
				</a>
			</li>

			<li class="sidebar-navigation__item has-sub-menu">
				<a class="sidebar-navigation__link" href=""/>
					<i class="sidebar-navigation__icon icon icon-more"></i>
					<span class="sidebar-navigation__name">
						Övrigt
						<span class="sidebar-navigation__desc">Mer om oss</span>
					</span>

				</a>
				@@include('layout/sidebar/_sub-navigation-example.html')
			</li>

			@@if (logged_in === true) {
			<li class="sidebar-navigation__item has-sub-menu">
				<a class="sidebar-navigation__link" href="/">
					<i class="sidebar-navigation__icon icon icon-user">
						@@include('elements/_notification.html', { "number": "1" })
					</i>
					<span class="sidebar-navigation__name">
						Mina sidor
						<span class="sidebar-navigation__desc">Överföringar mm.</span>
					</span>
				</a>
				@@include('layout/sidebar/_sub-navigation-my-pages.html')
			</li>

			<li class="sidebar-navigation__item">
				<a class="sidebar-navigation__link" href="/">
					<i class="sidebar-navigation__icon icon icon-insert"></i>
					<span class="sidebar-navigation__name">
						Insättning
						<span class="sidebar-navigation__desc">Sätt in pengar</span>
					</span>
				</a>
			</li>

			<li class="sidebar-navigation__item has-content">
				<div class="user">
					<i class="sidebar-navigation__icon icon icon-default hidden"></i>
					<div>
						<span class="user__name">Stefan Jakobsson</span>
						<span class="user__wallet"><a href="/" target="_self">Spelplånbok <span>450kr</span></a></span>
						<span class="user__winnings"><a href="/" target="_self">Vinstkonto <span>450kr</span></a></span>
					</div>
				</div>
			</li>
			}
		</ul>
	</div>

	<div class="sidebar-account">
		<a href="/" class="btn btn-primary btn-icon js-action-register"><i class="icon icon-plus"></i>Registrera
			lott</a>
		@@if (logged_in === true) {
		<button class="btn btn-default btn-icon js-action-logout"><i class="icon icon-leave"></i>Logga ut</button>
		}
	</div>
</aside>
