<div class="ml-2017" id="">
  
  <div id="nav-new">
    
      <div class="top">
        <div class="top__holder">
          <div class="top__menu-toggle top__menu-toggle--default  ">
            <div class="buttons" id="toggle-nav">
              <button class="js-toggle-nav toggle-nav">
                <picture>
                  <source media="(max-width:465px)" srcset="assets/img/MenuIcon.small.svg">
                  <img src="assets/img/MenuIcon.svg" alt="menu">
                </picture>
              </button>
              <span>Meny</span>
            </div>
            @@if(!context.logged_in){
              @@if(context.show_adv_block){
                <div class="top__adv-block">
                  <img src="assets/img/top-menu-adv.png" alt="">
                </div>
              }
            }
          </div>
          <div class="top__brand order-1">
            <a href="/" title="Hem" class="top__brand-logotype">
              <picture>
                <source media="(max-width: 426px)" srcset="assets/img/ml-logotype-mobile.png">
                <img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
              </picture>
              
            </a> 
          </div>
          @@if(context.logged_in){
            <div class="top__login user-button top__login-auth" id="user-button">

              <div class="user__title">
                Rebecka
              </div>
              <div class="user__icon">
                

                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20" cy="20" r="19" stroke="#074658" stroke-width="2"/>
                  <path d="M31.407 34.1598C29.9859 32.568 28.244 31.2949 26.2959 30.4241C24.3478 29.5533 22.2374 29.1045 20.1035 29.1071C15.612 29.1071 11.5777 31.0571 8.80005 34.1598M20.1035 24C19.25 24 18.4047 23.8319 17.6161 23.5052C16.8275 23.1786 16.1109 22.6998 15.5074 22.0962C14.9038 21.4926 14.425 20.7761 14.0983 19.9874C13.7717 19.1988 13.6035 18.3536 13.6035 17.5C13.6035 16.6464 13.7717 15.8012 14.0983 15.0126C14.425 14.2239 14.9038 13.5074 15.5074 12.9038C16.1109 12.3002 16.8275 11.8214 17.6161 11.4948C18.4047 11.1681 19.25 11 20.1035 11C21.8275 11 23.4808 11.6848 24.6997 12.9038C25.9187 14.1228 26.6036 15.7761 26.6036 17.5C26.6036 19.2239 25.9187 20.8772 24.6997 22.0962C23.4808 23.3152 21.8275 24 20.1035 24Z" stroke="#074658" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  
                    
                
              </div>
            </div>
          }
          @@if(!context.logged_in){
            <div class="top__login">
              <div class="user__signin">
                <a href="javascript:void(0)" data-target-screen="#user__login" data-current-screen="#user__start">Logga in</a> 
              </div>
              <div class="user__signup">
                <a href="javascript:void(0)" data-target-screen="#user__create-account" data-current-screen="#user__start">Skapa konto</a> 
              </div>
            </div>
            <div class="top__login-mobile">
              <div class="user__signin">
                <a href="javascript:void(0)" data-target-screen="#user__start" data-current-screen="">Logga in</a> 
              </div>
              <div class="user__signup">
                <a href="javascript:void(0)" data-target-screen="#user__start" data-current-screen="">Skapa konto</a> 
              </div>
              
            </div>
          }

        
        </div>
        @@if(!context.logged_in){
          @@if(context.show_adv_block){
            <div class="top__adv-block-mobile">
              <img src="assets/img/top-menu-adv-mob.png" alt="">
            </div>
          }
        }
      </div>
    

	  <div class="menus-wrapper">

      <div id="mobile__overlay"></div>
      <div id="side-menu" class="side-menu">
				
				<div id="mobile__close">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22 2L2 22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M2 2L22 22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						
				</div>
        @@include('layout/_side-menu.html', {})
        
      </div>
      <div class="main-content__wrapper"></div>
      <div id="user-menu" class="user-menu">
        <div class="close-menu close-user-menu">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 2L2 22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 2L22 22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </div>
        <div class="user-menu__wrapper @@if(context.logged_in){user__aouth}">
          @@if(context.logged_in){
            @@include('layout/_user-menu-auth.html', {})
          } 
          @@if(!context.logged_in){
              @@include('layout/_user-menu-noauth.html', {})
            }
        
        </div>
       
      </div>
    </div>
      
  </div>
 
  @@include('components/_message.html',{
  "msg_image": "assets/img/mockup/ML.png",
  "msg_title": "Nytt meddelande",
  "msg_text": "Du har en ny bonus att hämta!"
  })
