<div id="top">
	<div class="top-menu">
		<a class="top-menu__toggle float-left">
			<i class="icon icon-burger"></i>
		</a>
		<a href="/" title="Hem" class="top-menu__logotype">
			<img src="assets/img/brand/ml-logotype-old.png" alt="Miljonlotteriet">
		</a>
		<a class="top-menu__register  float-right">
			Registrera lott
		</a>
	</div>

	<div class="alert alert-info" role="alert">
		<button type="button" class="close" aria-label="Close"><span
			aria-hidden="true">&times;</span></button>
		<strong>540 500 kr i Jackpot</strong>, dragning 11 Mars
	</div>

	<div class="top-account">
		@@if (signed_in === true) {
		<div class="top-account__user">
			<div class="user">
				<div class="float-left">
					<i class="icon icon-default"></i>
					<span class="user__wallet">Spelkonto 500kr</span>
				</div>
				<div class="float-right">
					<span class="user__winnings">Vintkonto 500kr</span>
				</div>
			</div>
		</div>
		}

		<div class="top-account__buttons">
			@@if (signed_in === false) {
			<button id="log-in" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-login">Logga in</button>
			<button class="btn btn-success btn-2-line">
				Skapa konto
				<span>och få 40 kr</span>
			</button>
			}

			<div class="search @@if (signed_in === true) {js-is-active}">
				<form action="">
					<input type="text" class="form-control" placeholder="Sök">
					<button id="search" class="btn btn-default" type="button"><i class="icon icon-search"></i></button>
				</form>
			</div>
		</div>
	</div>
</div>
