<div class="ml-2017">
	<div class="alert alert-info" role="alert">
		<button type="button" class="close js-action-close" aria-label="Close">
            <span aria-hidden="true">
                <i class="icon icon-close icon-size-small"></i>
            </span>
		</button>
		<a href="/" target="_self"><strong>540 500 kr i Jackpot</strong></a>, dragning 11 Mars
	</div>
	<div id="top">
		<div class="top top-simple">
			<div class="top__holder">
				<div class="top__brand">
					<a href="/" title="Hem" class="top__brand-logotype">
						<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
					</a>
				</div>
			</div>
		</div>
	</div>

@@if(context.panel_show){
	<div class="sub-bar">
		<div class="list">
      @@if(context.top_USP_first_show) {
        <div class="list-item" style="">@@text1</div>
      }
      @@if(context.top_USP_second_show) {
        <div class="list-item" style="">@@text2</div>
      }
      @@if(context.top_USP_third_show) {
        <div class="list-item" style="">@@text3</div>
      }
		</div>
	</div>
	}
</div>