<div class="top-new__jackpot">
    <div class="top-new__jackpot-logo">
        <img src="assets/img/top-menu-jackpot-logo.svg" alt="">
    </div>
    <div class="top-new__jackpot-saldo">
        <div class="title">aktuell jackpott</div>
        <div class="saldo"><span>1 234 560</span> kr</div>
    </div>
    <div class="top-new__jackpot-date">
        <div class="title">Nästa dragning</div>
        <div class="date">20 oktober</div>
    </div>
    <div class="top-new__jackpot-cta">
        <a href="javascript:;">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7 7L0.999999 13" stroke="#074658" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</div>