<div class="hi__block">
	<h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
	
	<div class="container">
		<section class="section">
			<div class="row">
				<div class="col-xs-12">
					<div class="hi__block_info">
						<div class="hi__block_info-head">
							Hej Anna!
						</div>
						<div class="hi__block_info-text">
							Personligt meddelande där vi tackar dom för att de är med och stödjer.
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>