<div id="top" class="ml-2017">
	<div class="top-menu">
		<a class="top-menu__left js-toggle-sidebar">
			<i class="icon icon-burger"></i>
			<span>Meny</span>
		</a>
		<a href="/" title="Hem" class="top-menu__logotype">
			<img src="assets/img/brand/ml-logotype.svg" alt="Miljonlotteriet">
		</a>
		<a href="/" class="top-menu__right btn btn-link js-action-register ">
			Registrera lott
		</a>
	</div>

	<div class="alert alert-info" role="alert">
		<button type="button" class="close js-action-close" aria-label="Close">
			<span aria-hidden="true">
				<i class="icon icon-close icon-size-small"></i>
			</span>
		</button>
		<a href="/" target="_self"><strong>540 500 kr i Jackpot</strong></a>, dragning 11 Mars
	</div>

	@@include('components/_message.html',{
	"msg_image": "assets/img/mockup/ML.png",
	"msg_title": "Nytt meddelande",
	"msg_text": "Du har en ny bonus att hämta!"
	})

	<div class="top-account">
		@@if (logged_in === true) {
		<div class="top-account__user">
			<div class="user">
				<div class="float-left">
					<i class="icon icon-default hidden"></i>
					<span class="user__wallet"><a href="/" target="_self">Spelkonto 500kr</a></span>
				</div>
				<div class="float-right">
					<span class="user__winnings"><a href="/" target="_self">Vinstkonto 500kr</a></span>
				</div>
			</div>
		</div>
		}
		@@if (logged_in === false) {
		<div class="top-account__buttons">
			<button id="log-in" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-login">Logga in</button>
			<button class="btn btn-success btn-2-line" data-toggle="modal" data-target="#modal-create-account">Skapa konto
				<span>och få 40 kr</span>
			</button>
		</div>
		}
	</div>
</div>

