@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",

  "price": "450 kr",
  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-tree.html', {
  "href": "/vinstshop-page-v4.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",
  "price": "450 kr",
  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-two.html', {
  "href": "/vinstshop-page-v4.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",
  "price": "100 kr",
  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
  "image": "assets/img/mockup/sunset.jpg",
  "hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
  "title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
  "price": "30 kr",
  "variablesprice":  false,
  
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
  "image": "assets/img/mockup/sunset.jpg",
  "hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
  "title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
  "price": "30 kr",
  "variablesprice":  false,

  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
  "image": "assets/img/mockup/sunset.jpg",
  "hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
  "title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
  "price": "30 kr",

  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
  "image": "assets/img/mockup/sunset.jpg",
  "hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
  "title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
  "price": "30 kr",

  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page-v4.html",
  "image": "assets/img/mockup/sunset.jpg",
  "hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
  "title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
  "price": "30 kr",

  "variablesprice":  false,
  "dreamButton": true,
  "extended" : true
})
