@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/butterfly.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"label": "Nyhet",
"color": "blue",
"title": "En rad",
"subtitle": "Fusce Nibh",
"price": "450 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/butterfly.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "200 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"subtitle": "Fusce Nibh",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Euismod Malesuada Ipsum.",
"price": "30 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "30 kr",
"dreamButton": true
})


@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Euismod Malesuada Ipsum.",
"subtitle": "Fusce Nibh",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "30 kr",
"dreamButton": true
})