@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",
  "price": "450 kr",
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-tree.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",
  "price": "450 kr",
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-two.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
  "label": "Nyhet",
  "color": "pink",
  "title": "En rad",
  "subtitle": "Fusce Nibh",
"price": "10.000 kr",
  "dreamButton": true,
  "extended" : true
})



@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
"title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
"price": "30 kr",
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
"title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
"price": "30 kr",
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
"title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
"price": "30 kr",
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
"title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
"price": "30 kr",
  "dreamButton": true,
  "extended" : true
})






@@include('blocks/product-list/_product-item-hover.html', {
  "href": "/vinstshop-page.html",
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",

  "label": "Nyhet",
  "color": "pink",
"title": "Euismod Malesuada Ipsum.",
  "subtitle": "Fusce Nibh",
"price": "30 kr",
  "dreamButton": true,
  "extended" : true
})






<!--


@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/butterfly.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "200 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"subtitle": "Fusce Nibh",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Euismod Malesuada Ipsum.",
"price": "30 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "30 kr",
"dreamButton": true
})


@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/nature.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Euismod Malesuada Ipsum.",
"subtitle": "Fusce Nibh",
"price": "10.000 kr",
"dreamButton": true
})

@@include('blocks/product-list/_product-item-hover.html', {
"image": "assets/img/mockup/sunset.jpg",
"hoverImage": "assets/img/mockup/car.jpg",
"title": "Flera rader skulle kunna fungera såhär.",
"price": "30 kr",
"dreamButton": true
})-->
