<li>
	<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
	<div class="data-list__cell" data-header="Belopp">40.00kr</div>
	<div class="data-list__cell" data-header="Typ">Orginal</div>
	<div class="data-list__cell" data-header="Status">
		<span class="text-color-orange">Obetald</span>
	</div>
	<div class="data-list__cell data-list__cell--actions">
		<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
				data-text-toggle="Visa mindre">Visa mer
		</button>
	</div>

	<div class="data-list__dropdown">
		<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
		<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
	</div>
</li>

<li>
	<div class="data-list__cell" data-header="Förfallodatum">Idag 14:01</div>
	<div class="data-list__cell" data-header="Belopp">40.00kr</div>
	<div class="data-list__cell" data-header="Typ">Orginal</div>
	<div class="data-list__cell" data-header="Status">
		<span class="text-color-green">Obetald</span>
	</div>
	<div class="data-list__cell data-list__cell--actions">
		<button class="btn btn-data-action btn-with-arrow js-toggle-data-list-dropdown"
				data-text-toggle="Visa mindre">Visa mer
		</button>
	</div>

	<div class="data-list__dropdown">
		<div class="data-list__dropdown-cell"><span>OCR:</span> 024242234-0240</div>
		<div class="data-list__dropdown-cell"><span>Antal:</span> 2st</div>
	</div>
</li>