<tr>
	<td data-header="Tidpunkt">Idag 14:01</td>
	<td data-header="Belopp">40.00kr</td>
	<td data-header="Typ">Orginal</td>
	<td data-header="Status"><span class="text-color-green">Betald</span></td>
	<td>
		<button class="btn btn-data-action btn-with-arrow js-show-invoice-history-details"
				data-text-toggle="Visa mindre">Visa mer
		</button>
	</td>
</tr>
<tr class="invoice-history-dropdown">
	<td colspan="6">
		<hr>
		<div class="invoice-history-dropdown__wrapper">
			<div class="invoice-history-dropdown__cell"><span>OCR:</span> 024242234-0240</div>
			<div class="invoice-history-dropdown__cell"><span>Antal:</span> 2st</div>
		</div>
	</td>
</tr>