<div class="message__header">
	<div class="message-sender message__thumbnail">
		<span class="message-sender__initials">ML</span>
	</div>
	<div class="message__sender">IOTG NTO</div>
	<div class="message__subject">Läs mer om var månadens överskott gick..</div>
	<div class="message__date">2017-11-02</div>
</div>

<p>Det finns en ny bonus för dig att hämta ut! Ny dag ny bonus! Vi bjuder alla våra medlemmar på
	en liten present när måndagen kanske känns som segast.</p>

<p>Ange <span style="color: #1670f6">måndagstrött</span> när du öppnar ett spel så bjuder vi på
	50 kr att spela för!</p>

<div class="message__cta">
	<a class="btn btn-primary" href="/">Hämta bonuskod</a>
</div>