<div class="product-slider__small-box side-img">
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/paslakan-2.jpg"  data-back='/assets/img/mockup/paslakan-2.jpg' alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview"  src="/assets/img/mockup/paslakan-2.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/paslakan-2.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/paslakan-4.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/paslakan-2.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/paslakan-6.jpg" alt=""/>
    </div>
</div>