<div class="product-slider__small-box side-img">
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/car.jpg" data-back='/assets/img/mockup/car.jpg' alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview"  src="/assets/img/mockup/car.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/car.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/car.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/car.jpg" alt=""/>
    </div>
    <div class="product-slider__item product-slider__item--small">
        <img class="small-preview" src="/assets/img/mockup/car.jpg" alt=""/>
    </div>
</div>