.accordion {
	display: block;
	margin-bottom: 30px;

	background-color: #ffffff;
	text-decoration: none;
	&--multi {
		padding: 1.25rem 1.75rem;
		border: 1px solid #d8dde6;
		border-radius: 10px;
		box-shadow: 0 0 1px 0 rgba(0,0,0,0.16), 0 0 5px 0 rgba(0,0,0,0.12);
		.accordion-item {
			& + .accordion-item > .accordion__title {
				& > .icon {
					top: 25px;
				}
			}
		}
	}
	&:not(.accordion--multi) {
		.accordion-item {
			padding: 1.25rem 1.75rem;
			border-radius: 10px;
			border: 1px solid #d8dde6;
			box-shadow: 0 0 1px 0 rgba(0,0,0,0.16), 0 0 5px 0 rgba(0,0,0,0.12);
			&:not(:last-child) {
				margin-bottom: 30px;
			}
			& + .accordion-item > .accordion__title {
				margin-top: 0;
				padding-top: 0;
				&::before {
					content: none;
				}

			}
		}
	}
	&__title {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
		padding-right: 30px;
		color: #0078bf;
		cursor: pointer;
		&:hover,
		&:focus {
			.h2 {
				text-decoration: underline;
			}
		}
		.h2 {
			margin: 0;
			font-size: 30px;
			font-weight: 400;
		}
		& > .icon {
			position: absolute;
			right: 5px;
			top: 10px;
			font-size: 1.113rem;
			transition: transform .5s cubic-bezier(0, 1, 0, 1);
		}
	}
	&-content {
		position: relative;
		display: none;
		margin-top: 1.25rem;
		margin-right: -10px;
		margin-left: -10px;
		padding-top: 1.25rem;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 1px;
			background-color: #d8dde6;
		}
		p:last-child {
			margin-bottom: 25px;
		}
		ul {
			display: block;
			margin: 25px 0!important;
			padding: 0;
			list-style-type: none;

			li {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				padding-left: 25px;
				padding-right: 10px;
				margin-bottom: 10px;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.35;
				color: #2e3237;
				@media only screen and (min-width: 768px) {
					width: 49%;
				}

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 1px;
					display: inline-block;
					vertical-align: top;
					height: 16px;
					width: 16px;

					background-position: center;
					background-repeat: no-repeat;
					-webkit-background-size: contain;
					background-size: contain;
					background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjNENCMDUwIiBkPSJNNi4xMiAxMmMtLjM1IDAtLjctLjEzLS45Ni0uMzlMLjQgNi45NGExLjMgMS4zIDAgMCAxIDAtMS44OCAxLjM3IDEuMzcgMCAwIDEgMS45MSAwbDMuODIgMy43NUwxNC43LjM5YTEuMzcgMS4zNyAwIDAgMSAxLjkgMCAxLjMgMS4zIDAgMCAxIDAgMS44N0w3LjA3IDExLjZjLS4yNi4yNi0uNi4zOS0uOTUuMzl6Ii8+PC9zdmc+);
				}
			}
		}
		img {
			display: block;
			margin: 15px auto;
		}
		&--column {
			display: flex;
			flex-flow: row wrap;

			@media only screen and (min-width: 768px) {
				flex-flow: row nowrap;
			}

			&::before {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
			@media only screen and (min-width: 768px) {
				.accordion-inner {
					width: 50%;
				}
			}

			ul {
				li {
					width: 100%;
				}
			}
		}
	}

	&-item {
		& + .accordion-item > .accordion__title {
			margin-top: 15px;
			padding-top: 15px;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				height: 1px;
				background-color: #d8dde6;
			}

		}
		&.active {
			.accordion__title {
				& > .icon {
					transform: rotate(180deg);
				}
			}
		}
	}

	&-inner {
		margin: 10px 0;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;

		&--thumb {
			text-align: center;
		}
	}
}