.alert,
&.alert {
	border: none;
	border-radius: 0;
	margin: 0;
	color: $color-light;
	text-align: center;
	padding: $padding-small;

	@include min-screen($screen-sm-min) {
		padding: $padding-default;
	}

	.close {
		color: #fff;
		text-shadow: none;
		opacity: 1;
		font-size: 13px;
	}
}

.alert-info,
&.alert-info {
	background-color: $color-complement-coral;
}

#alert-cookie,
&#alert-cookie {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color-cloud;
	color: $color-complement-sky;

	@include min-screen($screen-sm-min) {
		position: relative;
	}
	.close {
		color: $color-complement-sky;
	}
}
