.alert,
&.alert {
	border: none;
	border-radius: 0;
	margin: 0;
	color: $color-light;
	text-align: left;

	padding: $padding-medium $padding-default;

	@include min-screen($screen-sm-min) {
		padding: $padding-default;
		text-align: center;
	}

	.close {
		color: #fff;
		text-shadow: none;
		opacity: 1;
	}
}

.alert-info,
&.alert-info {
	background-color: $color-complement-coral;

	a,
	a:hover {
		color: $color-light;
	}
}

#alert-cookie,
&#alert-cookie {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: $color-cloud;
	color: $color-complement-sky;

	&.alert--happy {
		background-color: $color-pink;
	}

	&.alert--regular {
		background-color: #2e3237;
	}

	&.alert--error,
	&.alert--warning {
		background-color: $color-roman;
	}

	&.alert--happy,
	&.alert--regular,
	&.alert--error,
	&.alert--warning {
		color: $color-light;
		.close {
			color: $color-light;
		}
	}

	@include min-screen($screen-sm-min) {
		top: 0;
		position: relative;
	}

	.close {
		color: $color-complement-sky;
	}
}

.alert,
&.alert {
	&--happy {
		background-color: $color-pink;
	}
	&--regular {
		background-color: #2e3237;
	}
	&--error,
	&--warning {
		background-color: $color-roman;
	}

	&--happy,
	&--regular,
	&--error,
	&--warning {
		color: $color-light;
		.icon {
			color: $color-light;
		}
	}
}
