.alert {
	border: none;
	border-radius: 0;
	margin: 0;
	color: $color-light;
	text-align: center;
	padding: $padding-small;

	@include min-screen($screen-sm-min) {
		padding: $padding-default;
	}

	.close {
		color: #fff;
		text-shadow: none;
		opacity: 1;
		font-size: 13px;
	}
}

.alert-info {
	background-color: $color-complement-coral;
}
