/* Bootstrap modifications */
.btn {
	border-radius: 2em;
	border: none;
	padding: 8px 30px;
	font-family: $semi-heading-family;
	font-size: $base-font-size;
	font-weight: 700;
	transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

	i {
		transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;
	}

	&[disabled] {
		opacity: 1;
		background-color: rgba(0, 120, 192, .65);
	}

	&:focus,
	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		outline: none;
		border: none;
		box-shadow: none;

		&[disabled] {
			background-color: rgba(0, 120, 192, .65);
		}
	}
}

.btn-default {
	background-color: $color-complement-sky;
	color: $color-light;

	&:focus {
		background-color: $color-complement-sky;
		color: $color-light;
	}

	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: $color-complement-sky-light;
		color: $color-light;
	}

	&.btn--invert {
		background-color: $color-light;
		color: $color-complement-sky;

		&:focus {
			background-color: $color-light;
			color: $color-complement-sky;
		}

		&:hover,
		&:active,
		&:active:hover,
		&:active:focus {
			background-color: $color-light;
			color: $color-complement-sky;
		}
	}
}

.btn-primary {
	background-color: $color-primary;
	color: $color-light;

	&:focus {
		background-color: $color-primary;
		color: $color-light;
	}

	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: $color-blue-light;
		color: $color-light;
	}

	&.btn--invert {
		background-color: $color-light;
		color: $color-primary;

		&:focus {
			background-color: $color-light;
			color: $color-primary;
		}

		&:hover,
		&:active,
		&:active:hover,
		&:active:focus {
			background-color: darken($color-light, $color-darken-amount);
			color: $color-primary;
		}
	}
}
.btn-target,
.btn-success {
	background-color: $color-accent;
	color: $color-white;

	&:focus {
		background-color: $color-accent;
	}

	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: $color-green-light;
		color: $color-white;
	}
}

.btn-link {
	color: $color-primary;

	&:hover,
	&:focus {
		color: $color-blue-light;
		text-decoration: none;
	}
}

.btn-data-action {
	background: none;
	padding: 0;
	color: #546785;
	font-weight: 600;
	line-height: 20px;
	-webkit-appearance: none;
	border-radius: 0;

	&:active, &:focus, &:hover {
		color: #546785;
	}
}

.btn-with-arrow {
	&:after {
		content: $icon-chevron-down;
		vertical-align: middle;
		margin-left: 5px;
		font-size: $size-smallest;
		font-family: $base-icon-family;
	}

	&.btn-with-arrow--active {
		&:after {
			content: $icon-chevron-up;
		}
	}
}

/* Custom */
.btn-secondary {
	background-color: $color-complement-coral;
	color: $color-light;

	&:focus {
		background-color: $color-complement-coral;
		color: $color-light;
	}

	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: $color-gray-light;
		color: $color-light;
	}
}

.btn-highlight {
	background-color: $color-complement-lava;
	color: $color-light;

	&:focus {
		background-color: $color-complement-lava;
		color: $color-light;
	}

	&:hover,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: $color-complement-lava-light;
		color: $color-light;
	}
}

.btn-icon {
	i {
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 0;
		font-size: $size-medium;
		transform: translateY(-50%);

		&.icon-right {
			left: auto;
			right: 20px;
		}
	}
}

.btn-icon-only {
	position: relative;
	padding: 0;
	height: 40px;
	width: 40px;
	border-radius: 100%;

	i {
		display: block;
		font-size: inherit;
	}

	&--medium {
		width: 30px;
		height: 30px;

		i {
			font-size: $size-smaller;
		}
	}
}

.btn-input {
	background-color: $color-light;
	border-radius: 4px;
	padding: 12px 12px;
	border: 1px solid $color-input-border;
	height: 44px;

	i {
		font-size: $base-font-size;
		line-height: 1.5;
		color: $color-complement-sky;
	}

	&:hover,
	&:focus {
		box-shadow: none;
	}

	&.js-is-active {
		i {
			color: $color-primary;
		}
	}
}

.btn-2-line {
	padding-top: 5px;
	padding-bottom: 5px;

	span {
		display: block;
		font-size: $size-smallest;
		font-weight: 400;
		line-height: 1;
	}
}
a.btn-2-line {
	padding-top: 10px;
}

.btn-load {
	position: relative;

	.spinner {
		position: absolute;
		left: 15px;
		top: 50%;
		width: 22px;
		transform: translateY(-50%);
		transition: opacity $duration-quick $delay-none $ease-in-out;
		opacity: 0;
	}

	&.js-is-loading {
		.spinner {
			opacity: 1;
		}
	}
}

.btn--bottom-center {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.btn.disabled,
.btn-disabled {
	cursor: not-allowed;

	&,
	&:hover,
	&:focus,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: rgba(0, 120, 192, .65);
	}
}

.btn-large {
	padding: 18px 60px;
	line-height: 1;
}


.btn-wide {
	display: inline-block;
	padding: $padding-medium $padding-default;
	color: $color-white;
	background: $color-green;
	border: 2px solid $color-green;
	min-width: 250px;
	max-width: 100%;
	text-decoration: none;
	font-size: 18px;
	line-height: 1;
	&:focus {
		color: $color-white;
		border-width: 2px;
	}
	&:hover {
		color: $color-green;
		background: $color-white;
		border: 2px solid $color-green;
		border-width: 2px;
	}

	&--blue {
		border: 2px solid $color-blue;
		background: $color-blue;

		&:hover {
			color: $color-blue;
			background: $color-white;
			border: 2px solid $color-blue;
		}
	}
	&--green {
		border: 2px solid $color-green;
		background: $color-green;

		&:hover {
			color: $color-green;
			background: $color-white;
			border: 2px solid $color-green;
		}
	}
	&--white {
		border: 2px solid $color-green;
		background: $color-white;
		color: $color-green;
		&:focus {
			color: $color-green;
		}
		&:hover {
			color: $color-white;
			background: $color-green;
			border: 2px solid $color-green;
		}
	}
	&--orange {
		border: 2px solid $color-orange;
		background: $color-orange;

		&:hover {
			color: $color-orange;
			background: $color-white;
			border: 2px solid $color-orange;
		}
	}

}