/* Bootstrap modifications */
.btn {
	font-size: 12px;
	border-radius: 18px;
	font-weight: 600;
	padding: 9px 30px;
	transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

	i {
		transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;
	}
}

.btn-default {
	background-color: $color-complement-sky;
	color: $color-light;
	border: none;

	&:hover,
	&:focus {
		background-color: darken($color-complement-sky, $color-darken-amount);
		color: $color-light;
	}

	&.btn-invert {
		background-color: $color-light;
		color: $color-base-complement;
		border: none;

		&:hover,
		&:focus {
			background-color: darken($color-light, $color-darken-amount);
			color: $color-base-complement;
		}
	}
}

.btn-primary {
	background-color: $color-primary;
	color: $color-light;

	&:hover,
	&:focus {
		background-color: darken($color-primary, $color-darken-amount);
		color: $color-light;
	}
}

.btn-success {
	background-color: $color-accent;

	&:hover,
	&:focus {
		background-color: darken($color-accent, $color-darken-amount);
	}
}

.btn-link {
	color: $color-primary;

	&:hover,
	&:focus {
		color: darken($color-primary, $color-darken-amount);
		text-decoration: none;
	}
}

/* Custom */
.btn-secondary {
	background-color: $color-complement-coral;
	color: $color-light;

	&:hover,
	&:focus {
		background-color: darken($color-complement-coral, $color-darken-amount);
		color: $color-light;
	}
}

.btn-icon {
	i {
		font-size: 18px;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;

		&.icon-right {
			left: auto;
			right: 20px;
		}
	}
}

.btn-icon-only {
	position: relative;
	padding: 0;
	height: 40px;
	width: 40px;
	border-radius: 100%;

	i {
		display: block;
		font-size: 14px;
	}
}

.btn-input {
	background-color: $color-light;
	border-radius: 4px;
	padding: 12px 12px;
	border: 1px solid $color-input-border;
	height: 44px;

	i {
		font-size: 14px;
		line-height: 1.5	;
		color: $color-complement-sky;
	}

	&:hover,
	&:focus {
		box-shadow: none;
	}

	&.js-is-active {
		i {
			color: $color-primary;
		}
	}
}

.btn-2-line {
	padding-top: 2px;
	padding-bottom: 2px;

	span {
		display: block;
		font-size: 10px;
		font-weight: 400;
	}
}

.btn-input {

}


