.checkbox {
	label {
		min-height: 30px;
		padding-left: 35px;
	}

	input[type="checkbox"] {
		margin-left: -35px;
	}

	.custom-checkbox {
		appearance: none;
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 3px;
		border: 1px solid #cacece;
		background-color: #fff;

		&:checked:after {
			content: '\e905';
			position: absolute;
			top: 3px;
			left: 4px;
			font-size: 16px;
			font-family: $base-icon-family;
			color: #A9DB9B;
		}
	}

	&--small {
		label {
			padding-left: 25px;
			line-height: 1.5;
		}

		input[type="checkbox"] {
			margin-top: 1px;
			margin-left: -25px;
		}

		.custom-checkbox {
			width: 15px;
			height: 15px;

			&:checked:after {
				top: 1px;
				left: 1px;
				font-size: 12px;
			}
		}
	}
}

// Custom radio buttons
.custom-radio {
	&__label {
		&-info {
			display: block;
			font-style: italic;
			font-size: 12px;
		}
	}
	[type="radio"] {
		position: absolute;
		left: -999em;

		+ label {
			position: relative;
			padding-left: 30px;
			cursor: pointer;

			/* Fake radio */
			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid $color-border;
				background-color: $color-white;
			}
		}

		/* Checked icon */
		&:checked + label:after {
			content: '';
			position: absolute;
			top: 3px;
			left: 5px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $color-gray;
		}
	}
}

// Custom checkbox and radio buttons
.custom-checkbox-radio {
	label {
		padding-left: 0;
		line-height: 1.5;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.cr {
			position: relative;
			display: inline-block;
			border: 1px solid $color-border;
			background-color: $color-light;
			border-radius: 3px;
			width: 15px;
			height: 15px;
			float: left;
			margin-right: 10px;

			.cr-icon {
				position: absolute;
				font-size: 12px;
				line-height: 0;
				top: 50%;
				left: 10%;
				color: #3cb567;
			}
		}

		input[type="checkbox"] {
			display: none;

			& + .cr > .cr-icon {
				transform: scale(1.1);
				opacity: 0;
				transition: all $duration-quick $delay-none $ease-in-out;
			}

			&:checked + .cr > .cr-icon {
				transform: scale(1);
				opacity: 1;
			}

			&:disabled + .cr {
				opacity: .5;
			}
		}
	}
}

/* Used on Vinstshop atm - to be implemented on other pages later and renamed to .custom-checkbox */
.custom-checkbox-v2 {
	[type="checkbox"] {
		position: absolute;
		left: -999em;

		+ label {
			position: relative;
			padding-left: 35px;
			cursor: pointer;

			/* Fake checkbox */
			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				width: 24px;
				height: 24px;
				border-radius: .2em;
				border: 1px solid $color-gray-border;
				background-color: $color-white;
			}
		}

		/* Checked icon */
		&:checked + label:after {
			content: '\e905';
			position: absolute;
			top: 1px;
			left: 5px;
			font-size: 16px;
			font-family: $base-icon-family;
			color: #A9DB9B;
		}
	}
}