.checkbox label {
	padding-left: 35px;
}

.checkbox input[type="checkbox"] {
	margin-left: -35px;
}

.custom-checkbox {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	width: 24px; height: 24px;
	
}

.custom-checkbox:checked:after {
	content: '\e905';
	font-size: 16px;
	font-family: "ml-icons";
	position: absolute;
	top: 3px;
	left: 4px;
	color: #A9DB9B;
}
