.form-control {
	font-size: 14px;
	font-weight: 500;
	box-shadow: none;
	border: 1px solid $color-input-border;
	height: 38px;
	padding: 9px 12px;
}

// Hide number toggle button
input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
