input {
	// -webkit-appearance: none;
}

// Hide number toggle button
input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

label {
	margin-bottom: $margin-small;
	color: $color-base-complement;
	font-weight: 500;
}

.form-control {
	font-size: 14px;
	font-weight: 500;
	box-shadow: none;
	border: 1px solid $color-input-border;
	height: 44px;
	padding: 12px 12px;
}

.has-error .control-label {
	color: $color-base-complement;
}

.has-error .help-block,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #77839D;
	font-weight: 300;
}

.has-error .form-control {
	border-color: rgba($color-complement-lava, 0.3);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-radius: 0;
}

.input-group {
	&.input-vertical {
		width: 100%;
		margin-bottom: 15px;

		.form-group {
			min-height: 29px;

			&:first-of-type {
				.form-control {
					border-radius: 6px 6px 0 0;
					border-bottom: none;
				}
			}

			&:last-of-type {
				.form-control {
					border-radius: 0 0 6px 6px;
					border-top: none;
				}
			}
		}
	}
}

.inner-addon {
	position: relative;

	.icon {
		position: absolute;
		padding: 13px;
		pointer-events: none;
		font-size: 16px;
		opacity: 0;
		z-index: 50;
		transition: opacity $duration-quick $delay-none $ease-in-out;
	}

	.js-action-empty-input {
		cursor: pointer;
		color: $color-complement-sky;
	}

	&.js-has-content {
		&.left-addon {
			input {
				padding-left: 45px;
			}
		}

		&.right-addon {
			input {
				padding-right: 30px;
			}
		}

		.icon {
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.left-addon {
	.icon {
		left: 0;
	}
}

.right-addon {
	.icon {
		right: 0;
	}
}
