/* Reset appearance for text and number fields */
input[type="text"],
input[type="number"],
input[type="email"] {
	appearance: none;
}

// Hide number toggle button
input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
select {
	appearance: none;
}

label {
	margin-bottom: $margin-small;
	color: $color-base-complement;
	font-weight: 500;
	position: relative;
	cursor: pointer;
}

.form-control {
	font-size: $base-font-size;
	font-weight: 500;
	box-shadow: none;
	border: 1px solid $color-input-border;
	height: 44px;
	padding: 12px 12px;

	&[disabled] {
		background-color: $color-dark-white;
	}
}

select.form-control {
	border-radius: 40px;
	padding-right: 40px;
}

.has-error .control-label {
	color: $color-base-complement;
}

.has-error .help-block,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #77839d;
	font-weight: 300;
}

.has-error .form-control {
	border-color: rgba($color-complement-lava, 0.3);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.input-group {
	.form-control {
		border-radius: 6px 0 0 6px;
	}

	.input-group-addon:last-child,
	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group > .btn,
	.input-group-btn:last-child > .dropdown-toggle,
	.input-group-btn:first-child > .btn:not(:first-child),
	.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
		border-radius: 0 6px 6px 0;
	}

	&.input-vertical {
		width: 100%;
		margin-bottom: 15px;

		.form-group {
			min-height: 44px;
			margin-bottom: 0;

			.input-group-addon:last-child,
			.input-group-btn:last-child > .btn,
			.input-group-btn:last-child > .btn-group > .btn,
			.input-group-btn:last-child > .dropdown-toggle,
			.input-group-btn:first-child > .btn:not(:first-child),
			.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
				border-radius: 0 0 0 0;
			}

			.form-control {
				border-radius: 0;
			}

			&:first-of-type {
				.form-control {
					border-radius: 6px 6px 0 0;
					border-bottom: none;
				}

				.input-group {
					.form-control {
						border-radius: 6px 0 0 0;
					}
				}

				.input-group-addon:last-child,
				.input-group-btn:last-child > .btn,
				.input-group-btn:last-child > .btn-group > .btn,
				.input-group-btn:last-child > .dropdown-toggle,
				.input-group-btn:first-child > .btn:not(:first-child),
				.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
					border-radius: 0 6px 0 0;
				}
			}

			&:last-of-type {
				.form-control {
					border-radius: 0 0 6px 6px;
					border-top: none;
				}

				.input-group {
					.form-control {
						border-radius: 0 0 0 6px;
					}
				}

				.input-group-addon:last-child,
				.input-group-btn:last-child > .btn,
				.input-group-btn:last-child > .btn-group > .btn,
				.input-group-btn:last-child > .dropdown-toggle,
				.input-group-btn:first-child > .btn:not(:first-child),
				.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
					border-radius: 0 0 6px 0;
					border-top: 0;
				}
			}
		}
	}

	&.input-vertical--small {
		.form-group {
			&:first-of-type {
				.form-control {
					border-bottom: 1px solid $color-input-border;
				}
			}
		}
	}
}

.inner-addon {
	position: relative;

	.icon {
		position: absolute;
		padding: 13px;
		pointer-events: none;
		font-size: $base-font-size;
		z-index: 50;
		transition: opacity $duration-quick $delay-none $ease-in-out;
		color: $color-complement-sky;
	}

	.select-arrow {
		font-size: 10px;
		padding: 17px;
	}

	.js-action-empty-input {
		opacity: 0;
		cursor: pointer;
	}

	&.js-has-content {
		&.left-addon {
			input {
				padding-left: 45px;
			}
		}

		&.right-addon {
			input {
				padding-right: 30px;
			}
		}

		.js-action-empty-input {
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.left-addon {
	.icon {
		left: 0;
	}
}

.right-addon {
	.icon {
		right: 0;
	}
}
