// ML Icons
.icon {
	font-size: 26px;
	line-height: 1;
	font-weight: 400;
}

.icon-size-small {
	font-size: $size-smaller;
}

// Custom icons
.icon-cirlce {
	border-radius: 100%;
}

.icon-default {
	border-radius: 100%;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $color-light;
	border: 1px solid $color-border;
}

// Icons styles
.vi {
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.vi-phone {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjMDA3OEJGIiBkPSJNMTIuNSAwYTEyLjUgMTIuNSAwIDEgMCAwIDI1IDEyLjUgMTIuNSAwIDAgMCAwLTI1em02LjYgMTguMjRsLTEgMWMtLjE4LjE4LS43LjI5LS43Mi4yOUExMS44MSAxMS44MSAwIDAgMSA1LjQ3IDcuNTlzLjExLS41MS4zLS42OWwxLTFhMS42NyAxLjY3IDAgMCAxIDEuNTYtLjM3bC4yLjA3Yy41LjE3IDEuMDEuNzEgMS4xNSAxLjIxbC41IDEuODVjLjE0LjUtLjA1IDEuMjItLjQxIDEuNThsLS42Ny42N2E3LjEgNy4xIDAgMCAwIDUgNWwuNjYtLjY4YTEuODEgMS44MSAwIDAgMSAxLjU4LS40MWwxLjg1LjVjLjUuMTQgMS4wNC42NSAxLjIgMS4xNWwuMDguMjFjLjE2LjUgMCAxLjItLjM3IDEuNTZ6Ii8+PC9zdmc+);
}
.vi-email {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjMDA3OEJGIiBkPSJNMTIuNSAwYTEyLjUgMTIuNSAwIDEgMCAwIDI1IDEyLjUgMTIuNSAwIDAgMCAwLTI1em0wIDQuNEMxNCA0LjQgMTkuOSA5IDE5LjkgOUg1LjFzNS45LTQuNiA3LjQtNC42em03LjQ5IDExLjk3YzAgLjc0LS42IDEuMzQtMS4zNCAxLjM0SDYuMzVjLS43NCAwLTEuMzQtLjYtMS4zNC0xLjM0VjkuM2wuMDItLjIzIDcuMDcgNC40LjAzLjAyYS45NS45NSAwIDAgMCAuMTguMDdoLjAyYy4wNS4wMi4xMS4wMy4xNy4wMy4wNiAwIC4xMiAwIC4xOC0uMDJoLjAxYS43NS43NSAwIDAgMCAuMTgtLjA4bC4wMy0uMDIgNy4wNy00LjQuMDIuMjN2Ny4wN3oiLz48L3N2Zz4=);
}
.vi-check {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjNENCMDUwIiBkPSJNNi4xMiAxMmMtLjM1IDAtLjctLjEzLS45Ni0uMzlMLjQgNi45NGExLjMgMS4zIDAgMCAxIDAtMS44OCAxLjM3IDEuMzcgMCAwIDEgMS45MSAwbDMuODIgMy43NUwxNC43LjM5YTEuMzcgMS4zNyAwIDAgMSAxLjkgMCAxLjMgMS4zIDAgMCAxIDAgMS44N0w3LjA3IDExLjZjLS4yNi4yNi0uNi4zOS0uOTUuMzl6Ii8+PC9zdmc+);
}