// ML Icons
.icon {
	font-size: 26px;
	line-height: 1;
	font-weight: 400;
}

.icon-size-small {
	font-size: $size-smaller;
}

// Custom icons
.icon-cirlce {
	border-radius: 100%;
}

.icon-default {
	border-radius: 100%;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $color-light;
	border: 1px solid $color-border;
}

// Icons styles
.vi {
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.vi-phone {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjMDA3OEJGIiBkPSJNMTIuNSAwYTEyLjUgMTIuNSAwIDEgMCAwIDI1IDEyLjUgMTIuNSAwIDAgMCAwLTI1em02LjYgMTguMjRsLTEgMWMtLjE4LjE4LS43LjI5LS43Mi4yOUExMS44MSAxMS44MSAwIDAgMSA1LjQ3IDcuNTlzLjExLS41MS4zLS42OWwxLTFhMS42NyAxLjY3IDAgMCAxIDEuNTYtLjM3bC4yLjA3Yy41LjE3IDEuMDEuNzEgMS4xNSAxLjIxbC41IDEuODVjLjE0LjUtLjA1IDEuMjItLjQxIDEuNThsLS42Ny42N2E3LjEgNy4xIDAgMCAwIDUgNWwuNjYtLjY4YTEuODEgMS44MSAwIDAgMSAxLjU4LS40MWwxLjg1LjVjLjUuMTQgMS4wNC42NSAxLjIgMS4xNWwuMDguMjFjLjE2LjUgMCAxLjItLjM3IDEuNTZ6Ii8+PC9zdmc+);
}
.vi-email {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjMDA3OEJGIiBkPSJNMTIuNSAwYTEyLjUgMTIuNSAwIDEgMCAwIDI1IDEyLjUgMTIuNSAwIDAgMCAwLTI1em0wIDQuNEMxNCA0LjQgMTkuOSA5IDE5LjkgOUg1LjFzNS45LTQuNiA3LjQtNC42em03LjQ5IDExLjk3YzAgLjc0LS42IDEuMzQtMS4zNCAxLjM0SDYuMzVjLS43NCAwLTEuMzQtLjYtMS4zNC0xLjM0VjkuM2wuMDItLjIzIDcuMDcgNC40LjAzLjAyYS45NS45NSAwIDAgMCAuMTguMDdoLjAyYy4wNS4wMi4xMS4wMy4xNy4wMy4wNiAwIC4xMiAwIC4xOC0uMDJoLjAxYS43NS43NSAwIDAgMCAuMTgtLjA4bC4wMy0uMDIgNy4wNy00LjQuMDIuMjN2Ny4wN3oiLz48L3N2Zz4=);
}
.vi-check {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjNENCMDUwIiBkPSJNNi4xMiAxMmMtLjM1IDAtLjctLjEzLS45Ni0uMzlMLjQgNi45NGExLjMgMS4zIDAgMCAxIDAtMS44OCAxLjM3IDEuMzcgMCAwIDEgMS45MSAwbDMuODIgMy43NUwxNC43LjM5YTEuMzcgMS4zNyAwIDAgMSAxLjkgMCAxLjMgMS4zIDAgMCAxIDAgMS44N0w3LjA3IDExLjZjLS4yNi4yNi0uNi4zOS0uOTUuMzl6Ii8+PC9zdmc+);
}
.vi-eye {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Ctitle%3Eicon-eye%3C/title%3E%3Cg id='icon-eye' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='eye' transform='translate(2.000000, 6.000000)'%3E%3Cpath d='M9.98800127,12 C5.43215962,12 1.10042396,7.29 0,6 C1.09860793,4.70901563 5.42571706,0 9.98800127,0 C15.3186798,0 19.0812649,4.70301563 20,5.973 C18.9391827,7.22198438 14.5825848,12 9.98800127,12 Z' id='Path' stroke='%23053A53' stroke-width='1.8' fill-rule='nonzero'/%3E%3Cellipse id='Oval' fill='%23053A53' cx='10' cy='6' rx='3.68421053' ry='3.81818182'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.vi-eye-slash {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eicon-eye-crossed%3C/title%3E%3Cg id='icon-eye-crossed' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='eye' transform='translate(2.000000, 5.000000)'%3E%3Cpath d='M9.98800127,13 C5.43215962,13 1.10042396,8.29 0,7 C1.09860793,5.70901563 5.42571706,1 9.98800127,1 C15.3186798,1 19.0812649,5.70301563 20,6.973 C18.9391827,8.22198438 14.5825848,13 9.98800127,13 Z' id='Path' stroke='%23053A53' stroke-width='1.8' fill-rule='nonzero'%3E%3C/path%3E%3Cellipse id='Oval' fill='%23053A53' cx='10' cy='7' rx='3.68421053' ry='3.81818182'%3E%3C/ellipse%3E%3Cline x1='10' y1='-2' x2='10' y2='16' id='Path-7' stroke='%23053A53' stroke-width='2' stroke-linecap='round' transform='translate(10.000000, 7.000000) scale(-1, 1) rotate(-45.000000) translate(-10.000000, -7.000000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}