// ML Icons
.icon {
	font-size: 26px;
	line-height: 1;
	font-weight: 400;
}

.icon-size-small {
	font-size: 13px;
}

// Custom icons
.icon-cirlce {
	border-radius: 100%;
}

.icon-default {
	border-radius: 100%;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $color-light;
	border: 1px solid $color-base-light-03;
}
