ol.index {
	ol {
		padding-left: 20px;
		margin-bottom: 5px;
	}
}

.list-group {
	.list-group-item {
		border: 0;

		&[href*="#"] {
			cursor: pointer;
		}

		header {
			font-weight: 800;
		}

		p {
			margin-bottom: 0;
		}

		&:nth-of-type(odd),
		&.active:nth-of-type(odd),
		&:active:nth-of-type(odd) {
			background-color: $color-dark-white;
		}

		&.active,
		&:active {
			background-color: $color-secondary-light !important;
			color: $color-primary;
			

			header {
				text-decoration: underline;
			}
		}
	}
}