.notification {
	border-radius: 100%;
	background-color: $color-complement-lava;
	color: $color-light;
	width: 18px;
	height: 18px;
	display: inline-block;
	line-height: 1.7;
	text-align: center;
	font-weight: 600;
	font-size: 11px;
}
