.notification-title {
	display: inline-block;
	position: relative;
	padding-left: 35px;

	&:not(:last-child) {
		margin-right: $margin-default;
	}

	@include min-screen($screen-sm-min) {
		font-size: 30px;
		line-height: 36px;
		font-family: $base-heading-family;
	}

	.notification {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

.notification {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: $color-red;
	font-weight: 600;
	font-size: $size-smallest;
	font-style: normal;
	text-align: center;
	color: $color-light;
	line-height: 16px;

	&--large {
		font-size: $base-font-size;
		width: 1.625em;
		height: 1.625em;
		line-height: 1.5em;
	}

	&--lighter {
		background-color: $color-head-orange;
	}

	&--white {
		background-color: $color-white;
		color: initial; /* Fallback */
		color: currentColor;
	}
}
