&.overlay {
	visibility: hidden;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 995;
	background: $color-overlay;
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity $duration-fast $delay-none $ease-in-out, visibility 0s $duration-fast;

	.btn.js-action-close {
		position: absolute;
		left: $sidebar-total-width-mobile;
		margin: 0 0 0 10px;
		top: 50%;
		transform: translateY(-50%);

		@include min-screen($screen-sm-min) {
			left: $sidebar-total-width-desktop;
		}

		@include screen($screen-sm-min, $screen-md-max) {
			left: $sidebar-total-width-tablet;
		}
	}
}

&.overlay {
	#page-wrapper.js-is-active & {
		opacity: 1;
		visibility: visible;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: opacity $duration-fast $delay-none $ease-in-out;

		.btn.js-action-close {
			animation: fadeInDownBig 0.23s ease forwards;

			@include max-screen($screen-sm-min - 1) {
				left: $sidebar-total-width-mobile;
			}
		}
	}
}
