<ul class="sub-navigation-alternative">
	<ul>
		<li class="has-content">
			<span class="navigation-title">Bingo</span>
		</li>
		<li>
			<a>
				<div>
					Spela Bingo
					<span>Upptäck våra bingospel</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<div>
					Bingoskolan
					<span>Lär dig mer om bingo</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<div>
					Bingoschema
					<span>Tider för Bingospelen</span>
				</div>
			</a>
		</li>
	</ul>
	<ul>
		<li class="has-content">
			<span class="navigation-title">Lotter</span>
		</li>
		<li>
			<a>
				<div>
					Skrapa lotter
					<span>Skrapa online</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<div>
					Prenumerera
					<span>Starta en lott-prenumeration</span>
				</div>
			</a>
		</li>
		<li>
			<a>
				<div>
					Övrig info
					<span>Lär dig mer om våra lotter</span>
				</div>
			</a>
		</li>
	</ul>
</ul>
