<ul class="sub-navigation sub-navigation--first">
	<li class="sub-navigation__item">
		<a class="sub-navigation__link" href="logged-in.html">
			<span class="sub-navigation__name">Startsida</span>
		</a>
	</li>
	<li class="sub-navigation__item">
		<a class="sub-navigation__link" href="minauppgifter.html">
			<span class="sub-navigation__name">Mina uppgifter</span>
		</a>
	</li>
	<li class="sub-navigation__item sub-navigation__item--has-children">
		<a class="collapsed sub-navigation__link" data-toggle="collapse" data-parent=".sub-navigation" href="#collapse-navigation-dummy1">
			<span class="sub-navigation__name">Bingo</span>
			<span class="sub-navigation__desc">Beskrivning</span>
		</a>

		<ul class="sub-navigation collapse" id="collapse-navigation-dummy1">
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Spela Bingo</span>
					<span class="sub-navigation__desc">Upptäck våra bingospel</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Bingoschema</span>
					<span class="sub-navigation__desc">Tider för Bingospelen</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="sub-navigation__item">
		<a class="sub-navigation__link" href="/">
			<span class="sub-navigation__name">Menyalternativ</span>
			<span class="sub-navigation__desc">Beskrivning</span>
		</a>
	</li>
	<li class="sub-navigation__item sub-navigation__item--has-children">
		<a class="collapsed sub-navigation__link" data-toggle="collapse" data-parent=".sub-navigation" href="#collapse-navigation-dummy2">
			<span class="sub-navigation__name">Bingo</span>
			<span class="sub-navigation__desc">Beskrivning</span>
		</a>

		<ul class="sub-navigation collapse" id="collapse-navigation-dummy2">
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Spela Bingo</span>
					<span class="sub-navigation__desc">Upptäck våra bingospel</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Bingoschema</span>
					<span class="sub-navigation__desc">Tider för Bingospelen</span>
				</a>
			</li>
		</ul>
	</li>
</ul>


