<ul class="sub-navigation sub-navigation--first">
	<li class="sub-navigation__item sub-navigation__item--has-children">
		<a class="collapsed sub-navigation__link" data-toggle="collapse" data-parent=".sub-navigation" href="#collapse-navigation-bingo">
			<span class="sub-navigation__name">Bingo</span>
		</a>

		<ul class="sub-navigation collapse" id="collapse-navigation-bingo">
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Spela Bingo</span>
					<span class="sub-navigation__desc">Upptäck våra bingospel</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Bingoschema @@include('elements/_notification.html', { "number": "20" })</span>
					<span class="sub-navigation__desc">Tider för Bingospelen</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Bingoskolan</span>
					<span class="sub-navigation__desc">Lär dig mer om bingo</span>
				</a>
			</li>
		</ul>
	</li>
	<li class="sub-navigation__item sub-navigation__item--has-children">
		<a class="collapsed sub-navigation__link" data-toggle="collapse" data-parent=".sub-navigation" href="#collapse-navigation-lottery">
			<span class="sub-navigation__name">Lotter</span>
		</a>
		<ul class="sub-navigation collapse" id="collapse-navigation-lottery">
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Skrapa lotter</span>
					<span class="sub-navigation__desc">Skrapa online</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Prenumerera</span>
					<span class="sub-navigation__desc">Starta en lott-prenumeration</span>
				</a>
			</li>
			<li class="sub-navigation__item">
				<a class="sub-navigation__link" href="/front.html#article-list">
					<span class="sub-navigation__name">Övrig info</span>
					<span class="sub-navigation__desc">Lär dig mer om våra lotter</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
