<ul class="sub-navigation-collapsed">
	<li>
		<a class="action-collapse" data-toggle="collapse" data-target="#demo1">
			<span class="navigation-title">Bingo</span>
		</a>
		<ul id="demo1" class="collapse out">
			<li>
				<a>
					<div>
						Spela Bingo
						<span>Upptäck våra bingospel</span>
					</div>
				</a>
			</li>
			<li>
				<a>
					<div>
						Bingoskolan
						<span>Lär dig mer om bingo</span>
					</div>
				</a>
			</li>
			<li>
				<a>
					<div>
						Bingoschema
						<span>Tider för Bingospelen</span>
					</div>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="action-collapse" data-toggle="collapse" data-target="#demo">
			<span class="navigation-title">Lotter</span>
		</a>
		<ul id="demo" class="collapse out">
			<li>
				<a>
					<div>
						Skrapa lotter
						<span>Skrapa online</span>
					</div>
				</a>
			</li>
			<li>
				<a>
					<div>
						Prenumerera
						<span>Starta en lott-prenumeration</span>
					</div>
				</a>
			</li>
			<li>
				<a>
					<div>
						Övrig info
						<span>Lär dig mer om våra lotter</span>
					</div>
				</a>
			</li>
		</ul>
	</li>
</ul>

