<ul class="sub-navigation-collapsed" id="sub-navigation-1">
	<li>
		<a class="collapsed" data-toggle="collapse" data-parent="#sub-navigation" href="#collapse-navigation-1">
			<span class="navigation-title">Bingo</span>
		</a>
		<ul id="collapse-navigation-1" class="collapse">
			<li>
				<a href="#article-list">
					<div>
						Spela Bingo
						<span>Upptäck våra bingospel</span>
					</div>
				</a>
			</li>
			<li>
				<a href="/">
					<div>
						Bingoskolan
						<span>Lär dig mer om bingo</span>
					</div>
				</a>
			</li>
			<li>
				<a href="/">
					<div>
						Bingoschema@@include('elements/_notification.html', { "number": "20" })
						<span>Tider för Bingospelen</span>
					</div>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="collapsed" data-toggle="collapse" data-parent="#sub-navigation" href="#collapse-navigation-2">
			<span class="navigation-title">Lotter</span>
		</a>
		<ul id="collapse-navigation-2" class="collapse">
			<li>
				<a href="/">
					<div>
						Skrapa lotter
						<span>Skrapa online</span>
					</div>
				</a>
			</li>
			<li>
				<a href="/">
					<div>
						Prenumerera
						<span>Starta en lott-prenumeration</span>
					</div>
				</a>
			</li>
			<li>
				<a href="/">
					<div>
						Övrig info
						<span>Lär dig mer om våra lotter</span>
					</div>
				</a>
			</li>
		</ul>
	</li>
</ul>

