<aside id="sidebar">
	<ul class="sidebar-navigation">
		<li>
			<a class="logotype not-interactive" >
				<img src="" alt="">
			</a>
		</li>
		<li>
			<a href="/">
				Spela och vinn
				<span>Description</span>
			</a>
		</li>
		<li>
			<a href="/">
				<span class="hide-mobile">Vinstshoppen</span>
				<span class="show-mobile">Vinstshop</span>
				<span>Description</span>
			</a>
		</li>
		<li>
			<a>
				Mina sidor
				<span>Description</span>
			</a>
			<ul>
				<li>
					<a>
						Menyalternativ
						<span>Description</span>
					</a>
				</li>
				<li>
					<a>
						Menyalternativ
						<span>Description</span>
					</a>
				</li>
				<li>
					<a>
						Menyalternativ
						<span>Description</span>
					</a>
				</li>
				<li>
					<a>
						Menyalternativ
						<span>Description</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/">
				Mer
				<span>Description</span>
			</a>
		</li>
	</ul>
	<div class="sidebar-account">
		<button class="btn btn-primary">Registrera lott</button>
		<!--<button class="btn btn-default btn-invert">Logga ut</button>-->
	</div>
</aside>
<!-- /#sidebar-wrapper -->
