<aside id="sidebar">
	<ul class="sidebar-navigation">
		<li>
			<a class="logotype not-interactive" >
				<img src="" alt="">
			</a>
		</li>
		<li>
			<a href="/">
				Lotter
				<span>Skrapa online/prenumerera</span>
			</a>
		</li>
		<li>
			<a href="/">
				Bingo
				<span>Spela Bingo</span>
			</a>
		</li>
		<li>
			<a href="/">
				<span class="hide-mobile">Vinster</span>
				<span class="show-mobile">Vinster</span>
				<span>Våra fina vinster & inspiration</span>
			</a>
		</li>
		<li>
			<a href="/">
				Ändamål
				<span>Du gör skillnad</span>
			</a>
		</li>

		@@if (signed_in === true) {
		<li>
			<a href="/">
				Mina sidor
				<span>Beskrivning</span>
			</a>
			@@include('layout/sidebar/_sub-navigation.html')
		</li>
		}

		<li>
			<a>
				Övrigt
				<span>Mer om oss</span>
			</a>
			@@include('layout/sidebar/_sub-navigation.html')
		</li>

		@@if (signed_in === true) {
		<li>
			<a href="/">
				Stefan Jakobsson
				<span>Spelkonto</span>
			</a>
		</li>
		}

	</ul>
	<div class="sidebar-account">
		<button class="btn btn-primary">Registrera lott</button>
		@@if (signed_in === true) {
			<button class="btn btn-default">Logga ut</button>
		}
	</div>
</aside>
<!-- /#sidebar-wrapper -->
