<div id="top">
	<div class="top-menu">
		<a class="top-menu__toggle"></a>
		<a class="top-menu__logotype"></a>
		<a class="top-menu__register"></a>
	</div>

	<div class="alert alert-info" role="alert">
		<button type="button" class="close" aria-label="Close"><span
			aria-hidden="true">&times;</span></button>
		<strong>540 500 kr i Jackpot</strong>, dragning 11 Mars
	</div>

	<div class="top-account">
		@@if (signed_in === false) {
		<button class="btn btn-default btn-invert btn-icon">Logga in</button>
		<button class="btn btn-success btn-icon btn-2-line">
			Skapa konto
			<span>och få 40 kr</span>
		</button>
		}
		<div class="top-account__search">
			<form action="">
				<input type="text" class="form-control" placeholder="Sök">
				<button id="search" class="btn btn-default" type="button">Go</button>
			</form>
		</div>
	</div>
</div>
<!-- /#top -->
