<div class="room__items-row">
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
</div>
<div class="room__items-row">
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr). bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr). I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
</div>
<div class="room__items-row">
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
</div>
<div class="room__items-row">
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="room__items-item col-md-3">
    <div class="room__items-item-header">
      Chatspel
    </div>
    <div class="room__items-item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
</div>