
<div class="jackpottar__item-wrapper col-sm-12 col-md-6 p-0">
  <h3 class="jackpottar__item-title text-center">Aktuella jackpottar</h3>
    <div class="jackpottar__item-table">
      <div class="col-xs-12 col-md-6 jackpottar__item">
        <div class="row bingoroom-tabs__t-head">
          <div class="col-xs-6 p-0">Spel</div>
          <div class="col-xs-6 p-0 text-right">Jackpot</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-6 p-0 font-bold">Spelnamn</div>
          <div class="col-xs-6  p-0 text-right">
            12 234 kr
          </div>
        </div>
      </div>
  </div>
</div>
<div class="jackpottar__item-wrapper col-sm-12 col-md-6 p-0">
  <h3 class="jackpottar__item-title text-center">Senaste 30 dagarna</h3>
    <div class="jackpottar__item-table">
      <div class="col-xs-12 col-md-6 jackpottar__item">
        <div class="row bingoroom-tabs__t-head">
          <div class="col-xs-4 p-0 spelare">Spelnamn</div>
          <div class="col-xs-4">Spel</div>
          <div class="col-xs-4 p-0 text-right">Jackpot</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Anna-Viktoria</div>
          <div class="col-xs-4 ">Miljonbingo</div>
          <div class="col-xs-4 font-bold p-0 text-right">12 234 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Solveiginden</div>
          <div class="col-xs-4 ">Bokstavsbingo
          </div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
        <div class="row bingoroom-tabs__t-data">
          <div class="col-xs-4 p-0 font-bold text-dotted">Spelnamn</div>
          <div class="col-xs-4 ">Spel</div>
          <div class="col-xs-4 font-bold p-0 text-right">10 kr</div>
        </div>
      </div>
  </div>
</div>

