
  <div class="jackpottar__item-wrapper col-sm-12 col-md-6">
    <h3 class="jackpottar__item-title text-center">Aktuella jackpottar</h3>
      <div class="jackpottar__item-table">
        <div class="col-xs-12 col-md-6 jackpottar__item">
          <div class="row bingoroom-tabs__t-head">
           
              <div class="col-xs-8 p-0">Spelnamn</div>
              
           
           
            <div class="col-xs-4 p-0 text-right">
              Jackpott
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 jackpottar__item">
          <div class="row bingoroom-tabs__t-head">
            <div class="col-xs-8 p-0">Spelnamn</div>
            
            <div class="col-xs-4 p-0 text-right">
              Jackpott
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0 font-bold">Spelnamn</div>
            
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="jackpottar__item-wrapper col-sm-12 col-md-6">
    <h3 class="jackpottar__item-title text-center">Senaste jackpottarna</h3>
      <div class="jackpottar__item-table">
        <div class="col-xs-12 col-md-6 jackpottar__item">
          <div class="row bingoroom-tabs__t-head">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6">Spelnamn</div>
                <div class="col-xs-6">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 p-0 text-right">
              Jackpott
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 jackpottar__item">
          <div class="row bingoroom-tabs__t-head">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6">Spelnamn</div>
                <div class="col-xs-6">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 p-0 text-right">
              Jackpott
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
          <div class="row bingoroom-tabs__t-data">
            <div class="col-xs-8 p-0">
              <div class="row">
                <div class="col-xs-6 font-bold">Spelnamn</div>
                <div class="col-xs-6 text-dotted">Spelare</div>
              </div>
            </div>
            <div class="col-xs-4 font-bold p-0 text-right">
              12 234 kr
            </div>
          </div>
        </div>
    </div>
  </div>
  
