<section class="bingo-room section-bg-@@section_bg">
  <div class="container">
    <div class="row equal-height">
      <div class="col-xs-12 col-sm-6 " >
        <div class="room-header">
          <div class="room-title">
            Sociala rummet
          </div>
          <div class="room-desc">
            – med chatt för flera spelare
          </div>
        </div>
        <div class="brd-rad-16 bingo-room__item position-relative d-flex direction-column justify-end @@if(context.col_shadow){bg-shadow}" style="background-image: url(@@blixt_img);">
          <div class="host position-absolute bg-white">
            <div class="host-av">
              <img src="assets/img/mockup/user-bingovard.png" alt="">
            </div>
            <div class="host-text">
              <div class="host-title">bingovärd</div>
              <div class="host-name">Moa</div>
            </div>
          </div>
          <div class="bingo-room__logo">
            <img src="assets/img/logos/blixtbingo-logo.png" alt="">
          </div>
          <div class="bingo-room__detailes brd-rad-16 bg-white">
            <div class="row ">
              <div class="col-md-12 d-flex direction-column justify-between">
                <div class="">
                  <div class="__title">Nästa spel</div>
                  <div class="__name">Blixtbingo</div>
                </div>  
                <div class="row __price-wrapper">
                  <div class="col-xs-6">
                    <div class="__title">Jackpott</div>
                    <div class="__total">1 234 kr</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="__title">Pris</div>
                    <div class="__price">5 kr</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12  d-flex justify-end direction-row">
                <div class="cta">
                  <div class="icons-wrapper">
                    <div class="__users">
                      <p>42</p>
                    </div>
                    <div class="__time">
                      <p>01:43</p>
                    </div>
                  </div>
                  
                  <button class="btn btn-success">Spela</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 " >
        <div class="room-header">
          <div class="room-title">
            Lugna rummet
          </div>
          <div class="room-desc">
            – Spelen som startar från två spelare
          </div>
        </div>
        <div class="brd-rad-16 bingo-room__item position-relative d-flex direction-column justify-end @@if(context.col_shadow){bg-shadow}" style="background-image: url(@@miljon_img);">
          
          <div class="bingo-room__logo">
            <img src="assets/img/logos/miljonbingo-logo.png" alt="">
          </div>
          <div class="bingo-room__detailes brd-rad-16 bg-white">
            <div class="row ">
              <div class="col-md-12 d-flex direction-column justify-between">
                <div class="">
                  <div class="__title">Nästa spel</div>
                  <div class="__name">Miljonbingo</div>
                </div>  
                <div class="row __price-wrapper">
                  <div class="col-xs-6">
                    <div class="__title">Jackpott</div>
                    <div class="__total miljonchans">Miljonchans</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="__title">Pris</div>
                    <div class="__price">20 kr</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 d-flex justify-end direction-row">
                <div class="cta">
                  <div class="icons-wrapper">
                    <div class="__users">
                      <p>124</p>
                    </div>
                    <div class="__time">
                      <p>02:34</p>
                    </div>
                  </div>
                  
                  <button class="btn btn-success">Spela</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>