<div class="text-layout-wrapper">
  <div class="text-layout__item">
    <div class="text-layout__item-header">
      Header
    </div>
    <div class="text-layout__item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="text-layout__item">
    <div class="text-layout__item-header">
      Header
    </div>
    <div class="text-layout__item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
  <div class="text-layout__item">
    <div class="text-layout__item-header">
      Header
    </div>
    <div class="text-layout__item-text">
      I ABC skriver chattvärden en bokstav i chatten och då gäller det att skriva en av de tre följande bokstäverna enligt alfabetet. Exempel: Chattvärden skriver: K. Du skriver L, M eller N. De tre som skrivit varsin bokstav först vinner (1:an vinner 30 kr, 2:an 20 kr och 3:an 10 kr).
    </div>
  </div>
</div>