

  <section class="top-section top-mobile-text-section position-relative color-tab-@@text_color.tab color-mob-@@text_color.mob desktop-hide" 
  @@if(context.image.tab){data-img-tab = "@@image.tab"}
  @@if(context.image.mob){data-img-mob = "@@image.mob"}
  @@if(context.bg.tab){data-bg-tab = "@@bg.tab"}
  @@if(context.bg.mob){data-bg-mob = "@@bg.mob"}
  >
    <div class="container">
      <div class="row equal-height">
        <div class="col-xs-12 col-md-6 top-block__text p-0">
          <div class="text-block-wrapper brd-rad-16">
            <h3 class="m-0" data-set-font = "true" data-font-mob = "family-@@font.mob" data-font-tab = "family-@@font.tab">
              Spela bingo online hos Miljonlotteriet - vinn fantastiska vinster och jackpottar!
            </h3>
            <p class=" text-cut" data-set-font = "true" data-font-mob = "family-@@font.mob" data-font-tab = "family-@@font.tab">Redo att testa Sveriges kanske roligaste bingo online? Massor av tävlingar, trevliga chattvärdar och en fin gemenskap alla dagar i veckan! Dessutom får du som ny bingospelare en välkomstgåva och chansen att vinna någon av våra stora jackpottar. Skapa konto enkelt med BankID och börja spela bingo på nätet redan i dag!
              
            </p>
            <span class="text-show color-@@readmore_col">Läs mer</span>
          </div>
        </div>
      </div>
    </div>
  </section>