

  <section class="top-section top-mobile-table-section position-relative color-@@text_color desktop-hide"
  @@if(context.image.tab){data-img-tab = "@@image.tab"}
  @@if(context.image.mob){data-img-mob = "@@image.mob"}
  @@if(context.bg.tab){data-bg-tab = "@@bg.tab"}
  @@if(context.bg.mob){data-bg-mob = "@@bg.mob"}
  >
     
      
    <div class="container">
      <div class="row equal-height">
        <div class="col-md-3  table-block top-block__table">
          <div class=" bg-@@col_bg brd-rad-16 list @@if(context.col_shadow){bg-shadow}">
            <h4 class="family-Zing text-center m-0">
              Actuella jackpottar
            </h4>
            <div class="list-wrapper">
              <div class="list-title">
                
                <span class="ml-0">Speltyp</span>
                <span class="text-end">Jackpott</span>
              </div>
              <ul class="p-0 m-0">
                <li class="list-item">
                  
                  <span class="text-regular m-0">Variantbingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  
                  <span class="text-regular m-0">Mönstebingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  
                  <span class="text-regular m-0">Klassisk bingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                 
                  <span class="text-regular m-0">Mönstebingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  
                  <span class="text-regular m-0">Variantbingo</span>
                  <span>12 234 kr</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 table-block top-block__table">
          <div class=" bg-@@col_bg brd-rad-16 list @@if(context.col_shadow){bg-shadow}">
            <h4 class="family-Zing text-center m-0">
              Senaste jackpottarna
            </h4>
            <div class="list-wrapper">
              <div class="list-title">
                <span class="column-@@column.second_table spelare-head">Spelare</span>
                <span>Spelnamn</span>
                <span>Jackpott</span>
              </div>
              <ul class="p-0 m-0">
                <li class="list-item">
                  <span class="spelare column-@@column.second_table">Spelare rrrrrr aaaa</span>
                  <span class="text-regular">Mönstebingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  <span class="spelare column-@@column.second_table">Spelarewedew dfhst</span>
                  <span class="text-regular">Variantbingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  <span class="spelare column-@@column.second_table">Spelaredwdwedwd xfn</span>
                  <span class="text-regular">Klassisk bingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  <span class="spelare column-@@column.second_table">Spelare ddddd</span>
                  <span class="text-regular">Variantbingo</span>
                  <span>12 234 kr</span>
                </li>
                <li class="list-item">
                  <span class="spelare">Spelare ae5</span>
                  <span class="text-regular column-@@column.second_table">Mönstebingo</span>
                  <span>12 234 kr</span>
                </li>
              </ul>
            </div>
        </div>


        </div>
      </div>
    </div>
  </section>