.content-wrapper {
	overflow-Y: scroll ;
	height: auto;
}

&.content-wrapper {
	&--spacing-top {
		margin-top: 20px;
	}
}


.block-title {
	&-wrap {
		&--center {
			text-align: center;
		}
	}

	&-marked {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto 40px;
		padding: 8px 30px;
		min-width: 230px;
		font-family: $apercu-bold-font;
		font-size: 20px;
		color: #ffffff;
		&:before {
			content: '';
			position: absolute;
			left: -1px;
			top: 0;
			bottom: 0;
			display: inline-block;
			width: 10px;
			height: 100%;
			background-color: #fff;
			clip-path: polygon(0 0, 100% 47%, 0 100%);
		}
		&:after {
			content: '';
			position: absolute;
			right: -1px;
			top: 0;
			bottom: 0;
			display: inline-block;
			width: 10px;
			height: 100%;
			background-color: #fff;
			clip-path: polygon(100% 0, 0 50%, 100% 100%);
		}
		&--green {
			background-color: #6fa088;
		}
		&--pink {
			background-color: $color-cta-pink;
		}
		&--blue {
			background-color: #81b7c8;
		}
	}
}