#menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	display: block;
	width: 100%;
	background-color: $color-sky;
	padding: 10px;
	height: $menu-height;
	box-shadow: 0 0 6px rgba(0,0,0,0.08);

	@include min-screen($screen-xs-min) {
		display: none;
	}

	> a {
		display: inline-block;
		position: relative;

		&.menu__toggle {
			height: 30px;
			width: 30px;
			padding: 35px;

			&:before {
				content: ' ';
				height: 30px;
				width: 30px;
				border-radius: 100%;
				position: absolute;
				top: 20px;
				left: 20px;
				background-color: $color-shore;
			}
		}

		&.menu__logotype {
			/*
			content: ' ';
			height: 30px;
			width: 30px;
			border-radius: 100%;
			position: absolute;
			top: 20px;
			margin-left: -15px;
			left: 50%;
			background-color: $color-shore;
			*/
		}
	}
}
