#page-wrapper {
	padding-top: $top-padding;
	padding-left: 0;

	@include min-screen($screen-xs-min) {
		padding-top: 0;
		padding-left: $sidebar-width-mobile;
	}

	@include min-screen($screen-md-min) {
		padding-left: $sidebar-width-desktop;
	}

	&.sidebar-hidden {
		padding-left: 0;
	}
}

#content-wrapper {
	padding: 0;
}

