#page-wrapper {
	padding-top: $menu-height;
	padding-left: 0;

	@include min-screen($screen-xs-min) {
		padding-top: 0;
		padding-left: $sidebar-width-mobile;
	}

	@include min-screen($screen-md-min) {
		padding-left: $sidebar-width-desktop;
	}

	&.sidebar-hidden {
		padding-left: 0;
	}
}

#content-wrapper {
	padding: 0;

	@include min-screen($screen-md-min) {
		padding: 20px;
	}
}

.overlay {
	visibility: hidden;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-y: scroll;
	z-index: 995;
	background: $color-black-3;
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity $duration-fast $delay-none $ease-in-out, visibility 0s $duration-fast;

	&:after {
		content: ' ';
		height: 30px;
		width: 30px;
		border-radius: 100%;
		position: absolute;
		z-index: 996;
		background-color: $color-blueberry;
		top: 25px;
		left: $sidebar-total-width-mobile;
		margin: auto;
		cursor: pointer;

		@include min-screen($screen-md-min) {
			left: $sidebar-total-width-desktop;
		}
	}


	.js-is-active & { // on #page-wrapper
		opacity: 1;
		visibility: visible;
		transition: opacity $duration-fast $delay-none $ease-in-out;

	}
}
