#sidebar-wrapper {
	position: fixed;
	left: $sidebar-width-mobile;
	margin-left: -$sidebar-width-mobile;
	width: $sidebar-width-mobile;
	z-index: 1000;
	height: 100%;
	overflow-y: auto;
	background: $color-sky;

	@include min-screen($screen-md-min) {
		left: $sidebar-width-desktop;
		margin-left: -$sidebar-width-desktop;
		width: $sidebar-width-desktop;
	}
}

.page-navigation {
	a {
		display: block;
		padding: 60px 14px 20px 14px;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		font-weight: 600;
		border-bottom: 1px solid $color-shore;
		position: relative;

		@include min-screen($screen-md-min) {
			padding: 25px 25px 25px 70px;
			line-height: 1;
			text-align: left;
		}

		&:hover,
		&:focus,
		.active {
			text-decoration: none;
			// outline: none; Needs subtle styles
			background-color: $color-feather;
		}

		&:first-child {
			border-top: 1px solid $color-shore;
		}

		&:before {
			content: ' ';
			height: 30px;
			width: 30px;
			border-radius: 100%;
			position: absolute;
			top: 20px;
			margin-left: -15px;
			left: 50%;
			background-color: $color-shore;

			@include min-screen($screen-md-min) {
				top: 25px;
				left: 25px;
				margin: auto;
			}
		}

		span {
			&:last-of-type {
				display: none;

				@include min-screen($screen-md-min) {
					display: block;
					font-weight: 400;
					margin-top: 5px;
				}
			}
		}
	}
}
