#sidebar {
	transform: translate3d(-$sidebar-width-desktop, 0, 0);
	position: fixed;
	z-index: 1000;
	top: 0;
	left: $sidebar-width-desktop;
	margin-left: -$sidebar-width-desktop;
	width: $sidebar-width-desktop;
	height: 100%;
	overflow-x: visible;
	background: $color-light;
	transition: transform $duration-fast $delay-none $ease-in-out, width $duration-quick $delay-none $ease-in-out;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);

	@include min-screen($screen-sm-min) {
		transform: translate3d(0, 0, 0);
	}

	@include screen($screen-sm-min, $screen-md-max) {
		left: $sidebar-width-mobile;
		margin-left: -$sidebar-width-mobile;
		width: $sidebar-width-mobile;
	}

	&.js-is-active { // on #sidebar
		@include max-screen($screen-sm-min) {
			left: $sidebar-width-mobile;
			margin-left: -$sidebar-width-mobile;
			width: $sidebar-width-mobile;
		}
	}

	.js-is-active & { // on #page-wrapper
		transform: translate3d(0, 0, 0);
	}
}

@import "sidebar/sidebar-navigation";
@import "sidebar/sidebar-account";
