	.container {
	/*margin-left: 0;
	margin-right: 0;*/

	// Reset no-padding class
	padding-left: 10px;
	padding-right: 10px;

	@include min-screen($screen-sm-min) {
		padding-left: 20px;
		padding-right: 20px;
	}

	&--center {
		max-width: 940px;
		margin: 0 auto;
	}
}

.container.container--no-space {
	padding-right: 0;
	padding-left: 0;
}

.space-60 {
	height: 60px;
}

@import "content";
@import "header";
@import "top";
@import "sidebar";
@import "footer";
@import "section";
