.cta-block {
	margin-bottom: $margin-small;
	@media screen and (min-width: $screen-sm) {
		margin-bottom: 20px;
	}
	@media screen and (min-width: $screen-md) {
		margin-bottom: 60px;
	}
	
	&.cta-block--dark {
    .cta-block__inner {
      color: $color-snow;
    }
	}
	
	&.cta-block--light {
    .cta-block__inner {
      color: $color-blue-deep;
    }
	}
  
  &__inner {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: 100%;
    text-decoration: none;
    @media screen and (min-width: $screen-sm) {
      min-height: 282px;
    }
    @media screen and (min-width: $screen-md) {
      flex-flow: nowrap;
    }
  }
	
	&__title {
		margin-top: 18px;
		font-size: 28px;
		line-height: 1.1333;
		@media screen and (min-width: $screen-md) {
			font-size: 30px;
		}
	}
	
	&__content {
		display: flex;
		flex-direction: column;
		padding: 20px 20px 30px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		@media screen and (min-width: $screen-sm) {
			width: calc(50% - 10px);
			height: 100%;
			margin-left: 0;
			margin-right: 10px;
		}
    >*:last-child {
      margin-bottom: 0;
    }
	}
	
	&__text {
		margin-bottom: 20px;
	}
	
	&__image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		
		overflow: hidden;
		@media screen and (min-width: $screen-sm) {
			margin-left: 10px;
			width: calc(50% - 10px);
			height: 100%;
		}
	}
	
	
	.btn-cta {
		//height: 46px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	&.reversed {
		.cta-block {
			&__content {
				order: 2;
			}
			
			&__image {
				order: 1;
			}
		}
	}
	
	&--medium {
		text-align: center;
		@media screen and (min-width: $screen-sm) {
			text-align: left;
		}
		
		.cta-block {
			&__image {
				img {
					min-width: 135px;
					max-width: 100%;
				}
				
				@media screen and (max-width: $screen-sm) {
					min-height: 282px;
				}
			}
      
      &__cta {
        justify-self: flex-end;
        margin-top: auto;
      }
		}
		
		.btn {
			max-width: 100%;
			word-wrap: break-word;
			white-space: normal;
		}
		
		@media screen and (min-width: $screen-sm) {
			.cta-block {
				&__content {
					width: calc(50% - 10px);
					margin-right: 10px;
					
				}
				
				&__image {
					margin-left: 10px;
					width: calc(50% - 10px);
				}
			}
			&.reversed {
				.cta-block {
					&__content {
						margin-left: 10px;
						margin-right: 0;
					}
					
					&__image {
						margin-left: 0;
						margin-right: 10px;
					}
				}
			}
		}
	}
	
	&--large {
		text-align: center;
		@media screen and (min-width: $screen-md) {
			text-align: left;
		}
		
		.cta-block {
			&__image {
				min-height: 160px;
			}
			
			&__content {
				justify-content: center;
			}
		}
		
		@media screen and (max-width: $screen-md) {
			.cta-block {
				&__content {
					margin: 0;
					text-align: center;
				}
				
				&__image {
					margin: 0;
					width: 100%;
				}
			}
		}
		
		@media screen and (min-width: $screen-sm) {
			.cta-block {
				&__content {
					width: 100%;
					height: auto;
					min-height: 282px;
				}
				
				&__image {
					width: 100%;
					height: auto;
					min-height: 282px;
				}
			}
		}
		
		@media screen and (min-width: $screen-md) {
			
			.cta-block {
				&__content {
					width: calc(50% - 10px);
					margin-right: 10px;
				}
				
				&__image {
					margin-left: 10px;
					width: calc(50% - 10px);
					min-height: auto;
				}
			}
			
			&.reversed {
				.cta-block {
					&__content {
						margin-left: 10px;
						margin-right: 0;
					}
					
					&__image {
						margin-left: 0;
						margin-right: 10px;
					}
				}
			}
		}
	}
	
	
	&--large-tall {
		text-align: center;
		@media screen and (min-width: $screen-sm) {
			text-align: left;
		}
		
		.cta-block {
			&__image {
				min-height: 260px;
			}
			
			&__content {
				justify-content: center;
				@media screen and (min-width: $screen-sm) {
					min-height: 282px;
				}
			}
		}
		
		
		@media screen and (max-width: $screen-md) {
			.cta-block {
				&__content {
					margin: 0;
					text-align: center;
				}
				
				&__image {
					margin: 0;
					width: 100%;
				}
			}
		}
		
		@media screen and (min-width: $screen-sm) {
			.cta-block {
				&__content {
					width: 100%;
					height: auto;
					min-height: 390px;
				}
				
				&__image {
					width: 100%;
					min-height: 390px;
					height: auto;
				}
			}
		}
		
		@media screen and (min-width: $screen-md) {
			min-height: 390px;
			.cta-block {
				&__content {
					width: calc(50% - 10px);
					margin-right: 10px;
					padding: 20px 20px 30px 20px;
				}
				
				&__image {
					margin-left: 10px;
					width: calc(50% - 10px);
				}
			}
			
			&.reversed {
				.cta-block {
					&__content {
						margin-left: 10px;
						margin-right: 0;
					}
					
					&__image {
						margin-left: 0;
						margin-right: 10px;
					}
				}
			}
		}
	}
	
	&--large-text-only {
		text-align: center;
		
		.cta-block {
			&__content {
				justify-content: center;
				max-width: 100%;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				@media screen and (min-width: $screen-sm) {
					padding-top: 60px;
					padding-bottom: 60px;
				}
				@media screen and (min-width: $screen-md) {
					max-width: 730px;
				}
			}
			
			//&__title {
			//  margin-top: 0;
			//}
		}
	}
}