.block-promotion--split {
	@include max-screen($screen-xs-max) {
		display: block !important;;
	}

	&.flex-top {
		@include max-screen($screen-xs-max) {
			justify-content: flex-end;
		}
	}

	.block-promotion__link {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		@include max-screen($screen-xs-max) {
			display: block !important;
		}
	}
}

.block-promotion__content--split {
	padding-top: calc(50%);
	padding-right: 30%;

	@include min-screen($screen-sm-min) {
		padding-top: $padding-default;
		padding-right: 55%;
	}

	@include max-screen($screen-sm-max) {
		display: block !important;
	}
}

.block-promotion__image--split {
	clip-path: url("#clip-split-mobile");
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	width: 100%;
	height: auto;
	padding-top: calc(45% - 20px);

	@include min-screen($screen-sm-min) {
		clip-path: url("#clip-split");
		clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
		left: auto;
		right: 0;
		width: 50%;
		height: 100%;
		padding-top: 0;
	}
}

.block-promotion--split-compact {
	@include max-screen($screen-xs-max) {
		.block-promotion__title {
			font-family: $semi-heading-family;
			font-size: $base-font-size;
			line-height: 1;
		}
	}

	@include max-screen($screen-sm-max) {
		min-height: 1px;

		.block-promotion__image,
		.block-promotion__text {
			display: none;
		}

		.block-promotion__content {
			padding-top: 20px;
			padding-right: 60px;
		}

		.block-promotion__link:after {
			opacity: .5;
			bottom: 50%;
			transform: translateY(50%);

			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}
}