.block-promotion--wallet {
	display: flex;
	flex-direction:column;

	@media screen and (max-width: $screen-sm) {
		margin-bottom: $margin-default;
	}

	/* Toggle block */
	&-toggle {
		@media screen and (min-width: $screen-sm) {
			margin-bottom: $margin-default;
		}
	}

	> a {
		display: flex;
		flex-direction:column;
		flex: 1 1 auto;
	}

	.block-promotion__header {
		margin-bottom: 0;

		&.js-is-active {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&-title {
			margin: 0 $margin-default;
			color: $color-base-primary;
			line-height: 80px;

			@media screen and (max-width: $screen-sm) {
				display: none;
			}
		}
	}

	.block-promotion-minified {
		display: none;

		@media screen and (max-width: $screen-sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: inherit;
			color: black;
			font-size: 18px;
		}

		&--text {
			margin-left: $margin-default;
		}

		&--price {
			margin-right: $margin-default;
			margin-left: auto;
		}
	}

	.block-promotion-minified__btn {
		padding: $padding-medium;
		border: 0;
		background: none;

		&:focus {
			outline: 0;
		}

		&.js-is-active {
			transform: rotate(-180deg);
		}
	}

	.gametitle{
		@media screen and (max-width: $screen-sm) {
			padding-top: ($padding-default*2);
		}
	}

	.block-promotion-minifiedmoney{
		float: right;
	}

	.block-promotion__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		border-left: 1px solid $color-feather;
		border-right: 1px solid $color-feather;
		border-bottom: 1px solid $color-feather;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		color: $color-blueberry;

		@media screen and (max-width: $screen-sm) {
			display: none;
		}

		&.js-is-visible {
			display: flex;
		}
	}

	/* Animate the block */
	&-toggle {
		.block-promotion__content {
			@media screen and (max-width: $screen-sm) {
				overflow: hidden;
				display: flex;
				height: auto;
				max-height: 0;
				padding: 0;
				opacity: 0;
				transition: max-height $duration-normal $ease-in-out, opacity $duration-fast $duration-normal $ease-in-out;

				&.js-is-visible {
					opacity: 1;
					max-height: 600px;
					transition: max-height $duration-normal $ease-in-out, opacity $duration-fast $ease-in-out;
				 }

				// Just for better animation
				.block-promotion__content-wrapper {
					padding: 20px;
				}
			}
		}
	}

	.block-promotion__title {
		color: $color-black;
		margin-bottom: $margin-small;
	}

	.block-promotion__text {
		max-width: $block-text-width;
		margin-top: 0;
		font-size: $base-font-size;
		font-family: $basic-heading-family;
		font-weight: $bold;
	}

	.block-promotion__action-btns {
		margin-top: $margin-default;
	}
}

.block-promotion__action-btns {
	@media screen and (max-width: $screen-sm) {
		text-align: center;
	}
}

.block-promotion__action-btn {
	&:not(:last-child) {
		margin-right: $margin-medium;

		@media screen and (max-width: $screen-sm) {
			margin-right: 0;
		}
	}
}

/* Wallet money list */
.wallet-money {
	margin: $margin-default 0 0;
	padding: $padding-small 0 0;
	list-style: none;
	font-family: $basic-heading-family;
	font-size: $base-font-size;
	font-weight: $bold;

	@media screen and (min-width: $screen-sm) {
		margin-top: auto;
	}

	hr {
		margin-top: 0;
		margin-bottom: $margin-small;
		border-top: 1px solid $color-feather;
	}

	&__amount {
		font-size: 18px;
		font-family: $semi-heading-family;
		font-weight: $extrabold;
	}
}

.wallet__list-item {
	display: flex;
	justify-content: space-between;

	&:not(:first-child) {
		margin-top: $margin-small;
		padding-top: $padding-small;
		border-top: 1px solid $color-feather;
	}

	&:first-child:last-child {
		@media screen and (min-width: $screen-sm) {
			margin-top: $margin-small;
			padding-top: $padding-small;
			border-top: 1px solid $color-feather;
		}
	}

	.wallet__item {
		margin-top: 0;
	}
}


/* Wallet transfer block */
.block-wallet-transfer {
	&__title:first-child {
		margin-top: 0;
	}

	&__text {
		max-width: $block-text-width;
		margin-top: 0;
		font-family: $basic-heading-family;
		font-weight: $bold;
		color: $color-blueberry;
	}
}

.wallet-switch {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__item {
		width: 40%;
		margin-bottom: 0;
		color: $color-head-orange;
		font-weight: $bold;

		&[data-account="Vinstkonto"] {
			color: $color-pink;
		}

		@media screen and (min-width: $screen-md) {
			padding: $padding-small;
			border: 1px solid $color-gravel;
			border-radius: .3em;
		}
	}

	&__label {
		display: block;
		color: $color-blueberry;

		@media screen and (min-width: $screen-md) {
			display: inline-block;
			font-size: 12px;
		}
	}

	&__btn {
		flex: none;
		width: 40px;
		height: 40px;
		padding: 0;
		border: 0;
		margin-right: ($margin-default * 2);
		margin-left: ($margin-default * 2);
		border-radius: 50%;
		background-color: $color-gray-light;
		transition: background-color $duration-fast $ease-standard;

		&:hover,
		&:focus {
			background-color: darken($color-gray, 5%);
		}

		&:focus {
			outline: 0;
		}

		@media screen and (min-width: $screen-md) {
			margin-right: $margin-medium;
			margin-left: $margin-medium;
		}
	}
}

.wallet-transfer {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	@media screen and (min-width: $screen-md) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&:not(:first-child) {
		margin-top: $margin-default;
	}

	&__form-wrapper  {
		width: 100%;

		@media screen and (min-width: $screen-md) {
			width: 40%;
			margin-bottom: 0;
		}
	}

	&__amount {
		height: auto;
		padding: 10px;
		font-weight: $bold;
	}

	&__btn {
		margin-right: 15px;
		padding: $padding-small;
		border: 0;
		border-radius: .3em;
		background-color: $color-gray-light;
		transition: background-color $duration-fast $ease-standard;
		color: $color-white;
		font-weight: $bold;

		&:hover,
		&:focus {
			background-color: $color-gray;
		}

		@media screen and (min-width: $screen-md) {
			flex: 1;
			margin-right: 2%;

			&:first-of-type {
				margin-left: 2%;
			}
		}
	}

	&__submit {
		margin-left: auto;
		font-size: $base-font-size;

		@media screen and (min-width: $screen-md) {
			flex: 2;
			margin-left: 0;
		}

		@media screen and (max-width: 348px) {
			flex: 1;
			margin-top: 10px;
		}
	}
}