.s-promotion-video {
	margin-top: 60px;
	margin-bottom: 60px;

	@media screen and (max-width: $screen-xs-max){
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.block-promotion {
		margin-bottom: 0;
	}
}

.block-promotion {
	&__video {

		&-container {
			position: relative;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			&:last-child {
				.block-promotion__video-wrapper {
					margin-bottom: 0;
				}
			}
		}

		&-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			max-width: 900px;
			margin-bottom: 40px;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}
