.block-promotion--bingo {
	@include max-screen($screen-sm-max) {
		min-height: 0;
	}

	.block-promotion__content {
		padding: 20px;
	}

	p {
		margin-top: 0;
	}

	.block-promotion__title {
		position: relative;
		line-height: 0.85;
		padding-right: 0;

		@include min-screen($screen-xs-min) {
			padding-right: 80px;
		}

		.block-bingo-price {
			position: absolute;
			right: 0;
			top: 0;
		}

		+ p {
			margin-top: 10px;
		}
	}

	.row {
		@include max-screen($screen-xs-max) {
			margin-top: 25px;
		}

		[class*='col-'] {
			padding: 0 15px;

			@include min-screen($screen-sm-min) {
				padding: 0;
			}

			&:first-of-type,
			&.visible-xs-block + div {
				padding-left: 15px;
			}

			&:last-of-type {
				padding-right: 15px;
			}
		}
	}
}

.block-bingo-room {
	p {
		margin-top: 10px;
	}
}

.block-promotion__bingo-icon {
	max-width: 60px;
	float: left;
	box-shadow: 0 2px 4px rgba(0,0,0,0.58);
	border-radius: 4px;
	margin-right: $margin-default;

	img {
		width: 100%;
		height: auto;
	}
}

.block-promotion__bingo-column {
	margin: 5px 0;
	width: 100%;
	display: inline-block;
	text-align: left;

	@include min-screen($screen-sm-min) {
		margin: 25px 0;
		width: auto;
	}

	.h4 {
		margin-top: 0;

		@include max-screen($screen-xs-max) {
			font-size: 16px;
			line-height: 26px;
		}
	}
}
