.block-promotion--text {
	&:not(.text-align-center, .text-align-right) {
		.block-promotion__content {
			padding-right: 10px;

			@include min-screen($screen-sm-min) {
				padding-right: 60px;
			}
		}
	}

	.block-promotion__title {
		@include max-screen($screen-sm) {
			font-size: $size-large;
		}
	}
}

.block-promotion--text.block-promotion--text-rich {
	.block-promotion__content {
		padding: 0;
	}

	// See all content styles in _content.scss
	.block-promotion__rich-text {
		p {
			margin: 20px 0;
		}

		blockquote {
			margin-bottom: 0;
		}

		ul,
		ol {
			margin: 20px 0;
		}
	}
}

.block-promotion--text-full {
	.block-promotion__content {
		 max-width: 730px;
		margin: 0 auto;
	}
	.block-promotion__title {
		font-family: $apercu-bold-font;
	}
	.btn {
		margin-top: 20px;
	}
}

.block-promotion--text-image {
	.block-promotion--image {
		text-align: center;
	}

	.block-promotion__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.block-promotion__title {
		font-family: $apercu-bold-font;
	}

	.btn {
		margin-top: 20px;
	}

	@include min-screen($screen-md-min) {
		.equal-height > div {
			&:first-child {
				order: 2
			}
			&:nth-child(2) {
				order:1
			}
		}
		.block-promotion__content {
			align-items: flex-start;
			text-align: left;
		}
	}
}