.block-promotion--bingo {
	@include max-screen($screen-sm-max) {
		min-height: 0;
	}

	.block-promotion__content {
		padding: 20px;
	}

	p {
		margin-top: 0;
	}

	h4 {
		font-size: 22px;
	}

	.block-promotion__title {
		position: relative;
		line-height: 0.85;
		padding-right: 0;
		font-size: 22px;
		padding-top: 5px;

		@include min-screen($screen-xs-min) {
			padding-right: 80px;
		}

		.block-bingo-price {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 16px;
			background-color: #1f64bb;
			padding: 10px;
			border-radius: 20px;
		}

		+ p {
			margin-top: 10px;
		}
	}

	.row {
		[class*='col-'] {
			&:nth-child(even) {
				.block-promotion__bingo-column {
					p {
						align-self: flex-end;

						@include min-screen($screen-xs-min) {
							align-self: flex-end;
						}
						@include min-screen($screen-md-min) {
							align-self: flex-start;
						}
						@include min-screen($screen-lg-min) {
							align-self: flex-end;
						}
					}
				}
			}

			&:nth-child(2) {
				.block-promotion__bingo-column {
					p {
						@include min-screen($screen-md-min) {
							align-self: center;
						}
						@include min-screen($screen-lg-min) {
							align-self: flex-end;
						}
					}
				}
			}
			&:nth-child(3) {
				.block-promotion__bingo-column {
					p {
						@include min-screen($screen-md-min) {
							align-self: flex-end;
						}
						@include min-screen($screen-lg-min) {
							align-self: flex-start;
						}
					}
				}
			}
		}
	}
}

.block-bingo-room {
	p {
		margin-top: 10px;
	}
}

.block-promotion__bingo-icon {
	max-width: 60px;
	float: left;
	box-shadow: 0 2px 4px rgba(0,0,0,0.58);
	border-radius: 4px;
	margin-right: $margin-default;
	display: none;

	@include min-screen($screen-sm-min) {
		display: inline-block;
	}

	@include min-screen($screen-lg-min) {
		display: none;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.block-promotion__bingo-column {
	margin: 5px 0;
	width: 100%;
	display: inline-block;
	text-align: left;

	@include min-screen($screen-sm-min) {
		margin: 15px 0;
		width: auto;
	}

	.h4 {
		margin-top: 0;
		font-size: 16px;
		line-height: 26px;

		@include min-screen($screen-xs-min) {
			font-size: 22px;
		}
	}

	p {
		display: inline-block;
		align-self: flex-start
	}

	.btn, button {
		padding-left: 0;
		padding-right: 0;
	}
}
