.block-promotion--text {
	&:not(.text-align-center, .text-align-right) {
		.block-promotion__content {
			padding-right: 10px;

			@include min-screen($screen-sm-min) {
				padding-right: 60px;
			}
		}
	}

	.block-promotion__title {
		@include max-screen($screen-sm) {
			font-size: $size-large;
		}
	}
}

[class*='col-']:not(.col-sm-6):not(.col-md-12) .block-promotion--text {
	&:not(.text-align-center .text-align-right) {
		.block-promotion__content {
			/*padding-right: 30%;*/

			@include min-screen($screen-sm-min) {
				padding-right: 50%;
			}
		}
	}
}

.block-promotion--text.block-promotion--text-rich {
	.block-promotion__content {
		padding: 0;
	}

	// See all content styles in _content.scss
	.block-promotion__rich-text {
		p {
			margin: 20px 0;
		}

		blockquote {
			margin-bottom: 0;
		}

		ul,
		ol {
			margin: 20px 0;
		}
	}
}
