
.promotion-offer {
    display: flex;

    height: 100%;
    margin-bottom: $margin-small;
    flex-direction: column;
    &:not(.custom-bg) {
        background-color: $color-blue-deep;
        color: $color-snow;
    }
    
    &--blue {
        background-color: $color-blue;
    }

    &--green {
        background-color: $color-green;
    }

    &--turquoise {
        background-color: $color-turquoise;
    }

    &__content {
        padding: $padding-default $padding-small;
        z-index: 100;
    }

    &__image {
        padding: 0 $padding-small;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            padding-top: $padding-small;
        }

        &--middle {
            align-items: center;
        }
        &--bottom {
            align-items: flex-end;
        }
        &--top {
            align-items: flex-start;
        }
    }

    &__subtitle {
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    &__title {
        font-family: $apercu-bold-font;
        font-weight: bold;
        margin-top: 0;
    }

    .btn {
        margin-top: $margin-default;
    }

    @include min-screen($screen-sm-min) {
        margin-bottom: $margin-default;
        flex-direction: row;

        &__content,
        &__image {
            width: 50%;
            height: 100%;
        }
        &__content {
            padding: $padding-default $padding-small $padding-default $padding-default;
            display: flex;
            flex-direction: column;
        }
        &__image {
            padding: 0 $padding-default 0 $padding-small;
        }
        &__cta {
            margin-top: auto;
        }
        
    }
    
    @include min-screen($screen-lg-min) {
        margin-bottom: $margin-default;
    }
}



.promotion-offer {
    margin-bottom: 20px;
    &--dark {
        color: $color-snow!important;
    }

    &--light {
        color: $color-blue-deep-2!important;
    }

    &.alignment {
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
        &-left {
            text-align: left;
        }
    }

    &--column {
        //margin: 0;
        min-height: 228px;
        .promotion-offer__title {
            margin-top: 20px;
        }
        .promotion-offer__image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 20px 20px 10px;
            img {
                min-width: 135px;
            }

            &.image {
                &--bottom {
                    padding-bottom: 0;
                    justify-content: flex-end;
                    img {
                        padding-top: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    &__content {
        padding-bottom: 30px;
        height: 100%;
    }

    &.column-1 {
        .promotion-offer__content {
            width: 100%;
            padding-right: 20px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
        }
        .promotion-offer__image {
            width: 100%;
            padding-left: 20px;
        }
        .btn {
            max-width: 100%;
            word-wrap: break-word;
        }
    }

    &.content-to {
        &--left {
            .promotion-offer__content {
                order:1;
            }
            .promotion-offer__image {
                order:2;
            }
        }
        &--right {
            .promotion-offer__content {
                order:2;
                padding-left: 10px;
                padding-right: 20px;
            }
            .promotion-offer__image {
                order:1;
                padding-right: 10px;
                padding-left: 20px;
            }
        }
    }
}


.s-promotion-offer {

    @include min-screen($screen-md-min) {
        margin-bottom: 40px;
    }
    &--full {
        margin-bottom: 20px;
        @include min-screen($screen-md-min) {
            margin-bottom: 60px;
        }
        .promotion-offer {
            margin-bottom: 0;
        }
        .promotion-offer__content {
            justify-content: center;
        }
        .promotion-offer__cta {
            margin-top: 10px;
        }
    }
}