.text-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: $margin-small;
  min-height: 282px;

  @media screen and (min-width: $screen-sm) {
    margin-bottom: $margin-small * 2;
  }

  &.text-block--dark {
    color: $color-snow;
  }

  &.text-block--light {
    color: $color-blue-deep;
  }

  &.alignment {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-left {
      text-align: left;
    }
  }


  &__title {
    margin-top: 18px;
    font-size: 28px;
    line-height: 1.1333;
    @media screen and (min-width: $screen-md) {
      font-size: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: 100%;
  }

  &--small {
    .text-block {
      &__content {
        width: 100%;
        padding: 20px 20px 30px;
      }
    }

    .text-block__cta {
      justify-self: flex-end;
      margin-top: 20px;
    }

    .btn {
      max-width: 100%;
      word-wrap: break-word;
      white-space: normal;
    }
  }

  &--medium,
  &--large {
    .text-block {
      &__content {
        justify-content: center;
        width: 100%;
        padding: 20px 20px 30px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &__image {
        width: 100%;
        padding-left: 20px;
      }
    }
    .btn {
      max-width: 100%;
      word-wrap: break-word;
    }
  }

  &--large {
    .text-block {
      &__content {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
