<div class="accordion__title @@if(context.active){active}">
	<h2 class="h2">@@content_title</h2>
	<i class="icon icon-chevron-down icon-size-small"></i>
</div>

<div class="accordion-content @@if(context.content_size === 'medium'){accordion-content--column}">

	@@if(context.content_size === "" && context.content_first === "list" && content_second === "") {
		<ul class="list-style-check">@@include('blocks/accordions/block/_accordion-list.html')</ul>
	}

	@@if (context.content_size === "" && context.content_first === "text" && content_second === "") {
		@@include('blocks/accordions/block/_accordion-text.html')
	}

	@@if (context.content_size === "" && context.content_first === "img" && content_second === "") {
		<div class="text-align-center">
			<img src="@@content_img_url" alt="">
		</div>
	}


	@@if (context.content_size === "medium" && context.content_first === "list" && context.content_second === "text" ) {
	<div class="column-2">
		<ul class="list-style-check list--wFull">
			@@include('blocks/accordions/block/_accordion-list.html')
		</ul>
	</div>
	<div class="column-2">
		@@include('blocks/accordions/block/_accordion-text.html')
	</div>
	}

	@@if (context.content_size === "medium" && context.content_first === "text" && context.content_second === "list" ) {
	<div class="column-2">
		@@include('blocks/accordions/block/_accordion-text.html')
	</div>
	<div class="column-2">
		<ul class="list-style-check list--wFull">
			@@include('blocks/accordions/block/_accordion-list.html')
		</ul>
	</div>
	}

	@@if (context.content_size === "medium" && context.content_first === "img" && context.content_second === "list" ) {

	<div class="column-2 column-2--thumb"><img src="@@content_img_url" alt=""></div>

	<div class="column-2">
		<ul class="list-style-check list--wFull">
			@@include('blocks/accordions/block/_accordion-list.html')
		</ul>
	</div>
	}
	@@if (context.content_size === "medium" && context.content_first === "img" && context.content_second === "text" ) {

	<div class="column-2 column-2--thumb"><img src="@@content_img_url" alt=""></div>

	<div class="column-2">
		@@include('blocks/accordions/block/_accordion-text.html')
	</div>
	}

	@@if (context.content_size === "medium" && context.content_first === "text" && context.content_second === "img" ) {
	<div class="column-2">
		@@include('blocks/accordions/block/_accordion-text.html')
	</div>

	<div class="column-2 column-2--thumb"><img src="@@content_img_url" alt=""></div>

	}

	@@if (context.content_size === "medium" && context.content_first === "list" && context.content_second === "img" ) {
	<div class="column-2">
		<ul class="list-style-check list--wFull">
			@@include('blocks/accordions/block/_accordion-list.html')
		</ul>
	</div>

	<div class="column-2 column-2--thumb"><img src="@@content_img_url" alt=""></div>

	}
</div>