@@include('blocks/accordions/_accordion-body.html', {
"active": true,
"content_first": "list",
"content_second": "",
"content_img_url": "",
"content_size": "",
"content_title": "Ge bort lotter i påsk"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "text",
"content_second": "",
"content_img_url": "",
"content_size": "",
"content_title": "Ge bort lotter i påsk 1.1"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "img",
"content_second": "",
"content_img_url": "assets/img/subscription/s-reg-total.png",
"content_size": "",
"content_title": "Ge bort lotter i påsk 1.2"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "list",
"content_second": "text",
"content_img_url": "",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 2"
})
@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "text",
"content_second": "list",
"content_img_url": "",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 2.1"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "img",
"content_second": "list",
"content_img_url": "assets/img/subscription/s-reg-total.png",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 3"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "img",
"content_second": "text",
"content_img_url": "assets/img/subscription/s-reg-total.png",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 3"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "text",
"content_second": "img",
"content_img_url": "assets/img/subscription/s-reg-total.png",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 3"
})

@@include('blocks/accordions/_accordion-body.html', {
"active": false,
"content_first": "list",
"content_second": "img",
"content_img_url": "assets/img/subscription/s-reg-total.png",
"content_size": "medium",
"content_title": "Ge bort lotter i påsk 3"
})