.icon:before {
	font-family: "ml-icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.icon-eye:before {
	content: "\e900";
}
.icon-burger:before {
	content: "\e901";
}
.icon-more-alt:before {
	content: "\e902";
}
.icon-add-profile:before {
	content: "\e903";
}
.icon-arrow-buttton:before {
	content: "\e904";
}
.icon-check:before {
	content: "\e905";
}
.icon-chevron-down:before {
	content: "\e906";
}
.icon-close-button:before {
	content: "\e907";
}
.icon-close:before {
	content: "\e908";
}
.icon-cog:before {
	content: "\e909";
}
.icon-game:before {
	content: "\e90a";
}
.icon-heart:before {
	content: "\e90b";
}
.icon-insert:before {
	content: "\e90c";
}
.icon-leave:before {
	content: "\e90d";
}
.icon-more:before {
	content: "\e90e";
}
.icon-plus:before {
	content: "\e90f";
}
.icon-search:before {
	content: "\e910";
}
.icon-star:before {
	content: "\e911";
}
.icon-user:before {
	content: "\e912";
}
.icon-basket:before {
	content: "\e913";
}
.icon-youtube:before {
	content: "\e914";
}
.icon-facebook:before {
	content: "\e915";
}
.icon-twitter:before {
	content: "\e916";
}
.icon-instagram:before {
	content: "\e917";
}
