

.icon:before {
	font-family: "ml-icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.icon-dream-star:before {
	content: "\e91d";
}

.icon-eye:before {
	content: "\e900";
}

.icon-burger:before {
	content: "\e901";
}

.icon-more-alt:before {
	content: "\e902";
}

.icon-add-profile:before {
	content: "\e903";
}

.icon-arrow-button:before {
	content: "\e904";
}

.icon-check:before {
	content: "\e905";
}

.icon-chevron-down:before {
	content: "\e906";
}

.icon-chevron-left:before {
	content: "\e907";
}

.icon-chevron-right:before {
	content: "\e908";
}

.icon-chevron-up:before {
	content: "\e909";
}

.icon-close-button:before {
	content: "\e90a";
}

.icon-close:before {
	content: "\e90b";
}

.icon-cog:before {
	content: "\e90c";
}

.icon-game:before {
	content: "\e90d";
}

.icon-heart:before {
	content: "\e90e";
}

.icon-insert:before {
	content: "\e90f";
}

.icon-leave:before {
	content: "\e910";
}

.icon-more:before {
	content: "\e911";
}

.icon-plus:before {
	content: "\e912";
}

.icon-search:before {
	content: "\e913";
}

.icon-star:before {
	content: "\e914";
}

.icon-user:before {
	content: "\e915";
}

.icon-basket:before {
	content: "\e916";
}

.icon-youtube:before {
	content: "\e917";
}

.icon-facebook:before {
	content: "\e918";
}

.icon-twitter:before {
	content: "\e919";
}

.icon-instagram:before {
	content: "\e91a";
}

.icon-lock:before {
	content: "\e91b";
}

.icon-linkedin:before {
	content: "\e91c";
}