h1,
.h1 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;

	@include min-screen($screen-sm-min) {
		font-size: 65px;
		line-height: 65px;
	}
}

h2,
.h2 {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;

	@include min-screen($screen-sm-min) {
		font-size: 36px;
		line-height: 46px;
	}
}

h3,
.h3 {
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;

	@include min-screen($screen-sm-min) {
		font-size: 48px;
		line-height: 56px;
	}
}

h4,
.h4 {
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;

	@include min-screen($screen-sm-min) {
		font-size: 30px;
		line-height: 36px;
	}
}

h5,
.h5 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
}
