// Visibility
.hide-mobile {
	display: none;

	@include min-screen($screen-md-min) {
		display: block;
	}
}

.show-mobile {
	display: block;

	@include min-screen($screen-md-min) {
		display: none;
	}
}

// Alignment
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.align-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 100%;
	pointer-events:none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events:none;
}

.flex-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-align--top {
	justify-content: flex-start;
}

.flex-align--center {
	justify-content: center;
}

.flex-align--bottom {
	justify-content: flex-end;
}

.flex-top {
	justify-content: flex-start;
}

.flex-middle {
	justify-content: center;
}

.flex-bottom {
	justify-content: flex-end;
}

a img.align-left,
img.align-left {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.align-right,
img.align-right {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.align-center,
img.align-center {
	display: block;
	margin: 20px auto;
}
