//Safari Rendering
* {
	text-rendering: optimizeLegibility;
}

// Visibility
&.touchevents {
	.show-touch {
		display: block;
	}
}

&.no-touchevents {
	.show-touch {
		display: none;
	}
}

.js-hidden {
	display: none;
}

// Alignment
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.align-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.d-flex {
	display: flex;
}

//for blocks-new-blocks.html
.flex-adaptive_custom-4 {
	display: flex;
	& > div {
		& > div {
			height: 100%;
		}
	}
}

.flex-adaptive_custom-2 {
	display: flex;
}

@media screen and (max-width: 1200px) {
	.flex-adaptive_custom-4 {
		flex-wrap: wrap;

		& > div {
			width: 50%;

			& > div {
				width: 100%;
				height: 100%;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1110px) {
	.flex-adaptive_custom-2 {
		flex-wrap: wrap;

		& > div {
			width: 100%;
		}
	}
}

@media screen and (max-width: 575px) {
	.flex-adaptive_custom-4 {

		& > div {
			width: 100%;
		}
	}
}



.flex-top {
	justify-content: flex-start;
}

.flex-middle {
	justify-content: center;
}

.flex-bottom {
	justify-content: flex-end;
}

a img.align-left,
img.align-left {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.align-right,
img.align-right {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.align-center,
img.align-center {
	display: block;
	margin: 20px auto;
}

.background-color-million {
	background-color: $color-blue-deep;
}

.background-color-blue {
	background-color: $color-blue-deep;
}

.background-color-light-blue {
	background-color: $color-blue-light;
}

.background-color-grey {
	background-color: $color-grey-bg;
}

.background-color-green {
	background-color: $color-green;
}

.background-color-yellow {
	background-color: $color-yellow;
}

.background-color-orange {
	background-color: $color-orange;
}

.background-color-light-orange {
	background-color: $color-orange-light;
}

.head-color-orange {
	background-color: $color-head-orange;
}

.background-color-pink {
	background-color: $color-pink;
}

.background-color-newturqiose {
	background-color: $color-turquoise;
	color: $color-primary;
}

.background-color-turquoise {
	background-color: $color-turquoise;
	color: $color-primary;
}

.background-color-light-turquoise {
	background-color: $color-turquoise-light;
	color: $color-primary;
}
.background-color-gray {
	background-color: $color-gray;
}

.background-color-black {
	background-color: $color-black;
}

.background-color-white {
	background-color: $color-light;
}

.background-color-lightpink {
	background-color: $color-light-pink;
}

.background-color-lightorange {
	background-color: $color-light-orange;
}

.border-color-orange {
	background-color: $color-border-orange;
}

.border-color-pink {
	background-color: $color-border-pink;
}

.text-color-green {
	color: #33b663;
}

.text-color-orange {
	color: #f89471;
}

.text-protection {
	&:after {
		content: ' ';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent 0%, rgba(0, 0, 0, 1) 100%);
		transition: opacity $duration-fast $delay-none $ease-in-out;
		opacity: 0.74;

		@include min-screen($screen-sm-min) {
			opacity: 0.54;
		}
	}

	&.text-protection-half {
		&:after {
			height: 50%;
		}
	}

	&:hover {
		&:after {
			@include min-screen($screen-sm-min) {
				opacity: 0.74;
			}
		}
	}

	&.block-promotion--color-blue {
		&:after {
			background: linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 100%);
		}
	}
}

.text-shadow {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

	&.text-shadow--heavy {
		text-shadow: 0 0 0.5em #333, 0 2px 1em rgba(0, 0, 0, .65), 0 4px 1em rgba(0, 0, 0, .65), 0 8px 2em rgba(0, 0, 0, .65);
	}
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.space-30 {
    height: 30px;
}

.space-80 {
    height: 80px;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
}

.mt-auto {
	margin-top: auto;
}

.m-0 {
	margin: 0!important;
}