// Visibility
&.touchevents {
	.show-touch {
		display: block;
	}
}

&.no-touchevents {
	.show-touch {
		display: none;
	}
}

.js-hidden {
	display: none;
}

// Alignment
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.align-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.flex-top {
	justify-content: flex-start;
}

.flex-middle {
	justify-content: center;
}

.flex-bottom {
	justify-content: flex-end;
}



a img.align-left,
img.align-left {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.align-right,
img.align-right {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.align-center,
img.align-center {
	display: block;
	margin: 20px auto;
}

.background-color-blue {
	background-color: $color-blue;
}

.background-color-green {
	background-color: $color-green;
}

.background-color-yellow {
	background-color: $color-yellow;
}

.background-color-orange {
	background-color: $color-orange;
}

.background-color-pink {
	background-color: $color-pink;
}

.background-color-turquoise {
	background-color: $color-turquoise;
}

.background-color-gray {
	background-color: $color-gray;
}

.background-color-black {
	background-color: $color-black;
}

.background-color-white {
	background-color: $color-light;
}

.text-protection {
	&:after {
		content: ' ';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent 0%, rgba(0, 0, 0, 1) 100%);
		transition: opacity $duration-fast $delay-none $ease-in-out;
		opacity: 0.74;

		@include min-screen($screen-sm-min) {
			opacity: 0.54;
		}
	}

	&.text-protection-half {
		&:after {
			height: 50%;
		}
	}

	&:hover {
		&:after {
			@include min-screen($screen-sm-min) {
				opacity: 0.74;
			}
		}
	}
}

.text-shadow {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
