<!-- Promotion Mix -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion - Mix image (square ratio) with dynamic image and text block</h2>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--image block-promotion--image-dynamic block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<!-- Promotion Mix -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion - Mix image (landscape ratio) with dynamic image and text blockt</h2>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--image block-promotion--image-dynamic block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<!-- Promotion Mix -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion - Mix image (portrait ratio) with dynamic image and text block</h2>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--image block-promotion--image-dynamic block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>
