<!-- Promotion video -->
<section class="s-promotion-video">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 block-title-wrap--center">
				<h2 class="h2 block-title-marked block-title-marked--@@background_color">Så funkar det</h2>
			</div>
			<div class="col-xs-12">
				<div class="block-promotion block-promotion__video block">
					<div class="block-promotion__video-container">
						<div class="block-promotion__video-wrapper">
							<iframe
								width="560"
								height="315"
								loading="lazy"
								src="https://www.youtube.com/embed/EOQZ4VEi92M?"
								srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img{position:absolute;width:100%;height:auto;top:50%;left:0;right:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:auto} span{position:absolute;width:100%;top:0;bottom:0;margin:auto;height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style>
									<a href=https://www.youtube.com/embed/EOQZ4VEi92M?autoplay=1>
										<img src=https://img.youtube.com/vi/EOQZ4VEi92M/maxresdefault.jpg>
										<span>▶</span>
									</a>"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					@@if(context.has_link){
					<div class="text-center">
						<a href="" class="btn btn-@@link-type">Läs mer om vad vi gör</a>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>