<!-- Promotion video -->
<section class="s-promotion-video">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 block-title-wrap">
				<h2 class="h2 block-title-marked block-title-marked--@@background_color">Så funkar det</h2>
			</div>
			<div class="col-xs-12">
				<div class="block-promotion block-promotion__video block">
					<div class="block-promotion__video-container">
						<div class="block-promotion__video-wrapper">
							<iframe
								width="560"
								height="315"
								loading="lazy"
								src="https://www.youtube.com/embed/EOQZ4VEi92M?rel=0"
								srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%} a{display:block} a>img{position:absolute;width:100%;height:auto;top:50%;left:0;right:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);margin:auto} span{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:absolute;width:80px;height:80px;background:rgba(0,0,0,0.5);border-radius:50%;top:50%;left:50%;margin:-40px 0 0 -40px;padding-left:6px;-webkit-box-sizing:border-box;box-sizing:border-box} span>img{display:block;width:29px;height:auto;}</style>
									<a href=https://www.youtube.com/embed/EOQZ4VEi92M?autoplay=1&rel=0>
										<img src=https://img.youtube.com/vi/EOQZ4VEi92M/maxresdefault.jpg>
										<span>
											<img src=assets/img/icons/play-btn.svg>
										</span>
									</a>"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					@@if(context.has_link){
					<div class="text-center">
						<a href="" class="btn btn-@@link-type">Läs mer om vad vi gör</a>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>