@@include('blocks/promotion/block/_promotion-text.html', {
	"size": "small",
	"background": "color",
	"background_color": "pink",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Ge bort lotter i påsk",
	"content_text": "",
	"content_link": "",
	"text_protection": "",
	"text_alignment": ""
})

@@include('blocks/promotion/block/_promotion-text.html', {
	"size": "small",
	"background": "color",
	"background_color": "green",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Ge bort lotter i påsk",
	"content_text": "Beställ nu och få en gåva",
	"content_link": "",
	"text_protection": "",
	"text_alignment": ""
})

@@include('blocks/promotion/block/_promotion-text.html', {
	"size": "medium",
	"background": "color",
	"background_color": "blue",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Ge bort lotter i påsk",
	"content_text": "Beställ nu och få en gåva",
	"content_link": "true",
	"text_protection": "",
	"text_alignment": ""
})
