<!-- Promotion (Small) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Small) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow text-shadow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text with shadow.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-color background-color-turquoise text-shadow flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title with shadow.</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-shadow flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title with text shadow</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-shadow flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text shadow. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion (Small) - Text with rich text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Small) - Text with rich text</h2>
</div>

<!-- Test text -->
<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block-promotion--text-rich block flex-middle">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With title, text and rich text.</p>
			<div class="block-promotion__rich-text">
				<blockquote>
					You could use a quote for example
				</blockquote>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block-promotion--text-rich block flex-middle text-align-center">
		<div class="block-promotion__content">
			<div class="block-promotion__rich-text">
				<p>
					Only use rich text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block-promotion--text-rich block flex-top">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<div class="block-promotion__rich-text">
				<p>
					You can use lists. Paragraphs. Headings. Yes, everything that you can put in the rich text field will show here.
				</p>
				<ul>
					<li>
						<a href="/">Link list item</a>
					</li>
					<li>
						<a href="/">Link list item</a>
					</li>
					<li>
						<a href="/">Link list item</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block-promotion--text-rich block flex-middle text-align-center">
		<div class="block-promotion__content">
			<div class="block-promotion__rich-text">
				<blockquote>
					You could use a quote for example
				</blockquote>
			</div>
		</div>
	</div>
</div>

<!-- Example -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block-promotion--text-rich block flex-top">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Vårbonus ger dig extra att spela för</p>

			<div class="block-promotion__rich-text">
				<p class="preamble">Måndag - Söndag</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis lectus molestie id.
				</p>
				<ul>
					<li>
						<a href="/">Link list item</a>
					</li>
					<li>
						<a href="/">Link list item</a>
					</li>
					<li>
						<a href="/">Link list item</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<!-- Promotion (Medium) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Medium) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-turquoise flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion (Large) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Large) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-turquoise flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>
