<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block block-promotion">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/glacier.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block block--background-color background-color-gray block-promotion flex-middle text-align-center">
		<a class="block-promotion__link" href="/" title="Ge bort lotter i påsk">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Ge bort lotter i påsk</p>
				<p>Beställ nu och få en gåva</p>
			</div>
		</a>
	</div>
</div>
