<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4" >Ge bort lotter i påsk</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-orange flex-bottom">
		<a class="block-promotion__link" href="/" title="Ge bort lotter i påsk">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4" >Ge bort lotter i påsk</p>
				<p>Beställ nu och få en gåva</p>
			</div>
		</a>
	</div>
</div>

@@include('blocks/promotion/block/_promotion-split.html', {
	"size": "medium",
	"background": "color",
	"background_color": "pink",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Ditt lottköp gör skillnad",
	"content_text": "",
	"content_link": "true",
	"content_image": "assets/img/mockup/butterfly.jpg",
	"text_protection": "",
	"text_alignment": ""
})
