<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/glacier.jpg')">
			</div>
		</div>
	</div>
</div>

@@include('blocks/promotion/block/_promotion-text.html', {
"size": "medium",
"background": "color",
"background_color": "gray",
"background_color_pattern": "",
"background_image": "",
"content_alignment": "middle",
"content_title": "Ge bort lotter i påsk",
"content_text": "Beställ nu och få en gåva",
"content_link": "true",
"text_protection": "",
"text_alignment": "center"
})
