<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square block--background-image"
				 style="background-image: url('assets/img/mockup/train.jpg')">
			</div>
		</div>
	</div>
</div>

@@include('blocks/promotion/block/_promotion-text.html', {
	"size": "medium",
	"background": "",
	"background_color": "",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "middle",
	"content_title": "Resan börjar idag",
	"content_text": "Börja prenumerera",
	"content_link": "",
	"text_protection": "",
	"text_alignment": "center"
})
