<!-- Promotion blocks - Small with bingo -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Small with bingo</h2>
</div>

@@loop('blocks/promotion/block/_promotion-bingo.html', [
	{
		"color": "blue",
		"image": "assets/img/mockup/bingo-icon.png",
		"title": "Bingorum 1",
		"next_game": "Tvåkronan",
		"jackpot": "2 445 kr",
		"next_time": "06:15",
		"players": "65"
	},
	{
		"color": "blue",
		"image": "",
		"title": "Bingorum längre 2",
		"next_game": "Tvåkronan",
		"jackpot": "5 445 kr",
		"next_time": "08:15",
		"players": "30"
	}
])

<!-- Promotion blocks - Small with text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Small with text</h2>
</div>

<!-- Background color -->

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion blocks -  Small with image (Square) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Small with image (Square)</h2>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/man.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--square"
					 style="background-image: url('assets/img/mockup/nature.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--square"
					 style="background-image: url('assets/img/mockup/train.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Small with image (Landscape) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Small with image (Landscape)</h2>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/man.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--landscape"
					 style="background-image: url('assets/img/mockup/nature.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--landscape"
					 style="background-image: url('assets/img/mockup/train.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Small with image (Portrait) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Small with image (Portrait)</h2>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/man.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--portrait"
					 style="background-image: url('assets/img/mockup/nature.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--portrait"
					 style="background-image: url('assets/img/mockup/train.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Medium with text -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Medium with text</h2>
</div>

<!-- Background color -->

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion blocks -  Medium with image (Square) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Medium with image (Square)</h2>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--square"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Medium with image (Landscape) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Medium with image (Landscape)</h2>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--landscape"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Medium with image (Portrait) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Medium with image (Portrait)</h2>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--portrait"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Medium with text and image -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Medium with text and image</h2>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--split block block--background-pattern block--background-color background-color-pink flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content block-promotion__content--split">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and image. Has link. Has text.</p>
			</div>
			<div class="block-promotion__image block-promotion__image--split"
				 style="background-image: url('assets/img/mockup/butterfly.jpg')">
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--split block block--background-pattern block--background-color background-color-orange flex-bottom">
		<div class="block-promotion__content block-promotion__content--split">
			<p class="block-promotion__title h4">Block title</p>
		</div>
		<div class="block-promotion__image block-promotion__image--split"
			 style="background-image: url('assets/img/mockup/car.jpg')">
		</div>
	</div>
</div>

<!-- Promotion blocks -  Large with text -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Large with text</h2>
</div>

<!-- Background color -->

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion blocks -  Large with image (Square) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Large with image (Square)</h2>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--square"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--square"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>

<!-- Promotion blocks -  Large with image (Landscape) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Large with image (Landscape)</h2>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--landscape"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--landscape"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>


<!-- Promotion blocks -  Large with image (Portrait) -->

<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion blocks - Large with image (Portrait)</h2>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--image block flex-bottom">
		<a class="block-promotion__link" href="/" title="">
			<div class="block-promotion__image-wrapper">
				<div class="block-promotion__image block-promotion__image--portrait"
					 style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</a>
	</div>
</div>
