<!-- Promotion (Medium) - Bingo -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Medium) - Bingo</h2>
</div>

@@loop('blocks/promotion/block/_promotion-bingo.html', [
	{
		"color": "blue",
		"image": "assets/img/mockup/bingo-icon.png",
		"title": "Zoobaloo",
		"price": "10 kr",
		"next_game": "Tvåkronan",
		"jackpot": "333 445 kr",
		"next_time": "06:15",
		"players": "65",
		"bingo_room": "Bingorum 1"
	},
	{
		"color": "blue",
		"image": "",
		"title": "Femkronan",
		"price": "10 kr",
		"next_game": "Zoobaloo",
		"jackpot": "500 445 kr",
		"next_time": "08:15",
		"players": "30",
		"bingo_room": "Bingorum 1"
	}
])
