<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block flex-middle">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4" >Ditt lottköp gör skillnad</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/butterfly.jpg')">
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--image block">
		<div class="block-promotion__image-wrapper">
			<div class="block-promotion__image block-promotion__image--portrait"
				 style="background-image: url('assets/img/mockup/sunset.jpg')">
			</div>
		</div>
	</div>
</div>
