<!-- Promotion (Medium) - Split -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Medium) - Split</h2>
</div>

@@include('blocks/promotion/block/_promotion-split.html', {
	"size": "medium",
	"background": "color",
	"background_color": "pink",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Block title",
	"content_text": "With background color and image. Has link. Has text.",
	"content_link": "true",
	"content_image": "assets/img/mockup/butterfly.jpg",
	"text_protection": "",
	"text_alignment": ""
})

@@include('blocks/promotion/block/_promotion-split.html', {
	"size": "medium",
	"background": "color",
	"background_color": "orange",
	"background_color_pattern": "true",
	"background_image": "",
	"content_alignment": "bottom",
	"content_title": "Block title",
	"content_text": "",
	"content_link": "",
	"content_image": "assets/img/mockup/car.jpg",
	"text_protection": "",
	"text_alignment": ""
})

@@include('blocks/promotion/block/_promotion-split.html', {
"size": "medium",
"background": "color",
"background_color": "pink",
"background_color_pattern": "true",
"background_image": "",
"content_alignment": "top",
"content_title": "Block title",
"content_text": "With background color and image. Has link. Has text.",
"content_link": "true",
"content_image": "assets/img/mockup/butterfly.jpg",
"text_protection": "",
"text_alignment": ""
})

@@include('blocks/promotion/block/_promotion-split.html', {
"size": "medium",
"background": "color",
"background_color": "orange",
"background_color_pattern": "true",
"background_image": "",
"content_alignment": "top",
"content_title": "Block title",
"content_text": "",
"content_link": "",
"content_image": "assets/img/mockup/car.jpg",
"text_protection": "",
"text_alignment": ""
})
