<!-- Promotion (Small) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Small) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion (Medium) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Medium) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>

<!-- Promotion (Large) - Text -->
<div class="col-xs-12">
	<h2 class="section__heading h3">Promotion (Large) - Text</h2>
</div>

<!-- Background color -->
<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-pink flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background color and pattern. No link. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-yellow flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background color and pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-gray flex-bottom">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__text">With background color. No pattern. Has link. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-color background-color-green flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
		</div>
	</div>
</div>

<!-- Background image -->
<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">With background image. Has text.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
				<p class="block-promotion__text">With background image. Has text protection. Has text.</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Link title">
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Block title</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12">
	<div class="block-promotion block-promotion--text block block--background-image text-protection flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<div class="block-promotion__content">
			<p class="block-promotion__text">With background image. Has text protection. No link. Has text.</p>
		</div>
	</div>
</div>

<!-- Text align -->
<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align left.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-middle text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-top text-align-right">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align middle. Text align center.</p>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div
		class="block-promotion block-promotion--text block block--background-pattern block--background-color background-color-blue flex-bottom text-align-center">
		<div class="block-promotion__content">
			<p class="block-promotion__title h4">Block title</p>
			<p class="block-promotion__text">Content align bottom. Text align center.</p>
		</div>
	</div>
</div>
