<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block block--background-pattern block--background-color block--color-pink block-promotion flex-bottom">
		<div class="block-promotion__content">
			<p class="block-promotion__title h3" >Ge bort lotter i påsk</p>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
	<div
		class="block block--background-pattern block--background-color block--color-green block-promotion flex-bottom">
		<a class="block-promotion__link" href="/" title="Ge bort lotter i påsk">
			<div class="block-promotion__content">
				<p class="block-promotion__title h3" >Ge bort lotter i påsk</p>
				<p>Beställ nu och få en gåva</p>
			</div>
		</a>
	</div>
</div>

<div class="col-xs-12 col-md-12 col-lg-6">
	<div class="block block--background-image block--scrim block-promotion flex-bottom"
		 style="background-image: url('assets/img/mockup/car.jpg')">
		<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
			<div class="block-promotion__content">
				<p class="block-promotion__title h3" >Bli prenumerant och förverkliga din dröm</p>
				<p>Bli medlem idag</p>
			</div>
		</a>
	</div>
</div>
