<div class="block-promotion block-promotion--text-image block block--background-pattern block--background-color background-color-blue flex-middle">
	<div class="container">
		<div class="row equal-height">
			<div class="col-xs-12 col-md-6">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Som tack vill vi ge dig ett riktigt bra erbjudande!</p>
					<p class="block-promotion__text">Du får 6 lotter hem i brevlådan varje månad, eller 6 digitala lotter att skrapa på hemsidan.
						Tredje månaden får du dessutom 500 kr extra att handla för i vår vinstshop. Varje lott har en vinstchans på 10 miljoner – och du kan även vinna bilar och riktigt stora summor i våra spännande Jackpot- och Nitlottsdragningar 12 gånger om året.</p>
					<a href="" class="btn btn-cta">Välj lotter som gör gott</a>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="block-promotion--image">
					<img src="assets/img/mockup/promotion--image.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
