<div class="block-promotion block-promotion--text-full block--background-color background-color-blue flex-middle text-align-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Som tack vill vi ge dig ett riktigt bra erbjudande!</p>
					<p class="block-promotion__text">Du får 6 lotter hem i brevlådan varje månad, eller 6 digitala lotter att skrapa på hemsidan. Tredje månaden får du dessutom 500 kr extra att handla för i vår vinstshop.</p>
					<a href="" class="btn btn-cta">Välj lotter som gör gott</a>
				</div>
			</div>
		</div>
	</div>

</div>