@import "message";
@import "top-account";
@import "navigation";

a {
    color: $color-blue-deep-2;
}

#top {
    .top {
        background-image: linear-gradient($color-snow, #F5F3F3);
        top: 0;
        width: 100%;
    
        &__holder {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: $padding-small 0;
            padding-bottom: 0;
            max-width: 1400px;
            margin: 0 auto;
            transition: width .3s ease-in-out;
        }
    
        &--slide-out {
            margin: 0;
            justify-content: flex-start;
        }
    
        &__overlay {
            width: 100vw;
            height: 100%;
            position: fixed;
            opacity: 0;
            background: $color-overlay;
            transition: opacity .3s ease-in-out;
            top: 0;
            left: 0;
            z-index: 1005;
    
            &--closed {
                visibility: hidden;
            }
    
            &--show {
                opacity: 1;
                visibility: visible;
            }
    
            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;     
                position: fixed;
                transform: scale(0);
                z-index: 1006;
                width: 9vw;
                height: 9vw;
                margin-top: -20px !important;
                top: 50vh;
                transition: transform .3s ease-in-out .3s;
                
                &--left {
                    left: 88vw;
                }
    
                &--right {
                    right: 88vw;             
                }
    
                &--show {
                    transform: scale(1);
                }
    
                &--closing {
                    transition: transform .3s ease-in-out 0s;
                }
            }
        }
    
        &__menu {
            padding: 0 $padding-small;
            &-toggle {
                order: 2;
                padding: 0 $padding-small;
                flex: 0 0 33.3%;
                opacity: 1;
                
                button {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    height: 100%;
                    border: none;
                    font-size: 14px;
                    background-color: transparent;
                    color: $color-blue;
                    outline: 0;
    
                    &:hover {
                        color: darken($color-primary, $color-darken-amount);
                    }
                }
                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                }
    
                &--notify {
                    button {
                        position: relative;
                        &:after {
                            content: '';
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            background-color: $color-red;
                            position: absolute;
                            top: 0;
                            left: 10px;
                        }
                    }
                }
    
                &--account {
                    order: 3;
    
                    button {
                        margin-left: auto;
                        
                        .icon {
                            color: #90a9ba;
                        }
                    }
                }
            }       
        }
    
        &__brand {
            flex: 0 0 33.3%;
            flex: 1 1 auto;
            text-align: center;
            order: 2;
    
            &-logotype {
                display: inline-block;
    
                img {
                    width: 88px;
                    height: 28px;
                    max-width: none;
                }
            }

            &-register {
                font-weight: 700;
            }
        }
    
        &__contact {
            display: flex;
            order: 4;
            align-items: center;
            display: none;

            &--hidden {
                display: none !important;

                & + .top__actions {
                    margin-left: auto;
                }

                & + .top__account-info {
                    margin-left: auto;

                    & + .top__actions  {
                        margin-left: 0;
                        @include max-screen(942px) { 
                            margin-left: auto;
                        }
                    }
                }

            }

            & + .top__actions {
                margin-left: auto;
            }
    
            .text {
                p, a {
                    color: $color-blue;
                    margin: 0;
                }
    
                p {
                    font-size: 12px;
                }
                a {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    
        &__actions {
            flex: 0 0 100%;
            order: 5;
    
            &-cart {
                width: 100%;
                display: flex;
                top: 0;
                left: 0;
                z-index: 0;
                position: relative;
            }
    
            &-account {
                display: flex;
                width: 100%;
                position: relative;
    
                &-notification {
                    margin-left: 5px;
                    width: 20px;
                    height: 20px;
                    background: $color-red;
                    color: $color-snow;
                    border-radius: 50%;
                    font-size: $size-smallest;
                    text-align: center;
                    line-height: 22px;
                }
    
                a,
                button {
                    width: 50%;
                    border-radius: 0;
                }
    
                .dropdown {
                    display: none;
                }

                .btn-success {
                    background-color: $color-blue-deep-2;
                    &:hover,
                    &:focus {
                        background-color: lighten($color-blue-deep-2, 10%);
                    }
                }

                .btn-primary {
                    background-color: #b8d8eb;
                    &:hover,
                    &:focus {
                        background-color: darken(#b8d8eb, 10%);
                    }
                }
            }

            @include max-screen(1053px){ 
                margin-left: auto;
            }
        }
    
        &__quick-nav {
            width: 100%;
            order: 4;
            margin-top: 20px;
            z-index: 1;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.05);

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
            }
    
            &-separator {
                width: 1px;
                height: 100%;
                background-image: linear-gradient(to top, #D8D8D8, #F5F3F3 80%);
                flex: 0 0 1px;
            }
    
            &-item {
                padding-bottom: 5px;
                text-align: center;
                color: $color-blue;
                flex: 1 1 33%;
    
                &--active {
                    color: $color-space;
                    position: relative;
    
                    a {
                        text-decoration: underline;
                        color: darken($color-primary, $color-darken-amount);
                    }
                }
    
                &--default {
                    & > a {
                        color: $color-space !important;
                    }
                }
    
                a {
                    font-size: 16px;
                    font-weight: 700;
                    word-break: break-word;
                }
            }
        }
    
        &__page-nav { 
            display: none;
        }
    
        &__register-scratch {
            display: flex;
            flex: 0 0 33.3%;
            padding: 0 $padding-small;
            align-items: center;
            justify-content: flex-end;
            order: 3;
            font-size: 14px;
            opacity: 1;

            .logged-in & {
                @include max-screen($screen-sm) {
                    display: none;
                }
            }
        }
    
        &--sticky {
            transition: transform .3s ease-in-out;
            position: fixed;
            background-color: $color-snow;
            z-index: 999;
            transform: translate(0);
        }
    
        &--hide {
            transform: translateY(-128px);
        }
    
        &__mega {
            display: none;
        }
    
        @include min-screen($screen-xs) {
            &__overlay { 
                &-btn {
                    width: 40px;
                    height: 40px;
    
                    &--left {
                        left: 386px;
                    }
    
                    &--right {
                        right: 386px;
                    }
                }
            }
    
            &__mega {
                display: none;
            }
        }
    
        @include min-screen($screen-tablet) {
    
            &__holder {
                padding: 0;
                justify-content: flex-start;
                width: 100%;
            }
    
            &__brand {
                flex: 0 0 auto;
                
                text-align: left;
                padding: 0 $padding-default;
                margin: 20px 0 10px;
                z-index: 10;
            }
    
            &__menu {
                &-toggle {
                    height: 40px;
                    order: 6;
                    flex: 0 0 auto;
                    padding: 0;

                    span {
                        display: none;
                    }
                    .icon {
                        margin-right: 0; 
                    }
                    
                    button {
                        padding: 0 $padding-default;
                    }
    
                    &--default {
                        button {
                            color: $color-space;
    
                            &:hover {
                                color: $color-space;
                            }
                        }
                    }
    
                    &--active {
                        button {
                            color: $color-space;
                            position: relative;
    
                            &:after {
                                content: '';
                                position: absolute;
                                width: 0; 
                                height: 6px;
                                bottom: -8px;
                                right: 50%;
                                margin-right: -6px;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                border-top: 6px solid $color-snow;
                                z-index: 1002;
                            }
                        }
                    }
    
                    &--account {
                        display: none;
                    }
                }
            }
    
            &__register-scratch {
                display: flex;
                order: 6;
                margin-left: auto;
                flex: 1 1 auto;
                padding: 0 20px;
                a {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
    
            &__contact {
                order: 2;
                display: flex;
                margin-right: 10px;
                margin-left: auto;
                align-items: center; 
                display: none;
    
                .icon {
                    margin-right: 10px;
                }

                & + .top__actions {
                    margin-left: auto;
                }
            }
    
            &__account-info { 
                order: 8;
                margin-left: auto;
            }

            &__break {
                flex-basis: 100%;
                width: 0px; 
                height: 0px; 
                overflow: hidden;
                order: 5;
                display: inline-block; 
            }
    
            &__actions {
                display: flex;
                flex: 0 0 auto;
                justify-content: flex-end;
                align-items: center;
                margin-right: 20px;
                height: 45px;
                
                &-cart {
                    width: auto;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    margin-right: 10px;
                    position: relative;
                    padding-right: 0;
                    justify-content: flex-end;
                }
        
                &-account {
                    display: flex;
                    flex: 0 0 auto;
                    width: auto;
                    left: 0;
                    margin-left: 0;
                    position: relative;
                    justify-content: flex-end;
                    height: 100%;
    
                    .dropdown {
                        display: block;
    
                        &__button {
                            background-color: $color-snow;
                            border: 2px solid $color-blue;
                            border-top: none;
                            color: $color-blue;
                            padding: 7px 7px 7px 15px;
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            height: 100%;
    
                            .icon {
                                margin-left: 20px;
                                z-index: 1001;
                            }
    
                            .top__actions-account-notification {
                                z-index: 401;
                            }
                            
    
                            .top__actions-account-notification + .icon{
                                margin-left: 10px;
                                margin-right: 6px;
                            }
    
                            &.open {
                                .top__actions-account-notification {
                                    display: none;
                                }
                            }
                        }
    
                        &.open {
                            .dropdown__button {
                                .top__actions-account-notification {
                                    display: none;
                                }
    
                                .icon {
                                    transform: rotate(180deg);
                                }
                            }
                        }
    
                        &-menu {
                            top: 0;
                            left: auto;
                            right: 0;
                            margin-top: 0;
                            border: 2px solid $color-blue;
                            border-top: none;
                            border-radius: 0 0 0.75em 0.75em;
                            min-width: 234px;
                            z-index: 1000;
                            box-shadow: none;
    
                            ul {
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                display: flex;
                                flex-direction: column;
                                border-top: 1px solid $color-grey-bg;
    
                                li {
                                    padding: 8px 10px 8px 15px;
                                    display: flex;
    
                                    &:first-child {
                                        margin-top: 0;
                                    }
    
                                    a {
                                        display: flex;
                                        width: calc(100% - 22px);
                                        padding: 0;
                                    }
    
                                    .top__actions-account-notification {
                                        margin-left: auto;
                                    }
    
                                    &:last-child {
                                        margin-bottom: 0;
                                        padding-bottom: 5px;
                                    }
                                }
                            }
    
                            &-title {
                                padding: 8px 20px 8px 15px;
                                color: $color-blue;
                                font-size: 16px;
                                display: inline-block;
                            }
    
                            a {
                                font-size: 17px;
                                color: $color-blue;
                                text-decoration: underline;
                                font-weight: 700;
                            }
                        }
    
                    }
    
                    a,
                    button {
                        flex: 0 0 auto;
                        flex-basis: auto;
                        padding: 0 30px;
                        border-radius: 0 0 0.75em 0.75em;
                        outline: 0;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: auto;
    
                        &:after {
                            content: '';
                            min-height: inherit;
                            font-size: 0;
                        }
                    }
    
                    a + a {
                        margin-left: 10px;
                    }
    
                    button + a {
                        margin-left: 10px;
                    }
    
                    a + button {
                        margin-left: 10px;
                    }
    
                    button + button {
                        margin-left: 10px;
                    }
                }
            }
    
            &__quick-nav {
                flex: 0 0 70%;
                order: 6;
                padding: 0;
                margin-top: 0;
                position: relative;
                display: flex;
    
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -1px;
                    width: 1px;
                    height: 60%;
                    background-image: linear-gradient(to top, #D8D8D8, #F5F3F3 80%);
                }
    
                &:after {
                    display: none;
                }
                
                ul {
                    justify-content: flex-start;
    
                    li {
                        position: relative;
    
                        &:last-child {
                            &:after {
                                content: '';
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                width: 1px;
                                height: 60%;
                                background-image: linear-gradient(to top, #D8D8D8, #F5F3F3 80%);
                            }
                        }
                    }
    
                }
    
                &-separator {
                    align-self: flex-end;
                    height: 60%;
                }
    
                &-item {
                    height: 100%;
                    padding-bottom: 0;
                    display: flex;
                    align-items: center;
                    flex: 1 1 auto;
                    
                    a {
                        &:before {
                            content: '';
                            transition: border-top .1s ease-in-out;
                        }
                    }

                    &--active {
                        a {
                            text-decoration: none;

                            &:before {
                                width: 6px; 
                                height: 6px; 
                                position: absolute;
                                bottom: -6px;
                                z-index: 9999;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                                border-top: 6px solid $color-snow;
                                left: calc(50% - 3px);
                            }
                        }

                        &:not(.top__quick-nav-item--has-children) {
                            a {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }

                    &--has-children {
                        position: relative;
                        
                        &:before {
                            content: '';
                            position: absolute;
                            display: block;
                            border: solid #b8d1dd;
                            border-width: 0 2px 2px 0;
                            padding: 3px;
                            transform: rotate(45deg);
                            height: auto;
                            width: auto;
                            background-image: none;
                            font-size: auto;
                            bottom: 6px;
                            left: calc(50% - 2px);
                            opacity: 1;
                            transition: bottom .2s ease, opacity .2s ease;
                        }

                        &.top__quick-nav-item--active {
                            &:before {
                                opacity: 0;
                                bottom: 4px;
                            }
                        }
                    }
    
                    a {
                        font-size: 17px;
                        padding: 10px 20px;
                    }
                }
            }
    
    
            &__page-nav {
                display: flex;
                position: relative;
                top: 100%;
                width: 100vw;
                margin-left: -50vw;
                left: 50%;
                order: 7;
                background-color: $color-blue;
                padding: $padding-small $padding-small 0;
    
                &:before {
                    content: '';
                    width: 100%;
                    height: 4px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                    position: absolute;
                    margin-top: -4px;
                }
    
                &-holder {
                    display: flex;
                    max-width: 1400px;
                    width: 100%;
                    margin: 0 auto;
                }
    
                &--loaded {
                    transition: transform .3s ease-in-out;
                    visibility: visible;
                    transform: translateY(0);
                }
    
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
        
                    li {
                        margin: 0 15px $padding-small;
                        a {
                            color: $color-snow;
                            font-size: 16px;
                        }
                    }
                }
            }
    
            &__mega {
                display: flex;
                position: relative;
                top: 100%;
                width: 100vw;
                margin-left: -50vw;
                left: 50%;
                order: 7;
                background-color: $color-blue-deep-2;
                
                &:before {
                    content: '';
                    width: 100%;
                    height: 4px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                    position: absolute;
                    margin-top: -4px;
                    top: 0;
                }
    
                &-holder {
                    display: flex;
                    max-width: 1400px;
                    width: 100%;
                    margin: 0 auto;
                }
    
                &-item {
                    width: 100%;
                    display: none;
                    padding: 0 $padding-default;
    
                    &--active {
                        display: flex;
                    }
                }
    
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
        
                    .navigation__item {
                        margin: 0 30px 0 0;
                        min-height: 50px;
                        display: flex;
                        align-items: center;
                        margin-left: 0;
    
                        a {
                            display: flex;
                            align-items: center;
                            color: $color-snow;
                            height: 100%;
                            font-size: 16px;
                            font-weight: normal;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        &--active {
                            a {
                                text-decoration: underline;
                                font-weight: 700;
                            }
                        }
                    }
                }

                &--no-default-mega {
                    position: absolute;
                }

                &--hidden {
                    min-height: 50px;

                    .top__mega-item--active {
                        display: none;
                    }
                }
            }
        }
    
        
        @include min-screen($screen-desktop) {
            position: relative;
            z-index: 999;
    
            &__holder {
                position: relative;
            }
    
            &__brand {
                margin-bottom: 0;
                align-self: center;
                height: 100%;
                flex: 0 0 122px;
                
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
    
            &__menu {
                &-toggle {
                    display: none;
                }
            }
    
            &__overlay {
                display: none;
    
                &-btn {
                    display: none;
                }
            }
    
            &__actions {
                flex: 0 1 auto;
                width: auto;
            }
    
            &__register-scratch {
                position: relative;
                right: 0;
                bottom: 0;
                z-index: 1;
                order: 7;
                margin-top: 10px;
                width: 20%;
                
                a {
                    padding: 10px 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            &__quick-nav {
                display: none;
            }
    
            &__main-nav {
                order: 6;
                position: relative;
                z-index: 1;
                margin-top: 10px;
                width: 80%;
            }
    
            &__contact {
                display: flex;

                & + .top__actions {
                    margin-left: 0;
                }
            }
    
            &--sticky {
                position: fixed;
            }
    
            &--animate {
                transition: transform .2s ease;
            }
    
            &--show {
                transform: translateY(0);
            }
        }
    
        @include min-screen($screen-lg-desktop) {
            
            &__holder {
                padding-bottom: 81px;
                height: 91px;
                padding: 0;
                height: auto;
            }
    
            &__brand {
                position: absolute;
                width: 156px;
                flex: 0 0 auto;
                display: flex;
                margin: 0;
                height: auto;
                top: 35px;
                z-index: 2;
    
                &-logotype {
                    display: flex;
                    align-self: flex-start;
    
                    img {
                        width: 126px;
                        height: 40px;
                    }
                }
            }
            
            &__main-nav {
                padding-left: 148px;
                //width: calc(80% - 148px);
                position: relative;
                order: 5;
    
                &:before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 50%;
                    bottom: 0;
                    background-image: linear-gradient(to top, #D8D8D8,#F5F3F3 80%);
                }
            }
        }
    
        @include min-screen(943px){

            &__account-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: auto;
                margin-left: 0;
                margin-right: 10px;
                order: 2;
                padding: 0 10px;
                border-radius: 0 0 0.75em 0.75em;
                border: 2px solid $color-gray-border;
                border-top: none;
                line-height: 1.2;
                height: 45px;

                &-wallet,
                &-winnings {
                    display: block;
                    width: 100% !important;
    
                    a {
                        display: flex;
                    }
                    span {
                        font-size: 15px;

                        &:first-child {
                            margin-right: 20px;
                            text-decoration: underline;
                        }
                        
                        &:last-child {
                            font-weight: 600;
                        }
                    }
                    span + span {
                        margin-left: auto;
                    }
                }
                &-winnings {
                    span {
                        color: $color-blue;
                    }
                }
                &-wallet {
                    span {
                        color: $color-blue;
                    }
                }
                &-cart {
                    display: none;
                }
            }
        }
    
        @include max-screen(942px) {

            &__actions {
                &-cart {
                    display: none;
                }
            }
            
            &__account-info {
                position: relative;
                display: flex;
                justify-content: flex-start;
                background-color: transparent;
                width: 100%;
                order: 8;
                justify-content: space-between;
                overflow: hidden;

                > div {
                    flex: 1;
                    display: flex;
                    align-items: center;
                }

                &-wallet,
                &-winnings,
                &-cart {
                    display: flex;
                    padding: 7px $padding-small;
                    line-height: 1.1;
                    z-index: 1;
                    position: relative;
                    a {
                        font-size: .7rem;
                        color: $color-black;

                        span {
                            color: $color-black;
                            font-size: .7rem;
                            margin-right: 0 !important;
                            text-transform: uppercase;

                            &:last-child {
                                text-transform: none;
                                font-size: .785rem;
                            }

                            &:first-child {
                                color: rgba(35, 35, 35, 0.5);
                            }

                            & > span {
                                text-transform: none;
                                font-size: .785rem;
                            }
                        }
                    }
                }

                &-wallet {
                    background-color: $color-gray-border;
                }
    
                &-winnings {
                    background-color: $color-cloud;
                }

                &-wallet,
                &-winnings {
                    a {
                        display: flex;
                        flex-direction: column;
                    }
                }

                &-cart {
                    background-color: $color-blue;
                    
                    a {
                        color: $color-snow;
                        display: flex;
                        align-items: center;
                        width: 100%;

                        span {
                            color: $color-snow !important;
                        }

                        span + span {
                            margin-left: auto;
                            background-color: $color-snow;
                            color: $color-blue !important;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            font-size: $size-smallest;
                            text-align: center;
                            line-height: 22px;
                        }
                    }
                }
            }
        
        }
    }
}