.msgcontent{
    width: 100%;
    max-width: 1400px;
    position: relative;
    transition: transform $duration-fast $ease-standard $delay-none, right $duration-fast $ease-standard $delay-none;

  @media screen and (max-width: 767px) {
      bottom: 0;
      left: 0;
    }
}

.new-message {
      display: flex;
      position:absolute;
      right:-500px;
      align-items: center;
      width: 300px;
      border-radius: 10px;
      border: 2px solid #d8dde6;
      background-color:#f5f8fa;
      z-index: 999;
      opacity: 0;
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);

    @media screen and (min-width: 1420px) {
      top:20px;
    }

    @media screen and (max-width: 767px) {
        position: fixed;
        bottom: 80px;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        left: 0;
        right: 0;
        top: auto;
      }
      & h6{
          font-size: 16px;
          line-height: 1;
          color: $color-ocean;
      }
}

.new-message__show{
  opacity: 0.95;
  right: 20px;
  transition: opacity 1s , right 0.6s;
  @media screen and (max-width: 767px) {
    right: 0;
    transition: opacity 0.5s
  }

}


.new-message__alone{
  opacity: 0;
  right:-500px;
  transition: opacity 0.6s , right 1s;
  @media screen and (max-width: 767px) {
    right: 0;
    transition: opacity 0.5s
  }

}


.new-message__message-text{
    font-size: 14px;
    color: $color-blueberry;
    line-height: 0.5;
    padding: 10px;
    margin-left: 5px;

  h6{
    font-family: $semi-heading-family;
  }
  p{
    font-family: $basic-heading-family;
  }
}


.new-message__icon{
    margin-left: 20px;
    max-width: 32px;
    max-height: 32px;
    height: 30px;
    width: 30px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.new-message__icon--img{
  width: 32px;
  height: 32px;
}

.new-message__button{
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 6px;
        & i{
        font-size:10px;
        color:#8ca8bb;
        font-weight: lighter;
      }
}
