.msgcontent{
    width: 100%;
    display: none;
    max-width: 1400px;
    position: relative;
    transition: transform $duration-fast $ease-standard $delay-none, opacity $duration-fast $ease-standard $delay-none;

  @media screen and (max-width: 767px) {
      bottom: 0;
      left: 0;
    }
}

.new-message {
      position:absolute;
      right: -180px;
      align-items: center;
      width: 300px;
      display: flex;
      border-radius: 10px;
      border: 2px solid #d8dde6;
      background-color:#f5f8fa;
      z-index: 999;
      opacity: 1;
      transition: transform $duration-fast $ease-standard $delay-none, opacity $duration-fast $ease-standard $delay-none;
      -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);

    @media screen and (min-width: 1420px) {
      top:20px;
    }


  @media screen and (max-width: 767px) {
      position: fixed;
      bottom: 65px;
      margin: auto;
      left: 0;
      right: 0;
      top: auto;
    }
    & h6{
        font-size: 16px;
        line-height: 1;
        color: $color-ocean;
    }
}
.new-message__show{
  display: flex;
  opacity: 1;
}


.new-message__alone{
  @media screen and (max-width: 767px) {
    bottom: 15px;
  }
}


.new-message__message-text{
    font-size: 14px;
    color: $color-blueberry;
    line-height: 0.5;
    padding: 10px;
    margin-left: 5px;
}


.new-message__icon{
    margin-left: 20px;
    max-width: 35px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.new-message__icon--ml2017{
        width: 35px;
        height: 35px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        background-color: #e071f8;
        border-radius: 50%;
    }
}

.new-message__button{
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 6px;
        & i{
        font-size:10px;
        color:#8ca8bb;
        font-weight: lighter;
      }
}
