.top-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	display: block;
	width: 100%;
	background-color: $color_light;
	padding: 10px;
	height: $menu-height;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);

	@include min-screen($screen-xs-min) {
		display: none;
	}

	a {
		display: inline-block;
		position: relative;

		&.top-menu__toggle {
			height: 30px;
			width: 30px;

			&:before {
				content: ' ';
				height: 25px;
				width: 25px;
				border-radius: 100%;
				position: absolute;
				top: 0;
				left: 00;
				background-color: $color-shore;
			}
		}

		&.top-menu__logotype {
			/*
			content: ' ';
			height: 30px;
			width: 30px;
			border-radius: 100%;
			position: absolute;
			top: 20px;
			margin-left: -15px;
			left: 50%;
			background-color: $color-shore;
			*/
		}
	}
}
