.top-account {
	position: fixed;
	top: $menu-height;
	z-index: 980;
	width: 100%;
	transform: translate3d(0,0,0);
	transition: transform $duration-fast $ease-standard $delay-none;

	@include min-screen($screen-sm-min) {
		position: relative;
		top: auto;
	}

	&.top-up {
		transform: translate3d(0,-$account-user-height,0);
	}

	.top-account__user {
		display: block;
		background-color: $color-container-background;
		padding: $padding-small $padding-default 0 $padding-default;
		height: $account-user-height;

		@include min-screen($screen-md-max) {
			display: none;
		}

		.user {
			overflow: auto;
			zoom: 1;
			width: 100%;

			> * {
				> * {
					vertical-align: middle;
					display: inline-block;
				}
			}

			i {
				margin-right: $margin-small;
			}

			.user__winnings {
				margin-top: 5px;
			}
		}
	}

	.top-account__buttons {
		position: absolute;
		top: auto;
		right: 0;
		padding: 0;
		box-sizing: border-box;
		text-align: right;
		width: 100%;
		height: $account-buttons-height;
		overflow: auto;
		zoom: 1;

		@include min-screen($screen-sm-min) {
			padding: $padding-default;
			height: auto;
		}

		> * {
			vertical-align: bottom;
		}

		.btn {
			margin: 0;
			float: left;
			// Button style modification
			border-radius: 0;
			width: 50%;
			height: 100%;

			@include min-screen($screen-sm-min) {
				float: none;
				margin: 0 5px;
				// Button style modification
				border-radius: 18px;
				width: auto;
				height: auto;
				font-size: 12px;
				font-weight: 600;
			}

			// Button style modification
			&.btn-icon {
				@include max-screen($screen-sm-min) {
					padding: 0;

					&:before {
						height:0;
						width: 0;
					}
				}
			}

			// Button style modification
			&.btn-2-line {
				@include max-screen($screen-sm-min) {
					padding: 0;
				}
			}
		}

		.account-search {
			display: none;
			position: relative;
			overflow: auto;
			min-width: 39px;
			margin-left: 5px;
			z-index: 985;

			@include min-screen($screen-sm-min) {
				display: inline-block;
			}

			.form-control {
				float: left;
				width: 0;
				transition: width 0.4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
				border: none;
				font-size: 12px;
				border-radius: 18px;
				padding-top: 8px;
				padding-bottom: 8px;
				height: 37px;
			}

			.btn {
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				margin: 0;
				width: 37px;
				height: 37px;
				padding: 7px;
				border-radius: 100%;
				border: 1px solid $color-input-border;

				i {
					font-size: 16px;
				}
			}

			&:not(.js-is-active) {
				.form-control {
					padding: 0;
				}
			}

			&.js-is-active {
				.form-control {
					width: 175px;
					border: 1px solid $color-input-border;
				}
				.btn {
					top: 1px;
					right: 1px;
					border: none;
					width: 35px;
					height: 35px;
				}
			}
		}
	}
}
