.top-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	display: block;
	width: 100%;
	background-color: $color_light;
	padding: 0;
	height: $menu-height;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
	overflow: auto;
	zoom: 1;

	@include min-screen($screen-sm-min) {
		display: none;
	}

	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}

		&.top-menu__left {
			padding: 24px;
			color: $color-complement-sky;

			i {
				font-size: 18px;
				vertical-align: middle;
			}

			span {
				font-weight: 500;
				font-size: 12px;
			}
		}

		&.top-menu__logotype {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 75px;
			margin-top: 12px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&.top-menu__right {
			padding: 24px;
			font-size: 12px;
			font-weight: 600;
		}
	}
}
