.top-account {
	position: fixed;
	top: $menu-height;
	z-index: 980;
	width: 100%;
	transform: translate3d(0,0,0);
	transition: transform $duration-fast $ease-standard $delay-none;

	@include min-screen($screen-xs-min) {
		position: static;
		top: auto;
	}

	&.top-up {
		transform: translate3d(0,-$account-user-height,0);
	}

	.top-account__user {
		background-color: $color-base-light-02;
		padding: 6px $padding-small 0 $padding-small;
		height: $account-user-height;
	}

	.top-account__buttons {
		position: absolute;
		top: auto;
		right: 0;
		padding: 0;
		box-sizing: border-box;
		text-align: right;
		width: 100%;
		height: $account-buttons-height;
		overflow: auto;
		zoom: 1;

		@include min-screen($screen-xs-min) {
			padding: $padding-default;
			height: auto;
		}

		> * {
			vertical-align: bottom;
		}

		.btn {
			margin: 0;
			float: left;
			// Button style modification
			border-radius: 0;
			width: 50%;
			height: 100%;

			@include min-screen($screen-xs-min) {
				float: none;
				margin: 0 10px;
				// Button style modification
				border-radius: 18px;
				width: auto;
				height: auto;
				font-size: 12px;
				font-weight: 600;
			}

			// Button style modification
			&.btn-icon {
				@include max-screen($screen-xs-min) {
					padding: 0;

					&:before {
						height:0;
						width: 0;
					}
				}
			}

			// Button style modification
			&.btn-2-line {
				@include max-screen($screen-xs-min) {
					padding: 0;
				}

				span {
					@include max-screen($screen-xs-min) {
						display: none;
					}
				}
			}
		}

		.search {
			display: none;
			position: relative;
			overflow: auto;
			min-width: 45px;
			z-index: 985;

			@include min-screen($screen-xs-min) {
				display: inline-block;
			}

			.form-control {
				float: left;
				width: 0;
				transition: width 0.4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
			}

			.btn {
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				margin: 0;
			}

			&:not(.js-is-active) {
				.form-control {
					padding: 0;
				}
			}

			&.js-is-active {
				.form-control {
					width: 135px;
				}
			}
		}
	}
}
