.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 990;
	background-color: $color_light;
	//height: $menu-height;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
	zoom: 1;

	@include min-screen($screen-sm-min) {
		display: none;
	}

	a {
		&:hover,
		&:focus {
			text-decoration: none;
		}

		&.top-menu__left {
			padding: 20px;
			color: $color-complement-sky;
			//max-height: 70px;

			.icon {
				font-size: 18px;
			}

			span {
				vertical-align: top;
			}
		}

		&.top-menu__logotype {
			width: 110px;

			img {
				width: 100%;
				height: auto;
			}
		}

		&.top-menu__right {
			padding: 20px;
			font-weight: 600;
		}
	}
}
