.swish .popup_process-topbar span{
    margin-top: 8px;
}

.swish .text-win{
    margin-top: 16px;
    color: #003E52;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.swish .popup_qr{
    margin: 17px 0;
}

.lh-2{
    line-height: 2em;
}