<section class="section article-list-blocks">
	<div class="container">
		<div class="row padding-extra">
			<div class="col-xs-12">
				<h2 class="section__heading h3">Läsvärda artiklar</h2>
			</div>
			@@loop('blocks/article-list/_article-list-content.html', [
				{
					"image": "assets/img/mockup/train.jpg",
					"title": "Dynamic article block title, dynamic article block title",
					"text": "<strong>Top aligned text</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis fermentum ligula et aliquam. Nunc ac mattis lacus, quis auctor mi. Suspendisse et eleifend turpis.",
					"flex": "flex-top"
				},
				{
					"image": "assets/img/mockup/butterfly.jpg",
					"title": "Dynamic article block title, dynamic article block title",
					"text": "<strong>Center aligned text</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis fermentum ligula et aliquam. Nunc ac mattis lacus, quis auctor mi. Suspendisse et eleifend turpis.",
					"flex": "flex-middle"
				},
				{
					"image": "assets/img/mockup/nature.jpg",
					"title": "Dynamic article block title, dynamic article block title",
					"text": "<strong>Bottom aligned text</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis fermentum ligula et aliquam. Nunc ac mattis lacus, quis auctor mi. Suspendisse et eleifend turpis.",
					"flex": "flex-bottom"
				},
				{
					"image": "assets/img/mockup/sunset.jpg",
					"title": "Dynamic article block title, dynamic article block title",
					"text": "<strong>Bottom aligned text</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis fermentum ligula et aliquam. Nunc ac mattis lacus, quis auctor mi. Suspendisse et eleifend turpis.",
					"flex": "flex-bottom"
				}
			])
		</div>
	</div>
</section>
