<section class="bingolobby-hero bg-white">
  <div class="schema-tabs__panels-container">
    <div data-orderT="01" data-orderM="01" id="panel__jackpots"
      class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder active">
      <div class="schema-tabs__panel-content bingolobby__jackpots-stats">
        <div class="bingolobby__jackpots-stats__col bingolobby__jackpots-stats__col_gold">
          <span class="bingolobby__jackpots-stats__title">
            Aktuella jackpottar
          </span>
          <div class="bingolobby__jackpots-stats__list-container bingolobby__jackpots-stats__list-container_jackpots">
            <ul class="bingolobby__jackpots-stats__list">
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Stjärnjacken</span> <span>80 675 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Tornadobingo</span> <span>6 820 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Zoobaloo</span> <span>6 139 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Himlaspelet</span> <span>3 158 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Femkronan</span> <span>1 764 kr</span>
                </div>
              </li>
            </ul>
            <ul class="bingolobby__jackpots-stats__list">
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Stjärnjacken</span> <span>80 675 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Tornadobingo</span> <span>6 820 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Zoobaloo</span> <span>6 139 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Himlaspelet</span> <span>3 158 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__jackpots-stats__list-item">
                  <span>Femkronan</span> <span>1 764 kr</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="bingolobby__jackpots-stats__col bingolobby__jackpots-stats__col_white">
          <span class="bingolobby__jackpots-stats__title">
            Jackpotar senaste 30 dagarna
          </span>
          <div class="bingolobby__jackpots-stats__list-container bingolobby__jackpots-stats__list-container_winners">
            <ul class="bingolobby__jackpots-stats__list w-100">
              <li class="bingolobby__jackpots-stats__list-item">
                <div class="player-name">
                  Player
                </div>
                <div class="game-name">
                  Game name
                </div>
                <div class="lottery-cash">
                  <span>Cash</span> 
                </div>
              </li>
              <li class="bingolobby__jackpots-stats__list-item">
                <div class="player-name">
                  Super long name player Super long name player
                </div>
                <div class="game-name">
                  Jack Pot
                </div>
                <div class="lottery-cash">
                  <span>3 158 kr</span>
                </div>
              </li>
              <li class="bingolobby__jackpots-stats__list-item">
                <div class="player-name">
                  Super long name player
                </div>
                <div class="game-name">
                  Lottery
                </div>
                <div class="lottery-cash">
                  <span>233 158 kr</span>
                </div>
              </li>
              <li class="bingolobby__jackpots-stats__list-item">
                <div class="player-name">
                  Super longlonglonglong name player
                </div>
                <div class="game-name">
                  Bingo
                </div>
                <div class="lottery-cash">
                  <span>158 kr</span>
                </div>
              </li>
              <li class="bingolobby__jackpots-stats__list-item">
                <div class="player-name">
                  long name player player
                </div>
                <div class="game-name">
                  Lottery
                </div>
                <div class="lottery-cash">
                  <span>23 158 kr</span>
                </div>
              </li>
              
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    <div data-orderT="02" data-orderM="02" id="panel__bingoschema"
      class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder">
      <div class="schema-tabs__panel-content bingolobby__bingoschema">
        <!-- panel-mobile-tab class only for tabs -->
        <a href="#" class="btn-close_circular bingoschema__btn-close_circular js-modal-close"
          data-target=".bingolobby__bingoschema">Close</a>

        <h5 class="bingolobby__bingoschema__title">Bingoschema</h5>

        <div class="bingolobby__bingoschema__container">
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 00-06
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 12-18
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 18-00
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 18-00
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="bingolobby__bingoschema__container">
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 00-06
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 12-18
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="bingolobby__bingoschema__item">
            <span class="bingolobby__bingoschema__item-title">
              Spelas mellan kl 18-00
            </span>

            <ul class="bingolobby__bingoschema__item-list">
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Femkronan</span><span>5 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnskottet</span><span>9 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Stjärnjacken</span><span>15 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Zoobaloo</span><span>10 kr</span>
                </div>
              </li>
              <li>
                <div class="bingolobby__bingoschema__item-line">
                  <span class="bingolobby__bingoschema__item-name">Tornadobingo</span><span>3 kr</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="schema-tabs__panel-schema-block">
        @@if (context.modal_schemas === "simple") {
        <h5 class="schema-tabs__panel-schema-block__title">Bingochema</h5>
        }
        @@if (context.modal_schemas === "tabs") {
        <h5 class="schema-tabs__panel-schema-block__title">Chat & bingochema</h5>
        }

        <div class="schema-tabs__panel-schema-block__line">
          <p>
            Se när du kan spela ditt favoritspel och när chatvärdarna är på plats i chatten.
          </p>

          @@if (context.modal_schemas === "tabs") {
          <a href="#" class="btn btn-wide--blue js-schemas-modal-tabs" data-target="#schemasModalTabs">Se här</a>
          }
          @@if (context.modal_schemas === "simple") {
          <a href="#" class="btn btn-wide--blue js-btn-openModal"
            data-target="#panel__bingoschema .schema-tabs__panel-content">Se här</a>
          }
        </div>
      </div>
    </div>
    <div data-orderT="03" data-orderM="03" id="panel__faq"
      class="schema-tabs__panel js-schema-tabs__panel js-schema-panels-reorder">

      <div class="schema-tabs__panel-content bingolobby__faq">
        <a href="#" class="btn-close_circular faq__btn-close_circular js-modal-close"
          data-target=".bingolobby__faq">Close</a>

        <h5 class="bingolobby__faq__title">Vanliga frågor & svar</h5>

        <div class="bingolobby__faq__container">
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 1
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 2
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 3
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 4
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
        </div>

        <div class="bingolobby__faq__container">
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 5
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </div>
          </div>
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 6
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </div>
          </div>
          <div class="bingolobby__faq__item">
            <span class="bingolobby__faq__item-title">
              Fråga 7
            </span>

            <div class="bingolobby__faq__item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </div>
          </div>
        </div>
      </div>

      <div class="schema-tabs__panel-schema-block">
        <h5 class="schema-tabs__panel-schema-block__title">Vanliga frågor & svar</h5>
        <div class="schema-tabs__panel-schema-block__line">
          <p>
            Något du undrar över? Se våra vanliga frågor och svar om vår bingo.
          </p>
          <a href="#" class="btn btn-wide--blue js-btn-openModal"
            data-target="#panel__faq .schema-tabs__panel-content">Se här</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bingolobby-hero__head">
    <div class="container">

    </div>
  </div>
</section>