<section class="bingolobby-hero">
    <picture>
        <source media="(max-width:632px)" srcset="/assets/img/background/bingoheader-M.png">
        <source media="(max-width:1225px)" srcset="/assets/img/background/bingoheader-T.png">
        <img src="/assets/img/background/bingoheader-D.png" alt="Bingo!">
    </picture>
    
    <div class="bingolobby-hero__head bingolobby-hero__head_v1">
        <!-- existing class for v2 header: bingolobby-hero__head_v2 -->
        <div class="container">
            <div class="bingolobby-hero__head-wrapper">
                <h3 class="bingolobby-hero__head-title">Kom in i bingovärmen – var med och vinn storvinsten!</h3>

                <div class="bingolobby-hero__head-host">
                    <div class="bingolobby-hero__head-host-av">
                        <img src="/assets/img/mockup/users-chatvard-2.png" alt="Avatar">
                    </div>
                    <div class="bingolobby-hero__head-host-box">
                        <span class="bingolobby-hero__head-host-online">Chatvärd online:</span>
                        <span class="bingolobby-hero__head-host-name">Maya</span>
                    </div>
                </div>

                <div class="bingolobby-hero__head-game">
                    <div class="bingolobby-hero__head-game__line">
                        <p class="bingolobby-hero__head-game__item bingolobby-hero__head-game__item_fs20">
                            <span class="bingolobby-hero__head-game__label">Nästa spel:&nbsp;</span><span>Zoobaloo 10 kr</span>
                        </p>
                    </div>
                    <div class="bingolobby-hero__head-game__line">
                        <p class="bingolobby-hero__head-game__item">
                            <span class="bingolobby-hero__head-game__label">Jackpot:&nbsp;</span><span>5 515 kr</span>
                        </p> 
                        <p class="bingolobby-hero__head-game__item">
                            <span class="bingolobby-hero__head-game__label">Spelare:&nbsp;</span><span>22</span>
                        </p>
                    </div>
                </div>

                <div class="bingolobby-hero__head-time">
                    01:17 
                </div>

                <div class="bingolobby-hero__head-btn">
                    <a href="#" class="btn btn-success">Gå till spelet</a>
                </div>
            </div>
        </div>
    </div>
</section>