<div class="block block-bottom-bar">
	<div class="container">
		<div class="row padding-extra">
			<div class="col-md-3">
				<div class="block-bottom-bar__column">
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/500x150"></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="block-bottom-bar__column align--center">
					<p>Copyright 2017, Miljonlotteriet.se - All rights reserved</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="block-bottom-bar__column align--right">
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
