<!-- 
    class .campaign-hero_shadow added shadow overlay to all options for all width;
    class .campaign-hero_shadow-D-non remove shadow overlay from desktop only;
    class .campaign-hero_shadow-T-non remove shadow overlay from tablet only;
    class .campaign-hero_shadow-M-non remove shadow overlay from mobile only;
 -->

<section class="campaign-hero campaign-hero_shadow">
    @@if (context.page === "bingo") {<img src="/assets/img/background/images-bg-bingo.jpg" alt="Bingo!" class="campaign-hero__bg">}

    @@if (context.page === "onlinelott") {<img src="/assets/img/background/images-bg-tjugan.jpg" alt="Bingo!" class="campaign-hero__bg">}

    @@if (context.page === "skattjakten") {<img src="/assets/img/background/images-bg-skattjakten.jpg" alt="Bingo!" class="campaign-hero__bg">}

    @@if (context.page === "stodhjulet") {<img src="/assets/img/background/images-bg-stödhjulet.jpg" alt="Bingo!" class="campaign-hero__bg">}

    @@if (context.header === "2-col") {
        @@if (context.page === "bingo") {
            
            <div class="campaign__header campaign__header_2col">
                <div class="campaign__header-image">
                    <picture>
                        <img src="/assets/img/background/images-2-col-bingo.png" alt="Bingo!">
                    </picture>
                </div>
                
                <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
                <div class="campaign__header-col">
                    
                </div>
                <div class="campaign__header-col">
                    <div class="campaign__header-content">
                        <h2>Kom in i bingovärmen!</h2>
                        <ul class="campaign__header-list">
                            <li>Höga jackpottvinster</li>
                            <li>Vinn tusentals kronor </li>
                            <li>Flera vinstchanser</li>
                        </ul>
                        <a href="#" class="btn btn-success btn-arrow_right">Upptäck bingo</a>
                    </div>
                </div>
            </div>
        }

        @@if (context.page === "onlinelott") {
            <div class="campaign__header campaign__header_2col campaign__header_2col-revert campaign__header-overlay-M campaign__header_2col_center-T">
                <div class="campaign__header-image">
                    <picture>
                        <img src="/assets/img/background/images-2-col-tjugan.png" alt="Bingo!">
                    </picture>
                </div>

                <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
                <div class="campaign__header-col">
                </div>
                <div class="campaign__header-col">
                    <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
                    <div class="campaign__header-content">
                        <h2>Vinn 2 miljoner och gör 
                            andra glada!</h2>
                        <div class="campaign__header-text">Hela överskottet går till IOGT-NTO-rörelsens livsviktiga arbete.</div>
                        <a href="#" class="btn btn-success">Prova Tjugan nu</a>
                        <a href="#" class="campaign__header-link mt-30">Regler & vinstplan</a>
                    </div>
                </div>
            </div>
        }

        @@if (context.page === "skattjakten") {
            <div class="campaign__header campaign__header_2col campaign__header_2col-revert campaign__header_2col_center-T">
                <div class="campaign__header-image">
                    <picture>
                        <img src="/assets/img/background/images-2-col-skattjakten-logo.png" alt="Bingo!">
                    </picture>
                </div>

                <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
                <div class="campaign__header-col">
                </div>
                <div class="campaign__header-col">
                    <div class="campaign__header-content">
                        <h2>Hitta de gömda skatterna 
                            och vinn!</h2>
                        <div class="campaign__header-text">Ju ädlare skatter du hittar, desto högre blir vinsten.</div>
                        <a href="#" class="btn btn-success">Prova Skattjakten</a>
                        <a href="#" class="campaign__header-link mt-30">Regler & vinstplan</a>
                    </div>
                </div>
            </div>
        }

        @@if (context.page === "stodhjulet") {
            <div class="campaign__header campaign__header_2col campaign__header_2col-revert campaign__header-overlay-M campaign__header_2col_center-T">
                <div class="campaign__header-image">
                    <picture>
                        <img src="/assets/img/background/images-2-col-stödhjulet.png" alt="Bingo!">
                    </picture>
                </div>
                
                <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
                <div class="campaign__header-col">
                </div>
                <div class="campaign__header-col">
                    <div class="campaign__header-content">
                        <h2>Testa Stödhjulet – välj en premie värd 150 kr!</h2>
                        <div class="campaign__header-text">Vinn upp till 10 miljoner! Pris 50 kr per lottrad. Dragning varje fredag.</div>
                        <a href="#" class="btn btn-success">Prova Stödhjulet nu</a>
                        <a href="#" class="campaign__header-link mt-30">Regler & vinstplan</a>
                    </div>
                </div>
            </div>
        }
        
    }

    @@if (context.header === "3-col") {
        <div class="campaign__header campaign__header_3col">
            <h1 class="block-hero__page-title hero-full__page-title">Miljonlotteriet - skrapa lotter, spela bingo och vinn fantastiska vinster</h1>
            <div class="campaign__header-col">
                <div class="campaign__header-image">
                    <picture>
                        <source media="(min-width:993px)" srcset="/assets/img/background/images-2-col-bingo.png">
                        <source media="(min-width:742px)" srcset="/assets/img/background/images-3-col-M-T-bingo.png">
                        <img src="/assets/img/background/images-3-col-M-T-bingo.png" alt="Bingo!">
                    </picture>
                </div>
            </div>
            <div class="campaign__header-col">
                <div class="campaign__header-content">
                    <h2>Testa bingo – få 50 kr extra insatt i din spelplånbok!</h2>

                    <a href="#" class="btn btn-success">Upptäck bingo</a>
                </div>
            </div>
            <div class="campaign__header-col">
                <div class="campaign__header-image">
                    <picture>
                        <img src="/assets/img/background/images-3-col-D-bingo-2.png" alt="Bingo!">
                    </picture>
                </div>
            </div>
        </div>
    }
</section>

@@if (context.header === "3-col") {
    <div class="campaign__header-checkpoints">
        <div class="container">
            <ul class="campaign__header-list">
                <li>Höga jackpottvinster</li>
                <li>Vinn tusentals kronor </li>
                <li>Flera vinstchanser</li>
            </ul>
        </div>
    </div>
}

@@if (context.page === "onlinelott") {
    <div class="campaign__header-checkpoints-advanced">
        <ul class="campaign__header-list">
            <li>Vinst på var fjärde lott</li>
            <li>Vinn upp till 2 miljoner</li>
            <li>Extrachans på 20 000 kr</li>
        </ul>

        <div class="campaign__header__line">
            <p>Ord pris: 20 kr / lott</p> 
            <a href="#" class="campaign__header-link">Regler & vinstplan</a>
        </div>

        <p>
            Just nu får du 2 lotter till priset av en när du skrapar Tjugan (ord pris 20 kr / lott). Erbjudandet gäller vid ett tillfälle per person.
        </p>
    </div>
}