
 
<div class="campaign_page_HERO_wrap">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <div class="campaign_page_HERO_container">
    <div class="campaign_page_HERO_top @@if((image_position=='right')&&context.image_show_desk){row_reverse}">
    @@if(context.image_show_desk){
       
      <img class="campaign_page_HERO_top-desk" src="/assets/img/campaign-page-HERO/IMG.png" alt="">
    }  
      @@if(context.image_show_mob){
      <img class="campaign_page_HERO_top-mob" src="/assets/img/campaign-page-HERO/IMG1.png" alt="">
     }
    
      <div class="campaign_page_HERO_top-right">
        <div class="campaign_page_HERO_top-right--top">
          @@if(context.header_show){
            <h2 class="campaign_page_HERO_top-right--header">@@header_text</h2>
          }
          @@if(context.usps_show){
            <div class="campaign_page_HERO_top-USPs--mob"                   >
            <div class="USPs_firsttwo">
              @@if(context.usps_item1_show){
              <div class="USP_wrap"> 
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item1
              </div>
            }
            @@if(context.usps_item2_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item2
              </div>
            }
            @@if(context.usps_item3_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt=""> 
                @@usps_item3
              </div>
            }
            @@if(context.usps_item4_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item4
              </div>
            }
            </div>
          </div>
        }
          @@if(context.desc_show){
            <p class="campaign_page_HERO_top-right--desc">@@desc_text</p>
           }
          @@if(info_link_show){
            <a href="">@@info_link_text</a>
          }
         
        </div>
        <div class="campaign_page_HERO_top-right--bottom">
          @@if(context.usps_show){
          <div class="campaign_page_HERO_top-USPs desk">
            <div class="USPs_firsttwo">
              @@if(context.usps_item1_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item1
              </div>
             }
             @@if(context.usps_item2_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item2
              </div>
            }
            </div>
            <div class="USPs_secondtwo">
              @@if(context.usps_item3_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt=""> 
                @@usps_item3
              </div>
            }
            @@if(context.usps_item4_show){
              <div class="USP_wrap">
                <img src="/assets/img/campaign-page-HERO/Check2.png" alt="">
                @@usps_item4
              </div>
            </div>
          }
          </div>
          }
          </div>
          <div class="campaign_page_HERO_top-rating desk @@if(!context.raiting_show){justify-end}">
            @@if(context.raiting_show){
            <img style="visibility: visible;" src="/assets/img/campaign-page-HERO/Stjärnor.png" alt="">
            }

            @@if(context.price_show){
            <span style="visibility: visible;">@@price_price kr<strike>@@price_discount_price kr</strike></span>}
            @@if(context.cta_show){
            <button class="campaign_page_HERO_top-rating--button">@@cta_text</button> 
            }
          </div>
          <div style="z-index: 4;" class="campaign_page_HERO_top-rating--mob  @@if(!context.price_show && !context.raiting_show){justify-center} @@if(context.cta_sticky){sticky-true stick}">
            @@if(context.price_show){
            <span style="visibility: visible;">@@price_price kr<strike>@@price_discount_price kr</strike></span>
            }
            @@if(context.raiting_show){
            <img style="visibility: visible;" src="/assets/img/campaign-page-HERO/Stjärnor1.png" alt="">
            }
            
            @@if(context.cta_show){
            <button class="campaign_page_HERO_top-rating--button-mob @@if(!context.raiting_show){cta-inline}" >@@cta_text</button>
            }
          </div>
       
        </div>
      </div>
    </div>
    @@if(context.blurbs_show){
      <div class="campaign_page_HERO_bottom">
        @@if(context.blurbs_qt == 4){
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb1_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb1_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb1_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb2_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb2_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb2_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb3_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb3_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb3_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb4_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb4_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb4_text</span>
          </div>
        }
        @@if(context.blurbs_qt == 3){
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb1_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb1_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb1_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb2_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb2_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb2_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb3_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb3_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb3_text</span>
          </div>

        }
        @@if(context.blurbs_qt == 2){
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb1_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb1_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb1_text</span>
          </div>
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb2_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb2_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb2_text</span>
          </div>


        }
        @@if(context.blurbs_qt == 1){
          <div class="campaign_page_HERO_bottom-blurb w_200">
            <img src="@@blurb1_icon" alt="">
            <h3 class="campaign_page_HERO_bottom-blurb--header">@@blurb1_header</h3>
            <span class="campaign_page_HERO_bottom-blurb--desc">@@blurb1_text</span>
          </div>
        }
        
      </div>
    }
    @@if(context.img_block_show) {
      <div class="card-container">
        <img src="assets/img/campaign-page-HERO/AC-big.jpg" alt="">
        <img src="assets/img/campaign-page-HERO/Lars-big.jpg" alt="">
      </div>
    }
  </div>