<section class="block block-text">
	<div class="container padding-extra">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="block-text__content">
					@@if (text_only === false) {
						<h1>Stödet gör skillnad</h1>
						<h2>Idag vänder det</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id.
						</p>
						<h3>Kapitelrubrik</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis.
							Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id.
						</p>
						<p><img src="http://placehold.it/400x300" alt="" class="align-right">Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id. Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id.
						</p>
					}
					@@if (text_only === true) {
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id.
						</p>
						<img src="http://placehold.it/300x300" alt="" class="align-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a dui velit. Nunc quis velit nec
							ante ultrices pharetra. Vivamus at tortor dignissim, faucibus lorem vitae, sagittis arcu. Proin
							finibus erat nec ex accumsan mattis. Pellentesque pulvinar lectus mauris, nec ultrices quam
							feugiat ac. Morbi finibus pharetra facilisis. Phasellus viverra lacus augue, vitae sagittis
							lectus molestie id. Maecenas porta, ante ac gravida lobortis, tellus quam finibus lorem, nec
							venenatis diam urna vulputate turpis. Nam rhoncus lacus vel dolor ultricies tempus. Vestibulum
							non nisi elit. Vivamus malesuada, risus a varius finibus, lacus lorem fermentum eros, ac
							accumsan sapien velit ac libero. Etiam maximus ipsum neque, non ultrices tortor scelerisque sit
							amet. Proin blandit nunc elit, et pellentesque magna fringilla id.
						</p>
					}
				</div>
			</div>
		</div>
	</div>
</section>
