<div class="block block-footer">
	<div class="container">
		<div class="row padding-extra">
			<div class="col-sm-12 col-md-3">
				<h5 data-toggle="collapse" data-target="#block-footer__item-1" aria-expanded="true">Om oss</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-1">
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<h5 data-toggle="collapse" data-target="#block-footer__item-2" aria-expanded="true">Spela Bingo</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-2">
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<h5 data-toggle="collapse" data-target="#block-footer__item-3" aria-expanded="true">Spela Bingo</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-3">
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<h5 data-toggle="collapse" data-target="#block-footer__item-4" aria-expanded="true">Kundservice</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-4">
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
				<h5 data-toggle="collapse" data-target="#block-footer__item-5" aria-expanded="true">Aktuellt hos
					oss</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-5">
					<ul class="list-links">
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
						<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<h5 data-toggle="collapse" data-target="#block-footer__item-6" aria-expanded="true">
					Kontaktinformation</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-6">
					<p>Post: Miljonlotteriet, 435 87 Mölnlycke
						Besök: Metallvägen 4, Mölnlycke
						Org nr: 802001-5569</p>
					<p>Umgås med oss på <a href="/">Facebook</a> och få
						unika vinstchanser, tävlingar och andra nyhetstips.</p>
				</div>
				<h5 data-toggle="collapse" data-target="#block-footer__item-7" aria-expanded="true">Aktuellt hos
					oss</h5>
				<div class="block-footer__item collapse in" id="block-footer__item-7">
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a>
						</li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/350x150"></a>
						</li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a>
						</li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/150x150"></a>
						</li>
						<li class="list-links__item"><a href="/" title=""><img src="http://placehold.it/350x150"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
