<div class="block b-footer-small">
	<div class="container">
		<div class="row">
			<div class="col-md-6 footer-col-left">
				<div class="b-footer-small__item">
					<div class="f-title">Om oss</div>
					<div class="f-text">
						<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Hos oss kan du prenumerera på skraplotter, spela bingo och skrapa lotter online. Dessutom kan du köpa lotter i butik. Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO-rörelsens verksamhet.</p>
					</div>

					<div class="f-logos hidden-sm hidden-xs">
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-01.png" alt="">
						</a>
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-02.png" alt="">
						</a>
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-03.png" alt="">
						</a>
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-04.png" alt="">
						</a>
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-05.png" alt="">
						</a>
						<a href="#" class="f-logo">
							<img src="assets/img/logos/footer-logo-06.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 footer-col-right">
				<div class="b-footer-small__item">
					<div class="f-title">Kontakta oss</div>
					<div class="f-text">
						<p>Post: Miljonlotteriet, 435 87 Mölnlycke</p>
						<p>Besök: Metallvägen 4, Mölnlycke</p>
						<p>Orgnr: IOGT-NTO / Miljonlotteriet 802001-5569</p>
						<p>Tel: 031-338 28 20</p>
						<a href="#">Kontakta kundcenter >></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 visible-sm visible-xs">
				<div class="f-logos">
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-01.png" alt="">
					</a>
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-02.png" alt="">
					</a>
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-03.png" alt="">
					</a>
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-04.png" alt="">
					</a>
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-05.png" alt="">
					</a>
					<a href="#" class="f-logo">
						<img src="assets/img/logos/footer-logo-06.png" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="b-footer-small__bottom">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<ul class="f-menu">
						<li><a href="#">Integritetspolicy</a></li>
						<li><a href="#">Cookies</a></li>
						<li><a href="#">Villkor lotter</a></li>
						<li><a href="#">Villkor onlinespel</a></li>
						<li><a href="#">Lotteritillstånd</a></li>
					</ul>
				</div>

				<div class="col-md-4 hidden-sm hidden-xs footer-col-right">
					<a href="#" class="f-logo">
						<img src="assets/img/logos/IOGT-logo.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
