<div class="block block-footer">
	<div class="container">
		<div class="row padding-extra">
			<div class="col-md-3 visible-md visible-lg">
				<h5>Om oss</h5>
				<div class="block-footer__item">
					<p>Miljonlotteriet är en av Sveriges största och äldsta speloperatörer. Här kan du prenumerera på
						lotter, spela bingo och skrapa lotter online. Dessutom kan du köpa skraplotter i butik.
						Överskottet från Miljonlotteriet går oavkortat till IOGT-NTO:s ideella verksamhet.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs-6 col-sm-12">
						<h5>Spela på Miljonlotteriet</h5>
						<div class="block-footer__item">
							<ul class="list-links">
								<li class="list-links__item"><a href="/" title="">Våra lotter</a></li>
								<li class="list-links__item"><a href="/" title="">Våra Bingospel</a></li>
								<li class="list-links__item"><a href="/" title="">Bingoskola</a></li>
								<li class="list-links__item"><a href="/" title="">Vanliga bingo frågor</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12">
						<h5>Läs mer</h5>
						<div class="block-footer__item">
							<ul class="list-links">
								<li class="list-links__item"><a href="/" title="">Aktuella kampanjer</a></li>
								<li class="list-links__item"><a href="/" title="">Vinnare</a></li>
								<li class="list-links__item"><a href="/" title="">Om Miljonlotteriet</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<h5>Vårt ansvar</h5>
				<div class="block-footer__item">
					<p>Spelar du för mycket? <br>
						<strong>Ring stödlinjen:</strong> <br>
						<a class="block-footer__phone-link" href="tel:020-819100">020-81 91 00</a></p>
				</div>
				<div class="block-footer__item">
					<ul class="list-links list-links--horizontal">
						<li class="list-links__item">
							<a href="/" title="">
								<img src="http://placehold.it/150x150">
							</a>
						</li>
						<li class="list-links__item">
							<a href="/" title="">
								<img src="http://placehold.it/350x150">
							</a>
						</li>
						<li class="list-links__item">
							<a href="/" title="">
								<img src="http://placehold.it/150x150">
							</a>
						</li>
						<li class="list-links__item">
							<a href="/" title="">
								<img src="http://placehold.it/150x150">
							</a>
						</li>
						<li class="list-links__item">
							<a href="/" title="">
								<img src="http://placehold.it/350x150">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
				<h5>Kontaktinformation</h5>
				<div class="block-footer__item">
					<p>Post: Miljonlotteriet, 435 87 Mölnlycke <br>
						Besök: Metallvägen 4, Mölnlycke <br>
						Org nr: 802001-5569</p>
				</div>

				<h5>Sociala länkar</h5>
				<div class="block-footer__item">
					<ul class="social-links">
						<li class="social-links__item"><a href="/" title=""><i class="icon icon-facebook"></i> Facebook</a></li>
						<li class="social-links__item"><a href="/" title=""><i class="icon icon-instagram"></i> Instagram</a></li>
						<li class="social-links__item"><a href="/" title=""><i class="icon icon-twitter"></i> Twitter</a></li>
						<li class="social-links__item"><a href="/" title=""><i class="icon icon-youtube"></i> Youtube</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
