
<div class="hero-full-v3 hero-content-desktop--@@content_alignment_desktop hero-content-tablet--@@content_alignment_tablet hero-content-mobile--@@content_alignment_mobile">
	<div class="hero-full-v3--bg" style="background-image: url(assets/img/background/hero-sektion-2.jpeg);"></div>

	@@if (hero_overlay === true) {
	<div class="hero-full-v3__overlay"></div>
	}

	<div class="hero-full-v3__holder">
		<div class="hero-full-v3__content">
			<h1 class="block-hero__title">Hjälp oss göra skillnad – välj dina månadslotter</h1>
			<div class="block-hero__text">
				<p>Varje månad gör du livet bättre för tusentals barn och vuxna. Samtidigt har du chans på vinster för miljoner.</p>

			</div>
		</div>
	</div>
</div>