<header class="block block--background-image block-hero block-hero--modified block-hero--padding" style="background-image: url('assets/img/mockup/eva.jpg')">
		@@if (context.hero_content === true) {
			<div class="container">
				<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
			</div>
			<div class="block-hero__content">
				<div class="container">
					<h2 class="block-hero__title h1">Max fick tillbaka sin ungdom.</h2>
					<p class="block-hero__subtitle h2">Rita vann Jackpoten och Max fick sin ungdom tillbaka. Rita vann Jackpoten och Max fick sin ungdom tillbaka Rita vann Jackpoten och Max fick sin ungdom tillbaka Rita vann Jackpoten och Max fick sin ungdom tillbaka</p>
					<a href="/" class="btn btn-primary" title="">Läs mer</a>
				</div>
			</div>
		}
	</div>
</header>
