@@if (context.hero_type === "full") {
<div class="container container--no-space">
	<header class="block block--background-image block-hero block-hero--color-@@hero_color flex-@@hero_align text-shadow text-shadow--heavy" style="background-image: url('assets/img/mockup/man.jpg')">
		@@if (context.hero_content === true) {
			<div class="container">
				<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
			</div>
			<div class="block-hero__content">
				<div class="container">
					<h2 class="block-hero__title h1">Max fick tillbaka sin ungdom.</h2>
					<p class="block-hero__subtitle h2">Rita vann Jackpoten och Max fick sin ungdom tillbaka</p>
					<a href="/" class="btn btn-primary" title="">Läs mer</a>
				</div>
			</div>
		}
	</header>
</div>
}

@@if (context.hero_type === "loggedin") {
<div class="container container--no-space">
	<header class="block block--background-image block-hero flex-@@hero_align text-shadow" style="background-image: url('assets/img/mockup/sunset.jpg')">
		@@if (context.hero_content === true) {
		<div class="container">
			<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
		</div>
		<div class="block-hero__content">
			<div class="container">
				<h2 class="block-hero__title h1">Hej Stefan!</h2>
				<p class="block-hero__subtitle">Välkommen till miljonlotteriet!<br>
					Vi bjuder på två tian-lotter!</p>
				<a href="/" class="btn btn-primary" title="">Läs Mer</a>
			</div>
		</div>
		}
	</header>
</div>
}

@@if (context.hero_type === "contained") {
	<div class="container">
		<header class="block block--background-image block-hero flex-@@hero_align text-shadow text-shadow--heavy" style="background-image: url('assets/img/mockup/man.jpg')">
			@@if (context.hero_content === true) {
			<div class="container">
				<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
			</div>
			<div class="block-hero__content">
				<div class="container">
					<h2 class="block-hero__title h1">Max fick tillbaka sin ungdom.</h2>
					<p class="block-hero__subtitle h2">Rita vann Jackpoten och Max fick sin ungdom tillbaka</p>
					<a href="/" class="btn btn-primary" title="">Läs mer</a>
				</div>
			</div>
			}
		</header>
	</div>
}

@@if (context.hero_type === "medium") {
<div class="container container--no-space">
	<header class="block block-hero block-hero--medium block-hero--color-@@hero_color block--background-image text-shadow text-shadow--heavy" style="background-image: url('assets/img/mockup/man.jpg')">
		@@if (context.hero_content === true) {
		<div class="container">
			<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
		</div>
		<div class="block-hero__content">
			<div class="container">
				<h2 class="block-hero__title h1">Max fick tillbaka sin ungdom.</h2>
				<p class="block-hero__subtitle h2">Rita vann Jackpoten och Max fick sin ungdom tillbaka</p>
				<a href="/" class="btn btn-primary" title="">Läs mer</a>
			</div>
		</div>
		}
	</header>
</div>
}

@@if (context.hero_type === "mini") {
<header class="block block-hero block-hero--mini">
	<div class="container">
		@@if (context.h1 === true) {
		<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
		}
		@@if (context.h2 === true) {
		<h2 class="block-hero__title h1">Max fick tillbaka sin ungdom.</h2>
		}
	</div>
</header>
}

@@if (context.hero_type === "old") {
<div class="container">
	<header class="block block-hero block-hero--old">
		<div class="container">
			@@if (context.hero_content === true) {
			<h1 class="block-hero__page-title">Spela bingo och skrapa lotter</h1>
			}
		</div>
	</header>
</div>
}