<div class="block-image-text block-image-text--align-@@align ">
	<div class="block-image-text__image block-image-text__image--size-@@img-size block-image-text__image--desktop-@@desktop-position block-image-text__image--tablet-@@tablet-position block-image-text__image--mobile-@@mobile-position ">
		@@if(context.link) { <a href="@@link" title="@@btnText"> }
			<img src="@@image" alt="image" />
		@@if(context.link) { </a> }
	</div>
	<div class="block-image-text__text">
		<h2>Max fick sin ungdom tillbaka</h2>
		<p>När mamma luktar konstigt och inte kan gå – då står inte hemmet längre för något tryggt. Det vet Max. För honom var hemma lika med en klump i magen. Max tog varje chans han kunde att komma hemifrån och Ungdomens nykterhetsförbund, UNF, blev hans livsviktiga andningspaus.</p>
		@@if(context.link) {
			<a href="@@link" class="btn btn-@@btnType">@@btnText</a>
		}
	</div>
</div>