<sectio class="blog-win blog-full">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-12 col-md-6">
					@@include('blocks/page-win/single/_post-gallery.html')
			</div>

			<div class="col-xs-12 col-md-6">

				@@include('blocks/page-win/_filter.html')

				<section class="win-single">
					<article class="win-single__content">
						@@if (context.blocks === 'all') {
							@@include('blocks/page-win/_post-content-all.html')
						}
					</article>

					<h2 class="h2 block__title block__title--between">Läs mer om </h2>

					<div class="grid">
						@@include('blocks/page-win/_post-item.html')
					</div>
				</section>
			</div>
		</div>
	</div>
</sectio>