<sectio class="blog-win blog-full">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				@@if (context.blocks === "video") {
					@@include('blocks/page-win/_hero-video.html')
				}

				@@if (context.blocks === "image") {
					@@include('blocks/page-win/_hero-image.html')
				}
			</div>
			<div class="col-xs-12 col-md-6">
				@@include('blocks/page-win/_filter.html')
				<section class="blog-win-posts">
					<div class="grid">

						@@include('blocks/page-win/_post-item.html')

						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/mockup/sunset.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
					</div>

					@@include('blocks/page-win/_block-help.html')

					<div class="grid">
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/mockup/sunset.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
						<article class="post">
							<div class="content">
								<a class="post-link" href="">
									<figure class="post__thumb">
										<img src="assets/img/background/blog-hero-left.jpg" alt="BILAR">
									</figure>
								</a>
								<div class="post__tags"><a href="">BILAR</a></div>
								<a class="post-link" href="">
									<h2 class="post__title">Vintersäsongens nya bilar är här!</h2>
									<div class="post__text">
										Om du vann drömvinsten, vad skulle du göra då? De flesta skulle resa, kanske köpa en ny bil och leva gott på olika sätt.
									</div>
								</a>
							</div>
						</article>
					</div>
				</section>
			</div>
		</div>
	</div>
</sectio>