<section class="section promotion-blocks">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="section__heading h3">New promotion content blocks</h2>
			</div>
		</div>
	</div>

	<section class="s-promotion-offer">
		<div class="container">
			<div class="row equal-height">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					@@include('blocks/promotion/block/_promotion-offer-column-2.html', {
					"image": "assets/img/mockup/heart-symbol-white.svg",
					"image_position": "center",
					"theme": "dark",
					"text_alignment": "left",
					"custom_bg": true,
					"background-color-class": "background-color-blue",
					"bg_box_image": "",
					"content_position": "",
					"has_content_title": true,
					"has_content_description": true,
					"has_content_image": false,
					"has_link": true,
					"link_title": "Välj lotter som gör gott"
					})
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-campaign.html')
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-campaign.html')
				</div>
			</div>
		</div>
	</section>

	<section class="s-promotion-offer">
		<div class="container">
			<div class="row equal-height">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					@@include('blocks/promotion/block/_promotion-offer-column-2.html', {
					"image": "assets/img/mockup/heart-symbol.png",
					"image_position": "center",
					"theme": "dark",
					"text_alignment": "left",
					"custom_bg": false,
					"background-color-class": "",
					"bg_box_image": "",
					"content_position": "left",
					"has_content_title": true,
					"has_content_description": true,
					"has_content_image": true,
					"has_link": true,
					"link_title": "Välj lotter som gör gott"
					})
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-offer-column-1.html', {
					"image": "assets/img/mockup/heart-symbol.png",
					"theme": "light",
					"text_alignment": "center",
					"custom_bg": true,
					"background-color-class": "background-color-light-blue",
					"bg_box_image": "assets/img/mockup/promo-1.jpg",
					"has_content_title": true,
					"has_content_description": true,
					"has_content_image": false,
					"has_link": true,
					"link_title": "Se mer"
					})
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-offer-column-1.html', {
					"image": "assets/img/mockup/heart-symbol.png",
					"theme": "dark",
					"text_alignment": "right",
					"custom_bg": false,
					"background-color-class": "",
					"bg_box_image": "assets/img/mockup/promo-2.jpg",
					"has_content_title": true,
					"has_content_description": true,
					"has_content_image": false,
					"has_link": true,
					"link_title": "Gå till bingorum"
					})
				</div>
			</div>
		</div>
	</section>


	<section class="s-promotion-offer">
		<div class="container">
			<div class="row equal-height">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					@@include('blocks/promotion/block/_promotion-offer-column-2.html', {
					"image": "assets/img/mockup/heart-symbol.svg",
					"image_position": "center",
					"theme": "light",
					"text_alignment": "center",
					"custom_bg": true,
					"background-color-class": "background-color-light-blue",
					"bg_box_image": "",
					"content_position": "right",
					"has_content_title": true,
					"has_content_description": true,
					"has_content_image": true,
					"has_link": true,
					"link_title": "Välj lotter som gör gott"
					})
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-offer-column-1.html', {
					"image": "assets/img/mockup/heart-symbol.png",
					"theme": "dark",
					"text_alignment": "center",
					"custom_bg": false,
					"background-color-class": "background-color-light-blue",
					"bg_box_image": "assets/img/mockup/promo-1.jpeg",
					"has_content_title": true,
					"has_content_description": false,
					"has_content_image": false,
					"has_link": false,
					"link_title": "Se mer"
					})
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					@@include('blocks/promotion/block/_promotion-offer-column-1.html', {
					"image": "assets/img/mockup/heart-symbol.png",
					"theme": "dark",
					"text_alignment": "center",
					"custom_bg": true,
					"background-color-class": "background-color-light-blue",
					"bg_box_image": "assets/img/mockup/promo-2.jpeg",
					"has_content_title": true,
					"has_content_description": false,
					"has_content_image": false,
					"has_link": true,
					"link_title": "Gå till bingorum"
					})
				</div>
			</div>
		</div>
	</section>

		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "light",
		"text_alignment": "center",
		"custom_bg": true,
		"background-color-class": "background-color-light-blue",
		"bg_box_image": "",
		"content_position": "right",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})


		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "dark",
		"text_alignment": "left",
		"custom_bg": true,
		"background-color-class": "background-color-blue",
		"bg_box_image": "",
		"content_position": "left",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})

		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "background-color-blue",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "dark",
		"text_alignment": "left",
		"custom_bg": true,
		"background-color-class": "background-color-blue",
		"bg_box_image": "",
		"content_position": "left",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})


		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "background-color-light-blue",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "light",
		"text_alignment": "left",
		"custom_bg": true,
		"background-color-class": "background-color-light-blue",
		"bg_box_image": "",
		"content_position": "right",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})

		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "background-color-light-blue",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "light",
		"text_alignment": "left",
		"custom_bg": true,
		"background-color-class": "background-color-light-blue",
		"bg_box_image": "",
		"content_position": "above",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})

		@@include('blocks/promotion/block/_promotion-offer-column-2-fullWidth.html', {
		"overlay": "background-color-blue",
		"image": "assets/img/mockup/promotion--image-full.png",
		"image_position": "bottom",
		"theme": "dark",
		"text_alignment": "center",
		"custom_bg": true,
		"background-color-class": "background-color-blue",
		"bg_box_image": "",
		"content_position": "above",
		"has_content_title": true,
		"has_content_description": true,
		"has_content_image": true,
		"has_link": true,
		"link_title": "Välj lotter som gör gott"
		})

	</section>

	@@include('blocks/promotion/_promotion-example-text-image.html', {
	"revers": "revers"
	})

	@@include('blocks/promotion/_promotion-example-text-image.html', {
	"revers": ""
	})
	@@include('blocks/promotion/_promotion-example-text-full.html')

	<div class="container">
		<div class="row equal-height padding-extra">
			@@if (context.blocks === 'all') {
				@@include('blocks/promotion/_promotion-all.html')
			}
			@@if (context.blocks === 'row_1') {
				@@include('blocks/promotion/_promotion-row-1.html')
			}
			@@if (context.blocks === 'row_2') {
				@@include('blocks/promotion/_promotion-row-2.html')
			}
			@@if (context.blocks === 'row_3') {
				@@include('blocks/promotion/_promotion-row-3.html')
			}
			@@if (context.blocks === 'row_4') {
				@@include('blocks/promotion/_promotion-row-4.html')
			}
			@@if (context.blocks === 'row_5') {
				@@include('blocks/promotion/_promotion-row-5.html')
			}
			@@if (context.blocks === 'row_6') {
				@@include('blocks/promotion/_promotion-row-6.html')
			}
			@@if (context.blocks === 'row_7') {
				@@include('blocks/promotion/_promotion-row-7.html')
			}

			@@if (context.blocks === 'example-all') {
				@@include('blocks/promotion/_promotion-example-text.html')
				@@include('blocks/promotion/_promotion-example-image.html')
				@@include('blocks/promotion/_promotion-example-split.html')
				@@include('blocks/promotion/_promotion-example-bingo.html')
				@@include('blocks/promotion/_promotion-example-video.html')
			}

			@@if (context.blocks === 'example-test') {
			@@include('blocks/promotion/_promotion-example-test.html')
			}
			@@if (context.blocks === 'example-text') {
				@@include('blocks/promotion/_promotion-example-text.html')
			}
			@@if (context.blocks === 'example-image') {
				@@include('blocks/promotion/_promotion-example-image.html')
			}

			@@if (context.blocks === 'example-split') {
				@@include('blocks/promotion/_promotion-example-split.html')
			}
			@@if (context.blocks === 'example-bingo') {
				@@include('blocks/promotion/_promotion-example-bingo.html')
			}
			@@if (context.blocks === 'example-video') {
			@@include('blocks/promotion/_promotion-example-video.html')
			}
		</div>
		<div class="row equal-height">
			@@include('blocks/promotion/block/_promotion-bingo-jackpot.html')
			@@include('blocks/promotion/block/_promotion-bingo-blank.html')
		</div>
	</div>

</section>
