<section class="section promotion-blocks">
	<div class="container">
		<div class="row equal-height padding-extra">
			@@if (context.blocks === 'all') {
				@@include('blocks/promotion/_promotion-all.html')
			}
			@@if (context.blocks === 'row_1') {
				@@include('blocks/promotion/_promotion-row-1.html')
			}
			@@if (context.blocks === 'row_2') {
				@@include('blocks/promotion/_promotion-row-2.html')
			}
			@@if (context.blocks === 'row_3') {
				@@include('blocks/promotion/_promotion-row-3.html')
			}
			@@if (context.blocks === 'row_4') {
				@@include('blocks/promotion/_promotion-row-4.html')
			}
			@@if (context.blocks === 'row_5') {
				@@include('blocks/promotion/_promotion-row-5.html')
			}
			@@if (context.blocks === 'row_6') {
				@@include('blocks/promotion/_promotion-row-6.html')
			}
			@@if (context.blocks === 'row_7') {
				@@include('blocks/promotion/_promotion-row-7.html')
			}

			@@if (context.blocks === 'example-all') {
				@@include('blocks/promotion/_promotion-example-text.html')
				@@include('blocks/promotion/_promotion-example-image.html')
				@@include('blocks/promotion/_promotion-example-split.html')
				@@include('blocks/promotion/_promotion-example-bingo.html')
				@@include('blocks/promotion/_promotion-example-video.html')
			}

			@@if (context.blocks === 'example-test') {
			@@include('blocks/promotion/_promotion-example-test.html')
			}
			@@if (context.blocks === 'example-text') {
				@@include('blocks/promotion/_promotion-example-text.html')
			}
			@@if (context.blocks === 'example-image') {
				@@include('blocks/promotion/_promotion-example-image.html')
			}

			@@if (context.blocks === 'example-split') {
				@@include('blocks/promotion/_promotion-example-split.html')
			}
			@@if (context.blocks === 'example-bingo') {
				@@include('blocks/promotion/_promotion-example-bingo.html')
			}
			@@if (context.blocks === 'example-video') {
			@@include('blocks/promotion/_promotion-example-video.html')
			}
		</div>
		<div class="row equal-height">
			@@include('blocks/promotion/block/_promotion-bingo-jackpot.html')
			@@include('blocks/promotion/block/_promotion-bingo-blank.html')
		</div>
	</div>
</section>
