<section class="section product-list-blocks">
	<div class="container">
		<div class="row equal-height padding-extra">
			<div class="col-xs-12">
				<h2 class="section__heading h3">Vinster</h2>
			</div>

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/butterfly.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"label": "Nyhet",
			"color": "blue",
			"title": "En rad",
			"price": "450 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/butterfly.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "200 kr",
			"dreamButton": true
			})

			<!-- Category block -->
			@@include('blocks/product-list/_product-category.html', {
			"image": "assets/img/mockup/car.jpg",
			"title": "Hus & Hem",
			"text": "Här har vi samlat smarta vinster som passar perfekt till ditt hem.",
			"button": "Visa vinster"
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})

			<!-- Category block -->
			@@include('blocks/product-list/_product-category.html', {
			"image": "assets/img/mockup/car.jpg",
			"title": "Elektronik",
			"text": "Vi har elektronik av alla dess slag. Vispar, mikrovågsugn och tv-apparater.",
			"button": "Visa vinster"
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})
		</div>
	</div>
</section>
