<section class="section product-list-blocks">
	<div class="container">
		<h2 class="product-list-blocks__title h3">Vinster</h2>
		<div class="filters-meta">
			<div class="filters-meta__count">
				149 vinster visas
			</div>
			<button class="filters-meta__button js-toggle-filters">
				Filtrera vinster
			</button>
		</div>

		<div class="filters">
			<div class="filters__item">
				<div class="dropdown filter-dropdown">
					<button class="filter-dropdown__button" type="button" data-toggle="dropdown">
						Kategori
					</button>
					<div class="dropdown-menu">
						<div class="filter-dropdown__header">Kategori</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Resor <i>(5)</i>
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Hus & Hem <i>(4)</i>
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Sport & Fritid <i>(2)</i>
								</label>
							</div>
						</div>

						<button class="btn btn-primary">Välj</button>
					</div>
				</div>
			</div>
			<div class="filters__item filters__item--large">
				<div class="dropdown filter-dropdown">
					<button class="filter-dropdown__button" type="button" data-toggle="dropdown">
						Pris
					</button>

					<div class="dropdown-menu">
						<div class="filter-dropdown__header">Pris</div>

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label>Från</label>
									<input type="text" class="form-control" placeholder="200 kr">
								</div>
							</div>

							<div class="col-xs-6">
								<div class="form-group">
									<label>Till</label>
									<input type="text" class="form-control" placeholder="5000 kr">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Endast vinster jag har råd med
								</label>
							</div>
						</div>

						<button class="btn btn-primary">Välj</button>

						<a href="/">Läs om drömvinsterna (över 5000kr)</a>
					</div>
				</div>
			</div>
			<div class="filters__item">
				<div class="dropdown filter-dropdown">
					<button class="filter-dropdown__button" type="button" data-toggle="dropdown">
						Varumärke
					</button>
					<div class="dropdown-menu">
						<div class="filter-dropdown__header">Varumärke</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Bodum
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Bosch
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Electrolux
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Ernst
								</label>
							</div>
						</div>

						<button class="btn btn-primary">Välj</button>
					</div>
				</div>
			</div>
			<div class="filters__item">
				<div class="dropdown filter-dropdown">
					<button class="filter-dropdown__button" type="button" data-toggle="dropdown">
						Kampanjer
					</button>
					<div class="dropdown-menu">
						<div class="filter-dropdown__header">Kampanjer</div>

						<div class="form-group">
							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									de Buyer-knivar
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Skidsemester
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input class="custom-checkbox" type="checkbox">
									Matlagningsspecial
								</label>
							</div>
						</div>

						<button class="btn btn-primary">Välj</button>
					</div>
				</div>
			</div>
			<div class="filters__item">
				<div class="dropdown filter-dropdown">
					<button class="filter-dropdown__button" type="button" data-toggle="dropdown">
						Sök
					</button>
					<div class="dropdown-menu">
						<div class="filter-dropdown__header">Sök</div>

						<div class="form-group">
							<label>Sökord eller vinstnummer</label>
							<input class="form-control" type="text">
						</div>

						<button class="btn btn-primary">Sök</button>
					</div>
				</div>
			</div>
		</div>

		<div class="active-filters">
			<span class="active-filters__label">Pris till 800kr</span>
			<span class="active-filters__label">Hus & hem</span>
			<span class="active-filters__label">Le Creuset</span>

			<span class="active-filters__label active-filters__label--primary">Ta bort alla filter</span>
		</div>

		<div class="row equal-height">
			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/butterfly.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"label": "Nyhet",
			"color": "blue",
			"title": "En rad",
			"subtitle": "Fusce Nibh",
			"price": "450 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/butterfly.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "200 kr",
			"dreamButton": true
			})

			<!-- Category block -->
			@@include('blocks/product-list/_product-category.html', {
			"image": "assets/img/mockup/car.jpg",
			"title": "Hus & Hem",
			"text": "Här har vi samlat smarta vinster som passar perfekt till ditt hem.",
			"button": "Visa vinster"
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"subtitle": "Fusce Nibh",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})

			<!-- Category block -->
			@@include('blocks/product-list/_product-category.html', {
			"image": "assets/img/mockup/car.jpg",
			"title": "Elektronik",
			"text": "Vi har elektronik av alla dess slag. Vispar, mikrovågsugn och tv-apparater.",
			"button": "Visa vinster"
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/nature.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "10.000 kr",
			"dreamButton": true
			})

			@@include('blocks/product-list/_product-item.html', {
			"image": "assets/img/mockup/sunset.jpg",
			"hoverImage": "assets/img/mockup/car.jpg",
			"title": "Flera rader skulle kunna fungera såhär.",
			"price": "30 kr",
			"dreamButton": true
			})
		</div>
	</div>
</section>
