<section class="container promotion-blocks">
	<div class="row equal-height padding-extra">
		@@if (context.blocks === 'all') {
			@@include('blocks/promotion/_promotion-all.html')
		}
		@@if (context.blocks === 'row_1') {
			@@include('blocks/promotion/_promotion-row-1.html')
		}
		@@if (context.blocks === 'row_2') {
			@@include('blocks/promotion/_promotion-row-2.html')
		}
		@@if (context.blocks === 'row_3') {
			@@include('blocks/promotion/_promotion-row-3.html')
		}
		@@if (context.blocks === 'row_4') {
			@@include('blocks/promotion/_promotion-row-4.html')
		}
		@@if (context.blocks === 'row_5') {
			@@include('blocks/promotion/_promotion-row-5.html')
		}
		@@if (context.blocks === 'row_6') {
			@@include('blocks/promotion/_promotion-row-6.html')
		}
		@@if (context.blocks === 'row_7') {
			@@include('blocks/promotion/_promotion-row-7.html')
		}
	</div>
</section>
