<section class="section product-list-blocks">
	<div class="container@@class">
		<div class="row equal-height">
			@@if (context.status != "ordered") {
				@@loop('blocks/product-list/_product-item-full.html', [
					{
						"image": "assets/img/mockup/train.jpg",
						"title": "En rad",
						"price": "450 kr",
						"delivery": "1 dag",
						"amount": "10",
						"link": "Ta bort ur varukorgen",
						"color": "blue"
					},
					{
						"image": "assets/img/mockup/butterfly.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "200 kr",
						"amount": "1 st",
						"link": "Ta bort ur varukorgen",
						"color": "blue"
					},
					{
						"image": "assets/img/mockup/nature.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "10.000 kr",
						"delivery": "2 dagar",
						"amount": "2 st",
						"link": "Ta bort ur varukorgen",
						"color": "blue"
					},
					{
						"image": "assets/img/mockup/sunset.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "30 kr",
						"delivery": "12 dagar",
						"amount": "2 st",
						"link": "Ta bort ur varukorgen",
						"notice": "",
						"color": "orange"
					}
				])
			}

			@@if (context.status == "ordered") {
				@@loop('blocks/product-list/_product-item-full.html', [
					{
						"image": "assets/img/mockup/butterfly.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "200 kr",
						"amount": "1 st",
						"link": "Ångra beställning",
						"color": ""
					},
					{
						"image": "assets/img/mockup/nature.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "10.000 kr",
						"delivery": "2 dagar",
						"amount": "2 st",
						"link": "Spåra beställning",
						"color": ""
					},
					{
						"image": "assets/img/mockup/train.jpg",
						"title": "En rad",
						"price": "450 kr",
						"delivery": "1 dag",
						"amount": "10",
						"link": "",
						"color": ""
					},
					{
						"image": "assets/img/mockup/sunset.jpg",
						"title": "Flera rader skulle kunna fungera såhär.",
						"price": "30 kr",
						"delivery": "12 dagar",
						"amount": "2 st",
						"link": "",
						"notice": "Returnerad: 2 st",
						"color": ""
					}
				])
			}

		</div>
	</div>
</section>
