<div class="container">
  <div class="register_lott_popup">
    <div class="register_lott_popup-body">
      <div class="close_btn">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.0948 1L1 20.0948" stroke="#074658" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1 1L21 21" stroke="#074658" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
      </div>
      <div class="register_lott_popup-body--1">
        <h1>
          Dags för registrering?
        </h1>
        <img src="assets/img/reg-lott-v2-big.png" alt="lottery">
        <button class="reg_lott-btn">Registrera Lotter</button>
      </div>
    </div>
  </div>
</div>