<section class="section slider-blocks">
	<div class="container">
		<div class="slider">
			<div class="row equal-height">
			<div class="slide-item">
				<div class="block block-promotion">
					<div class="block-promotion__image block-promotion__image--square block--background-image"
						 style="background-image: url('assets/img/mockup/train.jpg')">
					</div>
				</div>
			</div>

			<div class="slide-item">
				<div class="block block-promotion flex-middle">
					<div class="block-promotion__content">
						<p class="block-promotion__title h4" >Ditt lottköp gör skillnad</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
					</div>
				</div>
			</div>

			<div class="slide-item">
				<div class="block block--background-image scrim block-promotion flex-bottom"
					 style="background-image: url('assets/img/mockup/car.jpg')">
					<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
						<div class="block-promotion__content">
							<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
							<p>Bli medlem idag</p>
						</div>
					</a>
				</div>
			</div>

			<div class="slide-item">
				<div class="block block--background-image scrim block-promotion flex-bottom"
					 style="background-image: url('assets/img/mockup/car.jpg')">
					<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
						<div class="block-promotion__content">
							<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
							<p>Bli medlem idag</p>
						</div>
					</a>
				</div>
			</div>

			<div class="slide-item">
				<div class="block block--background-image scrim block-promotion flex-bottom"
					 style="background-image: url('assets/img/mockup/car.jpg')">
					<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
						<div class="block-promotion__content">
							<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
							<p>Bli medlem idag</p>
						</div>
					</a>
				</div>
			</div>

			<div class="slide-item">
				<div class="block block--background-image scrim block-promotion flex-bottom"
					 style="background-image: url('assets/img/mockup/car.jpg')">
					<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
						<div class="block-promotion__content">
							<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
							<p>Bli medlem idag</p>
						</div>
					</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
