<div class="block block-slider">
	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
				 style="background-image: url('assets/img/mockup/friends.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm"></a>
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
				<p>Bli medlem idag</p>
				<a href="" class="btn btn-invert-v2 js-show-description">Läs mer</a>
			</div>
			<div class="block-slider-description">
				<a class="btn btn-invert-v2 btn-icon-only js-hide-description">
					<i class="icon icon-close align-vertical"></i>
				</a>
				<div class="block-slider-description-inner">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>

	</div>
	
	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
				 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm"></a>
			<div class="block-promotion__content">
				<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
				<p>Bli medlem idag</p>
				<a href="" class="btn btn-invert-v2">Läs mer</a>
			</div>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block-promotion">
			<div class="block-promotion__image-wrapper">
				<div
						class="block-promotion__image block--background-image"
						style="background-image: url('assets/img/mockup/friends.jpg')">
				</div>
			</div>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block-promotion">
			<div class="block-promotion__image-wrapper">
				<div
					class="block-promotion__image block--background-image"
					style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>
</div>