<div class="block block-slider">
	<div class="block-slider__item">
		<div class="block block-promotion">
			<div class="block-promotion__image-wrapper">
				<div
					class="block-promotion__image block--background-image"
					style="background-image: url('assets/img/mockup/friends.jpg')">
				</div>
			</div>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block-promotion">
			<div class="block-promotion__image-wrapper">
				<div
					class="block-promotion__image block--background-image"
					style="background-image: url('assets/img/mockup/man.jpg')">
				</div>
			</div>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>

	<div class="block-slider__item">
		<div class="block block--background-image text-protection block-promotion flex-bottom"
			 style="background-image: url('assets/img/mockup/car.jpg')">
			<a class="block-promotion__link" href="/" title="Bli prenumerant och förverkliga din dröm">
				<div class="block-promotion__content">
					<p class="block-promotion__title h4">Bli prenumerant och förverkliga din dröm</p>
					<p>Bli medlem idag</p>
				</div>
			</a>
		</div>
	</div>
</div>