<!--
	@background: light-blue, pink-bg, primary-blue, green, white
	@sub_bg - must be 100% of block height, cause if text - it will be on front the image.
		- assets/img/background/popup-general-back.png
    @modal - modal_background, modal_image, no-image

	@shadow: true, false.
	@sub_text: "text".
	@on_title: "text".
-->

<section class="sub-page-popup-general @@if(context.background){@@background}  @@if(context.modal){@@modal}  @@if(context.bg_shadow){shadow__}"
        @@if(context.sub_bg){ style=" background:  url(@@sub_bg) no-repeat center/cover;" }>

  	<div class="container">
		<div class="row equal-height">
		  <div class="col-xs-12 col-lg-12">

              @@if(context.on_title) {
                <h2 class="title">@@on_title</h2>
              }
              @@if(context.sub_text) {
                <p>@@sub_text</p>
              }

             <div class="block_btn">
               <a href="javascript:;" class="btn-color primary-blue">Läs mer om villkor</a>
            </div>

			 </div>  
          </div>
      </div>

</section>
