<!--
	@background: green, blue, white.
	@sub_bg - must be 100% of block height, cause if text - it will be on front the image.
		- assets/img/mockup/sub-page-img1.jpg
		- assets/img/mockup/sub-page-img2.jpg
		- assets/img/mockup/sub-page-img3.jpg
		- assets/img/mockup/sub-page-img4.jpg
		- assets/img/mockup/sub-page-img5.png
	@left_text_color: green, white, false.
	bg_shadow: true, false.
	@sub_text: "text".
	has_error: true, false.
	CLASS .only-desk to show content only on descktop


	FOR POPUP
	no_img: true, false.
-->

<section class="sub-page @@if(context.background){sub-page_@@background} @@if(context.no_img){sub-page_no-img}">
	<div class="container">
		<div class="row equal-height">
			<div class="col-xs-12 col-lg-6">
				<div class="sub-page__left-wrapper">
					@@if(context.sub_bg) {
						<div class="sub-page__left-img @@if(context.bg_shadow){sub-page__left-img_shadow}">
							<img src="@@sub_bg">
						</div>
					}

					@@if(context.left_text_color) {
						<div class="sub-page__left-titles @@if(context.left_text_color){sub-page__left-titles_@@left_text_color}">
							<div class="sub-page__left-titles_big">
								<h2>Massor av inspiration</h2>
							</div>
							<div class="sub-page__left-titles_small">
								<h3>& erbjudanden!</h3>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="col-xs-12 col-lg-6">
				<div class="sub-page__right-wrapper">
					<div class="sub-page__right-content" id="reg_form" style="display: block;">
						<div class="sub-page__right-title">
							<h3>Få mer av våra nyhetsbrev!</h3>
						</div>

						<div class="sub-page__right-text js-checkLength" data-length="100" data-smaller="16px">

						@@if(context.sub_text) {
							<p>@@sub_text</p>
						}
						</div>

						<div class="sub-page__right-features only-desk">
							<ul>
								<li>Nyheter och viktig information</li>
								<li>Exklusiva erbjudanden</li>
								<li>Spannande tavlingar</li>
							</ul>
						</div>

						<div class="sub-page__right-form">
							<form>
								<div class="form-group form-group_email @@if(context.has_error){ has-error}"> <!-- .has-error -->
									<label class="form_label" for="form_email">
										Ange din e-postadress
										<div class="info-box">
											<div class="info-text">
												Om du ändrar din mejladress så ändras den överallt.
											</div>
										</div>
									</label>
									<input class="form-control" type="email" name="email" id="form_email" placeholder="namn@email.se3">

									<small class="help-block with-errors">Kontrollera din e-postadress</small>
								</div>

								<div class="form-group form-group_checks @@if(context.has_error){ has-error}"> <!-- .has-error -->
									<div class="checkbox">
										<label>
											<input type="checkbox" class="custom-checkbox" id="subPage_check1">Jag godkänner att ta emot nyhetsbrev från Miljonlotteriet.<a href="#" onclick="
											$(this).closest( '.sub-page__right-wrapper #reg_form' ).css('display', 'none').closest('.sub-page__right-wrapper').find(' #reg_terms').fadeIn();
											">Läs om villkor</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" class="custom-checkbox" id="subPage_check2">Jag godkänner att Miljonlotteriet använder min data till analys…<a href="#" onclick="
											$(this).closest( '.sub-page__right-wrapper #reg_form' ).css('display', 'none').closest('.sub-page__right-wrapper').find(' #reg_terms').fadeIn();
											">Läs om villkor</a>
										</label>
									</div>

									<small class="help-block with-errors">Du behöver acceptera villkoren</small>
								</div>

								<div class="sub-page__right-btn">
									<button type="submit" class="btn btn-primary disabled" onclick="
										$(this).closest( '.sub-page__right-wrapper #reg_form' ).css('display', 'none').closest('.sub-page__right-wrapper').find(' #reg_succes').fadeIn();
										">
											Registrera
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="sub-page__right-content sub-page__reg_succes" id="reg_succes" style="display: none;">
						<svg class="success-symbol" xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51">
							<path id="success-symbol-2" data-name="success-symbol" d="M25.5,51A25.507,25.507,0,0,1,15.574,2,25.507,25.507,0,0,1,35.426,49,25.332,25.332,0,0,1,25.5,51Zm0-48A22.5,22.5,0,1,0,48,25.5,22.525,22.525,0,0,0,25.5,3ZM22.106,36a1.488,1.488,0,0,1-.85-.265l-.118-.089L13.732,29.39A1.5,1.5,0,0,1,15.546,27l.122.093,6.221,5.256L35.123,15.571A1.5,1.5,0,0,1,37.567,17.3l-.089.125-14.194,18A1.491,1.491,0,0,1,22.106,36Z"/>
						</svg>
						<h4>Du är nu registrerad</h4>
						<p>Snart kommer ditt första nyhetsbrev trilla in i din inbox!</p>
					</div>

					<div class="sub-page__right-content sub-page__reg_another" id="reg_another" style="display: none;">
						<h4>Du är redan registrerad</h4>
						<p>Håll utkik i din inkorg! Vill du justera din e-postadress kan du göra det under Mina sidor.</p>
						<a href="#" class="btn btn-primary">Till Mina sidor</a>
					</div>

					<div class="sub-page__right-content sub-page__reg_text" id="reg_terms" style="display: none;">
						<div class="get_home">
							<a href="#" onclick="
							$(this).closest( '.sub-page__right-wrapper #reg_terms' ).css('display', 'none').closest('.sub-page__right-wrapper').find(' #reg_form').fadeIn();
							">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle class="get_home__circle" cx="12" cy="12" r="12" fill="#C9E8F4"></circle>
									<path class="get_home__arrow" d="M13 7L8 12L13 17" stroke="#053A53" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
								Tillbaka
							</a>
						</div>

						<h5>Villkor nyhetsbrev</h5>
						<p>När du är spelare hos oss behandlar vi dina personuppgifter för att marknadsföra oss mot dig som är spelare hos oss. Det innebär att vi skickar direktmarknadsföring, nyhetsbrev, SMS och annan information som är relevant för dig, t.ex. information om vår verksamhet inom nykterhetsrörelsen (IOGT-NTO) dit vårt överskott går och skickar personligt anpassad marknadsföring till dig med erbjudanden och information som vi tror att du är intresserad av, baserat på t.ex. hur mycket du använder våra tjänster. Vi delar också information om dig som spelare med nykterhetsrörelsen (IOGT-NTO) för att kunna göra utskick om nykterhetsrörelsen och medlemskap i denna.</p>

						<b>För det här ändamålet behandlar vi:</b>

						<ul>
							<li>Namn</li>
							<li>Kundnummer</li>
							<li>Kontaktuppgifter (postadress, e-postadress och telefonnummer)
							</li>
						</ul>

						<p>
							<b>Då behandlar vi även:</b>
							<ul>
								<li>Information från ditt vinstsaldo, för att kunna visa ett urval av vinster som är relevanta för dig</li>
								<li>Information om hur mycket du använder våra tjänster, för att kunna anpassa hur mycket marknadsföring du får från oss</li>
							</ul>
						</p>

						<p>Laglig grund: Behandlingen är motiverad av vårt berättigade intresse att skicka relevant marknadsföring till dig som är spelare hos oss. Du har rätt att invända mot marknadsföringen när personuppgifterna samlas in samt vid varje utskick.
						</p>

						<p>Vi skickar nyhetsbrev till dig baserat på ditt samtycke som du lämnar när du har registrerat dig för våra nyhetsbrev. Du kan när som helst återkalla ditt samtycke.
						Lagringstid: Under tiden du har ett aktivt spelkonto. Du får dock inte marknadsföring från oss längre om du inte har gjort en beställning, insättning eller uttag under det senaste året. Om du har angett att du inte vill få marknadsföring från oss eller om du har begärt spelstopp får du inte längre vår kommunikation (för mer information, se beskrivningen av vår behandling för att följa rättsliga skyldigheter).<br>
						Om du inte längre vill få marknadsföring från oss lagras dina personuppgifter i vårt ”avregistreringsregister” tills vidare.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>