<div class="row">
	<section class="block hero-block">
		<p>Hero block<i class="icon icon-icon-close"></i></p>
	</section>
</div>
<div class="row equal-height">
	<div class="col-xs-12 col-md-6 col-lg-6">
		<section class="block">
			<h3>Headling</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium mauris porttitor ante aliquam
				rutrum nec et metus. Phasellus sit amet ante dignissim, scelerisque lacus vel, imperdiet augue.
				Vestibulum ac dui a felis hendrerit cursus id et eros. Nam vestibulum, quam sed rhoncus tempor, tortor
				ante vulputate purus, ut ultrices orci lectus et diam. In condimentum nibh sapien, et tincidunt justo
				aliquam non. Fusce viverra augue quis erat sagittis molestie. Proin velit justo, lacinia vitae auctor
				ac, elementum sed lectus. Vivamus a pharetra est, vel laoreet ligula. Proin rhoncus luctus quam, eu
				elementum ipsum porta finibus. Sed consequat, purus quis volutpat tempor, metus dui tempus quam, ac
				vehicula ligula nibh sed massa. Ut a lorem at ante mollis semper vel ut est. In hac habitasse platea
				dictumst. Suspendisse ultricies malesuada ultricies. Duis vitae mi sem. Sed aliquet rutrum ex eu
				blandit. Nunc vitae risus nec ligula eleifend lacinia.
			</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-6">
		<section class="block">
			<h3>Headling</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium mauris porttitor ante aliquam
				rutrum nec et metus. Phasellus sit amet ante dignissim, scelerisque lacus vel, imperdiet augue.
				Vestibulum ac dui a felis hendrerit cursus id et eros. Nam vestibulum, quam sed rhoncus tempor, tortor
				ante vulputate purus, ut ultrices orci lectus et diam. In condimentum nibh sapien, et tincidunt justo
				aliquam non. Fusce viverra augue quis erat sagittis molestie. Proin velit justo, lacinia vitae auctor
				ac, elementum sed lectus. Vivamus a pharetra est, vel laoreet ligula. Proin rhoncus luctus quam, eu
				elementum ipsum porta finibus. Sed consequat, purus quis volutpat tempor, metus dui tempus quam, ac
				vehicula ligula nibh sed massa. Ut a lorem at ante mollis semper vel ut est. In hac habitasse platea
				dictumst. Suspendisse ultricies malesuada ultricies. Duis vitae mi sem. Sed aliquet rutrum ex eu
				blandit. Nunc vitae risus nec ligula eleifend lacinia.
			</p>
			<p>
				Etiam semper felis sem, ut lobortis tortor rhoncus ac. Ut sit amet sollicitudin tortor, vitae viverra
				ante. Cras et risus odio. In hac habitasse platea dictumst. Donec sit amet elementum augue. Aenean
				sollicitudin massa nec semper placerat. Sed blandit eleifend aliquam. Suspendisse imperdiet lorem vitae
				pellentesque luctus. Curabitur tortor sapien, aliquet quis malesuada id, euismod eget eros. Pellentesque
				sagittis nunc risus, et rutrum turpis maximus non. Donec tristique mi libero, vitae euismod sapien
				pulvinar at. Ut fringilla aliquet justo at posuere.</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-lg-6">
		<section class="block">
			<p>Medium block</p>
			<p>Medium block</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<section class="block">
			<p>Small block</p>
		</section>
	</div>
	<div class="col-xs-12 col-lg-12">
		<section class="block">
			<p>Large block</p>
			<p>Large block</p>
			<p>Large block</p>
		</section>
	</div>
</div>
