/* Adjust old content styles */
body {
	background: $color-light;
	margin: 0;
	padding: 0;
}

#bg-wrapper {
	background: none;
}

#bg-wrapper-menu {
	background: none;
}

/* Adjust new wrapper styles with old content */
.content-wrapper {
	&:not(.ml-2017) {
		overflow: auto;
	}
}

/* Adjust old content styles interfere with new styles */
.ml-2017 {
	a.btn {
		color: $color-light !important;
		display: inline-block !important;
		font-size: 12px !important;
		font-family: $base-font-family;
		text-transform: none;
		overflow: auto !important;
		text-decoration: none !important;
		outline: none;
		margin: 0;
		box-shadow: none;

		&.btn-link {
			color: $color-primary !important;
		}
	}

	.sidebar-account {
		a.btn {
			&.btn-icon {
				@include max-screen($screen-md-max) {
					color: $color-base-secondary !important;
					font-size: 10px !important;
				}
			}
		}
	}
}
