/* Adjust old content styles */
body {
	background: $color-light;
	margin: 33px 0 0;
	padding: 0;
}

#bg-wrapper {
	background: none;
}

#bg-wrapper-menu {
	background: none;
}

/* Adjust new wrapper styles with old content */
.content-wrapper {
	&:not(.ml-2017) {
		overflow: auto;
	}
}

#scPageExtendersForm iframe {
	position: relative;
	z-index: 1100;
}
