// Default menu styles
.sidebar-navigation {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;


	@media (max-height: 580px) and (max-width: $screen-sm-max) {
		padding-bottom: 120px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: block;
		border-top: 1px solid $color-border;
		height: $sidebar-item-height;

		&:first-child {
			border: none;
		}

		// Navigation item with content instead of link
		&.has-content {
			padding: $padding-medium $padding-medium 0 $padding-default;
		}

		&.js-is-active {
			> ul {
				opacity: 1;
				visibility: visible;
				transition: opacity $duration-quick $delay-none $ease-in-out;
			}
		}

		a {
			display: block;
			padding: $padding-medium $padding-medium 0 $padding-default;
			line-height: 1;
			text-align: left;
			font-size: 14px;
			font-weight: 600;
			color: $color-base-secondary;
			position: relative;
			height: 100%;
			transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

			&:hover {
				text-decoration: none;

				@include min-screen($screen-sm-min) {
					color: $color-primary;
				}

				i {
					@include min-screen($screen-sm-min) {
						color: $color-primary;
					}
				}
			}

			&.js-is-active {
				color: $color-base-secondary;

				@include min-screen($screen-sm-min) {
					color: $color-primary;
				}

				i {
					color: $color-primary;
				}
			}

			&:focus {
				text-decoration: none;
			}

			div {
				span {
					&:last-of-type {
						display: block;
						font-size: 11px;
						line-height: 17px;
						font-weight: 400;
						color: $color-base-complement;
						margin-top: 5px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

// Pre-defined small and active mobile styles
@mixin menu-main-item-mobile() {
	padding: 20px 10px 0;
}

@mixin menu-main-search-mobile() {
	display: none;
}

@mixin menu-main-user-mobile() {
	display: none;
}

@mixin menu-main-link-mobile() {
	padding: $padding-small 0 0;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
}

@mixin menu-main-description-mobile() {
	display: none;
}

@mixin menu-main-icon-mobile() {
	width: 100%;
	margin-right: 0;
	display: block;
	text-align: center;
}

@mixin menu-main-notification-mobile() {
	transform: translateX(-50%);
	left: 50%;
	margin-left: -13px;
	top: -3px;
}

@mixin menu-sub-mobile() {
	left: $sidebar-width-mobile;
}

// Main menu items
.sidebar-navigation {
	> li {
		// Logo and search bar
		&:first-child {
			height: $sidebar-logo-height - 1; // - border
			text-align: center;
			position: relative;

			@include screen($screen-sm-min, $screen-md-max) {
				@include menu-main-item-mobile();
			}

			.logotype {
				display: inline-block;
				max-width: 75px;
				height: auto;
				padding: 0;

				img {
					display: block;
					width: 100%;
					height: auto;
					border: none;
				}
			}

			.navigation-search {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				text-align: right;

				@include min-screen($screen-sm-min) {
					display: none;
				}

				&.js-is-active {
					background-color: $color-light;

					form {
						background-color: $color-light;
						transition: background $duration-quick $delay-none $ease-in-out;
					}

					input {
						display: block;
					}
				}

				form {
					position: relative;
					height: 100%;
					background-color: transparent;
					transition: background $duration-quick $delay-none $ease-in-out;
				}

				input {
					display: none;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					border: none;
					border-radius: 0;
					height: 100%;
				}

				i {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					font-size: 20px;
				}
			}
		}

		// User item
		&:last-child {
			&.has-content {
				display: none;
				height: auto;

				@include min-screen($screen-md-max) {
					display: block;
				}

				span {
					display: block;
				}

				a {
					padding: 0;
					display: block;

					span {
						display: inline;
					}
				}
			}
		}

		// Navigation item with sub menu
		&.has-sub-menu {
			> a {
				&:after {
					font-family: "ml-icons";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					content: '\e902';
					width: 10px;
					font-size: 12px;
					height: auto;
					position: absolute;
					color: $color-border;
					top: 50%;
					right: 0;
					margin: auto;
					transform: translate3d(-5px, -50%, 0);
					transition: color $duration-quick $delay-none $ease-in-out;
				}

				&:hover {
					@include min-screen($screen-sm-min) {
						color: $color-primary;
					}
				}
				&.js-is-active {
					&:after {
						color: $color-complement-sky;
					}
				}
			}
		}

		i,
		div {
			display: inline-block;
			vertical-align: middle;
		}

		i {
			position: relative;
			width: 30px;
			text-align: center;
			margin-right: $margin-small;
			color: $color-complement-sky;

			.notification {
				position: absolute;
				left: -6px;
				top: -6px;
			}
		}

		// Custom user styles
		div.user {
			i,
			div {
				vertical-align: top;
			}

			span {
				@include screen($screen-sm-min, $screen-md-max) {
					@include menu-main-user-mobile();
				}
			}

			.user__wallet,
			.user__wallet a,
			.user__winnings,
			.user__winnings a {
				font-weight: 400;
				font-size: 11px;
				line-height: 17px;
				color: $color-base-complement;

				span {
					font-weight: bold;
				}
			}
		}

		> a {
			@include screen($screen-sm-min, $screen-md-max) {
				@include menu-main-link-mobile();
			}

			// Active border
			&:before {
				content: '';
				height: 100%;
				width: 5px;
				position: absolute;
				background-color: transparent;
				top: 0;
				left: 0;
				margin: auto;
				transform: translate3d(-5px, 0, 0);
				transition: background $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
			}

			&.js-is-active {
				&:before {
					transform: translate3d(0, 0, 0);
					background-color: $color-primary;
				}
			}

			div {
				span {
					&:last-of-type {
						@include screen($screen-sm-min, $screen-md-max) {
							@include menu-main-description-mobile();
						}
					}
				}
			}

			i {
				@include screen($screen-sm-min, $screen-md-max) {
					@include menu-main-icon-mobile();
				}

				.notification {
					@include screen($screen-sm-min, $screen-md-max) {
						@include menu-main-notification-mobile();
					}
				}
			}
		}
	}
}

// Sub menu items
.sidebar-navigation {
	> li {
		> ul {
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			visibility: hidden;
			position: absolute;
			top: 0;
			height: 100%;
			transform: translate3d(0, 0, 0);
			background-color: $color-container-background;

			opacity: 0;
			transition: opacity $duration-quick $delay-none $ease-in-out, visibility 0s $duration-fast;
			width: $sub-navigation-width-mobile;
			left: $sidebar-width-desktop;

			@include min-screen($screen-sm-min) {
				width: $sub-navigation-width-desktop;
			}

			@include screen($screen-sm-min, $screen-md-max) {
				left: $sidebar-width-mobile;
			}

			// Second depth
			> li {
				&:first-child {
					height: $sidebar-logo-height - 1; // - border
				}

				&:not(:first-child) {
					a {
						height: $sidebar-item-height - 1;
					}
				}

				&:last-child {
					border-bottom: 1px solid $color-border;
				}

				.navigation-title {
					margin-top: 10px;
					display: block;
					font-size: 18px;
					line-height: 1;
					font-weight: 600;
				}

				.notification {
					margin-left: 6px;
					margin-bottom: -18px;
				}

				> ul {
					height: auto;


					// Third depth
					> li {
						&:first-child {
							border-top: 1px solid $color-border;
						}
					}
				}
			}

			// Collapsed sub navigation
			&.sub-navigation-collapsed {
				padding-top: 0;

				> li {
					height: auto;

					&:first-child {
						> a {
							height: $sidebar-logo-height - 1; // - border
						}
					}

					> a {
						&:after {
							font-family: "ml-icons";
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							font-style: normal;
							font-variant: normal;
							font-weight: normal;
							content: '\e906';
							width: 10px;
							font-size: 12px;
							height: auto;
							position: absolute;
							color: $color-border;
							top: 50%;
							right: 0;
							margin: auto;
							transform: translate3d(-15px, -50%, 0) rotate(0deg);
							transition: color $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
						}

						&:not(.collapsed) {
							&:after {
								transform: translate3d(-15px, -50%, 0) rotate(180deg);
							}
						}

						&:not(.collapsed),
						&:hover {
							color: $color-primary;

							&:after {
								color: $color-complement-sky;
							}
						}
					}
				}
			}
		}
	}
}

// Active sidebar
&#sidebar.js-is-active {
	.sidebar-navigation {
		> li {
			// Logotype
			&:first-child {
				@include max-screen($screen-sm-min) {
					padding: 20px 10px 0;
				}
				> a {
					padding: 0;
				}

				.navigation-search {
					@include max-screen($screen-sm-min) {
						@include menu-main-search-mobile();
					}
				}

				div.user {
					span {
						@include max-screen($screen-sm-min) {
							@include menu-main-user-mobile();
						}
					}
				}
			}

			> a {
				@include max-screen($screen-sm-min) {
					@include menu-main-link-mobile();
				}

				div {
					span {
						&:last-of-type {
							@include max-screen($screen-sm-min) {
								@include menu-main-description-mobile();
							}
						}
					}
				}

				i {
					@include max-screen($screen-sm-min) {
						@include menu-main-icon-mobile();
					}

					.notification {
						@include max-screen($screen-sm-min) {
							@include menu-main-notification-mobile();
						}
					}
				}
			}

			> ul {
				@include max-screen($screen-sm-min) {
					@include menu-sub-mobile();
				}
			}
		}
	}
}
