// Pre-defined small and active mobile styles
@mixin menu-main-item-mobile() {
	padding: 20px 10px 0;
}

@mixin menu-main-search-mobile() {
	display: none;
}

@mixin menu-main-user-mobile() {
	display: none;
}

@mixin menu-main-link-mobile() {
	padding: $padding-small 0 0;
	font-size: 10px;
	line-height: $base-font-size;
	text-align: center;
}

@mixin menu-main-description-mobile() {
	display: none;
}

@mixin menu-main-icon-mobile() {
	width: 100%;
	margin-right: 0;
	display: block;
	text-align: center;
}

@mixin menu-main-notification-mobile() {
	transform: translateX(-50%);
	left: 50%;
	margin-left: -13px;
	top: -3px;
}

/* REMOVE */
@mixin menu-sub-mobile() {
	left: $sidebar-width-mobile;
}

// Active sidebar
&#sidebar.js-is-active {
	.sidebar-navigation {
		> li {
			// Logotype
			&:first-child {
				@include max-screen($screen-sm-min) {
					padding: 20px 10px 0;
				}
				> a {
					padding: 0;
				}

				.navigation-search {
					@include max-screen($screen-sm-min) {
						@include menu-main-search-mobile();
					}
				}

				div.user {
					span {
						@include max-screen($screen-sm-min) {
							@include menu-main-user-mobile();
						}
					}
				}
			}
		}
	}
}


/* SIDEBAR NAV */
.sidebar-navigation {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	margin-bottom: 0;
	padding: 0;
	list-style: none;

	@media (max-height: 580px) and (max-width: $screen-sm-max) {
		padding-bottom: 120px;
	}
}

.sidebar-navigation__item {
	display: block;
	height: $sidebar-item-height;

	&:not(:first-child) {
		border-top: 1px solid $color-border;
	}

	// Navigation item with content instead of link
	&.has-content {
		padding: $padding-medium $padding-medium 0 $padding-default;
	}
}

.sidebar-navigation__link {
	display: block;
	position: relative;
	height: 100%;
	padding: $padding-medium $padding-default;
	font-weight: $bold;
	line-height: 1;
	color: $color-base-secondary;
	transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

	&:hover,
	&:focus,
	&.js-is-active {
		text-decoration: none;
		color: $color-base-secondary;

		@include min-screen($screen-sm-min) {
			color: $color-primary;
		}

		.sidebar-navigation__icon {
			color: $color-primary;
		}
	}

	// Active border
	&:before {
		content: '';
		height: 100%;
		width: 5px;
		position: absolute;
		background-color: transparent;
		top: 0;
		left: 0;
		margin: auto;
		transform: translate3d(-5px, 0, 0);
		transition: background $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
	}

	&.js-is-active {
		&:before {
			transform: translate3d(0, 0, 0);
			background-color: $color-primary;
		}
	}

	@include screen($screen-sm-min, $screen-md-max) {
		@include menu-main-link-mobile();
	}
}

.js-active-sidebar {
	.sidebar-navigation__link {
		@include max-screen($screen-sm-min) {
			@include menu-main-link-mobile();
		}
	}
}

/* Links with children */
.has-sub-menu {
	.sidebar-navigation__link {
		&:after {
			content: '\e902';
			position: absolute;
			top: 50%;
			right: 0;
			width: 10px;
			height: auto;
			margin: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: $base-icon-family;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			font-size: 12px;
			color: $color-border;
			transform: translate3d(-5px, -50%, 0);
			transition: color $duration-quick $delay-none $ease-in-out;
		}

		&.js-is-active {
			&:after {
				color: $color-complement-sky;
			}
		}
	}
}

.sidebar-navigation__icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-right: $margin-small;
	text-align: center;
	color: $color-complement-sky;

	@include screen($screen-sm-min, $screen-md-max) {
		@include menu-main-icon-mobile();
	}

	.notification {
		position: absolute;
		left: -6px;
		top: -6px;

		@include screen($screen-sm-min, $screen-md-max) {
			@include menu-main-notification-mobile();
		}
	}
}

.js-active-sidebar {
	.sidebar-navigation__icon {
		@include max-screen($screen-sm-min) {
			@include menu-main-icon-mobile();
		}

		.notification {
			@include max-screen($screen-sm-min) {
				@include menu-main-notification-mobile();
			}
		}
	}
}

.sidebar-navigation__name {
	display: inline-block;
	vertical-align: middle;
	font-weight: $extrabold;
	line-height: 1;
}

.sidebar-navigation__desc {
	display: block;
	font-size: 11px;
	font-weight: 400;
	color: $color-base-complement;
	margin-top: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include screen($screen-sm-min, $screen-md-max) {
		@include menu-main-description-mobile();
	}
}

.js-active-sidebar {
	.sidebar-navigation__desc {
		@include max-screen($screen-sm-min) {
			@include menu-main-description-mobile();
		}
	}
}



/* SUB NAV */
.sub-navigation {
	padding: 0;
	list-style: none;
	background-color: #e4e8eb;

	&--first {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: $sidebar-width-mobile;
		width: $sub-navigation-width-mobile;
		height: 100%;
		background-color: $color-container-background;
		transform: translate3d(0, 0, 0);
		transition: opacity $duration-quick $delay-none $ease-in-out, visibility 0s $duration-fast;

		@include min-screen($screen-sm) {
			width: $sub-navigation-width-desktop
		}

		@include min-screen($screen-md-max) {
			left: $sidebar-width-desktop;
		}
	}
}

/* Display menu */
.js-is-active {
	.sub-navigation--first {
		opacity: 1;
		visibility: visible;
		transition: opacity $duration-quick $delay-none $ease-in-out;
	}
}

.sub-navigation__item {
	&:not(:first-child) {
		border-top: 1px solid $color-border;
	}
}

/* Sub menu level 2 */
.sub-navigation:not(.sub-navigation--first) {
	.sub-navigation__item {
		border-color: #bac1ce;

		&:first-child {
			border-top: 1px solid #bac1ce;
		}
	}

	.sub-navigation__link {
		padding-left: $padding-default + 10px;
	}
}

.sub-navigation--first > .sub-navigation__item:first-child > .sub-navigation__link {
	height: $sidebar-logo-height - 1; // - border
}

.sub-navigation__link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	height: $sidebar-item-height - 1; // - border
	padding: $padding-medium $padding-default;
	font-weight: $bold;
	line-height: 1;
	color: $color-base-secondary;
	transition: background $duration-quick $delay-none $ease-in-out,
				color $duration-quick $delay-none $ease-in-out;

	&:hover,
	&:focus,
	&.js-is-active {
		text-decoration: none;
		color: $color-base-secondary;

		@include min-screen($screen-sm-min) {
			color: $color-primary;
		}
	}
}

.sub-navigation__name {
	flex-basis: 100%;
	font-weight: $extrabold;
	line-height: 1;
}

.sub-navigation__desc {
	display: block;
	font-size: 11px;
	color: $color-base-complement;
	margin-top: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sub-navigation__item--has-children {
	> a {
		&:after {
			content: '\e906';
			position: absolute;
			top: 50%;
			right: 0;
			width: 10px;
			height: auto;
			margin: auto;
			font-family: "ml-icons";
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			font-size: 12px;
			color: $color-border;
			transform: translate3d(-15px, -50%, 0) rotate(0deg);
			transition: color $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
		}

		&:not(.collapsed) {
			&:after {
				transform: translate3d(-15px, -50%, 0) rotate(180deg);
			}
		}

		&:not(.collapsed),
		&:hover {
			color: $color-primary;

			&:after {
				color: $color-complement-sky;
			}
		}
	}
}



// Main menu items
.sidebar-navigation {
	> li {
		// Logo and search bar
		&:first-child {
			height: $sidebar-logo-height - 1; // - border
			text-align: center;
			position: relative;

			@include screen($screen-sm-min, $screen-md-max) {
				@include menu-main-item-mobile();
			}

			.logotype {
				display: inline-block;
				max-width: 75px;
				height: auto;
				padding: 0;

				img {
					display: block;
					width: 100%;
					height: auto;
					border: none;
				}
			}

			.navigation-search {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				text-align: right;

				@include min-screen($screen-sm-min) {
					display: none;
				}

				&.js-is-active {
					background-color: $color-light;

					form {
						background-color: $color-light;
						transition: background $duration-quick $delay-none $ease-in-out;
					}

					input {
						display: block;
					}
				}

				form {
					position: relative;
					height: 100%;
					background-color: transparent;
					transition: background $duration-quick $delay-none $ease-in-out;
				}

				input {
					display: none;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					border: none;
					border-radius: 0;
					height: 100%;
				}

				i {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					font-size: 20px;
				}
			}
		}

		// User item
		&:last-child {
			&.has-content {
				display: none;
				height: auto;

				@include min-screen($screen-md-max) {
					display: block;
				}

				span {
					display: block;
				}

				a {
					padding: 0;
					display: block;

					span {
						display: inline;
					}
				}
			}
		}

		// Custom user styles
		div.user {
			i,
			div {
				vertical-align: top;
			}

			span {
				@include screen($screen-sm-min, $screen-md-max) {
					@include menu-main-user-mobile();
				}
			}

			.user__wallet,
			.user__wallet a,
			.user__winnings,
			.user__winnings a {
				font-weight: 400;
				font-size: 11px;
				line-height: 17px;
				color: $color-base-complement;

				span {
					font-weight: bold;
				}
			}
		}

	}
}
