.sidebar-account {
	position: absolute;
	bottom: 0;
	padding: 0 $padding-default $padding-default;
	background: linear-gradient(rgba(255,255,255,0.5) , rgba(255,255,255,1));

	@include min-screen($screen-sm-min) {
		background: transparent;
	}

	@include screen($screen-sm-min, $screen-md-max) {
		padding: 0 0 $padding-default;
	}

	.btn {
		position: static;
		width: 100%;
		white-space: normal;

		&:not(:first-child) {
			margin-top: $margin-default;
		}

		@include screen($screen-sm-min, $screen-md-max) {
			color: $color-base-secondary;
			background-color: transparent;
			font-size: 10px;
			border: none;
			padding: 2px;
		}

		&-icon {
			padding: 9px 30px;
			text-align: center;

			@include screen($screen-sm-min, $screen-md-max) {
				padding: 0 2px;
			}

			i {
				display: none;
				position: relative;
				top: 0;
				margin-bottom: 2px;
				transform: translateY(0);

				@include screen($screen-sm-min, $screen-md-max) {
					display: block;
				}
			}
		}

		&-primary {
			i {
				font-size: 32px;
				color: $color_primary;
			}
		}
	}
}

&.js-is-small .sidebar-account {
	position: relative;
	top: 0;
	bottom: auto;
}

// Active
&.js-is-active > .sidebar-account {
	@include max-screen($screen-sm-min) {
		display: none;
	}
}
