.sidebar-navigation {
	list-style: none;
	padding: 0;
	overflow-y: auto;
	height: 100%;

	ul {
		list-style: none;
		padding: 0;
	}

	// Defaults menu item styles
	li {
		display: block;
		border-top: 1px solid $color-base-light-03;
		height: $sidebar-item-height;

		&:first-child {
			border: none;
		}

		i,
		div {
			display: inline-block;
			vertical-align: middle;
		}

		i {
			width: 30px;
			text-align: center;
			margin-right: $margin-small;
			color: $color-base-complement;
		}

		a {
			display: block;
			padding: $padding-medium $padding-medium 0 $padding-default;
			line-height: 1;
			text-align: left;
			font-size: 14px;
			font-weight: 600;
			color: $color-base-secondary;
			position: relative;
			height: 100%;
			transition: background $duration-quick $delay-none $ease-in-out, color $duration-quick $delay-none $ease-in-out;

			&:hover,
			&.js-is-active {
				text-decoration: none;
				color: $color-primary;

				i {
					color: $color-primary;
				}
			}

			&:focus {
				text-decoration: none;
			}

			div {
				span {
					&:last-of-type {
						display: block;
						font-size: 11px;
						line-height: 17px;
						font-weight: 400;
						color: $color-base-complement;
						margin-top: 5px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}

		// Navigation item with sub menu
		&.has-sub-menu {
			> a {
				&:after {
					font-family: "ml-icons";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-style: normal;
					font-variant: normal;
					font-weight: normal;
					content: '\e908';
					width: 10px;
					font-size: 12px;
					height: auto;
					position: absolute;
					color: $color-base-light-03;
					top: 50%;
					right: 0;
					margin: auto;
					transform: translate3d(-5px, -50%, 0);
					transition: color $duration-quick $delay-none $ease-in-out;
				}

				&:hover,
				&.js-is-active {
					&:after {
						color: $color-base-light-01;
					}
				}
			}
		}

		// Navigation item with content instead of link
		&.has-content {
			padding: $padding-medium $padding-medium 0 $padding-default;
		}

		&.js-is-active {
			> ul {
				opacity: 1;
				visibility: visible;
				transition: opacity $duration-quick $delay-none $ease-in-out;
			}
		}
	}

	// Sub navigation
	> li {
		> ul {
			visibility: hidden;
			position: absolute;
			top: 0;
			height: 100%;
			padding-top: $sidebar-logo-height - 1;
			transform: translate3d(0, 0, 0);
			background-color: $color-base-light-02;
			overflow-y: auto;
			opacity: 0;
			transition: opacity $duration-quick $delay-none $ease-in-out, visibility 0s $duration-fast;
			width: $sub-navigation-width-mobile;
			left: $sidebar-width-desktop;

			@include min-screen($screen-sm-min) {
				width: $sub-navigation-width-desktop;
			}

			@include screen($screen-sm-min, $screen-md-max) {
				left: $sidebar-width-mobile;
			}

			#sidebar.js-is-active & {
				@include max-screen($screen-sm-min) {
					left: $sidebar-width-mobile;
				}
			}

			// Alternative sub navigation
			&.sub-navigation-collapsed {
				padding-top: 0;
			}

			// Third depth
			> li {
				height: auto;

				.navigation-title {
					display: block;
					margin-top: 10px;
					height: 43px;
					font-size: 18px;
					line-height: 100%;
					font-weight: 600;
				}

				&:not(:first-child) {
					.navigation-title {
						height: 37px;
					}
					// height: $sidebar-logo-height - 1; // - border
				}
				> ul {
					height: auto;
					margin: 0 -15px 0 -20px;

					> li {
						&:first-child {
							border-top: 1px solid $color-base-light-03;
						}
					}
				}
			}
		}
	}

	// First level menu items
	> li {
		// Logo and search bar
		&:first-child {
			height: $sidebar-logo-height - 1; // - border
			text-align: center;
			position: relative;

			img {
				display: inline-block;
				max-width: 75px;
				height: auto;
				width: 100%;
				border: none;
			}

			.navigation-search {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				text-align: right;

				@include min-screen($screen-sm-min) {
					display: none;
				}

				#sidebar.js-is-active & {
					@include max-screen($screen-sm-min) {
						display: none;
					}
				}

				&.js-is-active {
					background-color: $color-light;

					form {
						background-color: $color-light;
						transition: background $duration-quick $delay-none $ease-in-out;
					}

					input {
						display: block;
					}
				}

				form {
					position: relative;
					height: 100%;
					background-color: transparent;
					transition: background $duration-quick $delay-none $ease-in-out;
				}

				input {
					display: none;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					border: none;
					border-radius: 0;
					height: 100%;
				}

				i {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					font-size: 20px;
				}
			}
		}

		// User item
		&:last-child {
			&.has-content {
				height: auto;
			}
		}

		> a {
			@include screen($screen-sm-min, $screen-md-max) {
				padding: $padding-small 0 0;
				font-size: 10px;
				line-height: 14px;
				text-align: center;
			}

			#sidebar.js-is-active & {
				@include max-screen($screen-sm-min) {
					padding: $padding-small 0 0;
					font-size: 10px;
					line-height: 14px;
					text-align: center;
				}
			}

			// Active border
			&:before {
				content: '';
				height: 100%;
				width: 5px;
				position: absolute;
				background-color: transparent;
				top: 0;
				left: 0;
				margin: auto;
				transform: translate3d(-5px, 0, 0);
				transition: background $duration-quick $delay-none $ease-in-out, transform $duration-quick $delay-none $ease-in-out;
			}

			&.js-is-active {
				&:before {
					transform: translate3d(0, 0, 0);
					background-color: $color-primary;
				}
			}

			div {
				span {
					&:last-of-type {
						@include screen($screen-sm-min, $screen-md-max) {
							display: none;
						}

						#sidebar.js-is-active & {
							@include max-screen($screen-sm-min) {
								display: none;
							}
						}
					}
				}
			}

			i {
				@include screen($screen-sm-min, $screen-md-max) {
					width: 100%;
					margin-right: 0;
					display: block;
					text-align: center;
				}

				#sidebar.js-is-active & {
					@include max-screen($screen-sm-min) {
						width: 100%;
						margin-right: 0;
						display: block;
						text-align: center;
					}
				}
			}
		}
	}
}
