.sidebar-account {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 $padding-default $padding-default;
	box-sizing: border-box;

	@include screen($screen-sm-min, $screen-md-max) {
		padding: 0 0 $padding-default;
	}

	#sidebar.js-is-active & {
		@include max-screen($screen-sm-min) {
			padding: 0 0 $padding-default;
		}
	}

	.btn {
		width: 100%;
		margin-top: $margin-default;
		font-size: 10px;
		position: relative;
		white-space: normal;

		@include screen($screen-sm-min, $screen-md-max) {
			color: $color-base-secondary;
			background-color: transparent;
			border: none;
			padding: 2px;
		}

		#sidebar.js-is-active & {
			@include max-screen($screen-sm-min) {
				color: $color-base-secondary;
				background-color: transparent;
				border: none;
				padding: 2px;
			}
		}

		&.btn-icon {
			@include screen($screen-sm-min, $screen-md-max) {
				padding-left: 2px;
			}

			#sidebar.js-is-active & {
				@include max-screen($screen-sm-min) {
					padding-left: 12px;
				}
			}

			&:before {
				content: none;
			}
		}
	}
}
