<ul class="sub-navigation-alternative">
	<ul>
		<li class="navigation-title">
			Bingo
		</li>
		<li>
			<a>
				Spela Bingo
				<span>Upptäck våra bingospel</span>
			</a>
		</li>
		<li>
			<a>
				Bingoskolan
				<span>Lär dig mer om bingo</span>
			</a>
		</li>
		<li>
			<a>
				Bingoschema
				<span>Tider för Bingospelen</span>
			</a>
		</li>
	</ul>
	<ul>
		<li class="navigation-title">
			Lotter
		</li>
		<li>
			<a>
				Skrapa lotter
				<span>Skrapa online</span>
			</a>
		</li>
		<li>
			<a>
				Prenumerera
				<span>Starta en lott-prenumeration</span>
			</a>
		</li>
		<li>
			<a>
				Övrig info
				<span>Lär dig mer om våra lotter</span>
			</a>
		</li>
	</ul>
</ul>
