// Bingo page
//$color-primary 003E52
//
// $apercu: 'Apercu Pro'; /* Bold + italic, Regular + italic, Light + italic weights*/
// $zingRust: 'Zing Rust Demo Base'; /* Only normal weight */
// $zingRustScript: 'Zing Rust Demo SB Base Script';

//$base-font-family: 'Proxima Nova';


/* Main styles */
.position-absolute{
  position: absolute;
}
.top-0{
  top:0;
}
.position-relative{
  position: relative;
}
.p-0{
  padding: 0 !important;
}
.brd-rad-16{
  border-radius: 16px;
}
.bg-shadow{
  box-shadow: 0 8px 24px rgba(0,0,0,0.2)
}
.bg-white{
  background-color: #fff;;
}

.justify-end{
  justify-content: end;
}
.direction-row{
  flex-direction: row !important;
}
.direction-column{
  flex-direction: column;
}

.no-wrap{
  flex-wrap: nowrap !important;
}

.gap-20{
  gap: 0 20px;
}

.m-equal{
  margin: 0 -20px !important;
}

.page-bingo{
  
  section.top-section{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    backdrop-filter: blur(34px);

    @media screen and(max-width:840px) {
      padding: 0;
    }

    &.color{
      &-white{
        h3,p{
          color: #ffffff;
        }
      }
      &-primary-blue{
        h3,p{
          color: #003E52;
        }
        &-75{
          h3,p{
            color: #366474;
          }
        }
        &-50{
          h3,p{
            color: #6B8B96;
          }
        }
        &-20{
          h3,p{
            color: #ABBABE;
          }
        }
      }
    }
     
    &.section-bg{
      &-none{
        background-color: transparent;
      }
      &-white{
        background-color: #FFFFFF;
      }

      &-primary-blue{
        background-color: #003E52;
        &-75{
          background-color: #366474;
        }
        &-50{
          background-color: #6B8B96;
        }
        &-20{
          background-color: #ABBABE;
        }
      }

    }

    .bg{
      &-none{
        background-color: transparent;
      }
      &-white{
        background-color: #FFFFFF;
      }

      &-primary-blue{
        background-color: #003E52;
        &-75{
          background-color: #366474;
        }
        &-50{
          background-color: #6B8B96;
        }
        &-20{
          background-color: #ABBABE;
        }
      }

    }
    
    .text-block-wrapper{
      padding: 25px 30px;
 
      @media screen and (max-width:840px){
        text-align: center;
        background-color:transparent;
        max-width: 520px;
        margin: 0 auto;
      }

      @media screen and (max-width:426px){
        padding: 40px 32px;
        text-align: left;
      }

      h3{
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        @media screen and (max-width:840px){
          font-size: 24px;
          line-height: 32px;
        }
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
          
      }
      .text-show{
        text-decoration: underline;
        cursor: pointer;
        @media (min-width:840px){
            display: none;
        }
      }
    }

    .table-block{
      &:first-child .list{
        @media screen and (max-width:426px){
          margin-top: 32px;
        }
      }
    }
    .list{
      padding: 18px 12px 15px;
      @media screen and (max-width:840px){
        margin-top: 40px;
        margin-bottom: 40px;
      }
      @media screen and (max-width:426px){
        margin: 32px;
        margin-top: 0;
      }
      h4{
        line-height: 20px;
      }
      &-wrapper{
        margin-top: 18px;
      }
      &-title{
        height: 20px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
      
        span{
          font: 700 10px/12px $base-font-family;
          color: #6B8B96;
          text-transform: uppercase;
          &:first-child{
            width: 108px;
          }
          &:nth-child(2){
            flex:1 1;
            margin-left: 10px;
          }
        }
      }
      ul{
        list-style-type: none;
      }
      &-item{
        display: flex;
        justify-content: space-between;
        padding: 6px 10px;
        background-color: #E2EFF7;
        border-radius: 4px;
        font:700 14px/20px $apercu;
        margin-bottom: 4px;
        &:last-child{
          margin-bottom: 0;
        }
        .spelare,
        .spelnamn{
          display:inline-block;
          width:108px;
          white-space: nowrap;
          overflow:hidden !important;
          text-overflow: ellipsis;
        }
        .text-regular{
          font-weight: 400;
          flex: 1 1;
          margin-left: 10px;
        }
      }
    }
  }

  section.bingo-room{
    padding: 40px 0;
    @media (max-width:1194px){
      padding: 40px 220px;
    }
    @media (max-width:992px){
      padding: 40px;
      .row.equal-height>*{
        margin-bottom: 35px;
      }
      .row.equal-height>*:first-child{
        padding-right: 0;
      }
      .row.equal-height>*:first-child{
        padding-right: 0;
      }
      .row.equal-height>*:last-child{
        padding-left: 0;
        margin-bottom: 0;
      }
      .row.equal-height>*:first-child{
        padding-right: 20px;

      }
      .row.equal-height>*:last-child{
        padding-left: 20px;

      }
    }
    
    @media (min-width:768px){
      .row.equal-height>*{
        margin-bottom: 0px;
      }
      .row.equal-height>*:first-child{
        padding-right: 20px;

      }
      .row.equal-height>*:last-child{
        padding-left: 20px;

      }
      
      
    }
    .room-header{
      text-align: center;
      font: 700 16px/20px $apercu;
      margin-bottom: 11px;
      flex:1 1;
      color: #ffffff;
      @media (min-width: 840px){
        display: none;
      }
      .room-title{
        text-transform: uppercase;
        font-weight: 700;
      }
      .room-desc{
        font-weight: 400;
        opacity: 0.75;
      }
    }

    &.section-bg{
      &-none{
        background-color: transparent;
      }
      &-white{
        background-color: #FFFFFF;
      }

      &-primary-blue{
        background-color: #003E52;
        &-75{
          background-color: #366474;
        }
        &-50{
          background-color: #6B8B96;
        }
        &-20{
          background-color: #ABBABE;
        }
      }

    }

    .bingo-room{
      &__item{
        background-repeat: no-repeat;
        background-size: cover;

        .host{
          display: flex;
          border-radius: 28px 0px 0px 28px;
          right:0;
          top: 24px;
          padding: 9px 0 9px 10px;
          @media(max-width:1194px){
            padding: 5px 0;
          }
          &-av{
            height: 38px;
            width: 38px;
            @media(max-width:1194px){
              position: absolute;
              top:0px;
            }
          }
          &-text{
            margin-left: 11px;
            min-width: 109px;
            @media(max-width:1194px){
              margin-left: 50px;
            }
          }
          &-title{
            font: 700 14px/16px $apercu;
            color: $color-primary;
            opacity: 0.5;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            @media(max-width:1194px){
              font-size: 12px;
            }
          }
          &-name{
            font: 700 16px/16px $apercu;
            color: $color-primary;
            margin-top: 4px;
            @media(max-width:1194px){
              font-size: 12px;
              margin-top: 0;
              line-height: 12px;
            }
          }
        } 
      }
      &__logo{
        max-width: 150px;
        @media(min-width:1194px){
          text-align: center;
          max-width: unset;
        }
        @media(max-width:1194px){
          margin-top: 20px;
        }
      }
      &__detailes{
        margin: 25px 16px 15px;

        position: relative;

        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 16px;
        @media(max-width:1194px){
          margin: 32px 0 0;
          text-align: center;
        }
        &:before{
          content:url('../img/tooltip-arrow.png');
          position: absolute;
          top:-15px;
          left:calc(50% - 32px);
          @media (max-width: 1194px){
            content: none;
          }
        }
        .__title{
          font: 700 16px/16px $base-font-family;
          color: #6B8B96;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          @media(max-width:1194px){
            font-size: 14px;
            line-height: 14px;
          }
        }
        .__name{
          font: 400 32px/32px $zingRust;
          color:$color-primary;
          margin-top: 10px;
          margin-bottom: 25px;
          @media(max-width:1194px){
            margin-bottom: 0;
          }
        }

        .__price-wrapper{
          @media(max-width:1194px){
            border: solid 1px #C4CED3;
            border-radius: 8px;
            padding: 10px 0;
            margin: 16px 0 5px;
          }
          &>*:first-child{
            @media(max-width:1194px){
              border-right: solid 1px rgba(138, 158, 167, 0.5);
            }
          }
        }
        .__total, .__price{
          font: 700 24px/24px $apercu;
          color: #47A1B6;
          margin-top: 7px;
          @media(max-width:1194px){
            font-size: 18px;
            line-height: 14px;
            margin-top: 10px;
          }
          
        }
        .__total.miljonchans{
          @media(max-width:1194px){
            
            background: linear-gradient(118.33deg, #F2BD35 27.18%, #F5D86D 51.64%, #F5A76D 83.76%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      
        .__price{
          color: #6CB490;
        }
        .cta{
          display: flex;
          flex-direction: column;
          width: fit-content;
          @media(max-width:1194px){
            width: 100%;
          }

          .icons-wrapper{
            display: flex;
            justify-content: end;
            @media(max-width:1194px){
              justify-content: center;
              padding: 16px;
            }
          }
          .btn{
            padding-top: 19px;
            padding-bottom: 19px;
            font: 700 20px/20px $apercu;
          }
          .__users, .__time{
            border: 2px solid #ABBABE;
            border-radius: 33px;
            padding: 16px 20px;
            margin-bottom: 16px;
            @media(max-width:1194px){
              border: none;
              margin: 0;
              padding: 10px 0;
            }
            p{
              font: 700 20px/20px $apercu;
              color: $color-primary;
              display: flex;
              margin-bottom: 0;
              align-items: center;
              justify-content: space-between;
              @media(max-width:1194px){
                justify-content: center;
                color: rgba(138, 158, 167, 0.5);
                &::before{
                  margin-right: 12px;
                  opacity: 0.5;
                }
              }
            }
          }
          .__users{
            min-width: 100px;
            @media(max-width:1194px){
              min-width: 50%;
              flex:1 1;
              border-right: solid 1px rgba(138, 158, 167, 0.5);
              border-radius: unset;
            }
            p:before {
              content: "";
              background-image:url('../img/icons/icon-players.png');
              //margin-right: 15px;
              width: 20px;
              height: 24px;
              background-size: 20px 24px;
            }
          }
          .__time{
            margin-left: 16px;
            min-width: 122px;   
            @media(max-width:1194px){
              min-width: 50%;
              flex:1 1;
              margin-left: 0;
            }
            p:before {
              content:"";
              background-image: url('../img/icons/icon-clock.png');
              //margin-right: 15px;
              width: 24px;
              height: 24px;
              background-size: 24px 24px;
            }
          }
        }
      }
    }
  }


section.expanded-menu{
@media (max-width:992px){
  .container{
    padding: 0;
  }
}
  @mixin tabs($bg-color,$tab-round,$li-after){
    background-color: $bg-color;
    ul.tabs{
      li{
        &.active{
          a{
            &:after{
              background-color: $tab-round;
            }
            &:before{
              background-color: $tab-round;
            }
          }
          &::after{
            background-color: $li-after
          }
        }
      }
    }
  }
  @mixin tabs-font($font-color, $active-font-color){
    
      li{
        a{
          span{
            color: $font-color;
          }
        }  
      }
      li.active{
        a{
          span{
            color: $active-font-color;
          }
        }  
      }
    
  }

  &.section-bg{
    &-white{
      @include tabs( #FFFFFF,transparent, transparent);
    }

    &-primary-blue{
      @include tabs( #003E52,#003E52,#FFFFFF);
      &-75{
        @include tabs( #366474,#366474,#FFFFFF);
      }
      &-50{
        @include tabs( #6B8B96,#6B8B96,#FFFFFF);
      }
      &-20{
        @include tabs( #ABBABE,#6B8B96,#FFFFFF);
      }
    }
    

  }
  @media (max-width: 992px) {
    background-color:#F2F4F5 !important;
    .mobile-bg{
      width: 100%;
      padding: 0;
    }
  }
  .font-color{
    &-white{
      @include tabs-font(#FFFFFF,#ABBABE);
    }

    &-primary-blue{
      @include tabs-font(#003E52,#366474);
      &-75{
        @include tabs-font(#366474,#003E52);
      }
      &-50{
        @include tabs-font(#6B8B96,#366474);
      }
      &-20{
        @include tabs-font(#ABBABE,#6B8B96);
      }
    }
  }

  padding-top: 16px;
  padding-bottom: 33px;

  .mobile{
    &__menu{
      
      background-color: #fff;
      position: fixed;
      left:0;
      top:0;
      width: 100%;
      z-index: 1015;
      padding: 60px  44px 22px;
      display: none;
      justify-content: space-between;
      align-items:center;
      filter:drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.1));
      &.active{
        
        @media(max-width:992px){
          display: flex;
        }
      }
      &-title{
        font: 700 16px/38px $base-font-family;
        letter-spacing: 0.08em;;
        text-transform: uppercase;
      }
    }
    &__toggler{
      background: no-repeat url('../img/icons/burger-menu-icon.png');
      background-size: 28px 48px;
      width: 28px;
      height: 48px;
    }
    &__close{
      background: no-repeat url('../img/icons/close-icon.png');
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
    &__tabs{
      @media (max-width:992px){
        display: none !important;
        margin: 0;
        &.active{
          display: block !important;
          
          position: fixed;
          top:130px;
          left: 0;
          width: 100%;
          background-color:#fff;
          z-index: 1010;
          padding: 8px 44px 24px;
          overflow: hidden;
          border-top: 1px solid rgba(138, 158, 167, 0.5);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          li{
            box-shadow:unset;
              background-color: #E2EFF7;
              border-radius: 16px;
              margin: 16px 0;
              &:last-child{
                margin-bottom: 0;
              }
            span{
            
              font: 700 16px/38px $base-font-family;
              letter-spacing: 0.08em;
              justify-content: center;
              color: rgba(22, 61, 80, 0.75);
              &:after{
                content: none
              }
              
            }
            &.active{
                span{
                  opacity: 1;
                  color: rgba(22, 61, 80, 0.75);
                  &:after{
                  content:none;
                }
              }
              }
            
          }
        }
      }
    }
  }
  &.closed{
    padding-bottom: 0;
    .schema-tabs__panels-container{
      display: none;
    }
  }
  .schema-tabs__panel{
    @media screen and (max-width:992px) {
      display: none;
      &.active{
        display: block;
      }
    }
  }
  .mobile-bg{
    @media (max-width:992px){
      padding: 17px 23px;
    }
    .bingomeny{
      font: 700 17px/16px $base-font-family;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 16px;
      color: #fff;
      opacity: 0.75;
      letter-spacing: 0.08em;
      @media (max-width:550px){
        opacity: 1;
      }
    }
    &-white{
      background-color:#FFFFFF;
    }
    &-primary-blue{
      background-color: #003E52;
      &-75{
        background-color: #366474;
      }
      &-50{
        background-color: #6B8B96;
      }
      &-20{
        background-color: #ABBABE;
      }
    }
  }
  ul.tabs{

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 0 16px;
    text-decoration: none;
    margin-bottom: 16px;
    padding: 0 16px;
    @media (max-width: 1194px){
      padding: 0;
    }
    @media (max-width:992px){
      display: block;
      margin-bottom: 0;
    }
    
    li{
      background-color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 38px;
      text-transform: uppercase;
      padding: 0 24px;
      height: 56px;
      align-items: center;
      letter-spacing: 0.04em;
      flex:1 1;
      border-radius: 16px;
      cursor: pointer;
      position: relative;
      z-index: 3;
      @media (max-width:1194px){
        font-size: 14px;
        line-height: 16px;
        padding: 0 17px;
      }
      @media (max-width:992px){
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 0.08em;
        padding: 20px 24px;
        margin-bottom: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 16px;      
      }
      a{
        
        text-decoration: none;
        span{
          display: flex;
          justify-content: space-between;
          height: 100%;
          align-items: center;
          &:after{
            content: "";
            background: url('../img/icons/chevron-tab-down.png');
            width: 16px;
            height: 8px;
            background-size: 16px 8px;
            @media (max-width:768px){
              background: url('../img/icons/chevron-tab-right.png');
              width: 8px;
              height: 16px;
              background-size: 8px 16px;
            }
          }
        }
      }
      &.active{
        span{
          opacity: 0.75;
          &::after{
            content: "";
            background: url('../img/icons/chevron-tab-up.png');
            width: 16px;
            height: 8px;
            background-size: 16px 8px;
          }
        }
        border-radius:16px 16px 0 0;
        box-shadow: unset;
        @media (max-width:992px){
          border-radius: 16px;
        }
        a{
          opacity: 1;
        }

        &::after{
          content:'';
          width: calc(100% + 32px);
          height: 32px;
          left:-5px;
          position: absolute;
          z-index: 1;
          bottom:-32px;
          background-color: #fff;
          @media (max-width:992px){
            content:none
          }
        }
        &:first-child{
          &:before{
            content:none;
          }
          &:after{
            left:0;
            width: calc(100% + 8px);
            @media (max-width:992px){
              content:none
            }
          }
          a:before{
            content:none;
          }
          
        }
        &:last-child{
          &::after{
            width: calc(100% + 5px);
            @media (max-width:992px){
              content:none
            }
          }
          a:after{
            content:none;
          }
        }
        a{
          &:after{
            content: '';
            width: 32px;
            height: 32px;

            position: absolute;
            right: -32px;
            bottom: -16px;
            z-index: 2;
            border-radius: 8px;
            @media (max-width:992px){
              content:none
            }
          }
          &::before{
            content:"";
            width: 32px;
            height: 32px;

            position: absolute;
            left: -32px;
            bottom: -16px;
            z-index: 2;
            border-radius: 8px;
            -webkit-clip-path: polygon(80% 0%, 80% 80%, 0% 90%, 0% 100%, 100% 100%, 100% 0%);
            clip-path: polygon(80% 0%, 80% 80%, 0% 90%, 0% 100%, 100% 100%, 100% 0%);
            @media (max-width:992px){
              content:none
            }
          }
        }
      }

    }
  }
  .schema-tabs__panels-container{
    background-color: #fff;
    padding: 35px 33px 0 31px;
    border-radius: 16px;
    margin: 0;

    @media (min-width:1194px){
      margin: 0 16px;
    }
    @media (max-width:992px){
      padding: 0;
      background-color:transparent;
      border-radius:none;
    }

    #panel__bingoschema{
      &.active{
        margin-bottom: 47px;
      }
      
    }

    .rooms{
      margin-bottom: 28px;

      .js-bingoschema-tabs__btn{
        display: inline-block;
        font: 400 24px/32px $apercu;
        letter-spacing: 0.02em;
        color: #366474;
        min-width: 212px;
        text-align: center;
        &.active{
          font-weight: 900;
          text-decoration: none;
        }
      }

      @media (max-width:992px) {
        position: fixed;
        top:130px;
        left:0;
        z-index: 1000;
        width: 100%;
        background-color:#fff;
        display: flex;
        justify-content: space-around;
        border-top: solid 1px rgba(138, 158, 167, 0.5);
        padding: 10px 0;
        filter:drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.1));
        .js-bingoschema-tabs__btn{
           color: $color-primary;
           font: 400 16px/38px "Adamina";
           flex:1 1;
           &:first-child{
            border-right: 1px solid #CBD4D8;
            @media (max-width:550px){
              border-right: none;
            }
           }
           &.active{
            font-weight: 700;
            font-family: $base-font-family;
            }
        }
       
        
        
      }
    }
    .room__item{
      .bingoroom-tabs {
        background-color: #fff;
        ul{
          margin-bottom: 0;
          gap:0 20px;
          padding: 0;
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          text-decoration: none;

        }
       
        
        li.tab{

          padding: 0;
          box-shadow: unset;
          background-color: #fff;
          font: 400 20px/20px $apercu;
          color: #163D50;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: all .1s ease;
          span{
            font-weight: 700;
          }
          a{
            display: flex;
            text-decoration: none;
            align-items: center;
              &:before{
              content: url('../img/icons/icon-clock-solid.png');
              margin-right: 15px;
              width: 20px;
              height: 20px;
            }
          }
          
          &.active{
            border: 2px solid #8a9ea7;
            border-bottom: none;
            border-radius: 16px 16px 0 0;
            position: relative;
            z-index: 2;
            span{

            
              &:before, &:after{
                position: absolute;
                bottom: -1.5px;
                width: 16px;
                height: 16px;
                content: " ";
                border: 2px solid #8a9ea7;
              }
              &:before{
                border-bottom-right-radius: 16px;
                border-width: 0 2px 2px 0;
                box-shadow: 8px 2px 0 #fff, 0px 2px 0 #fff;
                left: -16px;
              }
              &:after{
                border-bottom-left-radius: 16px;
                border-width: 0 0 2px 2px;
                box-shadow: -4px 5px 0 #FFF, 0px 2px 0 #FFF;
                right: -16px;
              }
            }
            &:after{
              z-index: 2;
              content:"";
              width: 100%;
              height: 24px;
              bottom:-13px;
              position: absolute;
              background-color: #fff;
            }
            &:last-child:after{
              border-right: solid 2px #8a9ea7;
              left: 1.5px;
            }
            &:first-child:after{
              border-left:solid 2px #8a9ea7;
              left: -2px;
            }
          }
        }
      }

      .tab_mobile{
        justify-content: center;
        align-items:center;
        background: #E2EFF7;
        border-bottom: 1px solid rgba(22, 61, 80, 0.2);
        border-radius: 24px;
        margin-bottom: 24px;
        .read-more{
          font: 400 16px/38px "Adamina";
          letter-spacing: 0.04em;
          text-decoration: underline;
          background-color: #fff;
          width: 100%;
          border-radius:0 0 24px 24px;
          text-align: center;
          padding: 9px 0;
        }
        &.active{
          border-radius:24px 24px 0 0;
          margin-bottom: 0;
          .read-more{
            display: none;
          }
        }
        @media (max-width:992px) {
          display: flex;
          flex-direction: column;
        }
        a{
          display: flex;
          text-decoration: none;
          align-items: center;
          font:700 16px/32px $base-font-family;
          color: #163D50;
          margin: 9px 0;
          &:before{
            content: url(../img/icons/icon-clock-solid.png);
            margin-right: 15px;
            width: 20px;
            height: 20px;
            opacity: 0.75;
          }
        }
      }

      &.room__item-mobile{
        @media (max-width:992px){
          display: none;
          &.active{
            display: block;
          }
        }

      }
    }
 
    .bingoroom-tabs__{
      border: 2px solid #8a9ea7;
      border-radius: 16px;
      padding: 34px 32px;
      margin: 0;
      margin-bottom: 24px;

      @media (max-width:992px){
        //padding: 0;
        border: none;
        border-radius: 0 0 24px 24px;
        background-color: #fff;
        padding: 12px 0 20px;
      }

      @media (max-width:550px){
        overflow-x: scroll;
      }

      &t-head{
        font: 700 16px/38px $base-font-family;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #163D50;
        margin-bottom: 8px;
        padding: 0 26px;
        opacity: 0.75;

        @media (max-width:992px){
          border-bottom: 1px solid #CBD6DC;
          padding: 0 36px;
        }

        @media (max-width:550px){
          min-width: 590px;
          padding: 0 32px;
        }
      }
      &t-data{
        font: 400 20px/20px $apercu;
        padding: 22px 26px;
        background-color: #E2EFF7;
        border-radius: 8px;
        margin-bottom: 8px;
        .font-bold{
          font-weight: 700;
        }
        .text-dotted{
          display:inline-block;
          width:108px;
          white-space: nowrap;
          overflow:hidden !important;
          text-overflow: ellipsis;
        }
        @media (max-width:992px){
          background-color:transparent;
          margin: 0 16px;
          border-bottom: 1px solid #CBD6DC;
          padding: 10px;
          font-size: 16px;
          border-radius:unset;
        }
        @media (max-width:550px){
          min-width: 550px;
        }
      }
    }

    .chattschema{

      &__header{
        text-align: center;
        font: 700 24px/20px $apercu;
        margin-bottom: 16px;
        @media (max-width:992px){
          margin: 16px;
        }
      }
      &__items{
        display: flex;
        justify-content: space-between;
        gap: 16px 32px;
        margin-bottom:82px;

        @media (max-width:992px){
          flex-wrap: wrap;
        }
      }
      &__items-col{
        display: flex;
        justify-content: space-between;
        gap: 16px 32px;
        padding: 0;       
        flex-direction: column;

      }
     
      &__item{
        height: 235px; 
        border: 1px solid rgba(22, 61, 80, 0.5);
        border-radius: 16px;
        padding: 0;
        @media (max-width:992px){
          margin: 0 40px;
          height: 160px;
        }
        @media (max-width:768px){
          height: 235px;
        }
        &-header{
        border-radius: 16px 16px 0 0;
        display: flex;
        justify-content: space-between;
        background-color: #E2EFF7;
        font: 700 20px/20px $apercu;
        color: #163D50;
        display: flex;
        justify-content: space-between;
        padding: 22px 20px; 
        }
        &-text{
          font: 400 16px/24px $apercu;
          padding: 20px;
        }
      }
    }

    .chattspel{
      hr.hr-light{
        height: 1px;
        background-color: #D6DDE0;
        margin-top: 16px;
        margin-bottom: 0;
      }
      .card-layout{
        &.active{
          margin-top: 24px;
        }
        
      }
      .rooms{
        margin-bottom: 0;
      }

      &-title{
        font: 700 32px/20px $apercu;
        color: #163D50;
        text-align: center;
        margin-top: 25px;
        @media (max-width:992px){
          font-size: 20px;
          line-height: 38px;
        }
       
      }
      &-text{
        text-align: center;
        max-width: 484px;
        margin: 20px auto 40px;
        font: 400 16px/24px $apercu;
        color: #163D50;
        @media (max-width:992px){
          max-width: 300px;
        }
        @media (max-width:550px){
          margin: 8px 46px 24px;
          
        }
      }
      
      .rooms .js-bingoschema-chattspel-tabs__btn{
        display: inline-block;
        font: 400 24px/32px $apercu;
        letter-spacing: 0.02em;
        color: #366474;
        margin-right: 48px;
        text-align: left;
        &.active{
          font-weight: 900;
          text-decoration: none;
        }

        @media (max-width:992px){
          color: $color-primary;
           font: 400 16px/38px "Adamina";
           flex:1 1;
           margin-right: 0;
           text-align: center;
           &:first-child{
            border-right: 1px solid #CBD4D8;
            @media (max-width:550px){
              border-right: none;
              
            }
           }
           &.active{
            font-weight: 700;
            font-family: $base-font-family;
            }
        }
        
      }
      .room__items{
        &.active{
          margin-bottom: 30px;
        }
        
        &-row{
          display: flex;
          justify-content: space-between;
          gap: 16px 16px;
          margin-bottom: 16px;

          &:last-child{
            margin-bottom: 0;
          }

          @media (max-width:992px){
            flex-wrap: wrap;
          }
        } 
        &-item{
          padding: 22px 16px;
          border: 1px solid rgba(22, 61, 80, 0.2);
          border-radius: 16px;
          height: 272px;
          color: #163D50;
          @media (max-width:992px){
            background-color: #fff;
            height: 160px;
            margin: 0 40px;
          }
          @media (max-width:550px){
            height: 240px;
            margin: 0;
          }
          &-header{
            font: 700 20px/20px $apercu;
            margin-bottom: 21px;
          }
          
          &-text{
            font: 400 16px/24px $apercu;
            
          }
        }
      }

      .text-layout{
        &-wrapper{
          padding: 65px 104px 40px 22px;
          @media (max-width:992px){
            padding: 0 78px;
          }
        }
        &__item{
          margin-bottom: 40px;
          @media (max-width:992px){
            margin-bottom: 24px;
          }

          &-header{
            font: 700 32px/20px $apercu;
            margin-bottom: 20px;
            @media (max-width:992px){
              font: 700 20px/28px $apercu;
              margin-bottom: 17px;
            }
          }
          &-text{
            font: 400 20px/28px $apercu;
            @media (max-width:992px){
              font: 400 16px/24px $apercu;
              
            }
          }
        }
      }
    }

    .jackpottar{
      &.active{
        padding-bottom: 130px;
      }

      &__wrapper{
        display: flex;
        justify-content: space-between;
        gap: 0 24px;
        @media (max-width:992px) {
          flex-wrap: wrap;
          margin: 0 43px;
          border: none;
        }
        @media (max-width:550px) {

          margin: 0 16px;

        }
      }

      &__item{

        @media (max-width:992px) {
          margin: 0;
          padding: 0;
        }
        &-wrapper{
          border: 2px solid rgba(22, 61, 80, 0.2);
          border-radius: 16px;
          padding: 22px 13px 15px;
          @media (max-width:992px) {
            margin: 16px 0;
            background-color: #fff;
            border: none;
            border-radius:24px;
            width: 100%;
            &:first-child{
              margin-top: 32px;
            }
            &:last-child{
              margin-bottom: 32px;
            }
          }
          @media (max-width:550px) {
            
          }
        }
        &-table{
          display: flex;
          justify-content: space-between;
          gap: 0 16px;
          @media (max-width:992px) {
            flex-wrap: wrap;
            overflow-x: scroll;
            >*:last-child{
              .bingoroom-tabs__t-head{
                display: none;
              }
              .bingoroom-tabs__t-data:last-child{
                margin-bottom: 18px;
              }
            }
            
          }
        }
        &-title{
          font: 700  24px/20px $apercu;
          margin-bottom: 30px;
          margin-top: 0;
          @media (max-width:992px) {
            font: 700 16px/38px $base-font-family;
            background-color:#E2EFF7;
            padding: 6px 0;
            border-radius: 24px 24px 0px 0px;
            margin-bottom: 0;
          }
        }

      
        .bingoroom-tabs__t-head{
          opacity: 0.5;
          font: 700 10px/12px $apercu;
          padding: 0 10px;
          @media (max-width:992px) {
            background: transparent;
            padding:  12px 30px 10px;
            margin: 0;
            font: 700 14px/20px $base-font-family;

            color: rgba(22, 61, 80, 0.5);
            opacity: 1;
            
          }
        }
        .bingoroom-tabs__t-data{
          font: 400 14px/20px $apercu;
          padding: 10px;
          border-radius: 4px;
          background: #E2EFF7;
          &:last-child{
            margin-bottom: 0;
          }

          @media (max-width:992px) {
            background: transparent;
            border-radius: 0;
            margin: 0 16px;
            padding: 10px 16px;
            
          }
        }
      }
    }
  }
}
}
