.ml-2017 {
  .b-filter {
    margin-bottom: 40px;
    @media screen and (max-width: 680px) {

    }
  }
}

.grid {
  display: grid!important;
  grid-gap: 10px 20px;
  grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
  grid-auto-rows: 2px;
  @media screen and (min-width: 680px) {
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }
}

.b-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;

  padding: 6px 10px 6px 10px;
  background-color: #DCE4E9;
  list-style: none;
  @media screen and (max-width: 680px) {
    margin-left: -5px;
    margin-right: -5px;
    padding: 6px 20px 6px 10px;
  }
  @media screen and (min-width: 580px) {
    justify-content: center;
  }
  @media screen and (min-width: 1024px) {
    margin-left: -20px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 1px;
    padding: 5px 15px;
    background: #FFFFFF;
    border-radius: 15px;
    color: #004673;
    user-select: none;
    cursor: pointer;
  }
}

.blog-win {
  @media screen and (max-width: 680px) {
    .container-fluid {
      padding: 0;
    }
    .row {
      margin: 0;
    }
  }
  &-hero {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 680px) {
      height: 80vw;
    }
    @media screen and (min-width: 1024px) {
      margin-left: -10px;
      margin-right: 0;
    }
    &__title {
      color: #ffffff!important;
      text-shadow: 0 0 32px rgba(0, 0, 0, 0.499208);
    }
    img {
      width: 100%;
    }
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
    }
  }
  &-posts {
    overflow-y: auto;
    @media screen and (max-width: 680px) {
      margin-left: -5px;
      margin-right: -5px;
    }
    @media screen and (min-width: 992px) {
      margin-right: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(#fff, 0.9);
      background-color: rgba(#fff, 0.9);
    }
    &::-webkit-scrollbar {
      width: 1px;
      background-color: rgba(#fff, 0.9);
    }
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }


    @media only screen and (max-width: 992px) {
      *::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(#fff, 0.9);
        background-color: rgba(#fff, 0.1);
      }

      *::-webkit-scrollbar {
        width: 1px;
        background-color: rgba(#fff, 0.9);
      }

      *::-webkit-scrollbar-thumb {
        background-color: #fff;
      }
    }
  }
  .content {
    @media screen and (max-width: 680px) {
      padding-right: 20px;
      padding-left: 20px;

    }
  }
}

.ml-2017 {
  .post {
    &__thumb {
      display: block;
      @media screen and (max-width: 680px) {
        margin-left: -20px;
        margin-right: -20px;
        img {
          width: calc(100% + 40px);
          max-width: calc(100% + 40px);
        }

      }
      @media screen and (min-width: 680px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.post {
  position: relative;

  &__tags {
    margin-top: 17px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 157%;
    text-transform: uppercase;
    a {
      color: #85A3B6;
      margin-right: 7px;
    }
  }
  .post__title {
    display: inline;
    vertical-align: top;
    border-bottom: 1px solid #2E3237;
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 30px;
    line-height: 113%;
    color: #2E3237;
  }
  &__text {
    margin-top: 19px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 137%;
    color: #2E3237;
  }
  &__thumb {
    img {
      max-width: 100%;
    }
  }
}

.b-win-help {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #F2F5F7;
  &__thumb {
    flex: 0 0 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 580px) {
      flex: 0 0 50%;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1400px) {
      flex: 0 0 385px;
    }

    img {
      width: 100%;
    }
  }
  &__content {
    flex: 0 0 100%;
    @media screen and (min-width: 580px) {
      flex: 1 1 50%;
      padding-left: 20px;
    }
    @media screen and (min-width: 1400px) {
      flex: 1 1 calc(100% - 385px);
    }
  }
  &__name {
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 14px;
    line-height: 127%;
    color: #85A3B6;
    text-transform: uppercase;
    @media screen and (min-width: 580px) {
      margin-bottom: 19px;
    }
  }
  .b-win-help__title {
    display: inline;
    vertical-align: top;
    border-bottom: 1px solid #2E3237;
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 30px;
    line-height: 113%;
    color: #2E3237;
  }
  &__text {
    margin-top: 19px;
    font-size: 16px;
    line-height: 137%;
    color: #2E3237;
  }
}