

.bg_cookie{

  background: rgba(0, 62, 82, 0.25);
  backdrop-filter: blur(6px);

  
  
  /* width */
::-webkit-scrollbar {
  width: 6px;
  position: relative;

}

/* Track */
::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
margin: 30px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgba(0, 62, 82, 0.5);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background:  rgba(0, 62, 82, 0.7);
}
  
  

  .modal__conteiner{
    
    @media screen and (max-height: 660px ){
      
      padding-top: 25px;
      
      padding-bottom: 20px;
          align-items: flex-start;
      
      overflow-y: auto;
      
      height: calc(100% - 45px);
  
    }
    

  width: calc(100vw - 40px);
  height: 100vh;
    
    padding: 0 20px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
      .modal-cookie-consent{
        
//        .pad{
//             padding: 0 20px;
//        }
            gap: 0;
        
        &:before{
          content: '';
          display: block;
          
          margin-top: -20px;

          width: 100%;
          height: 20px;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAAAUCAMAAAA6JNosAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAECAwQFBgb3B/gI+fr7/P3+/5cSOcAAAAk0lEQVR42sXU1REFIQwFUHwFu6T/Xp+7BpnZ849ExcaknUMC6KDkFFYjB13rQW8QbO/1Jhb6JtiODy+FfoJT4y++wiLqORALnKijErHFqqxMhSoU/selp0qem4xM1bJi3QxqAMbdGtQEml3AejO7gPW8FF8ZUBco9pfrBcVdGfWwvF5ufKFBEPTtu9p50FAIVkuxBwttQw92Js3kAAAAAElFTkSuQmCC) no-repeat center;

        }
        
//        padding: 0 24px 22px;
        background: #FFFFFF;
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        max-width: 420px;
        width: 100%;
        
        height: auto; 
        
        .title{
          color: #003E52;
          text-align: center;
          font: 700 18px/1.2em 'Apercu Pro';
          margin-bottom: 8px;
          opacity: 1;
          
        }
        
        .sub{
          color: #003E52;
          text-align: center;
          font: 400 12px/1.2em 'Apercu Pro';
          margin-bottom: 12px;
          
          max-width: 243px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    
    .icon__{
      width: 80px;
      height: 80px;
      
      background: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: - 19px auto;
    }
    
    .list{
      list-style-type: none;
      
      position: relative;
      

      padding: 0 22px 0 26px;
      
      @media screen and (max-width: 600px){
        padding: 0 17px 0 14px;
      }
      
      margin: 0;
      
      max-height: 418px;
      height: auto;
      overflow-y: auto;
      
      li{
          list-style-type: none;
        
        padding: 12px 0 16px 0;
        
        display: flex;
        
        max-height: 95px;
//        overflow: hidden;
        
        &.no-see{
          display: none;
        }
        
        &.open{
         
              max-height:  100%;
              height:  100%;
          
          .arrow{
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAD1BMVEUAAAAAOFAAQFAAPlIAPlLVTgqtAAAABHRSTlMAICDfCDbLnQAAAChJREFUeNpVSgMBAEAQm/pXfvM4wSZGyYZjDtwANNj39AY2HmzgzSauGsYAjGtq4zIAAAAASUVORK5CYII=) no-repeat center;
            width: 12px;
            height: 7px;
            
            position: absolute;
            top: 10px;
            right: 0;
            
             transform: rotate(-180deg);
          }
          
              .content{
                height: inherit;
//               min-height: 75px;
          overflow-y: inherit;  
                
          }
          
           
        }
          
        
        h4,.title{
          color: #003E52;
          font: 700 12px/1.2em 'Apercu Pro';
          opacity: 1;
          text-align: left;
          
          padding: 0;
          margin: 0;
          margin-top: 2px;
          margin-bottom: 12px;
        }
        
        h5{
          color: rgba(0, 62, 82, 0.75);
          font: 700 12px/1.2em 'Apercu Pro';
                    margin: 0;
          margin-bottom: 3px;
        }
        
        p{
          color: rgba(0, 62, 82, 0.75);
          font: 400 10px/1.5em  'Apercu Pro';
          margin-top: 0;
          
          span,strong{
          color: rgba(0, 62, 82, 0.75);
          font: 700 12px/1.2em 'Apercu Pro';
          }
        }
        

        
          border-top: 1px solid #D9D9D9;
        
        .input{
          position: relative;
          display: flex;
          width: 57px;
          min-width: 57px;
          
      @media screen and (max-width: 600px){
        padding-left: 15px;
      }
          
          
          input[type='checkbox'],label{
  
                 transition: all .7s ease;
            cursor: pointer;
          }   
          
      input[type='checkbox']:checked + label,
      input[type='checkbox']:not(:checked) + label {
//      input[type='radio']:checked + label::before,
//      input[type='radio']:not(:checked) + label::before {
             background: #D9D9D9;
              border-radius: 50px;
            width: 36px;
        
        @media screen and (max-width: 600px){
        width: 30px;
      }
      
        
            max-height: 20px;
            
            display: flex;
            align-items: center;
            
            padding:0 2px;
        
            &:before{
              content: '';
              display: block;
              
              width: 16px;
              height: 16px;
              border-radius: 50%;
            transition: all 3s ease;
   
              margin: 0 auto 0 0;
              background: #fff  no-repeat center;
              
            }
      }


      input[type='checkbox']:checked  + label {
               @media screen and (max-width: 600px){
        width: 30px;
      }
        
             background: #50B78D;
              border-radius: 50px;
            width: 36px;
            max-height: 20px;
            
            display: flex;
            align-items: center;
            
            padding:0 2px;
        
            &:before{
              content: '';
              display: block;
              
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background: #fff;
         
               margin: 0 0 0 auto;
                    transition: all 3s ease;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAMAAADJ2y/JAAAAKlBMVEUAAABQr4BQt4dQuopQuo9QtY1Qt4pQt41QtotQt4tQtoxQt41Qt45QuI2EZkUlAAAADnRSTlMAECAwMGBgYHCAz9/f72VToJwAAAAqSURBVHjaJUqDAQAxDIyd/cd9tOEJbqHeT5VA9P1OAG+ijl/2HbsBlv++DYkAjIDnTZkAAAAASUVORK5CYII=) ;
              
               background-repeat:no-repeat;
              background-position: center;
            }
      }

          input{
            position: absolute;
            opacity: 0;
          }
          
        }
        
        .content{
          position: relative;
          width: calc(100% - 57px);
          display: flex;
          flex-direction: column;
          
          height: 71px; 
          overflow: hidden;
          
          &>p:last-child{
            margin-bottom: 0;
          }
          
          
          .arrow{
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAMAAAALbFwWAAAAD1BMVEUAAAAAOFAAQFAAPlIAPlLVTgqtAAAABHRSTlMAICDfCDbLnQAAAChJREFUeNpVSgMBAEAQm/pXfvM4wSZGyYZjDtwANNj39AY2HmzgzSauGsYAjGtq4zIAAAAASUVORK5CYII=) no-repeat center;
            width: 12px;
            height: 7px;
            
            position: absolute;
            top: 7px;
            right: 0;
          }
        }
      }
    }
    
    .block__{
      
      border-top: 1px solid #D9D9D9;
      
      padding: 18px 24px 22px;
      
      display: flex;
      gap: 0 32px;
      
      @media screen and (max-width: 600px){
          gap: 0 16px;
      }
      

      
      a{
        
    border: 1.5px solid rgba(0, 62, 82, 0.25);
        
border-radius: 40px;
  

    font:  700 14px/1.2em 'Apercu Pro';

    width: clamp(100%, 100vw, 100%);

        height: 40px;
        
      display: flex;
      justify-content: center;
      align-items: center;
        
        text-decoration: none;
      }
      
      .border_bt{
        border: 2px solid rgba(0, 62, 82, 0.25);
        color: rgba(0, 62, 82, 0.5);
      }
      
      .green_bt{
            border: 2px solid #50B78D;
        background: #50B78D;
        color: #fff;
        
      }
      
      
    }
    
  }



  
}
