.ie11 {
  .post {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 20px 10px;
    max-width: 100%;

    @media screen and (min-width: 680px) {
      width: calc(49% - 20px);
    }
    @media screen and (min-width: 1024px) and (max-width: 1399px) {
      width: 100%;
    }
    @media screen and (min-width: 1400px) {
      width: calc(49% - 20px);
    }
  }
}

.ml-2017 {
  .b-filter {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .post {
    position: relative;

    &__thumb {
      max-width: 100%;

      @media screen and (max-width: 680px) {
        margin-left: -20px;
        margin-right: -20px;

        img {
          width: calc(100% + 40px);
          max-width: calc(100% + 40px);
        }
      }

      @media screen and (min-width: 680px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .block__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 113%;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }

    &--between {
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      @media screen and (min-width: 680px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .title__underlined {
    display: inline-block;
    font-size: 16px;
    border-bottom: 3px solid $color-white;
  }
}

.block__title {
  color: $color-black;
}



.grid {
  display: block;
  @supports (display: grid) {
    display: -ms-grid !important;
    display: grid !important;
    grid-gap: 10px 20px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-auto-rows: 2px;
    -ms-grid-rows: 2px;
    @media screen and (min-width: 680px) {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

.b-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;

  padding: 6px 10px 6px 10px;
  background-color: #DCE4E9;
  list-style: none;
  @media screen and (max-width: 680px) {
    margin-left: -5px;
    margin-right: -5px;
    padding: 6px 20px 6px 10px;
  }
  @media screen and (min-width: 580px) {
    justify-content: center;
  }
  @media screen and (min-width: 1024px) {
    margin-left: -20px;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 1px;
    padding: 6px 15px 4px;
    background: $color-white;
    border-radius: 15px;
    color: $color-blue-deep;
    user-select: none;
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover,
    &:focus,
    &.current {
      background-color: $color-blue-deep;
      color: $color-white;
    }
  }
}

.blog-win {
  @media screen and (max-width: 680px) {
    .container-fluid {
      padding: 0;
    }

    .row {
      margin: 0;
    }
  }

  &-posts {
    overflow-y: auto;
    overflow-x: hidden;
    @media screen and (max-width: 680px) {
      margin-left: -5px;
      margin-right: -5px;
    }

    @media screen and (min-width: 992px) {
      padding-right: 10px;
      padding-left: 10px;
      margin: 0 -10px;

    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba($color-cloud, 0.9);
      background-color: rgba($color-gray-light, 0.9);
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba($color-white, 0.9);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
    }

    @media only screen and (max-width: 992px) {
      *::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba($color-cloud, 0.9);
        background-color: rgba($color-gray-light, 0.1);
      }

      *::-webkit-scrollbar {
        width: 5px;
        background-color: rgba($color-white, 0.9);
      }

      *::-webkit-scrollbar-thumb {
        background-color: $color-primary;
      }
    }
  }

  &-hero {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 680px) {
      height: 80vw;
    }

    @media screen and (max-width: 767px) {
      min-height: 56%;
    }

    @media screen and (min-width: 1024px) {
      margin-left: -10px;
      //margin-right: 0;
    }


    &__title {
      position: relative;
      z-index: 2;
      margin: 0 !important;
      color: $color-white !important;
      text-shadow: inherit;
      max-width: 95%;
      text-align: center;
    }
    &__subtitle {
      position: relative;
      z-index: 2;
      max-width: 100%;
      color: $color-white!important;
      text-align: center;
      text-shadow: inherit;
    }

    &:not(.text-shadow) {
      .blog-win-hero__title {
        text-shadow: 0 0 32px rgba(0, 0, 0, 0.499208);
      }
      .blog-win-hero__subtitle {
        text-shadow: 0 0 32px rgba(0, 0, 0, 0.499208);
      }
    }
    img {
      width: 100%;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1000;
      overflow: hidden;
    }
  }

  .content {
    @media screen and (max-width: 680px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.win-single {
  overflow-y: auto;
  padding-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  padding-right: 10px;
  padding-left: 10px;
  @media screen and (max-width: 680px) {
    margin-left: -5px;
    margin-right: -5px;
  }
  @media screen and (min-width: 992px) {

  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($color-cloud, 0.9);
    background-color: rgba($color-gray-light, 0.9);
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgba($color-white, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }

  @media only screen and (max-width: 992px) {
    *::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 1px rgba($color-cloud, 0.9);
      background-color: rgba($color-gray-light, 0.1);
    }

    *::-webkit-scrollbar {
      width: 5px;
      background-color: rgba($color-white, 0.9);
    }

    *::-webkit-scrollbar-thumb {
      background-color: $color-primary;
    }
  }

  &__content {
    padding: 0 10px;
    @media screen and (min-width: 480px) {
      padding: 0 30px;
    }
    & > div {
      margin-bottom: 40px;
    }
  }
}

// Blocks styles
@import "page-win/post-grid";
@import "page-win/post-filter";
@import "page-win/post";
@import "page-win/post-blocks";
@import "page-win/post-slider";
