//Campaign page

.ml-2017 .btn-arrow_right {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.62' height='17.24' viewBox='0 0 10.62 17.24'%3E%3Cpath d='M0,0,7,6.5,0,13' transform='translate(2.12 2.12)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        width: 12px;
        height: 18px;
        margin-left: 11px;
    }
}

.ml-2017 .btn-48 {
    height: 48px;
    line-height: 33px;
}

.campaign-tabs {
    margin-top: 0;

    .bingolobby-tabs-panel:nth-child(1) {
        order: 1;
    }
}

.ml-2017 .campaign__howitworks {
    margin-top: 40px;

    .bingolobby__howitworks__content .btn {
        margin-left: 0;
    }
}

.campaign-hero {
    position: relative;
    height: 380px;

    .campaign-hero__bg {
        background-color: #003E52;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: -1;
    }
}

.campaign__header {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;

    &-checkpoints-advanced {
        display: none;
    }

    &-col {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        display: flex;
    }

    &_3col {
        padding-bottom: 64px;

        .campaign__header-content {
            padding-left: 0;
            align-items: center;
            max-width: 554px;
            margin: 0 auto;

            h2 {
                text-align: center;
                margin-bottom: 0;
            }
        }

        .campaign__header-col {
            width: 30%;
            flex-basis: auto;
        }

        .campaign__header-col:nth-child(2) {
            width: 40%;
        }

        & + .campaign__header-checkpoints {
            height: 64px;
            background-color: $color-primary;
            display: flex;
            margin-top: -64px;
            color: white;
            align-items: center;

            .campaign__header-list {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
        
                li {
                    display: flex;
                    font-size: 20px;
        
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
        
                    &::before {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.034' height='19.59' viewBox='0 0 22.034 19.59'%3E%3Cpath d='M0,8.155,5.143,12.5,15,0' transform='translate(3.523 3.511)' fill='none' stroke='%234caf50' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5'/%3E%3C/svg%3E%0A");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        display: block;
                        width: 22px;
                        height: 22px;
                        margin-right: 6px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    &_2col {
        &-revert {
            flex-direction: row-reverse;
        }
    }

    &-text {
        font-size: 20px;
    }

    .campaign__header-link {
        color: white;
        font-family: "apercu-bold-pro";

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            margin-bottom: 24px;
            margin-top: 0;
        }
        padding-left: 9em;
    }

    .campaign__header-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: flex;
            font-size: 20px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.034' height='19.59' viewBox='0 0 22.034 19.59'%3E%3Cpath d='M0,8.155,5.143,12.5,15,0' transform='translate(3.523 3.511)' fill='none' stroke='%234caf50' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
                width: 22px;
                height: 22px;
                margin-right: 6px;
                margin-top: 2px;
            }
        }
    }

    .btn {
        margin-top: 32px;
        height: 58px;
        font-size: 20px;
        line-height: 42px;
    }
}

.bullet-points__after-btn {
    margin-top: 80px;
    margin-bottom: 90px;
}

.campaign__video {

    &-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .s-video {
        width: 1002px;
        margin: 0 auto;
        height: 534px;
        margin-top: 30px;
    }
}

.ml-2017 .campaign__video_stodhjulet {
    margin-bottom: 150px;
}

@media screen and (max-width: 1225px) {
    .campaign__header-content {
        padding-left: 4em;
    }

    .campaign__header_3col .campaign__header-content {
        max-width: 470px;

        h2 {
            font-size: 34px;
        }
    }

    .campaign__header-col {
        picture {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:1100px) {
    .campaign__header-content {
        padding-left: 2em;
    }

    .campaign__video .s-video {
        width: 100%;
        height: 50vw;
        margin-top: 20px;
        min-height: unset;
    }

    .campaign__video .s-video iframe {
        width: 100%;
        height: 50vw;
        min-height: unset;
    }

    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 992px) {

    .bullet-points__after-btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .campaign-tabs {
        .bingolobby-tabs-panel:nth-child(3),
        .bingolobby-tabs-panel:nth-child(2) {
            height: 0;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
    
            &.active {
                visibility: visible;
                overflow: visible;
                opacity: 1;
                height: calc(100vh - 32px);
                top: 32px;
                position: fixed;
                left: 0;
                width: 100%;
                z-index: 1004;
                overflow-y: auto;
                padding-bottom: 30px;

                &::before {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    left: 0;
                    background-color: #E5F6FE;
                    z-index: -1;
                }
            }
        }

        .faq__modal-btn-close {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 15px;
            background-color: #fff;
        }

        .bingolobby__bingoschema {
            padding-top: 0;
        }

        .bingolobby__bingoschema__title {
            display: block;
        }

        .bingolobby-t-m__container {
            order: 0;
            margin-bottom: 20px;
        }
    }

    .campaign__howitworks {
        .bingolobby__howitworks__content {
            display: flex;
        }
    }

    .ml-2017 .campaign__howitworks {
        margin-top: 10px;
    }

    .content-wrapper_campaign {
        display: flex;
        flex-direction: column;

        .allbingos {
            order: 6;
            margin-top: 20px;
        }

        .s-winners_campaign {
            order: 5;
        }
    }

    .campaign__header_2col {
        .campaign__header-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: auto;
            width: 50%;
        }

        .campaign__header-content {
            margin: 0 auto;
            padding-left: 0;
        }
    }

    .campaign__header-content {

        h2 {
            font-size: 32px;
        }
    }

    .campaign__header_3col {
        .campaign__header-content  {
            max-width: 330px;
            margin: 0 auto;

            h2 {
                font-size: 24px;
            }
        }

        .campaign__header-col {
            width: 50%;

            &:nth-child(3) {
                display: none;
            }

            &:nth-child(2) {
                width: 50%;
            }
        }
    }

    .campaign__header-checkpoints-advanced {
        display: block;
        background-color: $color-primary;
        color: white;
        padding: 20px;

        .campaign__header__line {
            display: flex;
            margin-bottom: 10px;
        }

        .campaign__header-link {
            color: white;
            font-family: "apercu-bold-pro";
            margin-left: 21px;
            font-size: 16px;
            display: block;
        }

        .campaign__header-list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
    
            li {
                display: flex;
                font-size: 20px;
    
                margin: 6px 15px;
    
                &::before {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.034' height='19.59' viewBox='0 0 22.034 19.59'%3E%3Cpath d='M0,8.155,5.143,12.5,15,0' transform='translate(3.523 3.511)' fill='none' stroke='%234caf50' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    display: block;
                    width: 22px;
                    height: 22px;
                    margin-right: 6px;
                    margin-top: 2px;
                }
            }
        }
    }

    .campaign__header-content {
        padding-left: 1em;
    }

    .campaign-hero {
        height: 330px;
    }

    .campaign__header_2col-revert {
        flex-direction: row;

        .campaign__header-content {
            text-align: center;
            align-items: center;
            max-width: 335px;

            h2 {
                margin-bottom: 0;
            }

            .campaign__header-text {
                display: none;
            }
        }
    }

    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 80px;
    }
    
}

@media screen and (max-width: 742px) {
    .campaign__howitworks {
        .bingolobby__howitworks {
            flex-direction: column-reverse;
        }

        .bingolobby__howitworks__content {
            padding-top: 52px;
            padding-bottom: 55px;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            max-width: unset;
        }

        .btn {
            margin-left: 0;
        }
    }

    .campaign-tabs .bingolobby-t-m__container {
        order: 1;
    }

    .ml-2017 .campaign__howitworks {
        margin-top: 10px;
    }

    .campaign__header-content h2 {
        font-size: 28px;
    }

    .campaign__header_2col {
        .campaign__header-col {
            width: 100%;
        }
    }

    .campaign__header_3col {
        flex-direction: column;
        padding-bottom: 0;

        .campaign__header-col {
            max-width: 430px;
            flex-basis: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-child(2),
            &:nth-child(1) {
                max-width: 430px;
                flex-basis: auto;
                width: 100%;
            }
        }

        & + .campaign__header-checkpoints {
            height: auto;
            margin-top: 0;
            padding: 30px 0 ;

            .campaign__header-list {
                flex-direction: column;
                align-items: flex-start;

                li {
                    font-size: 18px;
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .campaign__header-checkpoints-advanced {
        padding: 20px 0px;
        .campaign__header-list {
            flex-direction: column;
            align-items: flex-start; 
            margin: 0 auto;
            width: fit-content;
            margin-bottom: 30px;
    
            li {
                font-size: 18px;
            }
        }
    }

    .campaign__header {
        flex-direction: column;
    }

    .campaign-hero {
        height: auto;
    }

    .campaign__header-content {
        padding-left: 0;
        text-align: center;
        align-items: center;
        padding-bottom: 40px;
    }

    .campaign__header-col {
        max-width: 430px;
        flex-basis: auto;
    }

    .campaign__header-overlay-M {
        position: relative;

        &::before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='375' height='416.996' viewBox='0 0 375 416.996' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' y1='0.472' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23003e52' stop-opacity='0'/%3E%3Cstop offset='0.28' stop-color='%23003e52' stop-opacity='0.502'/%3E%3Cstop offset='1' stop-color='%23003e52' stop-opacity='0.502'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect id='overlay' width='375' height='416.996' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");;
            display: block;
            position: absolute;
            background-position: bottom;
            background-size: 100% 550px;
            background-repeat: no-repeat;
            z-index: -1;
            left: 0;
            bottom: 0;
            height: 417px;
            width: 100%;
        }
    }

    .campaign__video .s-video {
        margin-top: 10px;
    }

    
    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 696px) {

}
