//Campaign page

.ml-2017 .btn-arrow_right {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.62' height='17.24' viewBox='0 0 10.62 17.24'%3E%3Cpath d='M0,0,7,6.5,0,13' transform='translate(2.12 2.12)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        width: 12px;
        height: 18px;
        margin-left: 11px;
    }
}

.ml-2017 .btn-48 {
    height: 48px;
    line-height: 33px;
}

.ml-2017 .campaign__howitworks {
    .s-video {
        margin: 0;
    }

    .mediaBlock {
        align-items: center;

        &__content {
            .btn {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }

    &.campaign__howitworks_revert-D {
        .mediaBlock {
            flex-direction: row-reverse;
    
            &__content {
                margin-left: 5em;
            }
        }
    }

    &.campaign__howitworks_onlyMedia {
        .mediaBlock__content {
            display: none;
        }
    }

    &.campaign__howitworks_mediaBtn {
        .mediaBlock {
            flex-direction: column-reverse;
            align-items: center;

            &__content-title,
            &__list {
                display: none;
            }

            &__content {
                margin-left: 0;
                .btn {
                    margin: 10px auto;
                    margin-top: 40px;
                }
            }
        }
    }
}

.ml-2017 .campaign-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.campaign-hero {
    position: relative;
    min-height: 380px;

    &::before {
        content: '';
        display: block;
        background-color: #003E52;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .campaign-hero__bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    } 
    
    &_shadow {
        position: relative;
        .campaign__header {

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            &.campaign__header_2col::after {
                background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
            }

            &.campaign__header_2col-revert::after {
                background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
            }

            &.campaign__header_3col::after {
                background: radial-gradient(46.75% 50% at 50% 50%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        &.campaign-hero_shadow-D-non .campaign__header {
            &::after,
            &.campaign__header_2col-revert::after,
            &.campaign__header_3col::after,
            &.campaign__header_2col::after {
                background: transparent;
            }
        }
    }


}

.campaign__header {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    margin: auto 0;

    &-checkpoints-advanced {
        display: none;
    }

    &-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: flex;
            font-size: 20px;
            text-align: left;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.034' height='19.59' viewBox='0 0 22.034 19.59'%3E%3Cpath d='M0,8.155,5.143,12.5,15,0' transform='translate(3.523 3.511)' fill='none' stroke='%234caf50' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
                width: 22px;
                height: 22px;
                margin-right: 6px;
                margin-top: 2px;
                flex-shrink: 0;
            }
        }
    }

    &-checkpoints {
        min-height: 64px;
        background-color: $color-primary;
        display: flex;
        margin-top: 0;
        color: white;
        align-items: center;
        width: 100%;

        .campaign__header-list {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
    
            li {
                display: flex;
                font-size: 20px;
    
                &:not(:last-child) {
                    margin-right: 40px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &-col {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 200px;
        display: flex;
    }

    &_3col {
        margin: auto 0;

        .campaign__header-content {
            padding-left: 0;
            align-items: center;
            max-width: 554px;
            margin: 0 auto;

            h2 {
                text-align: center;
                margin-bottom: 0;
            }
        }

        .campaign__header-col {
            width: 30%;
            flex-basis: auto;
        }

        .campaign__header-col:nth-of-type(2) {
            width: 40%;
        }
    }

    &_2col {
        max-width: 1400px;
        
        .campaign__header-content {
            padding-left: 0;
            padding-right: 60px;
        }
        &-revert {
            flex-direction: row-reverse;

            .campaign__header-content {
                padding-left: 60px;
                padding-right: 0;
            }
        }
    }

    &-image {
        margin: auto;
        padding: 20px;
    }

    &-text {
        font-size: 20px;
    }

    .campaign__header-link {
        color: white;
        font-family: "apercu-bold-pro";

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            margin-bottom: 24px;
            margin-top: 0;
        }
        padding-left: 9em;
    }

    .btn {
        margin-top: 32px;
        height: 58px;
        font-size: 20px;
        line-height: 42px;
    }
}

.bullet-points__after-btn {
    margin-top: 80px;
    margin-bottom: 90px;
}

.campaign__video {

    &-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .s-video {
        width: 1002px;
        margin: 0 auto;
        height: 534px;
        margin-top: 30px;
    }
}

.ml-2017 .campaign__video_stodhjulet {
    margin-bottom: 150px;
}

@media screen and (max-width: 1225px) {
    .campaign__header-content {
        padding-left: 4em;
    }

    .campaign__header_3col .campaign__header-content {
        max-width: 470px;

        h2 {
            font-size: 34px;
        }
    }

    .campaign__header-col {
        picture {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:1100px) {
    .campaign__header-content {
        padding-left: 2em;
    }

    .campaign__video .s-video {
        width: 100%;
        height: 50vw;
        margin-top: 20px;
        min-height: unset;
    }

    .campaign__video .s-video iframe {
        width: 100%;
        height: 50vw;
        min-height: unset;
    }

    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 992px) {

    .bullet-points__after-btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ml-2017 .campaign__howitworks {
        .mediaBlock__content {
            display: flex;
        }

        &.campaign__howitworks_revert-D {
            .mediaBlock {
                &__content {
                    margin-left: 2em;
                }
            }
        }

        &.campaign__howitworks_mediaBtn {
            .mediaBlock {
                &__content {
                    margin-left: 0;
                }
            }
        }
    }

    .content-wrapper_campaign {
        display: flex;
        flex-direction: column;

        .allbingos {
            order: 6;
            margin-top: 20px;
        }

        .s-winners_campaign {
            order: 5;
        }
    }

    .campaign__header_2col {
        .campaign__header-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: auto;
            width: 50%;
        }
        
        .campaign__header-content {
            text-align: center;
            align-items: center;
            max-width: 335px;
            padding-right: 0;

            h2 {
                margin-bottom: 0;
            }

            .campaign__header-text {
                display: none;
            }
        }
    }

    .campaign__header-content {

        h2 {
            font-size: 32px;
        }
    }

    .campaign__header_3col {
        .campaign__header-content  {
            max-width: 330px;
            margin: 0 auto;

            h2 {
                font-size: 24px;
            }
        }

        .campaign__header-col {
            width: 50%;

            &:nth-of-type(3) {
                display: none;
            }

            &:nth-of-type(2) {
                width: 50%;
            }
        }
    }

    .campaign__header-checkpoints-advanced {
        display: block;
        background-color: $color-primary;
        color: white;
        padding: 20px;

        .campaign__header__line {
            display: flex;
            margin-bottom: 10px;
        }

        .campaign__header-link {
            color: white;
            font-family: "apercu-bold-pro";
            margin-left: 21px;
            font-size: 16px;
            display: block;
        }

        .campaign__header-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
    
            li {
                margin: 6px 15px;
            }
        }
    }

    .campaign__header-content {
        padding-left: 1em;
    }

    .campaign-hero {
        min-height: 330px;

        &_shadow {
            position: relative;
            
            .campaign__header {
                &.campaign__header_2col::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
                }
    
                &.campaign__header_2col-revert::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
                }

                &.campaign__header_3col::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }

            &.campaign-hero_shadow-D-non .campaign__header {
                &.campaign__header_2col::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
                }
    
                &.campaign__header_2col-revert::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
                }

                &.campaign__header_3col::after {
                    background: linear-gradient(270deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
                }
            }

            &.campaign-hero_shadow-T-non {
                .campaign__header {
                    &::after,
                    &.campaign__header_2col-revert::after,
                    &.campaign__header_3col::after,
                    &.campaign__header_2col::after {
                        background: transparent;
                    }
                }
            }
        }
    }

    .campaign__header_2col-revert {
        flex-direction: row-reverse;

        .campaign__header-content {
            text-align: center;
            align-items: center;
            max-width: 335px;
            padding: 0;

            h2 {
                margin-bottom: 0;
            }

            .campaign__header-text {
                display: none;
            }
        }
    }

    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 80px;
    }

    .campaign__header {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 742px) {

    .ml-2017 .campaign__howitworks {
        &.campaign__howitworks_onlyMedia-M {
            .mediaBlock__content {
                display: none;
            }
        }

        &.campaign__howitworks_revert-D {
            .mediaBlock {
                flex-direction: column-reverse;

                &__content {
                    margin-left: 0;
                }
            }
        }

        &.campaign__howitworks_noMedia-M {
            .mediaBlock__media {
                display: none;
            }
        }

        &.campaign__howitworks_revert-M {
            .mediaBlock {
                flex-direction: column;

                &__content {
                    margin-left: 0;
                }
            }
        }

        &.campaign__howitworks_mediaBtn {
            .mediaBlock__content {
                padding: 0;
            }
        }

        .mediaBlock {
            flex-direction: column-reverse;

            &__content {
                padding-top: 52px;
                padding-bottom: 55px;
                padding-left: 20px;
                padding-right: 20px;
                width: 100%;
                max-width: unset;
            }
        }

        .btn {
            margin-left: 0;
        }
    }

    .campaign__header-content h2 {
        font-size: 28px;
    }

    .campaign__header_2col {
        .campaign__header-col {
            width: 100%;
        }
    }

    .campaign__header_3col {
        flex-direction: column;
        padding-bottom: 20px;

        .campaign__header-col {
            max-width: 430px;
            flex-basis: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-of-type(2),
            &:nth-of-type(1) {
                max-width: 430px;
                flex-basis: auto;
                width: 100%;
            }
        }
    }

    .campaign__header-checkpoints {
        height: auto;
        margin-top: 0;
        padding: 30px 0 ;

        .campaign__header-list {
            flex-direction: column;
            align-items: flex-start;

            li {
                font-size: 18px;
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .campaign__header-checkpoints-advanced {
        padding: 20px 0px;
        .campaign__header-list {
            flex-direction: column;
            align-items: flex-start; 
            margin: 0 auto;
            width: fit-content;
            margin-bottom: 30px;
    
            li {
                font-size: 18px;
            }
        }
    }

    .campaign__header {
        flex-direction: column;
    }

    .campaign-hero {
        min-height: auto;

        &_shadow {
            position: relative;
            .campaign__header {
    
                &.campaign__header_2col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_2col-revert::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_3col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }
            }

            &.campaign-hero_shadow-D-non .campaign__header {
                &.campaign__header_2col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_2col-revert::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_3col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }
            }

            &.campaign-hero_shadow-T-non .campaign__header {
                &.campaign__header_2col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_2col-revert::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }

                &.campaign__header_3col::after {
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.27) 26.04%, rgba(0, 0, 0, 0) 100%);
                }
            }

            &.campaign-hero_shadow-M-non {
                .campaign__header {
                    &::after,
                    &.campaign__header_2col-revert::after,
                    &.campaign__header_3col::after,
                    &.campaign__header_2col::after {
                        background: transparent;
                    }
                }
            }
        }
    }

    .campaign__header-content {
        padding-left: 0;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .campaign__header-col {
        max-width: 430px;
        flex-basis: auto;
    }

    .campaign__header-overlay-M {
        position: relative;

        &::before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='375' height='416.996' viewBox='0 0 375 416.996' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' y1='0.472' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23003e52' stop-opacity='0'/%3E%3Cstop offset='0.28' stop-color='%23003e52' stop-opacity='0.502'/%3E%3Cstop offset='1' stop-color='%23003e52' stop-opacity='0.502'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect id='overlay' width='375' height='416.996' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");;
            display: block;
            position: absolute;
            background-position: bottom;
            background-size: 100% 550px;
            background-repeat: no-repeat;
            z-index: -1;
            left: 0;
            bottom: 0;
            height: 417px;
            width: 100%;
        }
    }

    .campaign__video .s-video {
        margin-top: 10px;
    }

    
    .ml-2017 .campaign__video_stodhjulet {
        margin-bottom: 60px;
    }
}
