.section {
	&.bg-light-blue {
		background-color: $color-secondary-light;
		.block-title {
			&-marked {
				&:before {
					border-color: transparent transparent transparent $color-secondary-light;
				}
				&:after {
					border-color: transparent $color-secondary-light transparent transparent;
				}
			}
		}
	}
}

.lottery-price {
	position: absolute;
	top: -26px;
	right: -26px;
	width: 52px;
	height: 52px;
	color: $color-white;
	font-size: 16px;
	font-weight: 700;
	line-height: 52px;
	border-radius: 50%;
	background: $color-orange;
	text-align: center;
	// &.size-small {
	// 	top: -20px;
	// 	right: -20px;
	// 	width: 40px;
	// 	height: 40px;
	// 	font-size: 12px;
	// 	line-height: 40px;
	// }
	// &.size-small-sm {
	// 	@include max-screen($screen-xs-max) {
	// 		top: -20px;
	// 		right: -20px;
	// 		width: 40px;
	// 		height: 40px;
	// 		font-size: 12px;
	// 		line-height: 40px;
	// 	}
	// }
	// @include max-screen($screen-xs-max) {
	// 	top: -20px;
	// 	right: -20px;
	// 	width: 40px;
	// 	height: 40px;
	// 	font-size: 12px;
	// 	line-height: 40px;
	// }
}

.lottery-price {
	background: #F8DF8D;
    color: #003E52;
}


.lottery-info-btn {
	display: block;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px!important;
	width: 40px;
	height: 40px;
	color: $color-white!important;
	font-size: 20px!important;
	font-weight: 700!important;
	line-height: 40px!important;
	border-radius: 50%;
	background: $color-primary;
	text-align: center;
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	transition: background-color .3s ease;
	&:hover {
		background-color: $color-primary-light;
	}
}



.page-lottery {
	overflow-x: hidden;
	position: relative;

	.b-line {
		position: relative;
		width: 100%;
		padding: 0!important;
		margin: 0!important;
		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			left: 0;
			height: 1px;
			background-color: $color-secondary-dark;
		}
	}
}

/*new online lottery*/
.s-new-online-lottery {
	padding-top: 30px;
	@include min-screen($screen-md-min) {
		padding-top: 60px;
	}
	.block-title-marked {
		margin-bottom: 30px;

	}
	.img-block {
		@include max-screen($screen-xs-max) {
			min-height: auto;
			text-align: center!important;
		}
	}
}

/*bullet points bar*/
.s-bullet-points-bar {
	background: $color-orange-lighter;
	padding: 10px 0 20px;
	@include min-screen($screen-sm-min) {
		padding: 10px 0;
	}
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
		font-size: $size-small;
		line-height: 18px;
		margin: 0 3px;
		text-align: center;
		@include min-screen($screen-sm-min) {
			display: flex;
			align-items: center;
			margin: 0 15px;
			text-align: left;
		}
	}
	&__img {
		width: 55px;
		height: 55px;
		margin: 0 auto 10px;
		@include min-screen($screen-sm-min) {
			margin: 0 10px 0 0;
		}
		img {
			width: 55px;
			height: 55px;
			border-radius: 55px;
		}
	}
	&__text {
		font-family: $apercu-bold-font;
		max-width: 115px;
		width: 100%;
		@include min-screen($screen-sm-min) {
			width: 135px;
			max-width: none;
		}
	}
}

/*winners*/
.s-winners,
.s-winners_v2 {
	padding: 30px 0;
	@include min-screen($screen-md-min) {
		padding: 30px 0 60px;
		margin: 0;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 -10px;
		@include min-screen($screen-sm-min) {
			margin: 0 -20px;
		}
		@include min-screen($screen-md-min) {
			flex-direction: row;
			margin: 0;
		}
	}
	.winners-title {
		width: auto;
		font-size: $size-small;
		line-height: 18px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		padding: 0 10px;
		margin-bottom: 10px;
		text-align: center;
		@include min-screen($screen-md-min) {
			width: 145px;
			text-align: left;
			margin-bottom: 0;
			padding: 0 15px 0 0;
		}
	}
}

.winners-slider {
	width: 100%;
	@include min-screen($screen-md-min) {
		width: calc(100% - 145px);
	}
	&:before,
	&:after {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		width: 50px;
		z-index: 1;
	}
	&:before {
		left: 0;
		background-image: linear-gradient(to right, #ffffff 0%, rgba(255,255,255,0) 100%);
	}
	&:after {
		right: 0;
		background-image: linear-gradient(to left, #ffffff 0%, rgba(255,255,255,0) 100%);
	}
}

.winner-item {
	display: flex;
	align-items: center;
	min-width: 235px;
	width: max-content;
	height: 44px;
	border-radius: 15px;
	font-size: $size-smallest;
	line-height: 16px;
	margin-right: 10px;
	padding: 5px 10px 5px 0;
	overflow: hidden;
	&:nth-child(odd) {
		background-color: $color-green-light;
		.icon {
			img {
				margin-left: auto;
			}
		}
	}
	&:nth-child(even) {
		background-color: $color-green-lighter;
		.icon {
			img {
				margin-right: auto;
			}
		}
	}
	.icon {
		width: 65px;
		padding-right: 10px;

		img {
			display: block;
		}
	}
	.text {
		>* {
			margin: 0;
			&:first-child {
				font-weight: bold;
			}
		}
	}
}

.s-winners_v2 {
	.winner-item {
		background: #E6E5E5;
		border-radius: 16px;
		padding-left: 63px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-right: 25px;
		font-size: 14px;
		min-width: 254px;
		width: max-content;
		line-height: 130%;
		height: 48px;

		position: relative;

		&::before {
			content: '';
			width: 48px;
			height: 40px;
			position: absolute;
			left: 4px;
			display: block;
			background: #153B4E;
			border-radius: 12px;
		}

		&::after {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			left: 15px;

			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.lotteryticket::after {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.1027 5.23834C23.1564 4.96746 22.9802 4.70439 22.7094 4.65076L14.8617 3.09708C14.5908 3.04345 14.3277 3.21957 14.2741 3.49045L10.9725 20.1668C10.9189 20.4377 11.095 20.7007 11.3659 20.7544L19.2136 22.308C19.4845 22.3617 19.7475 22.1855 19.8012 21.9147L23.1027 5.23834Z' fill='%2347A1B6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6436 11.726L14.5186 20.0748C14.5791 20.3442 14.4097 20.6117 14.1403 20.6722L12.6459 21.0078L11.3659 20.7544C11.095 20.7007 10.9189 20.4377 10.9725 20.1668L12.6436 11.726ZM11.831 8.10728L9.50109 19.8755C9.37346 20.5201 9.57113 21.1537 9.9804 21.6064L6.33472 22.4251C6.06529 22.4856 5.79782 22.3163 5.73731 22.0468L2.01226 5.45998C1.95175 5.19055 2.12112 4.92308 2.39055 4.86257L10.1961 3.10961C10.4656 3.0491 10.733 3.21847 10.7935 3.4879L11.831 8.10728Z' fill='%2347A1B6' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
		}

		&.jackpot::after {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6724 1.4369L15.1816 6.76233C15.2916 6.99491 15.5012 7.15359 15.7461 7.19271L21.3581 8.04695C21.9724 8.14042 22.2173 8.93163 21.7732 9.38592L17.7116 13.5311C17.5352 13.7115 17.4542 13.9701 17.4957 14.2266L18.4546 20.0802C18.5604 20.7215 17.917 21.2105 17.367 20.9084L12.3487 18.1457C12.1308 18.0262 11.8692 18.0262 11.6513 18.1457L6.63296 20.9084C6.08297 21.2105 5.43959 20.7215 5.54543 20.0802L6.50428 14.2266C6.54579 13.9723 6.46485 13.7115 6.28843 13.5311L2.22683 9.38592C1.78269 8.93163 2.02759 8.14042 2.64191 8.04695L8.25386 7.19271C8.49876 7.15576 8.70838 6.99491 8.81838 6.76233L11.3296 1.4369C11.6036 0.854366 12.3985 0.854366 12.6745 1.4369H12.6724Z' fill='%23FAD760'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2584 4.80295L12.3487 5.85428C12.1308 5.97385 11.8692 5.97385 11.6513 5.85428L9.74219 4.80326L8.81837 6.76233C8.70838 6.99491 8.49876 7.15576 8.25386 7.19272L6.1344 7.51535L6.50428 9.77338C6.54579 10.0299 6.46485 10.2885 6.28843 10.4689L4.78822 12L6.28843 13.5311C6.46484 13.7115 6.54578 13.9723 6.50428 14.2266L6.1344 16.4847L8.25386 16.8073C8.49876 16.8464 8.70838 17.0051 8.81837 17.2377L9.74158 19.1971L11.6513 18.1457C11.8692 18.0262 12.1308 18.0262 12.3487 18.1457L14.2578 19.1967L15.1816 17.2377C15.2916 17.0051 15.5012 16.8442 15.7461 16.8073L17.8656 16.4847L17.4957 14.2266C17.4542 13.9701 17.5352 13.7115 17.7116 13.5311L19.2118 12L17.7116 10.4689C17.5352 10.2885 17.4542 10.0277 17.4957 9.77338L17.8656 7.51535L15.7461 7.19272C15.5012 7.1536 15.2916 6.99491 15.1816 6.76233L14.2584 4.80295ZM20.2618 13.0716L19.0321 14.3266L19.3486 16.2589L21.3581 15.953C21.9724 15.8596 22.2173 15.0684 21.7732 14.6141L20.2618 13.0716ZM13.6168 20.5561L12 19.666L10.3822 20.5567L11.3276 22.5631H11.3255C11.6015 23.1456 12.3964 23.1456 12.6704 22.5631L13.6168 20.5561ZM4.65139 16.2589L4.96791 14.3266L3.73819 13.0716L2.22683 14.6141C1.78269 15.0684 2.02759 15.8596 2.64192 15.953L4.65139 16.2589ZM5.89192 6.03498L7.62754 5.77078L8.42558 4.07846L6.63295 3.09159C6.08297 2.78946 5.43959 3.27854 5.54543 3.91974L5.89192 6.03498ZM18.1081 6.03494L16.3726 5.77078L15.5751 4.0781L17.367 3.09159C17.917 2.78946 18.5604 3.27854 18.4546 3.91974L18.1081 6.03494Z' fill='%23FAD760' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
		}

		&.bingo::after {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 12C9 7.58172 12.5817 4 17 4C21.4183 4 25 7.58172 25 12C25 16.4183 21.4183 20 17 20C12.5817 20 9 16.4183 9 12Z' fill='%23CA6993'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0432 4.59915C8.88241 6.34052 7.5 9.00882 7.5 12C7.5 14.9912 8.88241 17.6595 11.0432 19.4008C10.1051 19.787 9.07741 20 8 20C3.58172 20 0 16.4183 0 12C0 7.58173 3.58172 4 8 4C9.07741 4 10.1051 4.21298 11.0432 4.59915ZM12.5 5.38467C10.3872 6.82465 9 9.25034 9 12C9 14.7497 10.3872 17.1754 12.5 18.6153C14.6128 17.1754 16 14.7497 16 12C16 9.25034 14.6128 6.82465 12.5 5.38467Z' fill='%23CA6993' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
		}
	}
}

/*online lottery*/
.s-online-lottery {
	padding: 60px 0 0;

	.block-title {
		&-wrap {
			.block-subtitle {
				@include max-screen($screen-sm-max) {
					margin-bottom: 30px;
					font-size: 18px;
				}
			}
		}
		// &-marked {
		// 	@include max-screen($screen-xs-max) {
		// 		margin-bottom: 30px;
		// 		font-size: 18px;
		// 	}
		// }
	}
}

.online-lottery-slider {
	margin-bottom: 60px;
	margin-left: -10px;
	margin-right: -10px;
	@include min-screen($screen-sm-min) {
		margin-left: -20px;
		margin-right: -20px;
	}
	@include min-screen($screen-md-min) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	&:after {
		content: 'flickity';
		display: none;
		@media (min-width: $screen-md-min) {
			content: '';
		}
	}

	.flickity-button.flickity-prev-next-button {
		top: 133px;
		transform: none;
		width: 40px;
		height: 40px;
		background: $color-primary-dark;
		opacity: .5;
		@media (min-width: $screen-sm-min) {
			top: 185px;
		}

		&.previous {
			@include min-screen($screen-sm-min) {
				left: 20px;
			}
		}
		&.next {
			@include min-screen($screen-sm-min) {
				right: 20px;
			}
		}
		svg {
			left: 27%;
			top: 27%;
			width: 46%;
			height: 46%;
			path {
				fill: #ffffff;
			}
		}
	}
}

.online-lottery-item-wrap {
	display: flex;
	justify-content: center;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	@include min-screen($screen-sm-min) {
		padding-right: 40px;
		padding-left: 40px;
	}

	@include min-screen($screen-md-min) {
		border-right: 1px solid $color-secondary-dark;
		border-bottom: 1px solid $color-secondary-dark;
		padding-right: 10px;
		padding-left: 10px;
	}

	@media (min-width: $screen-md-min) and (max-width: 1359px) {
		width: 33.333%;
		&:nth-child(3n) {
			border-right: none;
		}
		&:nth-child(n + 4) {
			.online-lottery-item {
				padding-top: 85px;
			}
		}
		&:last-child,
		&:nth-last-child(2):not(:nth-child(3n)),
		&:nth-last-child(3):not(:nth-child(3n)):not(:nth-child(3n-1)) {
			border-bottom: none;
			.online-lottery-item {
				padding-bottom: 0;

			}
		}
	}

	@media (min-width: 1360px) {
		width: 25%;
		&:nth-child(4n) {
			border-right: none;
		}
		&:nth-child(n + 5) {
			.online-lottery-item {
				padding-top: 85px;
			}
		}
		&:last-child,
		&:nth-last-child(2):not(:nth-child(4n)),
		&:nth-last-child(3):not(:nth-child(4n)):not(:nth-child(4n-1)),
		&:nth-last-child(4):not(:nth-child(4n)):not(:nth-child(4n-1)):not(:nth-child(4n-2)){
			border-bottom: none;
			.online-lottery-item {
				padding-bottom: 0;
			}
		}
	}

	@include max-screen($screen-sm-max) {
		.online-lottery-item {
			transform: scale(.9) translateY(-10px);
			transition: all .5s ease;
			.lottery-bottom,
			.lottery-price,
			.lottery-info-btn {
				opacity: 0;
				transition: opacity .5s ease;
			}
		}
		&.is-selected {
			.online-lottery-item {
				transform: scale(1);
			}
			.lottery-bottom,
			.lottery-price,
			.lottery-info-btn {
				opacity: 1;
			}
		}
	}
}

.online-lottery-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 27px;
	@include min-screen($screen-md-min) {
		padding-bottom: 60px;
		margin: 0 15px;
	}
	@include max-screen($screen-xs-max) {
		margin-left: -5px;
		margin-right: -5px;
	}
	.lottery-top {
		position: relative;
		// width: 195px;
		margin: 0 auto 40px;
		@include min-screen($screen-sm-min) {
			// width: 270px;
		}
		@include min-screen($screen-md-min) {
			// width: 255px;
		}

		.img_lottery-size {
			height: 342px;
			width: 100%;
			max-width: 285px;
			margin-right: auto;
			margin-left: auto;

			img {
				width: auto;
				height: 100%;
				object-fit: contain;
			}
		}

		@media screen and (max-width: 767px) {
			.img_lottery-size {
				height: 261px;
			}
		}
	}
	.lottery-bottom {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 255px;
		color: $color-primary;
		text-align: center;
		margin: 0 auto;
	}
	.img {
		box-shadow: none;
		@include min-screen($screen-md-min) {
			transition: all .4s ease;
			&:hover {
				transform: scale(1.05);
			}
		}
		img {
			width: 100%;
			filter: drop-shadow(0px 6px 6px #88b4c5);
		}
	}
	.title {
		font-size: $size-medium;
		font-family: $apercu-bold-font;
		line-height: 1.222;
		margin-bottom: 10px;
		@include min-screen($screen-sm-min) {
			font-size: $size-large;
			line-height: 1.2;
		}
	}
	.text {
		font-size: $base-font-size;
		font-weight: 400;
		line-height: 22px;
		max-height: 66px;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.buttons-group {
		display: flex;
		justify-content: center;
		margin-top: auto;
		margin-left: -5px;
		margin-right: -5px;
		.btn {
			margin: 0 5px;
		}
	}
}

.lottery-slider-nav {
	padding: 60px 0;
	@include min-screen($screen-md-min) {
		display: none;
	}

	@media screen and (max-width: 767px) {
		&.lottery-slider-nav_xs-none {
			display: none;
		}

	}

	.block-title {
		max-width: 325px;
		font-family: $apercu-bold-font;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin: -20px 0;
	}

	&__item {
		position: relative;
		width: calc(50% - 40px);
		box-shadow: none;
		margin: 20px;
		@include min-screen($screen-xs-min) {
			width: calc(33.333% - 40px);
		}
		@include min-screen($screen-sm-min) {
			width: calc(25% - 40px);
		}
		img {
			filter: drop-shadow(0px 6px 6px #88b4c5);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/*online game*/
.s-online-game {
	padding: 60px 0 0;
}

.online-game-list {
	>[class*="col-"] {
		margin-bottom: 60px;
		padding-bottom: 60px;
		&:last-child {
			padding-bottom: 0;
		}
		@include max-screen($screen-sm-max) {
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				right: 10px;
				left: 10px;
				height: 1px;
				background-color: $color-secondary-dark;

			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		@include max-screen($screen-xs-max) {
			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				right: 5px;
				left: 5px;
				height: 1px;
				background-color: $color-secondary-dark;

			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		@include min-screen($screen-md-min) {
			margin-bottom: 60px;
			padding-bottom: 0;
			&:nth-child(odd) {
				border-right: 1px solid $color-secondary-dark;
				padding-right: 30px;
				.online-game-item {
					margin: 0 auto 0 40px;
				}
			}
			&:nth-child(even) {
				padding-left: 30px;
				.online-game-item {
					margin: 0 40px 0 auto;
				}
			}
		}
	}
}

.online-game-item {
	display: flex;
	flex-direction: column;
	max-width: 565px;
	//width: 100%;
	height: 100%;
	padding-top: 20px;
	@include min-screen($screen-sm-min) {
		padding-top: 25px;
	}
	@include max-screen($screen-sm-max) {
		margin: 0 auto;
	}
	.game-top {
		position: relative;
		margin-bottom: 40px;
	}
	.game-bottom {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		color: $color-primary;
		text-align: center;
	}
	.img {
		border: solid 4px $color-white;
		box-shadow: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding-bottom: 61.5%;

		img {
			filter: drop-shadow(0px 6px 6px #88b4c5);
		}

		@include min-screen($screen-md-min) {
			transition: all .4s ease;
			&:hover {
				transform: scale(1.03);
			}
		}
	}
	.lottery-price {
		@include max-screen($screen-xs-max) {
			left: auto;
			right: 10px;
			margin: 0;
		}
	}
	.title {
		font-size: 20px;
		font-family: $apercu-bold-font;
		line-height: 24px;
		margin-bottom: 10px;
	}

	@media screen and (max-width: 576px) {
		.title {
			font-size: 18px;
		}
	}

	.text {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		max-height: 66px;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.buttons-group {
		display: flex;
		justify-content: center;
		margin-top: auto;
		.btn {
			margin: 0 5px;
		}
	}
}

/*lottery in store*/
.s-added-lottery {
	padding-top: 60px;

	.add-lottery-margin {
		@include min-screen($screen-md-min) {
			margin-bottom: 60px;
		}
	}
	.block-title-wrap {
		margin-bottom: -20px;
	}
}

.added-lottery-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc(100% + 40px);
	margin: -20px;
	margin-bottom: 40px;
}

.added-lottery-item {
	display: flex;
	flex-direction: column;
	max-width: 285px;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	margin: 20px;
	@include min-screen($screen-sm-min) {
		padding-top: 25px;
	}
	.lottery-top {
		position: relative;
		// width: 170px;
		margin: 0 auto 40px;

		.img_lottery-size {
			height: 342px;
			width: 100%;
			max-width: 285px;
		}

		@media screen and (max-width: 767px) {
			.img_lottery-size {
				height: 261px;
			}
		}
	}
	.lottery-bottom {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		color: $color-primary;
		text-align: center;
	}
	.img {
		box-shadow: none;

		img {
			width: 100%;
			filter: drop-shadow(0px 6px 6px #88b4c5);
		}
	}
	.title {
		font-size: 20px;
		font-family: $apercu-bold-font;
		line-height: 24px;
		margin-bottom: 10px;
	}

	@media screen and (max-width: 576px) {
		.title {
			font-size: 18px;
		}
	}
	.text {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		max-height: 66px;
		overflow: hidden;
	}

	.text-sub {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		max-height: 66px;
		overflow: hidden;
		margin-bottom: 20px;
	}
}

// .added-lottery-list.added-lottery-list {
// 	&_variable {
// 		.lottery-top {
// 			width: auto;
// 			max-width: 285px;

// 			.img_lottery-size {
// 				height: 342px;
// 				width: auto;
// 				max-width: 285px;
// 			}
// 		}
// 	}

// 	&_340x684 {
// 		.lottery-top {
// 			width: 170px;
// 			max-width: 170px;

// 			.img_lottery-size {
// 				height: 342px;
// 				width: 170px;
// 				max-width: 170px;
// 			}
// 		}
// 	}

// 	&_510x684 {
// 		.lottery-top {
// 			width: 255px;
// 			max-width: 255px;

// 			.img_lottery-size {
// 				height: 342px;
// 				width: 255px;
// 				max-width: 255px;
// 			}
// 		}
// 	}

// 	&_570x684 {
// 		.lottery-top {
// 			width: 285px;
// 			max-width: 285px;

// 			.img_lottery-size {
// 				height: 342px;
// 				width: 285px;
// 				max-width: 285px;
// 			}
// 		}
// 	}

// 	&_447x684 {
// 		.lottery-top {
// 			width: 224px;
// 			max-width: 224px;

// 			.img_lottery-size {
// 				height: 342px;
// 				width: 224px;
// 				max-width: 224px;
// 			}
// 		}
// 	}
// }

.added-lottery-item,
.online-lottery-item {
	width: auto;
	max-width: 285px;
	flex-basis: 100%;
}

.lottery-top {
	width: auto;
	max-width: 285px;

	.img_lottery-size {
		height: 342px;
		width: auto;
		max-width: 285px;
		box-shadow: none;

		img {
			width: auto;
			height: 100%;
			object-fit: contain;
			filter: drop-shadow(0px 6px 6px #88b4c5);
		}
	}
}

.lottery-slider-nav__item {
	max-height: 261px;
	max-width: 204px;
	height: auto;
	display: flex;
	justify-content: center;
	box-shadow: none;

	img {
		width: auto;
		object-fit: cover;
		height: auto;
		filter: drop-shadow(0px 6px 6px #88b4c5);
	}
}

.online-game-item {
	width: auto;
	max-width: 565px;
	flex-basis: 100%;
}
.game-top {
	width: auto;
	max-width: 565px;

	.img {
		max-height: 355px;
		height: auto;
		width: auto;
		max-width: 565px;
	}
}

@media screen and (max-width: 767px) {
	.added-lottery-item .lottery-top {
		width: auto;
		justify-content: center;
		display: flex;
		max-height: 261px;

		.img_lottery-size {
			max-height: 261px;
			height: 261px;
			width: 100%;
			max-width: 264px;
			box-shadow: none;

			img {
				object-fit: contain;
				height: 100%;
				width: auto;
				max-width: 264px;
				max-height: 261px;
			}
		}
	}

	.online-lottery-slider {
		.online-lottery-item {
			.lottery-top {
				.img_lottery-size {
					img {
						height: 261px;
						max-width: 285px;
						width: auto;
					}
				}
			}
		}
	}

	.added-lottery-item,
	.online-lottery-item {
		width: auto;
		max-width: 285px;
		flex-basis: 100%;
	}

	.online-game-item {
		width: auto;
		max-width: 565px;
		flex-basis: 100%;
	}

	.lottery-top {
		width: auto;
		max-width: 264px;

		.img_lottery-size {
			height: 261px;
			width: auto;
			max-width: 264px;
		}
	}

	.game-top {
		width: auto;
		max-width: 565px;

		.img {
			height:auto;
			max-height: 355px;
			width: auto;
			max-width: 565px;
		}
	}

	// .added-lottery-list.added-lottery-list {
	// 	&_variable {
	// 		.lottery-top {
	// 			max-width: 218px;

	// 			.img_lottery-size {
	// 				max-width: 218px;
	// 			}
	// 		}
	// 	}

	// 	&_340x684 {
	// 		.lottery-top {
	// 			width: 130px;
	// 			max-width: 130px;

	// 			.img_lottery-size {
	// 				height: 261px;
	// 				width: 130px;
	// 				max-width: 130px;
	// 			}
	// 		}
	// 	}

	// 	&_510x684 {
	// 		.lottery-top {
	// 			width: 195px;
	// 			max-width: 195px;

	// 			.img_lottery-size {
	// 				height: 261px;
	// 				width: 195px;
	// 				max-width: 195px;
	// 			}
	// 		}
	// 	}

	// 	&_570x684 {
	// 		.lottery-top {
	// 			width: 218px;
	// 			max-width: 218px;

	// 			.img_lottery-size {
	// 				height: 261px;
	// 				width: 218px;
	// 				max-width: 218px;
	// 			}
	// 		}
	// 	}

	// 	&_447x684 {
	// 		.lottery-top {
	// 			width: 171px;
	// 			max-width: 171px;

	// 			.img_lottery-size {
	// 				height: 261px;
	// 				width: 171px;
	// 				max-width: 171px;
	// 			}
	// 		}
	// 	}
	// }

}

@media screen and (max-width: 569px) {
}

@media screen and (max-width: 480px) {
	.lottery-slider-nav__list .lottery-price {
		width: 40px;
		height: 40px;
		font-size: 12px;
		line-height: 42px;
		right: -10px;
	}
}

.ml-2017 .modal-secondary .modal-dialog-centered {
	height: 100vh;
    min-height: -webkit-fill-available;
}