.page-lottery-selection {
	@include min-screen($screen-sm-min) {
		padding-bottom: 40px;
	}
	@include min-screen($screen-md-min) {
		padding-bottom: 60px;
	}
	>* {
		&:last-child {
			padding-bottom: 0!important;
		}
	}
	.slider-promo {
		padding-top: 50px;
		@include min-screen($screen-sm-min) {
			padding: 60px 10px 40px;
		}
		@include min-screen($screen-md-min) {
			padding: 60px 10px;
		}
	}
}