.ml-2017 {
    .product-info__meta-item_bold {
        font-weight: 700;
        font-size: 16px;
        margin-left: 17px;
    }
    
    .product-info__label_bold {
        font-weight: 600;
        font-size: 12px;
    }

    .product-info__winning-nr_ttnormal {
        text-transform: none;
    }

    .product-info__text-title {
        margin-bottom: 7px;
        display: block;
    }

    .product-info__details-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .product-order {
            text-align: left;
        }
    }

    .product-dreamlist__progress-wrapper_custom {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-left: auto;
    }

    .product-info__details-right-col {
        .product-order__btn {
            width: 236px;
            height: 58px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
    }

    .product-info__details-left-col {
        padding-right: 30px;
    }

    .product-dreamlist_fav-text {
        margin-top: 13px;
        font-size: 12px;
    }

    .product-dreamlist__progress_custom {
        background: #cedfd7;
        color: #003e52;
        width: 236px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        .product-dreamlist__text {
            position: static;
            transform: none;
            color: #003e52;
            font-weight: 700;
        }

        .product-dreamlist__dream-button {
            position: static;
            margin-right: 10px;
            display: flex;
            align-items: center;

            .icon {
                color: #003e52;
                font-size: 26px;
            }
        }
    }

    .product-dreamlist__progress__price {
        margin-right: auto;
        margin-bottom: 5px;
        p {
            margin: 0;
        }
    }

    .block-product__more-button_mt {
        margin-top: 40px;
    }

    .product-dreamlist_custom {
        display: flex;
        align-items: center;
        padding-top: 11px;
    }

    .btn-back {
        display: flex;
        background: transparent;
        align-items: center;
        border: none;
        margin-bottom: 10px;

        &__icon {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    }

    .product-info_custom {
        padding-top: 0;
        padding-right: 0;
    }

    .product-slider__item--small {
        width: 25%;
        margin-right: 20px;
        height: 105px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .product-slider__item--large {
        width: 100%;
        height: 453px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-slider__big-box {
        margin-bottom: 20px;
        position: relative;

        .flickity-prev-next-button {
            width: 40px;
            height: 40px;
            
            opacity: 0.5;
            transition: opacity 0.3s ease;
            display: none;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M20,40A20,20,0,0,1,5.858,5.858,20,20,0,0,1,34.142,34.142,19.869,19.869,0,0,1,20,40ZM17.5,11.25a1.25,1.25,0,0,0-.9,2.116l6.633,6.907-6.6,6.324a1.25,1.25,0,0,0,1.731,1.8l7.5-7.189a1.253,1.253,0,0,0,.037-1.768l-7.5-7.81A1.239,1.239,0,0,0,17.5,11.25Z' transform='translate(40 40) rotate(180)' fill='%23003e52'/%3E%3C/svg%3E%0A");

            &:hover {
                opacity: 0.8;
            }

            svg {
                display: none;
            }

            &.next {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M20,40A20,20,0,0,1,5.858,5.858,20,20,0,0,1,34.142,34.142,19.869,19.869,0,0,1,20,40ZM17.5,11.25a1.25,1.25,0,0,0-.9,2.116l6.633,6.907-6.6,6.324a1.25,1.25,0,0,0,1.731,1.8l7.5-7.189a1.253,1.253,0,0,0,.037-1.768l-7.5-7.81A1.239,1.239,0,0,0,17.5,11.25Z' fill='%23003e52'/%3E%3C/svg%3E%0A");
            }

            &:disabled {
                visibility: hidden;
                opacity: 1;
            }
        }

        .block-hero .block-hero__page-title--absolute {
            top: 11px;
            left: 11px;
            color: #003E52;
        }

        .product-slider__counter {
            position: absolute;
            z-index: 1;
            right: 20px;
            top: 20px;
            font-size: 20px;
        }
    }

    .product-slider__small-box {
        .flickity-prev-next-button {
            width: 40px;
            height: 40px;
            opacity: 0.5;
            transition: opacity 0.3s ease;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M20,40A20,20,0,0,1,5.858,5.858,20,20,0,0,1,34.142,34.142,19.869,19.869,0,0,1,20,40ZM17.5,11.25a1.25,1.25,0,0,0-.9,2.116l6.633,6.907-6.6,6.324a1.25,1.25,0,0,0,1.731,1.8l7.5-7.189a1.253,1.253,0,0,0,.037-1.768l-7.5-7.81A1.239,1.239,0,0,0,17.5,11.25Z' transform='translate(40 40) rotate(180)' fill='%23003e52'/%3E%3C/svg%3E%0A");

            &:hover {
                opacity: 0.8;
            }

            svg {
                display: none;
            }

            &.next {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='Combined_Shape' data-name='Combined Shape' d='M20,40A20,20,0,0,1,5.858,5.858,20,20,0,0,1,34.142,34.142,19.869,19.869,0,0,1,20,40ZM17.5,11.25a1.25,1.25,0,0,0-.9,2.116l6.633,6.907-6.6,6.324a1.25,1.25,0,0,0,1.731,1.8l7.5-7.189a1.253,1.253,0,0,0,.037-1.768l-7.5-7.81A1.239,1.239,0,0,0,17.5,11.25Z' fill='%23003e52'/%3E%3C/svg%3E%0A");
            }

            &:disabled {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .product-list-blocks_custom {
        margin-top: 70px;
    }

    .s-title-banner_less-mg {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1420px) {
    .ml-2017 {
        .product-dreamlist__progress_custom .product-dreamlist__text {
            padding-left: 0px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .ml-2017 {
        .product-slider__counter {
            display: none;
        }
    
        .product-slider__item--small {
            width: 20%;
            margin-right: 20px;
            height: 105px;
        }

        .product-info_custom {
            margin-top: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .product-slider__big-box {
            .flickity-prev-next-button {
                display: block;
            }
        }

        .product-slider__small-box {
            .flickity-prev-next-button {
                display: none;
            }
        }
    }

}

@media screen and (max-width: 942px) {
    .ml-2017 {
        .btn-back_product-custom {
            display: none;
        }

        .product-slider {
            margin-top: 20px;
        }

        .product-list-blocks_custom {
            margin-top: 68px;
        }
    }
}

@media screen and (max-width: 768px) {
    .ml-2017 {
        .product-info__title {
           font-size: 24px;
        }

       .product-info_custom {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

@media screen and (max-width: 576px) {
    .ml-2017 {
        .product-info__details-wrapper {
            flex-direction: column;
            align-items: stretch;

            .product-order {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .product-order__item-small {
                width: 30%;
                flex-shrink: 1;
                flex-grow: 1;

                &:nth-of-type(2) {
                    text-align: right;
                    width: 70%;

                    p {
                        margin: 0;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }

        .product-info__winning-nr {
            display: none;
        }

        .product-dreamlist_custom {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        .product-dreamlist__progress-wrapper_custom {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .product-dreamlist__progress__price {
                margin-right: 0;
        }

        .product-info__header {
            display: flex;
            flex-direction: column;

            .product-info__logo {
                margin-left: 0;
                float: unset;
                margin-bottom: 12px;
                display: block;
            }
        }

        .product-info_custom {
            margin-top: 20px;
        }

        .product-slider {
            margin-top: 0;
        }

        .product-slider__item--large {
            height: 250px;
        }

        .product-slider__item--small {
            width: 25%;
            height: 55px;
            margin-right: 10px;
        }

        .product-slider__big-box {
            margin-bottom: 10px;
            position: relative;
            left: -10px;
            width: calc(100% + 20px);
        }
    }
}