div.select-hover-images{
    
    .block-product__image{

        .images__contein {
            opacity: 0;
           transform: all .0s ease !important;
            &.active{
                display: block;
                opacity: 1;
              transform: all .0s ease !important;
            }
        }

    }
  
    .block-product_extended{
    
        .block-product__content{
            position: relative;  
          padding: 20px;
          
          @media screen and (max-width: 600px){ padding: 10px; }
          
          
          .block-product__title{
//            height: 20px;
//            padding: 0;
//            margin: 0;
//            margin-bottom: 8px;
//            overflow: hidden; 
//            @media screen and (max-width: 600px){  }
          }
          .block-product__subtitle{
            height: 20px;
            padding: 0;
            margin: 0;
    margin-bottom: 25px;
            @media screen and (max-width: 600px){     margin-bottom: 30px; }
          }
          .block-product__price{
            height: 20px;
            padding: 0;
            margin: 0;
    margin-bottom: 25px;
            margin-left: auto;
             @media screen and (max-width: 600px){     margin-bottom: 30px; } 
          }
          
          .product-controls__sizes__list{
            width: 100%;
            text-align: right;
            @media screen and (max-width: 600px){ text-align: left; }
            span{
              font-weight: 200;
              @media screen and (max-width: 600px){ font-size: 12px; }
            }
          }



              .block-product__link {
                  height: 70px;  
//                          @media screen and (max-width: 600px){   height: 55px;  }
                
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                  margin-bottom: -70px; 
                  pointer-events: none;
              }

        }
    }
    


    
    div.block-product__specs{
        margin-top: 0px !important;
        padding-top: 0px !important;
        transform: all .0s ease !important;
        
        .select-hover{
            padding-top: 20px;
            background: #fff;
        }
        
        &:hover{
            @media screen and (min-width: 600px){
                .select-hover{
                    opacity: 1;
                    pointer-events: inherit;
                    transform: all .0s ease !important;
                    height: auto;
                    background: #fff;
                }
            }
            
            @media screen and (min-width: 600px){
                .product-controls__color-circles{
                    display: none !important;
                    transform: all .0s ease !important;
                }

            }
 
        }
        
        .select-hover{
            opacity: 0;
            pointer-events: none;
            transform: all .0s ease !important;
        }

    }
    
    .product-controls__sizes{
        ul{
            display: none !important;
            opacity: 0;
                  transition: all .3s ease;
            &.active{
                display: flex !important;
                opacity: 1;
                     transition: all .3s ease;
            }
        }
    }
    .product-controls__radio{
        border: 1px solid transparent ;  
    }
    .product-controls__radio.active{
        border: 1px solid #003E52;
        border-radius: 4px;
    }
    
    .product-controls__radio label{
        border-color: transparent !important
    }
    @media screen and (max-width: 1240px) and (min-width: 1024px) {
        .product-controls__color-circles ul li{
            width: 10px !important;
            height: 10px !important;
        }
        .product-controls__sizes ul li{
            font-size: 10px !important;
        }
    }
    
}

