.page-register {
	height: 100%;
	padding-bottom: 50px;
}

body {
	height: 100%;
}

html {
	height: 100%;
}

.checkbox label {
	line-height: 30px;
	vertical-align: middle;
}

.register-content.modal-content {
    max-height: 75%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
}

.register-content {

	background-color: #F8F9FB;
	height: 100%;
	
	h2 {
		font-size: 20px;
		line-height: 30px;
		font-weight: bold;
	}
	
	label {
		font-weight: normal;
		color: #2e3237;
		cursor: auto;
		font-size: 13;
		font-weight: 300;
		margin-bottom: 4px;
	}
	
	input {
		 -webkit-appearance: none;
	}
	
	p {
		font-size: 16px;
		padding-bottom: 10px;
	}
	
	.form-control {
		font-weight: 400;
	}
	
	.light-label {
		color: darkgray;
	}
	
	.input-group {
		width: 100%;
	}
	
	#registerBackButtonIcon {
		font-size: 30px;
		margin-top: 20px;
		width: 40px;
		-ms-transform: rotate(180deg); /* IE 9 */
    	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    	transform: rotate(180deg);
	}
	.icon {
		color: $color-primary;
		font-size: 20px;
	}
	
	.icon-chevron-up {
		-ms-transform: rotate(180deg); /* IE 9 */
    	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    	transform: rotate(180deg);
	}
	
	#spinnerPersonalNumber {
		margin-top: 3px;
		margin-right: 3px;
	}

	.popover{
		width: 100%;
		max-width:413px;
	}
	.modal-body p {
		font-weight: 300;
		font-size: 13px;
		text-align: justify;
		padding: 10px;
	}
	.modal-footer .btn:before {
		content: '';
		height: 0px;
		width: 100%;
		position: absolute;
		left: 0;
		top: -15px;
		background-color: transparent;
	}
	
	.modal-title {
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
	}
	
	.content {
     margin: 30px;
	}
	
	#chooseLoginWay {
		width: 100%;
	}
	
	.input-icon {
		padding-top: 10px;
		color: #A9DB9B;
	}
	
	.select2-selection__arrow:before {
    display: block;
		color: $color-blue;
    font-size: 20px;
    font-family: "ml-icons";
    content: "\e906";
	}
	
	
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 0;
	}
	
	.select2-container .select2-selection--single, .select2-container .select2-selection--multiple {
    background-color: #FFFFFF;
    height: 44px;
		line-height: 44px;
    border-radius: 4px;
		border: 1px solid #E5E5E5;
		padding: 5px;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    height: auto;
    right: 20px;
	}
	
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	}
	
	.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: bold;
		vertical-align: middle;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__rendered span{
    padding-top: 10px;
	}
	
	.btn{
  	-webkit-transition: background-color 1s ease;
  	-moz-transition: background-color 1s ease;
  	-o-transition: background-color 1s ease;
  	-ms-transition: background-color 1s ease;
  	transition: background-color 1s ease;
	}
	
	.btn.disabled{
		background-color: #90BDD9;
	}
	
	.btn.disabled:hover{
		background-color: #90BDD9;
		border: 1px solid transparent;
	}
	
	
}
.right-input-group {
		margin-top: 61px;
	}

.select2-dropdown {
		border: 1px solid #E5E5E5;
		overflow-y: hidden;
		font-family: sans-serif;
		font-weight: 300;
	}

	.select2-results__option {
		font-size: 14px;
		line-height: 20px;
		padding: 15px;
		vertical-align: middle;
	}
	
	.choice-icon {
		margin-right: 20px; 
		width: 20px;
		height: 20px;
		margin-bottom: -4px;
	}
	
