.page-register {
	padding-bottom: 50px;
}

.checkbox label {
	line-height: 30px;
	vertical-align: middle;
}

.register-content.modal-content {
	max-height: 75%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

a.navlink:visited,
a.navlink:link {
	color: #2e3237;
}

a.navlink:hover {
	color: #747c86;
}

.register-content {
	background-color: #f8f9fb;

	h2 {
		font-size: 20px;
	}

	label {
		margin-bottom: 4px;
		color: $color-black;
		font-weight: $light;
	}

	.light-label {
		color: darkgray;
	}

	.input-group {
		width: 100%;
	}

	#registerBackButtonIcon {
		font-size: 30px;
		margin-top: 20px;
		width: 40px;
		transform: rotate(180deg);
	}
	.icon {
		color: $color-primary;
		font-size: 20px;
	}

	.icon-chevron-up {
		transform: rotate(180deg);
	}

	#spinnerPersonalNumber {
		margin-top: 3px;
		margin-right: 3px;
	}

	.popover {
		width: 100%;
		max-width: 624px;
	}

	.modal-body p {
		font-weight: 300;
		font-size: $size-smaller;
		text-align: justify;
		padding: 10px;
	}

	.modal-footer .btn:before {
		content: '';
		height: 0;
		width: 100%;
		position: absolute;
		left: 0;
		top: -15px;
		background-color: transparent;
	}

	.modal-title {
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
	}

	.content {
		margin: 30px;
	}

	#chooseLoginWay {
		width: 100%;
	}

	#choosePayWay {
		width: 100%;
	}

	#chooseDelivery {
		width: 100%;
	}

	#chooseAssociation {
		width: 100%;
	}

	.chooseAssociationLabel {
		display: flex;
		align-items: center;

		.icon {
			margin-left: 5px;
		}
	}

	.input-icon {
		padding-top: 10px;
		color: #a9db9b;
	}

	.select2-selection__arrow:before {
		content: "\e906";
		display: block;
		font-size: 16px;
		font-family: $base-icon-family;
		color: $color-blue;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: none;
		height: 0;
	}

	.select2-container .select2-selection--single, .select2-container .select2-selection--multiple {
		background-color: #ffffff;
		height: 44px;
		line-height: 44px;
		border-radius: 4px;
		border: 1px solid #e5e5e5;
		padding: 5px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		height: auto;
		right: 20px;
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
		transform: rotate(180deg);
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-weight: bold;
		vertical-align: middle;
		line-height: 32px;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered span {
		padding-top: 10px;
	}

	.btn {
		transition: background-color 1s ease;
	}

	.btn.disabled {
		background-color: #90bdd9;
	}

	.btn.disabled:hover {
		background-color: #90bdd9;
	}
}

.right-input-group {
	margin-top: 61px;
}

.select2-dropdown {
	border: 1px solid #e5e5e5;
	overflow-y: hidden;
	font-family: sans-serif;
	font-weight: 300;
}

.select2-results__option {
	font-size: $base-font-size;
	padding: 15px;
	vertical-align: middle;
}

.select2-search--dropdown .select2-search__field {
	padding: 10px;
	outline: 0;
	font-size: 16px;
	font-weight: 400;
}

.choice-icon {
	margin-right: 20px;
	width: 20px;
	height: 20px;
	margin-bottom: -4px;
}