//.ml-2017 {
//	.info-box {
//		flex-shrink: 0;
//		position: relative;
//		cursor: pointer;
//		line-height: 100%;
//
//		.info-text {
//			position: absolute;
//			background-color: cornsilk;
//			width: 180px;
//			font-size: 12px;
//			z-index: 1;
//			bottom: 27px;
//			left: -80px;
//			border-radius: 2px;
//			color: #003E52;
//
//			&::after {
//				display: block;
//				content: '';
//				width: 16px;
//				height: 7px;
//				background-color: cornsilk;
//
//				position: absolute;
//				left: 77px;
//				bottom: -7px;
//				clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
//			}
//
//			height: 0;
//			visibility: hidden;
//			opacity: 0;
//
//			transition: opacity 0.3s ease;
//		}
//
//		&:hover .info-text  {
//			height: auto;
//			visibility: visible;
//			opacity: 1;
//
//			padding: 10px;
//		}
//	}
//
//	.get_home {
//		padding-bottom: 30px;
//
//		a {
//			display: flex;
//			align-items: center;
//			font-size: 16px;
//			text-decoration: none;
//			font-weight: 700;
//			color: #FFF;
//		}
//
//		svg {
//			margin-right: 10px;
//		}
//	}
//
//	.sub-page {
//		position: relative;
//		z-index: 0;
//
//		&_green {
//			background-color: #CEDFD7;
//		}
//
//		&_blue {
//			background-color: #003E52;
//			color: #fff;
//
//			.success-symbol {
//				fill: #fff;
//			}
//
//			.sub-page__right-content {
//				.btn-primary {
//					background-color: #CC5599;
//					color: #FFFFFF;
//
//					&:hover {
//						background-color: #ED8DC4;
//    					color: #ffffff;
//					}
//
//					&.disabled {
//						background-color: #E3BAC5;
//						opacity: 1;
//					}
//				}
//			}
//
//			.sub-page__right-form {
//
//				.info-box::after {
//					background-color: #fff;
//					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.25' height='5.145' viewBox='0 0 1.25 5.145'%3E%3Cg id='i' transform='translate(-4.375 -1.875)'%3E%3Cpath id='i-2' data-name='i' d='M.1,5.145V1.523H1.151V5.145ZM0,.563A.593.593,0,0,1,.621,0,.6.6,0,0,1,1.25.563a.6.6,0,0,1-.629.57A.6.6,0,0,1,0,.563Z' transform='translate(4.375 1.875)' fill='%230b3b54'/%3E%3Cpath id='i-3' data-name='i' d='M.1,5.145V1.523H1.151V5.145ZM0,.563A.593.593,0,0,1,.621,0,.6.6,0,0,1,1.25.563a.6.6,0,0,1-.629.57A.6.6,0,0,1,0,.563Z' transform='translate(4.375 1.875)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
//				}
//
//				form {
//					color: #fff;
//
//					.form_label {
//						color: #fff;
//					}
//
//					a {
//						color: #fff;
//					}
//
//					.form-control {
//						border: 1px solid #CECECE;
//
//						&:focus {
//							border: 1px solid #CC5599;
//						}
//					}
//
//					.checkbox {
//						label {
//							color: #fff;
//
//							a {
//								color: #fff;
//							}
//						}
//
//						.custom-checkbox {
//							border: 1px solid #CECECE;
//
//							&:checked {
//								border: 1px solid #CC5599;
//							}
//						}
//					}
//
//					.has-error {
//						.help-block {
//							&.with-errors {
//								color: #FFCF34;
//							}
//						}
//
//						.form-control,
//						.checkbox .custom-checkbox {
//							border-color: #FFCF34;
//
//							&:checked {
//								border: 1px solid #CC5599;
//							}
//						}
//					}
//				}
//			}
//		}
//
//		&_green,
//		&_white {
//
//			.get_home {
//				a {
//					color: #003e52;
//				}
//
//				&__circle {
//					fill: #003e52;
//				}
//
//				&__arrow {
//					stroke: #fff;
//				}
//			}
//
//			.success-symbol {
//				fill: #003E52;
//			}
//
//			.sub-page__right-form .info-box::after {
//				background-color: #003E52;
//				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.25' height='5.145' viewBox='0 0 1.25 5.145'%3E%3Cg transform='translate(-1180.875 -233.875)'%3E%3Cpath id='Path' d='M.621,1.133A.6.6,0,0,0,1.25.563.6.6,0,0,0,.621,0,.593.593,0,0,0,0,.563.6.6,0,0,0,.621,1.133Z' transform='translate(1180.875 233.875)' fill='%23fff'/%3E%3Cpath id='Path-2' data-name='Path' d='M1.051,3.622H0V0H1.051Z' transform='translate(1180.974 235.397)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
//			}
//
//			.sub-page__right-form .checkbox .custom-checkbox,
//			.sub-page__right-form input.form-control {
//				border: 1px solid #003e52;
//
//				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//					color: #7F9EA8;
//					opacity: 1; /* Firefox */
//				  }
//
//				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
//					color: #7F9EA8;
//				  }
//
//				&::-ms-input-placeholder { /* Microsoft Edge */
//					color: #7F9EA8;
//				  }
//			}
//
//			.btn-primary.disabled {
//				background-color: #81B7C8;
//				opacity: 1;
//				color: #DFEDF1;
//			}
//
//			.sub-page__right-form form {
//				.checkbox {
//					label {
//						color: #003E52;
//					}
//
//					.custom-checkbox {
//						border: 1px solid #003e52;
//
//						&:checked {
//							border: 1px solid #003e52;
//						}
//					}
//				}
//
//				.has-error {
//					.help-block {
//						&.with-errors {
//							color: #D90000;
//						}
//					}
//
//					.form-control,
//					.checkbox .custom-checkbox {
//						border-color: #D90000;
//
//						&:checked {
//							border: 1px solid #003e52;
//						}
//					}
//				}
//			}
//		}
//
//		&__reg_succes {
//			text-align: center;
//
//			p {
//				font-size: 20px;
//			}
//		}
//
//		&__left {
//			&-img {
//				position: absolute;
//				right: 0;
//				top: 0;
//				width: 50vw;
//				height: 100%;
//				display: flex;
//				justify-content: flex-end;
//				z-index: -1;
//
//				&_shadow {
//					&::after {
//						content: '';
//						width: 100%;
//						height: 50%;
//						position: absolute;
//						left: 0;
//						bottom: 0;
//						background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 26.97%, rgba(0, 0, 0, 0.35) 100%);
//					}
//				}
//
//				img {
//					width: 100%;
//					height: 100%;
//					object-fit: cover;
//					object-position: right center;
//					max-width: 1090px;
//					flex-shrink: 0;
//				}
//			}
//
//			&-wrapper {
//				min-height: 470px;
//				display: flex;
//				flex-direction: column;
//				justify-content: flex-end;
//			}
//
//			&-titles {
//				display: flex;
//				flex-direction: column;
//				justify-content: flex-end;
//				padding-bottom: 60px;
//				padding-right: 40px;
//
//				&_green {
//					color: #003E52;
//				}
//
//				&_white {
//					color: #FFFFFF;
//				}
//
//				&_big {
//					& > * {
//						margin: 0;
//					}
//
//					margin-bottom: 14px;
//				}
//
//				&_small {
//					& > * {
//						margin: 0;
//					}
//				}
//			}
//		}
//
//		&__right {
//
//			&-wrapper {
//				display: flex;
//				flex-direction: column;
//				justify-content: center;
//				padding-left: 105px;
//				padding-top: 60px;
//				padding-bottom: 60px;
//				min-height: 470px;
//
//				.success-symbol {
//					margin-bottom: 12px;
//				}
//			}
//
//			&-content {
//
//				& > *:first-child {
//					margin-top: 0;
//				}
//
//				& > *:last-child {
//					margin-bottom: 0;
//				}
//
//				& > p {
//					font-size: 20px;
//
//					&:last-of-type {
//						margin-bottom: 0;
//					}
//				}
//
//				& > .btn {
//					margin-top: 30px;
//				}
//
//			}
//
//			&-title {
//				margin-bottom: 7px;
//
//				& > * {
//					margin-top: 0;
//
//					&:last-child {
//						margin-bottom: 0;
//					}
//				}
//			}
//
//			&-text {
//				font-size: 20px;
//				margin-bottom: 22px;
//
//				p {
//					&:last-child {
//						margin-bottom: 0;
//					}
//				}
//			}
//
//			&-features {
//				font-size: 16px;
//				font-weight: 700;
//				margin-bottom: 32px;
//
//				ul {
//					display: flex;
//					align-items: center;
//					justify-content: center;
//					padding: 0;
//					margin: 0;
//					list-style: none;
//					align-items: flex-start;
//					column-gap: 16px;
//
//					li {
//						display: flex;
//						position: relative;
//						padding-left: 28px;
//						padding-right: 0;
//
//						&::before {
//							content: '';
//							position: absolute;
//							left: 0;
//							display: inline-block;
//							width: 20px;
//							height: 19px;
//							flex-shrink: 0;
//							background-repeat: no-repeat;
//							background-size: contain;
//							background-position: center;
//							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18.579' viewBox='0 0 20 18.579'%3E%3Cpath id='Path_2_Copy_2' data-name='Path 2 Copy 2' d='M5.505,16.078l-7.119-6.014a2.5,2.5,0,0,1-.3-3.523,2.5,2.5,0,0,1,3.523-.3L4.781,8.922l8.256-10.47a2.5,2.5,0,0,1,3.511-.415,2.5,2.5,0,0,1,.415,3.511Z' transform='translate(2.5 2.5)' fill='%234caf50'/%3E%3C/svg%3E%0A");
//						}
//
//						&:last-child {
//							padding-right: 0;
//						}
//					}
//				}
//			}
//
//			&-form {
//				max-width: 355px;
//
//
//				form {
//					& > *:last-child {
//						margin-bottom: 0;
//					}
//
//					.has-error {
//						.help-block {
//							display: block;
//							font-size: 10px;
//							font-weight: 700;
//							margin-top: 2px;
//							margin-bottom: 2px;
//							position: absolute;
//						}
//
//						.form-control,
//						.checkbox .custom-checkbox {
//
//							&:checked {
//								border: 1px solid #003e52;
//							}
//						}
//					}
//
//					.help-block {
//						display: none;
//					}
//				}
//
//				.form-group_email {
//					margin-bottom: 21px;
//
//					input.form-control {
//						text-align: center;
//						letter-spacing: 0.07em;
//					}
//				}
//
//				.form-group_checks {
//					margin-bottom: 28px;
//				}
//
//				input.form-control {
//					color: #003E52;
//				}
//
//				.form_label {
//					display: flex;
//					align-items: center;
//					justify-content: center;
//				}
//
//				.info-box {
//					margin-left: 6px;
//
//					&::after {
//						content: '';
//						display: inline-block;
//						width: 10px;
//						height: 10px;
//						border-radius: 50%;
//						background-position: center;
//						background-repeat: no-repeat;
//						background-size: 2px 6px;
//					}
//
//					.info-text {
//						font-weight: 400;
//						font-size: 10px;
//						text-align: left;
//						background-color: #FCEDC0;
//
//						&::after {
//							background-color: #FCEDC0;
//						}
//					}
//				}
//
//				.checkbox {
//					&:last-of-type {
//						margin-bottom: 0;
//					}
//
//					label {
//						padding-left: 26px;
//						font-size: 14px;
//						line-height: 150%;
//					}
//
//					.custom-checkbox {
//						width: 16px;
//						height: 16px;
//						margin-left: -26px;
//						margin-top: 2px;
//						z-index: -1;
//
//						&:hover {
//							cursor: pointer;
//						}
//
//						&:checked:after {
//							top: 1px;
//    						left: 1px;
//							font-size: 13px;
//							color: #003E52;
//						}
//
//						a {
//							position: relative;
//							z-index: 1;
//						}
//					}
//
//					a {
//						font-weight: 700;
//						text-decoration: underline;
//						margin-left: 5px;
//						margin-right: 5px;
//					}
//				}
//
//				.sub-page__right-btn {
//					.btn {
//						width: 100%;
//					}
//				}
//			}
//		}
//
//		&_no-img {
//			.row {
//				& > *:first-child {
//					display: none;
//				}
//
//				& > *:last-child {
//					width: 100%;
//				}
//			}
//		}
//
//		&__reg_text {
//			font-size: 16px;
//			max-height: 480px;
//			overflow-y: auto;
//			max-width: 100%;
//
//			h5 {
//				margin-top: 0;
//			}
//
//			p, ul {
//				font-size: 16px;
//				margin: 0 0 15px;
//			}
//		}
//	}
//
//	.modal-sub-newsletter {
//		.sub-page__left-img {
//			width: 100%;
//			position: static;
//		}
//
//		.sub-page__left-titles {
//			position: absolute;
//			width: calc(100% - 40px);
//			left: 40px;
//			padding-left: 0;
//		}
//
//		.sub-page-popup {
//			max-height: calc(90vh - 100px);
//    		overflow-y: auto;
//		}
//
//		.container {
//			padding: 0;
//			max-width: unset;
//
//			& * [class|="col"] {
//				padding: 0;
//			}
//
//			.row {
//				margin: 0;
//			}
//		}
//
//		.sub-page__right-wrapper {
//			padding: 40px;
//			display: flex;
//			justify-content: center;
//			align-items: center;
//			min-height: 245px;
//		}
//
//		.sub-page__right-content {
//			max-width: 542px;
//		}
//
//		.sub-page__reg_text {
//			max-width: unset;
//			margin-top: -40px;
//			margin-bottom: -40px;
//			margin-right: -40px;
//			padding-bottom: 40px;
//			padding-top: 20px;
//			padding-right: 40px;
//		}
//
//		.sub-page__right-form {
//			margin-left: auto;
//			margin-right: auto;
//		}
//
//		.sub-page__right-title {
//			text-align: center;
//		}
//
//		.sub-page__right-text {
//			text-align: center;
//		}
//
//		.sub-page__reg_succes {
//			padding-top: 0;
//			padding-bottom: 20px;
//		}
//
//		@media screen and (max-width: 1420px) {
//
//			.sub-page__left-wrapper {
//				height: 290px;
//				min-height: unset;
//			}
//
//			.modal-dialog {
//				max-width: 622px;
//			}
//
//			.sub-page__reg_succes {
//				padding-top: 0;
//				padding-bottom: 20px;
//			}
//
//			.sub-page__reg_text {
//				max-height: unset;
//			}
//
//			.sub-page__left-titles {
//				left: 0;
//				padding-left: 40px;
//				width: 100%;
//				padding-right: 40px;
//			}
//
//		}
//
//		@media screen and (max-width: 767px) {
//			.sub-page__right-features ul {
//				flex-wrap: wrap;
//				justify-content: flex-start;
//				row-gap: 12px;
//			}
//		}
//
//		@media screen and (max-width: 575px) {
//			.sub-page__right-wrapper {
//				padding: 42px 20px 30px;
//			}
//
//			.sub-page__left-wrapper {
//				height: 45vw;
//			}
//
//			.sub-page-popup {
//				max-height: calc(90vh - 60px);
//			}
//
//			.sub-page__reg_text {
//				margin-left: -5px;
//				margin-right: -5px;
//				margin-bottom: 0;
//				padding-bottom: 0;
//				margin-right: 0;
//				padding-right: 0;
//			}
//		}
//	}
//}
//
//.modal-2022 {
//	.modal-dialog {
//		position: relative;
//		width: auto;
//		margin: 0.5rem;
//		height: 90vh;
//	}
//
//	.modal-content {
//		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
//	}
//
//	.modal-dialog-centered {
//		display: flex;
//		align-items: center;
//		flex-direction: column;
//		justify-content: center;
//		min-height: calc(100% - 1rem);
//	}
//
//	&.in {
//		background-color: #d8d8d8cc;
//	}
//
//	@media (min-width: 576px) {
//		.modal-dialog {
//			max-width: 500px;
//			margin: 1.75rem auto;
//		}
//
//		.modal-dialog-centered {
//			min-height: calc(100% - 3.5rem);
//		}
//	}
//
//	@media (min-width: 992px) {
//		.modal-lg, .modal-xl {
//			max-width: 800px;
//		}
//	}
//
//	@media (min-width: 1200px) {
//		.modal-xl {
//			max-width: 1140px;
//		}
//	}
//
//	@media (min-width: 1420px) {
//		.modal-xl {
//			max-width: 1400px;
//		}
//	}
//
//	.btn-close_circular {
//        font-size: 0;
//        width: 40px;
//        height: 40px;
//        background-color: #fff;
//        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.556' height='15.556' viewBox='0 0 15.556 15.556'%3E%3Cg transform='translate(1.378 1.778)'%3E%3Cpath d='M.4,0V16' transform='translate(11.774 0.06) rotate(45)' fill='none' stroke='%23053a53' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath d='M.4,0V16' transform='translate(0.46 0.626) rotate(-45)' fill='none' stroke='%23053a53' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
//        background-position: center;
//        background-repeat: no-repeat;
//        border-radius: 50%;
//        margin-bottom: 15px;
//        cursor: pointer;
//        border: none;
//        padding: 0;
//		flex-shrink: 0;
//    }
//
//}
//
//.modal-sub-newsletter {
//	.modal-content {
//		width: auto;
//		z-index: 1;
//	}
//}
//
//@media screen and (max-width: 1419px) {
//	.ml-2017 {
//		.sub-page {
//			&__left-img {
//				height: 100%;
//				width: 100vw;
//				left: -10px;
//
//				img {
//					max-width: unset;
//				}
//			}
//
//			&__left-wrapper {
//				min-height: 392px;
//				height: 50vw;
//			}
//
//			&__left-titles {
//				width: 100%;
//				padding: 0;
//				padding-bottom: 22px;
//				text-align: center;
//				align-items: center;
//				min-height: 115px;
//				justify-content: flex-start;
//			}
//
//			&__right-wrapper {
//				padding-left: 0;
//				align-items: center;
//				padding-top: 42px;
//				padding-bottom: 60px;
//				min-height: auto;
//			}
//
//			&__right-features {
//				ul {
//					li {
//						padding-right: 5px;
//					}
//				}
//			}
//
//			&__right-content {
//				max-width: 355px;
//			}
//
//			&__right-text {
//				font-size: 16px;
//			}
//
//			&__right-title {
//				font-size: 20px;
//				margin-bottom: 17px;
//
//				h3,
//				& > * {
//					font-size: 20px;
//				}
//			}
//
//			&__reg_succes {
//				padding-top: 20px;
//
//				p {
//					font-size: 18px;
//				}
//			}
//
//			&__reg_another {
//				text-align: center;
//			}
//
//			&__right-form {
//				input.form-control,
//				.btn[type="submit"] {
//					height: 46px;
//				}
//			}
//
//			.only-desk {
//				display: none!important;
//			}
//
//		}
//	}
//}
//
//@media screen and (max-width: 767px) {
//	.ml-2017 {
//		.sub-page {
//
//			&__left-wrapper {
//				min-height: 217px;
//			}
//
//			&__right-wrapper {
//				padding-top: 22px;
//				padding-bottom: 60px;
//			}
//
//			&__right-content {
//				& > h4 {
//					font-size: 18px;
//				}
//
//				& > p {
//					font-size: 18px;
//				}
//			}
//
//			&__left-img {
//				left: -5px;
//			}
//
//			&__left-titles {
//				padding-bottom: 12px;
//				text-align: left;
//				align-items: center;
//				text-align: left;
//				min-height: 85px;
//			}
//
//			&__left-titles_small {
//				font-size: 18px;
//				max-width: 355px;
//				width: 100%;
//				text-align: left;
//
//				h3,
//				& > * {
//					font-size: 18px;
//				}
//			}
//
//			&__left-titles_big {
//				font-size: 24px;
//				margin-bottom: 9px;
//				max-width: 355px;
//				width: 100%;
//				text-align: left;
//
//				h2,
//				& > * {
//					font-size: 24px;
//				}
//			}
//
//			&__right-title {
//				font-size: 18px;
//				margin-bottom: 13px;
//
//				h3,
//				& > * {
//					font-size: 18px;
//				}
//			}
//
//			&__reg_another {
//				text-align: left;
//			}
//		}
//	}
//    .login__popup__modal{
//       div.button__a{
//           a{
//               font-size: 12px;
//           }  
//        }
//    }
//}
//
//@media screen and (max-width: 450px) {
//    .login__popup__modal{
//       div.button__a{
//           padding-bottom: 10px;
//           a{
//               min-width: inherit; 
//               font-size: 12px;
//           } 
//        }
//    }
//}
//
//.login__popup__modal{
//    
//    max-width: 500px;
//    width: 100%;
//    
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//
//    .login-pop__left-img{
//        width: 100%;
//        img{
//            width: 100%;
//            height: auto;
//        }
//    }
//    .button__a{
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        padding: 0 0 15px;
//        
//        position: absolute;
//        bottom: 0;
//        a{
//            display: flex;
//            justify-content: center;
//            align-items: center;
//
//
//            max-width: 200px;
//            min-width: 150px;
//
//            width: 100%;
//            margin: 0 10px;
//            
//        }
//    }
//}

.padding__0{
  padding: 0 !important;
}

  .popup-general{
      max-width: 622px;
      width: 100% !important;
      border-radius: 0;
    
    .sub-page-popup-general{
      width: 100%;
          
        padding: 40px 0;
      
      &.only{
           padding: 0px 0;
          .images__{
        margin-bottom: 0px;
        }
      }
      
      .images__{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        
        img{
          display: block;
          margin: 0 auto;
        }
      }
      
      .title{
        margin-top: 0;
          padding: 0;
        
        color: #003E52;
        font: 700 30px/1.2em 'Apercu Pro';
        padding: 0 20px;
        text-align: center;
        
        @media screen and  (max-width: 600px){
          font: 700 28px/1.2em 'Apercu Pro';
          margin-bottom: 5px;
        } 
        
      }
      p{
        color: #003E52;
        font: 400 18px/1.2em 'Proxima Nova';
        padding: 0 20px;
        text-align: center;
      }
      
      
      &.modal_background{
      
        
        .title{
          margin-top: 0;
          padding: 0;
        }
        
        .title,p{
          color: #fff;
        }
        .btn-color{
          font: 400 16px/1.2em 'Proxima Nova';
          
        }
        
      }      
      
      &.modal_background{
            

        .title,p{
          color: #fff;
        }
        .btn-color{
          font: 400 16px/1.2em 'Proxima Nova';
          
        }
        
      }
            
      &.modal_image{

      }
            
      &.no-image{
        
     
        .title,p{
//          color: #fff;
        }
        .btn-color{
          font: 400 16px/1.2em 'Proxima Nova';
          
        }
        
      }
      
      &.white{
        background: #FFFFFF;
        
        .title,p{
          color: #003E52;
        }

      }

      &.green{
        background: #CEDFD7;
        .title,p{
          color: #003E52;
        }
        
        
      }

      &.primary-blue{
        background: #003E52;
        
        .title,p{
          color: #fff;
        }
        
        a.primary-blue{
          
          background: #fff;
          color: #003E52;
          
        }
      }

      &.pink-bg{
        background: #E3BAC5;
        .title,p{
          color: #003E52;
        }
        
      }

      &.light-blue{
        background: #B8D8EB;
        
        .title,p{
          color: #003E52;
        }
      } 


      &.shadow__{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      
      .block_btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        margin-top: 20px;
        text-align: center;
        
        &>a{
          margin-bottom: 15px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        
        
        

         
      }



      .btn-color{
        
      
          display: flex;
          justify-content: center;
          align-items: center;
          
          max-width: 194px;
          width: clamp(194px, 100vw, 194px);
        
          
          
          max-height: 38px;
          min-height: 38px;
          text-decoration: none;
          
          
          border-radius: 19px;
        
          font: 700 16px/1.2em 'Proxima Nova';
        
        transition: all .7s ease; 
        &:hover{
          
          opacity: .8;
          
        }
 

        &.cta-pink{
          background: #CC5599;
          color: #fff;
          font-weight: 600;
        }
        &.primary-blue{
          background: #003E52;
          color: #fff;
          font-weight: 600;
        }
        &.sec-light-blue{
          background: #B8D8EB;
          color: #003E52;
          font-weight: 600;
        }       
        &.sec-white{
          background: #FFFFFF;
          color: #003E52;
          font-weight: 600;
        }

      }

    }

  }