/* Fix for contain cursors inside input field on iOS */
html,
body {
	@include max-screen($screen-sm) {
		-webkit-overflow-scrolling : touch !important;
		overflow: auto !important;
		height: 100% !important;
	}
}

html {
	-ms-overflow-style: scrollbar;
}

body {
	&.js-overlay-is-active {
		overflow: hidden;
	}
}

.modal-backdrop {
	background: $color-overlay-base;

	&.in {
		opacity: 0.8;
	}
}

#page-wrapper {
	padding-left: 0;

	@include min-screen($screen-md-min) {
		padding-left: $sidebar-width-desktop;
	}

	@include screen($screen-sm-min, $screen-md-max) {
		padding-left: $sidebar-width-mobile;
	}

	&.logged-in {
		padding-top: $top-padding-logged-in;

		@include min-screen($screen-sm-min) {
			padding-top: 0;
		}
	}

	&.logged-out {
		padding-top: $top-padding-logged-out;

		@include min-screen($screen-sm-min) {
			padding-top: 0;
		}
	}

	&.sidebar-hidden {
		padding-left: 0;

		#sidebar {
			display: none;
		}
	}

	&.footer-hidden {
		.block-footer {
			display: none;
		}

		.block-bottom-bar {
			display: none;
		}
	}

	&.js-is-active #sidebar {
		transform: translate3d(0, 0, 0);
	}
}


#page-wrapper.page--content-only {
	@include max-screen($screen-sm-max) {
		padding-top: 0;
	}

}

#page-wrapper.page--content-only {
    @include screen($screen-sm-min, $screen-sm-max) {
		padding-left: 0;
	}
}

.page--content-only {
    #sidebar {
        @include max-screen($screen-sm-max) {
            display: none;
        }
    }

	.block-hero {
        @include max-screen($screen-sm-max) {
            display: none;
        }
    }

	#top {
        @include max-screen($screen-sm-max) {
            display: none;
        }
    }

	#registerBackButton {
        @include min-screen($screen-sm-max) {
            display: none;
        }
    }

	.right-input-group {
		@include max-screen($screen-xs-max) {
            margin-top: 10px;
        }
	}
}

#page-wrapper.shop {
	overflow: hidden;

	@include max-screen($screen-xs-max) {
		padding-top: 102px;
	}

	.container:first-child {
		position: relative;
	}

	&.logged-in {
		/* Hide elements if logged in */
		.message-container,
		.top-account,
		.alert-info {
			display: none;
		}

		.product-cart {
			display: flex;
		}
	}

	.product-cart + .block {
		@media screen and (min-width: $screen-sm + 1) and (max-width: $screen-md-max){
			margin-top: 42px;
		}
	}
}

@import "register";