/* Fix for contain cursors inside input field on iOS */
html,
body {
	@include max-screen($screen-sm - 1) {
		-webkit-overflow-scrolling: touch !important;
		height: 100% !important;
	}
}

html {
	-ms-overflow-style: scrollbar;
}

body {
	&.js-overlay-is-active {
		overflow: hidden !important;
		position: fixed;
	}
	&.backdrop-invisible {
		.modal-backdrop {
			display: none;
			opacity: 0!important;
		}
	}
}

.modal-backdrop {
	background: $color-overlay-base;

	&.in {
		opacity: 0.5;
	}
}

#page-wrapper.page--content-only {
	@include max-screen($screen-sm-max) {
		padding-top: 0;
	}

}

#page-wrapper.page--content-only {
    @include screen($screen-sm-min, $screen-sm-max) {
		padding-left: 0;
	}
}

.page--content-only {
    #sidebar {
        @include max-screen($screen-sm-max) {
            display: none;
        }
    }

	.block-hero {
        @include max-screen($screen-sm-max) {
            display: none;
        }
    }

	#top {
        @include max-screen($screen-sm-max) {
            display: none;
        }
	}

	.page-nav {
		@include max-screen($screen-sm-max) {
            display: none;
        }
	}

	#registerBackButton {
        @include min-screen($screen-sm-max) {
            display: none;
        }
    }

	.right-input-group {
		@include max-screen($screen-xs-max) {
            margin-top: 10px;
        }
	}
}

#page-wrapper.shop {
	overflow: hidden;

	&.logged-in {
		/* Hide elements if logged in */
		.message-container,
		.top-account,
		.alert-info {
			display: none;
		}

		.product-cart {
			display: flex;
		}

		.product-cart + .block {
			@media screen and (min-width: calc($screen-sm + 1)) and (max-width: $screen-md-max){
				margin-top: 42px;
			}
		}
	}
}

.block-product.block-product_extended .block-product__label{
  max-width: 92px;
}

.flickity-viewport{
    &:before{
      pointer-events: none;
      content: '';
      display: block;
      width: 100px;
      height: 100%;

      position: absolute;
      z-index: 2;

      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 69%);
    }

}

.ml-2017 .block-hero--taller + .product-list-blocks .product-list-blocks__title{
  display: inherit !important;
}




@import "register";
@import "register-new";
@import "blog-win";
@import "lottery";
@import "bingo-page";
@import "bingolobby";
@import "campaign";
@import "schema-tabs";
@import "product-page";
@import "product-page-hover-images";
@import "sub-page-newsletter"; 
@import "unsubscribe-page";
@import "bin-bingolobby";


@import "block-cookie-consent";
@import "sub-page-popup-general";

@import "checkout-module";

@import "product-video-page";

@import "subscription-popup/subscription";

@import "campaign-page-HERO";