.active-filters__label {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	padding: 3px 40px 3px 10px;
	background-color: $color-gray;
	white-space: nowrap;
	color: $color-white;
	cursor: pointer;
	margin-right: 3px;

	&:after {
		content: '\e90b';
		position: absolute;
		top: 10px;
		right: 10px;
		font-family: $base-icon-family;
		line-height: 1;
		font-size: 8px;
	}

	&:hover {
		background-color: $color-gray-light;
	}
}

.active-filters__label--primary {
	background-color: $color-primary;

	&:hover {
		background-color: $color-blue-light;
		color: #fff;
	}
}