.product-category-slider {
	margin-bottom: 20px;
	padding-right: 35px;
    margin-top: 20px;
    position: relative;

	@media screen and (max-width: 1225px) {
		display: none;
	}
  
    &:after{
      content: '';
      display: block;
      
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.0001) 2.61%);
      width: 100%;
      height: 39px;
      pointer-events: none;
      position: absolute;
      right: 35px;
      top:0;

    }

	.product-category__btn {
		border-radius: 2px;
		background: #c9e8f4;
		padding: 9px 11px;
		border: none;
		margin-right: 10px;
		white-space: nowrap;

		&.checked {
			background: #81b7c8;
		}
	}


	.flickity-prev-next-button {
        z-index: 4;
		width: 32px;
		height: 32px;
		background-color: #003e52;
		opacity: .5;
		transition: opacity 0.3s ease;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath id='Path' d='M.308,12.278a1,1,0,1,0,1.384,1.444l6-5.752a1,1,0,0,0,.029-1.415l-6-6.248A1,1,0,1,0,.279,1.693L5.585,7.219Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/svg%3E%0A");
      
        transition: all 1.3s ease;

		&.previous {
			left: 0;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath id='Path' d='M.308,12.278a1,1,0,1,0,1.384,1.444l6-5.752a1,1,0,0,0,.029-1.415l-6-6.248A1,1,0,1,0,.279,1.693L5.585,7.219Z' transform='translate(8 14) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A");
		}

		&:disabled {
			display: none;
		}

		&.next {
			right: 0;
		}

		&:hover {
			opacity: .7;
		}

		svg {
			display: none;
		}
	}
}