.filters {
	margin-bottom: 5px;

	@include max-screen($screen-sm-max) {
		clear: both;
	}

	@include max-screen($screen-xs-max) {
		display: none;
		background-color: $color-cloud;
		padding: 10px 10px 5px;
		margin: -10px -10px 10px;
	}

	@include min-screen($screen-sm-min) {
		display: block !important;
	}

	.checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}

	label {
		color: $color-black;
		font-weight: $light;

		i {
			font-size: 12px;
		}
	}

	a {
		display: block;
		margin-top: $margin-medium;
		color: $color-black;
		text-align: center;
		text-decoration: underline;
		text-decoration-color: $color-gray;
	}
}

.filters__item {
	display: inline-block;
	position: relative;
	margin-right: 2px;
	margin-bottom: 5px;

	@include min-screen($screen-sm-min) {
		width: 160px;
	}
}

.filters__item--large {
	.filter-dropdown.open {
		@include min-screen($screen-sm-min) {
			width: 275px;
		}
	}
}

.filter-dropdown {
	width: 100%;

	&.open {
		@include min-screen($screen-sm-min) {
			margin-bottom: 1px;
			width: 200px;
			z-index: 1000;

			.filter-dropdown__button {
				width: 100%;
				border-bottom: none;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-color: $color-gray;

				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.dropdown-menu {
			border-color: $color-gray;
		}

		.filter-dropdown__button:after {
			transform: rotate(180deg);
		}
	}

	.dropdown-menu {
		margin-top: 0;
		padding: 15px;
		width: 100%;

		@include max-screen($screen-xs-max) {
			position: fixed;
			top: 50%;
			left: 10px;
			right: 10px;
			z-index: 1050;
			width: auto;
			max-width: 400px;
			margin-right: auto;
			margin-left: auto;
			transform: translate(0, -50%);
		}

		&:not(.sort__item) {
			@include min-screen($screen-sm-min) {
				padding-top: 0;
				border-top: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.form-group {
			max-height: 313px;
			overflow: auto;
			padding-top: 2px;
		}
	}

	&__price {
		font-size: 16px;
		font-weight: $bold;
		text-align: right;
	}

	.row .form-group,
	.row + .form-group{
		margin-bottom: $margin-small;
	}
}

.filter-dropdown__header {
	margin-bottom: $margin-small;
	background: none;
	font-weight: $bold;

	@include min-screen($screen-sm-min) {
		display: none;
	}

	&:after {
		content: "\e906";
		float: right;
		font-family: $base-icon-family;
		color: $color-blue;
		transform: rotate(180deg);
	}
}

.filter-dropdown__button {
	position: relative;
	width: 100%;
	padding: 10px 40px 10px 15px;
	border-radius: 4px;
	border: 1px solid $color-gray-border;
	background-color: white;
	font-weight: $bold;
	text-align: left;
	outline: none;

	@include min-screen($screen-sm-min) {
		padding-right: 15px;
	}
	&:after {
		content: "\e906";
		position:absolute;
		top: 10px;
		right: 15px;
		font-family: $base-icon-family;
		color: $color-blue;
	}

	&:hover {
		border-color: $color-gray;
	}
}

/* Sort */
.sort {
	float: right;
	margin-top: -5px;
	text-align: right;

	@include min-screen($screen-tiny) {
		margin-top: 5px;
	}

	@include min-screen($screen-sm) {
		margin-top: 20px;
	}

	@include min-screen($screen-sm-max) {
		position: relative;
		width: 240px;
		margin-top: 0;
	}

	&__checked {
		@include max-screen($screen-sm-max) {
			border: none;
			padding-right: 25px;
			padding-bottom: 0;
			padding-left: 0;

			&:after {
				right: 0;
			}
		}
	}

	&__label {
		display: inline-block;
		margin-top: $margin-small;
		margin-bottom: 0;
		font-size: 12px;
		color: $color-gray;
	}

	&__item {
		top: 0;

		.filter-dropdown__header {
			display: block;
		}
	}

	.filter-dropdown {
		display: inline-block;
		width: auto;
		margin-left: $margin-small;

		@include min-screen($screen-sm-max) {
			width: 160px;
			float: right;
		}
	}

	.filter-dropdown.open {
		@include min-screen($screen-sm-min) {
			position: absolute;
			top: 0;
			right: 0;
			width: 200px;
		}
	}

	.form-group {
		margin-bottom: 0;
	}
}

/* No results */
.filter-no-results {
	margin-bottom: $margin-default;
	padding-top: 65px;
	padding-bottom: 65px;
	border: 1px solid $color-border;
	text-align: center;
}