.filters-meta {
	display: flex;
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
	font-size: $size-smallest;

	@include min-screen($screen-sm-min) {
		display: none;
	}

	@include max-screen($screen-xs-max) {
		clear: both;
	}
}

.filters-meta__count {
	flex: 2;
	padding: $padding-small;
	background-color: $color-black-light;
	color: $color-white;
	line-height: $base-line-height;
}

.filters-meta__button {
	flex: 1;
	width: 30%;
	padding: $padding-small;
	border: none;
	background: $color-primary;
	outline: 0;
	text-align: left;
	color: $color-white;
	line-height: $base-line-height;

	&:after {
		content: "\e906";
		float: right;
		color: $color-white;
		font-family: $base-icon-family;
	}
}